[2020-11-09 18:56] amarts commented on #184
a new solution in this lines @ #1774

[2020-11-09 19:56] tbaetzler commented on #1770
Hello Barak,

Am 09.11.2020 um 17:12 schrieb Barak Sason Rofman:

I've added to the share what I have on nodes 7 and 8 aswell as logs from
a client (entry1).

MfG,
i.A. Thomas Bätzler
--
BRINGE Informationstechnik GmbH
Zur Seeplatte 12
D-76228 Karlsruhe
Germany

Fon: +49 721 94246-0
Fon: +49 171 5438457
Fax: +49 721 94246-66
Web: http://www.bringe.de/

Geschäftsführer: Dipl.-Ing. (FH) Martin Bring

[2020-11-09 21:52] kalebskeithley commented on #1772
When you build rpms (rpmbuild, mock, koji/brew/cbs) on Fedora 33 and later, and rhel9, the redhat rpm macros will enable LTO. If it's also enabled by default in configure then you're going to get double -flto options. Not fatal, but...

Fedora 32 has gcc-10 but doesn't require LTO and doesn't have the magic rpm macros. Other distros like Debian sid, Ubuntu groovy and hirsute, and OpenSuse tumblewe

[2020-11-10 04:39] msaju commented on #1772
@tshacked - We have seen reduction in binary size (atleast deadcode removal), which is a good addition.
My suggestion is to go with enable by default option. We may need to do a quick exercise for moving functions to static.

[2020-11-10 04:44] mohit84 opened #1775 "core: lru_size showing -1 with zero inodes in the list in the gfapi logs of tcmu-runner process"
The tcmu-runner glfs log is continuously throwing below logs and consuming 120g disk space

[2020-05-28 20:37:37.290333] W [inode.c:1638:inode_table_prune] (-->/lib64/libglusterfs.so.0(fd_unref+0x1d3) [0x7f6567ac0d03] -->/lib64/libglusterfs.so.0(inode_unref+0x36) [0x7f6567aa8676] -->/lib64/libglusterfs.so.0(+0x38607) [0x7f6567aa8607] ) 0-vol_<volname>-client-2: Empty inode lru list found but with

[2020-11-10 07:40] nik-redhat commented on #1745
I think this issue can be closed considering the progress of the same is tracked in issue #786 .
Is that fine by you @myy2829 ?

[2020-11-10 07:47] #1745 closed, assigned to nobody

[2020-11-10 10:35] csabahenk commented on #816
@amarts where are we heading with this issue now? https://review.gluster.org/24071 has been merged. Is the issue still open due to not being properly administered or are there items to addressed before closing would be appropriate? In latter case, a rudimentary roadmap would be beneficial.

[2020-11-10 11:37] csabahenk commented on #1741
@mahdiadnan please check the following changes:

- the invalidate limit was brought on by commit 089e53c7f1;
- that commit message mentions something called the "invalidate queue", which was introduced by commit  561624aad5 (hooked into the UI via the `--lru-limit` command line option).

Ideally we had sane defaults for `--lru-limit` and `--invalidate-limit` so that you don't see the log messages

[2020-11-10 14:19] mahdiadnan commented on #1741
Thank you @csabahenk for the explanation, any chance of backporting 089e53c7f1c32644ce2b37830b678b4c0c7071fc to  release 7.9?

[2020-11-10 15:30] #1139 closed

[2020-11-11 07:25] itisravi commented on #1739
So after setting up fuse dump, capturing and trying to correlate the timestamp of `TEST: 383 ! stat spb/0 ` on a run of the test where it failed, I think some lookups LOOKUP on `spb/0` is returning success:

[code]
If you see the above log, LOOKUP on `spb` succeeds  (as expected) but the LOOKUP on `0` is failing initially with EIO but then succeeding the next time. (I am looking at `Unique` values

[2020-11-11 07:29] itisravi commented on #1739
@pranithk  Not sure if my interpretation of the parsefuse output above is correct. Let me know if you find anything wrong.

I'm planning to insert the trace xlator b/w DHT and AFR and see if it returns success for the lookup.

[2020-11-11 07:56] pranithk commented on #1739
@itisravi You are correct, it is returning success :-(

[2020-11-11 13:02] mrSingh007 commented on #502
when it will be solved?
i am getting ` WARNING:  could not open statistics file "pg_stat_tmp/global.stat": Stale file handle ` which is related to this

[2020-11-11 13:05] pranithk commented on #502
@mrSingh007 This is a big change. Phase-1 which contains partial infra will be available in release-9 but the full change will take more time.

[2020-11-11 13:07] mrSingh007 commented on #1638
I am getting same issue with postgres `WARNING:  could not open statistics file "pg_stat_tmp/global.stat": Stale file handle`
If I change permission of `global.stat` to 777 (chmod 777 global.stat) the warning disappears but after sometime come again and permission are back to

`-rw-------  1 postgres postgres  1352 Nov 11 13:04 global.stat` (inside of postgres container)
`-rw-------  2 systemd-cor

[2020-11-11 21:10] hunter86bg opened #1778 "volume set: failed: ganesha.enable is already 'off'."
**Description of problem:**
When trying to export a volume via NFS-Ganesha, an error is produced as follows:
[code]

**The exact command to reproduce the issue**:
[code]

**The full output of the command that failed**:
[code]

**Expected results:**
<details>
Gluster volume should be exported properly (valid for replica 3 also).

**Mandatory info:**
**- The output of the `gluster volume info` comma

[2020-11-11 21:20] hunter86bg commented on #1778
Unexporting also doesn't work (selinux permissive) :
[code]

[2020-11-12 04:50] Sheetalpamecha opened #1779 "Add-brick command should check hostnames with bricks present in volume"
**Description of problem:**
Currently add-brick command parses the brick list provided and check for same hostname in a subvolume set in replica and Disperse Volume.

**- The output of the `gluster volume info` command**:
Volume Name: vol
Type: Replicate
Volume ID: 31669299-c772-40ee-abe8-4a0de00844ec
Status: Created
Snapshot Count: 0
Number of Bricks: 1 x 2 = 2
Transport-type: tcp
Bricks:
Brick1:

[2020-11-12 09:55] msaju commented on #1465
Status update on the Gluster 9.0 major release items as of today is as follows:

* [x]  io_uring support for Gluster: #1398 **COMPLETE**
* [x]  Rename Dir heal: #1211 **COMPLETE**
* [ ]  Read-dir performance improvement:  #117 **_TENTATIVE_**
* [ ]  Compile with LTO/GCC 10: **IN PROGRESS**
* [x]  Monitor the performance in epoll/rpc layer: #1466 **COMPLETE**
* [x]  glusterd-pmap binds to 10K ports

[2020-11-12 10:26] BarakSason opened #1782 "Rebalance is reporting status twice upon stopping, resulting in inconsistencies"
Upon issuing `rebalance stop` command, the status of rebalance is being logged twice to the log file, which can sometime result in an inconsistent reports (one report states `status stopped`, while the other may report something else).
A fix needs to be provided so rebalance will only report it's status once, and ensure the correct status is being reported.

[2020-11-12 17:55] raghavendra-talur opened #1784 "[RFE] Let the brick process pick the LISTEN port"
**Description of problem:**

Currently, the port number that the brick process LISTENS on is decided by glusterd. Glusterd probes for port in the range base port - max port which it can bind to. When it finds one such possible port, it releases it and then spawns a brick process with the brick port number as a arg. For example:

[code]
The relevant part being
[code]

Request for enhancement:
Make

[2020-11-12 19:59] csabahenk opened #1785 "RFE: setting per-mount options via .meta"
### Problem

Options that affect a single mount can only be set as command line options (`--opt1 VAL1 --opt2 VAL2...` style options for glusterfs, or `-oopt1=VAL1,opt2=VAL2...` style options for mount.glusterfs), and they are in effect for the whole lifetime of the mount. Such options includes ones that have both volume-level and mount-level variants (eg. `diagnostics.client-log-level` volume opti

[2020-11-12 21:40] mrSingh007 commented on #502
any workaround for that?

[2020-11-13 03:44] baimuxiaozi commented on #1732
Thanks for reply.

I am using CentOS 8.0.
I did try to install glusterfs-libs, it turned out libglusterfs had been installed, but no "glusterfs-libs RPM" found.

I also dig this package in redhat glusterfs repo, no result.

[2020-11-13 04:34] amarts commented on #1785
@csabahenk this is critical enhancement.

This was one reason I was trying to have 'global' translator for every volume. More on this @ #303

I feel a global xlator is better because it can be controlled with cli in that case (for all clients). I would still like a meta overload because it helps in debugging in one particular mount point.

[2020-11-13 04:42] amarts commented on #1774
Thought more about this, and looks like this translator can also handle the scenario of using backend quota support for accounting. As this feature is dependent on helper mount, the same helper can handle the task of setting backend quota. (can be done with `hook-scripts` in current management layer). This would mean, we just handle `statfs()` and `lookup()` for sending proper data... and just han

[2020-11-13 04:42] amarts commented on #1774
If one uses backend fs for storing quota, it would be more efficient in any case!

[2020-11-13 10:39] #1145 closed

[2020-11-13 10:39] #1144 closed

[2020-11-13 13:05] aravindavk commented on #1774
Wow, this is good one. Use backend fs for accounting and implement logic only to limit. Both `xfs` and `zfs` provides this support, not sure about the `ext4`.

[2020-11-13 14:15] matclayton opened #1787 "Performance issues on backend xfs bricks"
[strace.tar.gz](https://github.com/gluster/glusterfs/files/5537241/strace.tar.gz)

**Description of problem:**
We have nginx backed by glusterfs, we've started to see socketbacklog issues on nginx and performance problems serving files, under further investigation we believe this is due to glusterfs and probably the backend bricks. Having talked to Pranith on slack I'm opening this issue. we obser

[2020-11-13 14:41] pranithk commented on #1787
As per strace these latencies are indeed stemming from XFS
[code]

[2020-11-13 15:24] matclayton commented on #1787
We're also seeing the following distribution on the XFS layer

`disk = 'sdb'
     usecs               : count     distribution
         0 -> 1          : 0        |                                        |
         2 -> 3          : 18       |                                        |
         4 -> 7          : 48       |                                        |
         8 -> 15         : 123

[2020-11-14 02:29] FloridSleeves opened #1788 "local variables and parameters unused in some function"
**Description of problem:**

Hi! I'm recently use some tool to check glusterfs code (master branch, newest version) and find that there are a lot of unused parameters in function interfaces of glusterfs. While some of them are remained to maintain the conformity of API, several parameters do not get used since it's introduced at the beginning, which could potentially indicate bugs:

| File | Funct

[2020-11-15 06:02] pranithk commented on #1764
@hostingnuggets I optimized this path to eliminate opendir/readdir operation when there are no entries to heal with the patch I submitted. But there are still some code paths that can trigger this issue for a **very** brief period.

ZFS seems interesting. Do you hangout on gluster slack channel? I have some questions.

[2020-11-15 06:43] pranithk commented on #1729
@amarts @xhernandez @BarakSason @tshacked
I went through the code. I think it is better to only modify the behavior of the fops that span dht subvolumes instead of failing everything based on subvolume up-count/errno. What do you think? I can take a closer look at the fops and see which will be affected if you are fine with it. But in general, dir-operations, some of the operations that take lock

[2020-11-15 07:14] pranithk opened #1790 "Need feedback about afr_handle_anon_inode_options"
Hi,
      afr_handle_anon_inode_options() is a hack to get a gfid that is unique to the volume. I am wondering if there is a better way to achieve the same. Another way would be to let glusterd generate a gfid and set it in the volfile. Persist it in volume's info file. Is there a better option?

[code]

@xhernandez @amarts @itisravi @karthik-us

At the time I wrote the patch for (#1211 ) it seeme

[2020-11-15 09:05] BarakSason commented on #1766
@Shwetha-Acharya I'm not familiar with this code path.
Maybe @mohit84 can assist.

[2020-11-15 09:32] rkothiya commented on #1707
/recheck smoke

[2020-11-15 10:00] BarakSason commented on #1770
@tshacked I didn't see any sign of crash in the logs, could you please take a look as well?
@itisravi I saw a couple of AFR errors in the client logs, could you please share your input?

[2020-11-15 10:26] pranithk commented on #502
One has to fix the gfid-split-brains manually.

[2020-11-15 10:40] tshacked commented on #1772
Warnings list with gcc-10 and LTO, the `-Wstringop-overflow=` warning addressed here: https://github.com/gluster/glusterfs/pull/1747
The `-Wstringop-truncation` warning suppressed when building with LTO
[code]

Warnings list with gcc-10 without LTO:
[code]

[2020-11-15 10:40] pranithk commented on #1788
This has to match function pointer signature so that it can be called inside dict_foreach(), so it can't be changed.

this is the signature that needs to be there so that it can be passed to pthread_key_create()

This probably can be removed.

@amarts @xhernandez This is interesting. Do we need poll based code at all? I don't think it received some of the work done for epoll?

Same as before

This

[2020-11-15 10:57] tshacked commented on #1717
Hi @mohit84,
Please take a look at https://github.com/gluster/glusterfs/issues/1717#issuecomment-718751660 and advise whether a fix needs here and if suggested fix (1) is acceptable.

[2020-11-15 11:14] BarakSason commented on #1773
Previous experience with cleanup patches shows that this work is not well accepted when when done in chunks too big.
IMO the best option to do this sort of work is in to handle this whenever we see it's required, and keep the scope of each patch small (i.e. numerous small patches are preferable to several big ones).

[2020-11-15 12:21] H121 opened #1792 "ModuleNotFoundError: No module named 'requests'"
![image](https://user-images.githubusercontent.com/58348609/99184719-f7ffd300-277f-11eb-97c5-ed180bfe387d.png)
When I installed python3，it exploded with this error.

[2020-11-15 14:01] #1046 closed

[2020-11-15 14:07] mykaul commented on #1788
You are right, there are many places where we have unused parameters which can be removed. In practice, the compiler most likely will know and remove that (you can easily check it via the compiled code size before and after such a change).
However, there is a value in doing those changes (where applicable):
- it helps readability and maintainability
- in some cases, it can really help.

Here's an

[2020-11-15 14:26] aravindavk commented on #1792
Install `requests` library.  If Ubuntu, run `sudo apt-get install python3-requests`

[2020-11-15 14:57] hunter86bg commented on #1787
@matclayton ,

did you align your HW raid with the PVs, VGs and XFS properly ?
The proper alignment is described in chapter 19: https://access.redhat.com/documentation/en-us/red_hat_gluster_storage/3.5/html/administration_guide/chap-configuring_red_hat_storage_for_enhancing_performance

[2020-11-15 15:02] H121 commented on #1792
How to do in SUSE12

[2020-11-15 15:18] aravindavk commented on #1792
Try `pip3 install requests` or `python3 -m pip install requests`.

[2020-11-15 15:29] H121 commented on #1792
But python3 will conflict with python2. When I use pip3, it reports an error.Is it because I didn't configure it?

[2020-11-16 01:13] pranithk commented on #1787
@hunter86bg I debugged this along with @matclayton. After debugging this for 2 days, we think this issue is happening because of https://bugzilla.redhat.com/show_bug.cgi?id=1676479. @matclayton will confirm after monitoring their cluster for a while.

[2020-11-16 02:49] mohit84 commented on #1717
I think we can change task status like "Reset due to (replace|reset) brick" operation.

[2020-11-16 03:56] amarts commented on #1790
having volume-id available is a good idea, and more cleaner (so all clients would get the same file regardless). Please go ahead. I remember working on adding volume-id to afr mainly for thin-arbiter (so we can have single thin-arbiter for multiple clusters), but that I didn't push through.

[2020-11-16 06:03] itisravi commented on #1790
If it doesn't seem to cause issues, it is okay to retain the current approach IMO, If you are going to base the gfid off the volume ID itself then we might do all the XOR and bit flip calculations in memory.

[2020-11-16 06:32] itisravi commented on #1770
@BarakSason   I  did a  `grep -rne afr` in entry1_logs and the only error found was `./netmnt-hotcache-hotcache.log.6:225:[2020-09-29 08:11:38.250087] E [MSGID: 108006] [afr-common.c:5319:__afr_handle_child_down_event] 0-hotcache-replicate-0: All subvolumes are down. Going offline until at least one of them comes back up` , which is pretty harmless in that context.

@tbaetzler  Can you do a  `getf

[2020-11-16 07:25] tbaetzler commented on #1770
Hi,

we managed to resolve the issue by doing three things:
1) Ran gluster v reset hotcache performance.readdir-ahead
2) Upgrade all clients to GlusterFS 7.8. We previously ran a mix of versions 5.13 and 7.8 on the clients.
3) Raised the gluster op-version from 4xx to 70200.

We are now finally able to access all files in a consistent manner again.

We have also started a rebalance. Current estima

[2020-11-16 07:25] #1770 closed, assigned to nobody

[2020-11-16 07:36] mohit84 opened #1794 "posix: A brick process is getting crashed at the time of graph reconfigure"
The brick process is getting crashed at the time of graph reconfigure in io_uring code path.It seeems at the time of calling posisX_reconfigure it call's posix_io_uring_off which eventually is calling posix_io_uring_fini, the fini function is not checking
io_uring object is configured or not so it is crashing.

warning: Unexpected size of section `.reg-xstate/2316867' in core file.
#0  0x00007f77f

[2020-11-16 07:37] mohit84 commented on #1794
@itisravi
Can you please send a patch, after put a condition in posix_io_uring_off check the value of priv->io_uring_capable i am able to avoid a crash.

[2020-11-16 08:22] #1594 closed, assigned to nobody

[2020-11-16 08:24] Shwetha-Acharya commented on #1510
@BarakSason @tshacked

[2020-11-16 09:06] hostingnuggets commented on #1764
@pranithk very nice, glad to hear that the improvements are on their way... unfortunately i am no slack user but as you should still have my email address feel free to mail me your questions any time.

[2020-11-16 10:19] mohit84 opened #1796 "afr: call afr_is_lock_mode_mandatory only while xdata is valid"
afr_lk call's afr_is_lock_mode_mandatory that checks the GF_LOCK_MODE in xdata to check about the mode.If lock_mode is not set by parent's of afr xlators it generates a warning message ([2020-11-16 10:02:54.203795 +0000] W [dict.c:1525:dict_get_with_ref] (-->/usr/local/lib/glusterfs/2020.11.16/xlator/cluster/replicate.so(+0x5847d) [0x7fedf53a947d] -->/usr/local/lib/libglusterfs.so.0(dict_get_uint3

[2020-11-16 10:29] pranithk commented on #1764
@hostingnuggets You are mabi in the thread you mentioned above?

[2020-11-16 11:21] rafikc30 commented on #1472
@pranithk readdir-ahead fetches the information during an opendir cbk or readdirp_cbk. So the information that it has fetched is relatively new.

My point is that the same problem happens even with out the readdir-ahead, right? For example, Let's say readdir just returned an entry in a readdir call, then before the fuse or any upper layer does a lookup to get the stat before printing it, the entry

[2020-11-16 11:28] pranithk commented on #1472
@rafikc30 At the moment different xlators request different xattrs in readdirp. readdir-ahead xlator at the moment is not honoring it when served by readdirp. For example, when sharding xlator is in picture, shard xlator will fetch file size in readdirp. When readdir-ahead is enabled this xattr is not present in the response leading to inconsistent results. Do let me know if you still have any dou

[2020-11-16 11:36] BarakSason opened #1801 "Rebalance is performing redundant subvol calculation and comparison"
During the data migration phase of rebalance, an unneeded calculation and comparison of a subvol is made.
The calculation and comparison is not needed, as this information already cached.

[2020-11-16 11:58] pranithk commented on #1757
@amarts Didn't understand why namespace makes more sense on the server side

[2020-11-16 12:06] rafikc30 commented on #1472
@pranithk Yes, I totally understand the second problem mentioned in the comment https://github.com/gluster/glusterfs/issues/1472#issuecomment-689896751. I didn't understand the first problem of cache invalidation, but I must agree that I haven't gone through all the comments yet. So I will go through the comments and will try to understand about the cache invalidation problem with readdir-ahead.

[2020-11-16 12:47] H121 commented on #1792
![image](https://user-images.githubusercontent.com/58348609/99254121-d0c30780-284c-11eb-8be2-eff840c7ad97.png)
What to do if you can't find a module like this？

[2020-11-16 12:58] httaotao opened #1805 "Glusterfs7.5 rpc error: cannot lookup the saved frame corresponding xid"
when I use command to check the glusterd status:
[code]
I don't know what happen. thanks.

[2020-11-16 13:12] amarts commented on #1757
First, on client side too it is good to implement, but can be done as follow up.

Main reason is subdir mount. A client can have a subdir mount, in which case, the whole thing it sees will be under just 1 namespace in any case. But a server should **_always_** handle complete brick, which may be divided into multiple namespaces.

Hence the suggestion that it make more sense on server side.

[2020-11-16 14:48] #1120 closed

[2020-11-16 14:48] #1114 closed

[2020-11-16 15:23] jkroonza commented on #982
Still present in 7.8 as such, definitely not resolved.  Simply ignoring a bug for more than six months does not just make it go away.

[2020-11-16 16:06] Nepoxx commented on #875
I'm not sure the 'wontfix' applies here. I'm no longer using Gluster but I assume this issues affects other users. Was this fix merged?

[2020-11-16 23:01] FloridSleeves commented on #1788
Thanks for your confirmation and reply!

Though compiler may do part of the job, it seems not all of them can be opt out only by compiler. I try on Clang with default settings and check into the bitcode, which is generated from compilation. In most cases, the unused parameter just does not get opt out if there is no mark on the parameter, like `__attribute__((unused))` for compilers.

Though this

[2020-11-17 01:49] pranithk commented on #875
yes https://review.gluster.org/#/c/glusterfs/+/24451/, merged in release-7,8 as well.

[2020-11-17 01:49] #875 closed

[2020-11-17 01:50] pranithk commented on #875
There has been a migration from bugzilla to github and quite a few issue status is lost in translation :-(

[2020-11-17 01:51] pranithk commented on #1225
@jkroonza Please open a new issue with the stacktrace when it happens again. This issue is tracking open-behind issue which is now fixed in both the latest release-7 and 8 and master. Closing it.

[2020-11-17 01:51] #1225 closed

[2020-11-17 04:13] itisravi commented on #982
Re-opening since it has a detailed reproducer. If anyone is working on this, please assign the issue to yourself.

[2020-11-17 07:11] #1796 closed, assigned to nobody

[2020-11-17 07:44] perrynzhou opened #1809 "glusterfs crash without any valid message"
@xhernandez @amarts @BarakSason @mohit84 @tshacked @csabahenk @pranithk  glusterfs crash with no any symptom。iis any way to solve that?
## gluster version

[code]

## volume info

[code]

## glusterfs client log

[code]

[2020-11-17 07:46] perrynzhou commented on #1809
[code]

[2020-11-17 07:56] pranithk commented on #1809
This is already fixed as part of #1225 and #1440, either upgrade to latest 7.x or 8.x releases or disable open-behind using
gluster volume set <volname> performance.open-behind off

[2020-11-17 07:56] #1809 closed, assigned to nobody

[2020-11-17 07:58] perrynzhou commented on #1809
@pranithk  thank you very much

[2020-11-17 08:01] perrynzhou commented on #1708
@pranithk  @amarts we need kv store metadata and sperate data ,that kv store as xlator for glusterfs.when we rm file or ls dir,we can query kv store(such redis) to handle user requests.at same time,that can solve small files metadatas problem

[2020-11-17 08:09] pranithk commented on #1708
I don't have enough knowledge about this. I will let amar answer this one.

[2020-11-17 08:17] xhernandez opened #1810 "Implement option to generate core dump at will without killing the process"
**Description of problem:**

On production systems sometimes we see a log message saying that an assertion has failed. But it's hard to track why it failed without additional information (on debug builds, a `GF_ASSERT()` generates a core dump and kills the process, so it can be used to debug the issue, but many times we are only able to reproduce assertion failures on production systems, where `GF

[2020-11-17 08:34] pranithk commented on #1810
I like it. The only thing I would suggest would be to set the global variable to false after raise(). Reason: sometimes people forget to reset it. We may have problems of root partition filling up etc.

[2020-11-17 08:43] #1011 closed

[2020-11-17 08:51] xhernandez commented on #1810
I don't think it's necessary. In gdb we can decide where to save the core dumps and how many to take. We should set this variable to false before detaching gdb, but even if we don't do that and gdb is detached, it's harmless.

One way to run gdb is like this:

[code]

This way gdb will automatically detach once the first coredump is generated and Gluster will continue running as if nothing had hap

[2020-11-17 08:51] itisravi commented on #1739
[mnt-glusterfs-0.tar.gz](https://github.com/gluster/glusterfs/files/5552128/mnt-glusterfs-0.tar.gz)

Attaching debug mount logs for a test where an earlier line `TEST: 228 ! stat spb_me/0` failed. Its the same type of failure, i.e lookup succeeding for a file in gfid-split-brain.

Initially AFR fails the fresh lookup and we see error in `fuse_entry_cbk`. But fuse is again sending a lookup and this

[2020-11-17 09:09] pranithk commented on #1810
Okay. I think a more elaborate script would be better, especially something that handles someone pressing ctrl+c after not hitting assert for a while.

[2020-11-17 09:10] nik-redhat opened #1811 "Rename for few files failed with "Transport endpoint is not connected" immediate after remove-brick commit"
**Description of problem:**
When moving multiple temporary files to the same destination rename for few files failed with "Transport endpoint is not connected" immediately after the remove-brick commit.

**The exact command to reproduce the issue**:
1) Create a distributed-replicated volume and start it.
2) FUSE mount it on multiple clients.
3) From a few clients execute,

"while true; do uuid="`u

[2020-11-17 09:11] xhernandez commented on #1140
The patches have already been merged.

[2020-11-17 09:11] #1140 closed

[2020-11-17 10:01] pranithk commented on #1739
@itisravi Which line are you checking? These are the last lines I saw with spb_me/0 and afr seems to be returning EIO
I am giving the line numbers too for the logs:
410000 [2020-11-17 07:04:49.298816 +0000] I [MSGID: 108031] [afr-common.c:3110:afr_lookup_done] 0-patchy-replicate-0: ###### path = /spb_me/0 , locked=1  #####
410001 [2020-11-17 07:04:49.301387 +0000] E [MSGID: 108008] [afr-self-heal-

[2020-11-17 10:07] #1794 closed, assigned to itisravi

[2020-11-17 10:30] itisravi commented on #1739
409058: TEST: 228 ! stat spb_me/ is triggered.
409712 and 409723: lookup hits aFR
409738: fuse error because afr fails it the first time.
409740: Another lookup hits AFR
409745: afr_lookup_done returns success. This is a log which I added to print file name and locked value if local->op_ret was zero

[code]

[2020-11-17 10:31] itisravi commented on #1739
I removed the check and ran the .t 10 times and it passed all runs:
[code]

[2020-11-17 11:45] mykaul commented on #1788
I'm in favor of these changes - just make them small and local, so they'll be easy to review.

[2020-11-17 11:58] itisravi commented on #1810
Nice idea. It would be good to append the corefile name with the time stamp in UTC so that we can correlate it with the gluster logs if needed.

[2020-11-17 12:15] mohit84 commented on #1810
It is good idea, it would be useful to debug issues in production environment.

[2020-11-17 15:19] mrSingh007 commented on #502
What exactly have to be fixed manually? Any docu/link about this fix?

[2020-11-17 15:19] mrSingh007 commented on #502
What exactly have to be fixed manually? Any docu/link about this fix?

[2020-11-17 18:38] xhernandez commented on #1810
I think something like this could be a good start:

File `gfcore.py`:
[code]

It can be run from command line as:

    gfcore.py <pid> <count> [<dir>]

It will capture up to `<count>` core dumps from process `<pid>` and store them on directory `<dir>` (or current working directory if not specified). The name of the core dump will contain the pid and date (in UTC) it was generated.

[2020-11-18 06:03] itisravi commented on #1739
@pranithk What do you think?

[2020-11-18 06:29] pranithk commented on #1739
@itisravi I will have time in the evening to look at this. Will respond.

[2020-11-18 06:40] hunter86bg commented on #1778
I can confirm that the patch proposed over the mailing list is working:
[code]
[code]
The pull request should be https://github.com/gluster/glusterfs/pull/1813

[2020-11-18 06:56] tbaetzler opened #1815 "GlusterFS 7.8: Inconsistent state of rebalance after crash of brick"
**Description of problem:**

Our distributed-replicated 2x8 gluster was rebalancing when we experienced an xfs metadata error on one node (hotcache1). This caused the brick to go into read-only mode. We took it offline in order to try and fix the damage. While this node was offline, we decided to stop the rebalance process so that there would not be a big heal backlog using "gluster v rebalance ho

[2020-11-18 07:10] httaotao opened #1816 "Glusterfs7.5: delete volume repond: glusterfs Error : Request timed out"
Hi everybody, today when I want to delete a stoped volume mysql-backup, it showed "Error : Request timed out",  I didn't know what happen. More importantly, I found some unkonwn info in one brick's glusterd log.

[code]
I didn't know why deleteing the volume would release lock. of course, the volume's locks.mandatory-locking was off. so could I   find which brick make error for this way?  Finally,

[2020-11-18 07:38] pranithk commented on #1739
I see the following two logs:
[code]

I was debugging, why is the lookup succeeding despite detecting gfid-mismatch?
the return value from this function is -1.
lookup_selfheal_wrap() is handling only ret value being -EIO

[code]

My hypothesis: In general when there is a mismatch like this, afr's lookup depends on heal which takes locks to inspect things correctly. In this case even after correctl

[2020-11-18 07:40] pranithk commented on #1815
@mohit84 @tshacked @BarakSason It looks like if glusterd is not running when rebalance is stopped, the offline brick is not getting the update? Could you guys check?

[2020-11-18 08:26] Naranderan opened #1817 "Failures in rebalance status"
**Description of problem:**
In the rebalance staus a few files are listed in 'Failures'. While analysing the logs, we found this error - 'No such file or directory' but those files can be accessible in the FUSE mount. Few logs stmts are attached in the below section.
[code]

**Mandatory info:**

**- The output of the `gluster volume info` command**:
[code]

**- The output of the `gluster volume st

[2020-11-18 08:56] itisravi commented on #1739
@pranithk Makes sense. Let me try to return -EIO from `afr_gfid_split_brain_source` and see if the .t passes.

[2020-11-18 09:10] FloridSleeves commented on #1788
Thanks for your suggestion!
I made a pull request to mark the unused parameters with the __attribute__((unused)). Test to be compilable in my local branch. My pull request is https://github.com/gluster/glusterfs/pull/1818

[2020-11-18 09:55] itisravi commented on #1739
Ran the test 10 times successfully. Seeing if all .ts pass too.

[2020-11-18 10:22] pranithk commented on #1739
@itisravi Thanks a lot for picking this up. I wanted to pick this up over the weekend, but there was a perf issue for one user and we ended up debugging it 2 days straight.

[2020-11-18 10:39] matclayton commented on #1787
@pranithk Thank you for the help on this, it was a pain to track down, I can confirm that things appear to still be stable on the read path. We've had some complaints about writes, but have yet to confirm these. I suspect its a seperate issue, or delayed reports coming in, we'll continue to monitor.

To confirm the performance issue was resolved by running

`gluster volume set <volname> performanc

[2020-11-18 10:39] #1787 closed, assigned to nobody

[2020-11-18 10:43] tbaetzler commented on #1817
Logs available here: https://cloud.bringe.net/s/NPRYQT9ydrJsRc9

[2020-11-18 11:37] pranithk commented on #1817
@tshacked @BarakSason @mohit84
Maybe rebalance processes on 2 different machines tried to rebalance the same file. By the time second one wanted to rebalance the file, first one could have already migrated it. Could you guys confirm?

[2020-11-18 13:59] Naranderan commented on #1817
@tbaetzler Is this an intended reply?

[2020-11-18 16:16] BarakSason commented on #1817
@tshacked The possibility raised by Pranith sounds like something you've recently encountered, if I remember correctly. Could you please take a look and see if you see similarities?

[2020-11-19 02:48] httaotao opened #1820 "Glusterfs7.5: deleteing volume which is not existed makes error"
Hi everyone, when I delete a volume, it return "Error : Request timed out", but the volume is not existed.
[code]

So when I delete the volume , it would not list the volume to check? thanks.

[2020-11-19 08:17] mykaul commented on #1683
Actually, all stack macros could use that. It requires thousands of specific changes across ~150 files, so a very invasive change, and you can't do in multiple steps.

[2020-11-19 12:50] mykaul opened #1822 "Use gfx_value for dictionary items in data_t instead of string serializations"
Today we serialize every dictionary value to string. But our XDR representation does not.
There is no need for this back and forth - we can keep it in the gf_value structure. It's more efficient.

[2020-11-19 12:52] mykaul commented on #1822
This probably requires some changes in dict.c functions, xdr_to_dict() and such.

[2020-11-19 14:32] tbaetzler commented on #1815
I have done a rolling restart of glusterfs server instances but this only led to the rebalance running on the first two nodes ;-(

Logs available at https://cloud.bringe.net/s/NPRYQT9ydrJsRc9

[2020-11-19 14:37] tbaetzler commented on #1817
@naranderan: Sorry, wrong issue.

[2020-11-19 21:48] tshacked commented on #1817
Hi @Naranderan
The logs are only from two nodes, please provide logs from all nodes.

From the supplied logs:
1. Found one error related to file migration failure, Looks that file `/images2/191/738/191738b1be2b9313440b855b7a444dea1f177fe9-4-1-1082915263.jpg` exists in two replicates.

[code]

Please check in the brick side (in each replica) this file xattr using this cmd:
[code]
2. rebalance was s

[2020-11-19 22:28] kindofblue commented on #906
We actually have a similar problem. With writing 0,5 million 1k file into 1000 directory under glusterfs 6.0 and have the similar issues. It is probably a good idea to reopen this issue.

[2020-11-20 00:30] pranithk commented on #906
@kindofblue Do you have steps to recreate this issue? If yes, could you please share?

[2020-11-20 06:37] perrynzhou opened #1824 "Fatal:glusterfs process is D status"
@xhernandez @amarts @BarakSason @mohit84 @tshacked @csabahenk @pranithk  when i mount glusterfs, it become D status for glusterfs client process.is any way to stop glusterfs client or kill? how to solove that problem?
## gluster version

[code]

## gluster volume info
[code]

## system message info

[code]

[2020-11-20 06:41] tbaetzler commented on #1817
Hello @tshacked,

My apologies, as @Naranderan already pointed out I dumped the link to the logs for my similar issue wrongly in this issue, so you looked at the wrong logs.

[2020-11-20 06:53] tbaetzler commented on #1815
From @tshacked 's reply in issue #1817:

$ for i in `seq 1 8`; do echo "*** hotcache $i ***"; ssh 2>/dev/null hotcache$i "sudo getfattr -d -m . -e hex /data/glusterfs/drive1/hotcache/images2/191/738/191738b1be2b9313440b855b7a444dea1f177fe9-4-1-1082915263.jpg"; done
*** hotcache 1 ***
*** hotcache 2 ***
*** hotcache 3 ***
*** hotcache 4 ***
*** hotcache 5 ***
*** hotcache 6 ***
*** hotcache 7 ***
#

[2020-11-20 07:53] tbaetzler commented on #1815
@tshacked: I've uploaded logs from the other nodes to https://cloud.bringe.net/s/NPRYQT9ydrJsRc9

[2020-11-20 09:22] jronnblom commented on #1767
Seen something like that.

It looks like the processes are sent SIGKILL first and not SIGTERM by systemd. Maybe the glusterd.service needs some updates.

There is a script /usr/share/glusterfs/scripts/stop-all-gluster-processes.sh that can be used to shutdown gluster.

[2020-11-20 10:10] #1151 closed

[2020-11-20 13:05] xhernandez commented on #1824
WCHAN = refrigerator means that the kernel has frozen this process. I don't know what caused this, but it seems a kernel issue, not a Gluster one. Searching internet, it seems this happens during hibernation, when moving containers and maybe other circumstances that require to temporarily stop a process in a controlled way.

[2020-11-20 13:17] pranithk commented on #1824
Closing based on earlier comment. Please re-open if you find any reason to think there is a bug in gluster that needs to be fixed.

[2020-11-20 13:17] #1824 closed, assigned to nobody

[2020-11-20 16:39] kindofblue commented on #906
This issue can be created in two ways:

1. This is the way that described in Erikson's post. But one probably need to write more files to see the symptoms.  I  first issue

    `dd if=/dev/urandom bs=1024 count=1024000 | split -a 4 -b 1k - file.`

     And in another terminal:

[code]

Notice since after sometime the problematic files can be back to normal. So it is better to put the test in a loo

[2020-11-20 20:20] csabahenk commented on #536
This RFE has came to picture recently as part of an effort to upgrade FUSE protocol to 7.28 (to support #1591). If we upgrade the proto, the 7.28 conditionally compiled `COPY_FILE_RANGE` FUSE handler becomes active.

Found out so far:
- _copy_file_range(2)_ works without specific fs support since https://github.com/torvalds/linux/commit/f16acc9d9 (Linux 5.3); as such, it's just a zero copy mechani

[2020-11-20 20:25] csabahenk commented on #1591
Update: I have a working PoC, but there are some cleanups to be done before it can be submitted proper.

A prerequisite is to upgrade FUSE (ie. in-tree _fuse_kernel.h_) to 7.28. Curiously, the glusterfs source already includes 7.28 conditionally compiled code, that is, support for the `COPY_FILE_RANGE` message, cf. #536. So if we upgrade the proto, that code becomes active.

I have written up a de

[2020-11-21 01:08] pranithk commented on #1591
@csabahenk Is there a way to communicate to kernel that such functionality is not implemented to trigger fallback mechanism until this feature is completely implemented?

[2020-11-21 01:53] pranithk commented on #1729
Did you guys get a chance to look at the code to form the an opinion about the approach? Do let me know.

[2020-11-21 08:51] mykaul opened #1825 "Latency in io-stats should be in nanoseconds resolution, not microseconds"
I'm not sure why, but we keep latency in microseconds, instead of nanoseconds. While we take the measurements everywhere in nanoseconds (using struct timespec) we do all those conversions (to struct timeval ) and so on.
1. We are reducing resolution (today's NVMe drive can get to very nice low latency of very few microseconds)
2. All those '/ 1000.0' (in BUMP_THROUGHPUT macro and collect_ios_laten

[2020-11-21 10:09] csabahenk commented on #1591
@pranithk what I'm saying is that the fallback mechanism for _copy_file_range(2)_ _is_ in place as of today; but that would be broken by an uncareful bump of the FUSE proto version (ie. if nothing else were done apart from replacing the fuse header file that we have in the glusterfs tree with a newer version). So it all boils down to pay some attention when bumping, so that we can keep this mechan

[2020-11-22 07:46] tshacked commented on #1815
Hey @tbaetzler,
I've a request not related directly to the issue.
Rebalance logs in all nodes are quite big (~3G) and looks that logrotate was running.
can you check in all nodes for any msg from logrotate in /var/log/messages.*  during 14-17/11

hotcache5 gluster logs:
[code]

[2020-11-22 07:48] tshacked commented on #1817
@Naranderan, @tbaetzler - please add `prod-volume` logs

[2020-11-22 09:30] tbaetzler commented on #1815
Hello @tshacked,

Logs below. I'll look at the logrotate config right now. hotcache1-6 are older systems that have been upgraded from Glusterfs 3.12; hotcache 7 and 8 are newly set up. Obviously there has been some cruft building up.

*** hotcache1 ***

Nov 14 00:00:01 hotcache1 logrotate[30030]: error: glusterfs-common:1 duplicate log entry for /var/log/glusterfs/cli.log
Nov 14 00:00:01 hotcache1

[2020-11-22 14:46] tshacked commented on #1815
I tested the scenario with the upstream and in my trials, once the node is running again it displays that "Rebalance not started" and rebalance can be started from any node.

I still want to check the `Pre Validation failed on` printing to `rebalance status` that appears after the node starts running because It also found in the attached logs:

Node is running after it was down (during the downtim

[2020-11-23 02:33] shiune commented on #1101
I tried to incorporate this change in Glusterfs version 7.5 and found that there was still port occupancy, this FA

Describe my environment:

In K8s, I deployed Glusterfs containerized, restarted Glusterfs' container, and Glusterd would restart and pull up all the storage volumes. Accidentally, glusterfSD's port was occupied by ETCD or Harbor, then some of the GlusterfSD processes prompted the por

[2020-11-23 02:39] #1810 closed, assigned to nobody

[2020-11-23 03:42] httaotao opened #1826 "Glusterfs7.5: replica 1*2 volume error and can't sync"
Hi, there are 21 nodes in the glusterfs cluster. the cluster's ip is from 10.x.x.1 to 10.x.x.21. today I found a error in the volume.
[code]
It can use 'info'  command to get the info  between 10.x.x.11~14. But it can't find the volume in other nodes. so when I delete the volume, it showed:
[code]
I don't know  how to deal with, and the caused reason  is unkonw. By the way, the ip from 10.x.x.11 t

[2020-11-23 05:37] hunter86bg opened #1830 "NFS Ganesha 3 (Storage SIG) node fails to boot after fencing"
**Description of problem:**
When creating an EL8 host with NFS Ganesha 3 , the cluster resource "nfs_setup" is creating a link "/var/lib/nfs" pointing to the shared volume:
[code]
Current SELINUX policy prevents the node to boot while this link exists , which happens when the node is fenced.When you set 'permissive=1' as a kernel parameter, you can observe the following:
[code]

Extra details:
[co

[2020-11-23 06:34] digidax opened #1831 "REOPEN: virtual images in replicated volume are not healed? #1456"
I can't reopen the issue [https://github.com/gluster/glusterfs/issues/1456](url)
So I'm sorry if open a new issue would be the wrong way.

After 3 month, the problem of issue #1456 is back.
That's the situation since around 3 days with the dummy image file:
[code]
As  @pranithk commented on 8 Sep, I've done:

on 192.168.130.110.221:
[code]
on 192.168.130.110.222:
[code]

on 192.168.110.223:
[code]

[2020-11-23 07:28] perrynzhou opened #1832 "glusterfsd of user 0 killed by SIGSEGV,myabe memory errors"
## @xhernandez @amarts @BarakSason @mohit84 @tshacked @csabahenk @pranithk glusterfsd kill by sigsegv in our prod.we enable trash feature.i think that may be a bug
## os version

[code]
## gluster --version

[code]

## messages logs

[code]

[2020-11-23 07:29] perrynzhou commented on #1832
dd

[2020-11-23 07:32] perrynzhou commented on #1832
## messages logs-1
[code]

[2020-11-23 07:32] perrynzhou commented on #1832
## messages logs-2

[code]

[2020-11-23 07:33] perrynzhou commented on #1832
## message logs-3

[code]

[2020-11-23 08:28] shiune opened #1834 "Restart the glusterd service, fsd appears port occupation"
**Description of problem:**
In K8s, I deployed Glusterfs containerized, restarted Glusterfs' container, and Glusterd would restart and pull up all the storage volumes. Accidentally, glusterfSD's port was occupied by ETCD or Harbor, then some of the GlusterfSD processes prompted the port to be occupied, and the fsd process was killed.

Since the kernel automatically assigns ports of 32768-60999, wh

[2020-11-23 09:30] perrynzhou opened #1835 "Business plan about glusterfs support"
## @xhernandez @amarts @BarakSason @mohit84 @tshacked @csabahenk @pranithk we want to find business support for glusterfs ,how to get that solution?

[2020-11-23 09:35] perrynzhou commented on #1834
@shiune are you interested in promoting glusterfs in China?if yes,you can  qq group 672152841.did you provide webchat,we can communication glusterfs technology.

[2020-11-23 10:06] mykaul commented on #1835
Red Hat, which many of the community members work for, provides commercial support to a Gluster-based product - Red Hat Gluster storage.

There might be other community members who work for other companies which provide such service.

[2020-11-23 10:17] mohit84 opened #1836 "posix: Update ret value in posix_get_gfid2path if GF_MALLOC fails"
posix: In the commit 2f044c4587c6db3cb82b6128f056ec2ea2bc1b98 the ret
       update was missed in the function posix_get_gfid2path if GF_MALLOC is failed.

Solution: Update the ret value to -1 if GF_MALLOC is failed

[2020-11-23 10:19] m-ueberall commented on #1438
This has *still* not been fixed properly for all branches:
[code]

[2020-11-23 12:54] Shwetha-Acharya commented on #1438
This isssue was addressed: https://github.com/gluster/glusterfs/blob/devel/geo-replication/syncdaemon/syncdutils.py#L728

And it was part of glusterfs 7.8, and will be part of glusterfs 8.3.

It was not included in glusterfs 8.2 https://github.com/gluster/glusterfs/commit/895183d5a2eceabcfdd81daff87ecab1159c32c6, that is why the warning is been encountered.

[2020-11-23 17:04] jcresp21 opened #1838 "Gluserfs Client crashes when upgrading volume opversion"
**Description of problem:**
Gluserfs Client crashes when upgrading volume opversion from 40100 to 70200

**The exact command to reproduce the issue**:
Having a volume mounted with a opversion 40100, upgrading it to opversion 70200 from Gluster 7.5
# sudo gluster volume set all cluster.op-version 70200

**The full output of the command that failed**:
The command showed no output.

**Expected result

[2020-11-24 03:57] amarts commented on #1835
https://www.gluster.org/community/consultants/ listed some of the companies which give support, not sure if the list is up-to-date.

We from https://kadalu.io are focused on glusterfs as a k8s storage solution, and are looking at re-imagining glusterfs management in different way.

[2020-11-24 08:07] cnnaik commented on #1468
@itisravi Thanks for the information and pointers. We could resolve the issue by building gccv7.5.0 from source and updating environment variables and rebuilding glusterfs.

[2020-11-24 08:32] itisravi commented on #1468
Thanks for the update. closing the issue.

[2020-11-24 08:32] #1468 closed

[2020-11-24 09:12] amarts commented on #1655
@csabahenk is it possible to have these patches in release-8, and release-7?

[2020-11-24 09:21] #1438 closed

[2020-11-24 09:59] #1775 closed, assigned to nobody

[2020-11-24 10:49] tshacked commented on #1530
closing as this is not an issue. https://github.com/gluster/glusterfs/issues/1540 opened for future enhancement.

[2020-11-24 10:49] #1530 closed

[2020-11-24 10:56] #1782 closed, assigned to BarakSason

[2020-11-24 12:24] madmax01 opened #1843 "Distributed Replication - Data Positioning"
Hi everyone,

i'am using 4 Nodes in an Distributed Replication with 2x replica... So like raid10 over network.

i hosting vms on it,.... but i see that both Mirrors are very inbalanced.

Mirror Set | GB Size | Amount of Files | Space in use %
-- | -- | -- | --
1st | 3562 | 27 vmdk files | 17
2nd | 1,347 | 15 vmdk files | 5

i know gluster is not block based,... but however > how i can be sure that

[2020-11-24 12:31] pranithk commented on #1843
@madmax01 Could you share `gluster volume info` output?

[2020-11-24 12:34] madmax01 commented on #1843
Volume Name: gv0
Type: Distributed-Replicate
Volume ID: 5eedf6ab-7893-4c42-84de-337d588dd260
Status: Started
Snapshot Count: 0
Number of Bricks: 2 x 2 = 4
Transport-type: tcp
Bricks:
Brick1: nod201:/vdo/vdo0/gv0/bricks/brick1
Brick2: node02:/vdo/vdo0/gv0/bricks/brick2
Brick3: node03:/vdo/vdo0/gv0/bricks/brick3
Brick4: node04:/vdo/vdo0/gv0/bricks/brick4
Options Reconfigured:
nfs.rpc-auth-allow: 1.1

[2020-11-24 12:40] madmax01 commented on #1843
a normal HW Raid 10 would do 50% left, 50% right for both Raid1 Sets (block based). but as it's file based > it's inbalanced,... because a vm have more files then just vdmk......... reason i wonder how this can be solved.

[2020-11-24 13:06] pranithk commented on #1843
@madmax01 You may have to redo the configuration. For virtual machines the recommended configuration is with sharding feature enabled on a replica 3 volume. For the complete configuration you need to execute
( Please do this on a new volume.)
`gluster volume set VOLNAME group virt` - after creating the volume.

It will set the options that are listed in: https://github.com/gluster/glusterfs/blob/d

[2020-11-24 13:19] madmax01 commented on #1843
not sure if sharding is really optimized atm for vmware usage and multiwriters,.......... for a test in the past i activated on an test-stack the sharding > and after all the test-vms where not recognized anymore.... vmx file somehow not recognized as such..... Once disabled > vms where again recognized.

also i see some infos on net that with sharding the perf drops 40-50%...... not sure if right

[2020-11-24 13:22] tshacked commented on #1820
Not reproducing with the upstream version (cluster of 6 nodes)
[code]

[2020-11-24 13:23] pranithk commented on #1843
@madmax01 multi writers is not supported. But other than that it works fine as per my understanding. In general you enable sharding on a new volume without any data and start creating data.

[2020-11-24 13:57] madmax01 commented on #1843
thx pranithk ;)....

may "rebalance"  over time for the current stack would do this?  so to avoid scratch

[2020-11-25 05:59] nobleprogcn commented on #349
ioctl(dest_fd, FICLONE, src_fd) does.

code:
/* Perform the O(1) btrfs clone operation, if possible.
   Upon success, return 0.  Otherwise, return -1 and set errno.  */
static inline int
clone_file (int dest_fd, int src_fd)
{
#ifdef FICLONE
  return ioctl (dest_fd, FICLONE, src_fd);
#else
  (void) dest_fd;
  (void) src_fd;
  errno = ENOTSUP;
  return -1;
#endif
}
Ref:
http://git.savannah.gnu.org/c

[2020-11-25 06:04] nobleprogcn commented on #349
finally, remap_file_range() does reflink
https://code.woboq.org/linux/linux/include/linux/fs.h.html#file_operations::remap_file_range

[2020-11-25 06:42] thisismsreddy commented on #714
@aravindavk quick question,  Does root user based geo-replication work's on glusterfs 8.2 version ? or is it deprecated.

[2020-11-25 06:46] thisismsreddy commented on #1766
I've also run into same issue, is there any fix !.

[2020-11-25 06:52] thisismsreddy commented on #1754
@httaotao are you able to setup geo-replication without any issues ?

[2020-11-25 06:55] httaotao commented on #1754
I setup geo-replication with root, it is ok. but when I use other user,it show some error about sshd.

[2020-11-25 06:57] #1820 closed, assigned to nobody

[2020-11-25 07:05] thisismsreddy commented on #1754
@httaotao got it, if you don't mind asking, what version of gluster you are running what is base OS ?  I've tried to setup gluster 8.2 on centos 8 without any luck. Thank you.

[2020-11-25 07:07] httaotao commented on #1754
Glusterfs 7.5,ubuntu18.04

[2020-11-25 09:00] #832 closed

[2020-11-25 09:27] madmax01 commented on #1843
or can files may be manually balanced? i not reading much about.  only finding the rebalance option but only in combination with an "add extra brick"........ but how is the logic with "current" bricks once 1 Side of Replication Set getting inbalanced?

[2020-11-25 10:52] #1148 closed

[2020-11-25 11:21] madmax01 opened #1846 "[RFE] Storage Layer Interaction/Recognition"
Hi everyone,

**Description:**

Per today Gluster seems  handling the Volume/Brick Size without 100% knowing exactly what's running underneath. It's just getting an Space assigned and it's using it.  This makes it somehow inefficient once to use specific Services underneath Gluster.

Topics like "Space Saving" getting more and more important.

example:

VDO (Virtual Data Optimizer) >> PV (physical

[2020-11-25 11:58] faciulula commented on #1838
Unfortunately this is normal when you are changing cluster.op-version. For my experience it always ends with client crash and disconnects volumes from clients and automatically reconnect them again but breaks all I/O operations.

[2020-11-25 12:32] mscherer commented on #1835
@amarts would it be worth to add kadalu to the list on the website, or isn't it a service provided ?

[2020-11-25 13:11] pranithk commented on #1838
@jcresp21 Could you open the core file with gdb and provide the output of
`thread apply all bt`
Is there a debuginfo deb in ubuntu so that you can get source symbol information?

[2020-11-25 13:12] pranithk commented on #1838
Please raise a bug when you witness this so that it can be fixed in the next version. This is the same thing we do when we upgrade and so far we haven't seen any issues with any of the customers we worked with.

[2020-11-25 13:12] #1134 closed

[2020-11-25 13:12] #1168 closed

[2020-11-25 13:17] perrynzhou commented on #1835
@amarts @pranithk  we used glusterfs for two years,we find some xlator not stable。glusterfs client impletions too heavy。i suggest  we should reduce new feature and improved stable for glusterfs.now we want't to replace glusterfs client with nfs-ganesha.we think glusterfs client contains  too much bugs.

[2020-11-25 13:19] perrynzhou commented on #1835
@amarts @pranithk  support glusterfs for kubernetes,glusterfs for kubernetes  componente  already not updated for long time .

[2020-11-25 13:19] pranithk commented on #1835
@perrynzhou Could you raise separate issues for the problems you are facing? This issue is not related to the questions you are asking.

[2020-11-25 13:21] perrynzhou commented on #1835
@amarts  @pranithk  we stored 36 billion small files,the performance is too bad，we want to found
Business plan or business support in china. one of issues is https://github.com/gluster/glusterfs/issues/1832

[2020-11-25 13:24] pranithk commented on #1832
@perrynzhou trash feature was never stable as per my understanding. It is disabled by default.

[2020-11-25 13:24] pranithk commented on #1832
@perrynzhou Do you have 'trash' feature enabled?

[2020-11-25 13:28] pranithk commented on #1835
@perrynzhou I suggest you either talk to Redhat or Kadalu management for business support. Please raise github issues for any technical issue that you may want help with. If the community members get time to debug it, they will update the issue. For example, https://github.com/gluster/glusterfs/issues/1787 is a recent perf issue we debugged.

[2020-11-25 13:44] perrynzhou commented on #1832
@pranithk  yes we enable trash ,Since it is unstable, why not remove it from glusterfs. At the same time, we don’t know which features are stable. There is no information to tell us which features are stable and which are unstable.we can't testing feature in our prod.at same time,glusterfs doc is keep last new.some doc description only valid on gluster 3.x such nfs-ganesha integration with gluster

[2020-11-25 13:50] pranithk commented on #1832
@amarts @xhernandez @thotz @anoopcs9 What do you guys think?

[2020-11-25 13:52] pranithk commented on #1832
Features disabled are not stable. Don't enable them.

[2020-11-25 13:55] pranithk commented on #1832
Actually you have a point, there are some features that are disabled by default but are stable. We will see what can be done about this.

[2020-11-25 13:55] mykaul commented on #1832
In production.

But also, @perrynzhou  , if you have such a large production setup (and I'm very glad to hear that), you should also have a staging environment for testing.

[2020-11-25 14:03] mohit84 commented on #1832
@perrynzhou
Can you please share the output of the command "thread apply all bt full" after attach a core with gdb?

[2020-11-25 16:46] jcresp21 commented on #1838
Hi there and thanks for the answers, find attached the #thread apply all bt:

[thread_apply_all_bt.txt](https://github.com/gluster/glusterfs/files/5597883/thread_apply_all_bt.txt)

I added also this info which is what I see in each of my glusters ufter the upgrade of the opversion, either crashing or not crashing I see this message right after the upgrade:

[2020-11-23 06:25:15.831320] E [fuse-bri

[2020-11-25 17:18] pranithk commented on #1838
@jcresp21 Considering this is fd reference issue. I have a feeling this is https://github.com/gluster/glusterfs/issues/1225, please upgrade to 7.8 version or disable open-behind translator to avoid more crashes on the mount.

Thread 1 (Thread 0x7feffe994700 (LWP 14369)):
#0  0x00007ff00ce0e342 in __gf_free () from /usr/lib/x86_64-linux-gnu/libglusterfs.so.0
#1  0x00007ff0064ce5cd in ?? () from /us

[2020-11-25 20:57] jcresp21 commented on #1838
@pranithk  ,thanks for the answer, I see that in all my volumes , both created in 4.1 version and 7.5 version have the option performance.open-behind enabled, I'll try and look for the features of this option, but could you please tell me first hand what are the pros and cons of having this option disabled? Thanks!

[2020-11-26 03:23] perrynzhou commented on #1832
Pranith Kumar Karampuri <notifications@github.com>于2020年11月25日 周三21:24写道：

Why not remove this feature from glusterfs source?

[2020-11-26 04:51] pranithk commented on #1832
I informed the maintainers. A decision will be taken based on whether the goal will be to stabilize the feature or not.

[2020-11-26 04:59] pranithk commented on #1838
Number of network calls may affect performance by a little bit for small-file workload. Best would be to upgrade to 7.8 IMHO

[2020-11-26 05:10] amgads commented on #1815
Hi
We're having a similar issue after expanding the volume from heketi, it reported the same errors here and rebalance stays in progress forever.

1) From "gluster volume status"
--------------
Status of volume: vol_8c93d55b7abf4722a0e18b7f27d8b7ea
Gluster process                             TCP Port  RDMA Port  Online  Pid
--------------------------------------------------------------------------

[2020-11-26 05:25] anoopcs9 commented on #1832
Can you share `gluster volume info <VOLNAME>` output? What exactly was the operation performed?

[2020-11-26 05:27] mohit84 commented on #1815
@amgads Can you please share dump of /var/log/glusterfs from all the nodes ?

[2020-11-26 05:39] amgads commented on #1815
Hi Mohit:
Is there an easy way to attach these?

[2020-11-26 05:45] mohit84 commented on #1815
If it is difficult to share full dump you can share glusterd.log from all the nodes

[2020-11-26 05:50] amgads commented on #1815
From 1st server
[2020-11-25 17:45:18.057371] E [MSGID: 106028] [glusterd-snapshot-utils.c:3521:glusterd_copy_file] 0-management: Unble to open a file /var/run/gluster/shd/vol_496f451a9c457be51eef88f59c93049e/vol_496f451a9c457be51eef88f59c93049e-shd.pid
[2020-11-25 17:45:20.175102] E [MSGID: 106028] [glusterd-snapshot-utils.c:3521:glusterd_copy_file] 0-management: Unble to open a file /var/run/glus

[2020-11-26 05:51] amgads commented on #1815
2nd server
[2020-11-25 17:45:18.600920] E [MSGID: 106028] [glusterd-snapshot-utils.c:3521:glusterd_copy_file] 0-management: Unble to open a file /var/run/gluster/shd/vol_496f451a9c457be51eef88f59c93049e/vol_496f451a9c457be51eef88f59c93049e-shd.pid
[2020-11-25 17:45:19.007003] E [MSGID: 106028] [glusterd-snapshot-utils.c:3521:glusterd_copy_file] 0-management: Unble to open a file /var/run/gluster/s

[2020-11-26 05:52] amgads commented on #1815
3rd server
[2020-11-25 17:45:18.618273] E [MSGID: 106028] [glusterd-snapshot-utils.c:3521:glusterd_copy_file] 0-management: Unble to open a file /var/run/gluster/shd/vol_496f451a9c457be51eef88f59c93049e/vol_496f451a9c457be51eef88f59c93049e-shd.pid
[2020-11-25 17:45:20.166221] E [MSGID: 106028] [glusterd-snapshot-utils.c:3521:glusterd_copy_file] 0-management: Unble to open a file /var/run/gluster/s

[2020-11-26 05:55] amgads commented on #1815
1st server 172.16.1.8
2nd server 172.16.1.11
3rd server 172.16.1.5
@mohit84 Let me know if you need more data -- I can set a webEx if realtime access is needed

[2020-11-26 05:57] Shwetha-Acharya opened #1849 "geo-rep: The newly setup geo-rep session goes faulty with sync_method set as tarssh with RHEL 8.3"
This is particularly because of missing 'tar' package with RHEL 8.3 ISO as well as with RHGS ISO. (tar was bundled by default in RHEL versions < RHEL 8.3)

[2020-11-26 06:28] mohit84 commented on #1815
Hi,

Prevalidation operation is failing because local rebalance task count is not matching with peer task count, on the local node rebalance operation was not running successfull.

Local tasks count (0) and remote tasks count (1) do not match. Not aggregating tasks status.
[2020-11-26 01:41:26.707937] E [MSGID: 106107] [glusterd-syncop.c:1111:_gd_syncop_commit_op_cbk] 0-management: Failed to aggre

[2020-11-26 06:36] perrynzhou commented on #1832
@anoopcs9  i already disable feature.trash.

[2020-11-26 06:39] perrynzhou opened #1851 "question about xlator api function"
####  @xhernandez @amarts @BarakSason @mohit84 @tshacked @csabahenk @pranithk thank you very much, i has some doubt ahout  gf_client_dump_inodes .  less comment for glusterfs most functions,it hard to understand what do function from comment .what do gf_client_dump_inodes do ? how to trigger for call gf_client_dump_inodes?

[2020-11-26 06:42] amgads commented on #1815
Rebalance logs on server-1 172.16.1.8
========================
vol_268a54850ddadc092bf493b191b32bbe-rebalance-af33232c-738c-41ce-8bd9-01e2e74bb743.log
-----
[2020-11-26 04:16:00.664177] I [MSGID: 100030] [glusterfsd.c:2867:main] 0-/usr/sbin/glusterfs: Started running /usr/sbin/glusterfs version 7.7 (args: /usr/sbin/glusterfs -s 172.16.1.8 --volfile-id rebalance/vol_268a54850ddadc092bf493b191b32bbe

[2020-11-26 06:45] mohit84 commented on #1851
The function gf_client_dump_inodes is useful to dump inode table data for specific
to xlator at the time of generating statedump.To generate a statedump a user can
send a SIGUSR1 signal and statedump handler call gf_proc_dump_single_xlator_info
function and the function calls trav->dumpops->inode(trav) to capture inodedump.
dumpops table is configured at each xlator level.

[2020-11-26 06:46] amgads commented on #1815
Rebalance logs on server-2 172.16.1.11
========================
vol_6e82cd70f998c294d41bf4513f9aec76-rebalance-8d480349-a8dc-4d08-a2d4-93e7ffebabf1.log
---
[2020-11-26 00:33:24.879015] I [MSGID: 100030] [glusterfsd.c:2867:main] 0-/usr/sbin/glusterfs: Started running /usr/sbin/glusterfs version 7.8 (args: /usr/sbin/glusterfs -s 172.16.1.11 --volfile-id rebalance/vol_6e82cd70f998c294d41bf4513f9aec76

[2020-11-26 06:48] amgads commented on #1815
Rebalance logs on server-3 172.16.1.5
====
vol_5e239d55531979103a210b0999a554cb-rebalance-4b24f117-b4fe-4d13-ad17-c0d54d1cdb62.log
--
[2020-11-26 03:02:06.535000] I [MSGID: 100030] [glusterfsd.c:2867:main] 0-/usr/sbin/glusterfs: Started running /usr/sbin/glusterfs version 7.7 (args: /usr/sbin/glusterfs -s 172.16.1.5 --volfile-id rebalance/vol_5e239d55531979103a210b0999a554cb --xlator-option *dht.u

[2020-11-26 06:53] perrynzhou commented on #1851
@mohit84 thank you,very much.is any  other condition for call gf_client_dump_inodes ?i just view code,each xlator may contains dumpops

[2020-11-26 06:55] amgads commented on #1815
Our configuratio has been for years using "/var/lib/glusterd"
-----
volume management
    type mgmt/glusterd
    option working-directory /var/lib/glusterd
    option transport-type socket,rdma
    option transport.socket.keepalive-time 10
    option transport.socket.keepalive-interval 2
    option transport.socket.read-fail-log off
    option transport.socket.listen-port 24007
    option transpor

[2020-11-26 07:05] mohit84 commented on #1815
@amgads
Thanks for sharing the data, as we can see rebalance logs are throwing a message sock(af_unix_server_get_local_sockaddr] 0-socket.glusterfsd: option transport.unix.listen-path has value length 111 > 108) that's why a rebalace process is not running.We fixed the issue (https://review.gluster.org/#/c/glusterfs/+/22869/) in master branch but the patch is not backport in release-7 branch so yo

[2020-11-26 07:10] amgads commented on #1815
@mohit84
Thanks Mohit for finding out the issue. Can I patch the change in  (https://review.gluster.org/#/c/glusterfs/+/22869/) on top of 7.8? Any compatibility issue?

[2020-11-26 07:25] mohit84 commented on #1815
Yes, you can apply the patch.There is no compatibility issue.

[2020-11-26 07:29] amgads commented on #1815
The xlators/mgmt/glusterd/src/glusterd-rebalance.c in the patch looks different from the one in 7.8 -- The one in 7.8 doesn't have
#define GLUSTERD_GET_DEFRAG_SOCK_FILE_OLD(path, volinfo, priv)   or
#define GLUSTERD_GET_DEFRAG_SOCK_FILE(path, volinfo)

Also in 7.8 GLUSTERD_GET_DEFRAG_SOCK_FILE_OLD is called in a couple of places not in the patch!!!

[2020-11-26 07:31] mohit84 commented on #1851
Yes multiple xlators having dumops, it is based on requirement.
For specific to gf_client_dump_inodes below is the condition, if dump is enable by a xlator and inode ptr is valid call the function
if (GF_PROC_DUMP_IS_XL_OPTION_ENABLED(inode) && (trav->dumpops->inode))

As we can see server xlator is supporting below dumpops so at the time of generating stateump it prints inode table specific to se

[2020-11-26 07:34] perrynzhou commented on #1851
@mohit84  i search glusterfs source  found that. thank you very much.

[2020-11-26 07:34] #1851 closed, assigned to nobody

[2020-11-26 07:38] tbaetzler commented on #1815
Any news on the "can't start or stop a rebalance that is only running on some nodes" issue?
Can't I just somehow fake a "stop" message to the nodes where the rebalance is running?

[2020-11-26 07:43] mohit84 commented on #1815
Can you share your mail-id, i will share a patch on your mail-id.

[2020-11-26 07:48] amgads commented on #1815
@mohit84
amgad.saleh@nokia.com

[2020-11-26 07:53] mohit84 commented on #1815
I have shared a patch on your mail-id, kindly file a separate issue for  the same.The original issue is not same as you are facing.

Thanks,
Mohit Agrawal

[2020-11-26 07:59] amgads commented on #1815
Thanks Mohit -- will file a separate issue! The patch you shared is for 7.x, right?

[2020-11-26 07:59] mohit84 commented on #1815
yes

[2020-11-26 08:00] amgads commented on #1815
Thanks -- will build and test!

[2020-11-26 08:13] #401 closed

[2020-11-26 10:52] pranithk commented on #1155
This is being tracked at https://github.com/gluster/glusterfs/issues/502

[2020-11-26 10:52] #1155 closed

[2020-11-26 11:37] mohit84 opened #1852 "glusterd: Can't run rebalance due to long unix socket"
glusterd: Can't run rebalance due to long unix socket

Problem: glusterd populate unix socket file name based
         on volname and if volname is lengthy socket
         system call's are failed due to breach maximum length
         is defined in the kernel.

Solution:Convert unix socket name to hash to resolve the issue

The issue is already fixed in master branch https://review.gluster.org/#/c

[2020-11-26 11:58] mohit84 commented on #1815
@amgads
Please don't file a bug, i have already filed it https://github.com/gluster/glusterfs/issues/1852

[2020-11-26 14:41] mykaul commented on #333
I do think there's value in this.

[2020-11-26 14:58] #1739 closed, assigned to nobody

[2020-11-26 22:27] amgads commented on #1852
Thanks Mohit -- I built with the patch on top of 7.8 and it looks good. Will continue testing further.

[2020-11-27 03:20] #913 closed

[2020-11-27 06:41] perrynzhou opened #1854 "config for glusterfs integration with nfs-ganesha"
@xhernandez @amarts @BarakSason @mohit84 @tshacked @csabahenk @pranithk  when i integration glusterfs on nfs-ganesha,should i config cluster.enable-shared-storage enable  on glusterfs 7.2?but i saw nfs-ganesha on glusterfs 3.10 that need to enable cluster.enable-shared-storage.if i disable  cluster.enable-shared-storage  on gluterfs and integration with nfs-ganesha ,is  right?

[code]

[2020-11-27 07:11] chenglin130 opened #1855 "Makefile: failed to compile without git repository"
**Description of problem:**
Download and use GlusterFS zip pakage.
When compile it without git repository, a git error will fail the make.

**The exact command to reproduce the issue**:
./autogen.sh
./configure
make dist

**The full output of the command that failed**:
(cd . && git diff && echo ===== git log ==== && git log) > glusterfs-8.2/ChangeLog
usage: git diff [--no-index] <path> <path>
make

[2020-11-27 08:18] #1174 closed

[2020-11-27 12:39] ianandhum commented on #1541
@aravindavk I have attached the complete list of commands(in the order of execution) triggered to reproduce this issue. Let me know if you need any further info.

Cluster Info:  [cluster-info.txt](https://github.com/gluster/glusterfs/files/5607856/cluster-info.txt)
Command History: [geo-rep-hlnks-vanishing-after-rebalance.txt](https://github.com/gluster/glusterfs/files/5607829/geo-rep-hl-vanish-af

[2020-11-27 16:20] smutel commented on #845
Any workaround except the downgrade ?
I am working with Debian 10 and I am not sure it's possible to downgrade xfsprogs properly.

[2020-11-27 16:29] cbueche commented on #845
you could write a replacement for xfs_info, it's a shell script.

[2020-11-27 17:56] #1173 closed

[2020-11-27 18:09] mykaul commented on #286
While I'm unsure we need to have it as user configurable, I find it odd that indeed ALL iobuf pools have the same settings. The log pool or the CLI (?!) pool certainly do not need the same size as the IO pool (not even sure about the network).

[2020-11-27 18:14] mykaul commented on #410
One more note - we could somewhat reduce the contention, by creating a mutex per page size (for all arenas under that page size?). There aren't too many (8 currently, though as stated above and in #286 I do believe we need more of the smaller sizes). If we are granular enough, we'll be able to somewhat reduce the contention, and it'd cost us few more mutexes - not a big deal.

[2020-11-27 18:14] mykaul commented on #410
unstale please

[2020-11-27 22:06] J0WI commented on #268
*bump*

[2020-11-27 22:57] Apollon77 commented on #650
It would still be interesting

[2020-11-28 02:30] pranithk commented on #1197
I see that the patch referenced in the previous comment is already merged. Closing this.

[2020-11-28 02:30] #1197 closed

[2020-11-28 11:29] #1167 closed

[2020-11-29 06:24] amarts commented on #268
Two things here. I tried to get this done last year, and the changes in xdr lib was little too much, and there were discussions about newer network layer, and I left it off at that.

Considering we from kadalu.io would like to have a smaller footprint of glusterfs in container image, I will see if we can get this picked up. If anyone wants to volunteers, (with protobuf experience), happy to coordi

[2020-11-29 06:29] rkothiya opened #1859 "(glusterfs-8.3)- GlusterFS 8.3 tracker"
Description of problem:
Tracker for the release 8.3

[2020-11-29 06:58] #1855 closed, assigned to nobody

[2020-11-29 07:00] #1849 closed, assigned to Shwetha-Acharya

[2020-11-29 08:59] amarts commented on #268
Gave this a try... stuck with below error, and not sure how to go about that:

[code]

@xhernandez According to [this link](https://pubs.opengroup.org/onlinepubs/009695399/functions/makecontext.html#tag_03_356_08) below is mentioned:

Looks like its not supported in musl-dev at all, and hence glusterfs is not able to link fine.

To get to this, I needed to do few changes in code, including not bui

[2020-11-29 09:30] #1177 closed

[2020-11-29 12:05] amarts commented on #268
With below dockerfile

[code]

and ` docker build -t glusterfs-alpine  -f ./Dockerfile.alpine .` as command I was able to test this.

[2020-11-29 16:03] mykaul opened #1862 "BUMP_THROUGHPUT macro is calling gettimeofday() - can it use frame->end instead?"
BUMP_THROUGHPUT macro which is called for reads and writes is calling gettimeofday(). I'm unsure if it can't use the value from frame->end instead - even though it's EPOCH, I'm sure we could do some conversion later?
This will remove a system call to gettimeofday().

[2020-11-29 16:10] mykaul opened #1863 "Rework stats structure (conf->cumulative, conf->incremental and friends) to be more memory-access friendly"
Similiar to #1583 , the current access is, from ios_bump_read() :
[code]

And in ios_bump_write():
[code]

We can probably co-locate them. Something like:
conf->data_written.comulative
conf->data_written.incremental
etc.

[2020-11-29 16:11] rkothiya opened #1864 "(glusterfs-7.9)- GlusterFS 7.9 tracker"
Description of problem:
Tracker for the release 7.9

[2020-11-29 16:52] mykaul commented on #1863
Generally, need to replace:
    struct ios_global_stats cumulative;
    struct ios_global_stats incremental;

With simpler structs that are accessed in a liner manner.

[2020-11-29 17:42] mykaul commented on #1863
While at it, remove the following from ios_global_stats structure, as they are used only for incremental stats:
[code]

[2020-11-30 01:36] itisravi commented on #1163
Please don't close.

[2020-11-30 09:34] xhernandez commented on #1862
I agree that reducing the number of system calls is a good thing, especially if we can get the same data from another place. But for this particular case we should be very cautious. In current linux versions, this call is processed entirely in the user space for most of the cases by using vDSO. So it's really very fast (in the order of tens of nanoseconds (15 nanoseconds on average on my laptop)).

[2020-11-30 10:21] xhernandez commented on #268
Without support for `makecontext()` and similar functions, it will be hard to make gluster run on this platform. One possibility is to use a `setjmp()`/`longjmp()` with some tricks for stack allocation to simulate those functions, but creation of synctasks will probably be slow if we want to use a portable method.

Another way is to implement those functions ourselves, but it's not trivial because

[2020-11-30 10:26] amarts commented on #268
Ack, I agree. Currently a lot of logic depends on `syncop*` logic. I wouldn't pursue this further now, but happy if anyone has a way to get this resolved in alpine. As per basic searches, even openssl had issue, but they run in minimal `no-async` mode on alpine. We can't even run our server only version too.

I will keep the issue open, and keep the branch alive, so anyone interested can pick it u

[2020-11-30 11:42] #1836 closed, assigned to nobody

[2020-11-30 11:43] #1852 closed, assigned to nobody

[2020-11-30 12:09] #1613 closed, assigned to nobody

[2020-11-30 13:33] digidax commented on #1831
I have to update the Proxmox PVE sofware within the next days. Then, the test image "vm-1268-disk-0.raw" which is not healed will be removed. Then I can't do any test or commands to give more detailed / requested / information.

Please let me know, what I can do.

[2020-11-30 14:26] pranithk commented on #1831
@digidax Could you give the output of getfattr commands, say once an hour for 2-3 times to see the trend? This will confirm if a heal is happening but it is again going back to pending-heal or heal is never getting triggered.

Along with this, could you also give statedump of the volume 2-3 times with an hour in between, maybe at the same time you take getfattr commands output. The following link

[2020-11-30 20:41] tbaetzler commented on #1815
Hi @mohit84 @tshacked ,
I'm still unable to stop the partially running rebalance on our 2x8 gluster.

root@hotcache1:~# gluster v info hotcache

Volume Name: hotcache
Type: Distributed-Replicate
Volume ID: 4c006efa-6fd6-4809-93b0-28dd33fee2d2
Status: Started
Snapshot Count: 0
Number of Bricks: 4 x 2 = 8
Transport-type: tcp
Bricks:
Brick1: hotcache1:/data/glusterfs/drive1/hotcache
Brick2: hotcache2

[2020-11-30 21:09] rkothiya opened #1868 "(glusterfs-9.0)- GlusterFS 9.0 tracker"
Description of problem:
Tracker for the release 9.0

[2020-12-01 09:16] digidax commented on #1831
@pranithk Thanks, data collection is finished for a time range of one hour, but "Gathering information from the client" will not collect data, because the mount is done by "fuse", initiated by Proxmox PVE:
On connected client:
`~# ps ax | grep glusterfs

 2720 ?        Ssl  147:51 /usr/sbin/glusterfs --process-name fuse --volfile-server=192.168.110.221 --volfile-id=volume1 /mnt/pve/gluster1`

Here

[2020-12-01 12:07] #1146 closed

[2020-12-01 12:07] #1032 closed

[2020-12-01 12:07] #1067 closed

[2020-12-01 12:58] foss4ever opened #1871 "Unable to add brick to existing replicated volume"
**Description of problem:**

I am unable to add a brick into an existing glusterfs replicated volume.

**The exact command to reproduce the issue**:

sudo gluster volume add-brick tide replica 3 192.168.240.32:/glusterfs/tide/brick

**The full output of the command that failed**:
volume add-brick: failed: Commit failed on 192.168.240.32. Please check log file for details.

**Expected results:**
Be

[2020-12-01 14:16] amarts opened #1872 "Question: How to check heal info without glusterd management layer ?"
As part of an effort, I am looking at not having a management layer (by `glusterd`), which means no `gluster` CLI too.

Some questions with that context:

* How to check if there is heal pending (any type of heal) without current CLI?
  - Ok with binary info here.

* How to trigger heal?
  - In this scenario, I am ok to run a self-heal daemon, but again, it won't be managed or triggered by gluster

[2020-12-01 14:30] aravindavk commented on #1872
While working with Glusterd2, we used `glfsheal` command to get heal info https://github.com/gluster/glusterd2/blob/master/plugins/glustershd/rest.go

[2020-12-01 14:52] Sheetalpamecha commented on #1871
These are inaccessible. Can you please check and correct the link?

[2020-12-01 15:06] scporse commented on #1871
Sorry, had set them to "private" by mistake. Should be accessible now, if you provide the password.

[2020-12-01 15:07] foss4ever commented on #1871
Sorry, had set them to "private" by mistake. Should be accessible now, if you provide the password.

[2020-12-01 15:19] pranithk commented on #349
@csabahenk Could you let us know which fop this will translate to in fuse layer?

[2020-12-01 15:23] pranithk commented on #349
I am guessing it is https://github.com/gluster/glusterfs/blob/devel/xlators/mount/fuse/src/fuse-bridge.c#L6599 ? @raghavendrabhat @csabahenk

[2020-12-01 16:10] itisravi commented on #1872
-  glfsheal has been moved to libexec folder since it is not supposed to be invoked directly but if you do invoke it, it will work.
- Triggering heal manually without CLI (or mimicking what the CLI +glusterd does) is also not possible but shd anyway crawls automatically (index heal)  when brick comes back up. Without CLI, maybe you can tweak `cluster-heal-timeout` in the shd volfile to a suitable

[2020-12-01 17:18] amarts commented on #1872
@itisravi thanks for the info.

Few more on requirement.

It is great if SHD does the automatic crawl and trigger once the brick comes up. Which solves the problem of healing. But I still need to know when there is 0 pending heals (without any glusterd, but Ok with a separate tool, or special xattr, or something).

Here is the usecase.

I don't have glusterd. I have deployed Replica 3 setup. (with

[2020-12-01 19:06] #1183 closed

[2020-12-02 01:12] pranithk commented on #1872
@amarts Ravi already answered this question. There is a binary called glfsheal. Check it out.

[2020-12-02 03:17] xhsky opened #1873 "Cannot connect to the cluster after customizing the port"
linux version: cenots 7.5
gluster verison: 7.5.1
/etc/glusterfs/glusterd.vol:
volume management
    type mgmt/glusterd
    option working-directory /var/lib/glusterd
    option transport-type socket,rdma
    option transport.socket.keepalive-time 10
    option transport.socket.keepalive-interval 2
    option transport.socket.read-fail-log off
    option transport.socket.listen-port 24017
    optio

[2020-12-02 06:14] Sheetalpamecha commented on #1871
I think the problem is caused because of the auth.allow settings which is leading to add-brick failure.

From slack gluster v info o/p - auth.allow: 192.168.110.20,192.168.110.21,192.168.110.30,192.168.240.100
Now gluster info o/p - auth.allow: *

Is add-brick failing even auth.allow: * ???

[2020-12-02 07:12] foss4ever commented on #1871
@Sheetalpamecha
Yes, unfortunately it was still failing after I cleared "auth.allow".
As you can probably see in the logs, the add-brick actually reaches the commit phase before failing, so I think that indicates no auth issues. I could be wrong, though.

[2020-12-02 08:18] schaffung commented on #1871
I'm seeing the following in the glusterd.log
`[2020-12-01 08:31:58.878418] E [MSGID: 106053] [glusterd-utils.c:13831:glusterd_handle_replicate_brick_ops] 0-management: Failed to set extended attribute trusted.add-brick : Transport endpoint is not connected [Transport endpoint is not connected]`

@scporse , can you check if the required ports are open in the node from where the brick is being added

[2020-12-02 08:24] foss4ever commented on #1871
@srijan-sivakumar

nmap scan of GlusterFS ports below. Scanning from new brick (node 3) to node 1 (from where I've tried to add-brick):

nmap -Pn -p 24007,24008,49152,49153 192.168.240.30

Starting Nmap 7.70 ( https://nmap.org ) at 2020-12-02 09:22 CET
Nmap scan report for 192.168.240.30
Host is up (0.00078s latency).

PORT      STATE  SERVICE
24007/tcp open   unknown
24008/tcp closed unknown
4915

[2020-12-02 08:31] Sheetalpamecha commented on #1871
"Transport endpoint is not connected" usually means a node is offline or otherwise unable to communicate with gluster. Can you check the peer status? #gluster peer status

[2020-12-02 08:32] foss4ever commented on #1871
From node 1:

sudo gluster peer status

Number of Peers: 2

Hostname: 192.168.240.31
Uuid: 19bb14f3-c235-4379-8e23-d4047c9eac5c
State: Peer in Cluster (Connected)

Hostname: 192.168.240.32
Uuid: fe57892f-66cf-4657-88fb-9c4a7b18090d
State: Peer in Cluster (Connected)

[2020-12-02 13:05] mykaul opened #1874 "Reduce redirection: replace frame->root->ctx->measure_latency with frame->root->measure_latency"
As far as I can see, we have the ctx variable in the call_stack_t structure only to be able to access the measure_latency boolean. Example from create_frame():
[code]

I did not see any other use for the ctx variable apart from that boolean. We can instead just copy that boolean and reduce one level of indirection (which seem to be happening in create_frame(), FRAME_DESTROY() and STACK_UNWIND_STRI

[2020-12-02 13:13] xhernandez commented on #1874
We have recently merged PR https://github.com/gluster/glusterfs/pull/1614 that creates a global context variable. Because this context is common to all components, even in brick-mux environment, it doesn't make sense to store it in xlators and stacks (and maybe other places). We could start using the `global_ctx` variable and avoid some storage overhead and indirections.

[2020-12-02 13:22] mykaul commented on #1862
Now that I look at it, I'm not sure there's value in saving stack->tv as well. I think it can pick it from the 1st frame. Unsure and probably should be documented in a different issue.

[2020-12-02 15:18] #799 closed

[2020-12-02 17:35] #1185 closed

[2020-12-02 23:22] #1171 closed

[2020-12-03 02:59] perrynzhou opened #1876 "glusterfs is has commercial success case"
@xhernandez @amarts @BarakSason @mohit84 @tshacked @csabahenk @pranithk w   Does glusterfs have commercial success stories, especially in the AI ​​field?we used glusterfs upgrading from glusterfs 6.5 to glusterfs 7.2,we find many problem,so did you had success case for large data store in ai filed?

[2020-12-03 03:11] pranithk commented on #1876
@perrynzhou I helped one of the big 5 tech companies with fixing some problems with storage for ML workload. Their minimum glusterfs volume size was around 250TB. I can't tell the name though, they were a bit secretive. Glusterfs became a bit more stable in that process.

In general this is how the progression is for an opensource project. You should report problems you are facing. They will be fi

[2020-12-03 03:29] pranithk commented on #1876
In future could you please point to the issues which are leading to problems, so that we can try and fix them?

[2020-12-03 05:27] kindofblue commented on #906
@pranithk @xhernandez please check my above comment.

[2020-12-03 06:16] amarts commented on #214
The last effort on this was on https://review.gluster.org/#/c/glusterfs/+/22113/

@rkothiya any idea to pursue this? Seems interesting enhancement for NFS-Ganesha integrations. I guess SMB integration also can use this.

[2020-12-03 06:18] amarts commented on #214
My take, lets get this as optional (or as experimental) change in codebase, and let the projects using this integration report back on stability. And if used successfully, we can call it **supported**.

[2020-12-03 06:19] perrynzhou commented on #1876
@pranithk  we already store 10PB+ small files on glusterfs 7.2.that is so large.we just found query and operate metadata of file is too slow.we just need improved performance for operatare metadata for file,that's so important.

[2020-12-03 06:30] pranithk commented on #1876
Could you translate that to exact commands or operations that are slow?
Is it find/ls commands etc etc.

[2020-12-03 06:31] perrynzhou commented on #1876
@pranithk  execute ls/du/find

[2020-12-03 06:33] pranithk commented on #1876
@perrynzhou What is the volume configuration?

[2020-12-03 06:35] pranithk commented on #1876
please give volume info output. That will make things easier.

[2020-12-03 06:39] perrynzhou commented on #1876
@pranithk

[code]

[2020-12-03 06:52] pranithk opened #1879 "Metadata operations are slow for 10PB+ volume"
I am moving the details of part of the discussion from https://github.com/gluster/glusterfs/issues/1876 to this issue.

Volume has a lot of small files
Volume info:
# gluster volume info

Volume Name: speech__vol
Type: Distributed-Replicate
Volume ID: 1ce29325-b71f-45b9-a5e4-2a506420de13
Status: Started
Snapshot Count: 0
Number of Bricks: 12 x 3 = 36
Transport-type: tcp
Bricks:
Brick1: 10.194.21.1

[2020-12-03 06:53] pranithk commented on #1876
Moving the technical problem to a separate issue

[2020-12-03 06:56] pranithk commented on #1879
@perrynzhou distribute count doesn't seem to be large. We have seen it go higher than 100. Considering that most of the operations you said are slow are related to directory crawl I am wondering what is the directory layout of the data.

How many files does a typical directory have, how many directories does a typical directory has. What is the maximum depth of directory hierarchy and average dept

[2020-12-03 07:26] Sheetalpamecha commented on #1871
Hi scporse, The logs does not indicate any other issue than the faiiling of lsetxattr. Also in the code we are doing couple of times lsetxattr and its not failing any other place.
You can use below steps as work-around and let us know the results - Cleaning up the node and Restarting the glusterd service and perform add-brick operation.

[2020-12-03 07:26] perrynzhou commented on #1879
@pranithk that just min volume,if store small files ,the performance is terrible for  ls/find/du operation

[2020-12-03 07:29] foss4ever commented on #1871
@Sheetalpamecha

_Cleaning up the node and Restarting the glusterd service and perform add-brick operation._

Already did all this - multiple times. But would be interested to know the "official" way to clean up a node? Maybe I'm making some kind of mistake without being aware of it.

[2020-12-03 07:30] pranithk commented on #1879
@perrynzhou Could you give me some concrete numbers? Number of directories in each level, number of files in each level and number of files? Could you also give the time it takes to do the operation?

[2020-12-03 07:53] pranithk commented on #1224
All releases before 8.x suffered from https://bugzilla.redhat.com/show_bug.cgi?id=1676479, Following steps are recommended until then. This is also confirmed by https://github.com/gluster/glusterfs/issues/1787
gluster volume set <volname> performance.io-cache off
gluster volume set <volname> performance.read-ahead off

[2020-12-03 07:53] #1224 closed

[2020-12-03 07:53] pranithk commented on #1224
Please re-open if that still doesn't fix the issue

[2020-12-03 08:05] pranithk commented on #1831
@digidax The pending count is fluctuating:
At 10:00 pending count is 0x000000be(190 in decimal) and at 10:10 it is "0x00000071"(113 in decimal). Which means heal happened in the middle but still there was pending count. My hypothesis is the mount that is performing writes is not able to connect to the 1st brick or writes are failing for some other reason.

The logfile you snipped in older comment

[2020-12-03 08:16] Sheetalpamecha commented on #1871
okay sure. These are the steps I generally follow for these scenarios.
1. Stop glusterd on the affected node
2. In /var/lib/glusterd, delete everything except glusterd.info (the UUID file)
3. Start glusterd, make sure it is in active and running
4. probe the node and status should be Peer in Cluster (Connected)
5. Now do add-brick operation.

[2020-12-03 08:27] #1152 closed

[2020-12-03 08:34] digidax commented on #1831
@pranithk  Thanks for analysis.
Proxmox VE mounts a followed:
`# cat /proc/mounts | grep gluster

192.168.110.221:volume1 /mnt/pve/gluster1 fuse.glusterfs rw,relatime,user_id=0,group_id=0,default_permissions,allow_other,max_read=131072 0 0`

So during executing the command above, the client is connected to the first brick on server 192.168.110.221

Please see attached mount logs from this node, wh

[2020-12-03 09:22] perrynzhou commented on #1879
@pranithk  we pick one volume  info,operation is to slow for execute du/ls/find command.becase that no metadata server.that's volume contains so many small files.how can i improved performance for operate metadata?

[code]

[2020-12-03 09:59] pranithk commented on #1879
We are going in circles. I asked you specific numbers to debug the issue further in the earlier comment.

Number of directories in each level, number of files in each level and number of files? Could you also give the time it takes to do the operation?

Please provide those numbers so that we can debug the issue further.

[2020-12-03 10:01] perrynzhou commented on #1879
@pranithk  i want to ask you how to become a glusterfs developer member?i want to be one

[2020-12-03 10:04] perrynzhou commented on #1879
@pranithk i think we need more glusterfs developer member from different country

[2020-12-03 10:07] pranithk commented on #1879
You want to start contributing patches? You can pick a problem you want to work on. If you have any doubts you can ask your doubts on #development on https://gluster.slack.com/

[2020-12-03 10:08] pranithk commented on #1879
Please let me know if you want to provide the data I asked for, otherwise there is no point in keeping this issue open. I will close it.

[2020-12-03 10:10] perrynzhou commented on #1879
@pranithk yes,i want to contributing pathes.how to become a member for glusterfs？

[2020-12-03 10:21] pranithk commented on #1879
Oh you mean member of gluster.org organization? I am not sure about that. @amarts you know?

PS: I will wait for the numbers till end of day. If they are not available will close the issue.

[2020-12-03 10:24] #1192 closed

[2020-12-03 10:45] amarts commented on #1879
Yes. We tried to document it with detail in #1762 with [this document](https://docs.google.com/document/d/1Vxf24dLPSCmVBfJ7PfO5bN28r9slfyoJufZX2GOzlTc/edit?usp=sharing) @deepshikhaaa wrote as reference. Hope this gives clarity on how to become a member!

And as @pranithk said, Gluster project doesn't need you to be a part of a specific organization to be member, but wants you to contribute (mostly

[2020-12-03 15:02] pranithk commented on #1879
Closing the issue as the data needed to debug the issue is not provided.

[2020-12-03 15:08] mykaul commented on #1879
That was quick. Usually we give a bit more time.

[2020-12-03 15:14] pranithk commented on #1879
I asked for the numbers in 2-3 consecutive comments after which there were responses without any numbers.
I did mention "Please let me know if you want to provide the data I asked for, otherwise there is no point in keeping this issue open. I will close it." - after this comment, there was a response but not with this data. So I gave a timeout in a subsequent comment.

Sometimes companies can't re

[2020-12-03 15:20] pranithk commented on #1831
Yeah, it is connection issue: You need to check why brick server is not allowing connection. Please post first brick server logs.

[2020-12-03 08:29:43.665407] I [rpc-clnt.c:2042:rpc_clnt_reconfig] 0-volume1-client-0: changing port to 49152 (from 0)
[2020-12-03 08:29:43.666487] E [MSGID: 114059] [client-handshake.c:1575:client_dump_version_cbk] 0-volume1-client-0: server doesn't support the versio

[2020-12-03 15:44] mykaul commented on #1879
timezone, COVID, language barriers, ability to filter what can and cannot be shared, approval from mgmt to do so... sometimes there are reasons we can't get a response right away. Patience is a virtue.

[2020-12-03 15:52] pranithk commented on #1879
Okay. I will keep it open till tomorrow evening.

[2020-12-04 03:53] #1583 closed, assigned to mohit84

[2020-12-04 04:21] #1773 closed, assigned to BarakSason

[2020-12-04 04:21] #1872 closed, assigned to nobody

[2020-12-04 06:27] digidax commented on #1831
[gluster_bricks.zip](https://github.com/gluster/glusterfs/files/5640934/gluster_bricks.zip)
Thanks for helping to understand the logs. Attached the brick server logs. Prefix of the file name is the last octet of servers ipv4 address.
current status:
`Brick 192.168.110.221:/bricks/raid5array1/brick1
Status: Connected
Number of entries: 0

Brick 192.168.110.222:/bricks/raid5array1/brick1
/pve_VMroot

[2020-12-04 07:01] csabahenk opened #1884 "Enable parallel-readdir by default for all gluster volumes"
This is an (informal) clone of downstream bug

https://bugzilla.redhat.com/1510724, "[RFE] Enable parallel-readdir by default for all gluster volumes":

[2020-12-04 07:01] csabahenk commented on #1884
In https://bugzilla.redhat.com/1510724#c36 and https://bugzilla.redhat.com/1510724#c37 (private comment stating "there is no fix pending on this. All relevant patches are merged.") it was indicated that the preliminary work is done[1], and only thing left is to change the default. However, #1416 came in later; now that's fixed, too.

Quoting relevant private comments:

[1]: private comment https:/

[2020-12-04 07:11] pranithk commented on #1884
@csabahenk enabling parallel-dir is leading to enabling readdir-ahead
https://github.com/gluster/glusterfs/issues/1472 has the list of issues that it lead to. Please don't change this without fixing the issues pointed out in #1472

[2020-12-04 07:16] csabahenk commented on #1884
Thanks Pranith for pointing this out. I also wonder how clean it is at all to enable another option as side effect. Then if the actual option (parallel-readdi , in this case) is turned of later on, the implied option (readdir-ahead in this case) remauns on inadvertedly.

I have no intent to push this hastily, I just created this issue to get upstream presence for this effort, which was tracked onl

[2020-12-04 08:34] amarts commented on #1884
How hard is this to implement a 'aided' service for readdir. (like old 'unify' design) ?

Make content of directory (ie, all entries) stay in one place (where it hashes), as file (Call it  `.gf_readdir` in every directory). With this, a readdir() would become a operation like read(), ie, a simple O(1) call. Also if we agree to some format for this file, we can optimize what contents should get in

[2020-12-04 09:13] mykaul opened #1885 "__posix_writev() - reduce memory copies and unneeded zeroing"
I suspect the intention of the memory copy is to ensure the buffer written is page-aligned. This is not needed if the vector is 4K or above, since it was taken from an iobuf pool that is 4K and above, and therefore, mmap'ed as aligned already.

1. This means that if vector[idx].iov_len is >= 4K, we can skip this copy entirely

2. _page_aligned_alloc() is CALLOC'ing the memory, instead of MALLOC'in

[2020-12-04 09:51] amarts opened #1886 "Performance: 'syncop' performance issues"
This was a chat in Slack, which I thought should be captured here!

are you guys aware of any concerns on syncop() causing delays in operation? While talking to one user it came to notice that, they use gluster on NVMe, and the performance of fuse is better than an application written with libgfapi, and when checked, they found lot of delay in syncop(). (found through valgrind). Any issues or rela

[2020-12-04 10:12] xhernandez commented on #1884
I fully agree with this approach. The most difficult part I see is to make sure that the "virtual" view inside the special file and the "physical" view on the file system don't get out of sync and if/when they do, to be sure that we detect the issue for sure and we correctly resynchronize them without losing entries or causing too much trouble.

With the number of xattrs we currently have and cons

[2020-12-04 10:21] msaju commented on #1465
Status update on the Gluster 9.0 major release items as of today is as follows.
Few of the inital planned items are not ready for release timeline.
Those marked **_NOT READY FOR RELEASE_**, will be planned to be part of subsequent minor releases.
The GA date also has been re planned to be on **18th December 2020.**

- [X]  io_uring support for Gluster: #1398 **COMPLETE**
- [X]  Rename Dir heal: #1

[2020-12-04 10:50] #1195 closed

[2020-12-04 12:00] csabahenk commented on #1884
@amarts, It's not clear to me how your proposal relates to the subject. What I make out of it, these ideas are more aligned with the topic of #910.

The current issue is quite narrow focused: it does not aim to address peformance issues with readdir in general; it just captures the effort of prime timing the `performance.parallel-readdir` option, which is available since a while, a number of relat

[2020-12-04 12:14] rkothiya opened #1888 "GD_OP_VERSION needs to be updated for release-10"
As Release-9 has been branched, we need to update the GD_OP_VERSION

[2020-12-04 14:17] amarts commented on #1884
Sorry about that. Considering you mentioned performance of 'readdir', I thought I should voice the thoughts I had.

About #910, I feel the size of getdents is not a major issue IMO, as much as the overall things which happens in gluster layer itself.

I feel so. Compared to the amount we would spend on stabilizing parallel-readdir, it may be worth looking at this method for sure.

[2020-12-04 16:30] csabahenk commented on #1416
The patch submitted (https://review.gluster.org/24810) is not a complete fix; it addresses just a part of that what is contained in the description of the problem, and the approach taken is questionable. For this reason, I reopen the issue, and elaborate of what I see problematic below.

Speaking of "implied options" makes sense in case of command line options, eg. as with rsync:

[code]

because

[2020-12-04 17:03] nik-redhat commented on #1416
Hi, @csabahenk thanks for pointing out the issues. Considering the points mentioned by you, I think we should move the bug out of the next release in bz. I am a bit occupied with other issues so, might be taking some time to take on this one.
If it's an urgent issue, could you send out the fix (if possible) or what do you suggest we should do?

[2020-12-04 19:18] madmax01 commented on #1734
Hi everyone,

may you have an further Idea on it? Is that may an Bug?

i upgraded to 8.3,...... and i'am now again seeing files getting healed in an loop. i see this for gv0

thx

[2020-12-04 23:45] pranithk commented on #1734
@madmax01 It doesn't look like a gluster bug based on the info so far. So not looking at it further.

[2020-12-05 01:43] perrynzhou commented on #1879
@pranithk @amarts thank you.i read that doc.

[2020-12-05 01:57] perrynzhou commented on #1879
@amarts  @pranithk  i commit code to glusterfs as flow,but i still don't know how to become a  glutser.org member?

fixed AFR_READ_POLICY_GFID_PID_HASH policy bug

Change-Id: Ib927a770a486c95e4b157e76ba96e9904d1a9716
Fixes: #1499
Signed-off-by: perrynzhou <perrynzhou@gmail.com>

[2020-12-05 02:26] perrynzhou commented on #1879
@amarts @pranithk  i already build project to understand glusterfs and source analyze

[2020-12-05 03:45] perrynzhou opened #1890 "which glusterfs version support ganesha.enable ?"
@xhernandez @amarts @BarakSason @mohit84 @tshacked @csabahenk @pranithk is only support ganesha.enable  parameter for glusterfs 8? i can't found ganesha.enable  parameter on glusterfs 7.2
## gluster version

[code]

[2020-12-05 10:38] #1199 closed

[2020-12-05 11:59] mohit84 commented on #1871
@scporse
r u still facing any issue?

[2020-12-06 10:43] #511 closed

[2020-12-06 11:54] mohit84 opened #1891 "TEST[DON'T-MERGE]: Run regression to test a key option cluster.brick-graceful-cleanup"
Run regression test suits after enable key cluster.brick-graceful-cleanup

[2020-12-06 18:17] alphabet5 commented on #441
@xhernandez was this completed?

Looks like it's possible with gfecfix. I'm not sure if this is what you were thinking, or of some other tool.

[code]

[code]

https://access.redhat.com/solutions/3532631

[2020-12-07 05:54] #1779 closed, assigned to Sheetalpamecha

[2020-12-07 10:01] schaffung commented on #530
@amarts @msaju , Requesting to take this out of release-9 purview as the approach taken up to improve the performance : https://github.com/gluster/glusterfs/pull/1677 doesn't seem to improve the performance. The idea was to process all the data from the changelogs in a go and then move on to the DB operations but I feel we can do better by parallel reads from the changelogs files.

The current flo

[2020-12-07 10:01] mrSingh007 commented on #502
@pranithk  What exactly have to be fixed manually? Any docu/link about this fix?

[2020-12-07 11:57] msaju commented on #530
Ack!

[2020-12-07 12:52] foss4ever commented on #1871
Didn't help, unfortunately.
Still getting:
_volume add-brick: failed: Commit failed on 192.168.240.32. Please check log file for details._

[2020-12-07 12:52] foss4ever commented on #1871
Yes, I am.  I don't know what do do about it, at this point.

[2020-12-07 13:25] mohit84 commented on #1871
Can you please share latest /var/log/glusterfs dump from the node?

[2020-12-07 13:48] foss4ever commented on #1871
You mean glusterd.log ?

[2020-12-07 13:54] mohit84 commented on #1871
all logs /var/log/glusterfs(glusterd.log, mount logs and brick logs)

[2020-12-07 14:23] foss4ever commented on #1871
glusterd.log
FjELrSZgki
https://pastebin.com/ECNhMAU5

tide-add-brick-mount.log
fwaVdybMbS
https://pastebin.com/jMBdyP01

glustershd.log
qeD47TbP94
https://pastebin.com/RH2f6hev

No files in directory "bricks"

[2020-12-07 14:29] mohit84 commented on #1871
kindly check on the node 192.168.240.31, brick logs should be available

[2020-12-07 14:45] foss4ever commented on #1871
glusterfs-tide.log
RHV0CsZ7eJ
https://pastebin.com/awJeWnDk

[2020-12-07 15:48] xhernandez commented on #441
@alphabet5 the tool was written (https://review.gluster.org/#/c/glusterfs/+/19860/), but it's not trivial to use and it was not reviewed at that time due to higher priority items. The tool is not polished and it's usefulness is limited as it's now.

[2020-12-07 16:31] mohit84 commented on #1871
Hi,
 As we can see in brick logs the request is accepted by a server from a client (192.168.240.30) but at the same time request is not accepted a server
 from the client (192.168.240.32) because the client (192.168.240.32) does not allowed by the configured auth.allow list(192.168.110.20, 192.168.110.21, 192.168.110.30, 192.168.240.100)

Request is accepted
[2020-12-07 12:51:30.352724] I [addr.c:

[2020-12-08 04:44] #1761 closed, assigned to nobody

[2020-12-08 07:34] airstring opened #1896 "unable remove node"
unable detach node!

peer detach: failed: Peer 10.103.22.173 hosts one or more bricks. If the peer is in not recoverable state then use either replace-brick or remove-brick command with force to remove all bricks from the peer and attempt the peer detach again.
<details>

**Mandatory info:**
**- The output of the `gluster volume info` command**:

**- The output of the `gluster volume status` comma

[2020-12-08 08:34] amarts commented on #1873
can you start with `glusterd --debug` on both nodes to check the logs?

[2020-12-08 08:54] xhsky commented on #1873
[code]
[code]

[2020-12-08 10:29] httaotao opened #1897 "use script to create lvm2 device block to mount , but snapshot create failed."

[2020-12-08 10:33] schaffung opened #1898 "schedule_georep.py resulting in failure when used with python3"
**Description of problem:** The schedule_georep.py is a script which is being used to schedule the geo-rep and when running it with python 3.x, we are hitting an attribute error.

**The exact command to reproduce the issue**:
1. Create a geo-rep session between primary and secondary nodes.
2. Run `python3 /usr/share/glusterfs/scripts/schedule_georep.py <primary-vol> <secondary-vol-ip> <secondary-v

[2020-12-08 10:40] nik-redhat opened #1899 "Dummy issue"
**Description of problem:**

**The exact command to reproduce the issue**:

**The full output of the command that failed**:
<details>

**Expected results:**
<details>

**Mandatory info:**
**- The output of the `gluster volume info` command**:

**- The output of the `gluster volume status` command**:

**- The output of the `gluster volume heal` command**:

**- Provide logs present on following loca

[2020-12-08 10:41] #1899 closed, assigned to nobody

[2020-12-08 10:51] #1717 closed, assigned to tshacked

[2020-12-08 11:01] foss4ever commented on #1871
So, you want all contents of /var/lib/glusterd/vols, from all 3 nodes? Or just the output from "gluster v info"?
If yoy need the former, I will need a little time to clean up potentially sensitive info such as hostnames, across all the files, before I can share with you :)

[2020-12-08 11:11] mohit84 commented on #1871
Kindly share both the info.

[2020-12-08 14:40] foss4ever commented on #1871
Sorry, it took a while. Do you have some email with which I could share the dump zipfile from my OneDrive?

[2020-12-09 02:19] #1178 closed

[2020-12-09 02:58] airstring commented on #1896
It is strange that Everything is all right today
Do change before：
`[root@node-02 /]# gluster peer status
Number of Peers: 3

Hostname: master-01
Uuid: a952d0f9-0ee4-482e-b0dc-57656bc62da3
State: Peer in Cluster (Connected)

Hostname: 10.103.22.174
Uuid: 237c0376-777a-4907-85ee-a28bb28bf5dd
State: Peer in Cluster (Connected)

Hostname: 10.103.22.176
Uuid: 02a2aaeb-3cc2-45d3-9c89-ff75e3971332
State

[2020-12-09 04:11] httaotao commented on #1897
thank. I know what happen. because the lvcreate command `--extents 100%FREE`, I have changed the command into
[code]
the vsize is the 90% space of this block devices. thanks.

[2020-12-09 04:11] #1897 closed, assigned to nobody

[2020-12-09 04:14] mohit84 commented on #1871
moagrawa@redhat.com

[2020-12-09 07:20] foss4ever commented on #1871
Thanks. I've shared the ZIP archive with you.
Subdirectory for second glusterfs volume has been omitted from each node dump, since that should not be relevant to the issue (due to the fact that I have been testing with only the first volume).

[2020-12-09 09:12] mohit84 commented on #1871
I am not able to access the files.

[2020-12-09 09:31] foss4ever commented on #1871
Just tried sharing once again. Let me know if you can access it now. And sorry for the trouble.

EDIT: Tested this using my own 3rd party webmail, and the verification code went into junk/spam folder, so you might need to check that (if you can successfully open the sharing link, in the first place).

[2020-12-09 09:50] mohit84 commented on #1871
yes files are going into spam folder and when i am trying to access i am not able to access it.

[2020-12-09 10:02] mohit84 commented on #1871
I am able to access it now

[2020-12-09 10:40] #1136 closed

[2020-12-09 11:33] myy2829 opened #1903 "It is risky to accept write fops when quorum replicas are accused"
**Description of problem:**
In a replica 3 volume with all bricks online,  there is a file that has one good replica and two bad replicas that accuse each other.  Once the good replica fail in a write fop and the other two succeed, this file will in split-brains state.

**The exact command to reproduce the issue**:
1. Create replica 3 volume and mount it;
2. Set volume cluster.self-heal-daemon to

[2020-12-09 11:44] mohit84 commented on #1871
Hi,

 Thanks for sharing the volfile and discussed the issue on slack, i have checked the volfile and not found any issue in volfile.
 As per add-brick-mount logs after print the graphs it is showing below logs, at the time of adding a brick glusterd tries to run temporary mount the volume and sets the GF_AFR_ADD_BRICK xattr on the other two bricks. In your environment glusterd is not able to meet

[2020-12-09 12:48] pranithk commented on #1903
@myy2829 As per the getfattr output, last write failed. Can you do the exercise again with
gluster volume set <volname> performance.flush-behind off

[2020-12-09 14:21] foss4ever commented on #1871
Node 2 had not updated auth allow after I cleared this property from node 1 (using gluster volume set ...). Problem was solved by rebooting node 2, then removing contents of /glusterfs/tide and finally I was now able to add the third node's brick to replicated volume, with "add-brick" command.
Many thanks to Mohit for helping to investigate this strange issue!

[2020-12-09 14:21] #1871 closed, assigned to nobody

[2020-12-09 14:33] httaotao opened #1905 "Glusterfs7.5: can't restart glusterd process"
hi every, I have four glusterfs node cluster with version `7.5`.  Unlucky, two nodes were broken that it could not restart any more with these logs.
[code]
This is today, when I was using the snapshot feature, I found errors, I couldn't create snapshot and activation, and then I looked at the gluster volume status and found that the exception couldn't restart.  I didn't know how to deal with. than

[2020-12-10 05:49] myy2829 commented on #1903
@pranithk Set performance.flush-behind off,  getfattr output and cat output are the same as before.
Last write returned successful response to client and all bricks applied this writing. And the getfattr output records failing write in step4 and step 5. Why say last write failed ?

[2020-12-10 05:56] pranithk commented on #1903
I saw your steps again. Only if there is a failure on the third brick after step-5 the I/O will error out. Otherwise it should work fine. It won't go into split-brain. Based on whether the brick goes down before or after receiving the I/O it will contain the write after recovery. This is as per design. I don't see any error in this.

[2020-12-10 06:41] mohit84 opened #1909 "core: Avoid several dict OR key is NULL message in brick logs"
In recent master codebase brick is throwing warning messages at the time of accessing keys due to dict is NULL.
High number of warning are throwing while running a test case ./tests/000-flaky/bugs_glusterd_bug-857330/xml.t and unnecessary it is taking time

grep -i "dict or key" /var/log/glusterfs/bricks/d-backends-patchy1.log  | wc -l
6038
There are total 4 type of warning messages for keys (read

[2020-12-10 08:33] Naranderan opened #1911 "Rsync fails with 'File Exists' error"
**Description of problem:**
1. Our volume has millions of small files and most(~95%) of the files have hard links. To extend the volume, force rebalance was started.
2. During the rebalance, the rsync process which writes to FUSE client started to fail with 'File Exists' error which still persists today even after the rebalance was completed.
3. According to our analysis, we found stale 'linkto' f

[2020-12-10 08:39] myy2829 commented on #1903
Yes, it won't go into split-brain. But if brick3 down during a request, client will get successful response, although it fails actually.
I add sleep time in func posix_writev, and continue test after step6.
[code]
output on 3 bricks:
[code]

[2020-12-10 08:51] pranithk commented on #1903
Is flush-behind on or off?

[2020-12-10 09:49] myy2829 commented on #1903
off

[2020-12-10 10:02] pranithk commented on #1903
Could you attach the mount's log file?

[2020-12-10 12:16] vh05 opened #1912 "Sharding: Optmization over shard n/w calls"
**Description of problem:**
Sharding enables the user to create a big file irrespective of the brick size. It divides and stores in small chunks/files across the volume. Assume that we need to create/fallocate 2TB big VM over the gluster volume with the sharding ON.  With the default shard_block_size = 64MB, we will have ~32,000 shards.
shard_fallocate() FOP comprises of
1. lookup and resolve  sha

[2020-12-10 12:29] xhernandez commented on #1912
How do you plan to do that ?

Shard lives on top of DHT and AFR/EC. So all requests shard send need to be regular requests. If you hide additional functionality in xdata, for example, you will need to implement that knowledge in all intermediate xlators. Otherwise they may not work correctly and we can end up with data corruption or stale cached data.

On the other hand, network latency doesn't se

[2020-12-10 12:38] mykaul commented on #1912
I wonder if we can reduce calls that happen per shared. For example, in shard_common_inode_write_begin() - do we really need to do:
[code]

In shard_refresh_base_file, we call SHARD_MD_READ_FOP_INIT_REQ_DICT - which does:
[code]

Is it needed for ALL shards?

[2020-12-10 13:17] vh05 commented on #1912
@xhernandez
Let me consider step 2 in the shard_fallocate() i.e mknod of shards

The mknod happens in below 3 calls:
1. shard_common_inode_write_post_lookup_shards_handler() ==> 2. shard_common_resume_mknod() ==> 3. shard_common_mknod_cbk()

In the current approach, we just pass mknod to create 32,000 (if you consider 2Tb file size) in a loop in shard_common_resume_mknod() and wait in shard_common

[2020-12-10 15:29] #1132 closed

[2020-12-10 15:29] #1209 closed

[2020-12-11 02:10] myy2829 commented on #1903
I have uploaded mount's log to my github.
https://github.com/myy2829/myrep/blob/master/mnt-r3.log

[2020-12-11 08:08] dshmyz opened #1916 "glusterfind performance optimization"
**Description of problem:**

I want to clean up files by time through CHANGELOG. Therefore, I hope to skip the "**DELETE**" type operation through parameter control when executing **glusterfind**, so as to improve the execution efficiency of **glusterfind**

**Mandatory info:**

[https://github.com/gluster/glusterfs/blob/devel/tools/glusterfind/src/changelog.py](url)
**Additional info:**
[code]

[2020-12-11 10:29] #661 closed

[2020-12-11 10:29] #457 closed

[2020-12-11 10:29] #512 closed

[2020-12-11 13:59] madmax01 opened #1917 "Disperse Volume File Heal Pending"
Hi everyone,

i'am testing disperse volume with 4 Nodes.

i tested to shutdown 1 node > all fine volume was up and all operated fine as expected.

i brought it back up > and as  expected it would say "healing  necessary".  But what i overlocked is > it says "Pending".
thinking its already 24h back and still tells me "pending". i tried to force healing on the volume already... but i cannot proof so

[2020-12-11 14:10] #62 closed

[2020-12-11 14:10] #222 closed

[2020-12-11 14:10] #226 closed

[2020-12-11 14:10] #330 closed

[2020-12-11 16:57] xhernandez opened #1918 "Potential data corruption after remove-brick operation on a sharded volume"
**Description of problem:**

After some issue during a remove-brick operation on a 2x3 replicated volume with sharding enabled, existing mounts don't write data to one of the DHT subvolumes. However, if a new mount is made and a file is read through this new mount, some of the shards are created in the other subvolume with size 0, causing data corruption.

**The exact command to reproduce the issu

[2020-12-11 16:58] xhernandez commented on #1918
@BarakSason @tshacked can you take a look at this ?

[2020-12-11 18:05] raghavendrabhat commented on #349
@Karampuri, Pranith <pkarampu@redhat.com> I remember @csabahenk trying to
bring copy_file_range capability by making glusterfs client use fuse-7.28.
However one thing to be noted is that even though fuse can support it and
send the calls down to glusterfs client, in gluster client side there are
pending changes to be implemented. For instance, the cluster xlators such
as distribute, replicate and

[2020-12-11 21:06] rdxmb commented on #340
comment

[2020-12-12 03:21] pranithk commented on #349
@raghavendrabhat Thanks for the response. @nobleprogcn is helping us implement the functionality. Is fuse_copy_file_range() the function that will lead to clone support in fuse? Please confirm this part. I can help @nobleprogcn with the rest.

[2020-12-12 03:55] #1678 closed, assigned to rkothiya

[2020-12-12 06:01] #510 closed

[2020-12-12 06:01] #204 closed

[2020-12-12 06:01] #585 closed

[2020-12-12 06:01] #76 closed

[2020-12-12 09:03] #413 closed

[2020-12-12 10:56] #193 closed

[2020-12-13 06:22] tshacked commented on #1918
Regarding - first problem: no shard is created in first subvolume (step 10)

1) when the 1st file created on the system during remove-brick op (step 5), the .shard\ are created and layout is assigned considering the active subvol:

[code]

2) After `remove-brick stop` and `rebalance start`: layouts are being fixed by rebalance.
[code]

3) But the client still holds the previous .shard\ layout, whe

[2020-12-13 10:35] mykaul commented on #504
Still relevant, easy fix (for newcomers, students, etc.?)

[2020-12-13 20:23] lpointal commented on #1274
Look at mount option -o xlator-option="transport.address-family=inet6"

[2020-12-14 10:07] #1359 closed

[2020-12-14 10:55] mykaul opened #1923 "Reduce padding in mem_header structure"
I don't think anyone intended to use ```int padding[8]``` for the trailer, looks like 4 bytes or so should suffice.
While at it, worth aligning the structure.

[2020-12-14 12:16] #1888 closed, assigned to nobody

[2020-12-14 16:38] schaffung commented on #1049
Keep-alive ping..

[2020-12-15 05:24] aspandey commented on #1917
Could you please provide the output of following -
1 - gluster volume heal gv1 info

If there is a file entry in this output, we need to get the xattrs of that file from all the bricks. We may also need stat from all the bricks.
getfattr -d -m. -e hex /<path of the file fragment on all the bricks>
stat getfattr -d -m. -e hex /home/ashishpandey/bricks/gluster/vol-3/dir2

2 - gluster volume status g

[2020-12-15 07:22] kshithijiyer opened #1924 "glusterd not starting post installtion on the latest nightly"
**Description of problem:**
glusterd is not starting post installation

**The exact command to reproduce the issue**:
systemctl start glusterd

**The full output of the command that failed**:
<details>
$ systemctl start glusterd
Job for glusterd.service failed because the control process exited with error code. See "systemctl status glusterd.service" and "journalctl -xe" for details.

$ systemctl

[2020-12-15 07:34] kshithijiyer commented on #1924
glusto-tests job failing due to this issue: https://ci.centos.org/job/gluster_glusto-patch-check/2665/

[2020-12-15 07:36] mohit84 commented on #1924
@srijan-sivakumar Can you please check this

[2020-12-15 07:44] schaffung commented on #1924
@mohit84 , sure. Had seen this issue before. It seems like gsyncd is being checked for while glusterd is starting up...and as geo-replication rpm is not part of the installed rpms, it is failing.

[2020-12-15 07:46] schaffung commented on #1924
@kshithijiyer , for the time being, could you check if it works if we install the geo-replication package. I'll try to check as to why the dependency came in at the first place.

[2020-12-15 07:47] kshithijiyer commented on #1924
I tried starting glusterd after installing `glusterfs-geo-replication`, it seems to be running properly now.
[code]

[2020-12-15 08:13] nik-redhat commented on #1873
Customization of the glusterd port (24007) is not allowed, and the same is hardcoded in the code. That's the reason the peers are not able to connect.

[2020-12-15 08:38] ce107 commented on #1412
Any updates on these errors? With a CentOS/RHEL7 of pbench I am missing the required js files that the web pages refer to entirely.

[2020-12-15 10:53] #684 closed

[2020-12-15 11:04] #1545 closed

[2020-12-15 12:12] xhernandez commented on #1912
@VHariharmath-rh so if I understand correctly, you are going to sequentialize more the fallocation request, right ? instead of sending 32000 mknod requests in parallel you will send 32 sequential blocks of 1000 parallel mknods each.

If that's correct, then if the bottle-neck is not the saturation of the filesystem creating those 32000 files, latency will actually increase. Have you verified that

[2020-12-15 12:46] vh05 commented on #1912
Yes, that's the approach. The creation rate is actually a configurable parameter just like the deletion-rate in shards.

I came to this conclusion reckoning (in fact assuming) that the timeouts are happening because we flooded with so many creates and the backend is taking time to process all those requests in parallel which is leading to timeouts. Also, the reason behind this assumption is that t

[2020-12-15 13:23] itisravi opened #1925 "dht_pt_getxattr does not seem to handle virtual xattrs."
@kotreshhr  and I were debugging issues during upgrade testing of https://github.com/gluster/glusterfs/pull/1568. One of them is in DHT:

`dht_pt_getxattr() `which was added  via commit b13b7855e5014e916fc64eb7a89c0ad3e8d70901 for perf improvements in pass-through mode (i.e. where distribute-count is 1) does not handle virtual xattrs. For geo-rep there is a virtual getxattr done by geo-rep on the

[2020-12-15 13:28] xhernandez commented on #1912
I would run tests. An assumption is very dangerous. If the assumption is incorrect, you are actually making the latency worse with this patch.

It's true that the file system will be quite busy creating many files in parallel, and this could lead to delays in other operations (I think this was the problem with deletes). But we still need to be sure that the time to create 32 groups of 1000 files i

[2020-12-15 13:32] mykaul commented on #1912
I wonder if our performance tests (which, to the best of my knowledge, do not have shard tests!), also measure network throughput (just as I expect us to measure memory and CPU).

[2020-12-15 13:44] mohit84 commented on #1925
Yes I full agree with you, the behavior should be similar to while dht_subvol is having more than 1 children.

[2020-12-15 13:56] #663 closed

[2020-12-15 14:07] bravey3 opened #1926 "glusterfsd brick crash"
crash
Program terminated with signal 11, Segmentation fault.
#0  0x00007f645c846550 in global_xl_reconfigure () from /lib64/libglusterfs.so.0

#client info
cat /etc/redhat-release
CentOS Linux release 7.6.1810 (Core)

 uname  -a
Linux NJICCPSN04 3.10.0-957.el7.x86_64 #1 SMP Thu Nov 8 23:39:32 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux

#glusterfs --version#
glusterfs 7.8
Repository revision: git://gi

[2020-12-15 14:15] vh05 commented on #1912
Sure, I will verify this. Definitely, this is a must required step before proceeding with the patch.

If we send 32 batches of 1000 shards (or less) and wait for each batch to complete before sending the next batch would in fact lessen the n/w saturation than sending 32k shards in one batch. Am I right?

[2020-12-15 14:21] vh05 commented on #1912
Yes, this is on the list. I will open up a ticket to work on this.

[2020-12-15 14:43] xhernandez commented on #1912
Probably yes, but we still need to be sure that the bottle-neck is there.

[2020-12-15 17:48] #1210 closed

[2020-12-16 02:33] perrynzhou opened #1928 "nfs about glusterfs stability and performance problem"
@xhernandez @amarts @BarakSason @mohit84 @tshacked @csabahenk @pranithk  as i know, that already disable nfs service. is nfs xlator is less stability ? can nfs be used in prod env on a large scale?

- gluster vesion build with glusterfs8.3
[code]
- nfs xlator default config
[code]

[2020-12-16 05:52] xhsky commented on #1873
The custom selection of the port has been given in the configuration file, so hard-coding this port is unreasonable. Will the problem be fixed later?

[2020-12-16 06:01] nik-redhat commented on #1873
I don't think there is any plan to update it anytime soon in the future. If the same is implemented anytime it will be mentioned in the release notes of the Gluster, you can check that.

[2020-12-16 06:05] #1749 closed, assigned to mohit84

[2020-12-16 06:42] #1772 closed, assigned to nobody

[2020-12-16 07:09] #1873 closed, assigned to nobody

[2020-12-16 08:01] mykaul commented on #1928
I'm confused about this:
1. Is this a question? Then let's not use issues for questions - we have the slack channel, the user mailing list or the discussions in github.
2. Is there an issue with stability? Provide specific details please.
3. Is there an issue with performance? Provide specific details please.

Depending on the use case, you may wish to use the built in gnfs or NFS Ganesha. There a

[2020-12-16 09:48] lzueclipse opened #1929 "gluster fuse memory keep growing under this scenario (graph changes)"
**Description of problem:**
gluster fuse memory keep growing under this scenario (graph changes)
I can not copy any logs/evidence due to the company's policy, but this issue is easy to reproduce by the steps I provide.

**The exact command to reproduce the issue**:
1)Client side, mount and monitor the gluster fuse memory, **no any IO**
mount -t glusterfs 10.10.10.10:/volume0 /mnt/g_volume0
2)Serve

[2020-12-16 13:18] csabahenk opened #1930 "Unify --lru-limit and --invalidate-limit options"
_invalidate-limit_ is an absolute value as of today; however, from user's point of view, it would be better to be expressed in terms of  _lru-limit_, the parameter which it amends.

So for example this is how I can suggest a setting for these values without resorting to shell wizardry:

[code]
and then I can add a comment that they might adjust _lru-limit_, while keeping _invalidate-limit_ the dou

[2020-12-16 13:20] csabahenk commented on #1930
It is not an urgent or uttertly important item, I just entered it to serve as a reminder and expose the idea to peer review.

Also it can come handy as an introductory task for someone who familiarizes oneself with the codebase.

[2020-12-16 13:45] mohit84 commented on #1929
I think it is day one issue, we don't handle graph destroy on the fuse process at the time of graph switch that's why you are facing a leak issue.I think we need to handle cleanup for client side also in similar way as we do brick_mux at brick side.

@xhernandez @pranithk @amarts
Please share your view on the same.

[2020-12-16 15:17] #1212 closed

[2020-12-17 02:16] perrynzhou commented on #1928
@mykaul  thank you,when i used nfs ,it told me you should to use nfs-ganesha

[2020-12-17 02:17] #1928 closed, assigned to nobody

[2020-12-17 02:17] #1854 closed, assigned to nobody

[2020-12-17 03:50] #1825 closed, assigned to nobody

[2020-12-17 03:54] #1905 closed, assigned to nobody

[2020-12-17 05:18] #1891 closed, assigned to nobody

[2020-12-17 05:28] mohit84 opened #1931 "glusterd: Enable GLUSTER_BRICK_GRACEFUL_CLEANUP option"
There was a new option (GLUSTER_BRICK_GRACEFUL_CLEANUP) introduced from the bug https://github.com/gluster/glusterfs/pull/1751 to stop a brick process gracefully but the option was disabled.

Solution: Now enable the option as a default after finished the testing.
Note: To validate the option followed below testing
1) Create 100 2x3 volumes
2) Mount first 33 volumes on node 1 , next 33 volumes on

[2020-12-17 10:16] perrynzhou opened #1933 "glusterfs roadmap 2021"
## @xhernandez @amarts @BarakSason @mohit84 @tshacked @csabahenk @pranithk ihas get information about glusterfs
- 1. did you have any develop plan for glusterfs 2021 year?
- 2. can you give me detail about glusterfs roadmap in the  future?
- 3. we found that metadata is a big problem In our large-scale using glusterfs. Can we discuss the design and development plan of metadata together?
- 4. is an

[2020-12-17 10:18] pranithk commented on #1933
I most probably will work on incremental rebalancing in glusterfs.

[2020-12-17 10:23] perrynzhou commented on #1933
@pranithk  Who is responsible for glusterfs performance testing and metadata development?

[2020-12-17 11:13] mykaul commented on #1933
I ask again that we do not combine multiple items in a single issue. Perhaps it's better discussion in slack or via discussions or the devel mailing lists?
- We have the performance tests running from time to time - what is the exact question?
- I'm not sure what is the metadata development you refer to?

[2020-12-17 12:19] perrynzhou commented on #1933
Metadata performance for operate a  billions small files,that may be need a
metadata server  for  improving operations file such as ls/du command

Yaniv Kaul <notifications@github.com>于2020年12月17日 周四19:13写道：

[2020-12-17 12:28] mykaul commented on #1933
Is that different than https://github.com/gluster/glusterfs/issues/1879 and/or https://github.com/gluster/glusterfs/issues/1708 ?

[2020-12-17 12:36] perrynzhou commented on #1933
Is any development roadmap for glusterfs

Yaniv Kaul <notifications@github.com>于2020年12月17日 周四20:28写道：

[2020-12-17 12:43] mykaul commented on #1933
As we conclude Gluster 9, I think it's worthwhile to start planning Gluster 10 release.

[2020-12-17 13:09] perrynzhou commented on #1933
@mykaul @pranithk   @amarts  I want to know which features list needs to be developed  within roadmap.did you show  features list or paln details  included  what things to do  in roadmap.
recommend create issue or offical websit to  notify roadmap

[2020-12-17 15:27] #657 closed

[2020-12-18 03:46] amarts opened #1935 "logging to syslog instead of any glusterfs logs"
**Description of problem:**
I want to use syslog (or siimlar, like journald) instead of glusterfs logging. Including for the management layer (glusterd) logs. Gluster has an option to pass the logs to syslog natively, and there are many options related to logging. But I couldn't find one place where the particular usecase is clearly documented.

Need solution to such usecase.

**The exact command

[2020-12-18 08:04] Naranderan commented on #1911
Any insights on this would be helpful to us.

[2020-12-18 18:34] baldmaggots opened #1937 "glusterfs 7.3 client crash with many op(OPEN)"
Not sure what else I can do to troubleshoot this issue, doesn't seem to be any obvious error in their server side or client side logs.

**Description of problem:**
glusterfs 7.3 client crash with many op(OPEN)

**The exact command to reproduce the issue**:
Centos 7 server running under load for ~ 200 days.

**The full output of the command that failed**:

/var/log/messages contained
 pending frame

[2020-12-18 21:18] archon810 commented on #1256
I believe the issue is still present, but haven't had time to provide more feedback.

[2020-12-19 22:02] csabahenk commented on #349
@pranithk I learnt what I know of reflink from @raghavendrabhat, so I don't think I can add much more to what he said.

I can at least summarize my understanding of the matter; please amend/augment.

- _copy_file_range(2)_ has a generic VFS-level implementation that avoids sending up transferred data to userspace, but it's doing data copy in-kernel
- it also exists as a filesystem method
- the gen

[2020-12-20 07:06] amarts commented on #349
Thanks @csabahenk  for the details.

If its possible to get the fuse interface correct, it would be great, as @raghavendrabhat implemented a draft version of posix layer with `ioctl()` sometime back.Which means it can be used effectively.

+1

Also we need to look at how the 'on-wire' transfer of this happens (if its not already part of rpc/protocol). My suggestion is to go with fsetxattr() model

[2020-12-20 09:02] #1695 closed, assigned to BarakSason

[2020-12-20 21:50] gloomytrousers commented on #1301
Hi @Sheetalpamecha. Is there any update here? There are two possible offers of help above, and maybe I can make that 3 if I can understand what's required - the docs I've found aren't clear on how to build debian packages, just RPMs. Thanks!

[2020-12-21 11:36] xhernandez commented on #1937
This is probably the same as #1225 and it's already fixed in latest 7.x version. Either you need update to latest version or you should disable open-behind to avoid the crash:

    # gluster volume set <volname> open-behind off

[2020-12-21 11:54] foss4ever opened #1940 "Add support for hyphenated range of IP-addresses in "auth.allow" volume property"
**Description of request:**

Add support for hyphenated range of IP-addresses in "auth.allow" volume property.

Reason:
This feature would allow for shortening the list of IP-addresses considerably and thus provide for a better overview. For instance, say you have a large cluster of 5 nodes, you would then be able to put just "192.168.1.10-192.168.1.14" instead of having to provide all 5 IP-addres

[2020-12-21 12:00] foss4ever opened #1941 "Not understanding the need for explicitly allowing gluster bricks on a volume they are part of"
**Description of problem:**

When setting the "auth.allow" property on a volume, it is necessary to allow not only the glusterfs clients, but also the bricks that make up the volume. Why is this necessary? Surely, you would never want to _not_ allow the bricks to talk to the volume which they are a part of?

**Expected results:**

To be able to allow only the actual glusterfs clients - the bricks

[2020-12-21 14:59] #1231 closed

[2020-12-21 16:08] viniciusferrao commented on #692
Hi, this ticket is closed without an answer. Was that an RDMA issue? It will be wont fix? RDMA is officially deprecated?

In my case the CPUs are not good enough to handle IPoIB, so RDMA was the only solution to have decent performance.

Thanks.

[2020-12-21 16:46] amarts commented on #692
@viniciusferrao RDMA is not supported in any of the latest supported (7.x/8.x) releases of gluster.

The reason its deprecated is because of lack of talent in the team to support and maintain the RDMA part of the code. We are happy if someone contributes in that area of code, and would volunteer to support it. But with the currently active developers, this is not a thing we can pick up.

[2020-12-21 16:50] viniciusferrao commented on #692
Thanks for taking time to answer it. I really understand the situation, and indeed RDMA is a beast to code for.

I'm still running the 6.0 branch since it's Red Hat Gluster Storage 3.5. I'm facing the bug on this ticket right now. It perhaps may be related to the fact that transport is RDMA only, and AFAIK tcp is needed for initial communications, right? But there's another bug that I can se let t

[2020-12-21 16:59] amarts commented on #692
Ah! I talked about Gluster developers/maintainers who are mostly contributing to repository on opensource. Can't talk of (team/people/talent in) Red Hat, as I don't work there. Gave an idea behind deprecation decision in the community project in the issue.

[2020-12-21 23:50] acgustafson commented on #1937
@xhernandez Here is the trace for this crash. I didn't see anything there that referenced open-behind like the trace in #1225 but would love to hear your thoughts.

[code]

[2020-12-22 01:04] pranithk commented on #1937
@acgustafson It is a reference count problem, so it may crash in any layer which does final refcount decrement.

[2020-12-22 09:53] #1235 closed

[2020-12-22 10:14] pranithk commented on #349
@amarts I think @nobleprogcn wants to implement it as a new fop. So it makes sense to completely implement the fop.

[2020-12-22 10:20] tomoki-shimizu opened #1943 "glusterd-volgen: Add functionality to accept any custom xlator"
**Description of problem:**
Currently it is not possible use our own translator modules (custom xlators, user xlators) without modification of glusterd-volgen.c. We would like to propose a feature which allows us to add custom xlators to any layers on a xlator graph when we create it, as like debug/* xlators. When this feature is available, it will be possible to link with any services through the

[2020-12-22 11:36] amarts commented on #1943
i see this as one of the reason why we from kadalu.io are thinking of newer management layer for gluster. Its powerful translator model can't be utilized so easily by its management layer complexities as of now.

When are you looking to have such feature available ? or is there any thoughts on working on contributing to get a feature like that?

[2020-12-22 11:42] itisravi commented on #1943
@amarts  I think @tomoki-shimizu is from Hitachi and based on internal discussions with Red Hat, they are planning to upstream the work they have done. So I think a PR (or many PRs) might follow for this issue :-)

[2020-12-22 12:13] amarts commented on #1943
Good to know about it! More contributors the better. :-)

[2020-12-22 13:01] madmax01 commented on #1917
sry i just scratched it already and started new,.too much time into testings/investigations....... so far all fine fine....

[2020-12-22 13:01] #1917 closed, assigned to nobody

[2020-12-23 16:09] #715 closed

[2020-12-25 05:19] #1238 closed

[2020-12-25 08:53] perrynzhou opened #1949 "why is used aio_xxx function in posix_fs_health_check"
@xhernandez  @pranithk @mohit84 @tshacked @csabahenk  is must used aio_xxx in posix_fs_health_check?i think posix_fs_health_check running in a thread,why not used read and write with direct-io?if fs.aio-max-nr  reach max limit(65536),that may case that problem。so  if used read/write,that will be better.

- fs.aio-max-nr default value
[code]
- glusterfsd exit, logs such as

[code]
- storage health

[2020-12-25 09:28] namehuanxin opened #1950 "I would like to consult you. Does glusterfs support CPU arm64 installation?"
I would like to consult you. Does glusterfs support CPU arm64 installation?

[2020-12-25 10:20] #1229 closed

[2020-12-25 11:28] dmantipov opened #1952 "posix-aio: implement GF_FOP_FSYNC"
Implement GF_FOP_FSYNC using io_submit() with  IOCB_CMD_FSYNC and IOCB_CMD_FDSYNC operations.

[2020-12-25 14:19] #1244 closed

[2020-12-25 21:09] hunter86bg commented on #1778
If it's merged then we can close this one ?

[2020-12-26 14:11] #847 closed

[2020-12-26 14:11] #651 closed

[2020-12-27 18:44] #1246 closed

[2020-12-28 09:02] kshithijiyer opened #1954 "Unable to trigger heal after replace-brick"
**Description of problem:**
Unable to start heal after replace brick is done on a volume

**The exact command to reproduce the issue**:
gluster volume heal testvol_distributed-replicated

**The full output of the command that failed**:
<details>
2020-12-28 08:46:18,245 INFO (run) root@172.19.2.73 (cp): gluster volume heal testvol_distributed-replicated
2020-12-28 08:46:18,245 DEBUG (_get_ssh_conne

[2020-12-28 10:03] amarts commented on #1949
One of the main reason for using aio_write() and not a simple write() is to handle interrupts during that time. One of the common errors due to backend failure we saw was that backend not responding, which means a simple write() call hung infinitely, and thread didn't execute to check timeout (even if its a thread)....

by using aio_write(), we can see if the call is not complete before the timeou

[2020-12-28 10:04] amarts commented on #1950
Yes. Most of the linux distros have packages built for them.

[2020-12-28 22:19] perrynzhou commented on #1949
@amarts  thank you very much

[2020-12-29 03:04] namehuanxin commented on #1950
Can you provide the download address of the latest ARM64 installation package?

[2020-12-29 05:02] itisravi commented on #1954
@kshithijiyer In https://review.gluster.org/#/c/glusto-tests/+/25212/, after replace brick, I think you should wait for gluster volume status to show all bricks as online before launching heal.

But ideally, you don't need to launch it manually as replace-brick should automatically trigger the shd to start healing.

[2020-12-29 05:40] aravindavk commented on #1950
Which OS are you looking for?

For Ubuntu, you can search packages here: https://packages.ubuntu.com/focal/glusterfs-server

[2020-12-29 07:43] perrynzhou opened #1955 "after execute volume heal command,many files can't be heal"
# gluster --version

[code]

# gluster volume info

[code]

[2020-12-29 07:45] perrynzhou commented on #1955
@xhernandez @amarts @BarakSason @mohit84 @tshacked @csabahenk @pranithk   this is heal volume info part 1
# gluster heal volume info

[code]

[2020-12-29 07:46] perrynzhou commented on #1955
@xhernandez @amarts @BarakSason @mohit84 @tshacked @csabahenk @pranithk this is heal volume info part 2
[code]

[2020-12-29 08:06] #1247 closed

[2020-12-29 11:55] cclecle commented on #843
Same here with GlusterFS 5.5 / Debian-buster /  kernel 5.4.65-1 pve.
On the remote machine I randomly could not see directories, but they were here because we I try to create another one with the same name it say it is allready existing. the given command fixed the issue !

[2020-12-29 13:25] Naranderan commented on #1911
This issue can be reproduced in a test setup. Steps to reproduce:
1. Create a volume(2x1)
2. Run 'data_populator.sh' from the FUSE client to populate data - for eg, 'sh data_populator.sh <mount_path>'
3. Add a brick to the volume so now the volume will be 3x1.
4. Run force rebalance and 'sh **data_appender**.sh <mount_path>' parallelly. There will be only 50 files in the volume so the rebalance wi

[2020-12-30 00:49] perrynzhou opened #1957 "what is different between Storage 3.5.3 and glusterfs community version?"
### @xhernandez @amarts @BarakSason @mohit84 @tshacked @csabahenk @pranithk hello everyone, i saw red hat gluster document , we saw feature quota and rdma already deprecated ,why deprecated  features?if i deployment on ssd and glusterfs running on ib network,we need rdma support in glusterfs. what is different between Storage 3.5.3 and glusterfs community? or red hat gluster release new version of

[2020-12-30 02:40] namehuanxin commented on #1950
我们需要一个centos7 的arm64的包

[2020-12-30 02:41] namehuanxin commented on #1950
We need a centos7 arm64 package

[2020-12-30 03:40] #945 closed

[2020-12-30 07:36] kshithijiyer commented on #1954
@itisravi Yes, If I remove the trigger heal part I can still see that the heal is completing hence marking the issue as done.

[2020-12-30 07:36] #1954 closed, assigned to nobody

[2020-12-30 07:55] mykaul commented on #1957
I would suggest contacting Red Hat directly for question related to the Red Hat product. This forum is for the upstream Gluster project issues.

As for the question on migrating from Gluster to Ceph upstream project - there are many points to consider, and you need to do a thorough analysis, on your specific workloads, your knowledge and experience managing both projects and so on. It would be sup

[2020-12-30 07:55] #1957 closed, assigned to nobody

[2020-12-30 09:00] perrynzhou opened #1958 "is deprecated on rdma feature?"
@all @xhernandez @amarts @BarakSason @mohit84 @tshacked @csabahenk @pranithk hello everyone, is rdma already deprecated ,why deprecated features?if i deployment on ssd and glusterfs running on ib network,we need rdma support in glusterfs.  some discuss about rdma details such as https://github.com/gluster/glusterfs/issues/692 . we want to build hot with high iops glsuter storage(using nvme or ssd)

[2020-12-30 09:34] mykaul commented on #1958
Please contribute tests and equipment to revive direct RDMA support. Otherwise, we cannot maintain its quality.
Note that you can use IPoIB.

BTW, it was deprecated in Gluster 6. It was announced more than 2 years ago (see https://lists.gluster.org/pipermail/gluster-users/2018-July/034400.html )

[2020-12-30 09:34] #1958 closed, assigned to nobody

[2020-12-30 10:24] Mohammed-Ashour opened #1959 "Broken links in the 2 replicas split-brain-issue - [Bug][Enhancement]"
**Description of problem:**

**The exact command to reproduce the issue**:
When removing a brick from a 3 replica volume and making it into a 2 replica volume
`sudo gluster volume remove-brick data-shared replica 2 <HSTNAME>:<VOLUME-DIR>`

**The full output of the command that failed**:
you will get a msg with this brocken link : http://docs.gluster.org/en/latest/Administrator%20Guide/Split%20brai

[2020-12-30 10:55] #732 closed

[2020-12-30 13:07] dmantipov opened #1960 "Add missing LOCK_DESTROY() calls"
Add missing LOCK_DESTROY() calls in __event_slot_dealloc() and rbthash_table_destroy().

[2020-12-30 13:55] tangyla opened #1962 "gfapi: glfs_fini fucntion consume more time reusult in qemu create image or start vm slow"
OS Version:
CentOS Linux release 8.2.2004 (Core)

libvirt version:
4.5.0

qemu version:
version 2.12.0 / 4.2.0 / 5.2.0

glusterfs version:
glusterfs 7.8

volume type:
 Replicate

create image slower than glusterfs 4.1 and before verison;
with glusterfs 4.1 create image consume abount 5 seconds,
with glusterfs 7.8 or 8 version sonsume abount 23 seconds;

accordance debug, the 'glfs_fini' function c

[2020-12-30 14:04] tangyla opened #1963 "gfapi: program with gfapi, if program entering debug, gfapi hang"
**Description of problem:**
program with gfapi, if program entering debug, gfapi hang up

use gdb step debug, the ‘glfs_fini’ function will hang, also glfs_creat/glfs_lseek/glfs_close and so on.

**Additional info:**
compile command
gcc -Wall -ggdb3 -c gfapi.c && gcc -o gfapi gfapi.o -lgfapi

</details>
the test code is follow:

[code]

[2020-12-30 22:23] casasfernando commented on #1766
I just hit this issue today after upgrading from Gluster 5.5 to 8.0.
Same errors in the logs, and geo replication between clusters is broken.

[code]

My scenario:

- Three node cluster using replicated volumes geo-replicated to two different remote clusters (single node) using distributed volumes just for backup/DR reasons.
- All the nodes in all the clusters are running Debian 10 (Buster) and Gl

[2020-12-30 23:00] casasfernando commented on #1766
I found this commit that may be related: https://github.com/gluster/glusterfs/commit/06eb3d0b8488d12a92ea21b92727497c585bae4b

Maybe I'm missing this virtual xattr from my volumes? Is it possible to manually create it?

[2020-12-31 04:15] #1959 closed, assigned to nobody

[2020-12-31 07:54] #1949 closed, assigned to nobody

[2020-12-31 13:27] rkothiya opened #1965 "Performance regression seen in large file random write test on replica volume for glusterfs-9.0 rc0"
Large file test on replica volume shows performance regression in comparison to release-8.0 as shown below :
[code]

[2020-12-31 15:27] casasfernando commented on #1766
After more digging I found this other commit that at least in my scenario sounds like it can potentially fix it: https://github.com/gluster/glusterfs/commit/260e9765d698702fb9852db8c5d73d0148a5b17d

Unfortunately as far as I can tell this was only merged to devel.

@mohit84, @itisravi will this be included in the next Gluster 8 release?
Is there any workaround in the meantime beyond the ones menti

[2020-12-31 17:04] mykaul opened #1966 "Can't print trace details due to memory allocation issues"
gf_print_trace() is calling gf_dump_config_flags() which is calling gf_asprintf(), which is calling GF_MALLOC() that might fail for various reasons and thus we may not get a nice trace, just a loop of failures.

The offending line is:
[code]

I suspect we could replace all that with:
[code]

[2021-01-04 04:37] itisravi commented on #1766
@casasfernando Yes, I'll send the back port.

[2021-01-04 07:46] mykaul commented on #904
Additional notes:
1. It seems most xlators are inited with an extra, unused type. Example:
[code]
there's no need for the +1 there.

2. As leftovers from the RDMA removal, all those common ones can be removed:
[code]

3. There are probably other common ones that can be removed as well.

[2021-01-04 08:47] casasfernando commented on #1766
These are great news. I’ll be looking forward the next Gluster 8 release.
Thanks.

[2021-01-05 05:36] mohit84 commented on #1965
I will try in my environment and update.

Thanks,
Mohit Agrawal

On Thu, Dec 31, 2020 at 6:57 PM Rinku Kothiya <notifications@github.com>
wrote:

[2021-01-05 06:59] #1707 closed, assigned to rkothiya

[2021-01-05 07:09] httaotao opened #1971 "The heal speed is very slow with Glusterfs7.5"
**Description of problem:**
These day, when I used `replca-brick` to change a volume brick into another node. then the heal speed was very slow  and it was  only around  `100kb/s` .

The replaced command was
[code]

Then I changed the param `cluster.data-self-heal-algorithm: diff`, it could improve the speed. however, it did not reach the real ideal speed which was around `8 MB/s`, If  I used `scp

[2021-01-05 10:33] rkothiya commented on #1965
When tested again with baseline 8.3 we see the same thing again :
[code]

[2021-01-05 10:34] pranithk commented on #1965
@rkothiya Could you post the profile infos in both versions?

[2021-01-05 13:05] mohit84 commented on #1965
Hi,

 I have checked the generated profile data, i have not found anything
suspicious specific to performance degradation.

Thanks,
Mohit Agrawal

On Tue, Jan 5, 2021 at 4:16 PM Mohit Agrawal <moagrawa@redhat.com> wrote:

[2021-01-05 15:15] baldmaggots commented on #1937
We updated the hosts to CentOS package glusterfs-7.8-1.el7.x86_64, but unfortunately a similar problem occured last night.  No crash dump like previously, this time just

mnt-gluster-ssd[1424]: pending frames:
mnt-gluster-ssd[1424]: frame : type(1) op(READDIRP)
mnt-gluster-ssd[1424]: frame : type(1) op(LOOKUP)
mnt-gluster-ssd[1424]: frame : type(1) op(LOOKUP)

And then some errors from other daemo

[2021-01-05 15:23] asbai opened #1973 "Failover the Brick in a distributed volume"
In our test case, there are two Brick servers A (10.10.1.1) and B (10.10.1.2). A and B are connected to a shared storage device (hardware RAID or DRBD) at the same time.

We created a volume:
[code]

Normally, Node A is responsible for serving 10.10.1.1:/gluster/brick1, and Node B is responsible for 10.10.1.2:/gluster/brick2. At this time gluster can work well.

However, we encountered a problem w

[2021-01-05 15:30] mykaul commented on #1937
Nothing in the journal log as well?
Y.

On Tue, Jan 5, 2021 at 5:16 PM evenstephen71 <notifications@github.com>
wrote:

[2021-01-05 16:01] pranithk commented on #1937
Logs above indicate that it was a crash. Could you attach the complete log of the crash?
Example:
package-string: glusterfs 7.3 /lib64/libglusterfs.so.0(+0x277ff)[0x7f1e2a13d7ff]/lib64/libglusterfs.so.0(gf_print_trace+0x334)[0x7f1e2a148234]
/lib64/libc.so.6(+0x363b0)[0x7f1e2877e3b0]
/lib64/libpthread.so.0(pthread_mutex_lock+0x0)[0x7f1e28f82cc0]
/lib64/libglusterfs.so.0(inode_ref+0x19)[0x7f1e2a14e8

[2021-01-05 17:41] asbai commented on #1973
We found that we can use the `glutser volume remove-brick` and `glutser volume add-brick` commands with parameters `force --mode=script` to achieve a brick failover.

For example, when the node A has offline (network partition). The following commands will be automatically executed on it:
[code]

_**After**_ this, the following commands will be automatically executed on node B:
[code]

After compl

[2021-01-05 17:59] #752 closed

[2021-01-06 00:59] perrynzhou commented on #1971
@httaotao
- 1.can you provide details about volume info.such as volume info(exec 'gluster volume info')?
- 2.what's workload for your application?
- 3.is many small files in your volume?

[2021-01-06 01:20] perrynzhou commented on #1973
@asbai  when you create 'create myvol',glusterd will persistent node ip and node uuid to /var/lib/glusterd/peers .when you used vip ,if node a crash,even even though vip assign to node b,but glusterfs  already store mapping relation for node a and node b.that can't change.

[code]

[2021-01-06 01:52] httaotao commented on #1971
thanks for answer. @perrynzhou
1. I showed the `gluster volume info and status` details.
2.  all the node's load average are very low.  In  each node, there are 64 cpus and 128GB memory. But the `top` command with the load average was around `7~10`.
3.  No, most of the file are more than  500MB, some of them are more than 1GB.

In the Node 21 was the new replaced-brick,  I used `pidstat` to get so

[2021-01-06 03:14] dmezh commented on #950
Could this still be looked into? I think it would be extremely valuable to have.

[2021-01-06 05:23] rkothiya commented on #1965
[fuse-largefile-profile-iozone-release-8.zip](https://github.com/gluster/glusterfs/files/5774030/fuse-largefile-profile-iozone-release-8.zip)
[fuse-largefile-profile-iozone-release-9.zip](https://github.com/gluster/glusterfs/files/5774031/fuse-largefile-profile-iozone-release-9.zip)

[2021-01-06 05:31] schaffung commented on #950
Hi @dmezh . This sounds like an interesting addition. I'll try to look into it and update the same.

[2021-01-06 12:55] rkothiya opened #1975 "Corefile generated intermittently while executing remove-brick-testcases.t"
**Description of problem:**
Corefile generated intermittently while executing remove-brick-testcases.t

**The exact command to reproduce the issue**:

[code]

**The full output of the command that failed**:
Search for "Start printing backtrace" in the below logs:
[ci regression logs](https://build.gluster.org/job/gh_centos7-regression/583/consoleFull)

**Expected results:**
Test should pass

**Man

[2021-01-06 12:57] rkothiya commented on #1975
will upload the core file shortly

[2021-01-06 13:22] rkothiya commented on #1975
[centos7-regression.zip](https://github.com/gluster/glusterfs/files/5775963/centos7-regression.zip)

[2021-01-06 13:24] mykaul commented on #1975
Usually there's a nice stack trace on the regression run. Copying-pasting here might be beneficial to future searches.

[2021-01-06 14:06] asbai commented on #1973
Hi @perrynzhou thanks for your reply, so is it safe enough to failover the brick through remove and re-add it to the volume as above?

[2021-01-06 14:37] karthik-us opened #1977 "Inconsistent locking in presence of disconnects"
Problem:
Gluster not handling locks correctly for Tibco EMS.

Sequence of events:
1. Client 1 takes a lock on a file on volume dis-rep which is locally fuse mounted to the client.
2. Client 1 goes offline.
3. Client 2 takes the lock from now defunct Client 1.
4. Client 1 comes back online and is able to acquire a lock while the file is already locked by Client 2.

This is the clone of bug https://

[2021-01-06 15:05] rkothiya commented on #1975
Pasting the back trace from the ci :
[code]

[2021-01-07 03:26] perrynzhou commented on #1973
@asbai  yes.remove-brick must be finish success that means all data alerady assgin to other brick

[2021-01-07 03:31] perrynzhou commented on #1971
@httaotao  tuning `server.event-threads ` and `client.event-threads` . at same time,open dir operation relation parameters. is iouril  too high for disk?

[2021-01-07 03:32] perrynzhou commented on #1971
@httaotao you can execute `gluster volume set help |grep dir" to search tuning parameter

[2021-01-07 03:33] mohit84 opened #1978 "test case ./tests/bugs/core/bug-1432542-mpx-restart-crash.t is getting crashed"
The test case ./tests/bugs/core/bug-1432542-mpx-restart-crash.t is getting crashed at the time of detaching a brick.
The brick process is getting crashed because there is a race condition to send a disconnect on rpc associated with
victim brick and handling GF_EVENT_CLEANUP for the victim brick.

....
....
Thread 31 (Thread 0x7fa0ec435700 (LWP 1769679)):
#0  futex_abstimed_wait_cancelable (private

[2021-01-07 06:53] httaotao commented on #1971
I set `server.event-threads ` and `client.event-threads` into 8. By the way, I also set `cluster.readdir-optimize  on`, it can reduce the cpu load and reduce the IO too.  I think the IO is not too high for disk.

[code]
By the way, I used command `perf record -g -p xxx` to record the info.
[code]

[2021-01-07 06:55] httaotao commented on #1971
@perrynzhou   thanks for answer, I don't know what's the `native_queued_spin_lock_slowpath`  in perf report. maybe there are a lot of lock?

I also set the `ulimit `
[code]

it can't  help a lot , I think `gluster  volume heal` function can use memory to improve speed.

[code]
I found that the tcp link number was not large, Could I set the `network.tcp-window-size` to improve the speed ?
This is t

[2021-01-07 07:52] mohit84 commented on #1963
Hi,
I have tried to reproduce same on glusterfs-7 version on local vm, i am not facing any issue.

/usr/local/sbin/gluster --version
glusterfs 7.8
Repository revision: git://git.gluster.org/glusterfs.git
Copyright (c) 2006-2016 Red Hat, Inc. <https://www.gluster.org/>
GlusterFS comes with ABSOLUTELY NO WARRANTY.
It is licensed to you under your choice of the GNU Lesser
General Public License, vers

[2021-01-07 08:02] mykaul commented on #1052
unstale

[2021-01-07 09:44] tangyla commented on #1963
**direct execute gfapi not hanged. test this like fellow:**

[root@node0 gfapi]# gdb gfapi
GNU gdb (GDB) Red Hat Enterprise Linux 8.2-11.el8
Copyright (C) 2018 Free Software Foundation, Inc.
License GPLv3+: GNU GPL version 3 or later <http://gnu.org/licenses/gpl.html>
This is free software: you are free to change and redistribute it.
There is NO WARRANTY, to the extent permitted by law.
Type "show

[2021-01-07 09:47] tangyla commented on #1963
other gfapis when debug program has same problem, e.g: glfs_fini/glfs_seek and so on.

[2021-01-07 09:49] mohit84 commented on #1963
Please share "thread apply all bt full " and brick logs also at the same time.

[2021-01-07 09:52] tangyla commented on #1963
(gdb) n
11	    fd = glfs_creat(glfs, "test.qcow2", O_WRONLY | O_CREAT | O_TRUNC, S_IRUSR | S_IWUSR);
(gdb)
^C
Thread 1 "gfapi" received signal SIGINT, Interrupt.
0x00007ffff5e6f48c in pthread_cond_wait@@GLIBC_2.3.2 () from /lib64/libpthread.so.0
(gdb) thread apply all bt full

Thread 10 (Thread 0x7fffee2b2700 (LWP 23164)):
#0  0x00007ffff78db1b7 in epoll_wait () from /lib64/libc.so.6
No symbol tab

[2021-01-07 09:52] asbai commented on #1973
Ok, thanks!

According to my understanding, using the `force` parameter to remove and re-add a brick will not trigger time-consuming operations such as re-balance?

At the same time, the DHT Hash value of all the directories on the re-added brick will not change, so this remove and re-add operation will not affect the performance of the GlusterFS file system, right?

[2021-01-07 09:56] tangyla commented on #1963
[root@node0 bricks]# truncate --size -0 virtstack-storage-disk-datastore.log;tail -f virtstack-storage-disk-datastore.log
[2021-01-07 09:42:09.520186] I [addr.c:54:compare_addr_and_update] 0-/virtstack/storage/disk/datastore: allowed = "*", received addr = "172.16.88.30"
[2021-01-07 09:42:09.520227] I [login.c:110:gf_auth] 0-auth/login: allowed user names: ddf8d1fc-6bd7-4e5b-a791-25d11479fe50
[202

[2021-01-07 09:57] tangyla commented on #1963
if need any other info,please tell me.

[2021-01-07 09:59] tangyla commented on #1963
https://github.com/gluster/glusterfs/issues/1962

[2021-01-07 10:07] tangyla commented on #1963
another problem described with issues: https://github.com/gluster/glusterfs/issues/1962

gfapi library cleanup **glfs_fini** function consume about 11 seconds without any opertations, this function result in libvirt create qemu(build with gfapi) vm or image which storage backend glusterfs and use gfapi not mouned fuse very slow, start vm which have two image need about 1 minute.

[2021-01-07 10:09] rkothiya commented on #1965
I re ran the test with Release-9, the below table has Release-9 data updated. It seems that this time I was not able to reproduce the problem.

[code]

[2021-01-07 10:13] mohit84 commented on #1965
@pranithk
Please update if you find something in profile otherwise we close an issue.

[2021-01-07 10:17] tangyla commented on #1963
(gdb) n
11	    fd = glfs_creat(glfs, "test.qcow2", O_WRONLY | O_CREAT | O_TRUNC, S_IRUSR | S_IWUSR);
(gdb)
^C
Thread 1 "gfapi" received signal SIGINT, Interrupt.
0x00007ffff5e6f48c in pthread_cond_wait@@GLIBC_2.3.2 () from /lib64/libpthread.so.0
(gdb) thread apply all bt full

Thread 10 (Thread 0x7fffee2b2700 (LWP 23164)):
#0  0x00007ffff78db1b7 in epoll_wait () from /lib64/libc.so.6
No symbol tab

[2021-01-07 10:42] pranithk commented on #1965
Good. I was going to request a re-run because the following numbers are just not right for release-8(120 seconds!!):
sequential-write-rewrite-profile-fuse-large-file-test-run4.txt:     18.84 61925744.73 us 20646120.88 us 122716334.28 us              8       FSYNC
sequential-write-rewrite-profile-fuse-large-file-test-run4.txt:     88.73 63195874.79 us 23037142.25 us 122868420.59 us              8

[2021-01-07 10:51] mohit84 commented on #1963
As per backtrace it seems lookup is stuck, Can you please share below info
1) gluster v info
2) set highest log level and logfile name in glfs_set_logging api in your c program and share the log file.
For ex
ret = glfs_set_logging(glfs, "/var/log/glusterfs/gfapi.log", 9);
3) Generate brick statedump, to generate brick statedump send SIGUSR1 signal to the brick process , it will generate statedump

[2021-01-07 10:52] mykaul commented on #1965
120 seconds hints that there was a hung task in the kernel... worth reviewing kernel logs (hopefully we collect them).

[2021-01-07 11:05] pranithk commented on #1965
But release-8 performed better in that run. I am of the opinion that maybe profile info has a bug.

[2021-01-07 11:06] pranithk commented on #1965
Let's look at the kernel logs too, just to be complete.

[2021-01-07 11:18] tangyla commented on #1963
**1. volume info**
[root@node0 ~]# gluster v info datastore

Volume Name: datastore
Type: Replicate
Volume ID: 040a6510-ccfc-4406-ae63-db93456cb330
Status: Started
Snapshot Count: 0
Number of Bricks: 1 x 2 = 2
Transport-type: tcp
Bricks:
Brick1: node0:/virtstack/storage/disk/datastore
Brick2: node1:/virtstack/storage/disk/datastore
Options Reconfigured:
transport.address-family: inet
storage.fips-

[2021-01-07 11:21] #1261 closed

[2021-01-07 11:21] #1265 closed

[2021-01-07 11:40] mohit84 commented on #1965
I think time is showing in nanosecond that has been changed recently by this patch https://github.com/gluster/glusterfs/pull/1833

Thanks to @itisravi for giving a pointer.

@vatsa287
  Please change microsec(us) to nanosecond(ns) in cli profile also to show the latency elapsed.

[2021-01-07 11:52] mohit84 commented on #1965
The new patch(https://github.com/gluster/glusterfs/pull/1833) merged only in release-9 , release-8 timestamp value is correct microsecond.

@rkothiya
Can you generate/share kernel logs for release-8 while running a iozone test case for sequential-write-rewrite.

[2021-01-07 12:08] Shwetha-Acharya commented on #1295
Closing this issue as it is solved downstream for RHEL 7 and RHEL 8

[2021-01-07 12:08] #1295 closed

[2021-01-07 13:55] mykaul opened #1981 "Reduce posix_fdstat() calls in IO paths"
- [ ] posix_do_fallocate() - called unconditionally even though it is only used if the cloudsync feature is enabled.
- [ ]  posix_do_zerofill() - called unconditionally even though it is only used if the cloudsync feature is enabled.
- [ ]  posix_seek() - called unconditionally even though it is only used if the cloudsync feature is enabled.
- [ ]  posix_open() - called unconditionally even though

[2021-01-07 14:21] rkothiya opened #1982 "Corefile generated intermittently while executing bugs_core_multiplex-limit-issue-151.t"
**Description of problem:**
Corefile generated intermittently while executing bugs_core_multiplex-limit-issue-151.t

**The exact command to reproduce the issue**:
[code]

**The full output of the command that failed**:
Search for "Start printing backtrace" in the below logs:
[ci regression logs](https://build.gluster.org/job/gh_centos7-regression/589/console)

**Expected results:**
Test should pas

[2021-01-07 14:27] rkothiya commented on #1982
[gh_centos7-regression-589.zip](https://github.com/gluster/glusterfs/files/5782112/gh_centos7-regression-589.zip)

[2021-01-08 04:26] mohit84 commented on #1963
Can you please share latest c program along with terminal output, i want to see why a log file has not generated.
I hope the directory location of the logfile is exist.

[2021-01-08 04:47] httaotao opened #1983 "Glusterfs client should not read data from "replaced" brick while cluster is healing."
hello every, I found a phenomenon that  some file's reading speed was very slow while cluster was healing. Becase these files were not completed in the new  replaced brick node. But when I used client to read , maybe the client would read from this brick.
For example:
[code]
Then the gluster cluster was healing. If I want to read a file.But this bag was not completed in node11
[code]
the  clien wo

[2021-01-08 09:36] #1116 closed

[2021-01-08 10:19] tangyla commented on #1963
sorry @mohit84  I have  a mistake, after set log level 9, reset log level 4 and log file /dev/stderr, below is new code.

`#include <time.h>
#include <stdlib.h>
#include <stdio.h>
#include <fcntl.h>
#include <glusterfs/api/glfs.h>

int create_file(struct glfs* glfs) {
    int ret;
    int64_t current_length;
    struct glfs_fd* fd = NULL;
    fd = glfs_creat(glfs, "test.qcow2", O_WRONLY | O_CREAT

[2021-01-08 10:19] #1978 closed, assigned to nobody

[2021-01-08 10:20] tangyla commented on #1963
this is new log and dump status

**1. volume info**

[root@node1 ~]# gluster volume info datastore

Volume Name: datastore
Type: Replicate
Volume ID: 040a6510-ccfc-4406-ae63-db93456cb330
Status: Started
Snapshot Count: 0
Number of Bricks: 1 x 2 = 2
Transport-type: tcp
Bricks:
Brick1: node0:/virtstack/storage/disk/datastore
Brick2: node1:/virtstack/storage/disk/datastore
Options Reconfigured:
trans

[2021-01-08 10:31] #1380 closed

[2021-01-08 13:14] kalebskeithley opened #1985 "Use fuse3/fuse3-devel where available, instead of fuse/fuse-devel"
**Description of problem:**

Fedora has had fuse3 since fedora-28. RHEL9 engineering says they recommend the use of fuse3 and the latest rhel9 snapshots have dropped fuse-devel from the repos (BaseOS, CRB, AppStream, but that is not necessarily conclusive at this point in time.) Fedora ELN does not seem to have dropped fuse-devel, not yet anyway.  RHEL7 and RHEL8 do not have it.

Debian buster and

[2021-01-08 18:53] #1268 closed

[2021-01-08 18:53] #1269 closed

[2021-01-09 10:11] #1898 closed, assigned to schaffung

[2021-01-09 10:25] #1271 closed

[2021-01-09 17:06] #1131 closed

[2021-01-09 21:04] nheine commented on #1301
@gloomytrousers what version of GlusterFS do you run on Raspberry Pi. the armhf packages are only version 5.5-3 Is there a repository for latest versions of GlusterFS on Rapsberry Pi?

[2021-01-10 01:51] Legogris commented on #1301
32-bit hasn't been supported in a long, long time by now. If you run 64 bit linux kernel and userspace you usually have it in distro repos.

[2021-01-10 09:32] nheine commented on #1301
I figured the testing sources on raspbian armhf have gluster 8.3.1 included

[2021-01-10 09:32] nheine commented on #1301
I figured raspbian testing sources have armhf gluster 8.3-1 included

[2021-01-10 12:08] gloomytrousers commented on #1301
@nheine there are packages for arm64 up to v7.5 on https://download.gluster.org/pub/gluster/glusterfs/.

[2021-01-10 14:34] ggogel commented on #1113
I'm currently investigating an issue with the mediaserver app jellyfin, which is directly affected by this issue, because it relies on mandatory-locking optimal. I'm cross posting my observations [from slack](https://gluster.slack.com/archives/CH9M2KF60/p1610288650344000) for reference:

I commenced testing. I've found out through the gluster mailing list that locks.mandatory-locking optimal is ne

[2021-01-10 19:48] ggogel commented on #1113
A small follow up:
In the current version jellyfin executes a "VACUUM" command on start up, which essentially rewrites the whole database to remove fragmentation. So this is a pretty good benchmark for sqlite write performance I guess 😄

[2021-01-11 04:47] mohit84 commented on #1963
Hi,

Thanks for sharing the log, i have not found any issue in logs .
Actually I missed your initial comment, gfapi program is hanging only while running with gdb,
gdb does not work well with syncop so it is expected behavior.

Thanks,
Mohit Agrawal

[2021-01-11 06:04] itisravi commented on #1251
Closing the issue since patch is merged. @aspandey Feel free to re-open in case you are back-porting the fix.

[2021-01-11 06:04] #1251 closed

[2021-01-11 06:06] itisravi commented on #1885
Planning to look at this during the internal hackathon.

[2021-01-11 06:07] itisravi commented on #504
Planning to look at this during the internal hackathon.

[2021-01-11 06:08] itisravi commented on #1143
Might look at this during the internal hackathon.

[2021-01-11 07:04] #1423 closed

[2021-01-11 08:31] #1966 closed, assigned to rkothiya

[2021-01-11 08:42] jicki opened #1986 "0-glusterfs-fuse: writing to fuse device failed: No such file or directory"
error
[code]

[2021-01-11 09:21] perrynzhou opened #1987 "how to change number of threads for glfs_iotwr ?"
@xhernandez @amarts @BarakSason @mohit84 @tshacked @csabahenk @pranithk @itisravi  is any way to change  number of threads for   glfs_iotwr threads in glusterfsd?we i has write big file(800MB) to glusterfs,but i found  only two  glfs_iotwr  thread,i want to change that thread count to bigger,how to tuning number of glfs_iotwr   threads? when i change performance.io-thread-count to 32,  the number

[2021-01-11 09:23] perrynzhou commented on #1986
@jicki  that seem's kernel module of fuse crash,you just can remount that.i want to know what's workload for your app?

[2021-01-11 09:58] mykaul commented on #1987
performance.io-thread-count I believe is what you are looking for?

[2021-01-11 10:05] perrynzhou commented on #1987
@mykaul  i just want to add glfs_iotwr threads,i find function such as, gluster volume set rep-vol performance.io-thread-count 17 just change conf->max_count,i want to create glfs_iotwr thread.there is no any function to create new glfs_iotwr thread in reconfigure.how to performance.io-thread-count  for create new glfs_iotwr thread on glusterfsd?

- io-threads.c reconfigure
[code]

[2021-01-11 10:10] mohit84 commented on #1987
I think you want to increase the iot_worker thread count for client and by default for client iot is off. You have to enable this option performance.client-io-threads. The drawback of this option is for client it will try to handle more fop request for every client so in case while internal client(shd) is having huge data in that case the option can slow the main client fop request .

[2021-01-11 10:13] perrynzhou commented on #1987
### @mohit84  we want to change iot_worker for write data  on glusterfsd,not on glusterfs client. when i debug glusterfsd ,i found performance.io-thread-count works on glusterfsd not glusterfs client

[2021-01-11 10:23] mohit84 commented on #1987
For server it should work, what is the test case you are trying, Can you specify about your test case?
Is your client writing data in multiple threads?

[2021-01-11 10:26] perrynzhou commented on #1987
@mohit84 ,i write data to glusterfs client, then change performance.io-thread-count  to bigger(32),but glfs_iotwr threads still keep two on glusterfsd process.i debug glusterfsd, found there not call __iot_workers_scale on io-threads.c:reconfigure that function  just to be call  in init fucntion for io threads xlator

[2021-01-11 10:33] opinionhuh opened #1990 "Removed file stuck in unlink directory for many hours"
**Description of problem:**
Removing a file results it in being moved to the bricks unlink directory. Usually it can take from 2 to 6 hours (sometime more) before the file is gone, and the allocated space is freed.

We took a statedump and could see that the links were set to -2 for the removed file.
I believe this issue is caused by bitrot, because when it's disabled, the issue can't be reproduce

[2021-01-11 11:03] mykaul commented on #1923
I think I understand where it's coming from. The idea is that the current structure is 32 bytes long (incl. padding):
[code]

And with additional 8 ints, we get a complete cacheline.
1. That makes sense, to align on cache lines.
2. For small allocations, that can fit into the cachline entirely, it's very wasteful.
3. In debug, where we have acct_list added (additional 16 bytes), it won't work corr

[2021-01-11 11:10] itisravi commented on #1990
@opinionhuh
1. Do you still have any active fds opened on the file when you perform the unlink?
2. Can you share the statedump output? Wanted to understand which links section you are referring to in the statedump.

[2021-01-11 11:42] tangyla commented on #1963
Hi @mohit84
Thanks your patient explanation;
did have gluster volume property or gdb property set to avoid gfapi hang up?
future will repair syncop make it can work well with gdb?

Recently, I developing  high availability VM, using qemu as hypervisor and glusterfs as storage backend.
beacuse qemu/block/gluster layer need mutli opened gluster volume and close volume and image,
the cleanup funciton

[2021-01-11 12:20] perrynzhou commented on #1987
@mohit84  if we change   performance.io-thread-count  to 32, function for reconfigure did't call  __iot_workers_scale to increase or sub glfs_iotwr threads, that seems need a function for  checking glfs_iotwr threads  and increase/sub threads dynamic.

[code]

[2021-01-11 12:41] opinionhuh commented on #1990
@itisravi
1. No active user file descriptors. Though when the file is removed, and moved by gluster to the unlink directory, gluster has open file descriptor for it.
COMMAND     PID USER   FD   TYPE DEVICE  SIZE/OFF NODE NAME
  glusterfs 23702 root  279r   REG  253,6 209715200  486 /var/log/gf_test_volume/.glusterfs/unlink/14f08f9c-0d1f-473a-9221-2dc36fa8c612

2. [conn.0.bound_xl./var/log/gf_test_

[2021-01-11 13:26] itisravi commented on #1990
Interesting. The brick usually doesn't send the file to the .glusterfs/unlink folder unless there is an fd referencing the file. Let me try to re-create it and update you.

[2021-01-11 14:39] spuiuk opened #1991 "mdcache: bug causes getxattr() to report ENODATA when fetching samba xattrs"
**Description of problem:**

We have been testing samba with the nightly glusterfs as a backend. The test involves running a smbtorture test which sets a DOS attribute on the file. This is done by setting the user.DOSATTRIB xattr on the file. There appears to be a bug which results in the mdcache returning -1 ENODATA for a fgetxattr call.

user.DOSATTRIB is one of those xattrs which are cached by

[2021-01-11 14:42] spuiuk commented on #1991
[glfs_mdcache_test.c.gz](https://github.com/gluster/glusterfs/files/5796330/glfs_mdcache_test.c.gz)

[2021-01-11 15:02] amarts commented on #1990
@itisravi if you see, the fd-count and active-fd-count is 1 in statedump. So your observation is correct. But the question is, if user is not having fd open, who is?

[2021-01-11 15:15] tshacked opened #1992 "dht: var decommission_subvols_cnt becomes invalid when config is updated during decommission"
**Description of problem:**
Each configuration update on the client-side while decommissioning is running increments ` int decommission_subvols_cnt;`
Problem detected while working on #1918

**The exact command to reproduce the issue**:
1) create/start/mount the volume
[code]
2)  remove subvol1 and wait for the operation to complete
[code]
3) option decommissioned-bricks is parsed by the client
[c

[2021-01-11 16:36] vh05 opened #1993 ""shard-lru-limit" is putting a limitation on the number of shards"
Brief description:

Default values of
1. shard-lru-limit = 16384
2. shard-block-size = 64MB

What we have observed is, with 1TB disk size, we see disk allocation works absolutely fine because 1TB file will yield 1TB/64MB = 16384 number of shards which is same as shard-lru-limit (16384).

Problem observed when we created a disk of size >= 2.5TB. In this case, when we cross inode_count > 16384, the

[2021-01-11 16:41] vh05 commented on #1993
@mykaul @xhernandez Please suggest

[2021-01-11 17:16] mykaul commented on #1993
What will happen if we use bigger shards? 2TB disks (and above) are rare, I would not optimize for the use case if we can solve with bigger shards.

Regards, large inode tables should be handled better

[2021-01-12 00:14] vh05 commented on #1993
For bigger files > 1TB, we can reconfigure shard size dynamically specific to those files when the IO comes. What we can do is we can check the fallocate size and reconfigure shard-size only for it. This won't affect other files and default shard-size. The bigger shard-size is applicable only to this big file. So that the specific use cases like files > 1TB are handled without much code changes

[2021-01-12 02:25] mohit84 commented on #1987
We don't call iot_worker_scale at the time of reconfigure,  there is no benefit spawn a thread if sufficient jobs are not available in queue.The thread scaling happens based on the difference of number of jobs available in the queue and current running threads at the time of enqueue a job in the function do_iot_schedule.

[2021-01-12 02:27] #1925 closed, assigned to nobody

[2021-01-12 02:59] vh05 commented on #1993
We had a discussion on similar lines in https://github.com/gluster/glusterfs/issues/1420

The reason behind opening up the same concern is the limitation what shard-lru-limit causing problems.

I will post a sample patch for your reference.

[2021-01-12 03:23] mohit84 commented on #1981
We need to call posix_fdstat  for the posix_do_fallocate and posix_do_zerofill fops because these fops returns prestat buffer at the time of unwind results, rest of the fops (posix_seek, posix_open, posix_readv) it is not required.

[2021-01-12 04:14] itisravi commented on #1990
It appears to be bitrot client. When I enable bitrot, the brick has an fd open on the gfid handle. When I killed  `bitd` (`scrubd` was still running), the fd was closed and the file disappeared from .glusterfs/unlink on the bricks.  Need to check how often bitd/scrubd opens the file and if we can somehow close the fd for files that have been deleted from the mount.

[2021-01-12 04:20] itisravi commented on #1415
Closing since the patches have been merged.

[2021-01-12 04:20] #1415 closed

[2021-01-12 04:24] itisravi commented on #1349
Patch was merged.

[2021-01-12 04:24] #1349 closed

[2021-01-12 04:25] itisravi commented on #1307
Patch merged.

[2021-01-12 04:25] #1307 closed

[2021-01-12 04:28] itisravi commented on #1179
Patches have been merged.

[2021-01-12 04:28] #1179 closed

[2021-01-12 04:29] vh05 commented on #1993
The patch is doing nothing than just changing the shard-block-size and changes the block-size on the fly when the number of shards which are going to be created > priv->lru_limit

[2021-01-12 04:29] itisravi commented on #1303
Patches merged already.

[2021-01-12 04:29] #1303 closed

[2021-01-12 05:18] vh05 opened #1996 "Analyze if spinlocks have any benefit and remove them if not"
Glusterfs currently support spinlocks and mutexes. It's not quite understandable to that if spinlocks have any advantage on user mode when running more threads than cores regularly and threads themselves don't run at high priority. If they don't really provide any benefit, we should remove them and simplify locking macros.

[2021-01-12 05:32] itisravi commented on #1996
With commit ac248c86c1ffae4895c3589806a13064e0029631, spinlocks were made to be enabled on multi core systems only, so not sure if we need to remove them.

[2021-01-12 06:31] vh05 commented on #1996
Thanks, Ravi for the input.

The concern is why we need to use spin_locks when the job can be done using mutex.
The places where we used spin_locks
1. do not share the context with interrupts
2. priority is not a problem
3. the code under spin_lock is going to take more time than the context switch
4. The code may go to sleep

ex: aws_init() in cloudsync, doing dict_get holding a priv->spin_lock.

[2021-01-12 06:43] itisravi commented on #1996
@VHariharmath-rh  I agree that mutexes are better than spinlocks in general. I was only saying that if you run tests on a multi core system (which is pretty much all machines), it already uses mutexes (because of the above patch). So I was wondering how you were planning to analyse the performance difference.

[2021-01-12 06:58] vh05 commented on #1996
According to the patch, on multicore systems, the spin_locks are used by default, Am I missing anything?

I am thinking to do it in 2 phases.
1. analyze and replace explicit declarations spin_lock with mutex. (maybe gf_lock_t)
2. The macros LOCK and UNLOCK (introduced in the patch) made to use mutex default if spin_locks found to be not necessary.

With these changes, I collect the numbers running

[2021-01-12 07:03] aspandey opened #1999 "Check return value of page_size and consider page_size in __iobuf_pool_add_arena"
While going through code to implement #286, I found few bugs and thought of addressing hose bug with separate issue.
1 - Not checking negative page_size while calling gf_iobuf_get_pagesize
2 - Not taking page_size under consideration while unpruning the arena using __iobuf_arena_unprune

[2021-01-12 07:04] itisravi commented on #1996
Ah sorry, my bad. I got it mixed up. The steps makes sense.

[2021-01-12 07:16] perrynzhou opened #2000 "RDMA support discussion"
@mohit84  @xhernandez @amarts @BarakSason @mohit84 @tshacked @csabahenk @pranithk Fa general-purpose distributed storage needs to support RDMA  Facing future hardware, such as nvme or ssd. Our team can support the function of rdma and bug fixed.

[2021-01-12 07:18] amarts commented on #2000
This is good news! Happy to establish the support back if there are patches coming in.

Steps needed:

1. revisit the previously existing rdma code
2. if working fine, do git add and bring them back
3. provide documentation on how to choose options
4. Also provide information on which kernel, which driver worked fine in the tests.

Very happy if there is some work done on this.

[2021-01-12 07:19] mohit84 commented on #2000
Thanks for provide your support.

[2021-01-12 07:45] leelavg opened #2001 "Error handling in /usr/sbin/gluster-eventsapi produces AttributeError: 'GlusterCmdException' object has no attribute 'message'"
**Description of problem:**
On invoking `GlusterCmdException` the error is malformed with incorrect attributes

**The exact command to reproduce the issue**:
1. Remove /var/lib/glusterd/events folder from one of the nodes
2. Perform `gluster-eventsapi webhook-add http://0.0.0.0:8697/test` on any node expect above node

**The full output of the command that failed**:
[code]

**Expected results:**
C

[2021-01-12 07:49] perrynzhou commented on #2000
@amarts which branch should i to checkout?i need to checkout branch  that contains rdma relation code? or rdma relation already remove ? i want to test and contribite test report on there.

[2021-01-12 08:00] mykaul commented on #1996
If we can also remove this use_spinlocks variable and just normally ifdef the code, that'd be nice. I'm sure in debug mode it is calling this variable, I don't know about release. I don't see the value in that.

[2021-01-12 08:01] mykaul commented on #2000
I suggest we make it a compile-time option. For 99% of the users it does not provide any value. Those who do - can compile.

[2021-01-12 08:05] amarts commented on #2000
release-7 is the branch which has the code. Making it work there, and once all is working, your final PR should be on 'devel' branch.

You can use this issue to post the progress, and we can help you accordingly!

Ok with this suggestion. As long as the people who want the code can get it 'compiled' it should be OK. (similar to how NFS is).

[2021-01-12 08:09] vh05 commented on #1996
If I understand correctly, `use_spinlocks` is used to decide between spin_lock or mutex. If mutex makes sense than a spin_lock then `HAVE_SPINLOCK` section along with the `use_spinlocks` can be removed

[2021-01-12 08:55] mykaul commented on #1996
I'd start with a simple ifdef instead of consulting a variable.

[2021-01-12 09:04] perrynzhou commented on #2000
@amarts  how to enable rdma on compile？ is support RoCE v2 by default?

[2021-01-12 09:04] mykaul commented on #1999
Isn't page_size unsigned? When can it be negative?

[2021-01-12 10:09] aspandey commented on #1999
You are right. It is just that gf_iobuf_get_pagesize can return -1 in case size is not found.
It is just handling the negative return value which I feel is more dangerous if it ever happen, -1 will be type casted to size_t which will be a huge value.

[2021-01-12 10:12] aspandey commented on #1999
This does not look like a bug at the moment as it is dealing in indices. However, I would have preferred check on page_size.

[2021-01-12 10:43] vh05 commented on #1996
The variable `use_spinlocks` is commented in the current codebase, holds the value = 0, and the default behavior is to use a mutex lock. So HAVE_SPINLOCK section in `locking.h ` simply lead to mutex always.

libglusterfs/src/locking.c
[code]

[2021-01-12 10:54] mykaul commented on #1996
Are you sure? https://github.com/gluster/glusterfs/blob/2d8c88db4e39f6434f9d385bc5a47ad41b8fc2cb/libglusterfs/src/locking.c#L20

[2021-01-12 13:29] mykaul commented on #1981
I don't see an unwind in posix_do_fallocate() and in posix_do_zerofill(). Am I missing it elsewhere?

[2021-01-12 13:41] mohit84 commented on #1981
kindly check the parent function of the functions (posix_do_fallocate and posix_do_zerofill)

[2021-01-12 14:06] mykaul commented on #1981
ACK. I wonder what's the use case of this field for discard, but I can indeed see its usage.

[2021-01-12 14:51] jronnblom commented on #1990
Great!

So can we hope for a fix in 8.4?

-J

[2021-01-12 15:07] itisravi commented on #1990
I'm not sure of the complexity.  When an unlink from the client is successful, the brick needs to send a notification to bitd so that it can stop the signing process (reading, storing checksum etc) for the file.  If there's a fix sent against this issue, you will get a notification. :-)

[2021-01-13 03:14] mohit84 opened #2005 "./tests/bugs/replicate/bug-921231.t is continuously failing"
The test case (./tests/bugs/replicate/bug-921231.t ) is continuously failing.
The test case is failing because inodelk_max_latency is showing wrong value in profile, the value is not correct because
recently the profile timestamp is changed from microsec to nanosec from the patch https://github.com/gluster/glusterfs/pull/1833.

17:00:54 ./tests/bugs/replicate/../../include.rc: line 1: //: Is a dir

[2021-01-13 03:28] raghavendrahg commented on #1993
I am assuming shard inode lru list is just a cache of inodes of shards of a file (Actual source of truth might be .shard directory on brick). So this problem essentially boils down to finding efficient cache eviction algorithm for the access pattern involved. Plain lru based cache eviction by itself doesn't work well with many access patterns. Glusterfs uses lru based eviction in majority (if not

[2021-01-13 04:38] vh05 commented on #1993
Hello @raghavendrahg.

Thanks for your feedback.

Yes. If the number of shards > lru_limit, then it leads cache overflow, and the next phase of operation don't find it in the cache

sure. I will work in this area to make it robust. Any specific suggestion in this regard?

Regards
Vh

[2021-01-13 05:43] vh05 commented on #1996
Yes, @mykaul. I did not find anywhere in the code `use_spinlocks` is set.

[2021-01-13 07:15] #1743 closed, assigned to amarts

[2021-01-13 07:54] mykaul opened #2008 "Logs should be compressed"
The function to save logs (https://github.com/gluster/glusterfs/blob/222b92d951a8e6aef59a9c8f4170bc72a6dddb82/run-tests.sh#L71) does not compress the files. This is a waste of space and perhaps slows us down somewhat.
A simple -z or just change the suffix of the output and add -a could be used to enable compression with the tar command.
I reckon regular gzip (-z) should be OK.

@msaju

[2021-01-13 10:32] #2001 closed, assigned to leelavg

[2021-01-13 12:28] #2005 closed, assigned to nobody

[2021-01-13 13:06] mykaul commented on #2008
Oops, should be open under infra project.

[2021-01-13 13:06] #2008 closed, assigned to nobody

[2021-01-13 21:36] #1280 closed

[2021-01-14 03:53] #1219 closed

[2021-01-14 09:14] perrynzhou opened #2012 "NVME+SPDK support"
@mohit84 @xhernandez @amarts @BarakSason @mohit84 @tshacked @csabahenk @pranithk  is any plan to support nvme and spdk on glusterfs in future？

[2021-01-14 09:19] mykaul commented on #2012
NVMe is supported, and io_uring support recently added by @itisravi shows on some workloads 10-20% higher throughput

I do ask that question will be asked via the users mailing list, or in slack. If there is a concrete request, this is the right place to ask for it - but just integrate NVMe+SPDK (why? for NVMeOF for example?) is not a clear request.

I'm closing this issue and will be happy to con

[2021-01-14 09:19] #2012 closed, assigned to nobody

[2021-01-14 09:38] perrynzhou commented on #2000
@mohit84 @xhernandez @amarts @BarakSason @mohit84 @tshacked @csabahenk @pranithk  glusterfs only support rdma over tcp(iWARP)?there are three implemention for rdma protocol, such as IB、RoCE 、iWARP. which implemention for rdma protocol on glusterfs?

[2021-01-14 09:41] mykaul commented on #2000
I thought it was IPoIB for IB support, nothing for RDMA that we've removed.

[2021-01-14 10:40] tshacked opened #2013 "dict_t hash-calculation can be removed when hash_size=1"
1.  Currently glusterfs constructs dict_t data-type using `dict_new()` which always initialize ` dict->hash_size = 1`
    The internal init function is `static get_new_dict_full()` so therotical user cannot controls the hash-size parameter.
https://github.com/gluster/glusterfs/blob/90f18d12f581e15e398ec84fe9355ad9b63b020a/libglusterfs/src/dict.c#L114-L116

2. With this initialization dict_t implem

[2021-01-14 14:03] amarts commented on #2000
Previous version of RDMA in gluster (ie, the one we removed) supported IB part of RDMA. It still needed IP for handshaking APIs, after which RDMA would take over.

If you want to use IPoIB, its supported with the current socket based glusterfs rpc layer too. (because IPoIB provides transparent TCP/IP layer to applications).

[2021-01-15 02:37] #1755 closed, assigned to karthik-us

[2021-01-15 09:46] mykaul commented on #2013
1. We can remove this hash_size altogether. It was never used and our dictionaries are always small.
2. While at it, I'm not sure we need both members and members_internal fields?

[2021-01-15 11:23] #1981 closed, assigned to mohit84

[2021-01-15 11:33] #504 closed

[2021-01-15 12:49] dmantipov opened #2014 "ec: cleanup healing code"
This is an issue to track minor cleanups around EC healing code.

[2021-01-15 15:38] eliv commented on #845
This is terrible, but easy. Here's the diff on the xfs_info I'm now using on my Debian 10 gluster hosts:
$ diff -u xfs_info.orig xfs_info

``
--- xfs_info.orig       2021-01-15 10:26:58.448743040 -0500
+++ xfs_info    2021-01-15 10:24:20.447427968 -0500
@@ -25,12 +25,12 @@
 case $# in
        1)
                if [ -b "$1" ] || [ -f "$1" ]; then
-                       xfs_db -p xfs_info -c "info

[2021-01-15 18:36] #1276 closed

[2021-01-16 02:59] perrynzhou opened #2017 "different between "gluster volume create ec-vol disperse" disperse " and "gluster volume create ec-vol disperse-data" command"
@mohit84 @xhernandez @amarts @BarakSason @mohit84 @tshacked @csabahenk @pranithk  when i create disperse volume using " gluster volume create ec-vol   disperse 4 redundancy 2" to create volume that is faild(saw logs),but i using "gluster volume create ec-vol   disperse-data 4 redundancy 2" to create volume ,that is success,what'is different between two commands?

-  log for execute  command for "g

[2021-01-16 03:29] perrynzhou commented on #2000
@amarts thank you very much

[2021-01-17 08:50] #1264 closed

[2021-01-17 09:59] mykaul commented on #1322
Still worth looking into, IMHO.

[2021-01-17 11:38] #1933 closed, assigned to nobody

[2021-01-17 14:28] duduhandelman opened #2018 "Unable to access specific folder files or ls."
**Description of problem:**
While using distributed replicated volume of 340 servers sometime ls is hang for specific directory and file under that directory are Inaccessible.  gluster volume stop and gluster volume start resolve the issue.
In one case the ls returned after 48 hours.
The client mount log show.

[2021-01-10 09:50:40.005961] I [MSGID: 109063] [dht-layout.c:641:dht_layout_normalize]

[2021-01-18 02:24] jicki commented on #1986
Does reinstalling mean upgrading the version?  This error appears a lot in the log .

[2021-01-18 04:59] #1596 closed, assigned to schaffung

[2021-01-18 05:09] itisravi commented on #1380
The PR for this issue causes  `./tests/basic/afr/afr-no-fsync.t ` to fail (https://build.gluster.org/job/gh_centos7-regression/653/console) . The brick process crashes.  Reproducible locally. If I disable sharding in the .t, the test passes. The crash doesn't seem related to AFR since the crash occurs if I change the volume to a plain distribute in the .t

@rkothiya @VHariharmath-rh  Not sure if t

[2021-01-18 05:52] pranithk commented on #2017
If you want 6=4+2 type of disperse volume the corresponding commands are:
`disperse 6 redundancy 2`
or
`disperse-data 4 redundancy 2`

[2021-01-18 05:52] #2017 closed, assigned to nobody

[2021-01-18 09:41] mohit84 commented on #2018
Hi,

 Can you please share the brick logs at the same time, if the issue is continuously reproducible you can generate
 statedump of client and server both and share the statedump along with logs.To generate the statedump
 you can send "SIGUSR1" signal to the brick/client process like kill -SIGUSR1 `gluster_pid`, it will automatically
 generate the statedump in /var/run/gluster/

 Thanks,
 Mohit A

[2021-01-18 14:36] xhernandez commented on #1991
I've reproduced the problem and I've been able to identify the cause: when md-cache detects an empty cache during an `fgetxattr` request, it requests the full list of xattr to cache through xdata. The problem is that DHT ignores the incoming xdata for `fgetxattr`, so the returned data is empty and md-cache assumes that those xattrs are not present.

DHT's `getxattr` doesn't ignore the list thanks

[2021-01-18 15:20] itisravi commented on #1991
AFR only uses an overloaded `afr_getxattr` (and not `afr_fgetxattr`) for split-brain resolution CLI, so I guess only `dht_getxattr` was fixed because that was what was needed for the patch to work :-)

[2021-01-18 15:21] duduhandelman commented on #2018
Thank you.
Please find the files, I had to change names in files, The server dump is from one server that there are less directories in that folder.

Please tell me if you need more information.
The current status of this directory. Unable to read write or ls.

[bricklog.log](https://github.com/gluster/glusterfs/files/5831026/bricklog.log)

[serverdump.log](https://github.com/gluster/glusterfs/fil

[2021-01-18 15:31] #904 closed

[2021-01-18 15:41] #1703 closed, assigned to rkothiya

[2021-01-18 15:55] #1536 closed

[2021-01-18 18:57] tshacked commented on #1918
Some thoughts/updates about the the 1st problem which is -  .shard/ layout isn't updated after `remove-brick stop + rebalance`.
a) The scenario is not problematic for a regular dir because any access to `mount-point/dir1/any_file` includes a fuse LOOKUP to `dir1/` and the case of in-memory-layout != disk-layout is being detected and fixed.
b) .shard/ dirs are internal, so no lookup is being issued

[2021-01-19 00:49] JeffByers-SF opened #2021 "Completely filling up a Disperse volume results in unreadable/unhealable files that must be deleted."
Completely filling up a Disperse volume results in unreadable
(EIO) and unhealable files that must be deleted. This is
unfortunate, because although the files had append write
failures, the first parts of the files could still be intact
and usable.

The problem first occurred on a volume being used as storage
for video surveillance cameras. The application failed to
clean up space, so completely f

[2021-01-19 09:07] mykaul opened #2024 "Remove gfs_id variable or at least set to appropriate value"
1. It serves no value that I could see in the code.
2. In client_handshake() function, it is set to 0xbabe. Surely we can set it to something more appropriate. 0xcafe is used elsewhere and seems reasonable.

[2021-01-19 09:09] mykaul opened #2025 "list_del() should not set prev and next"
1. Let's use a more appropriate language:
[code]
2. I think those assignments are not useful at all. If you really wish to assign them to anything, used list_del_init() and have them point to itself.

[2021-01-19 10:09] #1996 closed, assigned to nobody

[2021-01-19 10:44] xhernandez commented on #1993
I think the most basic issue here is that a caching algorithm should never evict entries actively in use. LRU used for inodes only contains inodes not referenced by anyone, which is the correct implementation. In shard we put everything into the LRU even if it's in use, which caused this problem.

I would suggest to only add shards to the LRU once they are idle (no operation ongoing on them).

Thi

[2021-01-19 11:18] xhernandez commented on #1918
Not sure about the details, but at first sight doing this kind of check on each creation while making sure that data is up to date seems complex and/or time consuming, which is bad.

What's exactly the root cause of the problem ? is it only a missing lookup of `/.shard` ? shard is above DHT which should perfectly know when a remove-brick operation has finished or stopped, so this kind of issues sh