[2021-06-23 12:26] natankeddem commented on #2563
I am not sure what this means, do you have any documentation to assist me with this procedure?

I am not using arm64, I have 3x Ubuntu VMs running on ESXI so I am assuming I have a ARM64 release?
This was my install procedure:
[code]

example docker stack:
[code]
For now I am working around the issue by using a volume plugin for accessing glusterfs [https://github.com/trajano/docker-volume-plugins

[2021-06-23 13:04] itisravi commented on #2198
@levindecaro One way to remove stale locks is to use the `gluster volume clear-locks` commands but it is safer to just restart the glustershd /brick process (`kill $pid-of-the-process && gluster volume start $volname force`).

From your statedump output, I'm not sure if BLOCKED lock is actually blocked forever since its timestamp is close to the ACTIVE lock taken by the shd. Usual indication of a

[2021-06-23 13:30] kun-lu20 commented on #2491
Hi @mscherer @deepshikhaaa , any updates reg the VM requirements? Thank you very much!

[2021-06-23 14:06] natankeddem commented on #2563
I think this is what you might be asking for?  If not let me know I'll try something else...
[code]

[2021-06-23 14:09] chenglin130 opened #2565 "mount glusterfs over /tmp will hang up"
**Description of problem:**
mount glusterfs over /tmp will hang up

**The exact command to reproduce the issue**:
`mount -t glusterfs glst-srv-1:gv101 /tmp `

   \_ /bin/sh /sbin/mount.glusterfs glst-srv-1:gv101 /tmp -o rw
	   \_ /usr/local/sbin/glusterfs --process-name fuse --volfile-server=glst-srv-1 --volfile-id=gv101 /tmp
		   \_ /usr/local/sbin/glusterfs --process-name fuse --volfile-server=g

[2021-06-23 14:15] matonga opened #2566 "Empty directories in brick storage"
**Description of problem:**
There are lot of empty directories in each brick. The directories have this structure:
/path/to/brick-storage/.glusterfs/(two_digit_hex_string)/(two_digit_hex_string)
It looks like glusterfs is failing to garbage collect the unused directories.

**The exact command to reproduce the issue**:
[code]
Will print a count of empty directories. In my case it needs like 30 seco

[2021-06-23 14:20] levindecaro commented on #2198
@itisravi

Yes, ```gluster volume clear-locks``` can do the lock release, but it will also consequently kill the VM and left for a inode stale (file not found after lock clear), I forgot how long to wait on the file re-appear again, maybe about 5 mins something.

Restart nfs-ganesha process will help clear the lock too, but it has a chance to corrupt the VM filesystem in case the VM are doing heav

[2021-06-23 14:25] pranithk commented on #2563
Symbols are not present on the core. I am not sure about the procedure to get them on ubuntu. On Fedora it is called debuginfo rpms. If you install you get function names instead of '??' in the backtrace. Could you provide this output with the symbols?

[2021-06-23 14:34] pranithk commented on #2566
Do you delete and create these files again? Every time an entry is created, ab/cd/abcd... file is created in .glusterfs so that it can be accessed using its gfid. Once these directories are created in .glusterfs they won't be deleted.

[2021-06-23 15:42] #816 closed

[2021-06-23 16:02] amarts commented on #2563
@dmantipov the crashes we saw with kadalu releases were similar, and some of your PRs fixed them. Would they help here too? Any take?

[2021-06-23 17:04] natankeddem commented on #2563
It took a bit of doing but I have a better core dump now.  Note I downgraded to 8.5 (from 9.2) since ppa didn't have symbols for 9.2 up.
[code]

[2021-06-23 17:10] pranithk commented on #2563
This is a duplicate of #2443, already fixed, yet to be released. Thanks for taking the time to post all the details! Really appreciate your help!

[2021-06-23 17:11] #2563 closed, assigned to nobody

[2021-06-23 19:20] irischad opened #2568 "Duplicate files created during file rename/modification during rebalance"
**Description of problem:**
During a rebalance, some file names being modified (renamed then recreated and edited) end up being duplicated between different brick pairs. That is, the original version of the file and new version both exist, but on different bricks, and show up side by side on the client.

This was discovered while running a script that loops over directories and does the following

[2021-06-23 23:56] irischad commented on #2568
I should also add that the directories included in log snippet above were _not_ affected by this behavior. That is, the file move -> create -> modification functioned correctly in the directories listed on those dirs (0 and 102).

There appear to be no log entries listing any activity in the directories where the failures occurred.

[2021-06-24 01:21] #1741 closed, assigned to nobody

[2021-06-24 02:46] #2498 closed, assigned to nik-redhat, schaffung

[2021-06-24 04:30] itisravi commented on #2198
@levindecaro My apprehension with it is that it could clear even genuine (non stale) locks once the revocation-secs timeout is hit. So maybe you could try by setting a high value (INT_MAX seems to be the max value it can accept).

[2021-06-24 07:55] httaotao opened #2571 "gfs9.2 rebalance having lower disk space than the source node"
**Description of problem:**
 Hi, today I tested the ``` rebalance```  function  , I used ```add-brick``` to add brick and then use ``` rebalance```  to rebalance the volume ,one brick couldn't rebalance ,and I checked the logs which showed  info
[code]

this was the volume info
[code]
this was the rebalance status info
[code]
and then I checked the brick info.
[code]
the file was moved to the new

[2021-06-24 12:56] mscherer commented on #2491
@kun-lu20 so what OS are they running now ?

Usually, the system requires 2 to 4G for regression tests, and I guess 1G for smoke test.
For the disk, we use 20 to 25G at most. And CPU, 1 or 2 Vcpu are enough.

The biggest issue is the OS, eg, what do we want to test ?

And for access, just add my key from github ( https://github.com/mscherer.keys ), and tell me how to become root, and I will config

[2021-06-24 15:03] kun-lu20 commented on #2491
Hi @mscherer , Thanks for your feedback! Our record shows the OS was RHEL 7.7 initially. However, we could provide SLES/RHEL/Ubuntu, please let me know which distribution and version you would like to use in CI.

I think we could start by running regression tests, smoke tests and rpm builds scripts, just as you mentioned. Thanks!

[2021-06-24 15:42] mscherer commented on #2491
Since we have already package names/etc for RHEL/Centos builder deployment, I would prefer that, so RHEL 7.7.

I am not against testing on others systems, but I rather change 1 thing at a time. And let's start by smoke runs first, as it take 5 minutes to run. We can add nightly builder for regression, since it take 4 hours to run, and without a 1st run, we are not sure we are not going to hit a we

[2021-06-24 19:04] kun-lu20 commented on #2491
Hi @mscherer , we talked to our VM admin and he told us currently we only have the latest release of RHEL 7 (i.e. RHEL 7.9). Could RHEL 7.9 work as well? Thanks!

[2021-06-25 02:39] irischad opened #2574 "Certain files fail to read when accessed directly"
**Description of problem:**
I've got an interesting issue with files not being found when accessed directly.

When accessing a file directly like this:

[code]
I get a failure. Doesn't matter what tool I use, or if I try to access it programmatically, the OS still tells me that the file doesn't exist.

I can wait, try again, and same result. I could put the command in a loop with a delay between r

[2021-06-25 08:25] #1638 closed, assigned to nobody

[2021-06-25 08:55] xhernandez commented on #1723
This issue is still relevant and needs to be fixed.

[2021-06-25 09:12] httaotao commented on #2498
sorry, there are different files ,we don't know which file  we  should compare.
[code]
we couldn't find out the num ```2474120941 ``` and ``` 2474120940```

By the way, we checked the file cksum info ,they are the same value in node 2 and 12.
[code]

[2021-06-25 16:33] levindecaro commented on #2198
@itisravi

I could not provide further information anymore, today, I got a complete disaster on that gluster volume, all VM image appear corrupted, TB of qcow2 files are damaged, but none of gluster daemon and underlying storage report errors, all image are look normal via fuse-mount or nfs-ganesha, but none of them are intact, they start with un-bootable or fsck, we lost all data in the volume.

[2021-06-25 19:50] #1784 closed, assigned to nobody

[2021-06-26 10:44] #1732 closed, assigned to nobody

[2021-06-26 21:32] mushokumunou opened #2577 "0kb file auto rebuild"
I have been removed glusterfs with command below
[code]
[code]
`sudo apt-get autoremove glusterfs-server`

in my brick ,  I delete a file
but few seconds after , same file  shown again in same dir.
file size is 0kb with same filename in same dir.

[2021-06-26 21:39] #1774 closed, assigned to nobody

[2021-06-28 04:37] hailiangchen opened #2578 "The glusterFS process filled up memory"
**Description of problem:**

The memory usage of the glusterfs process has been increasing. Eventually, you will use up all of the server's memory.
Server memory 32GB.

**The exact command to reproduce the issue**:

**The full output of the command that failed**:
<details>

**Expected results:**
<details>

**Mandatory info:**
**- The output of the `gluster volume info` command**:

Volume Name: vg0

[2021-06-28 04:43] pranithk commented on #1488
This happens in the connection sequence for any client process, where the first connection happens to glusterd to get the port number for bricks the client needs to connect to. Once you get the port number, the socket is shutdown intentionally and then connection to brick is established.

[2021-06-28 04:49] pranithk commented on #2578
Could you collect statedumps of the processes that are increasing and post the output. You can use the following link to understand how to collect statedumps:
https://access.redhat.com/documentation/en-us/red_hat_gluster_storage/3/html/administration_guide/performing_statedump_on_a_volume

[2021-06-28 05:50] hailiangchen commented on #2578
Will this affect the normal use of the system？

[2021-06-28 06:10] hailiangchen commented on #2578
This is the dump file of the glusterfs process
[glusterfs-dump.zip](https://github.com/gluster/glusterfs/files/6723839/glusterfs-dump.zip)

[2021-06-28 06:12] pranithk commented on #2578
Could you collect the same after an hour? We can compare the two statedumps to see which data structure allocations are increasing a lot this way.

[2021-06-28 06:14] hailiangchen commented on #2578
ok.

[2021-06-28 07:23] hailiangchen commented on #2578
The second dump file of the glusterfs process
[glusterfs-dump-2.zip](https://github.com/gluster/glusterfs/files/6724249/glusterfs-dump-2.zip)

[2021-06-28 08:51] pranithk commented on #2578
I saw #2337 in the statedumps. The brick memory is growing because of the number of Inodes, it is not clear if there is any leak. Why don't you upgrade to v9.2 which has this fix? I think v9.3 is going to be released in a week or two which is even more stable.

[2021-06-28 08:51] #2578 closed, assigned to nobody

[2021-06-28 09:32] hailiangchen commented on #2578
Ok , thanks

[2021-06-28 13:12] karthik-us opened #2581 "With strict-locks enabled clients which are holding posix locks still re-opens the fd after brick reconnects"
**Description of problem:**
With client.strict-locks enabled, the expectation is that after a brick gets disconnected and reconnected from a client which is holding a lock should not reopen the fd. But in some cases where the posix lock is taken after the brick gets disconnected, the fd is getting reopened when the brick gets reconnected to the client as part of client_post_handshake.

**The exact

[2021-06-28 16:09] wxiaoguang opened #2583 "9.0/9.2: qemu-img always reports: "All subvolumes are down. Going offline until at least one of them comes back up.""
**Description of problem:**

qemu-img always reports: "All subvolumes are down. Going offline until at least one of them comes back up."

I have tried glusterfs 9.0 cluster and 9.2 cluster in debian 10 with fresh installation.

I have tried to turn on/off `server.allow-inseucre`, it doesn't have affect.

**The exact command to reproduce the issue**:

qemu-img qcow2 format:
[code]

qemu-img raw for

[2021-06-29 07:08] httaotao commented on #2498
thanks,we solve this problem, we changed the ``` state``` value in node 12 which was unhealth node . and then restart glusterd, it is ok .thanks

[2021-06-29 10:47] J0WI commented on #268
*bump*

[2021-06-29 11:12] #1510 closed

[2021-06-29 14:25] mscherer commented on #2491
7.9 is fine, as long as that's RHEL or Centos, that's fine by me.

[2021-06-29 14:28] chetanmore1 commented on #2577
Hello mushokumunou ,
This issue didn't reproduce at my end.
Please provide more details if possible, which will help me to reproduce this issue, like,
OS,
 gluster version
, gluster volume info
**step by step** output and paths,

Thanks & Regards,
Chetan.

[2021-06-29 15:09] kun-lu20 commented on #2491
Thanks @mscherer ! I've emailed the login info of the new s390x VM to you. Please let me know if you have any questions.

[2021-06-29 21:40] #1792 closed, assigned to nobody

[2021-06-29 21:40] #1757 closed, assigned to nobody

[2021-06-30 04:43] 3nprob commented on #2467
Not a kadalu user but I started getting this intermittently after upgrading 8.4 -> 9.2.

OS: Debian bullseye

This also results in the FUSE mount on the client going down (`Transport endpoint is not connected`) until it is manually unmountad and then remounted, after which it happens again after some time.

In my case it seems to be triggered by synchronous writes:

[code]

Relevant line: https://

[2021-06-30 10:22] mscherer commented on #2491
Hacker voice: "I am in"
[code]

[2021-06-30 14:46] mscherer commented on #2491
So the lack of EPEL 7 mean that I have to slightly adjust the deployment roles (that's still ongoing). Is there a way to get a RHEL8/Centos 8 rather than 7 ?

[2021-06-30 14:51] mscherer commented on #2491
Indeed, the lack of userspace-rcu-devel rpm mean we can't build gluster using package, so we likely need a EL 8 system.

[2021-06-30 14:54] kun-lu20 commented on #2491
Sure, we can provide RHEL 8.3. We will re-image this VM and let you know when it's ready.

[2021-06-30 21:07] #1708 closed, assigned to nobody

[2021-07-01 05:43] jifengzhou opened #2590 "trusted.io-stats-dump extended attribute usage description error"
In the xlator/debug/io-stats/src/io-stats.c source code, regarding trusted.io-stats-dump extended attribute usage description error, the correct usage should be "Usage: setfattr -n trusted.io-stats-dump –V filename /mnt/gluster, output is written to /run/gluster/filename.<volume name>"

[2021-07-01 14:58] tbaetzler opened #2592 "high cpu load on replicas after replacing brick"
**Description of problem:**

We have a 3x10 distributed-replicated gluster volume running glusterfs 7.9 where we were forced to replace a brick due to disk failure. Ever since we replaced the brick and healing had finished, we noticed that the two other bricks in the same replica set had abnormally high CPU load - while most bricks were idling along at 1-2% CPU usage, these two went up to 30-50% C

[2021-07-01 15:07] tbaetzler commented on #2592
strace of glusterfs on replica of replaced node while node active:

# timeout 60 strace -c -p `pgrep glusterfsd` -f
 strace: Process 6775 attached with 40 threads
 […]
 strace: Process 13681 detached
 % time     seconds  usecs/call     calls    errors syscall
 ------ ----------- ----------- --------- --------- ----------------
  42.08 5319.714366      934430      5693           getdents64
  26.33

[2021-07-01 15:12] pranithk commented on #2592
@tbaetzler
Do `gluster volume profile <volname> info incremental`, check if RCHECKSUM fops are present in the output on those bricks. If yes, set `gluster volume set <volname> cluster.data-self-heal-algorithm full`

[2021-07-01 15:48] tbaetzler commented on #2592
@pranithk

I don't see RCHECKSUM in "profile ... incremental", but if I do just "profile" it#s there.

[code]

But setting the self-heal-algorithm as suggested hasn't helped: After restarting the previously failed brick (10.111.53.41), it's causing high load on its replicas (10.111.53.17 and 10.111.53.65). Your profile command shows these two systems are spending lots of time in FXATTROP. Does tha

[2021-07-01 19:35] #1788 closed, assigned to nobody

[2021-07-02 02:20] httaotao opened #2594 "Self-heal and quota damon connect with all bricks."
Hi, I find Self-heal and quota daemon  connect with all bricks, and @pranithk  replied   this is an optimization problem.

This is the discussions
[some questions about connections between client and server](https://github.com/gluster/glusterfs/discussions/2588)

Here,I add some info about quota daemon

[code]

thanks.

[2021-07-02 04:02] #1816 closed, assigned to nobody

[2021-07-02 12:06] nik-redhat commented on #2515
RCA:
It turns out the ports were not accessible by the clients because they were blocked by the firewall rules being added in the test. So, on adding the port range that gluster uses for brick i.e, `49152-60999` the mount was happening without iptables flush command.
The same is being highlighted in the glusterdoc as well, point 2 on this [page](https://docs.gluster.org/en/latest/Administrator-Gui

[2021-07-02 13:12] #1805 closed, assigned to nobody

[2021-07-02 13:12] #1683 closed, assigned to nobody

[2021-07-04 07:45] #1729 closed, assigned to pranithk

[2021-07-05 04:46] pranithk commented on #2592
@tbaetzler It is < 0.5% so this won't be the reason. Could you attach full output of "gluster volume profile <volname> incremental"?

[2021-07-05 04:51] pranithk commented on #2594
@httaotao I think Quota must connect to all bricks. We can only try to optimize self-heal daemon here where only the replica sets with local bricks are added as volfiles instead of everything. This is a reasonably big change and would be more like a feature than a bug fix. "gluster volume status" command will also need to be changed to make this change.

There are other fixes/features that have mo

[2021-07-05 04:53] #2581 closed, assigned to karthik-us

[2021-07-05 06:16] httaotao commented on #2594
thanks for answer, I am confused why Quota must connects to all bricks ? Could you disclose more details about it ?

By the way, I find there has a param ``` cluster.shd-max-threads``` , the default value is one, If we change it into 2 or more, I think the cost of connections will increase quickly .

thanks

[2021-07-05 06:30] pranithk commented on #2594
Quota daemon is like an internal mount which needs to view the complete filesystem. So it must have connections to all bricks.

No, number of threads and connections are not related. You can do an experiment to see how it works.

[2021-07-05 07:24] httaotao commented on #2594
I don't understand this sentence. Could you make an  example ? Or if Quota damon doesn't connect to all bricks, what's  wrong ? thanks .

[2021-07-05 07:31] pranithk commented on #2594
To get the latest quota contributions for a directory, it needs to fetch this information from all bricks. So it needs to connect to all bricks.

[2021-07-05 07:42] httaotao commented on #2594
I get it , thanks.

[2021-07-05 08:55] zhangxyue opened #2596 "Is there any recommended setting about quota?"
**Description of problem:**
when I use the feature, is there any recommended setting about quota?

**The exact command to reproduce the issue**:

**The full output of the command that failed**:
<details>

**Expected results:**
<details>

**Mandatory info:**
**- The output of the `gluster volume info` command**:

**- The output of the `gluster volume status` command**:

**- The output of the `glust

[2021-07-05 16:51] chetanmore1 commented on #2571
Hello httaotao,
Just for information,
Rebalance command,
**without force** -> cares about balancing space across nodes, so it can skip the files to migrate to ensure balancing space and creates link(leads to performance issue in access).
**with force** 	-> cares about layout, and can cause imbalanced storage space used across bricks.

**without force** -> # gluster volume rebalance VOLNAME start
*

[2021-07-06 06:31] mykaul commented on #338
Now that we've made memory pools use regular memory if memory pools mechanism is disabled, shall we consider disabling it by default, for Gluster 10?
@mohit84  ?

[2021-07-06 06:33] mohit84 commented on #338
Yes we are planning to disable MEMPOOL for Gluster 10 release.

[2021-07-07 01:55] #1826 closed, assigned to nobody

[2021-07-07 01:56] #1830 closed, assigned to nobody

[2021-07-07 01:56] #1834 closed, assigned to nobody

[2021-07-07 09:53] WeddySong opened #2599 "A NULL pointer causes the glusterfsd process to crash"
**Description of problem:**
int 32-bit server，I'm having a core dump problem because memory cannot be allocated

**The exact command to reproduce the issue**:
Create a simple volume and perform multiple SCP  operations，Copy data from other servers to GlusterFS

**The full output of the command that failed**:
<details>

**Expected results:**
<details>

**Mandatory info:**
**- The output of the `glu

[2021-07-07 10:03] pranithk commented on #2599
@WeddySong This version of gluster is almost 3 years old and deprecated long back. Please try this on one of the latest supported versions and raise the issue. You can find the supported versions here https://www.gluster.org/release-schedule/

[2021-07-07 10:03] #2599 closed, assigned to nobody

[2021-07-07 10:09] WeddySong commented on #2599
I looked at the latest branching code and did not determine NULL when using a pointer because it failed to allocate memory earlier

[2021-07-07 10:14] pranithk commented on #2599
@WeddySong Are you able to recreate this problem on any of the latest releases? If yes, please re-open the issue. What I am trying to say is, no one is working on 3.x releases anymore.

[2021-07-07 15:20] #1655 closed, assigned to nobody

[2021-07-08 07:23] dshmyz opened #2601 "gfid split brain appears in concurrent directory creation"
**Description of problem:**
I use multiple mount clients to create and delete the same directory concurrently, which will lead to gfid split-brain and can not be self-healing, "Transport endpoint is not connected" appears on the client. Several versions have been tested, from version 5.0 to 8.5. When I replaced the AFR module to version 4.10, this problem no longer occurred

**The exact command to

[2021-07-08 07:36] pranithk commented on #2601
@tiswong Could you give the exact commands that are executed on the mounts?

[2021-07-08 07:45] dshmyz commented on #2601
[code]
@pranithk

[2021-07-08 07:53] mykaul commented on #1333
It's not assigned anymore. The improvement I had in mind was much smaller than the above attempt - simply pass a boolean if the lock is already taken and skip pthread_mutex_lock(&pl_inode->mutex) call if it is, otherwise, do it. That's about it.

[2021-07-08 08:08] pranithk commented on #2601
@tiswong No, not the way to mount, I meant the commands you use for creation and deletion of a directory. When I do it with one directory it worked fine. So want to know if there is any structure which leads to this problem. So give the exact commands you execute to get this error.

On mount-1
while true; do mkdir d; done
On mount-2
while true; do rmdir d; done

This worked fine for me.

[2021-07-08 08:16] dshmyz commented on #2601
@pranithk Sorry, I actually executed the following script for testing

[code]

[2021-07-08 10:05] dshmyz commented on #2601
I used 16 clients to mount the volume and execute the script at the same time.This problem will appear within 10 minutes of running version 7.8

[2021-07-08 13:17] #1843 closed, assigned to nobody

[2021-07-08 16:52] spuiuk commented on #2517
On further investigation, this is the same problem described in
https://github.com/gluster/glusterfs/issues/2515#issuecomment-872948144

However in my opinion, the solution described there is incomplete. Closing this issue in favour of the original report.

[2021-07-08 16:52] #2517 closed, assigned to nik-redhat

[2021-07-08 16:59] spuiuk commented on #2515
I can confirm that by opening up the firewall port range 49152-60999/tcp, we no longer hit this issue.

The problem is that the glusterfs service for firewalld only specifies the range 49152-49664.

[code]
This is provided by the glusterfs-server package.
[code]

 We need to increase this port range in the service file.

[2021-07-08 17:03] #1835 closed, assigned to nobody

[2021-07-08 17:03] #1846 closed, assigned to nobody

[2021-07-08 18:32] nik-redhat commented on #2515
Thanks for the update @spuiuk . I will send out a PR to update the values in the firewall service file.

[2021-07-09 09:11] #1838 closed, assigned to nobody

[2021-07-09 10:17] wxiaoguang opened #2606 "glfs_fini takes too much time and slows down qemu-img and other clients"
**Description of problem:**

Gluster 9.0/9.1/9.2/9.3:

`glfs_fini` takes too much time and slows down qemu-img and other clients

* no firewall, all gluster servers are in the same LAN network, `tcpdump` shows the connection is correct.
* the gluster volume can be mounted via FUSE and can be accessed correctly.
* after the test program, the file is correctly written into glusterfs, if I try to wri

[2021-07-09 10:48] xhernandez commented on #2606
This delay happens because the client cannot connect to the bricks, so it waits for a timeout (you should check if glfs_init() returns successfully). Are you sure that brick hosts can be resolved and accessed from the machine where you run the program ?

You can try to ping them from the same machine. If ping succeeds, check the firewalls on that machine and all bricks.

[2021-07-09 10:57] wxiaoguang commented on #2606
But everything is right. ping always succeeds, no firewall, `tcpdump` shows the connection is right, these servers are all in the same LAN, and I can use `mount` to use this gluster volume correctly.

And after the test program, the file is correctly written into glusterfs.

Here is an issue from other users: https://github.com/gluster/glusterfs/issues/1962

[2021-07-09 12:11] #1832 closed, assigned to nobody

[2021-07-09 12:20] wxiaoguang commented on #2606
I debugged for a while

* The target file in gluster volume can be opened/read/written correctly.
* When the `glfs_fini` is called, the log `breaking reconnect chain` (printed by `rpc_clnt_reconnect`) shows that `glfs api` is still trying to reconnect to the cluster, but we just disconnected and want to exit now. This logic causes the first lag.
* `call_pool->cnt` is always 1 in `while (countdown-

[2021-07-09 12:26] wxiaoguang commented on #2583
More information is discussed in https://github.com/gluster/glusterfs/issues/2606, I think these issues are highly related.

(And other issues: https://github.com/gluster/glusterfs/issues/1962)

[2021-07-09 13:38] kun-lu20 commented on #2491
Hi @mscherer , I've emailed info of the new s390x VM with RHEL 8.4 to you. Please let me know if you have any questions. Thanks!

[2021-07-09 14:44] xhernandez commented on #2606
You are right, I overlooked the log...

I would say the problem could be this:

[code]

It seems that the client thinks that there's some pending operation (call_pool_cnt = 1). Maybe it's preventing the glfs_fini() to complete sooner. @mohit84 do you know what could be happening here ?

[2021-07-09 15:33] mohit84 commented on #2606
@wxiaoguang It seems the logs are shared in the first comment i am not able to see any message specific to showing call_pool_cnt is 1. Can you please share complete logs from begin to end when pub_glfs_fini is throwing call_pool_cnt is 1 ?

[2021-07-09 15:50] mscherer commented on #2491
Ok, I am in (again). The role is deploying, I had to do a few things manually (add my ssh key, set selinux to on, add my own subscription), but I think it should work now.

[2021-07-09 15:55] wxiaoguang commented on #2606
@mohit84 The full official logs are in the issue post. The only difference of the first comment is that in the first comment I added one line debug code to show `debug countdown` in `glfs_fini`, just one line debug code, all the codes and problems are the same.

You can also search `glfs_fini fs ...` in the issue post to locate the related position to see the full original logs with official build

[2021-07-09 20:27] jpwit commented on #1525
This bug can be trivially replicated by the following sequence:

`echo "Test" > testfile ; echo "Test 2" >> testfile`

This is rather basic filesystem use and I suspect it breaks quite a lot of potential uses.

[2021-07-09 21:34] cleanct opened #2607 ""Unable to get remote volume uuid" when attempting to establish geo-replication through ssh proxy"
**Description of problem:**

When attempting to establish a geo replication session through an SSH proxy/bastion/jump host, a
"Unable to get remote volume uuid" error occurs.

I've seen this error in the 5.x series and in 9.x including 9.3.

This Vagrantfile (you'll have to rename it) will recreate this scenario using official Gluster LATEST with a master gluster node on one network, a slave glust

[2021-07-10 13:15] mohit84 commented on #338
Hi,

 I have executed below script to test mempool enable/disable performance for latest master branch on single physical node.
 I have executed test case on nvme disks(2x3 volume topology) with default configuration along with configured 4
  event(client|server) threads.

  for((i=0;i<=4;i++))
do
echo "#############Iteration $i ###########"
echo 3 > /proc/sys/vm/drop_caches;time ./smallfile_cli.p

[2021-07-10 16:19] pranithk commented on #338
Thanks for providing the numbers. Yes, I agree that we shouldn't disable if there is perf degradation.

[2021-07-10 17:42] wxiaoguang commented on #2606
@xhernandez @mohit84

In `glfs_fini`, if I add a call `STACK_DESTROY(call_pool->all_stacks.next_call)`  before `while(countdown--)`, then `glfs_fini` stucks in `glusterfs_graph_deactivate` for 10 seconds.

If I use the the original logic (9.3), then `glfs_fini` stucks in `while(countdown--)` for 10 seconds because `call_pool->cnt` is always 1.

Can you hint about the logic how `pub_glfs_fini` stop

[2021-07-10 20:11] #1541 closed

[2021-07-11 00:44] #650 closed

[2021-07-11 05:33] mohit84 commented on #2606
To cleanup the all client xlators objects resources pub_glfs_fini call glusterfs_graph_deactivate that eventually call
fini of every client xlator from top to bottom. When it call fini of client xlator(please check fini()
in client.c) it call rpc_clnt_connection_cleanup to cleanup the connection

if (conf->rpc) {
        /* cleanup the saved-frames before last unref */
        rpc_clnt_connection_

[2021-07-11 07:05] mykaul commented on #338
Thanks for the great work @mohit84 . If you still have the setup, can you just re-run this with tcmalloc?
I agree we don't want to disable if we see such significant performance drop.

[2021-07-11 11:44] wxiaoguang commented on #2606
Here is what I can not understand.

The `glfs_fini` logic is :

* rpc_clnt_disable(ctx->mgmt)
* sync wake up `fs->waitq` (no problem here, `fs->pin_refcnt` will be 0)
* wait for up to 10 seconds if `call pool->cnt != 0`
* xlator_notify active subvol parent down
* inode_table_destroy_all(ctx)
* glusterfs_graph_deactivate(ctx->active)
* (more) ...

Question 1: before `glusterfs_graph_deactivate`, th

[2021-07-11 12:22] wxiaoguang commented on #2606
More information, I believe this problem is somehow related to multi-threading problem.

I just tried the test program in a VM with 4 vCPU, everything seems OK.

But if I run the test program in a physical server with 96 CPUs (24 * 2 * 2), the bug occurs.
[code]

The VM without bug is just inside the physical server which causes the bug. They have the same `Hugepagesize` settings.

[2021-07-11 14:34] mohit84 commented on #2606
[Ans]: Yes, in default condition it is not possible.If somehow socket has disconnect event from other endpoint then it is possible.

[Ans]: You are getting 10s delay because of call_bail, when a client does send any fop request to server and it saved frame(__save_frame) in memory list and register a call_bail function after taking a reference on rpc_clnt object. This call_bail function call by gf_

[2021-07-11 15:03] wxiaoguang commented on #2606
Can you provide a correct log output (TRACE level) of the test program with gluster 9.3 client? Maybe I can compare the correct and wrong logs together.

[2021-07-11 16:16] Sattar-Aftabi commented on #2583
Hello Mr @wxiaoguang

in the current state, we tested this problem with these environments and we have the same issue :

Distributor ID: `Ubuntu`
Description:    `Ubuntu 20.04.2 LTS`
Release:       ` 20.04`
Codename:       `focal`
glusterfs version : `9.0 9.02 9.03`
qemu-img version `5.2.0`

[code]

Distributor ID: `Debian`
Description:    `Debian GNU/Linux 10 (buster)`
Release:        `10`
Codena

[2021-07-12 04:51] itisravi commented on #2583
@wxiaoguang I don't think this is a bug. When fini is executed,  replicate xlator (AFR) will receive child down for each of its children. When connection to all its children are lost, you will see this message. You can observe it in any gfapi program that calls glfs_fini() and can be ignored.

[2021-07-12 04:54] pranithk commented on #2583
@itisravi I think the user's question is why are they coming on the terminal and not in logs.

[2021-07-12 05:05] itisravi commented on #2583
I think this could be due to the logfile location configured in qemu. In the source code (qemu/block/gluster.c), I do see `#define GLUSTER_LOGFILE_DEFAULT     "-" /* handled in libgfapi as /dev/stderr */`

[2021-07-12 05:15] wxiaoguang commented on #2583
@itisravi @pranithk it is a bug, it takes too much time in `glfs_fini`,  please see details in:

https://github.com/gluster/glusterfs/issues/2606    glfs_fini takes too much time and slows down qemu-img and other clients

https://github.com/gluster/glusterfs/issues/1962      gfapi: glfs_fini fucntion consume more time reusult in qemu create image or start vm slow

and the bug doesn't exist in glus

[2021-07-12 05:26] pranithk commented on #2583
@wxiaoguang They are separate issues. I believe Mohit is working on the delay issue.
@soumyakoduri @thotz Is it okay if we make the default /dev/null instead?

[2021-07-12 05:42] wxiaoguang commented on #2583
Although I agree that the log is a little misleading ....  however, without this terminal log, I won't look into the delay problem, I may accept the wrong situation that `qemu-img` is slow with glusterfs ....

I think showing serious errors to end users is a good choice, and if the delay issue is resolved, there will be no error outputs anymore.

[2021-07-12 05:54] itisravi commented on #2583
Closing the issue since
- The AFR log messages are expected.
- The messages appearing on stderr instead of /dev/null is what seems to be the preference.
- glfs_fini() causing delay is being investigated in the other issue referenced above.

[2021-07-12 05:54] #2583 closed, assigned to nobody

[2021-07-12 06:58] mohit84 commented on #2606
Hi,

 As i mentioned call-flow in previous comments rpc_clnt_connection_cleanup call the gf_timer_call_cancel function to delete an event from a list but pub_glfs_fini has set ctx->cleanup_started to 1 so the function(gf_timer_call_cancel) is not able to delete the event and event exist in the internal list unless timer thread has not been destroyed. After calling call_bail by timer thread at
 reg

[2021-07-12 08:06] zemzema opened #2609 "Unable to mount subvolumes on volume with thin-arbiter"
When I trying to mount on client side subvolume on volume with whin-arbiter, after enter there is no error but volume is not mounted (glusterfs 9.3). When I check on thin-arbiter volume log i get:

[2021-07-12 07:52:52.344800 +0000] E [server-handshake.c:110:do_path_lookup] 0-/bricks/brick_ta: first lookup on subdir (mer) failed: Success
[2021-07-12 07:52:52.344822 +0000] E [server-handshake.c:174

[2021-07-12 08:36] itisravi commented on #2609
Hi @zemzema Not all features (like subdir mount) of gluster have been tested to work with thin-arbiter. So while not advisable for production workloads, thanks for the feedback/ bug report.

[2021-07-12 09:47] wxiaoguang commented on #2606
Can you quote the patch with markdown code block (three backquotes)?

It looks a little messy without code block format.

[2021-07-12 10:27] mohit84 commented on #2606
diff --git a/libglusterfs/src/timer.c b/libglusterfs/src/timer.c
index 66c861b04c..28bb66724e 100644
--- a/libglusterfs/src/timer.c
+++ b/libglusterfs/src/timer.c
@@ -81,12 +81,6 @@ gf_timer_call_cancel(glusterfs_ctx_t *ctx, gf_timer_t *event)
         return -1;
     }

\\\-    if (ctx->cleanup_started) {
\\\-        gf_msg_callingfn("timer", GF_LOG_INFO, 0, LG_MSG_CTX_CLEANUP_STARTED,
\\\-

[2021-07-12 11:22] mohit84 commented on #2606
[code]

[2021-07-12 12:07] mohit84 commented on #338
Hi Yaniv,

Thanks for reminding to test tcmallc.On single node i am getting good
improvement tcmalloc(10 % improvement) in performance as compare to
glusterfs pool and more than 15% improvement with glibc pool so i believe
we can enable tcmalloc and disable mempool.

Fop       (default mempool enable)====>mempool_disable=====>tcmalloc
create:            1554.52 =====>    1435.25  ======>        17

[2021-07-12 12:14] mykaul commented on #338
Just to make sure, there are two comparison that can be make - unsure what's I'm seeing:
tcmalloc with mempool
tcmalloc with mempool disabled.

Which one am I seeing above? The latter? That's great!

[2021-07-12 12:15] mohit84 commented on #338
Yes, tcmalloc with mempool disabled.

[2021-07-12 12:57] mykaul commented on #1923
One more point - the trailer. The trailer is 8 bytes long (GF_MEM_TRAILER_SIZE) and is at the end of the memory allocation. Essentially, it can appear anywhere - within the last cache line, after, what not.
In theory, it makes much more sense to adjust the padding size (make type a uint16_t so you can get 2 bytes for the padding size) and strive to get everything in cache lines. If the allocation

[2021-07-12 13:05] mscherer commented on #2491
And the builder is in the pool:

https://build.gluster.org/computer/builder-el8-s390x-1.ibm-l1.gluster.org/

So, now, we want smoke + regressions ?

[2021-07-12 14:04] pranithk opened #2611 "Granular entry self-heal is taking more time than full entry self heal for creation workloads"
Number of lookups in granular entry self-heal is very high compared to full entry self-heal. Here are the numbers for the following workload:

Once a replica 3 volume(r3) is created a mounted:
gluster volume profile r3 start
pushd /mnt/r3
mkdir d
cd d
kill -9 $(gluster volume status | grep Brick | awk '{print $NF}' | head -1)
for i in {1..100000}; do touch $i; done
gluster volume profile r3 info i

[2021-07-12 14:06] pranithk commented on #2611
On my setup the heal mentioned in the description takes 4 minutes without fix and 2 minutes with fix.

[2021-07-12 14:08] wxiaoguang commented on #2606
It seems that the patch has no effect. The delay still exists as before.

[2021-07-12 14:33] mohit84 commented on #2606
Can you share the logs after applied the patch?

[2021-07-12 14:51] kun-lu20 commented on #2491
Great! Yes, let's try smoke + regressions on it. Thanks @mscherer !

[2021-07-12 14:57] mscherer commented on #2491
So smoke is ok, but regression is not (yet), as we are missing packages on RHEL 8:

https://build.gluster.org/job/centos8-regression/374/console

I will fix it and retry again.

[2021-07-12 15:05] mscherer commented on #2491
Interesting, it also fail on C8: https://build.gluster.org/job/centos8-regression/369/consoleFull but doesn't fail.

[2021-07-12 15:08] xhernandez commented on #2611
@pranithk one question: with the fix, it seems there's the same number of lookups as the full heal. So, what's the benefit of the granular heal ?

[2021-07-12 15:09] mscherer commented on #2491
ok so 1) we have some issue with python on c8, and the issue was with dbench, that was removed since there was no EPEL 7 for s390x

[2021-07-12 15:14] pranithk commented on #2611
In the test case I used, all entries in the directory should heal. My code reading when we had the discussion was wrong. Only on EC directories are read completely, not for AFR. In AFR first index/directory of the bad brick is processed, after that only one of the source bricks is processed. So Full and index heal for the test case I mentioned, there is not going to be any difference in the number

[2021-07-12 15:20] mscherer commented on #2491
ok so this time, it started correctly:

https://build.gluster.org/job/centos8-regression/375/console

Now, let's see if it work (it take 3 to 4h to run without crashes)

[2021-07-12 15:31] mscherer commented on #2491
Ok I guess the LVM setup is not working fine, it is likely some Centos check hardcoded or something similar. I will take a look but it might be finished tomorrow.

[2021-07-12 18:10] #1499 closed

[2021-07-13 00:26] #1864 closed, assigned to nobody

[2021-07-13 03:41] dshmyz commented on #2601
Hello @pranithk , have you reproduced this problem?

[2021-07-13 04:09] pranithk commented on #2601
@tiswong I was busy with some changes I need to complete for my company. Will take a look post that, may take some weeks unfortunately. Adding @itisravi @karthik-us who also know the code in this area in case they have some time to work on this.

[2021-07-13 05:38] wxiaoguang commented on #2606
I also added debug logs starting with "my-debug:" in the patch to make it more clear:

<details>

[code]

</details>

Debug logs (please expand details):

<details>

[code]

</details>

[2021-07-13 11:38] mohit84 commented on #1923
I have tried to run smallfile test case after doing changes as you suggested i have not found any improvement.
[code]

[2021-07-13 11:55] mohit84 commented on #2606
We need to apply the same check in rpc_clnt_reconnect also as we applied in call_bail
Can you please apply below changes along with previous changes and share the result.

[code]

[2021-07-13 12:09] wxiaoguang commented on #2606
Still no effect.

Patch:

<details>

[code]

</details>

Logs:

<details>

[code]

</details>

[2021-07-13 12:12] mykaul commented on #1923
Thanks @mohit84 - no memory reduction either?
Note that we need to ensure the code also access the variables in the right order.
I do think the biggest bottleneck might be the locking in the metrics saving part, btw.

[2021-07-13 12:18] mohit84 commented on #2606
The behavior is strange, after applied the patch you should not see the logs "breaking reconnect chain" because at the point cleanup_started is already set by pub_glfs_fini and we already put a check in the beginning of the function to avoid again adding
the function in event timer thread.Can you please put more messages to validate the same, why the condition (ctx->cleanup_started) is not being t

[2021-07-13 12:21] mohit84 commented on #2606
Can you put a message after while loop in pub_glfs_fini and one message before set the ctx->cleanup_started just before call glusterfs_graph_deactivate code path.

[2021-07-13 12:25] #1163 closed

[2021-07-13 12:40] wxiaoguang commented on #2606
It won't work. Because `my-debug: before 'while (countdown--)': call_pool->cnt=1, fs->pin_refcnt=0`, it gets stuck in the loop before `glusterfs_graph_deactivate`.

The key problem is `call_pool->cnt=1` here (a xlator/client is still using the call_pool). When I was using gluster 5.5, I can see the correct message saying `call_pool_cnt - 0` which is printed inside the loop and then set `ctx->clean

[2021-07-13 12:53] wxiaoguang commented on #2606
Logs from glusterfs 5.5 api (without bug):

[code]

[2021-07-13 12:58] wxiaoguang commented on #2606
In glusterfs 5.5 api, there is a `io_stats_flush_cbk` in `glfs_close` logs, which unwind stack and decrease ref of objects.

But in glusterfs 9.x api, there is no `io_stats_flush_cbk` call in logs.

Is it a problem?

[2021-07-13 13:23] mohit84 commented on #1923
The memory consumption is slightly increase, I will try to run it again after change the order
to access the struct variable.

             tcmalloc_disable_mempool  tcmalloc_disable_mempool_new_memheader
glusterd :   ======>          16258K ======>            16229K
brick1(avg): ======>       115282K  ======>          125765
brick2(avg): =====>         118767k ======>            127469
brick3(avg

[2021-07-13 15:37] wxiaoguang commented on #2606
More information: if I call `glfs_open` and `glfs_close` again, then the client can exit immediately without delay:

[code]

The logs for `glfs_close` which has delay bug:

[code]

The correct logs for `glfs_close` without delay bug:

[code]

[2021-07-14 02:53] #1868 closed, assigned to nobody

[2021-07-14 02:53] #1815 closed, assigned to nobody

[2021-07-14 05:19] mohit84 commented on #2606
Can you put messages in pub_glfs_close -- > syncop_flush-->syncop_flush_cbk check why the functions are not calling in your environment ?

[2021-07-14 06:38] wxiaoguang commented on #2606
`syncop_flush` and `syncop_flush_cbk` are always called. But the call stack frame is different.

Delay bug ( the call stack stops at `winding from gv-test-quick-read to gv-test-open-behind`):

[code]

Call `glfs_open` and `glfs_close` again, then no delay bug (there are more windings after `winding from gv-test-quick-read to gv-test-open-behind`):

[code]

[2021-07-14 07:13] mohit84 commented on #2606
Can you try after disable open-behind xlator for the volume?

[2021-07-14 07:17] wxiaoguang commented on #2606
I think I have nearly got the truth.

If I repeat open the same filename, the first `glfs_creat` uses `lookup`, and the second uses `open`, then no lag, no bug.

If I open two difference filenames, the two `glfs_creat` all uses `lookup`, then the lag bug comes again.

[2021-07-14 07:30] wxiaoguang commented on #2606
Just tried, if the `open-behind` is disabled, and with the patch before, then there is no lag in the demo program, `qemu-img` also works correctly without delay.

[2021-07-14 07:36] wxiaoguang commented on #2606
It seems the combination is:

* with patch, open-behind=on, glfs_creat -> glfs_write -> glfs_close:  no bug
* with patch, open-behind=on, glfs_creat -> glfs_close:  lag bug
* with patch, open-behind=off:  no bug
* without patch: lag bug

(not very sure, too complex ....)

[2021-07-14 07:54] wxiaoguang commented on #2606
Full report:

# For 2 glfs_creat calls

* `lookup` and `open`

With patched client and `performance.open-behind on` and no `glfs_write` call,  if I repeat `glfs_creat` the same filename, the first `glfs_creat` uses `lookup`, and the second uses `open`, then no lag, no bug.

If I open two difference filenames, the two `glfs_creat` all uses `lookup`, then the lag bug comes again if there is no `glfs

[2021-07-14 12:33] xhernandez opened #2617 "High CPU utilization of thread glfs_fusenoti and huge delays in some cases"
**Description of problem:**

Sometimes, on a mount point working fine, suddenly performance drops and there appears high CPU utilization by thread glfs_fusenoti. At this moment many things may start to run really slow.

The effects can be seen by running a chroot command inside a Gluster volume. When everything works fine, the new prompt is returned in less than a second. When the issue happens it

[2021-07-14 12:47] MrMEEE opened #2618 "RFC: Force blocksize on gluster mounts"
Hi

In the NFS client it's possible to define rsize and wsize, which will force a specific blocksize, if the process writing doesn't..

This is not possible (to my knowledge) in the gluster-client... Is it possible to implement such a feature? (or hardcode a different default blocksize)

The challenge that we are facing are that small writes are incrediably slow.. when doing write with dd and diff

[2021-07-14 13:20] pranithk opened #2620 "Granular entry heal purging of index name trigger two lookups in the server xlator"
In purging of entry from entry index, AFR doesn't do a lookup on the name before sending unlink on the entry-index directory. So it always triggers resolution for this name. In this code path server does a resolution on the entry-index directory on which self-heal is being performed. This is unnecessary and leads to extra lookups for each name in the index.

[code]

[2021-07-15 02:08] mohit84 commented on #1923
Even after access the variables in order(in function gf_mem_set_acct_info) as declared in mem_header i am not getting any improvement.

[2021-07-15 07:00] mykaul commented on #1923
I've had few more changes across the board, maybe they were part of what I've seen. The idea was that small allocations (which we seem to have some) can actually wholly fit into 64 byte, inc. the header and trailer.
Untested, may not work, ...
[code]

[2021-07-15 07:26] whaifang opened #2624 "Fail to add master Nodes for High Availability in 3.1.0"
Hi Team,

Our cluster is built in kubesphere-all-v2.1.1, then we upgrade to v3.0.0 according to
 https://v3-0.docs.kubesphere.io/docs/upgrade/upgrade-with-kubekey/
and continue to upgrade to v3.1.0 according to
https://kubesphere.io/docs/upgrade/upgrade-with-kubekey/
So now our cluster version is v3.1.0
[root@master0 conf]# kubectl version
Client Version: version.Info{Major:"1", Minor:"20", GitVer

[2021-07-15 07:36] httaotao commented on #2571
I am really sorry for my late. Today I made new two test with ```force``` and ```no force ```. They are in the same cluster and same node brick and we can know the difference from the volume name.

There are the steps:
1. create the replica 3 volume in the same brick node.
2.  mount the volume and touch 100,000 file
3. use add-brick to expand the volume
4. use rebalance command to balance

 There

[2021-07-15 07:46] httaotao commented on #2571
I am really sorry for my late. there are the logs info .
[code]

[2021-07-15 07:47] httaotao commented on #2571
yet, I use rebalance force to fix it , thanks.

[2021-07-15 08:10] nik-redhat opened #2625 "auth.allow value is corrupted after add-brick operation"
**Description of problem:**
If we have a set value for the  `auth.allow` option for a volume and then did an `add-brick` operation, then the value of the `auth.allow` option is corrupted or changes to some random string after the `add-brick` operation is successful.

**The exact command to reproduce the issue**:
Set the IP of a node as the allowed server for the `auth.allow` option for a volume, l

[2021-07-15 10:05] pranithk opened #2626 "entry self-heal does xattrops unnecessarily in many cases"
While healing a name, afr is doing an xattrop to do new entry pending heals marking for files that are created as part of heal. For this
- Lookup on sink brick is done to check if the gfid exists or not
- If it is not present then sequentially new entry marking is done on each of the source bricks before creating the file.

In most cases by the time afr detects that it needs to do new entry markin

[2021-07-15 10:26] pranithk opened #2628 "Handle errors in resolve code path correctly"
On review of https://github.com/gluster/glusterfs/pull/2621 it is found that we need to introduce error path for resolve code path with correct handling of errnos.

[2021-07-15 15:41] tbaetzler commented on #2592
@pranithk - Here you go! The problematic bricks are 10.111.53.17 and 65.

``
# gluster v profile stor2 info
Brick: 10.111.53.41:/glusterpool/brick2
---------------------------------------
Cumulative Stats:
   Block Size:                  1b+                   2b+                   4b+
 No. of Reads:                    0                     1                     2
No. of Writes:

[2021-07-15 15:59] pranithk commented on #2592
@tbaetzler Thanks for this data. CPU% is high because self-heal doesn't have any throttling at the moment.

I am trying to reduce the number of calls here: https://github.com/gluster/glusterfs/issues/2626 PR: https://github.com/gluster/glusterfs/pull/2627

I think for the long term, it is better to come up with a way to rate-limit the self-heal traffic. This will be a feature so it will take a whi

[2021-07-15 16:24] ghost opened #2630 "--socket-file not working as expected, socketfile path seems hardcoded"
I tested this on both Ubuntu 20.04 and Cent OS 8.

I don't seem to have any means to control where gluster drops it's socket. The `--socket-file` flag doesn't seem to be respected either. This makes it impossible to share the socket between containers to have one container do orchestration while a primary container just runs the daemon.

Here's the test that I've been able to replicate between ver

[2021-07-15 16:29] tbaetzler commented on #2592
@pranithk Should the self-heal really take so long? "gluster v heal stor2 info" showed no more pending heals after about 18h after replacing the brick. We expected the gluster to be busy during that time. We did not expect to see high CPU load on the peer bricks of the damaged brick **after** the heal had nominally completed.

In a bid to fix this problem, we replaced the brick in question manuall

[2021-07-15 16:42] pranithk commented on #2592
Time to complete heal depends on the number of files and file sizes. If you have a lot of files, then yes, it will take a very long time. If you have smaller number of very big files, it takes less time. Similar to rsync.

In theory that should work. I am seeing a pattern where lot of people are doing this instead of normal replace-brick if the data set is huge. Do you mind sharing the exact zfs c

[2021-07-15 16:53] pranithk commented on #2592
Maybe not a lot of people. I heard about this multiple times. So better to make this official so that people don't miss some steps that can lead to problems later on.

[2021-07-15 17:16] pranithk commented on #2611
Adding profile info output in delete case of 100000 files in a directory and let it heal.
[code]

[2021-07-16 02:31] #1862 closed, assigned to nobody

[2021-07-16 06:54] #2611 closed, assigned to pranithk

[2021-07-16 07:09] pranithk commented on #2592
@rafikc30 This is the approach I was talking to you on slack.We probably need to find the commands for both zfs and xfs. If there are any other filesystems people are interested, they can come up with the procedure for that too.

[2021-07-16 08:51] tbaetzler commented on #2592
@pranithk Sadly the rebuild did not fix our problem :-/ After the heal completed, the healed node dropped to the same load levels as the other "normal" nodes while both of its peers continue to have high load spikes. This is an issue because it slows down the overall gluster filesystem and additionally the two nodes run hot.

Here are two snipptes from a ~ 5min profile run; one showing the healed

[2021-07-16 08:57] pranithk commented on #2592
@tbaetzler I think the issue could be a zfs issue outlined here: https://github.com/gluster/glusterfs/issues/1764 It also has workaround. Check the issue from https://github.com/gluster/glusterfs/issues/1764#issuecomment-723543606 onwards. Do take the brick down when you rename xattrop directory.

[2021-07-16 09:06] pranithk commented on #2592
@tbaetzler Do let me know if this fixes it.

[2021-07-16 09:15] pranithk commented on #2592
You need to let heal complete before taking the next brick down...

[2021-07-16 10:22] tbaetzler commented on #2592
@pranithk That did it! I stopped in turn glusterfs on each of the two abnormal bricks, mv'ed the old .glusterfs/indices/axttrop directory to the side and then recreated it using mkdir .glusterfs/indices/xattrop, then I restarted glusterfs and waited for the heal to complete. After that I verified that the load level was now again evenly balanced on all nodes.

[2021-07-16 10:22] #2592 closed, assigned to nobody

[2021-07-16 10:24] pranithk commented on #2592
@tbaetzler Could you please help with the zfs commands you used to build data on the new brick? @rafikc30 and I are thinking of building a script to make this procedure official for replacing a brick in replica volumes.

[2021-07-16 10:31] #2502 closed, assigned to nobody

[2021-07-16 10:55] tbaetzler commented on #2592
Sure. Here's the ansible code we're using:

[code]

[2021-07-16 11:00] #214 closed

[2021-07-16 11:00] #1876 closed, assigned to nobody

[2021-07-16 11:05] pranithk commented on #2592
@tbaetzler I mainly wanted to know how you did the ZFS dataset recreation you mentioned above.

[2021-07-16 11:26] tbaetzler commented on #2592
@pranithk That was really only "zfs create glusterpool/brick2". For me, the thing to take away from this was that replacing a brick works as described in the manual, but that after the initial heal is complete, one has to go to the peer bricks of the replaced brick and in turn stop glusterfs, recreate the xattrop directory, start glusterfs and heal in between.

[2021-07-16 15:12] kun-lu20 commented on #2491
Hi @mscherer , any updates from the regressions on s390x VM? Thanks.

[2021-07-16 23:11] archon810 commented on #1256
I believe the issue is still present, but haven't had time to provide more feedback.

[2021-07-17 01:49] pranithk opened #2632 "metadata heal should use tiebreaker inodelk"
Metadata heal uses normal inodelk. If 2 metadata heals are triggered on the same file, one progresses after the other leading to extra delay and an unnecessary lookup only to find there is nothing to heal.

Create 100000 files on the mount, bring 1 brick down do chmod +x on all these files and bring the brick back up.

Here are the numbers:
[code]

I was expecting there to be close to 200000 inode

[2021-07-17 03:36] wxiaoguang commented on #2606
Any idea about this problem? Or how can I help?

[2021-07-17 04:26] mohit84 commented on #2630
By default it creates a unix socket file under /var/run directory and same you can find also after check unix socket path in netstat-anlp | grep glusterd.socket

[2021-07-17 04:29] mohit84 commented on #2606
I need a reproducer to reproduce issue specific to open-behind.

[2021-07-17 08:26] ghost commented on #2630
Shouldn't `-S` override the behavior?

[2021-07-17 08:46] pranithk opened #2634 "resolving inode in lookup should honor RESOLVE_DONTCARE"
When a lookup on a gfid comes, if the inode corresponding to gfid is not present in the inode table, then both resolution and actual lookup fops will do lookups which is redundant. I found that entry lookup prevents this by honoring RESOLVE_DONTCARE part in resolution where as the same check is not present in resolving inode. We need to add that to reduce the number of lookups in case of some oper

[2021-07-17 22:26] #1831 closed, assigned to nobody

[2021-07-18 06:01] #1734 closed, assigned to nobody

[2021-07-18 06:01] #1890 closed, assigned to nobody

[2021-07-18 10:05] mykaul commented on #1195
Ceph seem to think it's a good idea - https://github.com/ceph/ceph/pull/42367

[2021-07-19 04:15] #2620 closed, assigned to pranithk

[2021-07-19 04:54] #2634 closed, assigned to pranithk

[2021-07-19 04:56] #2617 closed, assigned to nobody

[2021-07-19 04:57] #2632 closed, assigned to pranithk

[2021-07-19 10:41] tshacked commented on #1540
At BZ 1980933 we got a case of uneven distribution due to this imp (skip migration for hardlinks)
Reopening for considering this configuration.

[2021-07-19 12:49] mohit84 commented on #1923
Hi Yaniv,

 I have executed smallfile test case after changed the mem header structure as you suggested .
 We are not seeing any improvement, If we do compare memory consumption the memory consumption is slightly increase in case of brick process.

    tcmalloc_disable_mempool   new_mem_header_tcmalloc_disable_mempool
create:====>   1702.52 ====> 1727.31
ls-l:====>     59165.9 ====> 57390.7
chmod:

[2021-07-19 13:07] mykaul commented on #1923
Thanks Mohit, I probably missed something obvious here, as I don't see why it'd *increase* memory usage.
I'll see if I have some weekend time to look at it again (perhaps tcmalloc has a different alignment constraint I'm not aware of?)

[2021-07-19 13:37] #2551 closed, assigned to nobody

[2021-07-19 20:28] mscherer commented on #2491
No update for now, I didn't ran the test again last week, I focused on adding a Ubuntu builder (and mostly dealing with changes in Ubuntu auto install).

[2021-07-19 20:41] kun-lu20 commented on #2491
@mscherer Thanks for letting me know!

[2021-07-20 05:52] bluikko commented on #2231
Interesting that this is not listed in the release notes.

[2021-07-20 06:56] mykaul commented on #2231
If it's worth noting, you can send a patch to the release notes.

[2021-07-20 07:51] bluikko commented on #2231
OK. I am just looking at updating from 6.x to 9.x so this is relevant to my case. I hope the PR is accurate since this thread is all I'm going with (and the history of RPM package `libglusterfs0`).

[2021-07-20 10:45] Adam2Marsh opened #2640 "Gluster Daemon is running but Gluster Commands Fail to Connect"
**Description of problem:**
After recently upgrading to 9.3 I've notiuced an issue on only 1 of our gluster nodes where you can't run any gluster commands. You get the following error:
[code]

When checking systemctl it shows the glusterd process is running (sorry forgot to capture this). When trying to run a gluster status command on a different node it just hangs but I was able to run gluster in

[2021-07-20 12:20] bluikko opened #2641 "Server missing from volume status clients on some volumes only"
**Description of problem:**
One server out of three GlusterFS servers is randomly missing from `gluster volume status x clients`. The servers host about 10 volumes, all replicated the same way. About half of the volumes always show all servers in the client list but about half of the volumes sometimes miss the same server from the client list. Volumes have been created over a long period of time.

[2021-07-20 13:12] mohit84 commented on #2641
Can you run netstat -anlp | grep 49158 on all the nodes and share the result ?

[2021-07-20 13:40] bluikko commented on #2641
[code]

[2021-07-20 14:28] aravindavk commented on #145
Sent PR(#2642) only by extracting the LVM related code changes to make the current code as pluggable. ZFS and Btrfs code changes to be submitted after this PR merge.

[2021-07-21 03:27] mohit84 commented on #2641
It seems at the time of capturing the netstat output cli was showing correct status. Are you running any kind of gluster cli command in a while loop continuously in your environment? As you mentioned you are facing issue randomly if somehow a client graph(shd) has been regenerated in that case a client process will try to reconnect with a brick process. During that time it could be possible a cli

[2021-07-21 03:32] mohit84 commented on #2640
@nik-redhat
  Can you check this why glusterd hangs?

[2021-07-21 03:51] bluikko commented on #2641
@mohit84 no there is nothing running on these servers. And the volume that has the problem changes with a long interval - I have not found out when the volumes that miss the problem server change. Right now `volume7` is the only one missing the problem server and it has been like that for several days.

Last time when I checked about this (71 days ago) there were around 4 volumes missing the probl

[2021-07-21 04:57] bluikko commented on #2641
In the problem server `glustershd.log` there are first entries `Client-quorum is not met`, eventually changing to `Client-quorum is met`, and only 2 lines lately (others from July 4 or earlier):
[code]

The log above contains:
- Beginning of the log.
- Entries around the problem `volume7` that has problem currently, and the lines around those (`volume1`, `volume4` etc. are currently displaying all

[2021-07-21 05:27] nik-redhat commented on #2640
Hi @Adam2Marsh, what's the current status of the cluster? I see you have added that the status command fails and added the status command's output, so can't understand that.
Also, could you please attach the output of `gluster peer status` from all the nodes?

[2021-07-21 05:37] nik-redhat commented on #2640
Also, can you please attach the complete logs for the node which is having this issue?
(Do hide/replace any sensitive data like IPs, in it)

[2021-07-21 05:50] mohit84 commented on #2641
Can you check cmd_histroy.log at the same time what commands was executed in your environment. In case client_quorum is not met because at that moment shd got disconnect from the brick (volume16-client-0|volume16-client-1), need to check brick logs why it got disconnect. If at the same time you tried to show the client status then the behavior is expected.I don't think there is any issue in gluste

[2021-07-21 05:53] mohit84 commented on #2630
Yes it should respect and it is a bug.If we do implement it at glusterd then a user has to provide same socket file to cli while running a cli command operation. I believe if /var/ partition is bind-mount on all the containers then you should not face any issue.

[2021-07-21 06:37] bluikko commented on #2641
So then updating these servers should be safe if I understand you right.

I think I understand what you are saying. But that would mean that the brick is disconnected for days and weeks on end. All the while other clients can connect to this brick just fine, and all other volumes and bricks do not have any errors.

All the clients connect to the server3 over the exact same network path as server1

[2021-07-21 10:28] Adam2Marsh commented on #2462
We've also seen this issue during an upgrade.

Only had the issue on 1 of our volumes where I then did the following to resovle:

1. gluster volume set all cluster.op-version 90000 - no change
2. Shutdown app which uses volume otherwise next command wouldn't work
3. gluster volume set stage-slu-prometheus cluster.use-anonymous-inode no - heal now was successful
4. gluster volume set stage-slu-prom

[2021-07-21 10:52] mscherer commented on #2491
So i made a test run, it still fail:
https://build.gluster.org/job/centos8-regression/384/console

(but I haven't investigated yet why, and I guess there is a bug that didn't fix by itself).

[2021-07-21 11:58] tshacked commented on #1723
Reopening for further investigation

[2021-07-21 15:14] mohit84 commented on #2641
You should not face any issue during updating of the server. Are you sure (PID-6371) is specific to shd client?
The release is end of life , Can you please upgrade on the new release (release-8/9) ?

[2021-07-21 15:49] Adam2Marsh commented on #2640
Hi @nik-redhat

At the time when I couldn't run any gluster commands on the single node the peer status advised all nodes were connected without issues. I fixed the bad node by restarting the glusterd service so can't grab any further logs as it's working.

Logs as requested from the affected node, I will send the password to you via DM.
[glusterd.log-20210721.zip](https://github.com/gluster/glust

[2021-07-21 15:57] mscherer commented on #2491
So it fail with this error in dmesg:
[code]

And
[code]

I guess there is a issue with losetup.

[2021-07-21 16:14] mscherer commented on #2491
I also see message about missing io-uring module. I ran dnf update and reboot, to see if this could be linked.

[2021-07-21 16:16] kun-lu20 commented on #2491
Yeah, that makes sense. I also found the following line in the log:
[code]

I think the JDK path is not correct on s390x. And this line:

`11:38:28 ./run-tests.sh: line 75: gluster: command not found`

Does it indicate there is something wrong in the building process? Thanks!

[2021-07-21 16:29] mscherer commented on #2491
I also see:
[code]

The JDK seems fine, since jenkins can start the agent. And for "gluster command not found", this is curious, but depend where it appear.

From what I see digging in the log, there is a issue in gluster, but I do not know enough of the code to be able to say if something is missing (like, rpcbind, a firewall issue, etc). We had our share amount of problem due to that, but since

[2021-07-21 17:04] kun-lu20 commented on #2491
Thanks @mscherer , hope we could fix the issue on s390x as well.

[2021-07-21 17:38] nik-redhat commented on #2640
So, do you mean to say things are working fine now?
Also, from the logs, it seems like the `status` command is only giving the `Request timed out` issue and that's because it is trying to take a lock to fetch the data from the peers, but it's failing to do so.
Also, what happens when you try to execute the `status` command from other nodes? (I think the response would be the same?)

[2021-07-22 03:35] aravindavk commented on #349
In one of our previous community meeting this topic is discussed with @pranithk and @itisravi. A few questions/concerns were:

- Self heal is aggressively identifies the pending heal and tries to heal asap. Skipping Self heal for these reflink files is concerning.
- Design proposal is not clear if it is trying to add as new `fop` or Virtual xattr.
- Details missing about why we need to skip the Se

[2021-07-22 03:40] bluikko commented on #2641
Good point. You are right - that is me checking if the port is accessible!

Your opinion that it would be safe to update gave us the confidence to go ahead and update to 9.3. After the first server was updated all volumes show all 3 servers as clients and continued to do so after other 2 servers restarted.

A lot of troubleshooting for nothing it may be - looks like the update has fixed this. I wi

[2021-07-22 03:40] #2641 closed, assigned to nobody

[2021-07-22 07:38] Adam2Marsh commented on #2640
Correct, everything is working again after I restarted the gluster daemon. I've seen this issue twice in the past, next time I exiperence I can leave for longer if you need specific output.

When trying to do a status from any other node I got a timeout. I've only provided logs from the node where got the error; did you wnt the logs from a different node?

[2021-07-22 07:41] nik-redhat commented on #2640
Ok, yeah that might help.
But before that, I wanted to confirm if you running the command `gluster v  status` or `gluster profile info` simultaneously from all the nodes? If that's the case there is a high chance of getting the locking issue.

[2021-07-22 07:42] nik-redhat commented on #2640
@srijan-sivakumar tagging you in the issue as well....

[2021-07-22 11:06] #1896 closed, assigned to nobody

[2021-07-22 23:44] archon810 opened #2648 "Broken status, peer probe, "DNS resolution failed on host" and "Error disabling sockopt IPV6_V6ONLY: "Protocol not available" after updating from gluster 7.9 to 9.1"
**Description of problem:**
We have a 4-node replicate cluster running gluster 7.9. I'm currently setting up a new cluster on a new set of machines and went straight for gluster 9.1.

However, I was unable to probe any servers due to this error:
[code]

I then wiped the `/var/lib/glusterd` dir to start clean and downgraded to 7.9, then attempted to peer probe again. This time, it worked fine, prov

[2021-07-23 00:09] archon810 commented on #2648
I've now tried another downgrade from 9.1 back to 7.9 on this test cluster, without wiping, and it worked. All the continuous errors present in 9.1 have gone away, and `gluster v status` now returns correct nodes:

[code]

Heal is also working now:

[code]

[2021-07-23 04:45] mohit84 commented on #2648
It is happening because by default ipv6 is disabled you have to build rpms after provide a --with-ipv6-default flag at the time of run configure then you can use the feature(ipv6)

[2021-07-23 04:53] archon810 commented on #2648
I am using repo builds from https://download.opensuse.org/repositories/filesystems/openSUSE_Leap_15.2/x86_64/ (currently glusterfs-9.1-lp152.88.2.x86_64.rpm) and don't build them.

Perhaps the builds at https://download.opensuse.org/repositories/home:/glusterfs:/Leap15.2-9/openSUSE_Leap_15.2/x86_64/ are better (currently glusterfs-9.1-lp152.112.1.x86_64.rpm), does anyone know?

And regardless, I d

[2021-07-23 05:15] mohit84 commented on #2648
Without enable the macro(IPV6_DEFAULT) it is not possible any glusterfs process can try to enable IPPROTO_IPV6 on socket, i think the rpms are build after enable the feature --with-ipv6-default that's why you are facing this issue.

#ifdef IPV6_DEFAULT
        int disable_v6only = 0;
        if (setsockopt(priv->sock, IPPROTO_IPV6, IPV6_V6ONLY,
                       (void *)&disable_v6only, sizeo

[2021-07-23 06:10] chenglin130 opened #2649 "glustershd failed in bind with error "Address already in use""
**Description of problem:**
glustershd failed in bind with error "Address already in use"
[code]

**The exact command to reproduce the issue**:
systemctl restart glusterd.service

**The full output of the command that failed**:
<details>

**Expected results:**
<details>

**Mandatory info:**
**- The output of the `gluster volume info` command**:

**- The output of the `gluster volume status` comman

[2021-07-23 06:20] mohit84 commented on #2648
It is not a gluster bug, i think you need to check with suse why they did enable ipv6 as a default ip protocol.
As we can see below are the flags configured by glusterfs.spec part of suse src rpm(https://download.opensuse.org/repositories/filesystems/openSUSE_Leap_15.2/src/glusterfs-9.1-lp152.88.2.src.rpm)

%configure \
%if !(0%{?suse_version} >= 1550)
        --disable-linux-io_uring \
%endif

[2021-07-23 06:22] pranithk commented on #2649
@chenglin130 Please provide the glusterfs/OS version information. Complete logs on that node would be helpful.

[2021-07-23 06:48] chenglin130 commented on #2649
@pranithk

glusterfs 8.3 / centos 7
Error with small probability

[2021-07-23 16:22] schaffung opened #2652 "Removal of deadcode: Pump"
**Description of problem:** While debugging another issue, stumbled across the pump xlator. On checking its utility, it comes out to be a deadcode with no utility.

**The exact command to reproduce the issue**: One can perform add brick or replace brick command and then check the glusterd.log. The glusterd.log shows that the function `brick_graph_add_pump` is invoked but errors out due to un-avail

[2021-07-23 18:15] schaffung commented on #2625
@nik-redhat  When I try to reproduce the issue, the glusterd goes for a toss in the system wherein I run the add-brick command.

[2021-07-23 18:19] nik-redhat commented on #2625
I did notice glusterd crashing sometimes but wasn't able to hit it always.

[2021-07-23 23:24] dpedu commented on #1364
I encountered this today on Ubuntu 20.04.2 also using the 7 and 8 ppa repo. As others have mentioned, I `apt-get removed`ed all of the glusterfs packages on my system - which were `glusterfs-client`, `glusterfs-common`, `glusterfs-server`, `libglusterd0`. From there upgrading to 8.x was smooth sailing.

Perhaps using the [`Conflicts` option](https://www.debian.org/doc/debian-policy/ch-relationship

[2021-07-24 05:12] schaffung commented on #2625
Debugging shows that the SIGABRT is received after GF_FREE(new_auth_allow_list) is executed.

[2021-07-24 05:21] schaffung commented on #2625
So assertion failure in __gf_free

[code]

[2021-07-24 08:45] hunter86bg commented on #1778
@pranithk , I thought this one is already fixed

[2021-07-24 12:25] #1916 closed, assigned to nobody

[2021-07-24 22:31] #340 closed

[2021-07-25 04:11] #2652 closed, assigned to schaffung

[2021-07-25 11:22] pjakma commented on #1923
Note that padding may be required to ensure fields are aligned with their natural width on some architectures. I.e., a 4-byte field should start at a 4-byte aligned address, an 8-byte field on an 8-byte aligned address, etc.

Just mentioning this cause I'm debugging a SIGBUS on sparc in gf_mem_header_prepare().

[2021-07-25 12:19] mykaul commented on #1923
Should or must? I think you are hinting it must (which matches my past experience with Sparc).

I do believe we need to strive to fix all alignment issues (and we have plenty of them), but I thought these days the compiler takes care of it if we don't, by automatically padding structs?

[2021-07-26 01:37] jicki commented on #2056
I also encountered this problem

Is there a solution,  thank~

[2021-07-26 07:27] rdxmb commented on #340
/reopen

[2021-07-26 07:31] mykaul commented on #340
Hi @rdxmb  - are you going to work on this issue? This is great news! I'd be happy if you can split it to multiple issues, as the above comments provides multiple ways to improve the performance (and I'm sure there are others).

[2021-07-26 11:06] itisravi opened #2659 "tests/basic/afr/afr-anon-inode.t crashed"
**Description of problem:**

tests/basic/afr/afr-anon-inode.t crashed at
https://build.gluster.org/job/gh_centos7-regression/1454/console

[code]

[2021-07-26 12:29] mohit84 opened #2662 "auth: During update of auth.allow fuse mount is getting disconnect"
A user has configured huge number of auth.allow addresses(more than 100) and while a client is trying to mount/remount the volume  the setvolume request has not been finished within threshold  limit (42s) if dns server has some delay.The setvolume is not finished because dns-server is taking time to resolve the address.The current(compare_addr_and_update) logic is it is  trying to resolve dns  add

[2021-07-26 12:50] mscherer opened #2664 "Test suite produce uncompressed logs"
**Description of problem:**

We (gluster infra) have noticed that the c8 builders tend to have /var/log full quite fast. The root cause is the space used by /var/log/gluster/bricks , which is later stored uncompressed in tar files (some of  or 2g), and that take more ressources than we planned.

[2021-07-27 02:15] archon810 commented on #2648
Hi everyone,

Well, I went back to Gluster's own repo (https://download.opensuse.org/repositories/home:/glusterfs:/Leap15.2-9/openSUSE_Leap_15.2/x86_64/) rather than using OpenSUSE's filesystem one (https://download.opensuse.org/repositories/filesystems/openSUSE_Leap_15.2/x86_64/), and tried upgrading from 7.9 to 9.1 again. This time, everything worked fine, though the status commands were failing

[2021-07-27 03:54] #1274 closed

[2021-07-27 04:10] mohit84 commented on #2648
It is a known issue(https://github.com/gluster/glusterfs/issues/2351) and we already fixed in release-9.2.
Kindly upgrade on 9.2 instead of 9.1

[2021-07-27 04:56] #2659 closed, assigned to nobody

[2021-07-27 08:47] xhernandez commented on #1723
I've found another case where mismatching gfids are created. It happens in some cases where a stale linkto file exists. To reproduce it we need a 2*3 distributed-replicated volume and 2 file names that hash on each subvolume (i.e. 2 that hash on subvolume 0 and 2 that hash to subvolume 1).

Let's say that the files that hash to subvolume 0 are `file1` and `file2`, and `file3` and `file4` hash to s

[2021-07-27 09:20] jamielinux commented on #2314
Hi @nik-redhat

But why was `performance.cache-size` listed twice in the output of `gluster volume get volname all`? Shouldn't each option only be displayed once?

And why did `performance.cache-size` show two different values, `32MB` and `128MB` at the same time? Surely one of them must be wrong, and should not be listed?

[2021-07-27 09:27] nik-redhat commented on #2314
The option `performance-cache-size` is not valid anymore, and we have two different options for each xlator as mentioned above.
That shouldn't be listed at all for sure, but for backward compatibility, we have the same option listed twice which in reality corresponds to two different options.

[2021-07-27 11:45] pjakma commented on #1923
It's required on SPARC, the CPU faults on unaligned access, and you get a SIGBUS in user-spaceon Linux.

The compiler can ensure the fields of the struct itself are correctly aligned. It can not always ensure that access through casts is aligned however.

I think the Sun compiler had options to generate code for memory access in ways that would always be aligned - but that would slow all code down

[2021-07-27 11:48] mykaul commented on #1923
@pjakma - Gluster has both ASAN and valgrind support, but they are not enabled or available in production code of course.

[2021-07-27 11:53] mykaul commented on #1923
BTW, I completely agree with you on aligning and manually padding stuff. We used to have a contributor on Gluster that did some work on manually aligning structs, not only to align, but also reduce padding in the 1st place. I do believe it's important (and while at it, re-order in the order where variables are most likely accessed, strive to co-locate related variables in the same cache line if it

[2021-07-27 12:00] pjakma commented on #1923
@mykaul: Well, if I can get some patches in to fix the trailer SIGBUS (one way or another) - ideally be a little bit friendlier to IPv6 only networks too (see https://github.com/gluster/glusterfs/pull/2666) - I'll be running gluster on a SPARC64 box. And that's a /great/ way to catch alignment issues ;).

[2021-07-27 13:56] #2664 closed, assigned to nobody

[2021-07-28 12:47] arshesney opened #2670 "Unable to mount volume on a node in a 2x server + thin-arbiter deployment"
Description of problem:
GlusterFS deployment of a single volume on two Arch Linux hosts (server1 and server2) with thin-arbiter on Raspbian (raspberrypi): server2 is unable to mount the volume. Volume log reports these errors:

    [2021-07-28 12:14:11.603312 +0000] W [MSGID: 114043] [client-handshake.c:726:client_setvolume_cbk] 0-docker0-ta-2: failed to set the volume [{errno=13}, {error=Permissi

[2021-07-28 12:50] mohit84 commented on #2670
Can you share the brick logs from the path /var/log/glustefs/bricks along with gluster v info output.

[2021-07-28 12:51] #1412 closed

[2021-07-28 12:59] arshesney commented on #2670
Sure thing:

    Volume Name: docker0
    Type: Replicate
    Volume ID: 313297fa-aa63-4d87-97c5-aec6c1cf1530
    Status: Started
    Snapshot Count: 0
    Number of Bricks: 1 x 2 = 2
    Transport-type: tcp
    Bricks:
    Brick1: server1:/export/docker_gluster/brick
    Brick2: server2:/export/docker_gluster/brick
    Thin-arbiter-path: raspberry:/etc/glusterfs/thin-arbiter.vol
    Options Recon

[2021-07-28 13:13] mohit84 commented on #2670
I think you are facing an issue because you have authorized host_names (server1,server2) to access a volume but you are trying to access a volume from local host(127.0.0.1) and it seems it is not matching with any authorized hosts(server1, server2) that;s why client is getting "Authentication failed" error.

[2021-07-28 13:36] arshesney commented on #2670
Ok, for the sake of getting it to work I've set auth.allow to *:

    Volume Name: docker0
    Type: Replicate
    Volume ID: 313297fa-aa63-4d87-97c5-aec6c1cf1530
    Status: Started
    Snapshot Count: 0
    Number of Bricks: 1 x 2 = 2
    Transport-type: tcp
    Bricks:
    Brick1: server1:/export/docker_gluster/brick
    Brick2: server2:/export/docker_gluster/brick
    Thin-arbiter-path: raspbe

[2021-07-28 13:46] mohit84 commented on #2670
Either you have to set the value to "*" or ensure (server1|server2) should be mapped to 127.0.0.1.Is the glusterd running on the same port.I think you need to configure server1/server2 on the dns-server or /etc/hosts so that the host should be mapped with correct ip address.

[2021-07-28 17:12] #1912 closed, assigned to nobody

[2021-07-28 19:33] amgads opened #2671 "Glusterfs brick processes are running very high CPU"
**Description of problem:**

We have a dynamic volume with 2 bricks processes (replica:2) running very high cpu exceeding 100%. The dynamic volume in K8s is used by two different pods. That was not the case with GlusterFS V6.5 -- when upgraded to release 7.8, we have seen this issue. This is a field issue so it's escalated.

The issue doesn't show with other pods/volumes. Collected the following p

[2021-07-28 19:52] amgads commented on #2671
Any know issue with high CPU for release 7.8+?
Any other data is needed?

[2021-07-29 03:13] #1926 closed, assigned to nobody

[2021-07-29 06:05] karthik-us commented on #1143
@chetanmore1, can you take this up please?

[2021-07-29 06:31] chetanmore1 commented on #1143
Hi Karthik, please assign it to me, I am not able to get it assigned.

[2021-07-29 07:00] kalkir opened #2672 "gluster add bricks failing on disperse volume"
I am trying to add 3 new bricks to the existing gluster volume, but the operation is timing out and i am seeing lock on all nodes. I had to remove the bricks for normal operation. Is there any standard procedure to add bricks to an live volume? do I need to unmount client mounts before adding additional brick? I have tried following command.

gluster volume add-brick gluster-vol 10.20.0.1:/bricks/

[2021-07-29 09:40] WeddySong opened #2673 "Distributed Replicated Glusterfs Volume stress testing，one brick glusterfsd process Segmentation fault"
**Description of problem:**
Core was generated by `/usr/sbin/glusterfsd -s node07 --volfile-id datafs.node07.gcfs_dev-data39-data'.
Program terminated with signal SIGSEGV, Segmentation fault.
gdb debug get frame pointer is NULL

**The exact command to reproduce the issue**:
7*24h vdbench test Distributed Replicated Glusterfs Volume 2*（8:2）

**The full output of the command that failed**:
<details>

[2021-07-29 16:31] #1930 closed, assigned to nobody

[2021-07-29 16:31] #1929 closed, assigned to nobody

[2021-07-30 09:11] shenwen2012 commented on #1986
@jicki you are Docker application in glusterfs ?

[2021-07-30 13:34] #1931 closed, assigned to nobody

[2021-07-30 16:29] amgads opened #2676 "inode limit per gluster volume"
**Description of problem:**

We have heal failing with a timeout from heketi side during moving bricks from a device with the error:

Error: Unable to get heal info of volume : vol_cb81e9765b9c108551b507b1d8b65f14 : SSH command timeout

We realized that the volume has lots of inode -- 12M, is there a limit of #inodes per volume?

[2021-07-31 02:02] mohit84 commented on #2676
For the server side there is volume option (inode-lru-limit) you can specify the limit on the number of inodes in the lru list.I don't think a volume can use 12M inodes because the maximum limit is 1048576. You can configure the inode lru limit like this
gluster volume set <volname> network.inode-lru-limit 100000

[2021-07-31 02:05] amgads commented on #2676
Thanks Mohit .. that means that limit can’t be set to a value more than 1M .. is that documented anywhere?

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: mohit84 ***@***.***>
Sent: Friday, July 30, 2021 9:02:28 PM
To: gluster/glusterfs ***@***.***>
Cc: Saleh, Amgad (Nokia - US/Naperville) ***@***.***>; Author ***@***.***>
Subject: Re: [gluster/glusterfs] inode l

[2021-07-31 02:10] mohit84 commented on #2671
I don't think any issue was reported in release-7.8+ specific to high CPU consumption, Can you please confirm what is workload in your environment ? Is it possible to capture continuous pstack while a brick process is consuming high CPU and share the brick logs also to debug it more.

[2021-07-31 02:28] amgads commented on #2671
Thanks Mohit -- this is a customer system, so I'll ask to collect the data in the lab which has the same issue.

[2021-07-31 02:33] amgads commented on #2676
If not in the user documentation, pointer to the code is appreciated!

[2021-07-31 06:48] #1935 closed, assigned to nobody

[2021-08-01 00:00] amgads commented on #2676
I tried to set it beyond the 1M and it failed showing the limit
# gluster volume set vol_f21bb38656eb156dc2319b3c6ce48000 network.inode-lru-limit 2000000
volume set: failed: '2000000' in 'option inode-lru-limit 2000000' is out of range [0 - 1048576]

Was just wondering if it's documented somewhere for user doc.

[2021-08-01 01:40] mohit84 commented on #2676
As we can see same in the code, i have not found any document specific to mentioned maximum value.

{.key = {"inode-lru-limit"},
     .type = GF_OPTION_TYPE_INT,
     .min = 0,
     .max = 1048576,
     .default_value = "16384",
     .description = "Specifies the limit on the number of inodes "
                    "in the lru list of the inode cache.",
     .op_version = {1},
     .flags = OPT_FLA

[2021-08-02 01:39] jifengzhou opened #2677 "The gluster command returns the timeout waiting time exceeds 2 minutes"
A cluster composed of two hosts A and B. When host B is suddenly disconnected from the network, host A runs the command "gluster volume status" at this time. The command block time exceeds 2 minutes, and then returns "Error: Request timed out" after 2 minutes. Under normal circumstances, when there is no data exchange between host A and host B, it only takes about 20 seconds for host A to receive

[2021-08-02 12:38] schaffung commented on #2625
ok..so after searching through different references, finally the dev session video comes handy :) basically this magic number is added to the tail so as to identify overflows and memory corruptions. @pranithk  correct me if I'm wrong. Basically if this assertion fails that'd mean the actual data overflowed and we wrote over the trailer right ?

[2021-08-02 22:51] epiccukes opened #2680 "shard: incorrect file size xattr on concurrent writes"
**Description of problem:**
When writing to the same file from 2 different clients with sharding enabled, the file size of the resulting file is larger than the expected file size.

**The exact command to reproduce the issue**:
Start brand new 3 node cluster with sharding & replication enabled. Connect to the mount with 2 distinct clients (a client can be a part of the cluster i.e. `server1` & `se

[2021-08-03 05:26] pranithk commented on #2680
As per my understanding concurrent writes are not supported on sharding xlator. It is supposed to be used only for single write workloads. cc @v-harihar

[2021-08-03 06:53] vh05 commented on #2680
@epiccukes shard xlator does not support concurrent writes. You can track this https://github.com/gluster/glusterfs/issues/1711
for any updates on it.

[2021-08-03 07:05] epiccukes commented on #2680
@pranithk @v-harihar Thanks for your response! Given that issue was previously stale and closed, what's the likelihood that the shard xlator can include support for concurrent writes?

Also, are there any volume settings that I can modify to act as a temporary work around for the moment?

[2021-08-03 07:35] tim-stoakes-at-pavilion-io opened #2682 "Add tier feature - to allow file data to move to different storage"
A tier (or archive) feature allows the file to still be present in the gluster volume, but for its data to reside elsewhere. Access to the file is always through the gluster volume, which transparently sends IOs to the other tier when required. It would normally be the case that the other tier has lower performance, and therefore should be used for 'colder' data only.

This solves the problem of t

[2021-08-03 08:50] vh05 commented on #2680
@epiccukes

The work is not planned for any upcoming releases. I have kept that issue open for future reference.

There is no workaround as such. What is better is, define a use case where concurrent writes are not required and enable sharding on volume for such uses cases.

Regards
Vinayak

[2021-08-03 12:01] jifengzhou opened #2683 "Questions about the function of glusterfs worm"
According to the description of "enable worm" in the glusterfs source code, "When \"on\", makes a volume get write once read many feature. It is turned \"off\" by default.", I understand the meaning is to open After worm, files can be created but not modified, but in actual tests, I found that after enabling worm, the shared directory became only readable but not writeable.

[root@node1 mnt]# touc

[2021-08-03 12:39] itisravi commented on #2683
CC @karthik-us

[2021-08-03 14:33] mkrueger-sabio opened #2684 "[Question] Possible to use custom cert location when mounting?"
Is it possible to use a custom cert location on client side when mounting a volume? I tried to use `mount ... -o "xlator-option=client.transport.socket.ssl-own-cert=/ssl/glusterfs.pem" ...` but this does not work.

[2021-08-03 17:53] mermetbt commented on #1986
I got the same problem:

[code]

I'm using GlusterFS 5.5 on the hosts machine of a Kubernetes cluster.

I could read/write on the volume without problems at the same time and it works, but the services running in Docker have troubles to read/write from the volume.
The glusterfs volume is mounted on the k8s node and the docker containers are using this volume (I'm not running gluster inside docker)

[2021-08-03 19:16] #1940 closed, assigned to nobody

[2021-08-03 19:16] #1941 closed, assigned to nobody

[2021-08-04 03:47] luckyho opened #2685 "Assertion failed in ”__gf_free“ after One week of stress test"
**Description of problem:**
We used the gluster local client to perform a week of stress test on the gluster cluster, we found that one of the brick processes have crashed
gluster version : 8.4
server architecture : aarch64
client architecture ：x86_64

**The exact command to reproduce the issue**:
1）Randomly generate 200 files from 100M to 10G
2）copy to the gluster cluster through the gluster loca

[2021-08-04 03:54] pranithk commented on #2685
@luckyho Could you install the debuginfo rpms/deb and provide the output of
`# thread apply all backtrace`

[2021-08-04 05:25] deepshikhaaa opened #2686 "Few tests are timing out in centos8-regression"
**Description of problem:** 9 tests are failing because of time out error:

9 test(s) failed
./tests/basic/0symbol-check.t
./tests/basic/afr/tarissue.t
./tests/basic/all_squash.t
./tests/basic/mount.t
./tests/basic/namespace.t
./tests/basic/uss.t
./tests/bugs/distribute/bug-1125824.t
./tests/bugs/distribute/bug-1190734.t
./tests/bugs/snapshot/bug-1166197.t

Link- https://build.gluster.org/job/cent

[2021-08-04 05:56] luckyho commented on #2685
[gcore.log](https://github.com/gluster/glusterfs/files/6928910/gcore.log)
@pranithk Thanks for attention
Please refer to the attachment for backtrace stack information

[2021-08-04 07:10] mohit84 commented on #2684
It will work only while the same is configured for glusterd and brick also otherwise it will not work.

[2021-08-04 11:43] mkrueger-sabio commented on #2684
I still can't get it working. I created the volume on the server with these options:

[code]

Then I tried to mount it on the client:

[code]

Which failed with these logs:

[code]

What's a little bit confusing for me is that only the `ssl-ca-list` option is send to `glusterfs`, but I also tried using `glusterfs` directly with the same result.

On the server glusterd logs:

[code]

I'm not sure w

[2021-08-05 08:50] Adam2Marsh commented on #2640
@nik-redhat We experienced this again in our production cluster, unfortunately we needed to resolve the issue with it being production and performing some work on the cluster.

Just to confirm the locking issue you see in the logs I believe are from the gluster prometheus exporters, this is a normal event we see in our logs.

[2021-08-05 09:07] Shwetha-Acharya opened #2691 "georep-upgrade.t find failures"
find command in tests/00-geo-rep/georep-config-upgrade.t need to be replaced with exact path.

[2021-08-05 13:08] mohit84 opened #2693 "dht: dht_local_wipe is crashed while running rename operation"
On the pull request (https://github.com/gluster/glusterfs/pull/2669) dht_local_wipe is crashed while
dht is winding a rename_dir operation if some of the subvol has killed.The dht_local_wipe
is crashed during cleanup of ret_cache due to ret_cache corrupted by dht_rename_dir
function at the time of updating the status.

Solution: Check the subvol_cnt (index) it should be positive to avoid a buffer

[2021-08-06 00:38] #2693 closed, assigned to nobody

[2021-08-06 13:35] #2691 closed, assigned to nobody

[2021-08-07 12:35] golgotow opened #2700 "geo replication , log_raise_exception] <top>: connection to peer is broken"
when trying to setup geo-replication on between main gluster server with 3 nodes and slave with 1 node, in gsyncd.log this error appear log_raise_exception] <top>: connection to peer is broken. Some files are synchronized at begin.

gluster version 9.3-1

I did tried same stuff on debian 11 -> debian 11 but this end in same issue, no firewall between primary/slave
[vol_6d154258c829f1f77d0625f9130a

[2021-08-07 14:16] #1952 closed, assigned to nobody

[2021-08-08 09:50] tshacked commented on #1723
A basic rename path in dht includes the following steps: (the exact flow depends on the hashed/cached location of the src/dst file)
1) create a linkto-file on dst hashed (on creation named it as the src-file): this step is not needed if the src-file exists on dst hashed.
2) create hardlink with the dst-name where src file exists.
3) rename the linkto file created in (1) to dst-nam.
- from the code

[2021-08-08 10:42] tshacked commented on #1723
In this case:

- The src-file (file2) exists on the same subvol as the dst-file (file3) hashed/cached locations, so no need to create a linkto file.
- DHT finds file3 on the hashed-subvol so it doesn't aware to the stale linkto on the non hashed subvol.
- If file3 doesn't exist on the hashed-subvol (manual deletion), dht calls lookup_everywhere which detects and deletes the stale linkto file.
[cod

[2021-08-09 03:01] brenthub commented on #2601
Hi @pranithk , are you free to look at this problem now?

[2021-08-09 06:48] itisravi commented on #2686
@deepshikhaaa Where can we find the logs for the run? https://build.gluster.org/job/centos8-regression/403/artifact/glusterfs-logs.tgz does not contain any logs of the .t runs.

https://build.gluster.org/job/centos8-regression/403/consoleFull says
`02:00:36 echo "Logs are archived in https://logs.aws.gluster.org/$JOB_NAME-$BUILD_ID.tgz` but https://logs.aws.gluster.org/centos8-regression-403.tgz d

[2021-08-09 06:57] karthik-us commented on #2686
@itisravi I can see the logs here: https://build.gluster.org/job/centos8-regression/403/

[2021-08-09 06:59] karthik-us commented on #2686
Aargh!! Sorry, you are right, this is empty.

[2021-08-09 07:27] deepshikhaaa commented on #2686
You are right. glusterfs log directory is empty. I see an issue here.
On running the command manually:
tar -czf $WORKSPACE/glusterfs-logs.tgz /var/log/glusterfs /var/log/messages*
tar: Removing leading `/' from member names
tar: Removing leading `/' from hard link targets
tar: /var/log/glusterfs/bricks/d-backends-patchy0.log: file changed as we read it
tar: /var/log/glusterfs/bricks/d-backends-pat

[2021-08-09 07:37] itisravi commented on #2686
Actually, this is only a warning (probably because the brick was still alive and writing to the log file) and shouldn't prevent the archive from getting created.

[2021-08-09 07:46] Shwetha-Acharya opened #2702 "(glusterfs-8.6)- GlusterFS 8.6 tracker"
Tracker for the release 8.6

[2021-08-09 08:52] karthik-us commented on #2683
Hi @jifengzhou, can you give the `gluster volume info` and `gluster volume status` of this volume please?

[2021-08-09 09:06] nik-redhat commented on #2640
Hi @Adam2Marsh it is known that the gluster Prometheus exporter does cause locking issues, and that and an enhancement for it is being tracked under issue #2250 . And, due to the locking issue, we see the `Request timed out` error on the node.

[2021-08-09 14:18] xhernandez commented on #1723
No. This would be overkill and would only help on very rare cases.

Probably the best option to fix that without interfering too much with performance would be to handle errors in a more intelligent way. So if nothing fails (almost all cases), nothing additional is done, so no performance impact. Only for those rare cases where we get an unexpected error (specially if it comes from a linkto file),

[2021-08-09 15:13] #2515 closed, assigned to nik-redhat

[2021-08-10 16:15] kun-lu20 commented on #2491
Hi @mscherer , do you have time to further look into the regression test issue on s390x? Thank you very much!

[2021-08-11 05:03] msaju commented on #2252
**Please note release dates has been postponed by 4 weeks.**
**All issues planned below are in progress unless highlighted otherwise.**
Updated Status for release 10.0.

**Release Deadlines:**
**Code Freeze :** 20-Sept-2021
**RC :** 27-Sept-2021
**GA :** 11-Oct-2021

- [x]  runner: moving to posix_spawnp instead of fork  #2146
- [ ]  Unified performance xlator [RFE] Unified performance xlator #218

[2021-08-11 07:15] pranithk opened #2705 "Allow brick data population by external methods in replace-brick/reset-brick"
At the moment only way to do replace-brick is via CLI. For workloads that have lots of small files this approach takes weeks to months. There are alternative ways using xfsdump/zfs send/recv using which it is possible to do a replace-brick for replica volumes with data. I am proposing that we add at least a script to begin with which can do this to make this part of operations easier.

[2021-08-11 07:16] pranithk commented on #2705
@rafikc30 Could you add the problems you faced while doing the xfsdump/restore method to perform replace-brick, so that we can seek help from xfs developers in case we are doing something wrong?

[2021-08-11 12:40] rafikc30 commented on #2705
@pranithk Sure, I tested the xfsdump and xfsrestore with a brick size of around 700GB. I used xfsdump rpm version `xfsdump-3.1.6-1.30.x86_64.rpm`.

In short, I used the following commands

- xfsdump command to create dump,

- Transfer the file to the remote node

- I verified the xfsdump that is transferred to remote node using md5sum
- restored the xfsdump using the command

I had the following i

[2021-08-11 12:59] mmn01-sky opened #2706 "Gluster volume brick status: "Transport endpoint is not connected""
**Description of problem:**
When checking the gluster volume heal info command on multiple volumes and multiple bricks, we are presented with the following error on some bricks:

[code]

What is noteworthy is, we mounted the gluster volume onto a machine, created a dummy file and we saw it replicate across all of the other bricks including the one with the below error. We then deleted the file and

[2021-08-11 13:11] pranithk commented on #2706
[code]
The log is supposed to say 49171 as per the volume status output.
@nik-redhat Do you know if anything in glusterd could affect this?

We recently fixed a variant of this bug in https://github.com/gluster/glusterfs/issues/2480,  @mmn01-sky how did you get into this state?

[2021-08-11 13:23] Adam2Marsh commented on #2706
Hi @pranithk #2480 could be it.

We had some issues this morning with our gluster cluster which caused us to restart the glusterd service on all our nodes. We then spotted this issue on a different volume, performed a reboot of the node and saw the issue just move to a new volume.

[2021-08-11 13:41] pranithk commented on #2706
@Adam2Marsh I think it is better to check `netstat -anlp` on each brick machine and see if the port information of the brick matches volume status output. If it doesn't then, bring that brick down, bring it back up using volume start force until the port numbers are shown correctly. Please make sure to heal the files before bringing the next brick down.

PS: I have never seen anyone use 6 bricks f

[2021-08-11 13:45] pranithk commented on #2706
@Adam2Marsh Now that I think about it, bring both glusterfsd, glusterd down in that order.
bring glusterd up and then do gluster volume start <volname> force. Wait for heal to complete. This way the bug won't repeat. Maybe you should do it at off hours so that heal queue is not that big.

[2021-08-11 13:48] pranithk commented on #2706
This is per machine by the way.

[2021-08-11 15:29] #1955 closed, assigned to nobody

[2021-08-11 15:43] rdxmb commented on #340
Haha, I am not a developer. So unfortunately I am not able to do that.
So if this keeps a won't fix, gluster is will not be usable for small files still.

[2021-08-12 01:31] #843 closed

[2021-08-12 01:31] #1911 closed, assigned to nobody

[2021-08-12 05:02] hunter86bg commented on #876
Seems that https://github.com/gluster/glusterfs/pull/1607 was closed due to inactivity.

[2021-08-12 05:37] #1950 closed, assigned to nobody

[2021-08-12 08:00] xhernandez commented on #2705
@pranithk I'm not sure if going with this approach is a good idea. If we externalize such an operation, Gluster will lose a lot of control of the state. It will be harder to know when it finished and if it went ok, if it failed, if it needs to be restarted or aborted. It will also be very difficult to be sure the data is in sync at the exact same state before bringing down the old brick and replac

[2021-08-12 08:32] pranithk commented on #2705
Maybe I should have been precise. When I meant replacing by external methods, it was only for data population part of the replace-brick step. We bring the brick process down. Then populate the data on the new brick by transfering the data from one of the replicas. Then do whatever massaging is needed on the data in terms of xattrs etc and then bring it back up.

[2021-08-12 09:06] aspandey commented on #2705
How quick will this data copy be? If it is taking long time then that means we are leaving the volume on the edge. one more brick goes down and IO's would not happen.
Are we going to do it offline? If yes, then probably this is a good idea.  Otherwise, I feel there could be many corner cases and issues.  With this approach total time would be data copy time + setting xattrs on all the files/dir. T

[2021-08-12 09:30] xhernandez commented on #2705
I agree with @aspandey here. Voluntarily bringing a brick down to do the data transfer increases the risk of having issues. We are lowering the redundancy level of the volume when nothing has really failed.

Based on the comment from @rafikc30, it seems that the transfer took more than 3 days (~260000 seconds). This seems too much to me for keeping a working brick offline...

[2021-08-12 09:34] pranithk commented on #2705
Yes, that is the idea. If the machine completely dies, we would like to explore this option.

[2021-08-12 09:39] pranithk commented on #2705
Use case for this approach is when the machine dies and it can't be brought up. Only choice is to replace.

healing 1.7 million small files took 3 nights on our cluster(This is just backlog of 2 weeks data). The brick has data for at least a year's worth, possibly more. It is a choice between days vs several months for the heal to complete. Which is forcing me to explore this option.

@rafikc30 fa

[2021-08-12 10:42] xhernandez commented on #2705
In this case, do we need to really add something to Gluster ? probably providing a script to do that is enough. It doesn't need to be integrated inside glusterd or any other component. Once the script finishes, the brick can be replaced as it's currently done. Self-heal should take care of the modifications since the brick was offline.

For this particular case we could do something like this:

1.

[2021-08-12 10:49] pranithk commented on #2705
I don't think we want to add anything to gluster. Only a script that can populate data, most probably in `extras/` This is so that we have a way to identify any special handling that needs to happen on the brick like clearing some xattrs etc.

I think reset-brick already has this functionality. We are still testing things out. At the moment, we need help from XFS folks to figure out why xfsdump/xf

[2021-08-12 10:50] pranithk commented on #2705
I also changed the subject of this issue to better reflect the intention, let me know if it is still confusing.

[2021-08-12 10:54] xhernandez commented on #2705
If it's only a script inside `extras`, then it's fine for me. I thought you wanted to create some new hooks to run scripts during replace-brick operations.

reset-brick is a manual operation that requires administrator privileges. With the other approaches it could be plug & play. But probably this is not good time to work on this...

[2021-08-12 21:51] joejulian commented on #2401
I "cured" this. Is wasn't the xattrs, it was `.glusterfs/indices/xattrop`. I noticed the same entries were on both `strabo` (brick 1) and `gluster3` (the arbiter) so I deleted them all from gluster3 (`rm -rf /data/gluster/kube/brick/.glusterfs/indices/xattrop/*`). The error went away and the self-heal started succeeding on them.

[2021-08-14 11:38] squalfof opened #2711 "write failed with err log like "no subvolume for hash (value) = 2471508592""
**Description of problem:**
Files failed to write to GFS, with error message in data log
[code]

Note: i replace the actual dir name with ${user_dir}

**The exact command to reproduce the issue**:
rsync to a $ip:/gv0

**The full output of the command that failed**:
<details>

**Expected results:**
<details>

**Mandatory info:**
**- The output of the `gluster volume info` command**:
[code]
**- The

[2021-08-14 12:43] mohit84 commented on #2711
The installed version (3.13.2) is end of service, Can you upgrade on latest gluster release(8 or 9) to avoid an issue.

[2021-08-15 00:03] squalfof commented on #2711
Thanks, will upgrade, while it takes time.

Meanwhile, any suggestion on the error "**dht_layout_search] 0-gv0-dht: no subvolume for hash (value)**", is it a network issue or something else, i'm really interested about the cause.

[2021-08-15 00:07] squalfof commented on #2711
For installation, I followed your document [Quick Start Guide](https://docs.gluster.org/en/latest/Quick-Start-Guide/Quickstart/), seems it defaults to 3.13.2, and command is `apt install glusterfs`.

What's more, some users have already installed that version in their laptop, is it possible for them to `mount -t gluster` to your new version, say v8/v9, to simplify, old version of glusterfs client

[2021-08-15 12:21] gcoretech commented on #2106
This test is run on 3 identical servers with nvme disks, each using one partition for glusterfs (3x replica, gluster version 9.3) and mounted locally to /mnt/gluster.

[code]

cluster.choose-local is true but there is gluster traffic between nodes while find runs (about 13 mbps).

There is no iowait, cpu about 15% of one core, 13 mbps network-io.

[code]

The files are small (like Maildir) thus ba

[2021-08-15 15:15] mohit84 commented on #2711
It is not a network issue, most probably layout is corrupted on the backend that's why client is throwing above error.
Did you run recently add-brick or replace brick operation?

[2021-08-16 01:02] squalfof commented on #2711
Actually, it takes 5 days after i adding the second brick when this error throwed, thought should be long enough for glusterfs to adjust the rebalance stuff ?

There are two kinds of ops over glusterfs: 1) mankind rsyncing files to gfs; 2) k8s operations over the files.

[2021-08-16 05:50] #2075 closed, assigned to nobody

[2021-08-16 06:08] squalfof commented on #2711
One more thing, one of our devs restarted one brick brutally, then error happened the next day. Not quite sure if it matters.

[2021-08-16 09:17] amarts commented on #2467
Some more information on this error/log.

We noticed that this happens mostly in container ecosystem, Specially when some operations are done with 'bind' mount parameters. With the added PR, the crash is not happening, but the logs are still coming, hinting at issue still being present. Yet to debug completely.

[2021-08-16 13:06] #2711 closed, assigned to nobody

[2021-08-16 22:40] digitalp1985 commented on #2133
If you are not dedicated to changelog form of geo sync, setting
'gluster volume geo-replication <source-volume> <destination volume> config change_detector xsync' resolves this issue and stops it from failing on reboots especially with lossy/delay-prone links, which I suspect is the issue with the changelog even when using NTP.

[2021-08-17 03:59] 3nprob commented on #2467
Can confirm it's containers with bind mounts/Docker volumes in my case as well.

[2021-08-17 09:39] Shwetha-Acharya commented on #2700
Please share the gsyncd log file

[2021-08-17 09:42] mayzyo opened #2714 "Geo-replication for FreeBSD?"
**Description of problem:**
Could anyone clarify that geo-replication is supported for the FreeBSD version of GlusterFS? It's just that everything seems to work really well but geo-replication commands seem to do nothing. The documentation doesn't mention the feature is limited to Linux.

This is GlusterFS 8.4 running on FreeBSD 13.

[2021-08-17 10:14] aravindavk commented on #2714
Not supported. I see a few enhancements pending to support FreeBSD or any other Unix variants.

* BSD support to be added to the libcxattr Python bindings used by Geo-replication
* Unavailability of lazy `umount` in BSD systems. Geo-rep mounts the volume(Primary and Secondary), change directory to mount directory and call lazy umount. If the Geo-rep worker process dies then no stale mounts will be

[2021-08-17 10:17] mayzyo commented on #2714
That's too bad, but thank you for explaining

[2021-08-17 10:17] #2714 closed, assigned to nobody

[2021-08-17 10:46] xhernandez opened #2717 "GlusterFS doesn't support O_PATH flag in open()"
**Description of problem:**

When O_PATH is used in an `open()` system call, GlusterFS doesn't work fine in all cases.

In a FUSE mount, doing the following sequence of operations fails:

[code]

Checking the logs, it seems that kernel doesn't send the `open()` request to Gluster, which explains the error becasue Gluster depends on an actual open to keep a file around after the last unlink.

I als

[2021-08-17 10:57] golgotow commented on #2700
Hello,

attached from server

[2021-08-17 10:57] golgotow commented on #2700
[gsyncd.log](https://github.com/gluster/glusterfs/files/6999373/gsyncd.log)

[2021-08-17 12:36] Shwetha-Acharya commented on #2700
Please check `$gluster peer status` on Primary and Secondary nodes and validate if the peers are in proper cluster and up.

[2021-08-17 12:40] golgotow commented on #2700
masters
root@msi55:~# gluster peer status
Number of Peers: 2

Hostname: 192.168.14.253
Uuid: 5c24cd2b-5444-4550-a535-ba6690f999e4
State: Peer in Cluster (Connected)

Hostname: 192.168.14.246
Uuid: 1c9a7c21-3d14-49fa-9d59-cd58041128b6
State: Peer in Cluster (Connected)

root@a88:~# gluster peer status
Number of Peers: 0

slave
root@a88:~# gluster volume info dokuwiki-slave

Volume Name: dokuwiki-sl

[2021-08-17 13:06] JeffByers-SF commented on #2021
Just because nobody is able to work on this does not mean that this is not a valid issue. This should not be summarily closed by a bot!

[2021-08-17 13:15] Shwetha-Acharya commented on #2700
Is stopping and starting the geo-rep session giving the same error?

Are these connection to peer is broken errors followed by ssh errors?

Are you seeing any errors in glusterd or brick logs?

[2021-08-17 13:24] mohit84 commented on #2021
I will try to reproduce and update.

[2021-08-17 13:30] golgotow commented on #2700
witch log I shall provide ?

[2021-08-17 13:44] Shwetha-Acharya commented on #2700
can you share  gsyncd log from secondary node, glusterd.log and /var/log/audit/audit.log from primary node and secondary node.

Also make sure all bricks are up, in gluster volume status.

[2021-08-18 05:54] golgotow commented on #2700
this server is on debian, no audit.log .

all bricks UP as I see, attaching gsyncd from slave na glusterd.log from both
[glusterd.log](https://github.com/gluster/glusterfs/files/7004829/glusterd.log)
[glusterd-slave.log](https://github.com/gluster/glusterfs/files/7004830/glusterd-slave.log)
[gsyncd-slave.log](https://github.com/gluster/glusterfs/files/7004831/gsyncd-slave.log)

[2021-08-18 11:29] mykaul commented on #2030
@csabahenk - have you had a chance to look at this and consider it?

[2021-08-18 11:34] shenwen2012 opened #2719 "io-cache xlator table->cache_used is much greater than table->cache_size cause cache can not hit"
**Description of problem:**
Reading several files concurrently and repeatedly is similar to reading template files when the virtual machine starts. At first, it can hit the cache, but it can't hit after a period of time. and fuse client process mem only 27MB

**fuse client logs**:
[2021-08-18 11:01:59.106461] T [MSGID: 0] [page.c:177:__ioc_inode_prune] 0-img-io-cache: index = 1 && table->cache_use

[2021-08-18 11:55] thewhitewizard commented on #2056
Hi guys,

I also encoutered this problem with Swarm+Postgres+gluster.
I fix it just now :

`gluster volume set gvol0 performance.stat-prefetch off`

https://access.redhat.com/solutions/3673761

[2021-08-18 12:01] pranithk commented on #2719
As per the tests done on https://bugzilla.redhat.com/show_bug.cgi?id=1676479, both io-cache and read-ahead are deemed un necessary and disabled in the latest releases.

[2021-08-18 12:20] vpv-csc commented on #2492
What's the status of this bug? Has it been fixed in 9.2 or 9.3? We have not been able to reproduce this with 9.3, but it sounds quite worrying.

[2021-08-18 12:35] pranithk commented on #2492
@srijan-sivakumar Could you check if this is same as https://github.com/gluster/glusterfs/issues/2480

[2021-08-18 13:04] marcofais commented on #2492
Hi

I have the same issue on 9.3 - can replicate and send logs but will be
early next week if needed.

Thanks
Marco

On Wed, 18 Aug 2021, 13:20 Ville-Pekka Vainio, ***@***.***>
wrote:

[2021-08-19 00:59] #1937 closed, assigned to nobody

[2021-08-19 02:18] shenwen2012 commented on #2719
thanks, I know in which scenario, IO cache does have a negative impact on performance, but it is still necessary in other scenarios of repeated reading。but this is bug ,It should be solved.

[2021-08-19 08:28] aspandey commented on #2021
This is an expected behavior.
When IO's were happening and when space was about to filled up, some write fops failed on one brick while
for other files it failed on some other brick. As this is a 2+1 ec volume redundancy is very low also (anyway in this case it would not helped).
So at the moment, there could be cases where a file could be having different xattrs (mainly trusted.ec.size and truste

[2021-08-19 08:50] mohit84 commented on #2021
Thanks ashish for your response.

[2021-08-19 13:48] mykaul commented on #2040
I think it's an easy fix, I'll see if I can do it.

[2021-08-19 18:17] MarvinTO opened #2722 "Glusterfs (fuse) client crashes"
**Description of problem:**
We have a glusterfs volume used to store some grafana data. There is a sqlite database stored in the volume.

After upgrading the fuse driver to 8.5, the client mount started to crash constantly (using an older version of the fuse driver is working correctly 7.7). I was not able to find any errors on the servers side at the time of the client crash.

**The exact command

[2021-08-19 20:34] mykaul commented on #2722
Looks like https://github.com/gluster/glusterfs/issues/1966 ?

On Thu, 19 Aug 2021, 21:17 MarvinTO ***@***.***> wrote:

[2021-08-20 03:01] pranithk commented on #2722
Could you post output of  `thread apply all bt` of the core file?

[2021-08-20 03:40] #1975 closed, assigned to nobody

[2021-08-20 06:47] #2590 closed, assigned to nobody

[2021-08-20 16:00] MarvinTO commented on #2722
Hello @pranithk , I was trying to create the backtrace file, but I got a "Missing separate debuginfos" message. Do I need to install a specific package in order to get this working?

`
Missing separate debuginfos, use: debuginfo-install glusterfs-fuse-8.5-1.el7.x86_64

debuginfo-install glusterfs-fuse-8.5-1.el7.x86_64
Loaded plugins: fastestmirror, remove-with-leaves
Loading mirror speeds from cac

[2021-08-21 01:50] #1982 closed, assigned to nobody

[2021-08-21 01:50] #1973 closed, assigned to nobody

[2021-08-21 01:50] #1965 closed, assigned to nobody

[2021-08-21 01:50] #1962 closed, assigned to nobody

[2021-08-21 01:50] #1971 closed, assigned to nobody

[2021-08-21 07:15] tangyla commented on #2606
i had resolved this problem;
code error, need refactor.

[2021-08-21 13:37] pranithk commented on #2722
@tshacked I see that the release notes is done by you for 8.5, could you help find the rpms?

@MarvinTO It looks similar to https://github.com/gluster/glusterfs/issues/2443 which is fixed in 8.6 release.

[2021-08-21 13:37] pranithk commented on #2722
Need the backtrace to confirm

[2021-08-21 15:53] pranithk opened #2725 "Improve test coverage of dht"
As part of this issue, I am trying to improve test coverage for dht.

[2021-08-21 17:02] #1985 closed, assigned to nobody

[2021-08-22 07:12] tshacked commented on #2722
Please check here: https://download.gluster.org/pub/gluster/glusterfs/8/8.5/CentOS/

[2021-08-22 08:13] tshacked commented on #2722
I can see that glusterfs-fuse-debuginfo-8.5-1 was generated for el8: https://cbs.centos.org/koji/buildinfo?buildID=32879
But not for el7 (it is also missing in prev el7 vers): https://cbs.centos.org/koji/buildinfo?buildID=32885
I didn't generate the actual build.
@kalebskeithley, @Shwetha-Acharya,
Looks that debuginfo RPMs are not created on centos-7 builds. could you please check it?

[2021-08-22 18:45] Bockeman opened #2726 "files/folders listed multiple times"
**Description of problem:**
On one node directory listings are correct, on the other node of a replica 2, directory listing show items multiple times.

**The exact command to reproduce the issue**:
`ls` on some random folder

**The full output of the command that failed**:
on node **verijolt**
[code]

**Expected results:**
on node **veriicon**
[code]

**Mandatory info:**
<details>

**- The output

[2021-08-23 06:24] Shwetha-Acharya commented on #2722
@nixpanic

[2021-08-23 08:32] nixpanic commented on #2722
The packages are there? Search for `glusterfs-debuginfo-8.5-1.el7` on the page, el7 does not split the debuginfo per sub-package like el8 does.

[2021-08-23 11:46] domb84 commented on #1273
I have had this re-occur on I imagine the same cluster that @rlaunch noticed this on first time. It seems on 1 of the 3 nodes, the trusted path info is incorrect, causing the stale file handle.

[code]

However, both old name and new name exist on the 3rd node where the problem lies.

How can I resolve this in the short term? A rebalance of the volume has not rectified it. I could potentially remo

[2021-08-24 02:29] #2596 closed, assigned to nobody

[2021-08-24 13:45] tbaetzler opened #2728 "No healing, errno 22 on third replica when upgrading a 10x3 gluster from 7.9 to 9.3"
**Description of problem:**

I've tried to do a rolling upgrade on two moderately busy 10x3 distributed/replicated gluster clusters. The plan was to upgrade the bricks with the first replicas first, then the bricks with the second replicas, finally the bricks with the third replicas. The upgrade was done "by the book", i.e. brick by brick with appropriate wait time to empty the heal log in between

[2021-08-24 13:49] pranithk commented on #2728
Related to https://github.com/gluster/glusterfs/issues/2462

[2021-08-24 14:45] tbaetzler commented on #2728
@pranithk Is there a way that I can complete the rolling upgrade without making a total mess? I've now two glusters with 21 servers each at 9.3 and 9 servers each and about 30 clients still at 7.9.
Also, do you still need my logs?

[2021-08-24 14:52] pranithk commented on #2728
Not sure if a rolling upgrade is possible. Logs are not necessary. As per https://github.com/gluster/glusterfs/issues/2462#issuecomment-884080094 it is possible to do this when the clients are unmounted.

[2021-08-24 17:06] Bockeman opened #2729 "Assertion failed without identifying cause"
**Description of problem:**
A full heal `gluster volume heal gluvol1 full` results in thousands (149,897) of error messages in the glustershd.log.
Each error message is identical, apart from the timestamp, and looks like this:

[code]

The user (a system admin, not a code developer) is given no clue about the cause of the problems and no indication of how they might be fixed.

_FYI The instruction

[2021-08-24 17:33] Bockeman opened #2730 "Warning about missing file/folder that is present"
**Description of problem:**
A full heal `gluster volume heal gluvol1 full` results in thousands (24,681) of warning messages in the `glustershd.log`.
Each warning message differs in path and gfid and looks like this:
[code]

**The exact command to reproduce the issue**:
  1. `gluster volume heal gluvol1 full` following some event like HDD failure or power failure,
and the appropriate recovery take

[2021-08-25 03:34] #1987 closed, assigned to nobody

[2021-08-25 12:08] Shwetha-Acharya opened #2733 "tar as dependency to geo-rep rpm for RHEL 8.3 fails for conditional on minor version"

[2021-08-25 13:15] mykaul opened #2735 "Remove byte-order.h and use the normal byteorder functions"
byte-order.h may have been needed 10+ years ago, these days it doesn't make sense and it's even very confusing, with statements such as:
[code]

It can be removed.
Alternatives are using directly be32toh() for example (and such) or the byteorder functions (such as htonl() function)
[code]
vs.
[code]

[2021-08-25 17:57] #1999 closed, assigned to nobody

[2021-08-25 22:58] MarvinTO commented on #2722
@nixpanic  I found `glusterfs-debuginfo-8.5-1.el7` in http://debuginfo.centos.org/centos/7/storage/x86_64/

Now I'm wondering if I need `glusterfs-debuginfo-8.5-1.el7` or `glusterfs-fuse-debuginfo-8.5-1.el7` in order to generate the backtrace.

I could not find `glusterfs-fuse-debuginfo-8.5-1.el7` it in the repo and also could not find it in https://cbs.centos.org/koji/buildinfo?buildID=32885

[2021-08-26 02:55] hualiu0131 opened #2736 "FXATTROP in glusterfs-release-6 ec volume"
Hi all,I create Distributed-Disperse volume and write mp4file whith streammedia.
Find that glusterfs-release-8 wind FXATTROP in every write,but glusterfs-release-6 is not like that,
I konw FXATTROP record the file size by ec, but it cost losts of performance in bricks.
why glusterfs-release-6 not wind  FXATTROP in every write
(I replace the glusterfs-release-6 ec codes to the glusterfs-release-8,

[2021-08-26 07:02] nixpanic commented on #2722
On Wed, Aug 25, 2021 at 03:58:55PM -0700, MarvinTO wrote:

el7 generates a single debuginfo package per source RPM,
glusterfs-debuginfo should contain everything.

el8 and newer generates a debuginfo package per sub-package, so there
you can find glusterfs-fuse-debuginfo.

The CentOS Storage SIG repositories should support installing required
debuginfo packages like this:

    # debuginfo-install

[2021-08-26 08:45] busishe opened #2738 "an error occured when create a new volume by heketi-cli"
i ran "heketi-cli volume create --size=1 --name=myvolume" to create a new volume,and got error: Error:volume start: myvolume: failed: Commit failed on localhost.Please check log file for details.
i use "gluster peer status" and "service glusterd status" to check gluster peers status,everything go well.

[2021-08-26 08:48] busishe commented on #2738
i tried reboot my gluster peers(3) and then create new volume.The first attempt succeeded, but the second and later attmept failed

[2021-08-26 11:27] hualiu0131 commented on #2736
I set disperse.eager-lock-timeout: 60 and  FXATTROP turn down

Brick: 191.168.41.51:/home/nas69
No. of Writes:                  161                     6
 %-latency   Avg-latency   Min-Latency   Max-Latency   No. of calls         Fop
 ---------   -----------   -----------   -----------   ------------        ----
      0.00       0.00 us       0.00 us       0.00 us              1  RELEASEDIR

[2021-08-28 15:29] #2014 closed, assigned to nobody

[2021-08-29 02:40] paladox opened #2741 "apt failing with "no longer has a Release file.""
**Description of problem:**
Running apt-get update is failing with:

[code]

**The exact command to reproduce the issue**:
Dist: "deb https://download.gluster.org/pub/gluster/glusterfs/8/LATEST/Debian/buster/amd64/apt buster main"

```apt-get update```

**Additional info:**

</details>

**- The operating system / glusterfs version**:

Debian 10 but also happened on debian 11. This has previously w

[2021-08-29 02:42] paladox commented on #2741
Doing "deb https://download.gluster.org/pub/gluster/glusterfs/8/LATEST/Debian/bullseye bullseye main" worked but the documents specify using amd64/apt (e.g. https://download.gluster.org/pub/gluster/glusterfs/LATEST/Debian/ and https://docs.gluster.org/en/latest/Install-Guide/Install/)

[2021-08-29 02:44] paladox commented on #2741
Seems to affect only version 8... version 9 has amd64/apt?

https://download.gluster.org/pub/gluster/glusterfs/9/LATEST/Debian/bullseye/

[2021-08-29 03:09] pranithk commented on #2741
@Shwetha-Acharya @tshacked

[2021-08-29 22:27] davidvoisonics opened #2742 "Brick offline problem"
We have a 2 node mirrored GlusterFS version 9.0 cluster running on Ubuntu 18.04, and one of the bricks (server1) has recently gone offline:

Status of volume: gvol0
Gluster process                             TCP Port  RDMA Port  Online  Pid
------------------------------------------------------------------------------
Brick server2:/nodirectwritedata/gluster/gvol0

[2021-08-30 05:19] Shwetha-Acharya commented on #2741
@paladox The issue is now fixed, amd64/apt is  recreated and populated as required. Please verify if its working for you.

[2021-08-30 05:25] nik-redhat commented on #2640
Considering the comment above, I think we are good to close this issue @Adam2Marsh ?

[2021-08-30 09:15] tbaetzler commented on #2728
@pranithk I completed the upgrade offline and followed the suggestions in [#2462 (comment)](https://github.com/gluster/glusterfs/issues/2462#issuecomment-884080094); at the end healing worked. Shouldn't the documentation be upgraded to point out that there can be a problem with the rolling upgrade on 3xX distributed-replicated glusters?

[2021-08-30 09:15] #2728 closed, assigned to nobody

[2021-08-30 12:05] XiJinyu opened #2744 "two directories same gfid"
**We found that different directories have the same gfid, which leads to abnormal directory lookup. How to solve it?**

**/var/log/glusterfs/bricks/gluster-*.log"

[2021-08-30 08:00:20.685840] W [MSGID: 113026] [posix.c:1721:posix_mkdir] 0-vol01-posix: mkdir (/disk/Record/3200120): gfid (bec80feb-f8e5-4edd-8e68-37b1466095ac) is already associated with directory (/gluster/brick-45/vol01/.glusterfs/

[2021-08-30 12:15] zhangxyue opened #2745 "glusterfsd started unsuccessfully because of the port was occupied"
**Description of problem:**
when one node reboot, glusterfsd may start unsuccessfully.

glusterd  started  brick process unsuccessfully  due to the port
was occupied, becuase runner_run_nowait() will not wait to get
the return/exit code of the executed command (brick process).
Hence as of now in such case, we cannot know with what error
the brick has failed to connect.

**The exact command to repr

[2021-08-30 12:16] pranithk commented on #2744
@XiJinyu This used to happen when dht was not taking locks to do directory self-heal. 3.x is not maintained anymore. Please upgrade your installation to one of the newer versions that is supported.

[2021-08-30 12:16] #2626 closed, assigned to pranithk

[2021-08-30 13:24] #2733 closed, assigned to nobody

[2021-08-30 13:33] kalkir commented on #2672
Can I get an update?

[2021-08-30 13:44] mohit84 commented on #2672
@nik-redhat Can you please check this?

[2021-08-30 13:49] nik-redhat commented on #2672
Hey, @kalkir are you getting this locking issue only while doing an add-brick operation or also while executing any other command like `gluster volume status` or `gluster peer status`?

Also, it would be helpful if you could please mention the gluster version which you are using.
And, the output of `gluster volume info`?

[2021-08-30 13:52] nik-redhat commented on #2742
Hi @davidvoisonics , you can try bringing the bricks back online using the `gluster volume <volname> start force` command.

[2021-08-30 14:12] nik-redhat commented on #2745
Hi, @zhangxyue that isn't the case always. The `runner_run_nowait()` function is called based on the current status of the bricks. In case of a reboot, the value of `wait` will be True and we will be checking if the port is already occupied, if not the brick starts on that port. But, if it is occupied we have a retry mechanism that selects a new port and starts the brick process on that port inste

[2021-08-30 15:10] paladox commented on #2741
Thanks! It works!

[2021-08-30 15:17] #2741 closed, assigned to Shwetha-Acharya

[2021-08-30 15:17] zhangxyue commented on #2745
Thanks for your reply. When I start the glusterd, I find the value of wait is false.  I have merged the code(#2090), it still failed to raise the glusterfsd.

[2021-08-30 15:21] nik-redhat commented on #2745
Ok, one thing though.... in the issue description at first you mentioned node reboot, and then you mentioned `glusterd` `start/restart`, which was the one you are trying out with now?
Because the glusterfsd process doesn't die on killing the `glusterd` process and that's the reason you see the value of `wait` as `false`. You will have to do `gluster volume <vol-name> start force` for that volume (

[2021-08-30 15:22] nik-redhat commented on #2745
Try the above process, if that doesn't work maybe if you could share the brick logs of the affected brick, I can take a look.

[2021-08-30 15:56] zhangxyue commented on #2745
I only reboot one node, and find this issue. So I debug the glusterd, I find the value of wait is not same as that when running "gluster volume start ".  The brick log only run the function __socket_server_bind onece when I reboot one node.

[2021-08-19 03:40:26.045082] E [socket.c:954:__socket_server_bind] 0-tcp.e7509a3b-ef04-4608-b6ff-21535e49fc22-server: binding to  failed: Address already in u

[2021-08-30 17:08] nik-redhat commented on #2745
As mentioned above the value of wait depends upon the fact that what's the current state of the volume and the bricks.
If you are running a start operation on top of a started volume it won't affect. Add a `force` after that, and then try.
Also, if possible share the complete e brick or at least from the day before you started seeing this issue. (Do hide any sensitive data).

[2021-08-30 21:56] davidvoisonics commented on #2742
@nik-redhat Thank you for that.  Is there anything we can do to help with debugging the root cause?

[2021-08-31 01:17] zhangxyue commented on #2745
I have lost the log.  the volume state had been started before I rebooted the node.  When the node up in this case, I think the value of wait is false.

[2021-08-31 01:19] XiJinyu commented on #2744
@pranithk Thanks for your reply.  Can you tell me which version fixes this problem? gluster-6.0, glusterfs-7.0 or another version? Or which patch solved it?

[2021-08-31 03:11] zhangxyue commented on #2745
I have lost the log. The volume state had been started before I rebooted the node. When the node up and I do systemctl start glusterd, I think the value of wait is false.
I don't run volume start operation,and  I run systemctl start glusterd instead, then I find glusterd raise glusterfsd unsuccessfully.

[2021-08-31 04:15] kalkir commented on #2672
Thanks for the update.

gluster volume status also getting the same error(command not respond).  didn't tried gluster peer status after added the new bricks, the operation was timed out.
please check the output of gluster volume  info

Type: Disperse
Volume ID: aaebe9d3-1e40-4d9e-aa4c-7992c44b0d01
Status: Started
Snapshot Count: 0
Number of Bricks: 1 x (2 + 1) = 3
Transport-type: tcp
Bricks:
Brick

[2021-08-31 05:11] nik-redhat commented on #2742
It's hard to comment on anything based on the logs provided above.
The brick logs are normal, and the glustershd logs simply show the logs that happen when a brick goes offline.
There could be multiple reasons for this case, so what I would suggest is if you see this issue consistent and happening again maybe at that time you could share more data around the setup and config and we can take a clos

[2021-08-31 05:18] nik-redhat commented on #2745
Ok, without logs it is difficult to get to know the issue, considering we already have a retry mechanism for it.
Though, what's the current status of the volume and if `gluster volume <volnam> start force` brings the brick back up or not?
And, if you could please share the gluster version being used.

[2021-08-31 05:21] nik-redhat commented on #2672
Do you use any kind of log monitoring tool like [gluster-prometheus](https://github.com/gluster/gluster-prometheus) exporter? If yes, then that might cause the issue here.

[2021-08-31 05:37] davidvoisonics commented on #2742
We can share more if it happens again. Can you please let us know specifically what information you would need?

[2021-08-31 05:37] kalkir commented on #2672
No,  we are not using the gluster-prometheus exporter. Is there any issue adding heterogeneous disks in disperse volume?

[2021-08-31 05:48] nik-redhat commented on #2672
None that I know off.
You started getting timed-out issues only after trying the `add-brick` operation, right? And, currently the volume `status` is also not working? Can you share the glusterd logs to get some more idea as to what is happening (Hide any sensitive data)?

[2021-08-31 05:49] nik-redhat commented on #2742
The glusterd log, brick logs, and the mount logs of the affected volume.

[2021-08-31 05:51] zhangxyue commented on #2745
glusterfs version 8.2.
There is no problem with gluster volume <volname> start force because under this case wait is true. And I think the retry mechanism is useful when wait is true, and will not be useful when the wait is false.

[2021-08-31 06:13] davidvoisonics commented on #2742
Thanks. By mount log do you mean of the FUSE client?

[2021-08-31 06:15] nik-redhat commented on #2742
Yes

[2021-08-31 06:25] kalkir commented on #2672
yes, I have forcefully removed the added bricks after failure, now it's only 3 bricks and works fine.
volume status is fine.

Gluster process                             TCP Port  RDMA Port  Online  Pid
Brick 172.20.5.201:/bricks/gluster-vol/bric
k1/brick                                    49152     0          Y       10665
Brick 172.20.5.202:/bricks/gluster-vol/bric
k1/brick

[2021-08-31 06:28] kalkir commented on #2672
Do you mean the logs while adding the bricks?, it was mentioned earlier.

[2021-08-31 06:32] nik-redhat commented on #2672
Yes, but that was only 3-4 lines..... if I could get a more detailed log of the operation, to get more idea.
What is the gluster version?

[2021-08-31 06:55] nik-redhat commented on #2745
I don't get your question.
The value of `wait` is decide based on different factors and is passed as the argument to the `volume_start` function accordingly. So, if the `wait` is false at that time then it must be decided based on the status of the brick process,  volume status, and the operation is done at that time.

[2021-08-31 07:33] nik-redhat commented on #2745
Ok, so I went through the code again and confirmed that we pass `wait` as `true` only when we are starting a volume manually (with or without force), else we don't pass the `wait` as `true` to the `glusterfs_volume_start` function. And, I think that might be because we want the `bricks` to start successfully when we are trying to start the volume initially and hence we have a retry (in case the po

[2021-08-31 07:54] kalkir commented on #2672
Please check the logs below, thanks.
[2021-05-25 05:07:42.878750] I [MSGID: 106488] [glusterd-handler.c:1400:__glusterd_handle_cli_get_volume] 0-management: Received get vol req
[2021-05-25 05:07:50.616003] I [MSGID: 106499] [glusterd-handler.c:4264:__glusterd_handle_status_volume] 0-management: Received status volume req for volume gluster-vol
[2021-05-25 05:07:50.616101] W [glusterd-locks.c:579:

[2021-08-31 08:17] nik-redhat commented on #2672
The above logs don't highlight the logs at the time of the `add-brick` operation, we need to know what happened during the `add-brick` operation and why it failed. Also, the logs of the newly added bricks can be shared.
Please copy the logs in a file and attach them to the comment, instead of pasting the logs directly.

[2021-08-31 08:19] nik-redhat commented on #2672
And, can you confirm if the `gluster peer status` and `gluster vol status` are consistent across all the nodes of the cluster now (considering you have removed the newly added bricks)?

[2021-08-31 08:53] davidvoisonics commented on #2742
Thank you.

[2021-08-31 09:41] mykaul opened #2751 "gf_mem_acct_enabled() should be a compile-time option"
In theory, it looks like it's a runtime option, as memory accounting enable/disable is fetched via THIS->ctx->mem_acct_enable.
In reality: 'THIS' is a function call, and ctx->mem_acct_enable is set via gf_global_mem_acct_enable_get() - which actually returns the global parameter gf_global_mem_acct_enable which is defined as:
[code]

In theory, its value can be changed via gf_global_mem_acct_enable

[2021-08-31 09:41] nik-redhat commented on #2742
Then, maybe we can close the issue? And, if the issue re-appears you can simply reopen it.

[2021-08-31 12:46] #2702 closed, assigned to nobody

[2021-08-31 12:55] xhernandez commented on #2123
![](https://github.trello.services/images/mini-trello-icon.png) [GH#2123: Implement an I/O framework](https://trello.com/c/ulbKpTPk/872-gh2123-implement-an-i-o-framework)

[2021-08-31 12:55] xhernandez commented on #218
![](https://github.trello.services/images/mini-trello-icon.png) [GH#218: [RFE] Unified performance xlator](https://trello.com/c/rTELhQZf/873-gh218-rfe-unified-performance-xlator)

[2021-08-31 14:11] kun-lu20 commented on #2491
Hi @mscherer , could we think of a workaround for the regression test issue on s390x? Or can we try other testing or rpm building jobs on it? Thanks!

[2021-08-31 14:19] kalkir commented on #2672
please find the attached logs when trying to add new bricks.
[glusterd.log](https://github.com/gluster/glusterfs/files/7084561/glusterd.log)
gluster peer status and vol status is fine in all nodes now. New bricks had added few months back, also I have tried to remove all storage mounts in client nodes, but the operation was timed out.

[2021-08-31 15:35] #2466 closed, assigned to nobody

[2021-08-31 15:35] #2511 closed, assigned to nobody

[2021-08-31 16:18] rlaunch commented on #1273
Sorry @itisravi, We've only recently been able to update the Gluster packages on our clusters. All systems are now running Gluster 8.5.x. The system that @domb84 referred to is also running 8.5. I've kicked off a forced rebalance to see if this resolves the issue, as it has previously, and will report my findings back.

Best,
Ryan

[2021-08-31 16:36] nik-redhat commented on #2672
Though even these logs do not contain the logs during the `add-brick` operation but, it seems like the cause of failure for the `add-brick` operation is because of failure in locking only.

How did you manage to fix the timed-out issue on all the nodes? And, if the `gluster v status` command is running successfully can you try executing the add-brick command now? (After confirming the working of `

[2021-08-31 16:43] Deltik opened #2752 "GFID symlink of source folder is removed when trying to move a folder to the path of another folder"
## Bug Description
As documented in #1014, if a folder is renamed to another folder that already exists, the rename fails and the folder doesn't move, but the GFID symbolic link in the `.glusterfs` metadata folder gets deleted anyway.

This affects the GlusterFS NFSv3 client, which will then display an empty folder instead of the one that failed to move.  If one then tries to delete that folder, t

[2021-08-31 21:05] davidvoisonics commented on #2742
Sure, thanks.

[2021-09-01 05:32] #2742 closed, assigned to nik-redhat

[2021-09-01 07:52] JamesWSWu opened #2754 "It takes a long time to execute the “gluster volume set volumename diagnostics.brick-log-level WARNING”command"
**Description of problem:**

When there are more than 500 mount points and 151 volumes in a 2-node gluster cluster,
   it takes a long time to execute the “gluster volume set volumename diagnostics.brick-log-level WARNING” command

**The exact command to reproduce the issue**:

time gluster --log-level=ERROR volume set fc041354-4d33-4de1-89a4-4dfd67dd9584 diagnostics.brick-log-level WARNING

**The

[2021-09-01 10:07] mscherer commented on #2491
Hi, sorry, I didn't had time to look on it. I think it should rather go to coders than me :/

@amarts , as you already worked on it, if I give you access, can you take a look ?

[2021-09-01 11:05] rlaunch commented on #1273
Hi @itisravi ,

The forced rebalance was completed but unfortunately did not solve the issue. I've taken a look at the xattrs for the directory on the bricks and have found a few things which I could use your help understanding.
1. **Child directories missing on node03**
After getting the GFID of the directory and following the symblink on all nodes, I found that the directory contents on node03 w

[2021-09-01 16:27] kun-lu20 commented on #2491
Thanks @mscherer !

Hi @amarts , could you please take a look at the regression test issue on s390x? Thank you.

[2021-09-02 09:04] rlaunch commented on #1273
I found that running the command `getfattr -n trusted.glusterfs.pathinfo -e text"/mnt/mcv01/data/directory/random - new name/"` on different nodes resulted in different outputs. Unmounting and re-mounting the FUSE mount point seemed to change the output too, so as you mention it does look like a caching issue.

Which caching options in particular would you like me to disable?

[2021-09-02 09:37] amarts commented on #2491
Can do it sometime next week/weekend. Do share the login details.

[2021-09-02 10:42] xhernandez commented on #2736
How do you test it ? what's the command used to do the writes ?

[2021-09-02 11:37] beat opened #2761 "Ubuntu 20.04 (focal) glusterfs 8.6 missing in PPA"
**Description of problem:**

The last build for Ubuntu 20.04 LTS (**focal**) is glusterfs 8.5.

Glusterfs 8.6 is missing in the "focal" build version.

Thanks a lot in advance to check the broken builder and to add the missing releases for focal.

**The exact command to reproduce the issue**:

See:

- https://launchpad.net/~gluster/+archive/ubuntu/glusterfs-8

**Expected results:**

- **8.6**-ubun

[2021-09-02 12:32] hualiu0131 commented on #2736
I used a Camera , and crtmpserver to pull and write the stream to a file.

[2021-09-03 01:06] #2035 closed, assigned to nobody

[2021-09-03 01:06] #1316 closed

[2021-09-03 05:50] Shwetha-Acharya commented on #2761
Seems to  be some transient failures at launchpad. I have retriggered the scripts. Focal is up on launchpad now

[2021-09-03 06:03] #2761 closed, assigned to Shwetha-Acharya

[2021-09-03 06:15] dshmyz commented on #2601
@pranithk @itisravi @karthik-us hello, can you help me analyze this problem?

[2021-09-03 06:46] beat commented on #2761
Yes, that worked! Thank you!

If the reason isn't findable or fixable, would it make sense to improve the build script triggering launchpad so that it checks that launchpad trigger properly and completed its build with valid files?

[2021-09-03 06:52] Shwetha-Acharya commented on #2761
That is a good suggestion. We will incorporate a mechanism to confirm that all  the desired  packages are built.

[2021-09-03 07:07] beat commented on #2761
Awesome, your team rocks! Thank you very much for your hard work for the community!

[2021-09-03 07:45] leenooks commented on #1301
I would love to see gluster for the Pi (I just updated my old environment to v9 today).

I have a spare Pi 4 and aarch64 VMs so I'd be happy to make that available to a build CI if that helps. It can have stretch/buster/bullseye installed.

[2021-09-03 08:04] #2037 closed, assigned to nobody

[2021-09-03 09:00] xhernandez commented on #2736
Can you strace the program that writes to Gluster and share the ouput ?

You can use this command:

[code]

When a file is written, the EC module needs to take a lock to ensure data consistency between all bricks. Each time a lock is acquired, and xattrop operation is required to get current state of the file (it's also used just before releasing the lock to update the state). To avoid performance

[2021-09-03 13:43] VeeEnDee commented on #2319
Hey,
I`ve came with a little reminder about the issue above. @sac @aravindavk
Should I provide any additional details? Maybe any suggestions what should I check?
Any help is appreciated.

[2021-09-03 14:08] #2039 closed, assigned to nobody

[2021-09-03 14:08] #845 closed

[2021-09-03 15:04] sac commented on #2319
@VeeEnDee I'll look into this over the weekend. I will get back to you if I need any information. Sorry about the delay, I missed this.

[2021-09-04 16:02] sac commented on #2319
@VeeEnDee I tried to reproduce this issue without much success. gstatus just reports the output it gets from glusterd (the output of the CLI commands). I suspect this could be error due to glusterd. Can you please check with the glusterd team once?

[2021-09-05 09:16] hunter86bg commented on #2133
On 8.5 we got the same problem and xsync workarounds the problem.
In @davidvoisonics   case CHANGELOG.1630714344 was missing at all :

[code]

the geo config is with
[code]

[2021-09-06 13:04] hunter86bg commented on #2133
It seems that xsync mode does not honor the 'ignore_delete:false' and destination still contains the files that were deleted.

[2021-09-06 13:31] Shwetha-Acharya commented on #2133
@hunter86bg deletes and renames cannot be detected in hybrid/xsync  crawl. It is a limitation.

xsync is designed for a situation when there is already data in the primary volume before setting up  of the geo-replication.  So, it just picks up all the data from primary and syncs to secondary.  If geo-replication is setup before creation of data on primary, it never goes to hybrid crawl(xsync)

So,

[2021-09-06 13:33] hunter86bg commented on #2133
@Shwetha-Acharya , Is it safe to switch from xsync to changelog again ?

[2021-09-06 14:07] Shwetha-Acharya commented on #2133
@hunter86bg I will try to reproduce this and  will get back once I find what is happening.

[2021-09-06 17:26] Arakmar commented on #2133
@Shwetha-Acharya What do you think about backporting #2400 to 8 and 9 stable branches ?
It would definitely fix this problem (not the xsync one but the changelog one)

On our side, it's stable on 9.x since 4 months.

[2021-09-07 04:43] mohit84 opened #2771 "Smallfile improvement in glusterfs"
As we know, we always tried to improve Smallfile performance in glusterfs.After doing a long  duration testing we have found memory allocation is a big area that affects smallfile performance significantly in glusterfs. As we know before merged the patch #2675, gluster uses own thread based pool to allocate/deallocate memory blocks.In testing we observed it performs well as compare to glibc thread

[2021-09-07 07:04] Shwetha-Acharya commented on #2133
We can backport this for upcoming stable releases.

[2021-09-07 11:05] cloph commented on #2089
this can be quite easily reproduced with ruby or node installations with lots of hardlinks as rsnapshot would create and geo-replication
 some/file/hierarchy/with/vendor/bundle/ruby/2.3.0/gems/sometimes/deep/hierarchy/follows - easily 20 level deep hierarchies.
Now cp -al some some.0; cp -al some.0 some.1; ....
and you get frequent too many levels of symlinks on the geo-replication slave.

[2021-09-07 11:20] dacre-riv commented on #855
Running a 3 brick glusterfs shared volume.  Git repo becomes corrupt after (~2 weeks?) time.  git fsck does not fix it.  Has occurred multiple times.

glusterfs 7.2
ubuntu 20.04

Volume options (from info)
Options Reconfigured:
performance.open-behind: off
features.scrub: Active
features.bitrot: on
transport.address-family: inet
storage.fips-mode-rchecksum: on
nfs.disable: on
performance.client-io

[2021-09-08 12:21] #1113 closed

[2021-09-08 12:26] ggogel commented on #1113
Still valid afaik

[2021-09-08 18:43] amgads commented on #2671
@mohit84 Thanks for looking into the issue. We got the data from the customer lab:
1). The volume has 2 bricks running in k8s -- Here's "gluster heal info" output:
# gluster volume heal vol_bc456156109bd5bffe9d060d21d7265f info
Brick 172.27.2.32:/var/lib/heketi/mounts/vg_5f52c63bee2bb0909dc1c81ff40683e1/brick_9ddff301dec7365e0a3e820540ee3b2b/brick
Status: Connected
Number of entries: 0

Brick 172.

[2021-09-08 18:44] amgads commented on #2671
Thread 4 (Thread 0x7fb6a04b0700 (LWP 26766)):
#0  0x00007fb6b8ffade2 in pthread_cond_timedwait@@GLIBC_2.3.2 () from /lib64/libpthread.so.0
#1  0x00007fb6a9cf7d2d in iot_worker () from /usr/lib64/glusterfs/7.8/xlator/performance/io-threads.so
#2  0x00007fb6b8ff6ea5 in start_thread () from /lib64/libpthread.so.0
#3  0x00007fb6b88bc96d in clone () from /lib64/libc.so.6
Thread 3 (Thread 0x7fb6a046f700

[2021-09-08 18:45] amgads commented on #2671
Thread 7 (Thread 0x7fb6a0573700 (LWP 26434)):
#0  0x00007fb6b88b3430 in writev () from /lib64/libc.so.6
#1  0x00007fb6ba1de869 in sys_writev () from /lib64/libglusterfs.so.0
#2  0x00007fb6ae55b0c9 in __socket_rwv () from /usr/lib64/glusterfs/7.8/rpc-transport/socket.so
#3  0x00007fb6ae55dbfe in __socket_ioq_churn_entry.isra.13 () from /usr/lib64/glusterfs/7.8/rpc-transport/socket.so
#4  0x00007fb6

[2021-09-08 18:46] amgads commented on #2671
###########################NEXT PSTACK DUMP#######################################
Thread 36 (Thread 0x7fb6b177b700 (LWP 17757)):
#0  0x00007fb6b8ffade2 in pthread_cond_timedwait@@GLIBC_2.3.2 () from /lib64/libpthread.so.0
#1  0x00007fb6ba1c19a5 in gf_timer_proc () from /lib64/libglusterfs.so.0
#2  0x00007fb6b8ff6ea5 in start_thread () from /lib64/libpthread.so.0
#3  0x00007fb6b88bc96d in clone ()

[2021-09-08 18:50] amgads commented on #2671
###########################NEXT PSTACK DUMP#######################################
Thread 36 (Thread 0x7fb6b177b700 (LWP 17757)):
#0  0x00007fb6b8ffade2 in pthread_cond_timedwait@@GLIBC_2.3.2 () from /lib64/libpthread.so.0
#1  0x00007fb6ba1c19a5 in gf_timer_proc () from /lib64/libglusterfs.so.0
#2  0x00007fb6b8ff6ea5 in start_thread () from /lib64/libpthread.so.0
#3  0x00007fb6b88bc96d in clone ()

[2021-09-08 18:52] amgads commented on #2671
3). For the 2nd brick -- here's the pstack dump

while true; do pstack 15748 | tee pstack_2_dump.txt; echo "###########################NEXT PSTACK DUMP#######################################"| tee pstack_2_dump.txt ;sleep 5;done

Thread 36 (Thread 0x7f67f3d85700 (LWP 15749)):
#0  0x00007f67fb604de2 in pthread_cond_timedwait@@GLIBC_2.3.2 () from /lib64/libpthread.so.0
#1  0x00007f67fc7cb9a5 in gf_t

[2021-09-08 18:53] amgads commented on #2671
###########################NEXT PSTACK DUMP#######################################
Thread 36 (Thread 0x7f67f3d85700 (LWP 15749)):
#0  0x00007f67fb604de2 in pthread_cond_timedwait@@GLIBC_2.3.2 () from /lib64/libpthread.so.0
#1  0x00007f67fc7cb9a5 in gf_timer_proc () from /lib64/libglusterfs.so.0
#2  0x00007f67fb600ea5 in start_thread () from /lib64/libpthread.so.0
#3  0x00007f67faec696d in clone ()

[2021-09-08 18:55] amgads commented on #2671
@mohit84  For the logs -- they're two many -- I have them in zip files, How can I send them (no attachment here). Can I email directly to you?

[2021-09-08 19:02] anandhakumarpalanisamy opened #2776 "Gluster volume not starting when the volume is created using transport options tcp,rdma (or) rdma"
**Gluster volume not starting  when the volume is created using transport options  tcp,rdma (or)  rdma**
- Gluster volume fails to start when **rdma (or) tcp,rdma transport option** is specified   while creating gluster volume
- Volume starts successfully only when  **tcp** alone is specified for transport

**Operating system & glusterfs version**:
- Ubuntu 18.04 (LTS) x64
-  glusterfs 8.5  and al

[2021-09-09 05:15] kalkir commented on #2672
tried add-brick operation, gluster v status is timeout now.  I had to restart glusterd in all nodes and forcefully removed the newly added bricks. Also detach the nodes from the peer, then restarted glusted fix timeouts. Please check the attached logs.
[glusterd.log](https://github.com/gluster/glusterfs/files/7133586/glusterd.log)

[2021-09-09 05:24] #2029 closed, assigned to nobody

[2021-09-09 11:09] anandhakumarpalanisamy commented on #2776
**Additional observation**

- **The **_'tcp,rdma' transport option_** was working fine when the glusterfs version was 7.8** - Verified this in one of our previous deployments.
-  **However in gluster versions 8.5 and 9.3 - the tcp,rdma transport option is not working**

**Stats from one of our previous deployments using gluster version 7.8 works fine**

[code]

[2021-09-09 11:13] anandhakumarpalanisamy commented on #2776
- As a temporary fix, we are using **only  tcp** for the transport option.
`gluster volume create gfs0 transport tcp 178.62.197.23:/mnt/brick1 104.248.207.8:/mnt/brick1 force`

[2021-09-09 11:18] amarts commented on #2776
@anandhakumarpalanisamy GlusterFS project decided to drop the support of rdma due to not having any one maintaining that part of code. Hence none of the newer versions support rdma.

If some one (person or a company) decides to contribute to the maintaining of the rdma code,  it can be supported in future.

[2021-09-09 11:41] anandhakumarpalanisamy commented on #2776
@amarts  Thank you very much for the information .  I will close this issue

[2021-09-09 11:41] #2776 closed, assigned to nobody

[2021-09-09 16:00] pemensik opened #2778 "Ordering of glusterd in systemd"
**Description of problem:**
I were checking history of After=network.target of named service, when I found old [bug 1117086](https://bugzilla.redhat.com/show_bug.cgi?id=1117086) with comment stating it conflicts with glusterd.service. I could not reproduce the loop on current releases.

I don't understand gluster much, but ordering ``Before=network-online.target`` seems wrong to me. What is its pu

[2021-09-09 17:20] pemensik commented on #2778
I mean, on my systems Before=network-online.target is used only by managers configuring interfaces and glusterd. It is suspicious, does it belong to this group? Does glusterd configure interfaces/network in some way?

[code]

[2021-09-09 21:56] #2065 closed, assigned to nobody

[2021-09-09 21:56] #2070 closed, assigned to nobody

[2021-09-09 21:56] #2018 closed, assigned to nobody

[2021-09-10 09:03] MoBlockbuster commented on #2152
what is the current state?

[2021-09-10 17:30] #2066 closed, assigned to nobody

[2021-09-10 23:44] vnosov-sf opened #2779 "Failure to execute "add-brick", value for option "auth.allow" is corrupted."
**Description of problem:** Have pool of 3 nodes that are running GlusterFS 9.3 on Centos 6.  GlusterFS is installed by compiling source code on each of the nodes. Have volume with single node on one of the nodes. Attempt to transform volume into 3-way replica with arbiter fails. Replica is created but is not operational.

**The exact command to reproduce the issue**:
1775 09/10/2021 15:28:23.1416

[2021-09-11 03:04] mohit84 commented on #2779
It is a known issue(https://github.com/gluster/glusterfs/pull/2707) the issue is already fixed.It will be available in next release (9.4)

[2021-09-11 04:14] #2077 closed, assigned to nobody

[2021-09-11 09:07] #2078 closed, assigned to nobody

[2021-09-13 10:06] sandrobonazzola opened #2780 "RPM packaging for glusterfs-server for CentOS Storage SIG has a missing dependency on glusterfs-selinux"
**Description of problem:**
RPM packaging for glusterfs-server for CentOS Storage SIG has a missing dependency on glusterfs-selinux
The issue has been reported against oVirt project here: https://bugzilla.redhat.com/show_bug.cgi?id=2002178

[2021-09-13 10:20] sandrobonazzola commented on #2780
I see that the spec file in the devel repo has it: https://github.com/gluster/glusterfs/blob/devel/glusterfs.spec.in#L725
while the one on release 8 is missing it: https://github.com/gluster/glusterfs/blob/release-8/glusterfs.spec.in#L689

[2021-09-13 13:09] lemrouch opened #2782 "Glustereventsd does not listen on IPv4 when IPv6 is not available"
Hi,
we have servers in PCI-DSS environment and our auditor forced us to disable IPv6 on our servers completely.
In [patch](https://review.gluster.org/#/c/glusterfs/+/24985/3/events/src/glustereventsd.py) for issue #1377 you have introduced separate IPv4 and IPv6 listeners for glustereventsd.
Sadly in our environment we see
_glustereventsd[1418]: Failed to start Eventsd for IPv6: [Errno 97] Address

[2021-09-13 14:00] mykaul commented on #2782
Looks like a very simple fix in init_event_server() code - just don't bail out, set server4 or server6 to None and don't run the relevant thread. If both are none, exit.

[2021-09-14 01:25] #286 closed

[2021-09-14 05:32] mykaul commented on #2164
Still interested in this, especially if it means that we can remove call_stack->tv variable.

[2021-09-14 10:13] pranithk opened #2783 "Enabling client io-threads leads to more number of requests on a dd of 10GB file"
Write-behind does merging of requests that are sequential as long as the offset of the incoming write is write after the last write as long as it doesn't exceed aggregate size. It looks like enabling client-io-threads is coming in the way of it. Please notice the number of writes. Lot more writes are going till 64kb blocksize when io-threads is not enabled.

**with client-io-threads on**
[code]
**

[2021-09-14 14:50] lemrouch commented on #2782
What do you think about https://github.com/gluster/glusterfs/pull/2784 then? Maybe move thread start to the try?

[2021-09-14 16:44] digitalp1985 commented on #2133
I'm using Gluster 9.3, latest pull from the CENTOS repo. Is the current idea to fix this issue in the future. I just did a fresh install and when I have data and I reboot M/S the one that has data goes faulty (I'm using NTP btw) until I change it to xsync. I can run a script that cleans out the changelog:

gluster volume geo-replication source destination.com::s1rcv stop
gluster volume geo-replica

[2021-09-14 18:33] manisha-tanwar commented on #895
Hi is there any update on this ?

[2021-09-14 21:27] #2084 closed, assigned to nobody

[2021-09-14 21:27] #509 closed

[2021-09-15 05:19] sandrobonazzola commented on #2780
@nixpanic the patch has been merged can you rebuild for CentOS Storage SIG?

[2021-09-15 06:15] Shwetha-Acharya opened #2785 "(glusterfs-9.4)- GlusterFS 9.4 tracker"
Description of problem:
Tracker for the release 9.4

[2021-09-15 09:00] ryancaicse opened #2788 "Double unlocking of the locks?"
Hi, developers, it seems there could be a double unlocking error because the lock `priv->lock` is released twice in `pthread_mutex_unlock(&priv->lock);`  and `pthread_cleanup_pop(0);`?

https://github.com/gluster/glusterfs/blob/34f854ad2f5d53578d7a4543f837cf0fb0f1a76a/xlators/features/bit-rot/src/stub/bit-rot-stub.c#L931-L942

Best,

[2021-09-15 09:03] ryancaicse opened #2789 "An improper locking bug(e.g., deadlock) on the lock up_inode_ctx->client_list_lock"
Hi, developers, thank you for your checking. It seems the lock `up_inode_ctx->client_list_lock` is not released correctly when `__upcall_cleanup_client_entry(up_client);`  returns `true` in the function `upcall_cleanup_expired_clients`?

https://github.com/gluster/glusterfs/blob/35039253bac67be83ecf786c4ceb8aefd503e355/xlators/features/upcall/src/upcall-internal.c#L198-L225

Best,

[2021-09-15 09:03] ryancaicse commented on #2789
Similarly, for the lock `pl_inode->mutex`

https://github.com/gluster/glusterfs/blob/ecc99cc5249e0451fdf16be597cf38ee97fe461f/xlators/features/locks/src/common.c#L1397-L1416

[2021-09-15 09:06] ryancaicse commented on #2788
It seems there are other places that follow the above patterns. Should they be errors?
https://github.com/gluster/glusterfs/blob/34f854ad2f5d53578d7a4543f837cf0fb0f1a76a/xlators/features/bit-rot/src/bitd/bit-rot-scrub.c#L457-L474

[2021-09-15 13:24] kun-lu20 commented on #2491
Hi @amarts , do you have some time to look at the regression test issue? Thank you very much!

[2021-09-15 20:28] manisha-tanwar commented on #1634
Hi @mohit84 were you able to fix the issue, I'm getting same error when trying to remove device. Thanks!

[2021-09-16 01:33] #2133 closed, assigned to nobody

[2021-09-16 02:14] amarts commented on #2467
@csabahenk With a commit like https://github.com/amarts/glusterfs_fork/commit/181d41fdaa6d73b143bb6de5e5bc4fd93df6b637 I was able to figure out the issue was happening in a READ call.

Any possibility of getting a READ call from kernel module with pid 0 when its a bind mount?

[2021-09-16 03:24] #1990 closed, assigned to nobody

[2021-09-16 08:49] mscherer commented on #2491
Hi @amarts , I add your ssh key from github to the server, you should be able to connect as root on builder-el8-s390x-1.ibm-l1.gluster.org

[2021-09-16 12:40] jamielinux opened #2793 "cluster.rebal-throttle description doesn't seem to match the code"
**Description of problem:**

The description for `cluster.rebal-throttle` is:

That description can be summarized as:

| cluster.rebal-throttle | parallel migrations |
| :---: | :---: |
| lazy | `1` |
| normal | `MAX((PROC - 4) / 2, 2)` |
| aggressive | `MAX((PROC - 4) / 2, 4)` |

The [code](https://github.com/gluster/glusterfs/blob/ae85973e0fb81ff97219b53dbee9cd631048fa72/xlators/cluster/dht/src/

[2021-09-16 17:19] #2782 closed, assigned to nobody

[2021-09-17 05:23] #2103 closed, assigned to nobody

[2021-09-17 07:13] dshmyz commented on #1638
@FrelDX Hello, have you solved this problem?

[2021-09-17 15:11] digitalp1985 commented on #2133
I believe I have the root cause of what I was seeing. Hopefully this helps others.

Issue was SELinux enabled (set whole system to Permissive, will have to go through and identify blocks, but that is later) as well as using a DNS/hosts alias instead of the Destination site's FQDN (although I have the FQDN in my hosts file). That got it working as root, and then with those lessons learned, got it w

[2021-09-17 15:14] hunter86bg commented on #2133
SELINUX requires the glusterfs selinux rpm to be installed on relevant systems

[2021-09-17 15:15] hunter86bg commented on #2133
Of course 'sealert -a /var/log/audit/audit.log' can reach the same effect. After implemwnting the recommendations, you can safely enable SELINUX.

[2021-09-17 15:18] digitalp1985 commented on #2133
@hunter86bg thanks, will query my RPMs and see, I installed it from the RH repo and I thought it was in the list of dependencies.

[2021-09-18 10:13] itisravi opened #2798 "FUSE mount option for localtime-logging is not exposed"
**Description of problem:**
As detailed in https://lists.gluster.org/pipermail/gluster-users/2021-September/039570.html

[2021-09-19 10:32] nRookie opened #2803 "Cannot install glusterfs on Centos 7.9"
**Description of problem:**

 Cannot install glusterfs on Centos 7.9

maybe this is a very dumb question to ask here,
but I do not know what to do.

When I follow the [quick start guide] (https://docs.gluster.org/en/latest/Quick-Start-Guide/Quickstart/)

To install glusterfs, it shows an error as below.

**The exact command to reproduce the issue**:

[code]

I also tried
[code]
same error here.

*

[2021-09-19 15:14] nRookie commented on #2803
[code]

[2021-09-20 06:13] pranithk commented on #2788
@ryancaicse As per manpage, pthead_cleanup_pop() executes the code that is pushed for cancellation only when the argument is non-zero. 3rd point below(from manpage)

[code]

I am closing this issue, as I think it is not a bug. Please feel free to open it again, in case I missed something and there is indeed a bug.

[2021-09-20 06:13] #2788 closed, assigned to nobody

[2021-09-20 07:08] ryancaicse commented on #2788
@pranithk I see. Thank you very much for your reply.
Could you please look at another #2789 Issue?

[2021-09-20 13:29] GorgetGuilhem opened #2805 "Geo-replicated data is inconsistent when volumes are configured with sharding and mountbroker with unprivileged user."
**Description of problem:**

Geo-replicated data is inconsistent when volumes are configured with sharding and mountbroker with unprivileged user. Once geo-replication session is configured properly, files from secondary host volume fuse mountpoint seems empty. After further investigations, **"trusted"** extended attributes being placed on the files by gluster inside the brick seems to be the prob

[2021-09-21 01:18] #2128 closed, assigned to nobody

[2021-09-21 02:18] nRookie commented on #2803
Ok, I solved this by  adding extras repository in the /etc/yum.repos.d/CentOS-Base.repo,

might be there is something wrong when I build my Custom CentOS 7.9 ISO image.
thus I will close this issue.

[2021-09-21 02:18] #2803 closed, assigned to nobody

[2021-09-21 07:06] #2120 closed, assigned to nobody

[2021-09-21 17:26] slowfranklin commented on #2717
Sounds like a FUSE bug?

[2021-09-21 18:35] mykaul commented on #1637
@pranithk - is NLM used outside gNFS? If we don't compile with gNFS, shall we make lkowner 8 bytes (using ifdef I reckon)? (or it is used also by Ganesha) ?

(Interesting bit - in pub_glfs_fd_set_lkowner(), it is limited to GFAPI_MAX_LOCK_OWNER_LEN which is 255 bytes)

[2021-09-21 19:34] mykaul commented on #2041
@mohit84  - I think you'd find this one easy to implement and important, now that we use std allocation much more than we used to.

[2021-09-21 23:16] amgads commented on #2671
@mohit84 Any idea from the pstack output?

[2021-09-22 01:17] tangyla opened #2811 "'gluster volume status test-volume' return 'request timeout'"
**Description of problem:**
I have a gluster cluster, it's trust pool have 2 nodes: node0,node1;
only created one volume named: datastore;

if two nodes runing, then pull out one node power supply and immediately run "clear;date;gluster volume status datastore detail --mode=script --xml --log-level=TRACE --log-file=/tmp/gluster.log;date" on peer node, the command will be hanged up and return 'Erro

[2021-09-22 01:34] tangyla commented on #2811
before execute command 'clear;date;gluster volume status datastore detail --mode=script --xml --log-level=TRACE --log-file=/tmp/gluster.log;date', cleanup gluster log:
cd /var/log/glusterfs/
clear;find ./ -name "*.log"|xargs truncate --size 0

after command executed:

[root@node0 glusterfs]# cat /var/log/glusterfs/glusterd.log
[2021-09-22 01:28:43.037731 +0000] I [MSGID: 106499] [glusterd-handler.

[2021-09-22 01:55] mohit84 commented on #2041
I don't think it would be useful, the function is call only while request buffer size is greater than 1M, I don't think in any case we do request more than 1M buffer size but still i will change it.

[2021-09-22 02:05] mohit84 commented on #2671
I am not able to figure out from pstack , i believe high CPU usage should be momentarily while processing a fop request.
afaik top always shows CPU usage per core level not aggregate level so i believe it should not an issue.
If you are sure this was not the case with gluster-6.5 then i have to check it.I think in 6.5 epoll thread(default) count was 1 The current stack is showing 2 poller threads

[2021-09-22 02:17] amgads commented on #2671
@mohit84 .. thanks for looking at this. Yes application didn’t see that high cpu on 6.5. Can you share how to configure 1 event-poll thread ?

[2021-09-22 02:24] mohit84 commented on #2671
gluster v set vol-name client.event-threads 1
gluster v set vol-name server.event-threads 1

[2021-09-22 02:32] amgads commented on #2671
Thanks @mohit84 will try that and let you know. Is there a way to make for all volumes? Something like a general configuration?

[2021-09-22 02:44] mohit84 commented on #2671
No

[2021-09-22 04:42] #2147 closed, assigned to nobody

[2021-09-22 04:42] #2094 closed, assigned to nobody

[2021-09-22 07:58] dat1041988 opened #2812 "cannot write full volume size when enable volume sharding."
**Description of problem:**
Hi all,
Have a question, when i use glusterfs 9 and enable sharding, i cannot write full volume size at one time (got "No space left on device", using dd to test). I checked sharding piece size and realize that some pieces double size when i write data test. (example default size is 64MB, some pieces size 128MB. When i change size to 128MB, some pieces size 256MB). And

[2021-09-22 12:34] VeeEnDee commented on #2319
@sac thank you for your reply.
Do you know whom can I tag here from glusterd team?
Sorry for bothering @aravindavk , maybe you could tag the right pearson to consider this issue.
Or should I duplicate this issue somewhere else?

[2021-09-22 17:07] amgads commented on #2671
@mohit84 We tried setting those parameters to 1, but saw no drop in CPU -- any other thoughts?
gluster v set vol-name client.event-threads 1
gluster v set vol-name server.event-threads 1

[2021-09-22 17:10] mohit84 commented on #2671
@xhernandez Can you suggest something how can we proceed ?

[2021-09-22 18:44] #2089 closed, assigned to nobody

[2021-09-23 04:26] bbqaaq opened #2814 "Geo-replication does not progress with "Input/Output Error""
**Description of problem:**
Im trying to do the first geo-replication sync from master to slave, but seems it gets stucked and cannot complete.

**The exact command to reproduce the issue**:
[code]

**The full output of the command that failed**:
[code]

**Expected results:**
<details>

**Mandatory info:**
**- The output of the `gluster volume info` command**:
master:
[code]
slave:
[code]

**- The

[2021-09-23 08:08] thenamehasbeentake opened #2816 "Glusterfsd memory leak when subdir_mounting a volume"
**Glusterfsd memory leak when mounting a subvolume that does not exist:**
Mounting non-existent subvolumes at high frequency makes the memory reach 0.059t in 1 week
![image](https://user-images.githubusercontent.com/36036872/134460282-da5fc21c-5d20-456e-945c-e1bcf9bdb260.png)

**The exact command to reproduce the issue**:
Last week I killed glusterfsd process and restart glusterd service.

**The f

[2021-09-23 17:01] mohit84 commented on #2671
do u have environment of 6.5, If you have can you please share pstack of a brick process while your application is consuming volume.

[2021-09-23 18:05] hunter86bg opened #2819 "Geo-Replication ssh-port is not used"
**Description of problem:**
When creating a geo-replication with custom ssh port, that port is not configured in the geo-rep config.

**The exact command to reproduce the issue**:
`gluster volume geo-replication primevol slave1::slavevol create ssh-port 9922 push-pem`

**The full output of the command that failed**:
`root@master1:~# gluster volume geo-replication primevol slave1::slavevol config s

[2021-09-24 00:17] amgads commented on #2671
@mohit84
The following is the pstack for the 1st brick (release 6.5)

Thread 29 (Thread 0x7f2d416ff700 (LWP 31285)):
#0  0x00007f2d48f69e5d in nanosleep () from /lib64/libpthread.so.0
#1  0x00007f2d4a130786 in gf_timer_proc () from /lib64/libglusterfs.so.0
#2  0x00007f2d48f62e65 in start_thread () from /lib64/libpthread.so.0
#3  0x00007f2d4882888d in clone () from /lib64/libc.so.6
Thread 28 (Threa

[2021-09-24 00:18] amgads commented on #2671
@mohit84 This is the pstack for the 2nd brick (release 6.5)
Thread 28 (Thread 0x7fbf9e395700 (LWP 2834)):
#0  0x00007fbfa5bffe5d in nanosleep () from /lib64/libpthread.so.0
#1  0x00007fbfa6dc6786 in gf_timer_proc () from /lib64/libglusterfs.so.0
#2  0x00007fbfa5bf8e65 in start_thread () from /lib64/libpthread.so.0
#3  0x00007fbfa54be88d in clone () from /lib64/libc.so.6
Thread 27 (Thread 0x7fbf9db

[2021-09-24 01:42] XiJinyu commented on #2744
@pranithk Hi, I upgraded it to **glusterfs-6.0-56.2**, but this problem still exists

[2021-09-24 04:12] pranithk commented on #2744
@XiJinyu Once a directory goes into this state, it needs manual intervention. The newer releases prevent this from happening. Are you seeing new directories go into this state?

Could you post volume info as well?

[2021-09-24 05:11] mohit84 opened #2820 "Configure HAVE_PTHREAD_SETNAME_NP_(TWO|THREE)_ARGS correctly for rhel-8 environment"
After recent commit (https://github.com/gluster/glusterfs/commit/b980af7853198783987087c262a475c778eafe3d) the behavior
is changed on rhel-8 environment. on the rhel-8 environment the argument PTHREAD_SETNAME_NP_TWO_ARGS is not
configured during rpmbuild and due to that behavior top is showing all thread name as a process.Before backport this commit the top shows the thread name separately but now

[2021-09-24 05:32] pranithk commented on #2816
@thenamehasbeentake Could you take the statedump of the brick process whose memory is increasing 1 hour apart and check which of the datastructure is increasing to figure this out better? The numbers you posted are from inode-context, that will be high based on the operations that are going on and may not be the actual data structure that is leaking.

[2021-09-24 05:45] pranithk commented on #2816
@thenamehasbeentake Please post the statedump files so that debugging is easier.

[2021-09-24 06:05] XiJinyu commented on #2744
@pranithk the following is volume info:

Volume Name: cl06vol01
Type: Distributed-Disperse
Volume ID: a85c7f1b-ed9f-40da-91ac-4d1d26b3d480
Status: Started
Snapshot Count: 0
Number of Bricks: 6 x (10 + 2) = 72
Transport-type: tcp
Bricks:
Brick1: node0001:/gluster/brick-0/cl06vol01
Brick2: node0003:/gluster/brick-6/cl06vol01
Brick3: node0005:/gluster/brick-12/cl06vol01
Brick4: node0007:/gluster/bric

[2021-09-24 06:06] thenamehasbeentake commented on #2816
You can see that the size of the statedump files is 6.9GB, which is a bit large. If you want to reproduce this bug, you can refer to the log and mount the subvolume to a non-existent directory, and you can see the memory growth.
for example：
gluster v create vol localhost:/mnt/brickdir force
gluster v start vol
mount -t glusterfs localhost:vol /mnt/vol
mkdir -p /mnt/vol/testdir/testsubdir
for i in

[2021-09-24 06:10] XiJinyu commented on #2744
@pranithk The following is some brick logs with gluster-6.0.

gluster-brick-12-cl06vol01.log:7968495:3490970875:[2021-09-23 01:42:22.377908] W [MSGID: 113026] [posix-entry-ops.c:677:posix_mkdir] 0-cl06vol01-posix: mkdir (/disk1/Self/025000782270101-1-1632345834.rtp): gfid (0d9e868f-223f-4cb1-983c-cd46f8a72bdf) is already associated with directory (/gluster/brick-12/cl06vol01/.glusterfs/3f/e4/3fe40

[2021-09-24 06:17] pranithk commented on #2744
@XiJinyu Does your workload do directory rename?

[2021-09-24 06:30] XiJinyu commented on #2744
@pranithk Yes, there are directory rename.

In the 6 * (10 + 2) Distributed-Disperse volume. This problem may occur in the following scenarios:
 1. mkdir A
 2. rename A to B
      Rename succeeded on some subvolumes and failed on the remaining subvolumes. the former gfid_ link_ file points to B, the latter gfid_ link_ file still points to A.
      During self repair, on the former brick, it will b

[2021-09-24 06:47] XiJinyu commented on #2744
@pranithk  refer to previous page

the rename A to B only partially successful, "I/O Error" will be reported when accessing B directory.

[2021-09-24 06:50] pranithk commented on #2744
How many bricks does it succeed on?

[2021-09-24 07:04] XiJinyu commented on #2744
[root@name1 ansible]# cat 0029lsal.txt | grep "32000000001328076553-1-1632355198.rtp"
......
lrwxrwxrwx 1 root root 86 Sep 23 08:00 /gluster/brick-56/cl06vol01/.glusterfs/10/57/10571433-5ceb-46dd-82bd-dc22114a47d4 -> ../../0d/5e/0d5e2986-b758-4a91-875a-e425ca4d0a09/32000000001328076553-1-1632355198.rtp
lrwxrwxrwx 1 root root 86 Sep 23 07:57 /gluster/brick-61/cl06vol01/.glusterfs/10/57/10571433-5ce

[2021-09-24 07:06] pranithk commented on #2744
Your volume is (10+2) disperse, so 2 failures on a disperse set can be allowed. Why are the number of failures more than 12?

[2021-09-24 07:24] XiJinyu commented on #2744
Brick1: node0001:/gluster/brick-0/cl06vol01  10571433-5ceb-46dd-82bd-dc22114a47d4 -> ../../1e/e3/1ee314c0-fb74-4d82-8d16-939a5e4361d6/1028076553120210923000029.mpg.rtp
Brick2: node0003:/gluster/brick-6/cl06vol01  10571433-5ceb-46dd-82bd-dc22114a47d4 -> ../../1e/e3/1ee314c0-fb74-4d82-8d16-939a5e4361d6/1028076553120210923000029.mpg.rtp
Brick3: node0005:/gluster/brick-12/cl06vol01  10571433-5ceb-46dd

[2021-09-24 07:31] XiJinyu commented on #2744
@pranithk refer to previous page

The problem is seem in the second and fifth subvolume.

[2021-09-24 07:35] XiJinyu commented on #2744
In the 6 * (10 + 2) Distributed-Disperse volume, all Brick are online. The problem does not always occur, only once or twice after 100 rename operations.

[2021-09-24 07:37] pranithk commented on #2744
@XiJinyu I didn't understand the problem. Are you saying the issue is happening at distribute level or disperse level? i.e. 10+2 level or 6

[2021-09-24 07:55] pranithk commented on #2744
[code]

This subvolume is the issue I think. It is at distribute level. why did the rename fail?

[2021-09-24 08:00] XiJinyu commented on #2744
maybe dht and ec level

[2021-09-24 08:01] pranithk commented on #2744
@XiJinyu Please check the logs and see why this rename failed. That will give a clue why this issue is happening.

[2021-09-24 08:05] pranithk commented on #2789
@ryancaicse First one is a bug. 2nd one has a comment that explains that the unlock should be taken care by the caller and it seems to be doing so. Do you want to send a PR for the first one?

[2021-09-24 08:19] XiJinyu commented on #2744
@pranithk hi, according to the previous analysis, I selected node0005 node. the earliest error log of OPENDIR operation appears:

[root@name2 bricks]# grep -Rbn "32000000001328076553-1-1632355198.rtp" gluster-**brick-14**-cl06vol01.log* | grep -v "lookup_cbk" | grep -v "mkdir"
gluster-brick-14-cl06vol01.log-20210924:65102423:28573860893:[2021-09-23 12:17:01.554611] E [MSGID: 115056] [server-rpc-fo

[2021-09-24 08:24] pranithk commented on #2744
What is the version of the client you are using?

[2021-09-24 08:31] XiJinyu commented on #2744
nfs-utils-1.3.0-0.54.el7.x86_64

192.168.103.132:/cl06vol01/disk12 on /disk12 type **nfs** (rw,relatime,**vers=3**,rsize=1048576,wsize=1048576,namlen=255,hard,proto=tcp,timeo=600,retrans=2,sec=sys,mountaddr=192.168.103.132,mountvers=3,mountport=38465,mountproto=tcp,local_lock=none,addr=192.168.103.132)

[2021-09-24 09:10] cloph commented on #2089
Stale bot you're broken :-(
Guess the "update" needs to happen from OP...

[2021-09-24 09:21] ryancaicse commented on #2789
@pranithk Thanks

[2021-09-24 10:45] #2149 closed, assigned to nobody

[2021-09-24 11:19] Shwetha-Acharya commented on #2814
@bbqaaq  If we carefully read the log, before the traceback, it suggets:

[2021-09-15 16:05:33.781675] E [syncdutils(worker /mnt/volume/resources):348:log_raise_exception] <top>: Getting "Input/Output error" is most likely due to a. Brick is down or b. Split brain issue.
[2021-09-15 16:05:33.782015] E [syncdutils(worker /mnt/volume/resources):352:log_raise_exception] <top>: This is expected as per

[2021-09-25 14:57] XiJinyu commented on #2744
@pranithk Hi pranithk, [bz#1118770](https://bugzilla.redhat.com/show_bug.cgi?id=1118770), this problem is very similar to the previous problem.

[2021-09-26 17:16] #2082 closed, assigned to nobody

[2021-09-26 17:16] #1370 closed

[2021-09-27 02:40] thenamehasbeentake commented on #2816
in xlators/protocol/server/src/server-handshake.c, FIXME
[code]

[2021-09-27 03:31] mohit84 commented on #2816
Ideally it is not possible this code path can hit while a client has tried to mount non-exist subvolume.There are several
condition checks in server_setvolume before run first_lookup  to ensure a volume exist or not.As we can see the below
check ensure volume name should be exist in existing brick_graph, if volume name does not exist the servers_setvolume
return error to client and it never call s

[2021-09-27 04:16] bbqaaq commented on #2814
@Shwetha-Acharya Thanks. Indeed I have carefully read the logs and I can confirm that `vol heal resources info` shows neither split brain nor brick down.

master:
[code]

slave:
[code]

Indeed for this issues I have already google and search for weeks, but I have really no clues to tackle it.

[2021-09-27 05:06] mohit84 commented on #2820
The issue is already fixed by this https://github.com/gluster/glusterfs/pull/2822.

[2021-09-27 05:06] #2820 closed, assigned to nobody

[2021-09-27 05:43] Shwetha-Acharya commented on #2814
@bbqaaq check #gluster volume status and confirm that all the bricks are up.

Also check the brick logs.

[2021-09-27 06:31] thenamehasbeentake commented on #2816
It might be better to change the title like this.
The client mount operation has irregular usage when we use glusterfs. The frequency of mounting and unmounting is relatively high. In this case, one is that the subdirectory in the volume is deleted, but the client still mounts this subdirectory, which can be seen in the log, and it will cause all glusterfsd memory to grow. Another situation is tha

[2021-09-27 06:39] mohit84 commented on #2816
Would it be possible for you to share the exact reproducer to reproduce the same?

[2021-09-27 06:53] thenamehasbeentake commented on #2816
[code]

[2021-09-27 06:59] mohit84 commented on #2816
Thanks for sharing the reproducer. I think i missed to understand the issue,I will try to reproduce the same and update.

[2021-09-27 09:14] bbqaaq commented on #2814
@Shwetha-Acharya Confirmed that all of them are online.
master:
[code]

slave:
[code]

and as told by you to take a look into the brick logs, I discovered similar errors from both master and slave:
[code]
[code]
Im not really sure if these errors are related to the geo-replication failure, but seems these are only suspicious thin gs I can see.

[2021-09-28 07:35] Shwetha-Acharya commented on #2814
@bbqaaq hope you have checked the brick logs around and before the time io errors were occuring. The time of log you shared now ```[2021-09-27 08:59:00.602606 +0000]``` does not match with io error time i.e,```[2021-09-15 16:05:33.781675] E [syncdutils(worker /mnt/volume/resources):348:log_raise_exception] : Getting "Input/Output error"```

[2021-09-28 13:43] kun-lu20 commented on #2491
Hi @amarts , could you please have a look at the regression test issue? Thank you!

[2021-09-28 14:53] amgads commented on #2671
@mohit84  We identified the issue. It's the way the application updating these files. I'm closing the ticket. Thanks for your support as usual.

[2021-09-28 14:53] #2671 closed, assigned to nobody

[2021-09-29 06:13] #615 closed

[2021-09-29 06:37] mykaul commented on #1923
I think this was implemented and can be closed. current structure looks OK:
[code]

[2021-09-29 06:37] #1923 closed, assigned to mohit84

[2021-09-29 06:44] bbqaaq commented on #2814
@Shwetha-Acharya yes, you are right, maybe I have posted the wrong log information, sorry for that.
I got some new hints from the log for the error.

from `geo-replication/resources_fs-02a.XXXXX.ai_resources-geo-rep/gsyncd.log`
[code]

and from `geo-replication/resources_fs-02a.XXXXX.ai_resources-geo-rep/mnt-mnt-volume-resources.log`

[code]

Besides, the
[code]
keep repeating.

[2021-09-29 06:58] Shwetha-Acharya commented on #2814
@karthik-us seems there is some split brain related issue:
```50092 +0000] E [MSGID: 108008] [afr-self-heal-common.c:393:afr_gfid_split_brain_source] 0-resources-replicate-0: Gfid mismatch detected for <gfid:393f7aa2-712e-456e-9b2c-fb601a54da5f>/nameCard.png>, 5f5c743d-b9b4-4f60-97c6-c1cad0d35b58 on resources-client-2 and 8617e842-fa6d-452d-9757-0a1adf5c8061 on resources-client-1.```

Can you dire

[2021-09-29 07:13] karthik-us commented on #2814
@bbqaaq As the logs suggest, this is a case of gfid mismatch between the replicas. Find out all the unique files that are in this state by grepping for the "Gfid mismatch detected" error message in the logs and then use the gluster CLI to resolve the issue by using an appropriate policy which is documented in "https://docs.gluster.org/en/latest/Troubleshooting/resolving-splitbrain/" under section

[2021-09-29 07:44] bbqaaq commented on #2814
@karthik-us But from the `heal info`, I cannot see any split-brain messages.

[code]

Why it shows no signal of split-brain but it shows in log?

[2021-09-29 08:02] karthik-us commented on #2814
@bbqaaq Gfid split-brain falls under the category of entry split-brain and happens due to partial entry transactions (for example - parallel creation of same file name from different clients, or delete & create files of same name which does not succeed on all the bricks, or due to rename of a file to an existing name). If such operations succeed only on few bricks they can lead to gfid mismatches.

[2021-09-29 08:50] KirbyDE commented on #2133
I am experiencing the same kind of error messages with glusterfind (GlusterFS 9.0), did you find a solution for this?

[2021-09-29 08:57] hunter86bg commented on #2133
@KirbyDE ,
in @davidvoisonics case it was a custom changelog cleanup script that was implemented due to massive ammount of changelogs that were exhausing the inodes on the bricks.

[2021-09-29 12:35] KirbyDE commented on #2819
I can reproduce this with GlusterFS 9.2 (from Debian repository) / Debian 11

[2021-09-29 13:14] kalebskeithley opened #2832 "selinux: make it possible to persist ganesha_use_fusefs from one update to the next"
**Description of problem:**
system upgrades of selinux-policy and selinux-policy-targeted overwrite the selinux boolean ganesha_use_fusefs

**The exact command to reproduce the issue**:

**The full output of the command that failed**:
<details>

**Expected results:**
<details>

**Mandatory info:**
**- The output of the `gluster volume info` command**:

**- The output of the `gluster volume status`

[2021-09-29 13:47] hunter86bg commented on #2819
What happens when you:
1. delete the session with reset-sync-time
2. Cleanup slave vol
3. Backup and move away the HTIME.XXXXX file
4. Backup and move away all changelogs
5. Setup a new session
6. Wait for the geo-rep to switch to changelog mode
7. Stop the session , wait 60 sec and start it back

[2021-09-29 13:50] hunter86bg commented on #2819
The workaround (if I forgot to mention it) is to run:
[code]

[2021-09-29 14:10] KirbyDE commented on #2819
Yeah, that's what I usually do - but forgot to mention this as well ;)

[2021-09-29 17:43] bbqaaq commented on #2814
@karthik-us Thanks so much for your detailed explanation. I will try to follow the documents and resole the split-brain and see if my geo-replication will be good to go.

Besides, may I as if there is anyway to scan my volume to dig out all of these kinds of "entry split-brain"? As `heal info` can't help, seems there is no easy way to know if there are more files in my volume having the same issue

[2021-09-30 04:40] mohit84 opened #2835 "dht: found anomalies in dht_layout after commit c4cbdbcb3d02fb56a62effda7ff90ae97f89546c"
In the recent commit c4cbdbcb3d02fb56a62effda7ff90ae97f89546c we have changed the sorting
alogorithm to qsort from selection sort to sort the layout but in comparison function there is a one
condition missed.Current dht_layout_entry_t has start/stop variable data type is unit32_t and comparison
function (dht_layout_entry_cmp) consider difference of start/stop is integer so in case of overflow of v

[2021-09-30 11:37] karthik-us commented on #2814
@bbqaaq as mentioned in my first comment, you need to grep for the string "Gfid mismatch detected" in the glustershd.log and search for the unique gfids. Convert those gfids to actual path by either following the steps mentioned in [1] or using the script [2]. Then give the absolute path of these files as seen from the mount point to the split-brain CLI to resolve the issue.

[1] https://docs.glus

[2021-09-30 22:45] nirs commented on #597
Adding activity

[2021-10-01 01:29] #2835 closed, assigned to mohit84

[2021-10-01 06:16] pranithk commented on #2089
@cloph Will it be possible for you to come up with exact steps to recreate the issue? I mean the exact commands one needs to execute on a fresh volume to get into this state? I can reopen the issue if you do.

[2021-10-01 06:20] pranithk commented on #2744
@XiJinyu This fix is already present in release-6
@mohit84 Do you know of any issues with permissions on the directories while doing rename?

[2021-10-01 09:22] #2816 closed, assigned to nobody

[2021-10-01 11:24] msaju commented on #2252
Please note release dates has been postponed by **2 more weeks**.
All issues planned below are in progress unless highlighted otherwise.
Updated Status for release 10.0.

Release Timelines:
**Code Freeze** : (Week of) 11-Oct-2021
**RC** : (Week of) 18-Sept-2021
**GA** : (Week of) 25-Oct-2021

- [X] runner: moving to posix_spawnp instead of fork runner: moving to posix_spawnp instead of fork (#1644

[2021-10-01 17:45] RandomGHUser opened #2841 "Some directories state "Transport endpoint is not connected""
**Description of problem:**
Attempting to access specific directories on volume result in "Transport endpoint is not connected"

**The exact command to reproduce the issue**:
[code]

**The full output of the command that failed**:
[code]

**Expected results:**
Either able to access the directory, or remove if corrupted.

**Mandatory info:**
**- The output of the `gluster volume info` command**:
[c

[2021-10-02 14:38] #2174 closed, assigned to nobody

[2021-10-04 09:49] #2814 closed, assigned to nobody

[2021-10-04 14:20] Shwetha-Acharya commented on #2819
the create command does not change the config, one will have to manually set the config changes using:
gluster volume geo-replication primevol slave1::slavevol config ssh_port <custom_port>

otherwise the default config will be used.

[2021-10-04 14:33] hunter86bg commented on #2819
@Shwetha-Acharya ,
That's counterintuitive. The user creates the session with custom port and on start he/she will expect the session to start without changing the config manually.

Otherwise the documentation has to be changed.

[2021-10-04 14:49] Shwetha-Acharya commented on #2819
yes, will update documentation in some time

[2021-10-04 15:44] Shwetha-Acharya commented on #2819
Doc update PR: https://github.com/gluster/glusterdocs/pull/703

[2021-10-04 19:42] #2182 closed, assigned to nobody

[2021-10-04 19:42] #2176 closed, assigned to nobody

[2021-10-05 06:06] kalkir commented on #2672
Can I get an update on this?

[2021-10-05 06:13] nik-redhat commented on #2672
Hi @kalkir, sorry for the delay I got busy in other work.
So, may I know what's the issue you are facing as of now? From, the logs I see the locking is failing on 203, can you try restarting glusterd on that node as well?

[2021-10-05 06:42] kalkir commented on #2672
I have already tried restarting glusterd, but the issue still persist. I had joined the first three bricks via ansible module https://docs.ansible.com/ansible/latest/collections/gluster/gluster/gluster_volume_module.html, so can I add additional brick via the same module? I don't understand what  is the problem adding additional bricks via command line.

[2021-10-05 06:58] nik-redhat commented on #2672
There shouldn't be any issue via the command line as well, the problem is with locking. What is the gluster version you are using?
Have you mounted the volume on a client? And, IO is going on for it? Are all the peers in `connected` and `Peer in cluster` status?
Locking generally happens due to some disparities in the cluster or if in case a cluster-wide operation is being executed continuously fr

[2021-10-05 06:59] Shwetha-Acharya commented on #2819
closing this issue as the doc update is now merged.

[2021-10-05 06:59] #2819 closed, assigned to nobody

[2021-10-05 07:48] atinmu commented on #2672
(Adding my thoughts though I am not anymore an active glusterd maintainer
or developer)

This sounds like a stale lock issue to me. Taking statedump of glusterd
across all the nodes should point out such instance in the dump file and if
there is any restarting the glusterd should fix this.

In past we fixed many glusterd stale lock issues, not sure if there is any
new regression here.

On Tue, 5 O

[2021-10-05 12:13] nixpanic commented on #2780
@mohit84 isn't `glusterfs-selinux` only required from GlusterFS 9? This problem is reported for GlusterFS 8, does that need `glusterfs-selinux` now too?

[2021-10-05 12:19] sandrobonazzola commented on #2780
@nixpanic it seems so.

[2021-10-05 22:07] hunter86bg opened #2844 "group-samba is missing"
**Description of problem:**
On Ubuntu 20.04.3 LTS , gluster v9.3 does not provide the samba settings  as follows:

[code]

**The exact command to reproduce the issue**:
[code]

**The full output of the command that failed**:
[code]
**Expected results:**
Samba settings group file to exist.

**Mandatory info:**
**- The output of the `gluster volume info` command**:
[code]
**- The output of the `glus

[2021-10-06 04:56] ravi-singh1 commented on #1292
Faced the above issue with the below GlusterFS versions:

**Server side info:**

[code]
----------------------------------------------------------------
[code]
--------------------
[code]
--------------------
**Client-side info:**
[code]

[2021-10-06 04:58] ravi-singh1 opened #2845 "Close to open consistency fails with GlsuterFS"
Reference issue: https://github.com/gluster/glusterfs/issues/1292

Faced the above issue with the below GlusterFS versions:

**Server side info:**

[code]
----------------------------------------------------------------
[code]
--------------------
[code]
--------------------
**Client-side info:**
[code]

_Originally posted by @ravi-singh1 in https://github.com/gluster/glusterfs/issues/1292#issueco

[2021-10-06 05:27] pranithk commented on #2845
@ravi-singh1 Could you attach a test for which you are facing problems?

[2021-10-06 05:28] pranithk commented on #2845
I am asking because this functionality is automated in the test suit, so wondering if we covered your test or not.

[2021-10-06 05:46] itisravi opened #2846 "glusterd log filled with error messages."
**Description of problem:**
glusterd log filled with spurious(?) error messages every time profile info is run. (devel branch)
[code]

**The exact command to reproduce the issue**:
[code]

Now everytime you run  `gluster v profile testvol info`, the logs are filled with the above messages. We run it every minute in our setup and the logs get flooded soon.

This has been introduced by patch https:/

[2021-10-06 05:54] ravi-singh1 commented on #2845
I followed the same steps mentioned in https://github.com/gluster/glusterfs/issues/1292

check the "The exact command to reproduce the issue:" section in the above ticket.

[2021-10-06 06:02] pranithk commented on #2845
@ravi-singh1 I don't see any changes between the versions in this area. Was it working with some configuration before and now it stopped working? Or it never worked?

[2021-10-06 06:05] nik-redhat commented on #2846
Yeah, this is something I have noticed as well,,,, but didn't checked it out to the core why was that happening.
I will try and debug the cause of these logs, and see what could be done.

[2021-10-06 06:06] ravi-singh1 commented on #2845
Yes, at the server when we set "performance.flush-behind off" for glusterfs 6.5, it was working fine.

[2021-10-06 06:11] pranithk commented on #2845
@ravi-singh1 Could you try the same test with `gluster volume set distvol performance.write-behind off` and let us know if it works?

[2021-10-06 07:39] #2000 closed, assigned to nobody

[2021-10-06 07:39] #906 closed

[2021-10-06 07:39] #2183 closed, assigned to nobody

[2021-10-06 11:30] ravi-singh1 commented on #2845
Still close-to-open consistency test failing after 600 iterations.

Server side info after performance.write-behind off:
[code]

[2021-10-06 11:37] pranithk commented on #2845
Then there are 2 possibilities, glusterfs config is not reaching the client, or the client kernel has bug.
Post output of the following
[code]
Sample output:
[code]

[2021-10-06 11:50] nik-redhat commented on #2846
It seems to be a spurious log. The code checks the `volinfo->dict` for the key and logs the error in case it doesn't find it, but on testing it seems like unless we set the option manually we would never find the value in the dict.
So, I think setting the log level to DEBUG should do in such a case.
WDYT @mohit84?