[2022-02-09 13:05] panlinux commented on #2979
It's an environment variable, define it before the call, i.e., `CFLAGS=... ./configure` (or `CPPFLAGS=... ./configure`)

[2022-02-09 13:08] kevinpawsey commented on #2979
ah, ok... do I need to do it in CPPFLAGS as well, or was that just an example?

if I look at the Makefile, I can see that CFLAGS has the switch added:
[code]
whereas CPPFLAGS does not:
[code]
EDIT: I have checked the other Makefiles in the subdirectories, and these too have the -DUATOMIC_NO_LINK_ERROR switch on CFLAGS in the Makefile

[2022-02-09 13:10] panlinux commented on #2979
Just an example. See here for an armhf build log on ubuntu: https://launchpadlibrarian.net/582144161/buildlog_ubuntu-jammy-armhf.glusterfs_10.1-1_BUILDING.txt.gz

I think this is getting out of scope for this ticket now ;)

[2022-02-09 13:28] kevinpawsey commented on #2979
that example doesn't show the CFLAGS being set, but I do see that the -DUATOMIC_NO_LINK_ERROR option is used in the build process.

it's sort of relevant to the ticket, as I am having the same error, but I cannot get it to build a working executable simply appending the -DUATOMIC_NO_LINK_ERROR option to CFLAGS... unless I am fundamentally missing something.

I can try another build using the comma

[2022-02-09 14:55] black-dragon74 commented on #3213
It took me a while to wrap my head around various things involved with georep and I came up with 2 ways on how we can achieve our goal.

- We can set `rsync-ssh-options` inside `gsyncd.conf` to `-c aes128-ctr` but this approach has the following drawbacks:
    - We will be setting this flag unconditionally which will cause issues on systems lacking aes support. Not a good idea IMO.

- We can check

[2022-02-09 15:04] black-dragon74 commented on #3216
Adding to your observations, If `*name` is already null we can save quite a lot of operations. Or is it like we have to return NULL only when strdup fails for some reason? Adding a check for if the name is NULL won't hurt in any case, right?

Regards

[2022-02-09 15:11] mykaul commented on #3216
I don't see why name would be NULL, apart from the call @ __inode_table_init_root(), which I assume is not called too often.

[2022-02-09 15:14] mykaul commented on #3213
Which systems do not support AES? You may argue that not all have AES acceleration in HW.

Users can configure various options today. We should provide best out of the box experience. And switching to AES128 is probably a good one. If a user decides to change, that's their decision.

We are missing on our performance tests, an end to end test for geo-replication.

I think system policies should en

[2022-02-09 15:18] black-dragon74 commented on #3213
MB, I meant having a dedicated ins set for AES. So we should still skip on systems without HW accel, right?

Got it, thanks.

[2022-02-09 15:30] aravindavk commented on #3213
Performance should be fine since Georep uses ssh control master while syncing. Actual connection happens only once when the worker starts.

[2022-02-10 08:46] moerkey opened #3221 "Debian 10 & package glusterfs-common in version 10.1-1 has a wrong symlink for gsync-sync-gfid"
**Description of problem:**
The Debian 10 package glusterfs-common in version 10.1-1 has a wrong symlink for gsync-sync-gfid.

**The exact command to reproduce the issue**:
ls -lh /usr/share/glusterfs/scripts/gsync-sync-gfid
lrwxrwxrwx 1 root root 42 Jan 21 10:21 /usr/share/glusterfs/scripts/gsync-sync-gfid -> ../../../libexec/glusterfs/gsync-sync-gfid

cd /usr/share/glusterfs/scripts/
ls -lh ../.

[2022-02-10 13:59] kalebskeithley commented on #3221
debian packaging files are in https://github.com/gluster/glusterfs-debian/ and issues for that are tracked in https://github.com/gluster/glusterfs-debian/issues

That said—

fixed in all debian and ubuntu releases for both glusterfs-9 and glusterfs-10. The fix will be present in the next time packages are built.

[2022-02-10 13:59] #3221 closed, assigned to nobody

[2022-02-10 17:58] xhernandez commented on #2979
We have checked this in the slack channel and the problem is that the I/O framework introduced in release 10 uses real 64 bit atomic variables. In 32 bits architectures this doesn't work:

[code]

`gf_io_reserve()` atomically updates a 64-bits counter.

@amarts @pranithk what could we do here ?

Using `GF_ATOMIC` macros would use a mutex in this case to simulate the atomic operation, but it will s

[2022-02-10 18:42] #3071 closed, assigned to mohit84

[2022-02-10 18:49] mykaul commented on #2979
I thought we've decided not to support 32bit platforms already in previous releases. We don't have good CI for it and clearly it breaks.

[2022-02-10 20:30] m-ueberall opened #3225 "`/sbin/mount.glusterfs` 10.1: Handling of backup-volfile-servers option seems to have changed (`unexpected operator`?)"
**Description of problem**:

Given the following entry in `/etc/fstab`:
[code]
mounting succeeds on the client (with return code 0) but the command below displays two `unexpected operator` warnings (which were not shown w/ client version 9.x).

**The exact command to reproduce the issue**:
`% sudo mount /mirrored/gluster/mounts/shared`

**The full output of the command that failed**:
[code]

**Exp

[2022-02-11 06:37] dalwise commented on #3072
It is not:

[code]

[code]

I think it may be challenging to select files to heal from this directory, since the files in need of repair in it keep changing. For example, the file that I mentioned last time no longer appears in the output of `gluster vol heal vol_name info`. Could it be in an unstable state where Gluster could be creating and deleting files in this directory to try to align the br

[2022-02-11 07:22] Sheetalpamecha commented on #3225
Hi @m-ueberall,

I think you are hitting the same issue like this one - https://github.com/gluster/glusterfs/issues/3156
the fix for this is here - https://github.com/gluster/glusterfs/pull/3211 and will be available in the next release.

[2022-02-11 09:03] rbernet commented on #3215
It seems glusterd starts after the upgrade two identical glusterfsd processes per brick. This seems to block the system as both try to access the same port.
Is this interpretation correct? Any idea, what could trigger this behaviour?

[2022-02-11 09:13] m-ueberall commented on #3225
@Sheetalpamecha Thanks for the link! I searched for `backup-volfile-servers` before opening this issue, but apparently managed to miss #3156.

[2022-02-11 10:13] xhernandez commented on #3072
That shouldn't happen if there isn't anyone accessing the volume (once a file is healed, nothing else inside Gluster touches it). Could it be that the heal full you triggered 4 days ago is still working and finding (and healing) files that were broken but not tracked internally (maybe because of the inode exhaustion that happened some time ago). You can check the glusershd.log on each node to see

[2022-02-11 10:22] xhernandez commented on #2979
We decided to not support 32 bits (i.e. no testing is done) but we do keep compiling it to make sure that at least compiles and should work. The problem is that this issue is not detected during compilation.

In this case newer versions won't work on 32 bits platforms even if they compile. We need to decide if we still want to compile for 32 bits and then modify it in someway to make it work, or c

[2022-02-11 11:59] mykaul commented on #3216
Hi @black-dragon74  - https://github.com/gluster/glusterfs/pull/3226 is the pull request with all the changes listed above.

[2022-02-11 14:31] mykaul opened #3228 "event-epoll.c: table_idx will always be 0?"
In all cases of:
[code]

If idx < EVENT_EPOLL_SLOTS (which is 1024 by default), isn't the table_idx always going to be 0? And if it is 0, why do we need EVENT_EPOLL_TABLES (= 1024) tables?

The above calculation is used in event_slot_get() for example, which is called from multiple places, event_select_on_epoll() is one of them. That one is called for event_select_on events, for example from gf_ev

[2022-02-12 02:17] dalwise commented on #3072
There continues to be ongoing activity. It may indeed be due to the full heal that I triggered, since the count of files in need of heal is not changing much, so I'm guessing it's just new files that keep being detected in need of heal. For example:

[code]

All of the non-gfid entries in `gluster vol heal vol_name info` continue to be from the `logs.bak2` directory, which I don't really need. Sin

[2022-02-12 05:02] amarts opened #3229 "handle 'option remote-port' properly in client protocol."
**Description of problem:**
When a `option remote-port NNNNN` is used in the client volume file, other than the first time, if there is a disconnect, the remote-port connection logic falls back to 24007 even though port is already present in client.

**Expected results:**
<details>
When there is `remote-port` option in volfile, client connection upon disconnection also should not fall back to 0/24

[2022-02-13 04:49] #2577 closed, assigned to nobody

[2022-02-13 09:19] tshacked commented on #1060
Reminder: use `Updates: #1060` in the commit-msg to avoid this issue from being closed.

[2022-02-13 16:20] tshacked opened #3232 "The config for creating /var/run/gluster on boot is missing for glusterfs-client installation"
Upstream clone of https://bugzilla.redhat.com/show_bug.cgi?id=2047968

The tmpfiles.d config file for creating `/run/gluster` on boot is available only with the glusterfs-server package.
As a result on a machine with client installation, the path isn't created after reboot and rpm verify reports:
[code]

Fix:
Adding tmpfiles.d conf also during client installation.

[2022-02-14 07:05] mohit84 commented on #3228
1024 slots are sufficient for small environment for big environment where we do have more than 1000 volumes the internal client(make connection with all the volumes) would not be able to make a connection so we need more than 1 table to save the slots. Yes i agree we don't need 1024 tables but we need more than 1 tables.

[2022-02-14 10:21] kevinpawsey commented on #2979
if there is anything that I can do to assist in this, I am happy to help test builds, etc

[2022-02-14 12:29] stais commented on #3190
Hello,

We have no reproduction steps. So, trying with a new version does not ensure that we will get a valid result.

I am attaching the statedump of the client before restart (when issue with memory increase was present) and just after the restart.
[glusterdump.1478.dump.1644349084_postRestart.txt](https://github.com/gluster/glusterfs/files/8060653/glusterdump.1478.dump.1644349084_postRestart.tx

[2022-02-14 14:41] rbernet commented on #3215
The problem seems to be either or a combination of the following volume options:
- nfs.disable is depreciated, setting it in version 9.x asks for confirmation
- my auth.allow string was too long for version 9.x. Setting it in version 8.x was ok, but would hang in version 9.x

Removing nfs.disable and reducing the length of the auth.allow string fixed the upgrade mechanism.

[2022-02-14 14:41] #3215 closed, assigned to nobody

[2022-02-14 15:28] stais commented on #3190
Since we have seen similar logs to the following issue, could this issue cause similar memory consumption?

https://review.gluster.org/#/c/glusterfs/+/23181/

[2022-02-14 20:59] dalwise commented on #3072
Hi @xhernandez, I'm just providing a quick update.

Removal of `logs.bak2` directory has been ongoing for the last few days. Most top level directories within that directory got wiped on the first run (which took a couple of days), but as you had warned there were a number of top level directories that did not get removed (~7000 of them). The `rm -rf` command showed errors like:

[code]

I have co

[2022-02-14 21:16] xImMoRtALitY99 opened #3234 "SSL certificate wrong default path"
**Description of problem:**
glusterfs uses the wrong default path for the SSL certificate, it uses /glusterfs.pem instead of /etc/ssl/glusterfs.pem so the volume fails to start and there is no SSL encryption.

**The exact command to reproduce the issue**:
[code]

**The full output of the command that failed**:
[code]
**Expected results:**
glusterfs volume starts and SSL encryption is enabled

**Ma

[2022-02-15 11:11] mohit84 opened #3236 "nfs: Optimize ctxcount value to reduce memory consumption for nfs-server"
In case of gnfs  for nfs-server all volumes are attached with a single graph. During inode table creation it sets ctxcount same to the total xlators are attached with a graph. If a user has created 100 volumes (1x3) so total number of xlators are attached with graph is 702 per volumes almost 7 xlators are  attached (io-stat, dht, write-behind, afr, c1, c2, c3) so total ctxcount set
is 702. During

[2022-02-15 11:22] xhernandez commented on #3072
Hi @dalwise. Sorry, I couldn't answer earlier.

I would say that as self-heal is progressing, more directories can be removed. If all damaged files and directories are inside `logs.bak2` and self-heal keeps progressing, you should be able to delete the remaining files soon. Let me know if something gets stuck.

Does this error persist, or after some time it was possible to remove it also ?

[2022-02-15 11:27] xhernandez commented on #2979
In this particular case it's necessary to change how things are implemented. It's not just a build configuration. Just changing the value to 32 bits is not enough because it could overflow too fast (it's used to uniquely identify ongoing requests).

[2022-02-15 11:32] #3217 closed, assigned to Sheetalpamecha

[2022-02-15 11:40] #3213 closed, assigned to black-dragon74

[2022-02-15 12:44] xhernandez commented on #3236
Doesn't something similar also happen in self-heal, where many subvolumes are linked to the AFR xlator ?

[2022-02-15 13:02] mohit84 commented on #3236
In case of selfheal number of lru_limit is 1 so we are safe.

[2022-02-15 13:03] kevinpawsey commented on #2979
yes, understood that ... if it is a case that it is not going to be supported any more, then it is reasonable for that reason... but if you do need anything testing, I am just saying that I am happy to compile/test

[2022-02-15 13:29] xhernandez commented on #3236
But the size of the ctx array is still unnecessarily big.

[2022-02-15 13:32] mohit84 commented on #3236
Yes for 100 volumes it will be 2MB i think it is ok.If you want we can use same logic for shd also but i believe for shd
it is ok.

[2022-02-15 13:42] xhernandez commented on #3236
IMO it's not how much it will save (in this case it's very little), but to do it correctly. If we have found something that is not efficient, we should fix it everywhere, even if its bad effects are small. Just my point of view, though...

[2022-02-15 14:38] mohit84 commented on #3236
Ack, I will update the patch.

[2022-02-15 15:03] mohit84 commented on #3236
done

[2022-02-16 05:02] dalwise commented on #3072
Hi @xhernandez,

The `Transport endpoint is not connected` error prevented me from deleting all entries within `logs.bak2`. I ended up running the following within the mounted directory. It reduced the number of entries very slowly, but never got below 11:

[code]

A few hours after stopping that command the entries in this directory of the mounted volume have increased again:

[code]

One thing t

[2022-02-16 07:23] #3229 closed, assigned to amarts

[2022-02-16 07:26] xhernandez commented on #3234
@Shwetha-Acharya the directory for SSL certificates is determined at configure time using `openssl` command. Maybe this is because of some setup issue with the Debian builder ?

[2022-02-16 09:15] rafikc30 opened #3238 "Frequent client side metadata heal when ctime xlator is enabled on Arbiter Node"
**Description of problem:**
We see a lot of client-side metadata healing messages on the client logs. Literally, all the files have undergone healing after a write is completed. This seems to happen with the arbiter node. Since the arbiter has not witnessed any write/read, their time attributes stored as an extended attribute will differ from the data bricks.

So if you have the client-side healin

[2022-02-16 11:31] xhernandez commented on #3072
That's weird. Once deleted even self-heal shouldn't create directories again.

Can you run `gluster volume status <volname> clients` and `gluster volume status <volname> client-list`. It will show who is connected to the bricks. Only the self-heal daemon should appear. If so, you may tray to kill the self-heal process, remove everything you can, and start it again using `gluster volume start <voln

[2022-02-16 11:33] xhernandez commented on #2979
Thanks @kevinpawsey. I'll take it into account when something needs to be tested in 32 bits architectures

[2022-02-16 11:55] Shwetha-Acharya commented on #3234
@xhernandez there has not been any recent changes on builder and scripts.
Same scripts and same builder is used for building both glusterfs 9 release (recently 9.5) and 10 releases (recently 10.1) (From the description we see things are working as expected for 9.X  >>especially since it was working correctly in glusterfs 9.X)
(no errors recorded in build logs during config of 10.1)

Also I see tha

[2022-02-16 15:07] itisravi opened #3240 "dht_revalidate_cbk() needs to trigger directory heal with root permissions and negative pid"
**Description of problem:**
We are encountering an issue where a few directories are missing on a brick on a secondary volume of a geo-replicated setup.  While we don't know the RCA of this issue yet, DHT already has logic to heal missing dirs and fix the holes in the layout distribution with a lookup. But we saw a few logs like given below, indicating layout healing failing with EROFS (In geo-rep

[2022-02-16 22:26] dalwise commented on #3072
Thanks for your help @xhernandez.

Before reading your message I kept trying to remove directories, but they have nonetheless increased. Currently all bricks have the same number of entries. Trying to delete them from within the mounted filesystem results in many `Transport endpoint is not connected` errors:

[code]

[code]

[code]

Besides the self-heal daemons the fuse mount on each of the 3 nod

[2022-02-17 08:36] xhernandez commented on #3072
It seems that finally self-heal was able to synchronize all bricks. After that, the number of entries in heal info has stabilized ?

Now you are unable to delete any of those entries ?

One possible reason for getting `Transport endpoint is not connected` is that replicate considers that the only good source for an entry is in the arbiter brick. In that case the request is denied with that error.

[2022-02-17 09:57] xhernandez commented on #3234
Yes, something may not work correctly. Can you verify that `openssl` tool is installed on debian buildes and what `openssl version -d` returns ?

[2022-02-17 10:17] Nayana-ibm commented on #3155
Now, I could see v10.1 for s390x for ubuntu
http://ppa.launchpad.net/gluster/glusterfs-10/ubuntu/pool/main/g/glusterfs/

[2022-02-17 10:21] Nayana-ibm commented on #3155
Also I don't see rpm (centos-release-gluster) available for rhel and sles distros for s390x. any plan to add s390x?
(Could see it for x86_64 as mentioned on https://wiki.centos.org/SpecialInterestGroup/Storage/gluster-Quickstart)

[2022-02-17 12:17] Shwetha-Acharya commented on #3234
openssl is installed on debian builder.

control file of debian also explicitly mentiones build requires: libssl-dev , so before the build begins we confirm if openssl is installed.

but,
`glusterpackager@rhs-vm-19:~/debian-buster-Glusterfs-10.1$ openssl version -d`
`   OPENSSLDIR: "/usr/lib/ssl"`
@xhernandez

[2022-02-17 12:52] xhernandez commented on #3234
libssl-dev doesn't install openssl automatically. I've just tested it on a Debian container.

This seems fine. This output should be parsed correctly by the script, but I've just seen that there's a bug in the test:

It's done like this:

[code]

If `openssl` is not installed, `SSL_CERT_PATH` will be empty. However:

[code]

If we do instead (with quotes):

[code]

So most probably the `openssl` c

[2022-02-17 20:19] KirbyDE commented on #787
I can still reproduce this issue with GlusterFS 10.1 on Debian Bullseye.
Did you find time already to look into this @aravindavk?

[2022-02-18 00:10] dalwise commented on #3072
The number of entries in the logs.bak2 directory has been stable at 45501 for the last hour (same number in all 3 bricks). It likely decreased slightly with the last `rm -rf` cycle. But the entries pending heal have now ballooned back up and are quickly oscillating over time:

[code]

I've tried several cycles of `rm -rf` in loop, which sometimes reduces the entry count somewhat, but it never reac

[2022-02-18 07:22] chenglin130 opened #3248 "fault in gluster command completion"
**Description of problem:**
when string elements with a function element in parallel， gluster command completion not work well.
e.g.
[code]

**The exact command to reproduce the issue**:
(Tab key)
[root@glst-srv-2 ~]# gluster volume geo-replication
status     __VOLNAME

**The full output of the command that failed**:
<details>

**Expected results:**
<details>

**Mandatory info:**
**- The output of

[2022-02-21 11:22] xhernandez commented on #3072
That doesn't seem normal. I think that the `rm` itself could be causing some race condition when self-heal is also trying to heal the same directory (see comments below).

Based on this data, it seems that the directory in arbiter is healthy and the directories on the other two bricks are bad. They only contain the gfid, which is not correct. Also, the arbiter has non-zero xattrs trusted.afr.vol_n

[2022-02-21 17:30] rafikc30 opened #3252 "SMB append write causes a data corruption when arbiter is enabled"
**Description of problem:**
We have an application that does an append write via smb to a gluster volume. After a while when reading the file, it is corrupted at the backend. The size of the file is less than what we have written via the application.

I believe this same problem could occur via NFS, but I haven't tried it yet.
**The exact command to reproduce the issue**:

- Create a volume with a

[2022-02-21 17:39] rafikc30 commented on #3252
### Root Cause Analysis
The data has been corrupted when gluster client accidentally send the file size as zero even when the file size is non-zero. Since we are doing the append write, the smb relies on the size to append the data as they do not support O_APPEND, Hence they do a stat and get the file size before the append write. For example, if the file size returned by a stat call before write

[2022-02-21 17:56] rafikc30 opened #3253 "Wrong usage of data in afr_notify while processing UPCALL evenet"
**Description of problem:**
The order in which the arguments are sent to the afr_notify and the way they process the arguments while handling UPCALL notifications are wrong. The upcall data has been taken as the xlator_t pointer and stored in the child_xlator local variable and does matching to find the index of the child xlator.

So far both the child_xlator and the index are not used while proce

[2022-02-22 02:13] radius2136 opened #3256 "cluster.min-free-disk, Parameter failure"
The cluster.min-free-disk configuration parameter is invalid
root@:~# gluster volume info
  cluster.min-free-disk: 10%

I don't know why ?  Disk utilization exceeds 90%

<details>

Disk utilization exceeds 90%
root@:~# df -Th
Filesystem         Type            Size   Used  Avail  Use%  Mounted on
/dev/sdb1          xfs              61T    55T   6.1T     91%   /srv

<details>

</details>

root@:~#

[2022-02-22 09:22] NanyinK opened #3259 "Gluster split_brain issue"
**Description of problem:**
Hi,

I just did the upgrade for our env around 3 months ago, now it's gluster v9.4
It has been working well for 3 month yet today I got the split_brain issue.

**The exact command to reproduce the issue**:

**The full output of the command that failed**:
<details>

**Expected results:**
<details>
Know the cause and how to prevent it

**Mandatory info:**
**- The output o

[2022-02-22 16:39] jirireischig commented on #1525
It's look like that fixed libfuse version is not in RedHat 8.5.
Yes kernel-writeback-cache is off by default, but there is not any warning in documentation or man pages about potential data loss.
Please, is it possible to update documentation?

[2022-02-22 16:43] mykaul commented on #1525
We don't use libfuse in our code, to the best of our knowledge.
You should be able to send a patch to our docs. I agree with you that a warning should be added.

[2022-02-22 18:28] lenhardtx opened #3260 "Geo-Replication - rsync command failed with error code 22"
**Description of problem:**
After configure geo replication, rsync command failed with error code 22.

How I can view full rsync error? Only code error doesn´t help much...

**The exact command to reproduce the issue**:
[root@YYYvolume01]# gluster vol geo-rep volume01 XXX::volume01 start
Starting geo-replication session between volume01 & XXX::volume01 has been successful

**The full output of the

[2022-02-23 06:26] Shwetha-Acharya commented on #3155
We have not considered any plans to include s390x on sles versions yet. @nixpanic can add more regarding rhel packages.

[2022-02-23 07:40] Shwetha-Acharya commented on #3096
/var/log/glusterfs/geo-replication/volume1_<ip_secondary1>_volume1/mnt-applis-apsu-data-glusterfs-volume1-brick1-brick.log:[2022-01-13 15:37:22.207918 +0000] D [fuse-bridge.c:4347:fuse_xattr_cbk] 0-glusterfs-fuse: 7846: GETXATTR(system.posix_acl_access) /.gfid/25d46d1b-1e67-4f2a-b477-fbdff21c44f1 => -1 (No data available)
/var/log/glusterfs/geo-replication/volume1_<ip_secondary1>_volume1/mnt-appli

[2022-02-23 07:44] dalwise commented on #3072
Hi @xhernandez,

I had not done anything else on the `logs.bak2` directory since last time I wrote. However the heal-count has now reached 0 on all nodes. The previous sample directory which I could not remove (`/shared/.brick/logs.bak2/TWZYX13500552/J212763T62103841`) now seems consistent on all 3 nodes, which seems odd, as I don't know how it could have recovered from the arbiter.

Unfortunately

[2022-02-23 08:05] #3099 closed, assigned to nobody

[2022-02-23 09:25] black-dragon74 commented on #3260
Could you please provide the Gluster version and the operating system that you are using? The logs are also required.

Regards

[2022-02-23 09:28] black-dragon74 commented on #3259
The steps on how to resolve split brain are given here: https://docs.gluster.org/en/latest/Troubleshooting/resolving-splitbrain

Can you please elaborate a bit more about the issue?

Regards

[2022-02-23 09:42] NanyinK commented on #3259
Hi @black-dragon74 ,

Thanks for looking into this.
Actually I dont aim to fix it but I desire to know the root cause and how to prevent it.

Sure I can elaborate it.
It's an issue happening when a process was trying to do "mkdir" under the gluster path, and that failed.

Could you lemme know if any other logs you would like to see? Glad to share here.

[2022-02-23 12:43] lenhardtx commented on #3260
Red Hat Enterprise Linux release 8.5 (Ootpa)
glusterfs 8.6

I´m in fresh install/copy, I have for now only the log error from another try:

[2022-02-22 14:02:25.846163] E [syncdutils(worker /glusterfs/volume01/brick01):847:errlog] Popen: command returned error [{cmd=rsync -aR0 --inplace --files-from=- --super --stats --numeric-ids --no-implied-dirs --existing --xattrs --acls --ignore-missing-args

[2022-02-23 15:59] NthmAnTi opened #3261 "Gluster out of sync all the time, adding abiter makes things worse"
**Description of problem:**
<details>
We have a replicated gluster volume on two servers that always get out of sync when there is a bit workload on it. Since a arbiter is recommended in such a setup, we added one, but that seemed to make things even worse (More to that later). Self-heal option is on, but does not do the job. We are able to work around this issue by stopping the gluster volume and

[2022-02-23 20:23] mykaul commented on #3228
Thanks @mohit84 !

Now that I've looked more on the code, few questions:

1. Does it make sense to reduce the number of slots and use a bitmap for slots availability? Say 64 or 128 slots instead of 1024 per table?
2. Doesn't it make sense to initialize the 1st table at least when we create the epool? Something around event_pool_new_epoll() call __event_newtable() ?

[2022-02-24 05:30] mohit84 opened #3262 "dht: Synchronize layout_(ref|unref) during layout_(get|set) in dht code path"
Currently dht_layout(ref|unref) is using gf_atomic to increase/decrease
atomic counter. There is some race condition during new layout has been
changed at the same time if old layout is using in other thread.Due to this
a client process is getting crashed.

Solution: There are two ways to solve this
  1) Make strong synchronize use conf->layout_lock to ref|unref
     layout, It can hurt performanc

[2022-02-24 05:33] mohit84 commented on #3262
It seems a client process is getting crashed due to layout corruption.
 The function dht_subvol_get_hashed trying to fetch layout from the parent inode

dht_subvol_get_hashed

 GF_VALIDATE_OR_GOTO(this->name, loc->parent, out);
    GF_VALIDATE_OR_GOTO(this->name, loc->name, out);

    layout = dht_layout_get(this, loc->parent);

    if (!layout) {
        gf_msg_debug(this->name, 0, "Missing layou

[2022-02-24 06:55] black-dragon74 commented on #3210
Adding to this, the following members of the structs are only ones that depend on functionalities of a doubly linked list, correct me if I am wrong.
[code]
I think we can apply this optimization on all other lists except the ones listed above and benefit from the reduced space complexity. WDYT?

Regards

[2022-02-24 10:36] mykaul commented on #3210
I'm not sure it's that easy. In essence, every list that a member can be taken out from via list_del_init() is not a natural candidate, as it'll require some method of traversing the list until finding that item and removing it, which is inefficient.
Hash tables may be different, as the (hope is) that the traversal is already somewhat minimized by the hashing part.
So once you are in the right lis

[2022-02-24 13:15] lenhardtx commented on #3260
After new sync, same problem...

[root@YYY ~]# tail -f /var/log/glusterfs/geo-replication/volume01_bomprincipio_volume01/gsyncd.log
[2022-02-24 13:12:33.391262] I [gsyncdstatus(worker /glusterfs/volume01/brick01):253:set_worker_crawl_status] GeorepStatus: Crawl Status Change [{status=History Crawl}]
[2022-02-24 13:12:33.391889] I [master(worker /glusterfs/volume01/brick01):1575:crawl] _GMaster: st

[2022-02-24 17:50] xhernandez commented on #3072
I think self-heal was still working, and once it was able to fix the pending files, everything became stable again. Since the only issue was in metadata, arbiter brick is good enough to be used as the source for the healing. The client side is not so intelligent though, and it doesn't allow access to the file in case of inconsistency, even if the issue is in the metadata. This is something that we

[2022-02-25 03:19] #2609 closed, assigned to nobody

[2022-02-25 03:19] #1886 closed, assigned to nobody

[2022-02-25 03:19] #2473 closed, assigned to nobody

[2022-02-25 03:19] #1333 closed

[2022-02-25 03:19] #1903 closed, assigned to pranithk

[2022-02-25 03:19] #2607 closed, assigned to nobody

[2022-02-25 06:49] black-dragon74 commented on #3210
Thanks for your input, will get back to it keeping the points above in consideration.

[2022-02-25 09:00] #2618 closed, assigned to nobody

[2022-02-25 16:19] White-Raven commented on #1239
I confirm. Ran into it just now, stumbling thus on this.

[2022-02-25 20:16] mykaul opened #3264 "Posix private struct - reduce size"
Multiple small items that can reduce the size of the structure

Start:

        /* size: 2072, cachelines: 33, members: 68 */
        /* sum members: 2047, holes: 7, sum holes: 25 */
        /* last cacheline: 24 bytes */

Remove handledir and store only st_dev and st_ino:

        /* size: 1944, cachelines: 31, members: 69 */
        /* sum members: 1919, holes: 7, sum holes: 25 */
        /* las

[2022-02-27 04:58] kzakhark commented on #3206
Any updates on this, please? I believe the issue has been successfully demonstrated and supported by logs.

[2022-02-27 15:38] webash commented on #2467
9.5 isn't being offered as an upgrade package on Ubuntu 21.10 - has it been published to major OS repos?

[2022-02-28 05:51] Shwetha-Acharya commented on #2467
The ubuntu 21.10 (impish) was successfully built: https://launchpad.net/~gluster/+archive/ubuntu/glusterfs-9/+packages and was uploaded to ubuntu launchpad.
Also check: https://launchpad.net/~gluster/+archive/ubuntu/glusterfs-9/+sourcepub/13225824/+listing-archive-extra

From which version are you trying upgrade? and what error message/code are you seeing?

[2022-02-28 10:46] webash commented on #2467
Right - so its only on Launchpad, not on the standard Ubuntu repos? I've added the glusterfs-9 source on launchpad now - so I'll just use that moving forward.

I had originally installed Gluster via just the standard Ubuntu sources for 21.10/impish, so I was somewhat expecting updates to be published there too.

[2022-02-28 10:49] kevinpawsey commented on #2467
I too am not seeing the 9.5 being released to bullseye or bullseye-backports... should we be seeing them by now?

[2022-02-28 11:34] 3nprob commented on #2467
There seems to be some confusion on the debian repos. On one hand, there are the official debian repos (which are managed by Debian maintainers, not glusterfs). This can be tracked and maintainer located here: https://tracker.debian.org/pkg/glusterfs

Apart from that, glusterfs hosts its own debian repos. 9.5 is available there under `https://download.gluster.org/pub/gluster/glusterfs/9/`. Unfortu

[2022-02-28 11:49] kevinpawsey commented on #2467
ah, I am looking for ARMhf, do you have the source on the gluster repo (deb-src), so that I could pull and build with apt?  at the moment I have pulled and built the release-9 branch on git for the hf and for the arm64s that I have I have built the release-10 branch

[2022-02-28 11:54] 3nprob commented on #2467
I'm not sure actually, I would expect this to be it but it's still at 9.4: https://github.com/gluster/glusterfs-debian/tree/bullseye-glusterfs-9

[2022-02-28 12:35] xhernandez commented on #3228
Why not simply have a structure that could be embedded in any other user structure so that we don't need extra allocation per epoll slot nor big preallocated arrays with the required overhead of tracking free elements ?

[2022-02-28 12:49] mykaul commented on #3228
Instead of the 4 bytes idx variable, store the whole slot (currently 120 bytes, but this includes idx itself and 4 bytes hole, so 112 bytes)?

[2022-02-28 13:46] xhernandez commented on #3228
The same space is indirectly used anyway (and even more because we keep many "unused" slots of 120 bytes each). However I'm pretty sure it can be significantly optimized (after a quick look, some ints seem to be simple flags, `data` could be omitted for embedded structures (using `container_of`), reference counting is probably unnecessary also for embedded structures, and `slots_used` don't seem t

[2022-02-28 14:51] #3252 closed, assigned to nobody

[2022-03-01 04:15] dalwise commented on #3072
Hi @xhernandez,

Removal progressed quite slowly and took a few days, but it is now removed and heal count is at 0. At this point everything seems OK. I assume it should be OK to now restore the original Gluster volume settings and restore the stack to production. Would you suggest doing any other test before this? I'm not yet sure what caused the original problem and whether it can reoccur, but i

[2022-03-01 09:18] xhernandez commented on #3072
That's great !

Yes, I think everything should be fine now. If you want to be 100% sure, you could run a find on all bricks (excluding .glusterfs) and you should see exactly the same files (assuming no one is creating or deleting files during the finds).

It's not a common case. Maybe it would be better to monitor the logs for some time in case the issue appears again and be able to react quickly

[2022-03-02 04:10] danielzhanghl commented on #2056
found the required parameters when using glusterfs to support database application:

https://docs.openshift.com/container-platform/3.10/scaling_performance/optimizing_on_glusterfs_storage.html

<html>
<body>
<div class="container" style="box-sizing: border-box; text-rendering: optimizelegibility; -webkit-font-smoothing: antialiased; width: 1440px; margin-right: auto; margin-left: auto; padding-lef

[2022-03-02 06:03] Reddoks commented on #2467
Got this problem using 9.2 on Bullseye arm64 docker swarm cluster. Workaround that work now for me -
I have configured all container volumes to GlusterFS Docker Plugin. Currently it looks stable.

[2022-03-02 09:36] zhangxyue opened #3273 "mount.glusterfs:mount takes a long time"
**Description of problem:**
1. It took a lot of time when there is a large number of files under brick_path.
2. It won't work when checking if the mount point is a brick's parent directory.

[root@node1 ~]# gluster volume status test
Status of volume: test
Gluster process                             TCP Port  RDMA Port  Online  Pid
------------------------------------------------------------------

[2022-03-02 11:08] xhernandez commented on #3089
I've been able to reproduce this issue. I'll investigate it.

[2022-03-03 01:21] dalwise commented on #3072
I was taking a look and there continue to be oddities around the `logs.bak2` directory. Heal count is showing 0, but:

[code]

[code]

[code]

[code]

After trying another `rm -rf logs.bak2` on the mounted volume I again got:

[code]

And waiting a few minutes resulted in:

[code]

I did another round of `rm -rf` and this time the directory seems to be gone from the mount and all the bricks. Hopef

[2022-03-03 08:58] xhernandez commented on #3072
That's really weird. These entries should have appeared in heal info, at least.

The number of entries outside `.glusterfs` in the arbiter brick should be equal to the other bricks. Have you checked what's missing ?

It seems clear that there's some issue here. I'm not sure what it could be yet, but we have fixed several things since version 7.4 that may be causing problems here. Would it be possi

[2022-03-03 09:30] xhernandez commented on #3065
@pranithk have you made any progress here ?

[2022-03-03 09:34] xhernandez commented on #3010
I think #3193 fixes this issue in a safer way for future changes.

[2022-03-03 09:40] xhernandez commented on #1778
Yes, it's fixed. I'm closing this issue. Thanks !!!

[2022-03-03 09:40] #1778 closed, assigned to nobody

[2022-03-03 13:10] mscherer commented on #3010
So seems the job fail for another reason:
https://build.gluster.org/job/asan/289/console, I will fix and try again

[2022-03-03 13:12] cpdef commented on #268
The problem wit make/swap/getcontext and a similar with argp_parse functions etc. can be solved by the following commands:
[code]

Though there are some more issues, when compiling on alpine,
for example that __offt64 is not defined and _PART_MOUNTED is not defined and one more i don't remember.
I will try to make some work arounds for this and post it here again ...

I tested this with the releas

[2022-03-03 22:20] cpdef commented on #268
Ok i could now compile glusterfs with musl-libc on alpine 3.15 and gcc 10.3.
I made some minor changes to files, where something was undefined.

At least i added
```#define _PATH_MOUNTED "/etc/mtab"``` in some files, idk why it wasn't defined.
also in /contrib/fuse-lib/mount-common.c strncmp was undefined. so i added ```#include <string.h>```
I think i did one more thing i don't remember at moment

[2022-03-04 01:49] dalwise commented on #3072
I gathered the file list in all 3 nodes as with:

[code]

The count of files is:

[code]

[code]

[code]

A diff between the hostname21 and hostname22 lists shows a few hundred log files with differences. For example this file:

[code]

[code]

[code]

Trying to access this file in the mounted volume results in:

[code]

I checked that all these files are older ones and I'm ok removing them, since

[2022-03-04 08:22] cpdef commented on #268
So here are all changes:
[code]

Maybe some of them make no sense, i just added them so that it can compile and to show where the problems are,
not to make it work correctly

Hint: The target-triplet of the gcc was ```aarch64-alpine-linux-musl```

**Update**:
in musl-libcs unistd.h they define off64_t as following:
[code]
so in api/src/glfs.h maybe that could be checked too?
like:
[code]

**Update

[2022-03-04 09:18] xhernandez commented on #3072
I don't understand what's happening here. Based on the monitoring you did on the number of inodes on hostnam20, it's impossible that that brick has less than 700.000 entries. When it was working slow it was creating 900 inodes per minute, then it peaked to 50000 per minute for some time. This means several millions after few days.

What removed those entries ? can you see some activity in the self

[2022-03-04 09:29] xhernandez commented on #3072
You can use this script to remove files directly from the brick:

[gfrm.sh.gz](https://github.com/gluster/glusterfs/files/8184602/gfrm.sh.gz)

The script needs the root directory of the brick as the first argument. Then you can pass paths relative to the root of the volume as additional arguments or through a pipe.

The script will do several sanity checks before actually trying to remove the entr

[2022-03-04 13:34] Shwetha-Acharya commented on #3260
Please check the gsyncd log of the secondary volume as well.
If there is still no clue, do verify glusterd log and other logs under /var/log/glusterfs/geo-replication at the time Popen error is occuring @lenhardtx
This will essentially give us some clue about the situation you are facing

[2022-03-04 13:39] Shwetha-Acharya commented on #3261
@NthmAnTi Adding the description and details would help us understand what is the exact issue you are facing. Just with the issue title it is very hard to comprehend what is actually happening

[2022-03-04 14:02] pranithk commented on #3261
@Shwetha-Acharya I think the details were hidden by the drop down markers. It is all there.

[2022-03-04 14:08] pranithk commented on #3261
When we add an arbiter, every time it detects a directory to be healed the number increased because all the files under the directory need to be healed. So what  you are observing is the expected behavior.

Self-heal daemon at the moment does do the healing without any need for restart. Adding a new brick will lead to crawl of the good brick and marking the metadata/data to be healed to arbiter. I

[2022-03-04 14:24] Shwetha-Acharya commented on #3261
ohh my bad! thanks for letting me know:) @pranithk

[2022-03-04 15:02] NthmAnTi commented on #3261
Some more details:
The one of the two servers is a smb sever with the gluster volume mounted. The workload is quiet low. Approximately every 1-2 days when someone copies 20-500 files via smb, the volume gets out of sync. Usually `gluster volume heal data info` lists 1-100 entries on one server, but occasionally one or two files are simultaneously listed on the second server.
`gluster volume heal d

[2022-03-04 16:22] pranithk commented on #3261
@NthmAnTi Volume goes out of sync, when there are failures seen by the update operations. You need to provide the logs of the glusterfs mount when it happens next or the last time when it happened to find what could be going wrong.

[2022-03-04 21:53] dalwise commented on #3072
I never stopped the inode count collection, so I can plot what the creation rate continued to be:

<img width="1351" alt="image" src="https://user-images.githubusercontent.com/22359562/156837956-ab666eaf-3d4a-4588-ae29-16adff412dfc.png">

The dips seem aligned with the efforts to remove `logs.bak2`. During that same time it's possible that additional files got removed on the hostname20 brick, but

[2022-03-05 06:29] #2963 closed, assigned to nobody

[2022-03-05 13:46] cpdef commented on #268
[code]

[2022-03-07 10:59] xhernandez commented on #2812
This problem has been seen before and most likely it's caused by an XFS feature that preallocates size to minimize fragmentation and provide better performance. More info here: https://linux-xfs.oss.sgi.narkive.com/jjjfnyI1/faq-xfs-speculative-preallocation

[2022-03-07 11:29] xhernandez commented on #2717
Hi @slowfranklin sorry for the late answer.

I think it's not a bug in FUSE. The kernel itself doesn't send `open()` requests to any filesystem when `O_PATH` is used. Kernel considers that an inode with active references won't be destroyed by the filesystem, so once the inode has been looked up, no other requests are needed to keep the inode available for future stats (basically the only operation

[2022-03-07 12:54] xhernandez commented on #3072
The GFID of each file is created randomly when the file or directory is created, and even if it's a copy, they will have different gfid. Everything else depends on this GFID (it's like the inode number), so `logs.bak2` and `logs` should be completely independent.

Did you a regular copy or there were directory renames involved ? the only issue I can think of that could explain some kind of cross l

[2022-03-07 14:57] #3238 closed, assigned to nobody

[2022-03-07 15:36] mykaul opened #3284 "cdc xlator: deflateInit2() is called in a loop in do_cdc_compress() - probably can be called once"
I'm unsure we need to call it in a loop - once should be enough.
cdc_compress() is calling do_cdc_compress() in a loop:
[code]

do_cdc_compress() is calling the init function:
[code]

Whereas in the opposite direction, do_cdc_decompress() is calling it once:
[code]

Being called from cdc_decompress():
[code]

[2022-03-08 00:04] kevinpawsey commented on #2467
looks like this is now updated to 9.5 GA... but still 9.4 in deb.debian.org bullseye-backports repo

[2022-03-08 01:25] dalwise commented on #3072
Yes, just a regular rsync copy and no renames as far as I recall.

I can't since on March 2nd I succeeded in deleting `logs.bak2`, so I no longer have the directory. Before starting the repair procedures I had backed up the brick directories on hostname21 & hostname22, so I tried to check there, but the directories don't have xattrs. I likely used rsync which by default does not copy the xattrs.

[2022-03-08 07:19] #3232 closed, assigned to tshacked

[2022-03-08 11:06] xhernandez commented on #3072
We have the xattrs from `logs.bak2` from this comment: https://github.com/gluster/glusterfs/issues/3072#issuecomment-1042370864.

You should check if the gfid is the same as the source directory of the copy.

The only issue will be to see if the symlink was pointing to the right directory, but if didn't rename that directory, I don't think there was an issue.

In that case the data on hostname20 w

[2022-03-08 14:13] xhernandez commented on #3089
The problem happens because of a deadlock between rename and unlink operations.

A [patch](https://review.gluster.org/#/c/glusterfs/+/20025/) was introduced to prevent already locked inodes to be deleted. This was necessary to make sure that once a client gets a lock on an inode, it can successfully complete the operation even if another client was trying to delete it at the same time. It was an a

[2022-03-08 18:17] tshacked commented on #3089
Thanks @xhernandez for the details.
The above comment was added in https://github.com/gluster/glusterfs/commit/d0fd121214daabe6f31cc91ad195bb24969ab20a, let me check it further and I"ll let u know once it will be clear.

[2022-03-08 19:26] avinashkumarroy opened #3287 "Not able to fetch volfile from glusterd"
**Description of problem:**

**The exact command to reproduce the issue**:

**The full output of the command that failed**:
<details>

**Expected results:**
<details>

**Mandatory info:**
**- The output of the `gluster volume info` command**:

**- The output of the `gluster volume status` command**:

**- The output of the `gluster volume heal` command**:

**- Provide logs present on following loca

[2022-03-08 20:13] dalwise commented on #3072
Great that you remembered that!

It is different:

[code]

[code]

[code]

By "get rid of it" you mean making the cache setting changes that we are discussing or something else?

Thanks for clarifying. I reverted read-ahead to on and disabled readdir-ahead.

The script is indeed strict. I had to run it through the list of files a few times, since as you said initially it would complain that direct

[2022-03-08 20:21] rafikc30 opened #3288 "GFID split brain resolution using favourite-child-policy leads to ESTALE error"
**Description of problem:**
If we have more than one distribution set, then there is a higher chance that the GFID split-brain resolution may lead to having multiple gfid for the same directories on different DHT subvolumes. This happens due to the fact that the directories are spread across all the bricks, hence gfid mismatch resolution from AFR cannot be done without looking at the DHT subvolume

[2022-03-09 07:37] nik-redhat commented on #3287
Please enter the details mentioned in the issue template for further help.

[2022-03-09 07:39] nik-redhat commented on #3256
What's the type of volume that you have?
That option is only applicable for a `dist*` volume

[2022-03-09 07:41] nik-redhat commented on #3256
Secondly, the gluster version that you have is way too old and not supported anymore. It is recommended to upgrade to a supported version and then update the issue with the findings.

[2022-03-09 10:31] #3177 closed, assigned to nobody

[2022-03-09 11:17] xhernandez commented on #3072
I meant the cached data, so that the client couldn't use the stale data for anything. Restarting the processes as you did is enough. However, I would keep those caching xlators disabled for now (io-cache and readdir-ahead).

Great :)

It may take some time till it arrives to the directories that have missing entries (it's doing a full scan of the entire volume in no particular order). If you want

[2022-03-10 09:18] #3236 closed, assigned to mohit84

[2022-03-11 15:42] NthmAnTi commented on #3261
Sorry for the delay. Here are fresh logs, the problem occurred between 14:15 and 14:20, ended 15:36 with `gluster volume stop data && gluster volume start data`

**/var/log/glusterfs/glfsheal-data.log**
No log entries.

**/var/log/glusterfs/data.log**
No log entries.

**/var/log/glusterfs/mnt.log**
No log entries.

**/var/log/glusterfs/glusterd.log**
[code]

**/var/log/glusterfs/glustershd.log**
[

[2022-03-12 16:02] mykaul opened #3294 "Remove dht_nonblocking_inodelk() - it's not used"
Seems like dht_nonblocking_inodelk() (and it's callback - dht_nonblocking_inodelk_cbk() function) are not used and can be removed.

[2022-03-14 11:16] #3294 closed, assigned to nobody

[2022-03-14 13:07] Nayana-ibm opened #3300 "optimized-basic-testcases.t failure"
**Description of problem:**
I have built and installed Glusterfs 10.1 on  x86_64 and s390x  RHEL 8.2/8.4/8.5 and executed test ./tests/bugs/glusterd/optimized-basic-testcases.t  which fails.

**The exact command to reproduce the issue**:
DEBUG=1 ./run-tests.sh ./tests/bugs/glusterd/optimized-basic-testcases.t

**The full output of the command that failed**:
Please see the comment section.

**Expec

[2022-03-14 13:08] Nayana-ibm commented on #3300
The full output of the command that failed:

[code]

[2022-03-14 13:16] Nayana-ibm opened #3301 "bugs/glusterfs/bug-879490.t failure"
**Description of problem:**
I have built and installed Glusterfs 10.1 on x86_64 and s390x  RHEL 8.2/8.4/8.5 and executed test ./tests/bugs/glusterfs/bug-879490.t which fails.

**The exact command to reproduce the issue**:
DEBUG=1 ./run-tests.sh ./tests/bugs/glusterfs/bug-879490.t

**The full output of the command that failed**:
Please see the comment section.

**Expected results:**
Test case shoul

[2022-03-14 13:16] Nayana-ibm commented on #3301
The full output:
[code]

[2022-03-14 13:21] Nayana-ibm opened #3302 "Test case bugs/nfs/bug-1157223-symlink-mounting.t failure (s390x)"
**Description of problem:**
I have built and installed Glusterfs 10.1 on s390x  SLES 15 sp3. One test case failure is observed.
./tests/bugs/nfs/bug-1157223-symlink-mounting.t

**The exact command to reproduce the issue**:
DEBUG=1 ./run-tests.sh ./tests/bugs/nfs/bug-1157223-symlink-mounting.t

**The full output of the command that failed**:
Please see the comment section.

**Expected results:**
Te

[2022-03-14 13:27] Nayana-ibm commented on #3302
Log:
[code]

[2022-03-14 13:29] Nayana-ibm commented on #3302
Already installed nfs-utils and nfs-kernel-server-2.1.1-10.21.1.s390x

systemctl  status rpcbind
● rpcbind.service - RPC Bind
     Loaded: loaded (/usr/lib/systemd/system/rpcbind.service; disabled; vendor preset: disabled)
     Active: active (running) since Fri 2022-03-11 10:55:59 PST; 2 days ago

uname -r :
5.3.18-59.19-default

Please let me know if anything needs to install/configure

[2022-03-14 14:52] #3225 closed, assigned to nobody

[2022-03-14 18:36] mykaul opened #3304 "CID 1476381: (OVERRUN) @ /rpc/rpc-lib/src/rpc-clnt.c: 249 in __saved_frame_copy("
Introduced by me.

*** CID 1476381:    (OVERRUN)
/rpc/rpc-lib/src/rpc-clnt.c: 249 in __saved_frame_copy()
243     {
244         struct saved_frame *tmp = NULL;
245
246         list_for_each_entry(tmp, &frames->sf.list, list)
247         {
248             if (tmp->rpcreq->xid == callid) {

249                 memcpy(&saved_frame_rsp, &tmp->rsp, sizeof(rpc_transport_rsp_t));
250                 retu

[2022-03-14 20:16] pbhatia22 opened #3306 "Build failed in Jenkins: centos8-regression"
Tests which are failing  [centos8 regression ](https://build.gluster.org/job/centos8-regression/)
[code]

[2022-03-15 07:06] Nayana-ibm commented on #3155
@nixpanic Could you please share your thoughts

[2022-03-15 08:48] pbhatia22 commented on #3302
Considering that at the time of configue you have enabled gnfs using
[code]
Try to  manually start the rpc-statd using
[code]
and then run the test .

[2022-03-15 10:52] nixpanic commented on #3155
For CentOS we build all architectures that are available for the distribution. I do not know how it is done for RHEL, that is something the Red Hat Gluster Storage team should be able to comment on. But this is probably not the place to discuss that, as it affects a product and not the Gluster community builds.

**Note:** I would be careful with mixing client/servers that have different Endian(ese

[2022-03-15 13:02] kalebskeithley commented on #3155
Generally speaking, we rely on third party build systems to produce these packages, e.g. Fedora Koji, CentOS CBS, Ubuntu Launchpad, and OpenSUSE OBS.

We turned on s390x in the Launchpad builds as requested. As @nixpanic indicated, we don't do builds for RHEL; we do builds for CentOS, and CentOS packages do work on RHEL. However CentOS's CBS build system does not do s390x builds. OpenSUSE's OBS do

[2022-03-15 14:10] smremde opened #3308 "Operation not supported"
**Description of problem:**

**The exact command to reproduce the issue**:

**The full output of the command that failed**:
<details>

**Expected results:**
<details>

**Mandatory info:**
**- The output of the `gluster volume info` command**:

**- The output of the `gluster volume status` command**:

**- The output of the `gluster volume heal` command**:

**- Provide logs present on following loca

[2022-03-15 14:10] #3308 closed, assigned to nobody

[2022-03-15 15:05] smremde opened #3309 "Rebalance causing duplicated files"
**Description of problem:**

During a rebalance, errors occured for some files resulting in duplicate files on the volume.

[code]

With the corresponding messages on the bricks logs:

[code]

My understanding is that this xattr (glusterfs.inodelk-dom-count) could not be written (because it doesnt start with trusted, user, system, or security) and that actually these should not be attempted as thi

[2022-03-15 15:28] smremde commented on #3309
This particular files has 2 copies + 2 linkto

[code]

files (14th of Feb and 14th March correlate with rebalance operations)

[code]

xatts for files on bricks:

[code]

[2022-03-15 16:33] kalebskeithley commented on #3155
centos-release-gluster is very CentOS specific. And there is no s390x in CentOS.

RHEL and SLES don't have an "Extras Repo" feature in the base OS like CentOS does where a *-release-gluster package can be distributed, but if you wanted, you could download the centos-release-gluster package from CentOS and install it on RHEL.

[2022-03-16 08:54] Nayana-ibm opened #3311 "[bug:1672480] - Test failures"
Continuing discussion from [issue-932 ](https://github.com/gluster/glusterfs/issues/932) here as I can't re-open it.
There are some test failures observed on s390x due to hash values which are hard coded in test cases. In the earlier issues, there was a discussion about fixes and it appeared that community was going to make some changes to testcases for s390x but I not sure what's latest.

Ref: ht

[2022-03-16 09:28] mykaul commented on #3311
Fixes for it landed via https://github.com/gluster/glusterfs/pull/3062 - are you using Code that has that PR in?

[2022-03-16 09:35] #3166 closed, assigned to nobody

[2022-03-16 14:01] Nayana-ibm commented on #3302
Tried :
 systemctl start rpc-statd
 systemctl status rpc-statd
[code]
Still test case fails. However also observed that after test case execution rpc-statd service becomes inactive

 systemctl status rpc-statd
[code]

[2022-03-17 09:12] mykaul opened #3315 "Python 3.10 / 3.11 is identified as 3.1"
[code]

[2022-03-17 09:41] mykaul commented on #3315
Automake issue (https://src.fedoraproject.org/rpms/automake/c/3327906e94b767330433fda3da2d0997292c55ad?branch=rawhide )

[2022-03-17 09:41] #3315 closed, assigned to nobody

[2022-03-17 16:35] olegkrutov opened #3317 "I/O error accessing THIN qcow2 via libgfapi -- the same file ok via fuse mount"
**Description of problem:**
Gluster version is 9.2-1. OS version is Debian 11.

A disperse 2+1 volume is created on top of 3 zfs pools. Trying to un VM with a qcow2 file by libvirt but got an error:
[code]

**The exact command to reproduce the issue**:
The command is `virsh create domain.xml`. The problem disk part of xml is:
[code]
Changing transport to unix socket does not solve a problem.
When

[2022-03-17 20:47] olegkrutov commented on #3317
Update:  the problem appears with thin qcow2 files (no preallocation). If preallocation is set to 'falloc', things go well. So, maybe it is not gluster bug...

[2022-03-17 23:57] #2676 closed, assigned to nobody

[2022-03-17 23:57] #2662 closed, assigned to nobody

[2022-03-17 23:57] #2648 closed, assigned to nobody

[2022-03-17 23:57] #2314 closed, assigned to nik-redhat

[2022-03-17 23:57] #2670 closed, assigned to nobody

[2022-03-17 23:57] #1143 closed

[2022-03-17 23:57] #2397 closed, assigned to schaffung

[2022-03-17 23:57] #1364 closed

[2022-03-17 23:57] #1540 closed

[2022-03-17 23:57] #145 closed

[2022-03-17 23:57] #2630 closed, assigned to nobody

[2022-03-17 23:57] #2462 closed, assigned to pranithk

[2022-03-17 23:57] #349 closed

[2022-03-17 23:57] #410 closed

[2022-03-17 23:57] #2624 closed, assigned to nobody

[2022-03-17 23:57] #2571 closed, assigned to nobody

[2022-03-17 23:57] #1256 closed

[2022-03-17 23:57] #2628 closed, assigned to pranithk

[2022-03-19 02:21] mohit84 opened #3321 "server: Optimize server_process_event_upcall code path during handling upcall event"
The function server_process_event_upcall handles upcall event and send a
notification to client. To send a notification to client it has taken
a lock to access xprt and the lock has not released until the event has not
been sent to the client, It means at a time it will not able to process
more than one notification it has lock contention while a brick process is trying
to send more than one upcal

[2022-03-20 05:45] wxiaoguang commented on #2606
Any progress about this problem? It seems that not only me but also many other users are affected by this problem.

[2022-03-20 07:36] mykaul commented on #2606
How are they affected? The ~10 seconds lag?

[2022-03-20 17:16] wxiaoguang commented on #2606
In my mind, it's not simply a "10 seconds lag" problem:

1. How does this bug occur? Does it implicit some low-level or more serious problems?
2. It makes users think that GlusterFS is not stable if they meet such unexpected lag, a common question is that will it lose data? And have you tried the demo code above? I think the bug can be reproduced.
3. I had went through the issue list before, not o

[2022-03-20 17:20] wxiaoguang commented on #1962
@mykaul here is another bug report for the `glfs_fini` 10 seconds lag.

[2022-03-20 17:25] wxiaoguang commented on #2583
* Ping for #2606
* And also @mykaul for more background inforamtion.

[2022-03-20 18:00] amarts commented on #2717
@xhernandez wanted to understand this issue, and challenges to implement fop_at() calls through gfapi. Let me know when you have time, we can syncup and then update this issue with meeting minutes.

[2022-03-21 02:34] mohit84 commented on #2717
I think server_xlator filters the flag(O_PATH) by the function (gf_flags_to_flags).

[2022-03-21 02:35] chen1195585098 opened #3329 "mounting with ipv6 hostname leads to failure"
**Description of problem:**
Mounting a volume with ipv6 hostname will leads to failure, since the hostname is incorrectly marked as AF_INET type.

**The exact command to reproduce the issue**:
   gluster volume create mount_test <ipv6_addr>:/gfs/rep_mount_test force (create a volume in ipv6 environment)
   gluster volume start mount_test
   glusterfs --volfile-id=mount_test --volfile-server=node1

[2022-03-21 07:02] xhernandez commented on #2717
Yes, we also need to do some changes, but they are very simple. The main issue is the lack of an actual open call from kernel for entries opened with O_PATH.

[2022-03-21 07:07] amarts commented on #2717
I presume all those things needs to be done in any case if we need to support O_PATH with gfapi ?

[2022-03-21 07:44] xhernandez commented on #2717
In the case of gfapi it's not defined what's expected. If we assume that gfapi clients will behave as the kernel, then the only thing we'll see is a lookup. However I think we have more margin here to require that O_PATH opens must be sent. This would reduce the problem (or it could even work after some fixes), but this would create two issues IMO:

1. Inconsistency between FUSE and gfapi behavior

[2022-03-21 11:28] olegkrutov commented on #3317
Upgrade to gluster 10.1 did not help :(

[2022-03-21 12:12] mykaul commented on #3317
@xhernandez - the code in ec_code_space_create() seems a bit odd:
[code]

Shouldn't we try to create it under /tmp or /var/run or /...<something> and not under '/' ?
(or am I misreading the code?)

[2022-03-21 12:23] xhernandez commented on #3317
`GLUSTERFS_LIBEXECDIR` will normally be `/usr/libexec/glusterfs`.

This file is required to avoid selinux issues. Otherwise we could use an anonymous mapping without a backing file. More information about this can be found in commit ce4bbbe01a0.

[2022-03-21 12:26] olegkrutov commented on #3317
Just found that problem appears with default qcow2 cluster_size (64K). When changed it to 4096, VM starts normally.

[2022-03-21 12:47] olegkrutov commented on #3317
(please see upd) Moreover, it seems that a problem only appears in case if EMPTY qcow2 with LARGE cluster is connected via LIBGFAPI. When I connect a qcow2 from local storage, write as lilttle as 4K of data onto it, shut down a VM, copy a qcow2 onto gluster and start VM with qcow2 via libgfapi, it shows an error (upd:here is my mistake, please read here "it works" since an error is when a file is

[2022-03-21 13:14] mohit84 commented on #3309
@tshacked Can you please check this

[2022-03-21 13:41] olegkrutov commented on #3317
The largest working qcow2 cluster size is 16K (tested on dispersed (2+1) and replicated (replica=3, distribute=1) volume).

[2022-03-21 15:26] tshacked commented on #3309
Hey @smremde

Above xattr `glusterfs.inodelk-dom-count` is related to inodelk count in a given domain and being used by the EC/AFR layers.
Looks it was triggered from posix_setxattr path and that's why it was not filtered
https://github.com/gluster/glusterfs/blob/cf0620a1faf75224e0ef77ce2e7472cff60b2125/xlators/storage/posix/src/posix-inode-fd-ops.c#L2801

As the above volume includes 8 nodes: dc4

[2022-03-21 16:29] smremde commented on #3309
Hi @tshacked - thanks for responding.

The file appears in 3 logs (unfiltered, 5 lines before and after):

[code]
filtered, in chrono order:
[code]

There are no additional messages in the brick logs.

Hope this helps.

[2022-03-21 19:08] olegkrutov opened #3334 "Error messages and 20 seconds timeout when creating qcow2 file via libgfapi"
**Description of problem:**

A gluster volume is created on top of 3 ZFS pools. It is mounted via fuse mount.

I try to create a qcow2 file.
When I use file path via fuse mount, all is done in one moment.
When gluster:// us used, file is creating but operation takes about 20 seconds (please see timestamps in full output section).

The same behaviour is on gluster v.9.2 and 10.1. OS is Debian 11.

[2022-03-21 19:45] smremde commented on #3309
I noticed a mistake in the initial comment from the brick logs - this is the correct logs:
[code]
I have updated the original post.

By the way, this is happening on a good proportion of the files. Infact it seems that it happens every time it migrates a file (no data is migrated sucessfully) and the only reason some arent duplicated is because migration doesn't happen due to disk space constraint

[2022-03-22 03:09] shoufuzhang commented on #1986
请问您找到问题的原因了吗？我也正在遇到同样的问题

[2022-03-22 03:20] shoufuzhang commented on #1986
@mermetbt help

[2022-03-22 03:21] shoufuzhang commented on #1986
@mermetbt Did you find a solution?

[2022-03-22 03:26] mermetbt commented on #1986
Hello @shoufuzhang,

the problem is that glusterfs cannot support so many little changes on the filesystem at the speed required by a kubernetes cluster. I finally abandoned this solution and use glusterfs only for the my docker container registry.

You can add my wechat (mermetbt) if you want to exchange some feedback from my experience.

Regards,

[2022-03-22 04:13] amarts commented on #1986
@shoufuzhang @mermetbt Did you guys try github.com/kadalu/kadalu for your PVC requirements?

[2022-03-22 06:07] Nayana-ibm commented on #3311
I was using v10.1 However I checked same test failures on current master code (which has #3062). Most of the tests are passing named below:
./tests/bugs/posix/bug-1619720.t
./tests/bugs/replicate/bug-1655854-support-dist-to-rep3-arb-conversion.t
./tests/bugs/distribute/bug-1600379.t
./tests/bugs/distribute/bug-1786679.t
./tests/bugs/glusterfs/bug-902610.t
./tests/basic/changelog/changelog-rename.t

[2022-03-22 06:57] shoufuzhang commented on #1986
Mounting gluster with kubernetes pv/pvc is fine, but mounting it on the host, then docker -v mounts it with this error

[2022-03-22 07:43] mykaul commented on #1986
Gluster 5.5 is a very old release. A newer release should perform substantially better.

[2022-03-22 07:45] mykaul commented on #3311
Great progress then. We'll need to split the issues - an issue per failure, I reckon. We might need similar fixes to https://github.com/gluster/glusterfs/pull/3062 elsewhere.

[2022-03-22 07:45] mykaul commented on #3301
Anything in the logs?

[2022-03-22 07:46] mykaul commented on #3300
Please look at the Gluster logs and lets see if we understand what's wrong.

[2022-03-22 07:47] shoufuzhang commented on #1986
gluster version 6.9

[2022-03-22 07:50] mykaul commented on #1986
This is still very old, relatively. Please try latest 9.x or 10.x releases.

[2022-03-22 07:51] amarts commented on #1986
the issue seems to be the `/proc/0/status` file read issue which crashed glusterfs. Fixes are available only in 10.x or latest of 9.x series.

[2022-03-22 08:06] shoufuzhang commented on #1986
/proc/0/status ??

[2022-03-22 08:32] amarts commented on #1986
#2467 is my guess on this as the mount itself fails, and in the container ecosystem.

[2022-03-22 10:16] olegkrutov commented on #2606
I faced the same bug in 10.1 so it is not fixed yet.

[2022-03-22 10:17] olegkrutov commented on #3334
Seems that it is the same as https://github.com/gluster/glusterfs/issues/2606

[2022-03-22 10:23] mohit84 commented on #3334
Can you try to disable open-behind and observe the behavior?

[2022-03-22 10:26] wxiaoguang commented on #3334
If no action is taken for this bug, the result could be the same. See my (very detailed) report in #2606

![image](https://user-images.githubusercontent.com/2114189/159460855-074beb59-94cf-445d-87dd-dfdfdeb9b140.png)

[2022-03-22 10:41] olegkrutov commented on #3334
Yes, sure. Result is the same.
[code]

[code]
[root@865c473d-f250-4b77-8da1-86217561ef21 ~]# gluster volume set str performance.open-behind off
volume set: success

[code]

[2022-03-22 10:50] mohammaddawoodshaik opened #3338 "Creating zerobytes-lock file on the 3-brick(replicated) not getting repliocated properly"
**Description of problem:**
We are running gluster-6.10 in Kubernetes environment. We have three nodes each node is hosting one brick and also client-mount point for pods to write data. Any data written onto client-mount is eventually gets replicated to all bricks in the cluster.
We have one pod with nodejs code, which is using a library called `jsreport`. At the time of this library initialize it

[2022-03-22 11:37] mohit84 commented on #3334
Thanks for confirm it, i will try to reproduce and then update.

[2022-03-22 12:55] mohit84 commented on #3334
Thanks for sharing a reproducer, would it be possible for you to test a patch?
I have tried below patch.

[code]
After applying the patch it is not taking time.

qemu-img create -f qcow2  gluster://192.168.1.4/test/vm1.img 10G
Formatting 'gluster://192.168.1.4/test/vm1.img', fmt=qcow2 size=10737418240 cluster_size=65536 lazy_refcounts=off refcount_bits=16
[2022-03-22 12:42:46.395063 +0000] I [io-s

[2022-03-22 13:35] wxiaoguang commented on #3334
I have tested the patch before.

It partially resolves the problem. `qemu-img` calls `glfs_write`, so the lag disappears. See the screenshot, the `OK` cases.

However, with the demo code in #2606, there could be still some other problem for the patched client without the `glfs_write` call.

I agree the patch could make qemu-img and other clients works nearly correctly. But there could be still som

[2022-03-22 14:16] mykaul commented on #3334
What low level issues do you refer to?

[2022-03-22 14:18] wxiaoguang commented on #3334
With the patch, write a demo program:

* `glfs_creat` -> `glfs_write` -> `glfs_close`, then no lag (that's good, the lag has been fixed 👍)
* `glfs_creat` -> `glfs_close`, then 10 seconds lag

Isn't it an issue?

[2022-03-22 14:22] mykaul commented on #3334
Minor, IMHO - unless I'm missing a real use case where you just create and close?

[2022-03-22 14:28] wxiaoguang commented on #3334
Yup, agree, the phenomenon is minor. However, it may mean that there is some other (incorrect) logic leads to the issue since at the moment no one knows how it happens and what it would affect. I had tried to debug it but it's too complex and I didn't get to the truth either. 😂

I am not arguing about the issue itself, but it's just a developer's feeling that if there is a chance, every bug should

[2022-03-22 15:34] mohit84 commented on #3334
@wxiaoguang
I am not able to reproduce the issue as you shared a program, Can you share a reproducer to reproduce an issue.

[2022-03-22 15:55] wxiaoguang commented on #3334
Sorry, I have cleaned up my environment since there was no progress since that time ...... If I have time in future, I could try again with the latest release/branch.

[2022-03-23 08:07] Nayana-ibm commented on #3155
@kalebskeithley @nixpanic  Thank you for your detailed response!
We will be happy to help if things change in the future.

[2022-03-23 08:15] Nayana-ibm commented on #3155
@kalebskeithley I could build rpms for sles 15 s390x using one of the packaging source you mentioned.
 https://github.com/gluster/glusterfs-suse/

Just that I need to update Source URL in glusterfs.spec file.

[code]
Not sure why Source URL contains 4.0

[2022-03-23 08:48] jkroonza commented on #3338
Can't really help you, but we had this as well.

This was partially fixed around glusterfs 8 ... still need to retest against glusterfs 10.1.  Had the same issue, basically flock() on glusterfs is a major problem.

[2022-03-23 10:10] Bockeman commented on #2726
Ok, it looks as though this is unlikely to get developer attention.
Since doing a lot of things to clear up this problem (mainly deleting entire folders from gluster and underlying bricks, and then restoring from backups), the problem has not recurred.
Should anyone else experience similar problems then, if asked here, I could detail some of the measures I took.

[2022-03-23 10:38] #3329 closed, assigned to nobody

[2022-03-23 11:49] mykaul commented on #3137
Implemented - do we have anything else to do here? Closing for the time being - please re-open if we have more work.

[2022-03-23 11:49] #3137 closed, assigned to nobody

[2022-03-23 11:49] mykaul commented on #3130
I think it's quite done and merged - closing.

[2022-03-23 11:49] #3130 closed, assigned to nobody

[2022-03-23 11:50] mykaul commented on #2898
@amarts - any additional work planned here, or can we close this?

[2022-03-23 12:01] mykaul commented on #3023
**event-epoll improvements**:
- [x] https://github.com/gluster/glusterfs/pull/3283
- [x] https://github.com/gluster/glusterfs/pull/3268
- [x] https://github.com/gluster/glusterfs/pull/3041
- [x] https://github.com/gluster/glusterfs/pull/3285

[2022-03-23 17:46] Nayana-ibm opened #3344 "Test Failure : tests/bugs/glusterd/bug-1699339.t"
**Description of problem:**
Test case failure : ./tests/bugs/glusterd/bug-1699339.t on s390x (big-endian)

**The exact command to reproduce the issue**:
DEBUG=1 ./run-tests.sh ./tests/bugs/glusterd/bug-1699339.t

**The full output of the command that failed**:
Please see the comment section.

**Expected results:**
Test case should pass

**- The operating system / glusterfs version**:
RHEL 8.2/8.4/

[2022-03-23 17:48] Nayana-ibm commented on #3344
With reference  https://github.com/gluster/glusterfs/issues/3311#issuecomment-1074837250

[2022-03-23 17:49] Nayana-ibm opened #3345 "Test Failure: tests/basic/namespace.t"
**Description of problem:**
Test case failure : ./tests/basic/namespace.t on s390x (big-endian)

**The exact command to reproduce the issue**:
DEBUG=1 ./run-tests.sh ./tests/basic/namespace.t

**The full output of the command that failed**:
Please see the comment section.

**Expected results:**
Test case should pass

**- The operating system / glusterfs version**:
RHEL 8.2/8.4/8.5 and Sles 15 sp3

[2022-03-23 17:50] Nayana-ibm commented on #3345
With reference https://github.com/gluster/glusterfs/issues/3311#issuecomment-1074837250

[2022-03-23 17:51] Nayana-ibm opened #3346 "Test Failure: tests/features/weighted-rebalance.t"
With reference https://github.com/gluster/glusterfs/issues/3311#issuecomment-1074837250

**Description of problem:**
Test case failure : ../tests/features/weighted-rebalance.t  on s390x (big-endian)

**The exact command to reproduce the issue**:
DEBUG=1 ./run-tests.sh ./tests/features/weighted-rebalance.t

**The full output of the command that failed**:
Please see the comment section.

**Expected

[2022-03-23 17:52] Nayana-ibm opened #3347 "Test Failure: tests/bitrot/bug-1207627-bitrot-scrub-status.t"
With reference https://github.com/gluster/glusterfs/issues/3311#issuecomment-1074837250

**Description of problem:**
Test case failure : ./tests/bitrot/bug-1207627-bitrot-scrub-status.t  on s390x (big-endian)

**The exact command to reproduce the issue**:
DEBUG=1 ./run-tests.sh ./tests/bitrot/bug-1207627-bitrot-scrub-status.t

**The full output of the command that failed**:
Please see the comment

[2022-03-23 18:13] amarts commented on #2898
I am done with basic cleanup which I thought. Nothing major pending IMO. Will close it, and we can open specific issues if anything comes up.

[2022-03-23 18:13] #2898 closed, assigned to nobody

[2022-03-23 19:12] Nayana-ibm commented on #3347
Output:
[code]

[2022-03-23 22:32] olegkrutov commented on #3317
I noticed a weird thing. When I create a new qcow2 file via qemu-img, its size differs depenging on what backend qemu-img has used. When a file is created (here all cases are with default qcow2 cluster size 64K) via FUSE mount, its size is 196768 (0x300a0) bytes. When its twin brother is created with same parameters via libgfapi, its size is 197120 (0x30200) bytes!
So, the command `qemu-img create

[2022-03-24 08:28] xhernandez commented on #3317
I guess that you are using exactly the same volume in both cases and the only difference is accessing it through fuse or gfapi, right ?

Can you provide the following info ?

From a fuse mount point:

    # stat <mount point>/v0/v0/123.qcow2
    # stat <mount point>/v0/v0/234.qcow2

From node 604201bb-a582-4eb7-82ff-0bb7b5af23b4:

    # stat /storages/zfs/z104/v0/v0/123.qcow2
    # stat /storages/

[2022-03-24 09:54] olegkrutov commented on #3317
I had to rebuild a cluster and volume on other 3 nodes but the problem is the same. OS and gluster version are the same too, Debian 11 and gluster 9.2-1.

Here is current volume data:

[code]
[code]
[code]
Volume mountpoint:
[code]

And here is data you requested:

[code]
[code]
[code]
[code]

[2022-03-24 11:31] xhernandez commented on #3317
I've reproduced the issue and what I see is that it's `qemu-img` itself who sends a bigger write in case of using gfapi:

[code]

As you can see, in frame 13, still inside qemu, the size of the block that is going to be written is 512 bytes instead of 160. I'm not sure why qemu decides to write 512 instead of 160, but that's the reason for the difference in size of the files. I can't tell if that'

[2022-03-24 11:57] olegkrutov commented on #3317
Yes, I see. Many thanks to you, I'll go to qemu devs...

[2022-03-24 12:11] #3317 closed, assigned to nobody

[2022-03-24 12:24] jkroonza opened #3356 "Massive Latency spikes (resulting in trashing and requiring a force-remount to resolve)"
**Description of problem:**

We run a maildir structure off of a glusterfs filesystem (to allow multiple servers for redundancy, 2 in this cse).  This filesystem is laid out as a 2x2 replica-distribute.  The underlying bricks resides on dedicated mounts, running off a PERC H700 RAID controller, with 2 x 4TB NL-SAS drives.  The two primary servers handles ~150 courier-imapd processes at any point i

[2022-03-24 13:15] mohit84 commented on #3356
Can you share the below info from the system(server and client both)
[code]

[2022-03-24 13:36] jkroonza commented on #3356
Herewith so long points 2, 3 and 4:

[bagheera-free.txt](https://github.com/gluster/glusterfs/files/8341880/bagheera-free.txt)
[bagheera-ps_gluster.txt](https://github.com/gluster/glusterfs/files/8341881/bagheera-ps_gluster.txt)
[bagheera-cpuinfo.txt](https://github.com/gluster/glusterfs/files/8341882/bagheera-cpuinfo.txt)
[uriel-ps_gluster.txt](https://github.com/gluster/glusterfs/files/8341883/u

[2022-03-24 15:16] mohit84 commented on #3356
Thanks, i will wait for other info.

[2022-03-24 15:26] mykaul opened #3358 "DECODE_SYNCOP_ERR macro should not set errno to 0 on success"
errno is a global variable, I'm not sure there is value in the macro unconditionally setting it to 0 in case of success.

[2022-03-24 16:03] jkroonza commented on #3356
don't have pstack, and i will need to re-install with debug info for gdb, gdb back traces ok instead of pstack?  Do you need for several minutes or can I just grab point in time backtraces when I detect the state and then proceed to remount?  Happy to push for a little bit before re-mounting, but not overly long.  I assume you need both bricks and clients when this happens?  So I really need to co

[2022-03-24 19:07] mykaul opened #3359 "meta_lookup() and other small improvements to meta xlator"
The meta_lookup() function would use two macros:
META_HOOK - which would call THIS to fetch this->private
IS_META_ROOT_GFID - which did a strcmp() to the result of a uuid_utoa() function.

Simplified by saving the result of the uuid_utoa() in the private struct, doing the comparison directly, and without the call to 'THIS'.
In turn, re-used that result to copy that UUID instead of parsing it (agai

[2022-03-25 08:12] Nayana-ibm commented on #3311
failures:
./tests/bugs/glusterd/bug-1699339.t
./tests/basic/namespace.t
./tests/features/weighted-rebalance.t
./tests/bitrot/bug-1207627-bitrot-scrub-status.t

Created issue per failure: #3344 #3345 #3346 #3347

[2022-03-25 08:13] Nayana-ibm commented on #3311
closing this issue

[2022-03-25 08:13] #3311 closed, assigned to nobody

[2022-03-25 08:42] black-dragon74 commented on #3358
None of the library functions reset the `ERRNO`. I think it is being set to 0 in order to prepare for the next call as it is recommended to do so before calling the function that will set its actual value.

[2022-03-25 13:12] jkroonza commented on #3356
Ok, so using gdb -batch -p $pid -ex "thread apply all bt" is not viable ... it takes several minutes just to attach to the offending proces, and during this time things gets considerably worse.  Does pstack perform better in this regard?  In which case I'll make a plan to get it deployed.  The only process that reached 100% CPU was one of the FUSE processes.

We've noticed another interesting one

[2022-03-25 13:24] mohit84 commented on #3356
I think first you should reduce the number of threads for client and then try to observe the performance.
1) Mount the volume without declaring reader-thread-count, in default case reader-thread-count
    is 1. The high amount of reader-thread-count would not be useful.
2) Disable performance.client-io-threads
3) Configure (client|server).event-threads to 4 the current configuration is useless you

[2022-03-27 12:30] perrynzhou commented on #1986
可以试试lustre,glusterfs问题太多了，可以加下微信聊聊

shoufuzhang ***@***.***>于2022年3月22日 周二11:09写道：

[2022-03-27 12:38] tshacked commented on #3309
Hey @smremde,

File **data/queues/label-full-defect-qa-20191107.json** has: 1 data-file, 1 linkto-file, 1 undefined linkto-file, 1 stale linkto-file (see details below). Since there's an "undefined linkto-file" it is also being listed on the MP (I could reproduce it).

In detail, the file is located on:
(1) subvol-28: data-file from Nov 7  2019
(2) subvol-16: linkto-file pointing to (1) - accordin

[2022-03-27 19:39] jkroonza commented on #3356
Done.

Settings changed.  ( bricks killed; shds killed; glusterd restarted) per server node; all filesystems remounted.

Given that we've currently got <5% clients connected, load averages are feeling excessive currently, and latency immediately started reporting 20s+, with highest so far (in less than 15 minutes from above being 23.8s).  Could still have been caused by SHDs repairing restart dama

[2022-03-27 19:48] jkroonza commented on #3356
Just FYI:  on the local system getting sluggish, the moment I take the load off of the server even local filesystem operations that should NOT BE IMPACTED by glusterfs FUSE performance are.  Eg, an ls on the 41MB tmp/ folder suddenly takes sub 1s, where even just a cd into it previously took mnutes to complete.  I have no explanation for that.

Is it possible to downgrade glusterfs?  Seems that th

[2022-03-27 21:10] jkroonza commented on #3356
So some new information:  I took down the bricks on bagheera to enable dir_index and run fsck -fD (process which will run through the night at current rate).  At this point bagheera feels much more responsive than uriel concurrently, both sides mounted and taking customer load.

Different theory, not knowing how the kernel IO system works:  What's the chance that the kernel and userspace is effect

[2022-03-28 04:52] mohit84 commented on #3356
The fips-mode-rchecksum option is use by posix_rchecksum and shd is a primary consumer of this fop.
If enabled it uses the FIPS complaint sha256 checksum otherwise use MD5 checksum.

As you mentined you are not able to generate backtrace of a process through pstack can you please apply below steps to generate kernel stack trace when file system hangs.

1) Enable the backtrace generation for blocke

[2022-03-28 04:53] mohit84 commented on #3356
Without finding a RCA it would be difficult to suggest downgrade on release-8, if the issue is on system side then even downgrade would not be useful.

[2022-03-28 07:13] jkroonza commented on #3356
Not picked up any D state glusterfs(d) process, but I am seeing lots and lots of these (or similar, all the calls at the top are __schedule, schedule, from there it varies a bit but always some filesystem call I *expect* to be on fuser/glusterfs):

[code]

(directly from dmesg.)  I feel this re-inforces me theory that the kernel isn't getting the IO requests out to the fuse user-space process.

I'

[2022-03-28 08:10] jkroonza commented on #3356
Back traces, I'll also go read kernel sources to try and figure out what's going on here, but that's not usual for me, uriel+bagheera (has been well behaved, and with with them not taking any load garmr+othala has certainly been better behaved).

Full stack traces from the two servers that have run into "remount required":

[othala.txt](https://github.com/gluster/glusterfs/files/8360828/othala.txt

[2022-03-28 08:27] mohit84 commented on #3356
I don't think it is a gluster issue, It seems either issue is on system resource or fuse-kernel module.
@xhernandez
 Can you please share your view on the same?

[2022-03-28 09:36] mohit84 commented on #3356
Can you share the /var/log/messages from one of the node where you are seeing these backtraces ?

[2022-03-28 10:05] jkroonza commented on #3356
I'd have to filter quite heavily, is there something specific you're looking for?  Or just the kernel log portion?

[2022-03-28 10:12] mohit84 commented on #3356
Just want to see kernel log portion only.

[2022-03-28 10:33] mohit84 commented on #3356
Can you try to mount the volume with default options, I have observed after passed noatime it ls-l performance reduced significantly.

I have tried to mount the volume with default option like
mount -t glusterfs <host_name>:/<vol_name> <mount_point>

After created files when i have tried to run ls-l it is fast but when i have mounted volume like below(as you are doing)

mount -t glusterfs <host_na

[2022-03-28 13:19] jkroonza commented on #3356
Processes are now:

[code]

We've also upgraded at least the above host to kernel 5.17.1 prior to updating the options, with both non-brick hosts upgraded it showed no improvement.  However, with the removed options now it does seem better, I am baffled as to WHY though.  Consistent 5-7s ls times on the root folder which contains a mere 400 sub-folders ... at least it's consistent.

It does not se

[2022-03-28 13:30] mohit84 commented on #3356
It's a good news. Is it possible to capture new stack trace while you are observing an issue and share volume profile also.

[2022-03-28 13:46] jkroonza commented on #3356
Please refer the .txt files in previous post.

[2022-03-29 00:09] webash commented on #2467
Finally updated my nodes to Gluster 9.5; unfortunately I'm still getting the exact same problem I was before: soon after a sqlite database hosted over the gluster fuse mount is accessed by a multi-threaded container (eg, a web server), the fuse mount crashes. Unmounting and remounting works temporarily before the fuse mount crashes again. The gluster server nodes are still online, and other gluste

[2022-03-29 00:13] webash commented on #2722
@MarvinTO did you get a resolution to this issue? I'm experiencing issues with sqlite crashing the fuse mount on gluster 9.5

[2022-03-29 00:22] 3nprob commented on #2467
@webash Do you still get the error reported related to `/proc/0/status`? If not, sounds like a different issue.

Do you have WAL enabled on the sqlite db/process?
You can verify by issuing `PRAGMA journal_mode;`.

If so, that is known to cause issues on glusterfs - though breaking the fuse mount does sound like a glusterfs issue, even when using wal.

https://sqlite.org/wal.html

`truncate` and `d

[2022-03-29 03:01] #876 closed

[2022-03-29 03:01] #2705 closed, assigned to nobody

[2022-03-29 03:01] #2677 closed, assigned to nobody

[2022-03-29 03:01] #1711 closed, assigned to nobody

[2022-03-29 03:01] #2682 closed, assigned to nobody

[2022-03-29 03:01] #2680 closed, assigned to nobody

[2022-03-29 03:01] #2685 closed, assigned to nobody

[2022-03-29 03:01] #2684 closed, assigned to nobody

[2022-03-29 03:01] #2686 closed, assigned to nobody

[2022-03-29 03:01] #2683 closed, assigned to nobody

[2022-03-29 03:01] #1723 closed, assigned to nobody

[2022-03-29 08:11] mohit84 commented on #3356
There is one other suggestion specific to configuration change, you can disable readdir-ahead. Here in you environment dht_subvol cnt is 2 so readdir-ahead would not be much useful. The other thing is there are some consistency issues with readdir-ahead so it would be good disable readdir-ahead.

[2022-03-29 08:13] xhernandez commented on #3356
@jkroonza have you checked the iostat output when you see those high latencies ?

    # iostat -xt 1

What are the latencies of the brick disks and system disks ?

[2022-03-29 09:45] tupperware-mod opened #3365 "memory leak gluster"
**Description of problem:**
Hello, I recently observed with glusterfs 7.0 a slow ram growth of the gluster service. I used guix and the last version of gluster available is the 7.0. if I wait any longer, the server crashes
I can't upgrade glusterfs. I generate a statedump file but i d'ont interpret it.

**Mandatory info:**
**- The output of the `gluster volume info` command**:
Volume Name: gfs-tes

[2022-03-29 10:17] jkroonza commented on #3356
bricks and system disks response at these times were in the microsecond (sometimes millisecond) range.  We checked this prior to filing this bug report.

We've taken the plunge and switched on io_uring (it was getting to the point where the systems were pretty much unusable anyway).

Loads have now on the two client-only bricks dropped to sub-4 with nearly 100 IMAP connections on each.

The brick

[2022-03-29 10:21] mykaul opened #3366 "Deprecate zero and one item dynamically sized arrays"
See https://www.kernel.org/doc/html/v5.16/process/deprecated.html#zero-length-and-one-element-arrays - we have few places where we use 'struct foo items[1];' or 'struct foo items[0];' - we should follow what the Linux kernel is doing and move to proper dynamically sized arrays ('struct foo items[];')

Examples:
[code]

[code]

[code]
(from typedef struct per_thread_pool_list )

[2022-03-29 10:22] kzakhark commented on #3206
Any updates on this, please?

[2022-03-29 10:56] jkroonza commented on #3356
Then again:  We are now getting some EAGAIN errors for imapd processes now.  We don't know how the changes made triggered this, but it is rather frequent.  This started when we took the one set of bricks offline to disable dir_index, so this probably correlates to load issues and we are contemplating whether some other max capacity may have been reached, and is now correctly back-propogating into

[2022-03-29 12:13] jkroonza commented on #3356
This has been updated, do we need to remount/restart bricks?

There seems to be lots of outdated and conflicting information/documentation around on the internet for glusterfs.

[2022-03-29 12:23] mohit84 commented on #3356
No, in latest updated configuration (https://github.com/gluster/glusterfs/issues/3356#issuecomment-1080005262) it is still showing.

[2022-03-29 12:25] jkroonza commented on #3356
Just set this prior to replying that it has been updated:

[code]

[2022-03-29 16:03] webash commented on #2467
You're right, @3nprob I can't seem to find the `/proc/0/status` error in my logs now, but you're also right that I don't believe the fuse mount should crash as a result of sqlite not being happy.

There are two databases that trigger this, and both of them appear to have WAL enabled. What's extremely bizarre is that I was running one of them on a gluster volume without any issue, until something c

[2022-03-29 17:43] dfoxg commented on #2467
@webash i had similar experiences you described. But since I moved from docker swarm to k3s most of the errors are gone - maybe it is also a solution for you.

[2022-03-30 07:51] black-dragon74 commented on #3366
If you are not working on this, can I assign myself to it?

[2022-03-30 11:34] mykaul commented on #3366
I'm not working on it. I suspect we have more interesting items in our backlog, but feel free to take it.

[2022-03-31 13:24] webash commented on #2467
@dfoxg so that suggests its some kind of issue between the way that Docker mounts the vol and gluster's FUSE?

Converting all my infrastructure over to k3s just because of an issue with clustered storage is painful :(

[2022-03-31 13:40] xhernandez opened #3373 "DHT doesn't implement seek fop and causes failures"
**Description of problem:**

DHT doesn't implement `seek` fop, so it uses the default implementation that forwards the request to the first subvolume. However, if the user wants to seek a file that has been created in the second subvolume, the operation will fail with EBADFD because the client xlator has not seen any open for that file.

**The exact command to reproduce the issue**:

    # gluster

[2022-03-31 15:35] 3nprob commented on #2467
I'd be really surprised if that would be a solution - if that is indeed the case, it would be really helpful to get a repro

[2022-04-01 05:22] mohit84 opened #3375 "glusterd: After node reboot not able to start all bricks successfully"
The glusterd is not able to start all bricks successfully after node reboot if brick count is high(>750).The glusterd
has attempted all the bricks to start but brick process is not able to get a response from glusterd because glusterd
is busy to start the volumes so it has disconnect with glusterd.

Reproducer: To reproduce an issue follow the steps
1) Setup 400 1x3 volumes on a single node(withou

[2022-04-01 09:50] kevinpawsey commented on #2467
I am still seeing some issues with glusterfs/docker swarm, although it is more stable now. I am recompiling on armv7 when there are updates available in the release-9 branch, mostly the errors I see are with mongodb (unifi controller) writing to gluster.
At the moment I am limiting the swarm to unifi controller, swarm and shepherd, and it is the most stable it has been… but once I introduce squid

[2022-04-01 10:06] jkroonza opened #3379 "GlusterFS: fuse crashes - with reader-threads>1"
**Description of problem:**

FUSE mount process crashes.

**The exact command to reproduce the issue**:

The fuse mount is run with:

[code]

Using /etc/fstab entry:

[code]

**The full output of the command that failed**:

Two separate stack traces (will keep the core files around for a bit as storage permits, add more traces as they become available).

core-glfs_fusenoti.32687.1648802777 (we kno

[2022-04-01 10:17] jkroonza commented on #3356
This is now mostly under control, but it does still happen (we had two cases this morning, in addition to two fuse crashes on one of the nodes).

Current settings are are follows:

[code]

A few notes:

1.  io_uring performed EXCEPTIONALLY well in terms of performance, but resulted in brick crashes, and subsequent data corruption.

2.  dir_index on ext4 is a performance killer under the best of ci

[2022-04-01 10:30] jkroonza commented on #3356
And just now ... another spike in latency, and:

[code]

So at this point we're going to set the readers to 2 (we previously used 4, however, with the improved readdir() performance that may no longer be required).

Now, it seems fuse uses a pipe()/socket() of sorts, is there a way to set the buffer size of that pipe/socket?  This pipe getting too big may be WHY we're getting the kernel trying to

[2022-04-01 11:26] mohit84 commented on #3379
Can you please share "thread apply all bt full" after attach the core with gdb ?

[2022-04-01 11:36] jkroonza commented on #3379
Warnings raised with -ex "thread apply all bt full" -batch ...

[code]

I trust this isn't serious.  Attached below.

[core-glfs_fuseproc.29726.1648784180.txt](https://github.com/gluster/glusterfs/files/8397272/core-glfs_fuseproc.29726.1648784180.txt)
[core-glfs_fusenoti.32687.1648802777.txt](https://github.com/gluster/glusterfs/files/8397274/core-glfs_fusenoti.32687.1648802777.txt)

[2022-04-01 12:02] chen1195585098 commented on #2811
Hello, @tangyla,

Do you get any progress of this issue now? Or is there any thought to find where the trouble lies?

[2022-04-01 12:04] jkroonza commented on #3379
[core-glfs_epoll000.12760.1648796110.txt](https://github.com/gluster/glusterfs/files/8397441/core-glfs_epoll000.12760.1648796110.txt)

This was (I *think* also still with ONE FUSE reader).

[2022-04-01 19:55] mykaul opened #3382 "Dictionary: remove all hash related code"
We don't use it anymore, we can use simpler code (following #2171 )

[2022-04-02 08:37] mykaul commented on #3382
I think it makes all dict_get_strn(), dict_getn(), dict_get_int32n() functions redundant with dict_get_str(), dict_get(), dict_get_int32() and such.

[2022-04-02 08:54] jkroonza commented on #3379
I'm fairly certain these crashes are caused by

Reading https://man7.org/linux/man-pages/man4/fuse.4.html I'm not certain that reader-thread-count>1 is possible or viable.

When we reset back to not specifying this option at all the crashes (of which there were  about 10 overnight) stopped almost immediately.

[2022-04-02 09:01] jkroonza commented on #3356
So ... not a kernel FUSE issue I don't think.  That's a result of "back pressure".  I've been monitoring /sys/fs/fuse/connections/*/waiting, and whenever things starts getting slower, this value is inevitably high.  Looking at the congesions values etc, this is set to 48, not sure if that stops the kernel from sending requests to fuse at att

A high value here I reckon implies that glusterfs isn't

[2022-04-02 09:20] jifengzhou opened #3384 "2x(2+1) Distributed Replica Volume Partial Replica Offline Causes the directory to Unable to Find"
<p>Volume information and status:</p>
<pre><code>[root@node1 ~]# gluster volume info
Volume Name: data
Type: Distributed-Replicate
Volume ID: 916a6d68-587f-47a5-b6d3-5db670de90e8
Status: Started
Snapshot Count: 0
Number of Bricks: 2 x (2 + 1) = 6
Transport-type: tcp
Bricks:
Brick1: node1:/export/heketi/vg_e2a73/device_03664/data_0ce1d
Brick2: node2:/export/heketi/vg_3a0cb/device_4a0b6/data_ba778
B

[2022-04-02 11:47] gloomytrousers commented on #1301
Still required please!

[2022-04-02 16:42] Deltik commented on #2752
I don't know what more I can say other than it's still a bug despite the "wontfix" label.

[2022-04-03 07:27] amarts commented on #2717
Summary of my discussions with @xhernandez and path ahead:

------

## Why was it not done before?

Mostly when we first implemented open(), we took flags handled in fuse and used only those flags, and O_PATH is not handled in fuse layer too. Mainly because the kernel itself maps O_PATH to a lookup() with ‘nlookup’ increase.

## Why we need O_PATH ?

For consistency (and due to it, better caching)

[2022-04-03 12:45] mykaul commented on #2751
Perhaps I'll get back to this an implement it. Let's keep open for a while.

[2022-04-03 16:32] #2106 closed, assigned to nobody

[2022-04-03 16:32] #2700 closed, assigned to nobody

[2022-04-03 16:32] #2030 closed, assigned to nobody

[2022-04-03 16:32] #2719 closed, assigned to nobody

[2022-04-03 16:32] #2021 closed, assigned to nobody

[2022-04-03 18:07] mykaul opened #3387 "Remove glfs_recall_lease_fd() function"
Looks like dead code - is anyone using it?

[2022-04-03 18:27] mykaul opened #3388 "warning: the comparison will always evaluate as ‘true’ for the address of ‘xlator_options’ will never be NULL"
[code]

(gcc 12, on Fedora 36 beta)

[2022-04-03 20:36] jkroonza opened #3389 "FUSE crashes with --global-threading"
**Description of problem:**

FUSE mount process crashes.

**The exact command to reproduce the issue**:

/usr/sbin/glusterfs --global-threading --process-name fuse --volfile-server=XXXX --volfile-id=XXX /path/to/mount

**The full output of the command that failed**:

Not available.

**Expected results:**

Don't crash.

**Mandatory info:**
**- The output of the `gluster volume info` command**:

[co

[2022-04-03 21:01] jkroonza commented on #3356
Currently we've received the following alerts:

[code]

At this point the only two threads with high CPU consumption (>50% each) is glfs_epoll000 and glfs_epoll001.

This specific client is NOT set to use --global-threading, but it does use whichever of these are applicable:

[code]

That's from strace of a process during the above.  Perhaps there is something that can be done to improve that situ

[2022-04-04 07:25] jkroonza commented on #3356
[code]

Mounts are running with:

``` /usr/sbin/glusterfs --global-threading --process-name fuse --volfile-server=localhost --volfile-id=gv_mail /var/spool/mail```

And options are:

[code]

We've now set performance.iot-pass-through but we don't expect this to make a difference.

For iot modules, please indicate how it's decided what IOPs falls into which thread group w.r.t. priority.

[2022-04-04 12:31] mykaul opened #3394 "autoupdate - Update a configure.ac to a newer Autoconf"
Our configure.ac seems a bit outdated, was advised to run autoupdate to update to a newer autoconf (F36).
In the hope it doesn't break older releases.

[2022-04-04 12:34] mykaul commented on #3394
Still have some issues and warnings, but they are unrelated and will be fixed separately if needed:
[code]

[2022-04-04 13:00] mykaul commented on #2916
This is how it looks like with OpenSSL 3.0:
[code]

[2022-04-04 15:26] n1nj4888 opened #3396 "Force delete orphaned snapshot from a single node"
**Description of problem:**
I have a single replicated (across 3 nodes) gluster volume which I regularly take gluster snapshots of. Recently I had to rebuild node3 from a backup and have now got into a situation where there are no snapshots on Node1 or Node2 but there is an old orphaned snaphost on Node3. How can I force the deletion of this orphaned snapshot from Node3?

The snapshot on node3 can

[2022-04-04 20:57] rafikc30 opened #3397 "High System CPU usage with lock contention on iot conf->mutex variable"
**Description of problem:**
We are running a 6 node cluster with 9*4 (4 replicas). We are observing high CPU usage and high load which has huge impact on the performance.

We collected a CPU profiling using perf tools. The data parsed through flamegraph suggests a spin lock wait from the kernel space called by `pthread_mutex_lock/unlock` or the same called from `ptherad_mutex_cond_wait`. This freq

[2022-04-04 21:02] rafikc30 commented on #3397
Do you guys think reducing the io-threads will help here? I agree that it will help if the threads are going to sleep and wake up so frequently. Do you expect this to have a huge impact on CPU usage?

@xhernandez @amarts @pranithk Do you think the global thread pool help here? I guess we had some performance issues with the global thread pool for some workloads, do you think we can use it in the p

[2022-04-04 21:28] rafikc30 commented on #3397
Just to confirm, I tried multiple calls to pthread_mutex_lock/unlock on a single mutex frequently using a multi-threaded c program which also result in a high CPU usage

[code]

[2022-04-05 01:39] mohit84 commented on #3397
[code]

[2022-04-05 01:57] mohit84 commented on #3397
The other way is you can enable global-threading only for brick process to avoid high CPU consumption.

[2022-04-05 05:51] mohit84 commented on #3356
After enable global-threading it does not matter to enable/disable iot because the xlator is not use by brick process.
In case of global-threading there is no priority concept, the request is processed in FIFO order. For specific to iot the priroty
is handled based on the fop , There are two functions (iot_get_pri_meaning and iot_schedule) those decide the priority, all internal fops are having lo

[2022-04-05 06:05] rafikc30 commented on #3397
Thank you @mohit84 for your input. I don't have a reproducer in our test lab yet, but we know the workload on the production system a little bit and I will definitely try the workload on the test cluster and will share the reproducer once I'm able to reproduce it.

I will see if we can collect the pstack of the PID, I had a problem in the past where pstack calls were hanging, So I need to test it

[2022-04-05 06:08] rafikc30 commented on #3397
Yes, I saw a comment from @xhernandez about a performance problem here https://github.com/gluster/glusterfs/issues/532#issuecomment-787858366. Do you think we can use global threading in production?
Another question that I have is regarding the number of worker threads, do you think decreasing the worker thread will reduce the lock contention?

[2022-04-05 06:13] mohit84 commented on #3397
Without testing i would not recommend to use global-threading afaik some of the user already mentioned they are getting improvement while using global-threading. For specific to testing i am not sure did we test after enable partially only for brick process not for client but some of the upstream user reported in past they got improvement while enable for brick process. After reduce number of work

[2022-04-05 06:21] rafikc30 commented on #3397
Ok, I will see whether we use the global threading, I will test it fast.

regarding reducing the worker threads, I think gluster brick process needs a restart to reduce the number of threads even when we change the config. Yes there is `__iot_workers_scale `, it seems it is only scaling up. The threads will exit only if a timeout happens. So if you have some ios, I think they will be wakened up wi

[2022-04-05 06:28] mohit84 commented on #3397
Yes you are correct, you need to restart only if you want to apply the settings immediately otherwise the new settings will be applicable as soon as fop load has become NULL, once the load has become NULL the iot_worker threads automatically detached after  120s so after that when iot has received new requests the settings will be apply.

[2022-04-05 06:31] rafikc30 commented on #3397
Unfortunately both options cannot are difficult, the ios cannot be stopped and the bricks can't be restarted with out a down time as we have pending heals.

[2022-04-05 06:34] mohit84 commented on #3397
If the load is coming from shd you can stop shd and then wait to reduce the traffic then you can apply setting without restarting a brick process.

[2022-04-05 06:43] sansan9401 commented on #3064
I also experienced similar problem with glusterfs 9.2 distributed volume during removing a brick and adding another brick. But in my case, this permission issue effects only for some of directories, not files.

I found that it happens when removing a brick and adding another brick without fix-layout. Removing a brick -> fix-layout -> adding another brick works fine.

I am not an expert and have sh

[2022-04-05 07:40] rafikc30 commented on #3397
We already stopped shd and enabled client-side healing since we had to heal some directories. But we have some ios from the user applications

[2022-04-05 07:44] mohit84 commented on #3397
ok

[2022-04-05 10:10] xhernandez commented on #3397
Probably yes. Once the lock contention is too high, adding more threads normally decreases performance.

It depends on the degree of lock contention, but it could be very high in some cases.

The global thread pool replaces io-threads, so it could help. From what I saw during testing it depends on the workload. In some cases it improves performance and in some cases it decreases performance. If yo

[2022-04-05 10:26] xhernandez commented on #3356
If I'm not wrong, global-threading option by itself doesn't disable io-threads on brick side. It needs to be explicitly disabled to avoid using the io-threads pool, which could interfere with the global pool.

[2022-04-05 10:26] rafikc30 commented on #3397
@xhernandez  Thank you for your response, Do you have any recommendations to bring down the load?
Also, I was looking to fix the issue in the io-threads, I will look into the @mohit84 [changes ](https://review.gluster.org/#/c/glusterfs/+/21039/) to see if it works. I was hoping that we can have more granularity in the lock and split the critical section into multiple pieces, maybe like creating a

[2022-04-05 10:31] xhernandez commented on #3389
@jkroonza I'll take a look at the stack traces to see if there's something easy to identify, but would it be possible to get at least one full core dump to analyze it deeper ?

[2022-04-05 11:17] jkroonza commented on #3389
@xhernandez sure, I can keep the next few, and also provide probably about 30 more stack traces like the above.  Can you please provide direct contact details?  I'd prefer not to make the full core dumps (which could theoretically contain confidential data) in a public forum.

[2022-04-05 11:43] jkroonza commented on #3356
@xhernandez I believe you're right based on what little of the code around this I've looked into.  What is still unclear for me is which translators are running where (client vs server vs shd vs glusterd).

Here are the threads currently active (one of the nodes that has both bricks and a fuse mount) - manipulated basically to strip /[0-9]+ on tails of names and to count them:

[code]

So there ar

[2022-04-07 03:06] #2745 closed, assigned to nobody

[2022-04-07 06:37] mohit84 commented on #3397
I will try on weekend and update if i will find something.

[2022-04-07 06:39] jkroonza commented on #3356
I cooked a reproduction tool:

[rdtorture.txt](https://github.com/gluster/glusterfs/files/8430284/rdtorture.txt) - rename to rdtorture.c and compile with "gcc -W -Wall -Werror -O2 -lpthread -o rdtorture rdtorture.c".

This didn't help at all to get a crash ... or anywhere near the slowdown we see in production.  So the theory is off.  I have however learned a few things:

1.  For getdents64 calls

[2022-04-07 06:39] martialblog commented on #876
Hi,

we're running into a similar (maybe the same) issue on an  oVirt 4.3.10 setup with a GlusterFS Storage Domain.
 After GlusterFS Update 6.10 to 9.5, a  `posix-acl.c:262:posix_acl_log_permit_denied`  error occurs on some shards.

The errors we see look very similar to this issue here.

GlusterFS Volumes:

[code]

After GlusterFS Update 6.10 to 9.5 (following the generic-upgrade-procedure) there

[2022-04-07 06:45] hunter86bg commented on #876
@martialblog ,
if you have multiple storage domains - just make a storage motion (move the disks outside the volume) and then delete and recreate the volume (don't forget to mkfs.xfs -f -i size=512 /path/to/brick/device) . Then add it as a storage domain and it should be OK.
To be honest , it's hard to reproduce and the root cause was not found.

[2022-04-07 06:48] martialblog commented on #876
@hunter86bg Thanks for the reply! I was thinking a similar strategy... let's see if it'll work.

[2022-04-07 06:51] hunter86bg commented on #876
@martialblog
I've recreated my volume on 7.2 (on this version  I had the issue) and I never had issues afterwards.
Don't forget to apply the virt group either from oVirt UI or from gluster's cli.

[2022-04-07 06:52] hunter86bg commented on #876
Also, disable cluster.lookup-optimize as it could lead to data loss when volumes are expanded/shrinked

[2022-04-07 07:35] mykaul commented on #3397
@mohit84 - it is not clear to me if the time spent is on __iot_enqueue(), on __iot_workers_scale(), or actually waiting for the signal in between?
- The latter (__iot_workers_scale() function) unless it creates threads too often, which I doubt, seems to be short running.
- __iot_enqueue() - also doesn't seem too complex. iot_get_ctx() there is using client_ctx_get(). I've sent minimal improvements

[2022-04-07 07:54] Nayana-ibm commented on #3300
in glusterd log, could see such errors:
2022-04-06 12:03:44.668060 +0000] E [MSGID: 101075] [common-utils.c:520:gf_resolve_ip6] 0-resolver: error in getaddrinfo [{family=2}, {ret=Name or service not known}]
[2022-04-06 12:03:44.668067 +0000] E [name.c:268:af_inet_client_get_remote_sockaddr] 0-management: DNS resolution failed on host invalid-peer

attached logs  ( in logs I have replaced actual ho

[2022-04-07 07:57] Nayana-ibm commented on #3301
in glusterd.log , could see such error:

[code]

attached logs ( in logs I have replaced actual hostname with < hostname > )

[bug-879490.zip](https://github.com/gluster/glusterfs/files/8440791/bug-879490.zip)

[2022-04-07 07:57] Nayana-ibm commented on #3302
Logs (in log files, I have replaced actual hostname with < hostname > )

[bug-1157223-symlink-mounting-iteration-1.zip](https://github.com/gluster/glusterfs/files/8440795/bug-1157223-symlink-mounting-iteration-1.zip)

[2022-04-07 07:58] black-dragon74 commented on #3366
Note: `dht_disk_layout_t` is unused in the code. Should I remove it?

[2022-04-07 07:59] Nayana-ibm commented on #3344
Logs (in log files, I have replaced actual hostname with < hostname > )
[bug-1699339-iteration-1.zip](https://github.com/gluster/glusterfs/files/8440803/bug-1699339-iteration-1.zip)

[2022-04-07 08:00] Nayana-ibm commented on #3345
Logs (in log files, I have replaced actual hostname with < hostname > )
[namespace-iteration-1.zip](https://github.com/gluster/glusterfs/files/8440805/namespace-iteration-1.zip)

[2022-04-07 08:00] Nayana-ibm commented on #3346
Logs (in log files, I have replaced actual hostname with < hostname > )
[weighted-rebalance-iteration-1.zip](https://github.com/gluster/glusterfs/files/8440813/weighted-rebalance-iteration-1.zip)

[2022-04-07 08:00] Nayana-ibm commented on #3347
Logs (in log files, I have replaced actual hostname with < hostname > )
[bug-1207627-bitrot-scrub-status-iteration-1.zip](https://github.com/gluster/glusterfs/files/8440817/bug-1207627-bitrot-scrub-status-iteration-1.zip)

[2022-04-07 08:02] Nayana-ibm commented on #3347
tests passing with below patch on s390x :
[code]

[2022-04-07 08:04] Nayana-ibm commented on #3346
using below patch to pass this test on s390x:

[code]

[2022-04-07 08:04] mykaul commented on #3301
I suspect you have some DNS / name resolution issues:
[code]

[2022-04-07 08:12] mykaul commented on #3347
If you can send a patch, let's see if it works on other platforms, passes all tests, etc.

[2022-04-07 08:14] mykaul commented on #3366
Of course, along with dht_disk_layout structure. You will remove code that belonged to the initial DHT commit, so a bit of history there ;-)

[2022-04-07 09:18] bright-zxl opened #3412 "client挂载复制卷（server1,server2） 只有挂载的server1文件会跟client同步 另一个server2挂载卷没有同步 请教这是什么问题影响的呢"
**Description of problem:**
client挂载复制卷（server1,server2） 只有挂载的server1文件会跟client同步 另一个server2挂载卷没有同步 请教这是什么问题影响的呢

**The exact command to reproduce the issue**:
mount.glusterfs server1:sftp-rep-volume /rep-volume-file

[2022-04-07 12:22] mohit84 commented on #3397
I don't think the functions (__iot_enqueue, __iot_workers_scale) are taking time. I believe while number of iot_worker threads are high it could be possible do_iot_schedule can face lock contention during add a job in the queue because we have used a single mutex to sync the data. I have been testing if we can enable global threading pool for brick process
only or we can do change in iot xlator an

[2022-04-07 13:17] jkroonza opened #3416 "large volume of errno=2, error=No such file or directory "warnings" on brick nodes"
Hi,

As per the process which glusterfs follows, my understanding is:

A DHT hash is done, and the file request is sent to the hashed to sub-volumes (2 x 2 replicate distribute).  If this fails a kind of broadcast is done to see if it's elsewhere.  And T (linkto) files are then created on the bricks where the data should have been.

What we're seeing is massive log spam of the form:

[code]
The ca

[2022-04-07 13:21] xhernandez opened #3417 "Crash due to unaligned memory access"
In some cases, when Gluster is built enabling compiler's SSE optimizations, there's a crash caused by an unaligned access to a 16 bytes memory region.

This has been identified using gcc 12 from Fedora 36, but the same problem could also happen with clang and earlier compilers.

[code]

On a more detailed analysis of the disassembly, we can see the problem:

[code]

So the code is doing an aligned

[2022-04-07 14:11] jkroonza commented on #3356
Ok, actions taken:

1.  Disabled global-threading again (to try and see if that makes a difference, very, very subjectively I'd say very little if any).
2.  Added background-qlen=128 to the two nodes where we're sending more traffic.
3.  Added two new clean bricks, and initiated a remove-brick on one of the other pairs (eta 350h, so hoping that will speed up overnight - surely it shouldn't take 40

[2022-04-07 15:12] jkroonza commented on #3356
Correlated kernel waiting and state dump:

/sys/fs/fuse/connections/23/waiting : 203

[glusterdump.21456.dump.1649341674.gz](https://github.com/gluster/glusterfs/files/8443872/glusterdump.21456.dump.1649341674.gz)

grep ^op= gives 305 ops, far majority of which are LOOKUP:

[code]

Oh wow, was I wrong.  Anyway, would LOVE to know what you make of this please.  Would also like to understand if a th

[2022-04-07 21:27] MarvinTO commented on #2722
sorry for the late response, no I didn't get a resolution to this issue. However, it was because I didn't follow up this thread.

The clients for this volume decided to replace this volume for a Google Regional Disk, so I was not able to reproduce this issue again (since the environment was changed).

[2022-04-08 00:20] dalwise commented on #3072
Hi @xhernandez,

Sorry for the delay to get back to you. I was waiting for the sweep to complete and I expected it to take long as you had warned. However I just noticed that it completed soon after launching it and I had missed it earlier.

The log shows a good number of errors related to "client-common.c:2705:client_pre_getxattr_v2" and files on the brick of hostname20 remain at the same number:

[2022-04-08 10:45] rafikc30 commented on #3397
@xhernandez
We decided to test the global thread pool with our workload. I hope we have no known functional issues.
Since It is very hard to replicate the production workload in our test systems(Because of the nature of production data), I want to ask if you have any idea about the workload that gives a bad performance with the global thread pool. If you can refer to any issues or user responses t

[2022-04-08 10:45] rafikc30 commented on #3397
.

[2022-04-08 14:16] n1nj4888 commented on #3396
Any update on this issue and whether there is a quick way to remove the orphaned snapshot so I can get back into my daily snapshot routine?

[2022-04-08 16:54] #3417 closed, assigned to nobody

[2022-04-09 04:45] mohit84 opened #3424 "io-threads: Use gf_thread_pool to avoid lock contention"
Generate perf number after use gf_thread_pool in io-thread xlator.

[2022-04-10 09:28] mykaul opened #3426 "logging.c small improvements"
- Reduce no. of calls to 'THIS' , pass 'ctx' around where it makes sense.
- Remove the ctx->log indirection where possible
- Reduce lock-unlock-lock-unlock sequence where possible
- Reduce extra padding in structs.
etc.

[2022-04-10 20:12] lenhardtx commented on #3260
About this thread, I dropped the volume and recreate, and I´m moving "folder" by "folder", and works... but now, when is "greater" folder (4TB), is veryyyyyyyyyyyyyyy slow,

[root@replica~]# du -sh /mnt/glusterfs/volume00/issuer/
3.7T    /mnt/glusterfs/volume00/issuer/
[root@replica~]#

More than 20 days on this.. I hope that when finishs, "status" at primary is OK.

[2022-04-10 20:12] #3260 closed, assigned to nobody

[2022-04-11 10:35] Nayana-ibm commented on #3347
@mykaul I have attached code-patch. git apply bit-rot-stub.c.diff can be used to patch . You will be checking if it works? or Should I raise pull request? Please let me know
[bit-rot-stub.zip](https://github.com/gluster/glusterfs/files/8463288/bit-rot-stub.zip)
.

[2022-04-11 11:16] mykaul commented on #3347
Please raise a pull request.

[2022-04-11 11:46] harshita-shree commented on #3426
@mykaul are you working on this?

[2022-04-11 12:06] mykaul commented on #3426
I'm hoping to. Started, but need to get to complete it.

[2022-04-12 01:36] mohit84 commented on #3397
@rafikc30

 We have executed smallfile test case after enabling global-thread only for brick_process and disable iothread at the same
 time for brick process.We are getting a regression for some of the fops after continuously running fop by smallfile tool.

Result after enable global-threading for brick process only
[code]
Then we have executed similar test case after using global-thread pool for

[2022-04-12 03:29] wintercloud opened #3427 "RPC program not available"
**Description of problem:**

**The exact command to reproduce the issue**:

**The full output of the command that failed**:
<details>

**Expected results:**
<details>

**Mandatory info:**
**- The output of the `gluster volume info` command**:

**- The output of the `gluster volume status` command**:

**- The output of the `gluster volume heal` command**:

**- Provide logs present on following loca

[2022-04-12 05:14] black-dragon74 commented on #3427
Can you please explain a bit more about this?

Regards

[2022-04-12 07:00] rafikc30 commented on #3397
@mohit84 This is a great help for us. Thank you for doing the performance test.

Can you please tell me a bit more about the last test case where you did not find any regression in performance? Did you just use io-threads with just a single priority and without global threading?

[2022-04-12 08:07] mohit84 commented on #3397
Yes The change was a io-threads with a single priority and without global threading.

[2022-04-12 08:14] rafikc30 commented on #3397
@mohit84 But That won't help in reducing the contention in the io-threads in the current format, right? Because we are at the moment only using one queue even if we have multiple priorities.

[2022-04-12 10:06] mohit84 commented on #3397
Yes it would not be helpful for reduce the contention, the test case was executed to figure out about why global-threading is getting regression.

[2022-04-12 14:41] #3288 closed, assigned to nobody

[2022-04-12 15:05] olegkrutov opened #3429 "Segfault when files accessing via libgfapi on pure distributed volumes"
**Description of problem:**
When gluster volume type DISTRIBUTED is created and then non-preallocated qcow2 is created on it (via fuse mount), trying to start vm with this vdisk connected via libgfapi or qemu-img info  gluster:///...qcow2 causes aegmentation fault.

**The exact command to reproduce the issue**:

qemu-img info gluster:///<vdisk name>

**The full output of the command that failed**:

[2022-04-12 22:18] olegkrutov commented on #3429
I've just noticed that problem occurs when qcow2 virtual size is not a multiple of 4096 bytes. So, even file creating with virtual size, say, 1073743872 (0x40000800) bytes will cause segfault. File with size 1073745920 (0x40001000) bytes will create and work normally.

[2022-04-13 06:49] #2729 closed, assigned to nobody

[2022-04-13 06:49] #2730 closed, assigned to nobody

[2022-04-13 06:49] #2725 closed, assigned to pranithk

[2022-04-13 07:56] pemensik commented on #2778
It is waiting for review of any maintainers. What I reported is still true.

[2022-04-13 13:21] Nayana-ibm commented on #3347
created Pull request: https://github.com/gluster/glusterfs/pull/3434

[2022-04-13 14:41] martialblog commented on #876
Ok, if anyone runs into this in the future, here's was we did to recover:

The defective volume seemed beyond repair, couldn't get it to work. The others seemed fine

We were able to move the data (oVirt Disks) to a working volume, took some oVirt Volume UID tracking and mapping. Basically you can add a new disk and then override it with the existing disk on the defective volume. Which is probably

[2022-04-14 07:47] smremde commented on #3309
@tshacked

This seems to have fixed these files. We had around 57k files. Some were unrecoverable, We think this due to a previous attempt to fix some of them.

My concern is another rebalance, will cause more issues.

I'm happy to increase the log level and start another rebalance - my only concern is the logs will grow too quickly but we can monitor this.

Or do you have any more insight in to t

[2022-04-14 10:19] jkroonza opened #3436 "duplicate entries in directory listing due to linkfiles (suspected)"
**Description of problem:**

I guess an example is the best:

[code]
So both find, and the glob process sees the file twice (yea, I specifically didn't just stat on the file filename here, doing that just gives one file, wanted to show that the glob has the same issue).

Looking at the files on the bricks (using just the first entry above):

[code]
[code]

So the way I interpret this:

bagheera:ma

[2022-04-14 11:41] jkroonza opened #3437 "wishlist: ability to set client specific options"
This needs some clarification, specifically I want to be able to switch these on for a specific fuse mount ONLY, so on the usual mountpoints, I want these to be off, then for a separate mount specifically I want these on:

[code]

This is to enable a more targeted heal strategy for using a FUSE mount to target healing of specific files/folders (triggering a heal with stat), however, for things lik

[2022-04-14 11:45] mohit84 commented on #3397
I am trying one other option, i will update as i will have data.

[2022-04-14 11:51] jkroonza commented on #3356
We noticed the following:

At times one of the brick processes on uriel would spin out and consume all available CPU (24 cores).
It crashed at a point and all latency issues was suddenly resolved.
We proceeded to rename the brick folder prior to rm -rf.
This repeatedly resulted in the other brick processes on the same filesystem to crash.
We decided to offline all the bricks here, and reformat the

[2022-04-14 12:04] mohit84 commented on #3437
you can pass multiple options like below
/usr/sbin/glusterfs --xlator-option="*replicate*.metadata-self-heal=on" --xlator-option="*replicate*.data-self-heal=on" --xlator-option="*replicate*.entry-self-heal=on" --process-name fuse --volfile-server=<host_name> --volfile-id=/test /mnt/test

[2022-04-14 13:47] jkroonza commented on #3437
Looking at /sbin/mount.glusterfs it doesn't look like there is a sensible way to do that from /etc/fstab.  Which may be useful.

PR en route.

[2022-04-14 13:54] mohit84 commented on #3437
Yes it should work , i did not try it.

[2022-04-14 13:54] aravindavk commented on #3437
Same options you can pass to mount command as well or /etc/fstab

[code]

[2022-04-14 14:08] jkroonza commented on #3437
That doesn't actually work since xlator_option variable gets overridden by later -o options.

#3439 sorts this out.

[2022-04-15 06:45] jkroonza commented on #3437
--xlator-option for fuse itself doesn't actually work it seems.

Upon running:

[code]

[2022-04-15 07:47] aravindavk commented on #3437
The option names used in CLI are different from the names used to identify in Volfile. For example, `cluster.metadata-self-heal=on` is the option used in CLI. To use that as xlator option use that as `*-replicate-*.metadata-self-heal=on`.

[code]

[code]

## How to find the option name in Volfile?

Option name used in CLI is `diagnostics.client-log-level=INFO`. Set this option once and see where i

[2022-04-15 07:55] jkroonza commented on #3437
Thank you!  That is useful information.

I reckon this can be closed, and the bug in /sbin/mount.glusterfs can be dealt with in #3439

[2022-04-15 07:55] #3437 closed, assigned to nobody

[2022-04-17 09:26] #1273 closed

[2022-04-17 09:26] #2601 closed, assigned to nobody

[2022-04-17 09:26] #2736 closed, assigned to nobody

[2022-04-17 12:27] tshacked commented on #3309
Many files were not rebalanced to the correct subvol or at all due to "lower disk space".
Please check disk-usage per subvol using this cmd, expanding the volume may be needed before running rebalance:
$ gluster volume status  `vol-name` detail

[2022-04-17 18:29] olegkrutov commented on #3429
May I provide some additional info to help solve this problem? I've built qemu (for debian bullseye) or I can provide qemu patch, it is quite trivial.

[2022-04-18 05:39] #2152 closed, assigned to nobody

[2022-04-20 03:06] chen1195585098 opened #3443 "gluster volume status timeout caused by one of server nodes suddenly dropped"
**Description of problem:**
During the normal running of glusterfs with 3 nodes, suddenly change the ip addr of one server node. Meanwhile, send `gluster volume status <VOLNAME>` in one of other two nodes, which then returns:
Error : Request timed out
Send this cmd again, it returns: Another transaction is in progress for tgv_test. Please try again after some time.
Moreover, the status of the drop

[2022-04-20 07:30] WKu5 opened #3444 "How to make mount gnfs by ipv6"
hello, recently  I meet the problems when gnfs mount by ipv6 , only successful  by ipv4
gluster version: 3.12

Parameter setting：
nfs.disable : off
nfs.register-with-portmap: on

Error message fo mount:
mount.nfs: prog 100003, trying vers=3, prot=6
mount.nfs: portmap query retrying: RPC: Program not registered
mount.nfs: prog 100003, trying vers=3, prot=17
mount.nfs: portmap query failed: RPC: Pro

[2022-04-20 07:40] smremde commented on #3309
All bricks have atleast 150gb with the majority have 300gb-2tb free

[2022-04-20 08:30] Skipper0707 opened #3445 "glusterd memory usage increases due time"
**Description of problem:**

Good day;
I have a 5 node GlusterFS Cluster ( Version 9.2, Debian 11 ), problem is that the cluster memory usage increases due time, for instance, after 2 weeks of uptime the memory usage increased from 800MB to 8GB.

After troubleshooting and searching on the web, I was able to detect that the memory leak happens in the `glusterd` process, although, I am not certain (

[2022-04-20 10:18] Skipper0707 commented on #3206
Hello, @kzakhark, and good day to you,

I'm facing a similar issue as it's mentioned in #3445 except mine is with the `glusterd` process, did you find a solution for this problem? Can you point me in the right direction? Any advice in general?

Thanks in advance.

[2022-04-20 10:21] mohit84 commented on #3445
It seems statedump is not captured at the time while a process(glusterd) is consuming high memory.
As we can see uordblks(Total allocated space (bytes)) value is not high, please capture the statedump
while glusterd is consuming high memory. Are you running any specific cli commands/operation so that
you are observing high memory leak by glusterd.

[mallinfo]
mallinfo_arena=6201344
mallinfo_ordblk

[2022-04-20 10:29] Skipper0707 commented on #3445
Hello, @mohit84, and thanks for your response,

No I'm not running any specific command, and true the value is not high (yet), the problem is that it increases little by little as the time passes, there is a 24hrs interval between these statedumps, and since you referred to `mallinfo_uordblks`, to me the increase in the value is visible ( although I might be wrong ), however, I can still wait a fe

[2022-04-20 10:30] Skipper0707 commented on #3445
Also I found your script to detect memory leaks but couldn't get it to work https://github.com/gluster/glusterfs/issues/1444#issuecomment-674909098, any advice on how to use this useful script?

[2022-04-20 10:31] mohit84 commented on #3445
Yes we can wait for data, please share the glusterd.log and cmd_history logs also from all the nodes while you will share statedump.

[2022-04-20 10:34] Skipper0707 commented on #3445
Underestood, will do, thank you for your patience and guidance, next time I'll post a comment here I'll be uploading:

1- Statedumps while `glusterd` is consuming high memory.

2- `glusterd.log` logs from all the nodes.

3- `cmd_history` logs from all the nodes.

[2022-04-20 10:41] mohit84 commented on #3445
It was a command to see  in memory consumption of objects for a process.
[code]

[2022-04-20 10:44] Skipper0707 commented on #3445
Thank you so much, lots of love your way.

I look forward to uploading the requested files and receiving more guidance from you.

[2022-04-20 10:49] kzakhark commented on #3206
Hi @Skipper0707 !

Unfortunately, no real solution. Mounting the FS with a low lru-limit resolves the issue with the client in our case. We don't have any problems with glusterd though.

[2022-04-20 10:52] Skipper0707 commented on #3206
Thank you so much for your answer, that may actually come in handy in the future, or maybe my issue is the same and I've failed to detect the issue correctly.

In any case, lots of love your way, and thank you for responding.

[2022-04-20 15:49] mohit84 commented on #3397
@Rafi

To measure about lock contention in iothread xlator I have used below function and
call mutex_try in do_iot_schedule(producer) and iot_worker(consumer) instead of calling
pthread_mutex_lock and print the variables during statedump generation.

void mutex_try(iot_conf_t *conf)
{
    if (!pthread_mutex_trylock(&conf->mutex)) {
        conf->lockcnt++;
    } else {
       pthread_mutex_lock(&c

[2022-04-21 07:59] #3306 closed, assigned to nobody

[2022-04-21 10:23] rafikc30 commented on #3397
@mohit84 Yes, I can try to validate the patch that you created. Please provide me the link to the patch and I will test it on our test system.

[2022-04-21 13:34] mohit84 commented on #3397
This is the patch, Can you please try this. I have generated perf data , the patch is not showing any regression and lock_contention is also in acceptable range (~5%).
https://github.com/mohit84/glusterfs/commit/4cef2e947c29f1f31d1ca773d87ea54a400ebdda

[2022-04-21 13:36] enddeadroyal opened #3450 "[help!!!]how can I rebalance existing data brick"
**Description of problem:**
how can I rebalance existing data brick
I want join a existing data brick to an empty glusterfs volume

for ex:
I have a existing data brick at host2（before join to Gluster, there is existing data on the disk(brick))
/mnt/storage/pdffiles

1. I create volume
such as
sudo gluster volume create pdfvolume host1:/mnt/storage/
sudo gluster volume start pdfvolume
sudo gluster

[2022-04-22 05:11] mohit84 commented on #3397
This is the latest numbers generated after applied the patch (https://github.com/mohit84/glusterfs/commit/4cef2e947c29f1f31d1ca773d87ea54a400ebdda), As we can see the contention count is significantly decreased.

| FOPS  | Contention count | Lock count | percent |
| ------------- | --------------------------- | ------------- |-------------------------|
| Create  |  14659   |   460951  | 3.08
|ls-l

[2022-04-23 15:11] edrock200 opened #3458 "Rebalance started/not started?"
**Description of problem:**
Gluster says rebalance is started, stopping says its not started

**The exact command to reproduce the issue**:
root@san7 ~ # gluster volume rebalance media stop
volume rebalance: media: failed: Rebalance not started for volume media.
root@san7 ~ # gluster volume rebalance media start
volume rebalance: media: failed: Rebalance on media is already started

**The full out

[2022-04-23 16:16] edrock200 commented on #3458
I think I got it. Prob not the best way but did a ps aux|grep rebal and found 3 nodes had a rebalance thread running for over 80h, they appeared stuck. killed those processes and everything worked again and rebalance stops/starts properly.

[2022-04-23 16:16] #3458 closed, assigned to nobody

[2022-04-24 05:52] #3382 closed, assigned to nobody

[2022-04-24 05:52] #3359 closed, assigned to nobody

[2022-04-24 05:53] #3304 closed, assigned to nobody

[2022-04-24 11:19] olegkrutov commented on #3450
If I get things right, to get gluster translator stack know about any files, these files must have some extended attributes set (you can see these attrs on files that got on a volume standard way by command `getfattr -m - -d <\brick_mntpoint\path_to_file>`). So, maybe there is some script to "import" data that exists on bricks onto gluster volume. But I don' know what to do in case, say, two or mo

[2022-04-24 12:16] clint70 opened #3465 "Dict get failed [{Key=cluster.server-quorum-ratio}"
**Description of problem:**
Gluster volume heal <volume> info will not clear an entry, using the full option will start the heal process, but the one entry remains, no matter what I have tried.

![image](https://user-images.githubusercontent.com/8769072/164975780-a10aef9d-da9b-4635-beea-3e7d765ae382.png)

**The exact command to reproduce the issue**:

**The full output of the command that failed**

[2022-04-24 12:28] mykaul commented on #3465
I think it's fixed via https://github.com/gluster/glusterfs/pull/3017

[2022-04-24 13:37] clint70 commented on #3465
@mykaul So that is not what is causing the entry (/images) to no sync between bring 10.10.200.10 and 10.10.200.12?  I get the dic key error in the log often.  Also, I can not get the entry to clear (/images)... there are no other obvious errors in the logs?
I still have issues, where I can not move a qcow2 driver from one storage to another - fails.  Either way the issue gluster has is the one ent

[2022-04-25 08:28] mykaul commented on #3465
This is not the cause. I have not looked thoroughly on your logs, though I have seen other errors. Have you looked into using latest 9.x release?

[2022-04-26 10:56] #3155 closed, assigned to nobody

[2022-04-27 02:58] jifengzhou opened #3468 "The io-threads watchdog will cause the glusterfsd to terminate when the brick load is high"
The io-threads watchdog will cause the glusterfsd to terminate when the brick load is high

When io-threads xlator enables performance.iot-watchdog-secs, I continuously write a large amount of data to the files in the mount point through fio, and then do some regular file operations in the background. After a period of time, some brick services will automatically Exit, the brick log prompts "0-dat

[2022-04-27 04:22] mohit84 commented on #3468
What is the watchdog-secs value you configured, the default value is 0.

[2022-04-27 09:22] xhernandez opened #3469 "Improve regression testing"
Running the full set of regression tests takes around 4.5 hours in current CI builders. It would be useful to be able to run them locally and on other OS's, but it's very complicated because they require a lot of tools and privileges, besides the long running time. They also require a VM or a container to avoid dangerous changes to the system, but it's not straightforward to prepare them.

The mai

[2022-04-27 09:28] xhernandez opened #3470 "Spurious crash when "peer probing" a non existing host name"
**Description of problem:**

When a "peer probe" command is executed with a bogus name (i.e. it won't be resolved by local /etc/hosts, DNS or any other name service), gluster may crash.

**The exact command to reproduce the issue**:

Just run `gluster peer probe non-existent-name`. However this has been detected as part of the work related to #3469 because one existing test was consistently failin

[2022-04-27 10:14] mykaul commented on #3469
I tried in the past to simplify deloying everything locally on VMs - see https://github.com/mykaul/vg - using Ansible and Vagrant to set up multiple smallest VMs to run Gluster inside.

[2022-04-27 12:45] lakbaddam opened #3480 "Failed to start GlusterFS, a clustered file-system server."
**Description of problem:**
We have existing 3 node glusterFS setup, this is for new node to be added to the Gluster. When trying to start glusterd service on 4 node
-- Subject: Unit succeeded
-- Defined-By: systemd
-- Support: https://support.oracle.com
--
-- The unit user-runtime-dir@1001.service has successfully entered the 'dead' state.
Apr 27 07:43:12 usflorltwsp04v systemd[1]: Stopped User r

[2022-04-27 12:47] lakbaddam commented on #3480
Please let me know if you need any further information.

[2022-04-27 12:57] jifengzhou commented on #3468
@mohit84 The above result is what I get when I configure watchdog-secs to 20

[2022-04-27 13:01] mykaul commented on #3480
This is a very ancient release (and I'm not sure - is this an upstream release - not sure what the Oracle stuff mentioned there is) - please use latest 9.x or 10.x releases.

[2022-04-28 05:09] #3470 closed, assigned to nobody

[2022-04-28 06:01] #3366 closed, assigned to nobody

[2022-04-28 06:36] #3388 closed, assigned to harshita-shree

[2022-04-28 07:11] jkroonza commented on #3389
We've recreated the volume from scratch, and after exploring the alternatives we've found the following:

glfs_fuseproc sits at 100% unless either performance.client-io-threads or config.global-threading is enabled (which we did by way of xlator-option=mail.global-threading=on in /etc/fstab.

This brought down glfs_fuseproc down to ~5-10% ~99% of the time (we do still have spats where the /sys/fs/

[2022-04-28 07:22] jkroonza commented on #3379
@mohit84

We are still seeing sporadic glfs_fuseproc reaching 100% CPU for rather long periods of time, we already have global-threading with thread count of 2 on the fuse clients (which brought down the CPU usage for glfs_fuseproc tremendously).  As such we are now in a situation where we either need to track down a bug as to WHY glfs_fuseproc goes to 100% CPU (and recovers once the load is remov

[2022-04-28 07:24] jkroonza commented on #3356
We're writing this off as poor performance with the distribute AFR when using lots, and lots of renames.  Specifically, using maildir which relies on rename().  As we move more and more data to a pure replicate glusterfs pair performance overall is definitely improving.

Fortunately for this specific use-case distribute is not required.

[2022-04-28 07:24] #3356 closed, assigned to nobody

[2022-04-28 07:59] jkroonza opened #3483 "Feature request: vary thread name prefixes based on --process-name"
currently when using top -H (to view thread usage) it's difficult to distinguish between threads for bricks/shd/fuse.

Using a prefix based on the purpose of the process would greatly help here, it should be kept short though, so glfs_ is currently used throughout, may I suggest:

fuse: glfs_ (keep that current one, GLuser FuSe)
brick:  glbr_ (GLuster BRick) - would be nice to somehow find a way t

[2022-04-28 11:11] lakbaddam commented on #3480
we have an existing gluster setup with 3 nodes, we are trying to add new node to this, and all the existing 3 nodes and new node are having the same version 6.10.

[root@usflorltwsp01v ~]# gluster volume info

Volume Name: distributed_volume
Type: Replicate
Volume ID: 815c6f44-8ab2-4127-80ea-2d90f63881e7
Status: Started
Snapshot Count: 0
Number of Bricks: 1 x 3 = 3
Transport-type: tcp
Bricks:
Bric

[2022-04-28 11:17] mohit84 commented on #3480
You are not able to start a glusterd because glusterd.volfile is corrupted, kindly check the glusterd.volfile on the other nodes and correct it.
As we can see glusterd is throwing below messages while systemd is trying to start a glusterd.

/usr/lib64/glusterfs/6.0/xlator/mgmt/glusterd.so: cannot open shared object file: No such file or directory[2022-04-27 11:48:44.841628] E [MSGID: 101002] [grap

[2022-04-28 11:51] rafikc30 commented on #3397
@mohit84
I tested your changes and it looks like there is a slight improvement. It took some time to reach into the stress time. But we still have the lock contention (lock contention has improved). I have attached the flame graph with your changes and without your changes. Please refer
![MohithChanges](https://user-images.githubusercontent.com/3429960/165744505-a5ca2e9a-3d1f-4040-91ac-759eb31342c

[2022-04-28 12:32] mohit84 commented on #3397
Can you please share what is test case you executed?

[2022-04-28 16:26] lakbaddam commented on #3480
glusterd.vol file under /etc/glusterfs.......but I dont have any files under working DIR /var/lib/glusterd

[root@usflorltwsp04v glusterfs]# more glusterd.vol
volume management
    type mgmt/glusterd
    option working-directory /var/lib/glusterd
    option transport-type socket,rdma
    option transport.socket.keepalive-time 10
    option transport.socket.keepalive-interval 2
    option transport

[2022-04-28 17:33] digitalentity commented on #513
Why this is closed? I think this is a very needed feature.

[2022-04-28 19:34] mykaul commented on #513
The bot closes it automatically, if there's no activity (= no one is working on it).

[2022-04-29 02:27] #2164 closed, assigned to nobody

[2022-04-29 12:23] mohit84 commented on #3480
you can restart glusterd.service after change loglevel to DEBUG in glusterd.service unit file  and then you can find out easily in the logs the location where glusterd is loading volume file.

[2022-04-29 14:17] rafikc30 commented on #3397
We are using minio + gluster as an s3 target and uploading lot of small files with size 256KiB. For the testing purpose, I'm just using a 1*1 volume with single client. The upload happens via a backup software called Veeam.

I would be happy to share out setup with you if you want to take a look.

[2022-04-29 15:46] mohit84 commented on #3397
If I am correct we can't make it contention free but we have to measure contention it should be in acceptable
range. Would it be possible for you apply the below patch on top of patch(https://github.com/gluster/glusterfs/pull/3453)
and run a test case. After finish the test case you just need to send a SIGUSR1 signal to the brick process if the contented
counter is around 5% of the total_counte(lo

[2022-04-29 19:25] xhernandez opened #3490 "Test bugs/glusterd/validating-server-quorum.t fails"
**Description of problem:**

Running test bugs/glusterd/validating-server-quorum.t in a powerful machine fails spuriously.

**The exact command to reproduce the issue**:

`# prove -vmfe /bin/bash tests/bugs/glusterd/validating-server-quorum.t`

**The full output of the command that failed**:

[code]

**Expected results:**

Tests 25, 28 and 50 shouldn't fail.

**Additional info:**

In the log of th

[2022-05-02 08:02] rafikc30 commented on #3397
@mohit84  Sure, I will get you the count

[2022-05-02 13:52] tshacked opened #3494 "build: "./configure --with-previous-options" is not working with multi-word option"
1) run configure with multi-word option (tried with double/single-quotation/using env/with escaping)
[code]
2) rerun with the prev options (it is the usage during `make glusterrpms`)
[code]
The previous options reside at `config.status` w/o the double-quotation which causes the above error.
[code]
3)  using escaping is not handled correctly by configure on the 1st run
[code]
Adapting configure.ac

[2022-05-02 20:31] FalkNisius commented on #3234
Please attach the documentation at https://docs.gluster.org/en/latest/Administrator-Guide/SSL/.
The documentation works until version 9.
At Version 10.1 on Ubuntu 20.04LTS, without any changed configuration, installed from ppa the default path is /usr/lib/ssl.

Yes with reading of the the glusterd.log, it is possible to find it out. But it waists time.

Thanks

[2022-05-03 13:55] FSangouard opened #3496 "Cannot heal split-brain with latest-mtime"
**Description of problem:**
When testing split-brain resolution options, I found that I was unable to use `latest-mtime` as the option for healing although the file has different mtimes on different nodes.

**The exact command to reproduce the issue:**
`gluster volume heal volume1 split-brain latest-mtime /survet/files/test/file4`

**The full output of the command that failed:**
`Healing /survet/f

[2022-05-04 04:39] pranithk commented on #3496
@FSangouard Could you post glustershd.log on these nodes to find why heal is not happening? These files are not in absolute split-brain. 1st file should be taken as source, but it is not happening. Want to check logs to see if I can find something.

[2022-05-04 04:54] pranithk commented on #3496
@FSangouard Could you also post md5sum of the files in question?

[2022-05-04 07:02] jkroonza commented on #1741
I would like to revisit this, in line with other issues we're seeing we're also noticing these log entries.  The effect of the lru-limit and invalidate-limit isn't clear, even looking at the commits and reading the descriptions of the documentation that I can find.

From what I can gather, we will request the kernel to invalidate, assuming the fuse client has lru-limit > 0 (it's 0 by default), and

[2022-05-04 07:05] jkroonza opened #3498 "performance implications of lru-limit and invalidate-limit"
Please refer #1741 where I also placed this comment, but it doesn't re-open the issue.

I would like to revisit this, in line with other issues we're seeing we're also noticing these log entries.  The effect of the lru-limit and invalidate-limit isn't clear, even looking at the commits and reading the descriptions of the documentation that I can find.

From what I can gather, we will request the k

[2022-05-04 07:07] jkroonza commented on #3498
Oh, for the moment things seems to be holding up, we're just looking for some level of assurance that we're not doing something completely stupid.

[2022-05-04 07:50] FSangouard commented on #3496
[glustershd.log.zip](https://github.com/gluster/glusterfs/files/8618547/glustershd.log.zip)

I have attached the glustershd log files from all 3 nodes.

After opening the issue, I have resolved the split-brain by specifying host 1 as the source brick via the `source-brick` option (just to see if it would work), but I can reproduce the problem if needed.

Here are the md5sum of the file when it was

[2022-05-04 08:56] xhernandez commented on #3469
My main priority was not to create a VM, just containers because they are more lightweight. However, since we are creating loop devices and LVM devices from the tests, which communicate directly with the kernel, it's better that the kernel version and the container binaries match to avoid issues. That's the only reason I've created a VM with the same OS and version as the containers. In fact the V

[2022-05-04 09:00] #3347 closed, assigned to nobody

[2022-05-04 09:11] xhernandez commented on #3465
@clint70 can you post the output of these commands ?

On 10.10.200.10:

    # stat /mnt/vol_store/images
    # getfattr -m. -e hex -d -h /mnt/vol_store/images

On 10.10.200.11:

    # stat /mnt/vol_store/images
    # getfattr -m. -e hex -d -h /mnt/vol_store/images/mnt/vol_store 49152 0 Y 3555

On 10.10.200.12:

    # stat /arbiter/images
    # getfattr -m. -e hex -d -h /arbiter/images

[2022-05-04 10:11] harshita-shree commented on #3450
Hi @enddeadroyal
If I get things right, you are trying to add a brick with existing files to a new gluster volume and performing rebalance. It is usually not recommended to rebalance data from newly added brick to already running brick. You will be able to add the brick to the volume successfully. However, as per the working of the rebalance  process, it never considers crawling on newly added bri

[2022-05-04 10:13] harshita-shree commented on #3450
Can you share the glusterd.log

[2022-05-04 10:14] PierrePDP opened #3499 "I/O Error - With half size on mount"
**Description of problem:**
I am currently trying to mount my volume to a third server on my network. The gluster volume is setup on the first two servers. However when I mount the volume to the third server it shows only half of the space (44TB instead of 88TB) of available space on the volume.

Once it has been mounted (showing half storage) I am getting an input/output error when trying to crea

[2022-05-04 10:18] #3499 closed, assigned to nobody

[2022-05-06 06:14] dalwise commented on #3072
Hi @xhernandez, just a quick ping in case you have any further suggestions on how to get the heal to proceed, as it seems blocked at this point.

hostname20 continues to have much fewer inodes used:

[code]

Whereas hostname21 & hostname22 continue in sync at a much higher number:

[code]

[code]

I tried another full heal, but it showed the same type of errors as in my last message and did not ch

[2022-05-06 06:55] jkroonza commented on #3389
So above was incorrect, that didn't actually enable global threading for the client ... --global-threading is a CLI option for the clients.  So after correctly enabling it (we suspect a simple remount just made the issue go away and then it would go back to 100% when lru-limit started to kick in, so running with lru-limit=524288 and invalidate-limit=64 seems to hold in terms of CPU usage, and we'v

[2022-05-06 06:57] jkroonza commented on #3379
This might actually relate to #3389

[2022-05-06 07:01] pranithk commented on #3379
What is the version of glusterfs?

[2022-05-06 07:04] hunter86bg opened #3503 "virt group of settings are missing the storage.owner-uid"
**Description of problem:**
In previous versions of Gluster the virt group contained these 2 settings:
[code]
Now they are missing.

**The exact command to reproduce the issue**:
gluster volume get all storage.owner-uid
gluster volume get all storage.owner-gid

**Expected results:**
The value of the storage.owner-uid/gid to be 36 as before

[2022-05-06 08:08] jkroonza commented on #3379
10.1, compiled with:

[code]

The eventual compile summary:

[code]

[2022-05-06 08:18] pranithk commented on #3379
I have never used global threads. Is it possible for you to test this on a stage environment? If yes, I would like you to try a few suggestions. Let me know. In general instead of global threads, we use `io-threads` on server side and on fuse, it is recommended to use: `# mount -t glusterfs -o reader-thread-count=<n> <server>:<volname> <mntpoint>`

[2022-05-06 09:20] pranithk commented on #3496
I didn't realize you disabled quorum on replica-3, I was surprised it was not healing automatically(if quorum was there, it would have picked the first one based on the xattrs).

If you are doing these tests on a stage setup, could you try disabling `features.ctime` and check if this are working as expected. Here is the documentation of the option in the code. It could be coming in the way of late

[2022-05-06 10:06] xhernandez commented on #3503
@hunter86bg I've checked version 8 and 9 of GlusterFS and I haven't found those settings in `extras/group-virt.example`. What group are you talking about ?

[2022-05-06 10:09] jkroonza commented on #3379
Yes, we do (currently) have a "stage" environment.  It was earmarked for running migrations from the filesystem 3x2 replicate-distribute to a pure 1x2 replicate-distribute (the replicate causes problems for maildir at the rate rename() are going, and if you search you'll notice I logged a few bugs around possible badness resulting from this.  I'll create a separate mount for this though.

Out of h

[2022-05-06 10:28] xhernandez commented on #3072
Hi @dalwise. I completely missed your previous update. I'm sorry.

Can you run this script on hostnam20 ?

[code]

To run it, just pass the root directory of the brick. It will check if all directories are correctly defined. The assertion could be caused by a directory without its corresponding gfid.

[2022-05-06 10:36] pranithk commented on #3379
Yes, we also had issues with client side iot, so we disabled it.

Yeah, we never got a chance to find why it performs worse on certain workloads, that is why we are not completely moved to that.

fuse-reader-threads>1 also works well as per my knowledge, on our prod it ran with reader-thread count 10 for 2-3 years. I found one race, that I fixed as well(#1539). Now we don't need it because we are

[2022-05-06 10:56] hunter86bg commented on #3503
Interesting ... Is it possible that oVirt is customizing it ?

[2022-05-06 11:28] xhernandez commented on #3503
It could be, but in this case it should still work fine. AFAIK those options have not been removed.

[2022-05-06 11:31] hunter86bg commented on #3503
Some components in gluster are running as root and this causes permission denied.
I will wait till someone from oVirt Dev clarifies where those are usually comming from before cosing this one.

[2022-05-06 11:33] FSangouard commented on #3496
If I understand correctly, the ctime, mtime and atime are stored in the `trusted.glusterfs.mdata` xattr, like this:
`0x01000000000000000000000000<ctime>6270f4d2</ctime>0000000006a95bdb00000000<mtime>6270f406</mtime>000000000dc0f30200000000<atime>626fed52</atime>0000000016da2746`
So that's why the command reported `No difference in mtime`, since all 3 replicas had the same mtime in this xattr.

I t

[2022-05-06 12:30] pranithk commented on #3496
Need to read code, I don't know enough about this code to answer. Expect delay in response.

[2022-05-08 15:52] mykaul commented on #3358
If you rely on checking only errno (and not ret code first), then indeed you should do it. Where I've looked, we check ret value first.

[2022-05-09 02:49] jwbrase commented on #1301
The "missing binary operator" error above is due to trying to define a macro using "sizeof", which the compiler understands, but the preprocessor doesn't (so you can't use sizeof in a macro). The line before checks if __BITS_PER_LONG is defined, so if __BITS_PER_LONG is already defined, it compiles, otherwise it fails. If I replace the "sizeof(long)" with "4" (not a general solution, as sizeof(lon

[2022-05-09 11:08] chen1195585098 opened #3507 "thin-arbiter-volume.t execute failed"
**Description of problem:**
executing thin-arbiter-volume.t script failed.

**The exact command to reproduce the issue**:
set hostname as ipv4 address
run `prove -vmfe '/bin/bash' /usr/share/glusterfs/tests/basic/glusterd/thin-arbiter-volume.t`

**The full output of the command that failed**:
<details>
Test Summary Report <br />
------------------- <br />
tests/basic/glusterd/thin-arbiter-volume.t

[2022-05-09 11:48] chen1195585098 commented on #3507
When create thin-arbiter volume,ta_brick is not set to empty after malloc,
the content of initial ta_brick may like:
 (gdb) p *ta_brick
 = 0xef34d8 "\330\324a\001"

When glusterd getting it from dict, it is:
 (gdb) p ta_bricks
 = 0x1927878 "\330\324a\001 192.168.122.215:/d/backends/b8 "

Then, it is parsed by
ta_brick_list = gf_strdup(ta_bricks);
ta_brick = strtok_r(ta_brick_list + 1, " \n", &ta_s

[2022-05-09 14:16] Skipper0707 commented on #3445
Good day to you @mohit84;

I've gathered the requested files and state dumps from all the nodes in my Gluster Volume.
As you can remember when I created this issue I stated that there are no error log messages in the log files, and they were not, but about 48 hours after our last correspondence `error` messages started to appear in the `glusterd.log` log files, I didn't attempt to trace nor troubl

[2022-05-09 21:39] dalwise commented on #3072
Thanks for the feedback @xhernandez!

The script did find many issues needing correction. I stored the output on `check_gluster_dirs.log`, which has 345235 lines:

[code]

They fall into the following categories:

[code]

Is there any automated way to fix these?

Best regards,
Daniel

[2022-05-10 07:17] mykaul opened #3510 "Use 'packit' to push to Fedora rawhide"
See https://github.com/marketplace/packit-as-a-service for more details.

[2022-05-10 07:54] xhernandez commented on #3072
I wasn't expecting so many errors. Can you run the script on another brick that should be ok to be sure that there isn't any bug in the script ?

You can also select some of the errors and manually verify that they are correct. If data is fine, then this is what you should do:

First of all you should disable self-heal to prevent unexpected interferences while you are touching backend contents, sp

[2022-05-10 10:32] mohit84 commented on #3445
Hi,

 Thanks for sharing the dump, It seems glusterd has a dict leak that's why you are facing high memory consumption.
 We need to debug it. For the time being i can suggest you can use some script to measure memory consumption for glusterd.
 Once it consumes high amount the script can restart a glusterd.
 The glusterd is a management daemon so you would not face any issue on the client side.

po

[2022-05-10 13:04] Skipper0707 commented on #3445
Hello again;

I appreciate you taking such a considerate approach to my issue and the data I've sent. Also thank you so much for suggesting that workaround which actually is helpful and enlightening. I am looking forward to seeing the debugging results.

Lots of love your way.
Regards,
Sina

[2022-05-11 08:42] chen1195585098 opened #3513 "force-migration.t execute failed"
**Description of problem:**
run `prove -vmfe '/bin/bash' tests/basic/distribute/force-migration.t` failed.

**The exact command to reproduce the issue**:
- cd to glusterfs/ dir
- run `prove -vmfe '/bin/bash' tests/basic/distribute/force-migration.t`

**The full output of the command that failed**:
<details> <br />
ok  15 [     16/     81] <  30> 'completed rebalance_status_field patchy' <br />
not

[2022-05-11 12:38] rchikatw commented on #3503
What is the use case here, Usually these options are for volumes this gets applied if you deploy ovirt from the cockpit or CLI even if they are excluded from extras/group-virt.example.

Note: If you create a new volume from ovirt-admin-UI you need to set option from UI/CLI

[2022-05-11 13:07] hunter86bg commented on #3503
When you go to 'Storage' -> 'Volumes' -> select volume -> press the 3 dots -> 'Optimize for Virt store' it applies the virt group

[2022-05-12 06:17] Shwetha-Acharya opened #3517 "(glusterfs-10.2)- GlusterFS 10.2 tracker"
Description of problem:
Tracker for the release 10.2

[2022-05-12 07:07] dalwise commented on #3072
Hi @xhernandez ,

I have been running the script on hostname21 & hostname22 to evaluate the extent of the problem. Running on hostname21 took over a day and yielded:

[code]

The run on hostname22 is still ongoing and has 26354180 lines so far. I'll report back when it completes, but it does look like there are considerable inconsistencies on all bricks.

Best regards

[2022-05-12 09:32] xhernandez commented on #3072
Can you provide some examples of these inconsistencies ? also provide `stat` and `getfattr -m. -e hex -d -h` of them, if possible.

[2022-05-12 19:54] dalwise commented on #3072
Sure!

hostname22 completed running the script you provided and has the same issues found as hostname21.

Here are some samples of directories without GFID in hostname21 & hostname22:

[code]

For the first item in the list above these are the stat and getfattr results on each node:

[code]

[code]

[code]

[2022-05-13 07:11] mohit84 opened #3521 "changelog: A brick process is getting crash due to SIGSEGV in changelog"
A brick process is getting crashed while using glusterfind tool. The glusterfind tool uses changelog xlator and
the xlator has race condition to handle crpc object list so at the time of calling ev_connector thread it is getting
crashed.

Below is the volume configuration
[code]
Below is the stack dump from the glusterfsd core
[code]

[2022-05-13 15:48] xhernandez commented on #3072
@dalwise can you check if `.glusterfs/da/a2/daa23852-c221-4c5f-803b-3e3d5678046e` exists on any brick and run `stat` on it if so ?

The entry on hostname22 indicates pending changes on another brick, is there nothing in `gluster volume heal <volname> info` ?

Can you also check the contents of `.glusterfs/indices/*` (there should be 3 subdirectories) on all bricks ? if there's something, is `daa23

[2022-05-13 18:36] dalwise commented on #3072
It doesn't exist on any of the 3 bricks:

[code]

[code]

[code]

There isn't:

[code]

It's not there:

[code]

[code]

[code]

Thank you very much for all your help.

[2022-05-14 07:37] Skipper0707 commented on #3445
UPDATE: I've turned off the `open-behind` translator and that seems to significantly reduce the increase rate of the RAM usage, for instance, if it took the `glusterd` process to reach 2GB of RAM usage in 48 hours, now it takes 5 days.

I don't if that's helpful at all but, in case it is, I'm more than happy to aid in this debugging procedure.

[2022-05-14 13:54] mohit84 commented on #3445
The option can be reduce the memory usage for glusterfs(client) not for glusterd. The xlator(open-behind) is loaded by a client
process so i think there is no relation with glusterd.

[2022-05-14 13:58] Skipper0707 commented on #3445
Thanks for shedding light on this.

[2022-05-14 14:53] mohit84 commented on #3445
Would it be possible for you run glusterd with valgrind in your environment on any node where you are seeing continuously memory increase for glusterd share the stack trace?

[2022-05-14 17:54] Skipper0707 commented on #3445
Well, unfortunately, we're currently migrating our servers hence can't share that right now, however, I can actually start the `glusterd` service with Valgrind after the migration and I will indeed, share the requested information as soon as the procedure is done.

Thanks for taking an interest in this matter,
Regards.

[2022-05-15 14:28] maddy023 opened #3526 "struct io_uring_probe"
NAME="Ubuntu"
VERSION="20.04.4 LTS (Focal Fossa)"
ID=ubuntu
ID_LIKE=debian
PRETTY_NAME="Ubuntu 20.04.4 LTS"
VERSION_ID="20.04"
HOME_URL="https://www.ubuntu.com/"
SUPPORT_URL="https://help.ubuntu.com/"
BUG_REPORT_URL="https://bugs.launchpad.net/ubuntu/"
PRIVACY_POLICY_URL="https://www.ubuntu.com/legal/terms-and-policies/privacy-policy"
VERSION_CODENAME=focal
UBUNTU_CODENAME=focal

Command:  make

[

[2022-05-15 23:12] rafikc30 opened #3527 "Brick process crashed when global thread pool is enabled"
**Description of problem:**
We have multiple crashes when global thread pool is enabled. We enabled the threadpool on the brick side with 16 threads on the pool. We have also disabled the io-threads.

All the crashes are pointing to a single back trace , that is

#1  0x00007fc8245a9a01 in __GI_abort () at abort.c:79
#2  0x00007fc8245a0a1a in __assert_fail_base (fmt=0x7fc8246f3e38 "%s%s%s:%u: %s%sA

[2022-05-15 23:28] rafikc30 commented on #3527
@xhernandez
I went through the code and I have doubts regarding the function `gf_async_worker_create`, I assume that it should only be run within one thread, primarily when we have used the function `__cds_wfs_pop_blocking`.
But gf_async_sigbroadcast was sent before  gf_async_worker_create, so Isn't it theoretically possible to run the `gf_async_worker_create` from two or more threads, ie one is t

[2022-05-16 07:14] mykaul opened #3528 "dht_setxattr() - remove unused and untested volume file options - "distribute.directory-spread-count" , "glusterfs.dht.nuke", "decommission-brick""
DHT has some options that can be set via special attributes or volume file, but they were implemented (partially?) over 10 years ago, are not documented nor tested (via code coverage check). I think they can be safely removed.

@amarts - thoughts?

[2022-05-16 13:14] dmantipov commented on #3526
Your kernel seems too old and lacks support for `io_uring` probing (see https://lwn.net/Articles/809820), which is mandatory if `io_uring` is used for core I/O framework. Sadly this is not detected by `configure` properly, and you have to specify `--disable-linux-io_uring` manually.

[2022-05-17 01:36] amarts commented on #3528
If required, we can bring it back. I don't remember using them in last 6yrs (ie, not mentioned in bugs, not mentioned in chats). So good to remove IMO.

[2022-05-17 05:35] mohit84 commented on #3528
I think all these 3 xattrs are associated with specific features and dht_setxattr provides an option to enable/disable dynamically.
 I don't think we should remove it.
1) distribute.directory-spread-count is associated with directory-layout-spared.It specifies
   the directory layout spread, There are two ways to configure it. Either configure the
   volume option (directory-layout-spread) or use

[2022-05-17 05:50] mykaul commented on #3528
Thanks. If someone sees value in keeping them, I'm fine with that. Haven't seen them documented, or in code coverage so thought they are somewhat unused.

[2022-05-17 05:50] #3528 closed, assigned to nobody

[2022-05-17 12:05] #3507 closed, assigned to nobody

[2022-05-17 12:20] kalebskeithley opened #3531 "glusterfs-10.1, Glusterfsd segfaults in xlator_dynload"
**Description of problem:**

see https://bugzilla.redhat.com/show_bug.cgi?id=2087112

                Stack trace of thread 1806:
                #0  0x00007feb1bee4985 xlator_dynload (libglusterfs.so.0 + 0x27985)
                #1  0x0000564ca6750653 create_fuse_mount (glusterfsd + 0x10653)
                #2  0x0000564ca6752c79 main (glusterfsd + 0x12c79)
                #3  0x00007feb1b539590

[2022-05-17 12:45] mykaul commented on #3531
Dup of https://github.com/gluster/glusterfs/issues/3417 ?

[2022-05-18 08:50] xhernandez commented on #3072
I'm preparing a tool to do a full check of the bricks, I'll need some more time...

[2022-05-18 12:38] MarcelGeo opened #3533 "Installation guide for rhel 8 - missing current state"
**Description of problem:**
Is still glusterfs available for RHEL8 without redhat-storage-server ? I dont see any current state for gluster in RHEL, only Centos. But Cenots8 is deprecated OS.

Thanks.

**The exact command to reproduce the issue**:

**The full output of the command that failed**:
<details>

**Expected results:**
Installation guide for RHEL.

**Mandatory info:**

[2022-05-18 13:04] MarcelGeo commented on #3533
Or is it possible to run glusterfs only by build from source code ?

[2022-05-18 16:23] dalwise commented on #3072
Thank you again for your help on this!

[2022-05-19 09:49] babipanghang opened #3537 "Arbiter logs flooded with bitrot errors"
**Description of problem:**
Arbiter bricks logs get flooded with messages such as
[code]
Since only metadata is stored on arbiter, it is expected that the arbiter will not be able to calculate checksums, thus there should be no error

**The exact command to reproduce the issue**:
None, happens on arbiter brick with bitrot enabled

**The full output of the command that failed**:
N/A

**Expected res

[2022-05-20 03:35] chen1195585098 commented on #3443
set `option transport.tcp-user-timeout xx` in /path-to-file/glusterd.vol may be helpful.

[2022-05-20 03:35] #3443 closed, assigned to nobody

[2022-05-20 09:06] jengelh opened #3539 "glusterfs: Deprecated path "/var/run/" used in systemd-services"
**Description of problem:**

Forwarded from a public-inaccessible item from the SUSE bugzilla.

[code]

**The exact command to reproduce the issue**:

[code]

**The full output of the command that failed**:

[code]

**Expected results:**

[code]

or perhaps some `@rundir@`.

**- The operating system / glusterfs version**:

openSUSE Tumbleweed 202205XX, gluster 10.2

[2022-05-20 20:49] mykaul opened #3543 "Remove old code related to version 3.x"
All those that retain backward compat. for versions that are long gone, such as:
[code]

Since there's quite a bit, starting with the below:
[code]

And then we'll separately handle the rest.

[2022-05-22 09:53] strzinek opened #3546 "Glusterfs does not heal sparse files correctly and fills up whole new brick on disperse volume after failed brick reset"
**Description of problem:**
Gluster heal process fills up whole free space on replaced brick of disperse volume, if there are sparse files in volume.

**The exact command to reproduce the issue**:
1. create new disperse volume (tested with 4+2), e.g. with `gluster volume create vol1 disperse-data 4 redundancy 2 transport tcp node1:/gluster/nvme1/brick node1:/gluster/nvme2/brick node2:/gluster/nvme

[2022-05-23 07:55] xhernandez commented on #3527
I needed to refresh my memory before fully understanding the issue (this code was wrote long ago). I think you are right. The order in which wake and create are executed is not good because there's a race that could cause that two threads try to create another thread at the same time, and both use a non-thread-safe function.

However this was done this way to reduce the latency of the jobs pending

[2022-05-23 16:15] madmax01 opened #3550 "High Volume Latency when deleting File"
**Description of problem:**

very high Volume Latency when single file delete happens (even if there is no activ load on the volume)

**Additional info:**

oracle 8.6
gluster 10.1
vdo 6.2.6.14
xfs 5.0

**Mandatory info:**
i tested this with discard mounted and without discard.

adding Files,... gluster is fast..
delete Files  its very slow..... and Volume Latency jumps >1k ms    (It feels like   a

[2022-05-23 17:44] madmax01 commented on #3550
Wondering if there is a kinda Async Delete Possible with Gluster,..... as seems NFS when delete waits for ACK until deleted...

[2022-05-24 03:55] pranithk commented on #3550
Async delete at directory level is available. https://bugzilla.redhat.com/show_bug.cgi?id=1326498

[2022-05-24 08:10] madmax01 commented on #3550
is there an Way how to tell gluster to treat deletes async, above not direct seeing how to deal with async ;(.  or an Way to optimize File/Folder Delete on Top?    is just when i add file i can write >500MB/s... But when i delete then 20G File   volume latency jumps to the Air with 1K ms latency or even higher.

any of below may need to be changed?

performance.quick-read: off
performance.read-ahe

[2022-05-24 08:46] pranithk commented on #3550
I have good news and bad news.
Good news: There is an option `background-unlink` as per code.
Bad news: There is no way to set it using volume set.

[2022-05-24 21:05] madmax01 commented on #3550
Thx for the Info. Not really finding much on net about background-unlink.

Is there any Link/Info how can be configured such Way once a Delete comes from upper Layer, Gluster treat it as async and ack back and deleting in background with lower latency

[2022-05-25 03:48] pranithk commented on #3550
Yeah, need to expose as a volume set command option. Will send an MR this weekend.

[2022-05-25 13:15] madmax01 commented on #3550
Hi Pranithk,

thx for the Answer.

so i can understand

1: background-unlink  enabled would do async confirm for delete for any upper layer Conntion.. NFS client etc,....And on Backend the Files/Folders getting deleted faster
2: on Weekend i would be able to pull a fresh source package and to re/compile and upgrade the current 10.1 and re/test

is this about correct?

- may you have an short expla

[2022-05-25 13:16] pranithk commented on #3550
I can send the PR to fix the issue. I don't know when the release with this fix will happen. That is up to release maintainers. You can help test the change though. That would be appreciated.

[2022-05-25 13:24] madmax01 commented on #3550
ah ok,.......sounds nice....

when you provide the PR can you please lead into how i can update the fix? (for new source code i handled it easy just re/compiled and updated with dnf)

normally so far i created rpm's with gnfs from source file

rpmbuild -ta  v10.1.tar.gz --with gnfs

PR would be an Patch code to replace inside the source file and then to re/compile?

sure as fast i would be able to

[2022-05-25 14:22] madmax01 commented on #3550
pranithk, when the Patch is available > appreciated if you can give a Short note inside the Issue Case - so i can check ;)

thx for Time

[2022-05-25 16:18] itisravi commented on #3550
@pranithk Incidentally, I had made a similar change in my company's downstream code a few weeks back.The `background-unlink` logic in the current upstream gluster code is basically useless since all it does is have an fd open before the unlink. It does not make it async. So I made the changes to move it to landfill and let the janitor process it. Let me know if you would like to review my change,

[2022-05-25 17:18] madmax01 commented on #3550
Just as info Itisravi... if i connect with NFS Client (vmware or Linux)  and delete the Data (VM 13gb) then it seems Task only finished until gluster ack back........and this seems takes very long - 8S and volume latency Spikes 1k and sometimes higher. (only deletes)

from all the Tests i done - it feels from "Gluster" View its required to send fast ack back so NFS Client on Vmware or on Linux Sid

[2022-05-26 03:17] itisravi commented on #3550
@madmax01  Are you using NFS ganesha for serving the NFS clients?

If I understand you correctly, what you are saying is when you directly export the XFS partition via NFS, unlink does not take time, but when you make a gluster volume out of the XFS  and perform unlink via NFS client (using NFS ganesha server), it takes time.

In the profile info you shared above, I see the Max-Latency for UNLINK

[2022-05-26 05:44] madmax01 commented on #3550
So far i used gnfs. (issue was there also)

but for the Dual Test i just installed NFS-Ganesha 3.5 and exported the Gluster Volume and exported an VFS.

how looks is

**Test1: VDO > XFS > Gluster  > Ganesha/GNFS**     =     Connect with NFS Client (Equal vmware or linux),. deleting Data. Doesnt Matter if Ganesha or GNFS - both have same.

**Duration** = took roughly 8s
**Volume Latency** = in this

[2022-05-26 08:00] xhernandez commented on #3389
This could be related: #3527

[2022-05-26 08:52] jkroonza commented on #3389
It's obviously possible but I don't think so.

Motivation:

1.  The crashes I have looked at so far are all in inode.c
2.  The crashes are less frequent without threading, but they simply moved to the epoll thread on a less frequent basis.  We currently have 1 fuse reader, and 2 event threads so there are two epoll threads, so it could still be a concurrency issue.
3.  We're not using global threa

[2022-05-26 09:12] jifengzhou opened #3553 "gf_fse_mt_invalidate_node_t type memory leak"
Recently, in a glusterfs cluster with multiple nodes deployed, it was found that the memory of the glusterfs process corresponding to the mount of one node accounted for as high as 300g. By capturing the dump data and analyzing it, it was found that the memory was mainly consumed by the memory objects of type gf_fuse_mt_invalidate_node_t.

Statistics are as follows：
[mount/fuse.fuse - usage-type g

[2022-05-26 16:16] itisravi commented on #3550
@madmax01 You can `wget https://github.com/gluster/glusterfs/pull/3557.patch` to apply and try it out.  Not sure if it will help since you say Test2 is fast, which means XFS unlinks are fast on your setup.

[2022-05-26 16:35] madmax01 commented on #3550
thx itisravi.

i was able to sort the the rpms.  will test asap and update here.

Just 1 Point.. i'am not sure about the default value.... 1024. is this the Value ok?,... or need to be changed.
whats difference 1024/64

thx

[2022-05-27 01:08] pranithk commented on #3550
As per my understanding, opening an fd will delay freeing the blocks of the file until closing of the fd. So unlink should be faster. Did you find this not to be the case?

[2022-05-27 01:43] itisravi commented on #3550
Right, we hard coded `_private->background_unlink` to be 1 but it was still slow. But this is our custom kernel stack, so I think you can still whip out a patch to expose `background-unlink` and let @madmax01 test it. But with  `background-unlink` there will be one open+close for every unlink in the hot path, whereas if we move to landfill, it is just 1 rename. Dunno if one is better than the othe

[2022-05-27 04:59] pranithk commented on #3550
@madmax01 Will it be possible for you to test this variant of the change also to find if there is any performance improvement?

[2022-05-27 08:07] mohit84 opened #3558 "Run brick_mux regression for testing purpose"
Run brick_mux regression

[2022-05-27 08:26] madmax01 commented on #3550
Hi everyone,

interesting, i think it looks better then before...... seems we are close ha ;)

13GB File
unlinkat(AT_FDCWD, "test-flat.vmdk", 0) = 0 <**0.000934**>

also VM delete was done in below then **200ms Time (instead of 8s) = fast**

just strange is > NFS Volume Still jumps to the Air with Write-Latency  **about 1k volume write latency**

i added an extra Test how the Brick itself works wi

[2022-05-27 15:14] madmax01 commented on #3550
Hi everyone,

Just an quick update on that one... as the ioping did looked strange i retested.  So reason iotop just looks good is, XFS fully freezed seems during Discard Request, i recognized too late.

So following pattern i tested (Volume logical usage  700G/4TB.   Deleting 13GB out):

VDO > XFS > Gluster   = Delete took long + high Latency   (700G Data used + 13GB deleted)          10.1+10.2 G

[2022-05-28 04:23] itisravi commented on #3550
@madmax01 No VDO, this was XFS on top of our proprietary volume manager.

[2022-05-30 05:39] pranithk opened #3561 "Expose background-unlink as an option that can be set by gluster volume set"
At the moment `background-unlink` option in `posix` xlator is not exposed to be set using `gluster volume set` command. In some cases this option may give better latency as the data blocks are freed in background because enabling this option leads to opening the file before unlink and closing the after responding to the unlink fop.

[2022-05-30 05:39] pranithk commented on #3561
This change is suggested in https://github.com/gluster/glusterfs/issues/3550

[2022-05-30 07:21] black-dragon74 commented on #3539
Refs:
- https://refspecs.linuxfoundation.org/FHS_3.0/fhs/ch03s15.html (regarding `/run`)
- https://refspecs.linuxfoundation.org/FHS_3.0/fhs/ch05s13.html (regarding deprecation of `/var/run`)

[2022-05-30 07:45] FSangouard commented on #3496
Any update on this subject or an estimation of how much longer it will take to investigate ?

[2022-05-30 11:56] pranithk commented on #3496
Not sure :-(

[2022-05-30 11:57] pranithk commented on #3496
Have other engagements by my employer, so this is taking back seat. Disabling quorum on a 3 way replica is highly discouraged. So it is not considered a priority compared to the other issues.

[2022-05-30 12:06] FSangouard commented on #3496
I understand.

Could you tell me briefly the consequences of disabling features.ctime? It seems to do the trick, but is it acceptable in production?

[2022-05-30 12:14] pranithk commented on #3496
The feature is implemented for applications that require same ctime on all the bricks like tar/untar.

[2022-05-30 12:24] FSangouard commented on #3496
Would NTP synchronization between bricks be a fitting replacement for that?

[2022-05-30 12:26] pranithk commented on #3496
I don't think it was helping, thus this feature. There is always some small difference between bricks even with NTP

[2022-05-30 16:19] zphj1987 commented on #2925
i run gluster 8.6   ,use nfs on glusterfs ,  vdbench test
[code]

and the test will abort,and find the directory no see in nfs,and can see in glusterfs,so ,i think write huge small file will make the nfs directory inode missing,and list the parent  directoy will see  the directory

[2022-05-31 09:28] #3527 closed, assigned to nobody

[2022-06-01 09:03] mathieumd opened #3567 "Adding an arbiter to existing 2x2 volume: "volume add-brick: failed: Operation failed""
**Description of problem:**
On an existing volume, I want to add an arbiter, but it fails, and no message in logs.

**The exact command to reproduce the issue**:
[code]

**The full output of the command that failed**:
[code]

If I try to add two bricks on the arbiter, it fails like this:
[code]

What is the correct way to add an arbiter to an existing two bricks distributed-replicate volume?

<det

[2022-06-01 09:14] olegkrutov commented on #3334
Just tried new gluster 10.2 and issue is still there :( the same 20 seconds delay

[2022-06-02 02:36] zphj1987 opened #3569 "glusterfs with kernel nfs run vdbench abort"
issue:
glusterfs  with kernel nfs can not run vdbench when file about  2000000 ,and the vdbench test will abort

the version:
all (i run  3.12  8.4 8.6 9.5) have the same problem

the os  centos7.9
the kernel (i try 3.10  4.14  5.x) all have the same problem

i think it  easy to reproduce

node1：
node1  use  i 4T disk create a single disk cluster
mount glusterfs on node1
export the mount dir to nf

[2022-06-02 13:50] FSangouard opened #3572 "Configuring a specific bind-address for a volume (different from that of glusterd)"
**Description of problem:**
I would like to use different bind addresses for glusterd and for the brick processes. My use case is that I have machines with 2 network interfaces, one for administration and one for data, and I would like to have the glusterd process listen on the administration interface, while having the bricks listen on the data interface.

I have found the option `transport.socke

[2022-06-03 10:02] mathieumd commented on #3567
It seems it was due to the presence of Brick3 and Brick4. So I removed them both, then added my first arbiter, and finally added back previously removed bricks+their arbiter:

[code]

[2022-06-03 10:02] #3567 closed, assigned to nobody

[2022-06-03 17:29] devryan opened #3578 "9.5 Distributed/Replicated: dict OR key (dht-get-iatt-in-xattr) is NULL [Invalid argument]"
**Description of problem:**

CentOS 7.4.1708 x86_64 (on kvm/openstack)
Latest 9.5 RPM-installed GlusterFS from https://buildlogs.centos.org/centos/7/storage/x86_64/gluster-9/
Clients and Servers all on 9.5; clients mount via FUSE/glusterfs fs type
Distributed-Replicated 3-node cluster; 2 250GB bricks per system.

Client logs are throwing tons of errors like these below.  These happen constantly as

[2022-06-04 02:00] #597 closed

[2022-06-04 02:00] #1637 closed, assigned to nobody

[2022-06-04 02:00] #2798 closed, assigned to itisravi

[2022-06-06 10:53] olegkrutov commented on #3334
@wxiaoguang could you please test 10.2 release -- am I doing something wrong or a problem is still not fixed?

[2022-06-06 14:39] kun-lu20 commented on #2491
Hi @mscherer ,

Could you please update this issue when you've merged the fix and enabled s390x builders? Thank you very much!

[2022-06-06 18:55] kCyborg opened #3580 "Gluster volume downsized its capacity from 838GB to 712GB"
**Description of problem:**
We have a gluster distributed replicated with replica 2. We have used glusterfs 9.4 and 10.1. In both cases on 3 nodes with 2 bricks of 27.4 GB each one. This kind of deployment leave us the half of the total capacity.
279.4G x 2 x 3 = 1676.4 GB / 2 = 838.2 GB

But now after 3 months in production with gluster v10.1, gluster show now only 712 GB. So...where are my real

[2022-06-06 19:09] #3580 closed, assigned to nobody

[2022-06-06 19:12] kCyborg commented on #3580
Sorry, I forgot we have configured quotas before and we reserved this space, to not be used

It was not an issue...it was just quotas :)

[2022-06-07 09:27] madmax01 opened #3583 "Gluster 10.2 Crash"
i flipped back to 10.1,..........10.2 gaved me a crash. May there is an known Issue with it?

Oracle 8.6

**Description of problem:**

pending frames:
frame : type(1) op(WRITE)
frame : type(1) op(WRITE)
frame : type(1) op(FXATTROP)
frame : type(1) op(FXATTROP)
frame : type(1) op(FXATTROP)
patchset: git://git.gluster.org/glusterfs.git
signal received: 11
time of crash:
2022-06-05 13:46:10 +0000
con

[2022-06-07 12:20] pbhatia22 opened #3584 "[dict.c] : dropping unused function"
There are various functions in dict.c use to convert data to particular bit type but we are using only particular type like data_to_int32() or any others.So can we remove that from code assuming that used ones are enough for any case?
[code]

[2022-06-07 13:33] xhernandez commented on #3584
Unless we also remove the support for a given type, I wouldn't remove the conversion functions for that type.

[2022-06-07 13:35] xhernandez commented on #3583
Can you provide the core dump (with the exact OS version and packages used to be able to locate the correct symbols) or at least a back trace ?

[2022-06-07 14:33] madmax01 commented on #3583
i just copied above from log file. can you let me know how to do the core dump or back trace,..... then i can check ;)

[2022-06-08 07:23] xhernandez commented on #3583
The core dump should be a file generated by the system itself at the time of the crash. The file location depends on the OS and configuration. You should check the documentation from your OS to know that.

To generate a back trace you also need to locate the core dump. Without it it's not possible to know what happened.

[2022-06-08 16:25] madmax01 commented on #3583
thx ;)

here is the coredump
https://we.tl/t-YhBg0wDkBg

how to generate back trace i'am not sure.. need to check how works on oracle 8.6

Coredump would help for now at first?

[2022-06-09 03:58] sac commented on #3583
On Wed, Jun 8, 2022 at 9:55 PM madmax01 ***@***.***> wrote:

If you have gdb installed follow the below steps:

# gdb <path-to-glusterfs> <path-to-core-file>
# thread apply all bt

Just copy paste the output.

-Sachidananda.

[2022-06-09 04:03] pbhatia22 commented on #3584
Okay , closing this issue.

[2022-06-09 04:03] #3584 closed, assigned to nobody

[2022-06-09 13:53] mykaul commented on #2863
not sure how to unstale it, but I think it's still an easy one I'd like to tackle.

[2022-06-09 17:52] wxiaoguang commented on #3334
I am not sure when I can get time for this problem .... (if I have time in the future)

[2022-06-09 19:50] Kazz3r24 opened #3593 "XFS corruption resulted in Glusterfs anomaly"
**Description of problem:**

After a power outage from a vicious storm that came through my area 2 weeks ago my server was suffering from XFS corruption, I have since fixed this with xfs_repair; however now I have on particular directory on my Gluster system that appears to be corrupted and showing as an anomaly in the logs. I am unable to remove the directory and its contents without Gluster hang

[2022-06-11 06:10] aravindavk commented on #3593
Try moving that directory from Brick backend to some place. Fix the issue with the dir content and copy back to Gluster Volume from the mount.

[2022-06-11 09:48] Kazz3r24 commented on #3593
Removing the second brick kept failing, even with cluster.force-migration off. I ended up deleting the brick and redoing it. Luckily all of my data was still only on the first brick so it ended up being fairly easy to get back up and running.

Thank you for your response, it is very much appreciated.

[2022-06-11 09:48] #3593 closed, assigned to nobody

[2022-06-13 01:24] mohit84 commented on #2863
IIRC earlier we were getting crash in SSL api.

[2022-06-13 07:12] #3517 closed, assigned to nobody

[2022-06-13 14:16] 4gemenot opened #3595 "fstab mounting not working"
**Description of problem:**
adding below entry on the client /etc/fstab is not working.
    "node1:/fs01 /fs1 glusterfs backup-volfile-servers=node2:node3,defaults,noauto 0 0"

mounting it on the cli it is working.
    "mount -t glusterfs -o backup-volfile-servers=node2:node3 node1:/fs01 /fs1

**The exact command to reproduce the issue**:
mount -a or reboot

**The full output of the command that f

[2022-06-13 16:08] mykaul commented on #2863
I thought we've fixed it by moving to tcmalloc minimal?
- It can't hurt to remove those iobuf sizes that are <= 128K, since I assume they are not utilized
- I'd like to see if we can remove the standard allocation arena - and just call the regular allocation
- I personally think the only useful arena is 136K - 128K + 4K + some...  This is going later.
I'll try to split to multiple patches and see

[2022-06-14 05:19] sac commented on #3595
Your options in fstab says ```noauto``` which means do not mount when ```mount -a``` is given. Also if noauto is specified the filesystem will not be mounted during boot time.

Remove the ```noauto``` option from fstab.

Note: It has no effect if you run the mount command manually.

[2022-06-14 07:34] 4gemenot commented on #3595
It works :-)

Thank you, SAC.

[2022-06-14 10:39] #3595 closed, assigned to nobody

[2022-06-14 13:28] urbaman commented on #3156
Hi,

Having the same issue on Ubuntu 22.04, glusterfs-client 10.1-1.

Other machines (same release, same deb version) it seems to be able to mount.

[2022-06-14 13:52] nik-redhat commented on #3156
The fix went in for 10.2, which was released recently on 1st June. You can upgrade to that version if you need, or else continue with the existing version as the mount succeeds, it just a warning which is thrown on the terminal.

[2022-06-14 14:03] urbaman commented on #3156
Thank you @nik-redhat waiting for the new apt version then.

[2022-06-14 17:23] sac opened #3598 "Change 4ad3bad8dc0 breaks mount.glusterfs on some distributions"
**Description of problem:**
Change 4ad3bad8dc0 breaks mount script on some Linux distributions.

For example on Ubuntu /bin/sh is a symlink to dash. And dash doesn't support arrays (Which is the case with many other shells).
Suggest we change the #! directive.

**The exact command to reproduce the issue**:
mount -t glusterfs -o backup-volfile-servers=vm1:vm2 vm1:/foo /fs1

**The full output of the

[2022-06-14 22:11] madmax01 commented on #3583
i close the Case... i cannot do the gdb.. getting errors.. cannot spend time on it... may the current infos helpfully for you're Side... 10.1 didn't gaved me an Crash. something differs to 10.2

[2022-06-14 22:11] #3583 closed, assigned to nobody

[2022-06-15 04:24] mohit84 opened #3600 "server: Brick_mux regression is getting crashed"
Some of the test cases are getting crashed while run brick_mux regression.
./tests/000-flaky/bugs_distribute_bug-1122443.t
./tests/basic/volume.t
./tests/bugs/glusterd/remove-brick-in-cluster.t
./tests/bugs/glusterd/remove-brick-testcases.t
./tests/features/trash.t
./tests/features/worm_sh.t

The test case is getting crashed while .t is trying to graph reconfigure after kill any one brick. After a

[2022-06-15 08:31] jkroonza commented on #3498
Let me answer this myself:

lru_limit determines how many inodes may be kept in the cache before invalidating commences (ie, we request the kernel to request us to purge it).

The invalidate-limit limits how many such requests we can issue to the kernel at once.

Set lru_limit too low and we are constantly invalidating.  Set it too high and we aggravate the inode hash table with has a fixed size o

[2022-06-15 08:31] #3498 closed, assigned to nobody

[2022-06-15 14:50] the-me1988 commented on #2922
This issue still exists in 10.2:

bash-term-in-posix-shell '${gfid:0:2}' [usr/lib/x86_64-linux-gnu/glusterfs/gfind_missing_files/gfid_to_path.sh:24]
bash-term-in-posix-shell '/dev/tcp' [usr/lib/x86_64-linux-gnu/glusterfs/gfind_missing_files/gfind_missing_files.sh:32]

[2022-06-16 04:37] sac commented on #2922
A related issue #3598

[2022-06-16 06:21] Alina2004 commented on #1440
@

Can you please tell me which release has included the correction of #1440?
Thanks!

[2022-06-16 07:32] mykaul commented on #1440
Any supported release, I reckon, since the patch is quite old. Surely 10.x.

[2022-06-18 10:10] Vahaggn commented on #3064
I have the same problem

[2022-06-20 16:17] kun-lu20 opened #3604 "is_nfs_export_available check and mount_nfs commands fail in RHEL 8.x on s390x"
**Description of problem:**

Some test cases (such as ./tests/basic/afr/arbiter-mount.t , ./tests/basic/afr/tarissue.t, etc.)  would fail on RHEL 8.x when GlusterFS v10.2 is built from source on s390x. Similar issue was observed in one test case on SLES 15 SP3 as well, see  #3302 .

The test log sample could be found in the below section. `is_nfs_export_available` check and `mount_nfs` related com

[2022-06-20 19:23] PisoMojado opened #3605 "Can't launch glusterfs after upgrading glusterfs from 1:9.3-2 to 1:10.1-1"
**Description of problem:**
GlusterFS will not launch on one of my peers after system upgrade.

**The exact command to reproduce the issue**:
sudo systemctl start glusterd

**The full output of the command that failed**:
[code]

**Expected results:**
glusterfs launches

**Mandatory info:**
**- The output of the `gluster volume info` command**:
`Connection failed. Please check if gluster daemon is

[2022-06-21 00:27] PisoMojado commented on #3605
I rolled back only glusterfs to 1:9.3-2, and the system works again, that is glusterd runs successfully. I think, then, the issue is limited purely to the glusterfs upgrade. This is not a resolution, so I am not marking closed.

[2022-06-21 07:06] xhernandez commented on #3604
@kun-lu20 could you elaborate this a bit more ?

It's possible that we already use (or will use in the future) other atomic operations on booleans. I think we should understand what's the issue and probably make a proper detection in configure.ac to adjust whatever is necessary to avoid the problem in a generic way.

[2022-06-21 07:29] mykaul commented on #3604
Or perhaps in the packaging, depend on a newer kernel?

[2022-06-21 07:31] mykaul commented on #3605
@PisoMojado , can you get few more lines of that stack trace?

[2022-06-21 13:08] mohit84 opened #3606 "index: Optimize index xlator code to improve file creation"
The afr/ec use xattrop internal fop to maintain consistency for data transactions. As index xlator
got a xattrop wind request it takes action to add/delete gfid path under indices directory
specific to gfid. In case of indices add index xlator call sys_link and in case of delete it call sys_rename
and sys_unlink based on the index type.After reading statedump i have observed index xlator is
having

[2022-06-21 13:12] mohit84 commented on #3606
As we can see in below statedump at index xlator level avg latency is significantly high as compare to
 posix xlator level for FXATTROP.

test1-server.latency.FXATTROP=AVG:1428735.799834 CNT:160002 TOTAL:228600585445 MIN:51762 MAX:1047270802
GlusterFS 4.x v1.latency.FXATTROP=AVG:1436028.395024 CNT:159993 TOTAL:229754491005 MIN:56419 MAX:1047281163
test1-io-stats.latency.FXATTROP=AVG:1423384.600592

[2022-06-21 13:52] kun-lu20 commented on #3604
Thanks @xhernandez .

Looks like `uatomic_xchg(&state->svc_running, true)` always returns `true` in RHEL 8.x on s390x, so that `svc_run()` couldn't be invoked correctly and it causes the test cases to fail.

When we changed the data type of `svc_running` from `bool` to `int` and replaced the above statement to `uatomic_xchg(&state->svc_running, 1)`, it worked as expected and all the related test c

[2022-06-21 14:44] kun-lu20 commented on #3604
@mykaul Yes, this issue is specific to certain Linux kernels on s390x.

When we tested it in RHEL 7.x with GlusterFS v9.2, this issue didn't occur and all the related test cases could pass.

However, in RHEL 8.x (kernel version 4.18.0), the issue still persists even after we upgraded the kernel with `yum update kernel`.

[2022-06-22 04:24] rafikc30 opened #3608 "Heal stuck for some GFID's"
**Description of problem:**

In our cluster, the heal info shows entries with pending heal. When I check the gfid on the backend, the entry is a regular file but it does not have any gfid extended attribute set. All other extended attributes like mdata, bitrot, afr attributes are set. Moreover, this file inside the .glusterfs folder does not have the corresponding link to the actual file. The link

[2022-06-22 05:44] xhernandez commented on #3606
Really nice improvement !!!

The apparent throughput reduction after applying the patch is real or is it just coincidence (it starts with 114 MB/s and ends at 64 MB/s) ? I would expect that all tests should work at around 100 MB/s after the first one, at least.

[2022-06-22 12:59] tshacked commented on #1817
Similar scenario and error `No such file or directory` is reported on rebalance.log on [BZ 1786566](https://bugzilla.redhat.com/show_bug.cgi?id=1786566) .
The case is rare to reproduce and when it happens file may be created on a non-hashed subvol and there's no data loss.
Reopening this issue for further investigation on the upstream