[2022-06-22 16:29] olegkrutov opened #3610 "rebalance doing nothing on massively disbalanced distributed volume"
**Description of problem:**

Gluster 9.1-2

A distributed volume has 2 bricks:
[code]
These bricks were created simultaiously. so no fix-layout is needed. (ps: I did fix-layout too but no effect)
The vast majority of data is on the big brick. Maybe these were thin images so in the very beginning they were small and placing them on bigger brick was proper decision. But now its size has grown and pa

[2022-06-22 20:33] kun-lu20 commented on #3301
This test case passed with GlusterFS v10.2 on RHEL 8.x on s390x.

[2022-06-23 00:53] PisoMojado commented on #3605
unfortunately, that is the whole stack trace shown in the log

[2022-06-23 00:59] #2672 closed, assigned to nik-redhat

[2022-06-23 00:59] #2848 closed, assigned to mohit84

[2022-06-23 00:59] #2853 closed, assigned to nobody

[2022-06-23 00:59] #2878 closed, assigned to nobody

[2022-06-23 00:59] #2744 closed, assigned to nobody

[2022-06-23 00:59] #2789 closed, assigned to nobody

[2022-06-23 00:59] #2246 closed, assigned to nobody

[2022-06-23 00:59] #2885 closed, assigned to mohit84

[2022-06-23 00:59] #2886 closed, assigned to nobody

[2022-06-23 00:59] #2319 closed, assigned to nobody

[2022-06-23 00:59] #2892 closed, assigned to nobody

[2022-06-23 00:59] #2738 closed, assigned to nobody

[2022-06-23 00:59] #2857 closed, assigned to nobody

[2022-06-23 00:59] #2902 closed, assigned to nobody

[2022-06-23 00:59] #2805 closed, assigned to nobody

[2022-06-23 00:59] #2905 closed, assigned to nobody

[2022-06-23 00:59] #2844 closed, assigned to nobody

[2022-06-23 00:59] #910 closed

[2022-06-23 00:59] #2914 closed, assigned to nobody

[2022-06-23 00:59] #2919 closed, assigned to nobody

[2022-06-23 05:21] mohit84 commented on #3606
The number is real there is no coincidence, I tried multiple times i am getting always same number (minimum 62MB/sec and max is 114 mb/sec). I believe it is happening because of maximum latency facing a posix layer. If we do compare latency of 1st and last attempt it is clearly showing MKDIR and CREATE is showing huge difference between 1st and last attempt.I think unless latency will not improve

[2022-06-23 07:38] mykaul commented on #2850
https://github.com/gluster/glusterfs/pull/3597 is relevant here, but failed for some reason. Need some more time to complete it.

[2022-06-23 07:47] xhernandez commented on #3606
So the difference is only that the volume is not new ?

Have you checked which mkdir/create are taking longer ?

It would also be interesting to know if the difference comes from filesystem calls to XFS or it's something internal to posix xlator.

[2022-06-23 08:02] mohit84 commented on #3606
Yes the difference is only that volume is not new, IIUC in case of rotational disk it always happen that's why we do ignore 1st attempt result while we do generate report for perf data. In case of NVME it does not happen.

[2022-06-23 08:22] mohit84 commented on #3606
Below is the data generated on daily build server, As we can see create and append are showing almost 10% improvement. We can't compare this data from previous generated data because this data is generated on NVMe and the data is generated by multiple clients, the previous data was generated on 1x3 rotational disk with single client.

| FOPS  | DAILY-BUILD | PATCH |
| ------------- | -------------

[2022-06-23 12:34] deama commented on #833
I'm experience similar issue on my server:
when I do df -h I get:
`
/dev/sde1     2.5T  2.5T    22G  100%  /srv2
`

I used ncdu to try and see what was taking the space up, and it looks like it was .glusterfs:
`
--- /srv2/gluster_sysmaster ---------------------------------------------------------

/..
2.4 TiB [############] /.glusterfs
1.0 TiB [#####       ] /catalogsync
590.8 GiB [##          ] /

[2022-06-23 18:29] kun-lu20 commented on #3604
Hi @xhernandez ,

I updated our local patch and adjusted `configure.ac` to make the code change only affect RHEL 8.x and SLES 15 on s390x. I've tested the patch locally on Intel and s390x. Probably it's still not very generic but it works. Could you please take a look? Thank you!

[code]

[2022-06-24 05:31] pranithk commented on #833
What is the underlying backend filesystem you are using? Could you digg a little deeper into the directory to find which directory inside .glusterfs is taking up space?

[2022-06-24 08:44] deama commented on #833
It's the same issue the others reported, there's various directories in there like /2a/ and they're taking up anywhere between 4GB to 15GB, and there's dozens of them.

I looked at the changelog file, but it says it's sitting at 0 space usage.

Here's a full example of what's inside .glusterfs:
[output.txt](https://github.com/gluster/glusterfs/files/8974635/output.txt)

Each of the directories ins

[2022-06-24 09:01] pranithk commented on #833
@deama What is the filesystem you are using?

[2022-06-24 16:08] deama commented on #833
XFS

[2022-06-25 02:34] pranithk commented on #833
@deama Could you check if there are any files that have just 1 link?

[code]

[2022-06-25 03:33] JamesWSWu opened #3611 "There is a comment error in the file "glusterfs.spec.in""
**Description of problem:**
 The following errors occur when compiling according to the annotated command.
 rpmbuild: --disable-linux-io_uring:  unknown option
**The exact command to reproduce the issue**:
 rpmbuild -ta  glusterfs-11dev.tar.gz --disable-linux-io_uring

**The full output of the command that failed**:
<details>
 rpmbuild: --disable-linux-io_uring:  unknown option

**Expected results

[2022-06-25 08:15] deama commented on #833
Here it is:
[code]

For additional information, I have noticed very high writing on the file server (we got monitoring on it) which started at around 8th June, around the time when we did a general package update, I believe glusterfs was one of them.

Ever since it reached 100% and we extended the disk space by 500GB, it appears to have stopped, this was back on the 23rd june. But the .glusterfs i

[2022-06-26 07:42] pranithk commented on #833
@deama What is the size of ./gluster_sysmaster.* files? I have never seen such files before.

[2022-06-26 09:43] deama commented on #833
You mean what is inside of ./gluster_sysmaster? I believe that's just where we store some files inside, sadly I don't quite have the liberty to disclose what they are.

Are there any ideas as to why .glusterfs is taking up so much space?

[2022-06-26 10:37] pranithk commented on #833
.glusterfs creates a hardlink for each of the file present in the brick. As per the info you gave .glusterfs should have been equal to ~1.5TB (/catalogsync, /images), but it is close to 2.4TB based on the find output you gave, the only extra files that I see are ./gluster_sysmaster* files, check if the size of these files together is close to 1TB, that would explain the size. Otherwise we need to

[2022-06-26 11:13] deama commented on #833
Ah, I understand, here's the disk space results:
[output2.txt](https://github.com/gluster/glusterfs/files/8986465/output2.txt)

I replaced the filenames with "thing".

Looks like there's a lot of directories like /h44/ that end up taking a few gigabytes, they add up I guess, though not quite sure what is inside of them, here's an example inside of:
/srv2/gluster_sysmaster/h44/h79/
`
---------T. 2

[2022-06-26 12:28] pranithk commented on #833
@deama Okay, looks like this is quite a bit of space. I think that explains the extra space being used. So nothing more to debug here I guess.

[2022-06-27 03:28] jifengzhou opened #3614 "glusterfs client repeatedly tries to establish a connection with glusterfsd"
I have a 3-replica volume cluster and found that while all bricks are online, the number of file entries that need to be synchronized keeps increasing。

Volume information and status are as follows：
[root@node1 ~]# gluster volume info

Volume Name: ctest
Type: Replicate
Volume ID: 6cb54a68-785f-443b-b32c-e3d68a95b263
Status: Started
Snapshot Count: 0
Number of Bricks: 1 x 3 = 3
Transport-type: tcp

[2022-06-27 07:42] #3301 closed, assigned to nobody

[2022-06-27 09:53] #3521 closed, assigned to nobody

[2022-06-30 17:29] olegkrutov commented on #3429
This problem arises and with qemu 7.0 from debian backports repo. Can anybody please help?

[2022-07-01 08:23] baleqin opened #3621 "File can not be synced after delete the file in secondary volume when use geo-replication"
I use geo-replication to sync file form primary volume to secondary volume. The **1.txt** file can be synced successfully, but after I delete **1.txt**  in secondary volume, I modified 1.txt in primary volume, the file is no longer synced, there is no **1.txt** file in secondary volume.

I found out the log but can not understand why the 1.txt can not be synced.
[code]

And in the case of successf

[2022-07-01 08:42] baleqin commented on #2306
I have the same problem, how do I fix this?

[2022-07-01 13:30] olegkrutov opened #3623 "Missed documentation about cluster.rsync-hash-regex format"
What format has to be cluster.rsync-hash-regex partameter? perl, sed, etc? How to realize it is working properly? Nothing about it in docs.gluster.org... Any example (excluding "none" that is googled everywhere :) )

ps: since in my case rsync temp files look like ".name.ext.??????", I've set rsync-hash-regex as "\.[a-zA-Z0-9\-]+\.[a-zA-Z0-9]+\.[a-zA-Z0-9\-_]{6}" and that passed without errors. Bu

[2022-07-02 16:53] lvtao-sec opened #3624 "File exists but listxattr() returns error "No data available"."
**Description of problem:**
Create a file with O_DIRECTORY and then set for list extended attributes on that file will failed.

**The exact command to reproduce the issue**:
1. A volume with three servers and each server only has one brick.
2. Volume configuration: `gluster volume create test-volume disperse 3 redundancy 1 ...`
3. Mount configuration: `mount -t glusterfs $server_ip:/test-volume mo

[2022-07-04 07:14] #3248 closed, assigned to nobody

[2022-07-04 08:46] xhernandez commented on #3072
Hi @dalwise. I'm very sorry for the delay. I was trying to create a generic tool that could read the data as fast as possible, but its complexity and the other work I have makes it hard. I'll provide a simpler tool soon.

[2022-07-04 09:46] liofko opened #3625 "New files created when switching powered down nodes - not being healed"
**Description of problem:**
On a 3 nodes cluster, when creating a new file when only 2 nodes are up, shutting  down 1 nodes and then powering one the third node - the file is not being healed.

**Important note**: the glusterfs servers are running on the same nodes as the mountpoints, e.g. - in each node in my cluster there is a glusterfs server running and a mountpoint to localhost:/_volume-name_

[2022-07-04 09:50] pranithk commented on #3625
For a name in directory to be healed correctly quorum number of nodes should agree about its state. Here quorum number of nodes are not up. So This behavior is correct.

[2022-07-04 09:50] #3625 closed, assigned to nobody

[2022-07-04 09:52] liofko commented on #3625
@[pranithk](https://github.com/pranithk)
Thanks for your quick response.
But after node1 is up, there is a quorum , no ?

If not, what is the manual way to resolve this issues (I cannot heal it using the heal commend since its not a split brain)

[2022-07-04 09:56] pranithk commented on #3625
Quorum is present for new operations but for the file you mentioned, on the 2 nodes, `node2` says it is there `node1` says it is not there. So there is no quorum.

[2022-07-04 09:57] pranithk commented on #3625
It will be healed once node1 comes back up automatically.

[2022-07-04 10:02] liofko commented on #3625
@[pranithk](https://github.com/pranithk)
OK, thanks
But lets say node1 is gone (due a problem) what is the proper way to resolve it ? is the new data lost ?
Can I somehow 'teach' manually the 2 remain nodes to agreed on the proper file attribute ?

**Note**: I cannot do getfattr/setfattr on node1:
_[root@**node1** glusterfs]# getfattr -d -e hex -m .  /app/glusterfs/bricks/app/data/file8.txt
getfat

[2022-07-04 15:06] pranithk commented on #3624
@lvtao-sec as per the logs the file is not created. Could you post the return value of `open()` call once again? Even better would be giving an strace of the application

[2022-07-04 15:13] pranithk commented on #3625
What is the meaning of node1 is gone? Will it be replaced ever or you are not planning to bring it back at all?

[2022-07-04 16:12] liofko commented on #3625
Hi,
Again, thanks @[pranithk](https://github.com/pranithk) for your help.

Lets say the node is having technical issues to power up, is the data gone ? Is there any manual way to say the nodes to make the data on node2 legit ? (Again , the file do not exist on node 3) ? before adding new nodes ?

And, Will replacing the node will help ? How will the new node decide which previous  node is the up-t

[2022-07-05 03:45] pranithk commented on #3625
@liofko If you do replace-brick, then the data should be healed because of conservative merge. Please do one run on a stage/test setup and report if you face any other behavior.

[2022-07-05 08:13] lvtao-sec commented on #3624
Hi @pranithk , thanks for your reply. The strace is attached.
Although `open` returns `ENOTDIR`, a regular file `file1` is created due to `O_CREAT` flag.
And another interesting point is that `listxattr` immediately after the `open` returns success but returns an error when trying again.

[code]

[2022-07-05 08:56] JamesWSWu opened #3630 "The type of the volume becomes “Distribute” when the replicas number of replication volume becomes 1"
**Description of problem:**
 The  replicas number of replication volume becomes 1 after deleting two replication of the replication volume with three replication.
And the type of replication volume becomes “Distribute”.

**The exact command to reproduce the issue**:
1. create replicas 3 volume "test1":
    gluster volume create test1 replica 3 12.12.12.80:/paasdata/test1 12.12.12.79:/paasdata/test

[2022-07-05 12:46] olegkrutov opened #3631 "How can one get list of subvolumes where file is laying?"
According a warning after "gluster volume remove-brick start" command, files those are affected can be damaged during migration if there is active i/o to these files. So, I'd like to stop all VMs whose vdisks are on bricks that are to remove. But I can't find a way to get subvolumes where files or their fragments are laying. Is there a way to get such a list? Is gfid2path somehow that I need?

[2022-07-06 11:30] liofko commented on #3625
Hi @[pranithk](https://github.com/pranithk)
Yes, replacing brick to other node helped and the files are accesibble

Many thanks for your help :-)

[2022-07-07 07:23] sysupdate commented on #906
Same issue with us, both performance.nl-cache and performance.readdir-ahead are off

[2022-07-07 17:06] #3611 closed, assigned to nobody

[2022-07-07 19:43] diaros commented on #833
Hello everyone..

I'm having the same problem with the size of the ./glusterfs directory  almost tree time the size compare to the the size of the others nodes.

Currently my gluster version is:
glusterfs 4.1.9

$ sudo du -shc * .glusterfs | sort -h

**49G	.glusterfs**

in the other nodes the size is:

**14G	.glusterfs**

In the current affected node I can see the following count of links:

$ sudo

[2022-07-08 07:07] xhernandez commented on #3631
You can run this command on any file of the volume:

    # getfattr -n glusterfs.pathinfo <file>

It will return (in a slightly scrambled way) the bricks and path where the file is stored.

However this would need to be done file by file. If you just want to know all files stored on a particular brick, you can just search for files directly inside the brick:

    # find <path/to/brick> -type f -ls

[2022-07-08 07:15] xhernandez commented on #3624
The problem here is that `O_DIRECTORY` cannot be used to create a file. `openat()` correctly returns `ENOTDIR` in this case.

From man page:

<pre>
    <b>ENOTDIR</b>
           A component used as a directory in pathname is not, in fact, a directory, or O_DIRECTORY was specified and
           pathname was not a directory.
</pre>

The issue here is that probably Gluster doesn't do the proper chec

[2022-07-08 08:24] lvtao-sec commented on #3624
Hi @xhernandez, thanks for your reply. Totally agree with your opinion.

According to the POSIX specification shown below,  the behavior of `open(file, O_CREATE|O_DIRECTORY|O_WDWR)` is unspecified. And currently, in GlusterFS, it will create a regular file although it returns `ENOTDIR`. Based on this implementation of `open`, it should ensure the following file operations on this file are successf

[2022-07-08 08:43] xhernandez commented on #3624
That's the bug. GlusterFS relies on the characteristics of the underlying filesystem, so it cannot do anything that the filesystem doesn't support. However there might be a bug that doesn't correctly handle the failure in this case and something is not correctly cleaned up, allowing future accesses to a file that has actually failed to be fully created.

[2022-07-08 08:49] lvtao-sec commented on #3624
@xhernandez, yep, looking forward to seeing the patches. Thanks!

[2022-07-08 12:00] olegkrutov commented on #3631
Thank you for your reply. Yes, I see that things are simpler than I thought. And yes, I'd like to properly process volumes where sharded files present.

[2022-07-10 06:43] mykaul commented on #2987
Still hoping to get to do it.

[2022-07-10 08:20] mohit84 opened #3636 "posix: In small storage environment posix xlator does not respects storage.reserve value"
In a small storage environment (brick_root is < 100G) the POSIX xlator does not respects storage.reserve value.
The flag value is set after every 5s basis and so if in that time period the client has generated the data the
posix xlator does not validate storage. reserve spae check allow consuming the brick unless the flag has not
been set by a posixctxres thread.

Solution: Before doing any writev

[2022-07-10 08:23] mohit84 commented on #3636
To reproduce it run a test case tests/bugs/posix/bug-1651445.t without using sleep 5s value in .t

[2022-07-10 11:02] #2850 closed, assigned to nobody

[2022-07-10 11:02] #2845 closed, assigned to nobody

[2022-07-10 11:02] #2981 closed, assigned to nobody

[2022-07-10 11:02] #1817 closed, assigned to nobody

[2022-07-10 11:02] #2924 closed, assigned to nobody

[2022-07-10 11:02] #2943 closed, assigned to nobody

[2022-07-10 11:02] #2040 closed, assigned to Sheetalpamecha

[2022-07-10 11:02] #2041 closed, assigned to Sheetalpamecha

[2022-07-10 11:02] #2947 closed, assigned to nobody

[2022-07-10 11:02] #2281 closed, assigned to nobody

[2022-07-10 12:21] mykaul commented on #2967
/unstale

[2022-07-10 14:46] tshacked commented on #3630
Hi @JamesWSWu

In above case the volume is created with 1 replica that includes 3 bricks, after removing two bricks the volume remains with 1 brick and cannot be a replica volume as the replica count need to be > 1.
`Distribute` is the type of volume which is created by default (and the only type available for 1 brick) so I think this change is legit.
Do you still think this is problematic?

[2022-07-11 03:53] JamesWSWu commented on #3630
@tshacked  Thank you for your reply.
The volume is created with 3 replicas that  includes 3 bricks. The type of volume is "Replicate". But the type of volume becomes "Distribute" after removing two bricks. So I think that the type of volume should not be modified.
What does the type of volume depend on?

[2022-07-11 05:13] tshacked commented on #3630
Hi @JamesWSWu

This is a corner case where a volume with one brick cannot be a replicated volume as it cannot replicate files.
A Replicated volume type will not be modified as long as it can do the replica work, for example in the case of going from replicate 3 -> replicate 2 (removing 1 brick).

Gluster file system supports different types of volumes, more info here:
- https://docs.gluster.org/en

[2022-07-11 16:07] adelin-mcbsoft opened #3640 "Data-transfer issues with "download.gluster.org" repository"
**Description of problem:**
There is a problem with the "[download.gluster.org](http://download.gluster.org/)" repository.
Whenever trying to update Gluster using `apt-get upgrade`, a bunch of errors are received.

Currently using the following repo:
[code]

Current Gluster version:
[code]

**The exact command to reproduce the issue**:
[code]

Trying to manually get the file with `wget` also promp

[2022-07-12 06:03] sotocad commented on #3640
Hello, I have the same problem, I have tried various methods, and it gives the same error, as if the files did not have permissions to download.

 Error reading from server - read (5: Input/output error) [IP: 8.43.85.185 443]
E: Failed to fetch https://download.gluster.org/pub/gluster/glusterfs/10/LATEST/Debian/bullseye/amd64/apt/pool/main/g/glusterfs/libgfxdr0_10.2-1_amd64.deb  Error reading from

[2022-07-12 06:44] stooone opened #3641 "The roadmap in the website is outdated"
Hi,

The roadmap on https://www.gluster.org/roadmap/ is outdated, can be misleading about the future/activity of the project. You should remove or update.

Thanks!

[2022-07-12 10:37] mscherer commented on #3001
If the bot want me to comment, sure :)

[2022-07-12 13:38] kun-lu20 commented on #3604
Hi @xhernandez @mykaul ,

Hope all is well with you.

Do you have any updates reg this issue? Thank you very much!

[2022-07-12 13:49] kun-lu20 commented on #2491
Hi @mscherer ,

Hope all is well.

I just want to follow up on this issue. Will PR https://github.com/gluster/build-jobs/pull/137 be merged soon so that the build and test jobs could be run on s390x builders?

Thank you!

[2022-07-12 14:04] mykaul commented on #3604
Looks reasonable to me - can you send a PR?

[2022-07-12 14:12] kun-lu20 commented on #3604
Thanks @mykaul !

Sure, I will open a PR and link to this issue.

[2022-07-12 14:14] #2491 closed, assigned to nobody

[2022-07-12 14:14] mscherer commented on #2491
Indeed, I merged it.

[2022-07-12 14:17] kun-lu20 commented on #2491
Thanks @mscherer !

[2022-07-12 14:26] ppreeper commented on #3640
I am also having this issue. I was going to add a screenshot of whats going on but my screenshots are nearly identical to the ones already posted.
This is on a Debian 11 server on a fresh install the repo attaches and the rsa.pub downloads.
Even with a browser, drilling down to the deb files in the pool, when you click on them, a download starts but only a portion (190K of 3.1M on the glusterfs-se

[2022-07-12 15:05] hitech95 commented on #3640
Same issue here

[2022-07-12 15:29] adelin-mcbsoft commented on #3640
I'm afraid we aren't reporting the problem in the right place... I saw that such issues were previously reported and addressed in the "[mailing lists](https://lists.gluster.org/mailman/listinfo)", however I'm not sure how to reach or if we have access to them, as simply users;

They may be dedicated to developers only (but please correct me if I'm wrong).

[2022-07-12 17:25] sotocad commented on #3640
in this link
https://githubhot.com/repo/gluster/glusterfs/issues/2741
, it presents a similar case, in which members responded.

[2022-07-12 17:37] adelin-mcbsoft commented on #3640
Yeah, I also found our same issue reported by someone else in this [mailing list](https://www.spinics.net/lists/gluster-users/msg40050.html) more than a month ago... so I don't have high hopes that this will be fixed soon.

[2022-07-13 02:26] adelin-mcbsoft commented on #3640
@kalebskeithley @Sheetalpamecha @Shwetha-Acharya @nigelbabu @mscherer
Guys, sorry for tagging you personally, but we aren't able to upgrade Gluster due to this issue and we'd appreciate if someone would have an eye on it.
Thanks in advance.

[2022-07-13 08:10] gilesrussell opened #3642 "Incorrect df report, suspect incorrect vol files"
df shows an incorrect free space
vol files for 1 server list shared-brick-count as 1 or 2 for some bricks, and I think this is the cause of the issue, but unsure on how to fix
we have tried gluster vol stop start, glusterd restart and volume set command these have not worked
we have also tried fixlayout
this happened after we added 6 new 20Tb drives to the system

<details>
ran out of space for lo

[2022-07-13 08:41] mscherer commented on #3640
I rebooted the proxy. The error is returning on a regular basis, but as I can't do much to debug (because folks need a fix), I just hope it get fixed in nginx in the future

[2022-07-13 08:53] willdot commented on #3640
I've posted a message in the Gluster Slack workspace linking to this issue, in hope that someone might see it.

Link to sign up for those that aren't already: https://www.gluster.org/community/

[2022-07-13 09:01] mscherer commented on #3640
ok so the reboot didn't seems to help.

[2022-07-13 09:04] mscherer commented on #3640
Also, for the future, issues regarding infra have a higher chance to be noticed when reported on https://github.com/gluster/project-infrastructure/ (even if tagging me help as well)

(and I can't speak for the rest of the team, but I do not go on Slack).

[2022-07-13 09:07] tshacked commented on #3610
Hi @olegkrutov ,

-  I dont see errors from rebalance output and as no bricks were added or removed rebalance had no layout to fix or file(s) to migrate.

- Your comment explain how the cluster got to this state of : Brick1: 76.6% free-space, Brick2: 3.4% free-space

- glusterfs has the [cluster.min-free-disk](https://staged-gluster-docs.readthedocs.io/en/release3.7.0beta1/Administrator%20Guide/Ma

[2022-07-13 09:09] mscherer commented on #3640
The issue was that the proxy was full.

Now, I have to figure:
- why it didn't send any alert (nagios)
- why was it full (seems /var/log/messages filled itself 10x the usual amount of logs, so that's weird (tm)
- why is the 2nd proxy not coming back.

[2022-07-13 09:18] mohit84 commented on #3642
The glusterd populates the shared_count on the basis of two variables comparison, the first
is UUID nad 2nd is statfs_fsid. In case if both the values are matching based on that
glusterd populates the shared_count for every brick. If multiple brick root are associated with same
volume in that case statfs_fsid will be same and glusterd generates the fs_share_count
on that basis.

Below is the funct

[2022-07-13 09:24] willdot commented on #3640
Sorry, I didn’t realise you were part of the team.

Will bookmark that repo for future use.

[2022-07-13 09:47] mscherer commented on #3640
I guess we need to also review our doc to guide folks on where to report issues. Due to timezone and vacations, I do not think it would have been fixed faster if the issue had been filled on the other tracker. @willdot yeah, I was in a rush this morning, I should have been clearer. The download server is behind a set of ngninx proxies, and nginx react badly when the node is full (can't write the c

[2022-07-13 12:36] smremde commented on #3642
Hi @mohit84 thanks for the quick response.

You are correct, it appears we do have duplicate `brick-fsid` but they are most certainly different file systems:

[code]

Checking `stat -f`

[code]

Is `brick-fsid` supposed to match `stat -f` because if so, some (all?) values in the non duplicated ones match either

[code]

[2022-07-13 12:43] kamaljit-kj commented on #833
I have the same issue where the gluster volume size in 2 gluster nodes has a big difference - because of the .glusterfs folder.
This gives an impression that gluster is writing a lot more data in one of the nodes only, and might eventually make it 100%.

Did anyone find any solution to it or seen it reaching 100%, to really know its impact?

[2022-07-13 13:56] smremde commented on #3309
We have manually resolved this issue by deleting linkto file and any 0 byte files where we had multiple versions of a file. We then did an rsync from our primary.

I'm happy to close this however I did note you reproduced the issue so may want to keep this open for tracking.

[2022-07-13 16:59] adelin-mcbsoft commented on #3640
Anyway, I'm glad the matter is solved now. Thank you @mscherer and @willdot for solving it.
I will keep the issue open couple more hours in case anybody else has anything to say about it, then I'll be closing it.
Have a great day there and thank you once again!

[2022-07-13 22:45] #3640 closed, assigned to nobody

[2022-07-14 06:37] mykaul commented on #3641
Indeed. For current work items for release 11, please have a look at https://github.com/gluster/glusterfs/issues/3023

[2022-07-14 13:07] johanneskastl opened #3646 "xlator mount options missing in the man page for mount.glusterfs"
**Description of problem:**

The man page for mount.glusterfs does not contain any trace or hint that there are some options starting with `xlator-option=...` that can be specified during mounting.

We needed `xlator-option=transport.address-family=inet` for one customer, and only found it by accident while grep'ing through `/var/lib/gluster/`...

https://github.com/gluster/glusterfs/blob/devel/do

[2022-07-14 13:17] mykaul opened #3647 "wrong debug log in upcall_cache_invalidate()"
[code]

Should be:
[code]

[2022-07-14 13:20] johanneskastl opened #3648 "Mount failing on machines with only IPv4 network configured"
**Description of problem:**

Servers and client are running SLES15 SP4, IPv6 is enabled but the machines only have the link-local addresses configured.
Server names are resolvable via IPv4.

Management volume and the actual volume have the `transport.address-family=inet` settings. But the client must connect to the server once to get the information, and this is where it fails.

Mounting the volum

[2022-07-14 13:28] johanneskastl opened #3649 "Leftover processes after restarting the systemd service for glusterd"
We enabled TLS on one of our glusterfs clusters, and noticed that there were many many errors in the logs on all three servers, even after we restarted the glusterd service on all of them.

This log floog only stopped after we
- stopped the glusterd.service,
- manually killed the two processes that were still running and
- started glusterd again

(Rebooting each machine would also have solved it,

[2022-07-15 05:31] mohit84 commented on #3642
Yes it should be matched from the decimal value of id, glusterd call statvfs to set fsid, the structure statvfs.fs_fsid shows the same fsid.

[2022-07-15 07:28] smremde commented on #3642
So the files have been generated incorrectly?

How might this have happened and what is the proceedure to correct them?

[2022-07-15 07:44] mohit84 commented on #3642
IMO we have not received a bug specific to set shared-brick-count, i have to check it. If you are sure every brick root
is associated with separate volume then you can directly tune to volfile and set some volume option to reload the volfile.

[code]
These settings will be applicable only unless glusterd is not restarted, after restart glusterd will try to set the new
values based on the calculati

[2022-07-15 14:18] smremde commented on #3642
We restarted glusterd and confirmed the brick files were regenerated but the `fsid`s were wrong.

We belive these are not being calculated on restart, and we have a duplicate because we have rebooted and replaced bricks, where one such replacement has been assigned a previously use fsid.

So there seems to be a bug - either the fsid are not being updated on restart, or there is some issue with the

[2022-07-16 07:53] JamesWSWu commented on #3630
@tshacked

[2022-07-16 07:56] JamesWSWu commented on #3630
@tshacked
Thank you for your reply!
Can a volume with one brick be called a replication volume or a distributed volume？Is it all ok？

[2022-07-18 08:56] smremde commented on #3309
Hi @tshacked ,

We are seeing this issue once again since we just expanded another volume. (This is another deployment, with 6 servers 4+2, gluster 9.3 everything else equal)

We see files duplicate with the same "operation not supported" log message.

Any update on the issue or a work around? If this is a race condition, could we start the rebalance and kill the rebalance process on 5/6 servers?

[2022-07-18 10:45] tshacked commented on #3630
Hi @JamesWSWu
Volume with one brick is named distributed volume which is the default vol in glusterfs.
It is ok.

[2022-07-18 12:58] WelldoneIT opened #3653 "volume brick is crash , and can not start"
volume brick is down and left core dump file，the log do not show any useful information after 'pending frames'.

**The exact command to reproduce the issue**:
no special operations were taken.

**- Is there any crash ? Provide the backtrace and coredump
yes, show like this
------------------------------------------------
Reading symbols from /usr/sbin/glusterfsd...Reading symbols from /usr/lib/deb

[2022-07-18 13:00] WelldoneIT commented on #3653
please give me some suggestion,  thank you very much!

[2022-07-18 13:03] WelldoneIT commented on #3653
There are also some additions for core dump:
#11 0x00007fb039f34b76 in gf_print_trace (signum=11, ctx=0x5633f01c5010) at common-utils.c:892
#12 <signal handler called>
#13 0x00007fb03856c303 in ____strtoull_l_internal () from /lib64/libc.so.6
#14 0x00007fb03968b4bf in uuid_parse () from /lib64/libuuid.so.1
#15 0x00007fb02c044adf in gf_uuid_parse (uuid=<optimized out>, in=<optimized out>) at ../../

[2022-07-18 13:15] mohit84 commented on #3653
What is the gluster version you are using ?

[2022-07-19 02:01] WelldoneIT commented on #3653
the gluster version is 3.12

[2022-07-19 02:18] WelldoneIT commented on #3653
why core dump show ‘Address 0x8d5503316f678d94 out of bounds’ ？

[2022-07-19 02:43] mohit84 commented on #3653
The gdb is showing "Address out of bound " error because of buffer overflow, you are using a very old version the currently maintained version is release-9/10  so please upgrade the latest version to avoid the issue.

[2022-07-19 02:50] mohit84 commented on #3642
you can delete fsid from the file and then try to restart glusterd,is glusterd generated the correct fsid?

[2022-07-19 04:45] #3647 closed, assigned to nobody

[2022-07-19 04:46] #3604 closed, assigned to nobody

[2022-07-19 07:23] #3630 closed, assigned to nobody

[2022-07-19 08:50] tshacked commented on #3309
Hi @smremde

currently the workaround is doing a manual fix to the undefined linkto file as you've already done.
Why do you want to kill the rebalance processes? you can send rebalance stop cmd but it's better to let the process complete the migration.

About the issue, I've not been able to reproduce it so it will help if u could load here:
1 - rebalance/brick logs from all nodes
2 - list the xat

[2022-07-19 08:59] smremde commented on #3642
@mohit84 this resolved the issue. Although if fsids are volatile, they really should be checked/updated on glusterd restart?

For anyone finding this, the proceedure was

1. `sed -i '/brick-fsid/d' /var/lib/glusterd/vols/$vol/bricks/*`
2. restart glusterd
3. `gluster vol set $vol cluster.min-free-inodes '4%'` to reevaluate `shared-brick-count`
4. `gluster vol reset $vol cluster.min-free-inodes`

T

[2022-07-19 09:05] smremde commented on #3309
@tshacked

The problem is, this will make thousands of files randomly unavailable during the rebalance which will take several days to complete - we would have to implement a process to watch the logs and fix them on the fly.

If the race condition is between two servers/instances of the rebalance process, I was suggesting we kill/term the rebalance process on all except 1 of the servers so there

[2022-07-19 09:43] tshacked commented on #3309
I don"t know the exact RC, but with above approach not all files will be migrated, as each rebalance process handle some of the files from his replication set.
For example: rebalance from 2x2 -> 3x2
[code]
If you do think trying this approach, I suggest u to run fix-layout before the try

[2022-07-19 18:10] kun-lu20 opened #3655 "Reg recent CI failures on s390x builder"
**Description of problem:**

Hi,

We noticed that recent CI builds are failing on the s390x builder ([https://build.gluster.org/job/centos8-s390-regression/6/consoleFull](https://build.gluster.org/job/centos8-s390-regression/6/consoleFull)). It took more than 7 hours to build and run the regression test suite but aborted after only 68/832 test cases had been run.

We also found the following error

[2022-07-19 18:11] kun-lu20 commented on #3655
@mscherer

[2022-07-20 05:06] olegkrutov commented on #3610
Hi @tshacked. Thank you for your reply. Yes, we do not use sharding there. So isn't there any feature to migrate some files from full brick to one having more space? Maybe manually setting some xattrs or so?

P.S. the reason not to use sharding for us is that https://github.com/gluster/glusterfs/issues/2892 is in wontfix state but data integrity is important for us.

[2022-07-20 09:14] chen1195585098 commented on #3648
set option transport.address-family in glusterd.vol according to your network type, or update your glusterfs to latest version may be helpful to avoid this.

Since your command works after add address-family, it may caused due to mismatch of address-family between the record in glusterd.vol and that you actually use.

[2022-07-20 09:16] johanneskastl commented on #3648
It was already set on the server side, but the client needs to reach the server initially for fetching all the information inside the vol-files. And this is what fails, unless I set the xlator-option parameter...

[2022-07-20 11:24] mykaul opened #3657 "CID 1490756: Control flow issues (DEADCODE) in dht_unlock_entrylk()"
** CID 1490756:  Control flow issues  (DEADCODE)
/xlators/cluster/dht/src/dht-lock.c: 408 in dht_unlock_entrylk()

________________________________________________________________________________________________________
*** CID 1490756:  Control flow issues  (DEADCODE)
[code]

[2022-07-20 13:23] #3379 closed, assigned to nobody

[2022-07-20 13:24] jkroonza commented on #3379
There are definitely still issues, but I'm closing this as I'd rather file a single consolidated bug.

[2022-07-20 13:24] jkroonza commented on #3389
There are definitely still issues, but I'm closing this as I'd rather file a single consolidated bug.

[2022-07-20 13:24] #3389 closed, assigned to nobody

[2022-07-20 14:14] jkroonza opened #3659 "fuse concurrency problems"
**Description of problem:**

Bunch of crashes (SIGABRT + SIGSEGV) that only seems to happen when concurrency is in place (by way of --global-threads, client.event-threads or --reader-thread-count)

Previous issues I believe that relates, but both filed under older versions of glusterfs:

#3379
#3389

Backtrace information seems to have changed moving to 10.2 compared to 10.1.

**The exact command

[2022-07-20 21:01] afprobst opened #3660 "high Number of entries"
**gluster volume heal pool-gluster03 statistics heal-count**
Gathering count of entries to be healed on volume pool-gluster03 has been successful

Brick gluster05:/brick1/pool-gluster03
Number of entries: 1589

Brick gluster06:/brick1/pool-gluster03
Number of entries: 1589

Brick altatech-arbiter:/brick1/pool-gluster03
Number of entries: 0

multiple log entries glustershd.log same as below
[MSGID:

[2022-07-21 13:13] smremde commented on #3309
I think you are correct. My confusion was from the previous rebalance of a different volume in this ticket, the same file was migrated by two different servers. I now believe this was because of existing duplicates on the volume.

We have check the logs for this rebalance and the files are only attempted to be migrated on a single server. We stopped the rebalance when we noticed this happened, sti

[2022-07-22 04:16] pranithk commented on #3660
@afprobst Could you post output of "gluster volume heal <volname> info summary" output? Is it constantly increasing or is it the same number or decreasing and increasing? Please post the logs.

[2022-07-22 10:50] jkroonza commented on #3659
We just had a similar crash in one of the brick processes, so I don't think this is isolated to fuse, it's just more regular on fuse side.  Unfortunately the stack traces for the brick process is corrupt, but we can confirm SIGABRT.

Will see if we can sort out the backtrace situation.

[2022-07-23 02:41] aravindavk opened #3662 "Some times Gluster Volume info XML returns wrong `distCount`"
Sometimes wrong `distCount` is returned in XML output of Volume info (My initial suspect is after a new Peer addition or after handshake).

Ref: https://github.com/kadalu/gluster-metrics-exporter/issues/29#issuecomment-1192809093

Example XML output: (Above Issue contains full Volume info and Status XML)

[code]

[2022-07-25 02:19] feromax commented on #441
Although this tool is rather hard to find, it is the ONLY way I've found to restore my data from a set of 4 bricks (EC 3+1) that lost all extended attributes as I was changing the underlying filesystem from XFS to EXT4 on my Raspberry Pi's.  I've run into plenty of problems having the SHD and even full volume heals recreate all the needed metadata, so this was my last shot...and it worked.  THANK

[2022-07-25 09:28] anoopcs9 opened #3666 "snapd crashed on opening snapshot directory via gfapi"
**Description of problem:**
While trying to open snapshot directory from a USS enabled GlusterFS volume snap daemon crashed with backtrace(mentioned below).

**The exact command to reproduce the issue**:
[test-snapdir-open.c.txt](https://github.com/gluster/glusterfs/files/9179806/test-snapdir-open.c.txt)
[code]

**The full output of the command that failed**:
[code]
[glfs-client.log](https://githu

[2022-07-25 10:35] smremde commented on #3309
`min-free-disk` does not seem to be functioning correctly, or I have misintpreted it.

We have it set to 0.25% to test, however we are still seeing the `Write will cross min-free-disk for file` messages for the following subvol:

[code]

0.25% of 14.5TB is <40gb - well less than the free space we have so I can't understand why it is having issues.

Needless to say, we have temporarily removed some

[2022-07-26 03:13] #3513 closed, assigned to nobody

[2022-07-26 11:03] mohit84 opened #3669 "Optimize index xlator code path to improve performance for internal/external client"
During running of smallfile for data creation I have observed we have a significant bottleneck at index xlator level,
especially for XATTROP fop. As we know xattrop is an internal fop and used by AFR/EC to retain consistency across
the cluster nodes. After doing so much testing we have found there is a scope of improvement at index xlator to handle
gfid index correctly. After creating some dummy f

[2022-07-26 14:00] pranithk commented on #3669
Didn't understand this part, could you give an example?

[2022-07-26 16:41] itisravi commented on #3669
@mohit84  I did not understand the XFS performance penalty thing. Are you saying that XFS keeps switching between storing the dentries in the inode and storing them in a separate extents as and when the count decreases and increases dynamically (due to heal count fluctuations)? I would assume that this switching happens in the background in some kernel thread. Which FOP did the switching impact? W

[2022-07-27 00:22] mohit84 commented on #3669
We will create 3 index hash tables during xlator init, during index_add it
will save key(gfid+type) in the table if it does not exist and at the same time
the same key is appended in the backend file also. During index_del it will check
if a key exists in the table if it exists, delete a key from the table and append
the key in the backend file also. During index_del it will check if there is no
k

[2022-07-27 00:26] mohit84 commented on #3669
Yes We believe the same, the switching does not happen in the background. During
index_add we do call link syscall and index_del we do call unlink so both
are impacted. For the tests, I observed almost 10-20% performance improvement
in smallfile case sometime the improvement is more than 50% also. The performance
is improved while one of the brick is down

The initial level of data is available be

[2022-07-27 02:51] mohit84 commented on #3669
Below is the perf result after execute a small test case on a single node (1x3)

echo 3 > /proc/sys/vm/drop_caches;/root/smallfile/smallfile_cli.py --operation create --threads 8 --file-size 64 --files 10000 --top /mnt/test;echo 3 > /proc/sys/vm/drop_caches;/root/smallfile/smallfile_cli.py --operation cleanup --threads 8 --file-size 64 --files 10000 --top /mnt/test;echo 3 > /proc/sys/vm/drop_cache

[2022-07-28 11:20] WelldoneIT opened #3673 "quota list all"
**Description of problem:**

**The exact command to reproduce the issue**:

**The full output of the command that failed**:
<details>

**Expected results:**
<details>

**Mandatory info:**
**- The output of the `gluster volume info` command**:

**- The output of the `gluster volume status` command**:

**- The output of the `gluster volume heal` command**:

**- Provide logs present on following loca

[2022-07-28 11:21] #3673 closed, assigned to nobody

[2022-07-28 11:29] WelldoneIT opened #3674 "’quota list all‘ display empty"
**Description of problem:**

When I upgrade gluster version from 3.12 to 6.0 ， 'gluster v quota vol list' display empty , but 'gluster v quota vol list /dir-a' is normal ，after add a new directory to set quota,  'gluster v quota vol list' display normal,  but delete a directory , ‘gluster v quota vol list ’ display empty again.

**The exact command to reproduce the issue**:
quota list

**The full

[2022-07-28 11:41] WelldoneIT commented on #3674
use gdb , find the directory  gfid can be read normal from quota.conf
i find 'cli_cmd_await_response'  there  , a new thread create dnd then quit ， like ：

382             ret = cli_cmd_await_response(timeout);
(gdb) p timeout
$32 = 120
(gdb) n
[New Thread 0x7fff8c3f8700 (LWP 9383)]
[Thread 0x7fff8c3f8700 (LWP 9383) exited]
385         cli_cmd_unlock();

I don't know whether the code here causes

[2022-07-31 05:49] tshacked commented on #3610
There's no feature that migrate file that already exist on the correct brick.

One hack that can work is doing a manual copy:
1 disable `Lookup-optimize`  (glusterfs will search file on all bricks and not only on the hashed brick).
2 copy a FILE from Brick2 (3.4% free-space) -> Brick1 (76.6% free-space)
3 from the mount-point: ls FILE
4 check that a linkto file named FILE created on Brick2 and `tr

[2022-07-31 17:21] strzinek commented on #3546
bump

[2022-07-31 23:39] pranithk commented on #3669
Won't this lead to OOM at some point because of the number of entries in the in-memory hash?

[2022-07-31 23:49] pranithk commented on #3669
Both XFS and ZFS have peculiar behavior w.r.t. directories. On ZFS when the directory becomes big because of pending entries, once heal completes, directory size doesn't shrink to previous levels. Even though there are zero entries in that big directory readdir will still be slow. Now we find that XFS also has optimizations due to which index is performing poorly.

If we want to give uniform perfo

[2022-08-01 01:55] mohit84 commented on #3669
For xattrop/dirty index it consumes 25 bytes per entry(17bytes key + 8 bytes pointer) so for 256M it will save almost 10M
entries. If we do consider 1G per indices directory it will be almost 40M entries which is sufficient.
In case of entry-changes it will take consume more memory, it depends on the entry name if we do consider per entry is taking
almost 256 bytes it will save 1M entries in 256M

[2022-08-01 03:28] WelldoneIT commented on #3674
Can you please give some advice?

[2022-08-01 04:07] pranithk commented on #3669
As per my understanding, if we have brick multiplexing with 64 bricks per machine(Which is what I remember to be the case in the worst case scenario) this method proves to be a costly. Also in our deployment it is ~70-80M files per brick. Is using so much RAM necessary to solve this problem?

[2022-08-01 05:04] mohit84 commented on #3669
We have not considered the solution for brick_mux because i am still not sure the brick_mux feature is used by anyone except the container environment. I agree in the case of hash it increases memory usage but at the same time it will improve performance also. There are some other advantages also if we go with the hash index approach, implementing the readdir operation will be easy. We do need to

[2022-08-01 11:22] xhernandez opened #3677 "Deadlock when multiple clients are deleting the same directory structure"
**Description of problem:**

Under some circumstances, there's a deadlock in the locks xlator when there are multiple clients deleting the same directories concurrently.

**Additional info:**

To explain how the issue happens, first a simplified high level overview of the operations performed during an rmdir:

1. DHT takes a shared lock of the parent inode (inodelk) of the directory to remove in t

[2022-08-01 12:12] xhernandez commented on #3677
The analysis has been done using EC, but in theory the same problem exists with AFR.

The issue could be avoided by sending some inodelk in DHT as internal operations or doing some other small changes, but the problematic part is the way the locks xlator makes sure that deletes are not executed concurrently with other operations. The way it's implemented causes locks from different namespaces to i

[2022-08-02 08:19] davehope opened #3678 "Transport endpoint not connected"
**Description of problem:**
Intermittently, seemingly without any obvious cause, gluster mounts lock and clients receive "Transport endpoint is not connected". This occurs from a brick itself.

**The exact command to reproduce the issue**:
/etc/fstab
[code]

**The full output of the command that failed**:
Any I/O to the mounted volume, e.g. ls.

**Expected results:**
Normal I/O

**Mandatory info:*

[2022-08-02 09:13] mohit84 commented on #3677
Thanks Xavi for solving the doubts, I think you can go with this approach.

[2022-08-02 10:16] xhernandez commented on #3677
Note about the order in which locks are acquired:

The main GFID is always acquired first to make it backward compatible with other bricks/clients that may not be using the new version yet. This theoretically means that one client could try to acquire GFID1 as the main lock and GFID2 as the sibling one, while another client uses GFID2 as the main one and GFID1 as the sibling.

This can easily caus

[2022-08-02 16:22] xhernandez commented on #3677
I've identified a problem when eager-locking is enabled (only in EC, AFR doesn't use eager-locking for non-regular files if I'm not wrong).

The issue is that if the inode has already been acquired before the rmdir it won't include the additional lock, so it will need to be sent as a regular inodelk (this means an additional request, which could cause some performance regression for rmdirs in some

[2022-08-02 16:49] xhernandez commented on #3631
If you have sharding enabled then pretty much all files of a significant size (i.e. all VM disks) will have many shards on each subvolume.

Why do you need to stop the VM's before removing a brick ? using gluster's remove-brick command, files or shards present on the sobvolume to be removed will be automatically moved to other subvolumes even if the VM is online, before finally detaching the brick

[2022-08-03 06:14] yinweiliaojie08 opened #3681 "Kubernetes PVC log cutting out of sync"
Description of problem:
The program in kubernetes PVC automatically performs log cutting, and everything in the container is normal. The newly generated log file inode ID is new, but the new file seen in the gluster storage has been generated, but the inode ID is the file inode ID before cutting, so the log after cutting cannot be synchronized to the gluster storage. After testing, the new file na

[2022-08-03 06:29] xhernandez commented on #3677
After some thinking I've realized that the best way to fix this issue is actually to remove the dependencies between deletes and other operations on the inode being deleted.

A delete is basically an operation on the parent directory, so taking a lock on the parent should be enough. The problem is that Gluster physically deletes the files when delete operations are processed, which means that any

[2022-08-03 06:54] amarts commented on #3677
I agree that, with this model, many other issues of reference also would be handled well. We can confidently work on gfid path for inode reference and path for entry reference, without any concern of other operations taking out the entry itself. Just that posix xlator should get better at stale gfid file cleanup.

[2022-08-03 13:33] kun-lu20 commented on #3655
Hi @amarts , could you please take a look at this issue? Thank you very much!

[2022-08-04 07:17] mohit84 opened #3683 "dht: Cleanup linkto file by rebalance daemon while (hashed|cached) subvol are same"
The rebalance damon has skipped linkto files if it has found hashed and cached subvol are same. Even
It has skipped to cleanup linkto files on decommissioned brick also. Due to this behavior If a user has tried
to run rmdir it gives an error ENOTEMPTY. Thought the issue was already resolved by the patch
(https://review.gluster.org/#/c/glusterfs/+/17065/) but the patch winds a readdirp call on all

[2022-08-05 04:28] #3662 closed, assigned to nobody

[2022-08-05 06:04] mohit84 opened #3685 "dht: Introduce rmdir-optimize option"
Currently, dht_rmdir winds a readdirp call to check about linkto files and if it has found invalid linkto
files then unlink the linkto files. After merging this patch https://github.com/gluster/glusterfs/issues/3683
it is unlikely stale linkto files exist on the backend after rebalance so introduce a new option rmdir-optimize
to ignore linkto file deletion code during rmdir. By default, the option

[2022-08-05 13:01] #3683 closed, assigned to nobody

[2022-08-05 19:33] afprobst commented on #3660
gluster volume heal pool-gluster03 info summary
Brick gluster05:/brick1/pool-gluster03
Status: Connected
Total Number of entries: 367
Number of entries in heal pending: 367
Number of entries in split-brain: 0
Number of entries possibly healing: 0

Brick gluster06:/brick1/pool-gluster03
Status: Connected
Total Number of entries: 367
Number of entries in heal pending: 367
Number of entries in split-

[2022-08-06 00:33] #3685 closed, assigned to nobody

[2022-08-06 04:44] itisravi opened #3688 "Infinite loop in dht when lookup fails with ENODATA"
**Description of problem:**
    When two clients simultaneously create and unlink the same file in a
    loop (stress testing), the client doing the unlink was hung and
    unresponsive to CTRL-C. On examining, it was observed that when
    dht_lookup_cbk() failed with ENODATA (since the other client had created the
    file but not yet set the gfid), it was triggering a recursive loop of
    look

[2022-08-08 10:18] Shwetha-Acharya opened #3693 "(glusterfs-9.6)- GlusterFS 9.6 tracker"
Description of problem:
Tracker for the release 9.6

[2022-08-09 01:45] chen1195585098 commented on #3648
Hi, is this issue solved? I cannot reproduce it, but it seems to be similar to that i have met ever.
If this issue keeps on, can you provide a more detailed procedure to reproduce it?

[2022-08-09 02:11] mohit84 opened #3695 "test: ./tests/bugs/posix/bug-1651445.t is continuous failing during running test suite"
The ./tests/bugs/posix/bug-1651445.t is getting failed continuously while running test suite. The test
case is failing after reaching a situation while brick is throwing an error and after cleanup, the data
as the test case is trying to create a file it is failing.The file creation is failing because the flag (disk_space_full)
is reset after every 5s by a thread posix_ctx_disk_thread_proc.

Soluti

[2022-08-10 02:42] feizai131 opened #3698 "Read socket concurrency causes an error"
This patch removes priv->in_lock.
Change-Id: I26b6ddd852aba8c10385833b85ffd2e53e46cb8c

This modification causes read socket concurrency. Although oneshot is used, the out event will add the socket back to epoll. At this time, the second thread can handle the in event again, resulting in concurrency

What I don't understand is why the socket FD can still receive the out event, and then add the soc

[2022-08-10 02:48] feizai131 commented on #3698
Cannot completely delete in_ Lock, the process of reading socket needs to be reserved and mutually exclusive

[2022-08-10 03:00] feizai131 opened #3699 "In client4_ 0_ readv process, rsp_payload is not used in readsocket"
struct saved_frame {
    union {
        struct list_head list;
        struct {
            struct saved_frame *frame_next;
            struct saved_frame *frame_prev;
        };
    };
    void *capital_this;
    void *frame;
    struct rpc_req *rpcreq;
    time_t saved_at;
    rpc_transport_rsp_t rsp;
};
the Member rpc_transport_rsp_t   in this structure has no process to assign value。so  the _

[2022-08-10 06:38] amarts commented on #3655
@Shwetha-Acharya @rakshithakamath94 @mscherer is it something you guys can help here? A resolution would help a lot. thanks.

[2022-08-10 09:00] mscherer commented on #3655
I do not know enough the code for that, I was hoping to have a dev to look at that, at least to give a hint on where to look.

[2022-08-10 09:19] amarts commented on #3655
I thought the issue happened because of below?

the error in previous snippet

is not an issue to be bothered, as this happens in local setup too.

[2022-08-10 09:51] mscherer commented on #3655
My understanding is that this step happen after the build failed, and it fail because jenkins reboot as part of the build (since when tests fail, they tend to also mess with the build, we usually reboot them)

See https://github.com/gluster/build-jobs/blob/main/build-gluster-org/scripts/regression-abort.sh#L13

So what happen is that the regression test fail, so we clean up the server and reboot.

[2022-08-10 09:56] mscherer commented on #3655
Looking at the code, it fail as it reach a timeout:
[code]

But given it only ran 62 tests out of 832, there is a massive slowdown somewhere, and it can come from either the code (eg, something slow on s390x specifically), or from the infra (eg, we are running that on a cluster of floppy disk, or more likely, on some oversubscribed storage).

I can try to extend the time out to see how long it wil

[2022-08-10 10:31] amarts commented on #3655
Good observation. Lets increase the timeout to 3-4 days for sure. And to start with CPU and I/O observations is good.

@kun-lu20 Any suggestions on this? Is it possible to check for the reasons for delay here? Non of us have any s390x system to run tests.

[2022-08-10 10:58] Shwetha-Acharya commented on #3655
I can see that volume start was failing at commit phase in every test.

19:51:46 ok   5 [     34/    848] <  33> 'gluster --mode=script --wignore --glusterd-sock=/d/backends/1/glusterd/gd.sock --log-file=/var/log/glusterfs/basic_distribute_rebal-all-nodes-migrate.t_cli1.log volume create patchy 127.1.1.1:/d/backends/1/dist1 127.1.1.1:/d/backends/1/dist2 127.1.1.2:/d/backends/2/dist3 127.1.1.2:/d/b

[2022-08-10 11:03] amarts commented on #3655
It would be great if at least one test is run locally on those machines (if possible), and we get the reason for this.

[2022-08-10 11:11] Shwetha-Acharya commented on #3655
@mscherer or @rakshithakamath94 might be able to run the test locally

[2022-08-10 11:55] mykaul opened #3701 "[socket.c:3288:socket_connect] 0-nfs: Error disabling sockopt IPV6_V6ONLY: "Operation not supported""
I'm getting it for every connection. I don't think it's needed, at least on Linux the default is zero anyway.

Example:
[code]

[2022-08-10 12:09] mscherer commented on #3655
For now, I will increase the timeout to 4 days, and see how it goes.

[2022-08-10 15:34] kun-lu20 commented on #3655
Hi @amarts ,

Thank you so much for looking into this issue.

We also tried to run the regression tests from devel branch on local s390x VMs (8 vCPU, 16g vMEM, 250g Storage). All 831 test cases could be completed within 10 hours and only 10 test cases failed.

Currently there are 3 s390x builders in the Gluster builder pool:

- 148.100.84.186: (RHEL 8.4, 2 vCPUs/4GB vMem/50GB storage)
- 148.100.84

[2022-08-11 19:10] olegkrutov commented on #3610
Hi @tshacked,
thank you for your reply. But did you mean "move" instead of "copy"? And do I need to set some xattrs of migrated FILE on destination? Should I copy this file to all replicas manually, or it will be distributed by SHD automatically?
Or, maybe, there is some way to change "proper brick" for a file? But fix-layout does not the trick when new brick is added.
Thank you.

[2022-08-11 19:38] tshacked commented on #3610
Yes, I meant move

No, as this is a manual migration.
On a 2nd thought there's also need to mv file's hard-link from /brick_root/.glusterfs, the full path is according to file gfid xattr.
For example:
[code]

I thought this is a pure distributed volume with 2 bricks.

Before the move backup the file and also umount any client and stop gluster service.
please notice that it is a trial and if it doe

[2022-08-12 06:22] mykaul opened #3706 "Use MSG_ZEROCOPY for network traffic"
https://www.kernel.org/doc/html/v4.15/networking/msg_zerocopy.html has more information, looks like we can benefit from it. For some workloads (QEMU live migration as an example) there was a drastic reduction in CPU usage mainly.

(alternatively is using io_uring for network, btw?)

[2022-08-12 06:34] the-me1988 commented on #2921
headsup

[2022-08-12 06:57] Tensor-Hu commented on #3674
I had the same problem，

[2022-08-12 07:12] babipanghang commented on #2841
So recently I had a possible breakthrough with this issue. For me, this issue only would appear if one particular client pc (windows 10) would delete one or more folders over a samba share (using gluster plugin). Now after some investigation, i found out that this particular computer had some SMB client options set (Set-SmbClientConfiguration in powershell). Unfortunately, i forgot to note which e

[2022-08-13 16:30] mykaul commented on #2921
@the-me1988 wasn't this issue fixed by https://github.com/gluster/glusterfs/pull/2938 ?

[2022-08-13 18:14] mykaul opened #3708 "./tests/basic/afr/afr-no-fsync.t is failing on FSYNCDIR, not on FSYNC"
On a slow enough system (for example, change the 'dd command from bs=1M count=500 to bs=1K count=5000000), we can see FSYNCDIR commands - which I feel are unrelated to the 'dd' command.

A simple fix is to ignore those FSYNCDIR specifically.

@pranithk , @amarts  - do you feel it's the right thing to do? I'm not sure how this test came about looking at those stats. I think it passes on fast disks

[2022-08-14 01:27] pranithk commented on #3708
@mykaul, Interesting who is sending fsyncdir?

[2022-08-14 06:58] mykaul commented on #3708
Still looking...
In the meantime, found this strange code - an fsync to a readonly fd - unsure if it actually does anything:
[code]

(from gf_store_sync_direntry() function)

[2022-08-14 07:20] pranithk commented on #3708
Linux allows fsync on read-only fd as well. Not sure if this is posix compatible though.

[2022-08-14 14:45] mykaul commented on #3708
Changelog, Index, landfill dir, ... I think those are creating directories under .glusterfs and they are seen in the stats.

[2022-08-15 04:42] pranithk commented on #3708
Hmm... but these xlators are supposed to be below io-stats xlator which keeps track of the fops. So if these indeed are the xlators which send the fops, they wouldn't be recorded by io-stats

[2022-08-15 05:40] mykaul commented on #3708
I quickly just disabled the calls and saw less FSYNCDIR, but perhaps that wasn't the root cause. Anyway, changed a bit the test and it seems OK now - see https://github.com/gluster/glusterfs/pull/3709

[2022-08-15 06:24] JamesWSWu opened #3710 "Brick crashes automatically when writing small files"
**Description of problem:**
When we call the script to write a small file, the brick process crashes.
An exception “transport not connected” occurred in the fuse process.

**The exact command to reproduce the issue**:
(1) create the volume with replica 3  and  set quota.
     gluster volume create volume-5G replica 3  gluster-0.gluster-svc.default.svc.cluster.local:/data/glusterfs0 gluster-1.glust

[2022-08-15 06:42] the-me1988 commented on #2921
No, that were other spelling errors. These ones still apply in 10.2.

[2022-08-15 06:56] mykaul commented on #2921
If they do not exist in the devel branch (to be version 11), then a backport to 10.x is required - I don't think it's worth the hassle, but you are welcome to contribute this backport.

[2022-08-15 07:57] JamesWSWu commented on #3710
valgrind log：
[valgrind.log](https://github.com/gluster/glusterfs/files/9335820/valgrind.log)

[2022-08-15 08:16] the-me1988 commented on #2921
Thats already quite a lot of work on "managing bugs" instead of just fixing them: note I provided a patch at the beginning of this bug, nearly one year ago

[2022-08-15 08:32] mykaul commented on #2921
You are right - it is a lot of work. Simply attaching to an issue is appreciated, but may not be enough. But the issue is going to be solved for the next release, right? If that's the case, unless you strongly feel about it, I think we can live with that. If you do feel strongly about the need to fix it in 10.x line, there's no easy path to achieve but to fix it there as well, in a separate PR.

(

[2022-08-16 03:26] zhudongmei opened #3714 "glusterevent service start failed,because webhooks.json is not json format"
**Description of problem:**

glusterevent service start failed,because webhooks.json is not json format
[root@ontroller-1:/var/lib/glusterd/events]$ cat webhooks.json
{}[http://210.0.1.228:1110/storage/v1/tenants/admin/glusterevent](javascript:void(0);)": {"token": "", "secret": ""}}

**The exact command to reproduce the issue**:

'''2022-08-14 23:06:37 [00864] logInfo config_glusterevent try_conf

[2022-08-16 07:09] #3076 closed, assigned to nobody

[2022-08-16 07:33] black-dragon74 commented on #3714
What version of glusterfs are you using? The events api works fine on the latest version (I just tested it). In your case I think the file is manually modified maybe? you can fix it by changing the contents of webhooks.json to:

[code]

Regards

[2022-08-16 07:35] zhudongmei commented on #3714
user run webhook add cmd in several nodes almost at the same time,it  will happen

[2022-08-16 07:40] #2989 closed, assigned to nobody

[2022-08-16 12:26] mykaul commented on #2717
Would be nice to get all those new gfapi calls implemented mentioned in the release 11 tracker.

[2022-08-16 12:32] mykaul opened #3717 "syncop functions: no need to copy iatt structs if you are not going to use them"
In several syncop functions, the iatt is optional. If it's not going to be used, it's OK to pass NULL and skip copying it.

[2022-08-17 01:39] zhangxyue opened #3718 "events: webhooks.json's format may be wrong"
**Description of problem:**
I have 3-replica volume, and each on different node.
each node I run cmd :
gluster-eventsapi webhook-add http://210.0.1.228:1110/storage/v1/tenants/admin/glusterevent
gluster-eventsapi config-set port 24009

Occasionality, I find webhooks.json under /var/lib/glusterd/events is in wrong format. And gluster-eventsapi will fail due to
json.load(open(WEBHOOKS_FILE)).

# cat

[2022-08-17 01:44] zhangxyue commented on #3718
I think the problems caused by concurrent writes.
sync_to_peers and create_webhooks_file_if_not_exists can cause concurrency problems.

[2022-08-17 05:44] #3695 closed, assigned to nobody

[2022-08-17 07:50] mykaul commented on #3659
Do you happen to know if it happens with memory pools disabled?

[2022-08-17 08:11] Shwetha-Acharya commented on #2944
Adding a comment to mark it as !inactive as the associated PR is ready to be merged.

[2022-08-17 10:38] jkroonza commented on #3659
@mykaul I believe memory pools are disabled, from ./configure:

[code]

[2022-08-17 11:04] mykaul commented on #3659
At least some (did not look at all) of the stack traces had the pool sweeper in the traces, so I thought memory pools were enabled there.

[2022-08-17 11:14] jkroonza commented on #3659
Perhaps I'm wrong, is there some definite way to confirm that it's disabled?

The PR you pointed out to me last night (#3226) looks to potentially fix a couple of locking issues in inode.c - imho that could possibly relate here, busy looking to apply that patch series on top of 10.2 in order to perform some basic testing first on my test client, and if that checks out I'll deploy to one of the pro

[2022-08-17 18:40] kun-lu20 commented on #3655
Hi @amarts @mscherer ,

Just now I checked the CI status and found that the whole regression test suite could complete after increasing the timeout, but it took nearly 2 days and many test failures occurred.

I also checked the job scripts [centos8-s390.yml](https://github.com/gluster/build-jobs/blob/main/build-gluster-org/jobs/centos8-s390.yml) and [regression-test-burn-in.sh](https://github.com/

[2022-08-18 05:42] mohit84 commented on #3659
Would it be possible for you try to mount a volume without global-thread, please try io-threads instead of using global-thread for client. You can enable io-threads only for client and avoid to pass global-thread argument for client.

[2022-08-18 07:13] jkroonza commented on #3659
@mohit84 we're not using global threads on the clients, only the bricks:

[code]
I've proceeded to lower client.event-threads to 2 for now.  This may already help reduce the frequency as I believe this is caused by a race condition resulting in memory corruption in some cases, usually resulting in crashes (but sometimes processes that just sits and consumes resources not making any progress).

Fus

[2022-08-18 07:29] mohit84 commented on #3659
Actually, I missed reading stack backtrace, the thread(gf_io_thread_main) was spawned while io_uring is enabled not global-thread, Can you please try after disabling io_uring?

[2022-08-18 09:25] mykaul commented on #3659
Perhaps the client was compiled and deployed separately from the server? (which could explain why it has memory pools, or at least the sweeper, enabled) ?

[2022-08-18 15:17] jkroonza commented on #3659
You referring to compile time options or the runtime options?

uriel [17:13:41] ~ # gluster volume get mail all | grep uring
storage.linux-io_uring                   off (DEFAULT)

Happy to switch two nodes to be compiled with --disable-linux_io_uring if that is what you mean?

[2022-08-18 15:18] jkroonza commented on #3659
No,all clients/servers compiled with exactly the same options.  io-uring however is enabled at compile time as per above, and I have noticed that even with storage.linux-io_uring off some functions still use it.

[2022-08-18 15:50] anoopcs9 opened #3725 "`fgetxattr()` and `gexattr()` returns different errno for `glusterfs.get_real_filename:<name>`"
**Description of problem:**
Return code from _fgetxattr()_ and _getxattr()_ doesn't match when key is `glusterfs.get_real_filename:<name>`. _getxattr()_ returns **ENODATA** and _fgetxattr()_ returns **ENOTSUP** for a non-existent entry.

**The exact command to reproduce the issue**:
[test-get-real-filename.c.txt](https://github.com/gluster/glusterfs/files/9375326/test-get-real-filename.c.txt)
[cod

[2022-08-18 16:37] mscherer commented on #3655
They come from https://github.com/gluster/glusterfs-patch-acceptance-tests

That's installed by our ansible playbooks, just a checkout is enough.

[2022-08-18 16:41] kun-lu20 commented on #3655
Cool. I'll try it. Thanks @mscherer !

[2022-08-18 19:25] mykaul opened #3727 "bug-1432542-mpx-restart-crash test crash:"
Many threads, but the crash is:
[code]

Which is from:
[code]

Which makes sense - priv is NULL. Why? Unsure who already removed it.

Longer thread dump in the next comment.

[2022-08-18 19:36] mykaul commented on #3727
This one looks suspicious, but I couldn't find the same xlator there:
[code]

[2022-08-18 19:36] mykaul commented on #3727
All from https://build.gluster.org/job/gh_centos7-regression/2714/consoleFull

[2022-08-18 19:51] mscherer commented on #3655
And the rest of the ansible playbooks are on https://github.com/gluster/gluster.org_ansible_configuration (if you need the rpms to install, that's somewhere in roles/jenkins_builder, along a bunch of conditional for distros, etc.

[2022-08-19 04:45] mohit84 commented on #3659
You need to disable it during compilation, Yes you need to compile with --disable-linux_io_uring

[2022-08-19 08:31] jkroonza commented on #3659
@mohit84 two our nodes has been completed with this.  Out of hand we can say that the load average for these two nodes have gone up significantly (nearly doubled), we will however have to wait and see if the crash problem has sorted itself out.  So I'll feedback if one of these two nodes should go down again.

[2022-08-19 17:19] mykaul opened #3729 "gf_svc_releasedir() logic error"
The code frees 'sfd' without ever changing it from NULL.

I suspect something like:
sfd = (svc_fd_t *)(long)tmp_pfd;

is missing there.

[2022-08-22 01:45] crkinard commented on #837
Yay. The log files now specify what offset from UTC the entries are. Kind of moot when you can't change the offset of the log files at all so they will always be UTC. Everything else logs in local time going by the system TZ but this software because the dev's seem to absolute refuse to do this.

[2022-08-22 05:03] crkinard opened #3731 "Unable to mount volume at boot."
I am trying to mount a glusterfs volume at machine boot on 4 machines and I am getting nothing but errors when trying to do it. However, if I wait a little while (as little time as it takes me to SSH in) and activate the service by hand it will mount no problem. The issues docker needs this volume to operate and it launches at boot without issue.

Linux rbpi-02 5.15.0-1013-raspi #15-Ubuntu SMP PRE

[2022-08-22 08:30] #3666 closed, assigned to nobody

[2022-08-22 15:00] lvtao-sec opened #3732 "AddressSanitizer: heap-use-after-free"
**Description of problem:**
There is a heap-user-after-free bug in the latest git version 37f6ced36792e42b98160f9cfffdbf307421e155 .

**The exact command to reproduce the issue**:
Suppose we have two GlusterFS servers and one client whose IPs are `192.168.0.30`, `192.168.0.31`, `192.168.0.33`.
1. Start the two servers by executing the following script at the server `192.168.0.30`.
[code]
3. Kill t

[2022-08-22 18:55] dsorber opened #3733 "Metadata synchronization issue with multiple processes writing to the same file"
**Description of problem:**
I am testing a distributed application that uses `flock()` to synchronize multiple processes running on different machines writing to a single output file. The application currently runs using shared output storage that is mounted to each machine using NFS. I am evaluating if the same application can run using gluster for its shared storage needs instead of NFS-mounted

[2022-08-23 02:42] aleksey-ru52 commented on #3445
Hi all.
Facing the same issue. Versions 6.10, 8.5, 8.6. Oracle Linux 7/8, upstream repo.
Thanks for discussing this problem. I will monitor memory consumption and restart glusterd when it uses too much.

[2022-08-23 06:48] Skipper0707 commented on #3445
Hello @aleksey-ru52 you can use Monit, see [here](https://mmonit.com/monit/)

[2022-08-23 08:18] Apollon77 commented on #3445
is it really "glusterd"? For me it turned out that it was glustereventsd which I do not use, so disabling solved it for me

[2022-08-23 08:45] aleksey-ru52 commented on #3445
@Skipper0707 thanks for advice, I'm already using prometheus and/or zabbix.
Simple bash script in cron is using prometheus exporter metrics to monitor memory and restart glusterd.

@Apollon77
prometheus:
gluster_resident_memory_bytes{name="glusterd",instance="node1"}		2053251072
gluster_resident_memory_bytes{name="glusterd",instance="node2"}		9038323712
gluster_resident_memory_bytes{name="glusterd

[2022-08-23 08:56] Skipper0707 commented on #3445
Hello, @Apollon77 is it possible for you to share how you found out it was `glustereventsd`? My aim is to follow your tracing process and see if it's the same case for me.

[2022-08-23 11:39] mohit84 opened #3734 "io-stats: Introduce FOP_HITS_PER_SEC in (client|server) profile data"
Currently, glusterfs profile does not provide any metrics to measure what is the fops
handling rate per second?  Sometimes a user/developer can be interested to
monitor this value.

Solution:  Analyze the FOP_HITS_PER_SEC during profile capture based on the
                last time duration interval divided by a total number of fop hits during that duration.

[2022-08-23 19:40] jkroonza commented on #3659
Report back, since post above:

node 1 (with iouring):  2 crashes
node 2 (with iouring):  no crashes
node 3 (without iouring): 2 crashes
node 4 (with iouring): no crashes

So there is no definitive answer on whether or not iouring makes a difference in my opinion.  Perhaps the two non-iouring crashes contains additional information, so attaching:

[stack-20220821-152638-core-glfs_epoll000.31304.16

[2022-08-24 08:18] Shwetha-Acharya opened #3738 "rsync should not try to sync internal xattr trusted.SGI_ACL_FILE"
2022/08/17 09:52:08 [23106] rsync: get_xattr_data: lgetxattr(""/proc/5290/cwd/.gfid/f06eba0d-16f9-4ed0-a011-6a0a482770b7"","trusted.SGI_ACL_FILE",0) failed: No data available (61)
2022/08/17 09:52:08 [23106] rsync: rsync_xal_set: lsetxattr(""/proc/5290/cwd/.gfid/0f97769c-ad7c-4ec7-bcd6-56c5cfe975bd"","trusted.SGI_ACL_FILE") failed: Operation not permitted (1)

[2022-08-24 11:31] mohit84 commented on #3732
What are the compilation flags you have used to compile the code?
I have tried to reproduce the issue with default flags. I am not getting any crash.

[2022-08-24 11:44] lvtao-sec commented on #3732
Hi @mohit84 , thanks for your reply.
The configuration flags are: `./configure --disable-linux-io_uring --enable-asan`
Please also set the ASAN_OPTIONS environment as `ASAN_OPTIONS="log_path=~/asan-log"`. Once the use-after-free bug is detected, the crash stack trace is written into `asan-log` file. Otherwise, there is no crash stack shown in the terminal but only the client daemon crashes and exi

[2022-08-24 18:44] mykaul opened #3742 "dht_fd_ctx_set() logic error"
See line 88 below:
[code]

[2022-08-24 18:45] mykaul commented on #3742
Fixed by https://github.com/gluster/glusterfs/pull/3730 (once merged)

[2022-08-24 18:46] mykaul commented on #3729
Fixed by https://github.com/gluster/glusterfs/pull/3730 (once merged)

[2022-08-26 11:58] lvtao-sec commented on #3732
Hi @mohit84 , thanks for patching it. I'm new to GlusterFS and thus still don't fully understand the internals of this vulnerability. I'll appreciate it if you could answer my following confusion to help me understand the logic behind this bug:
- Why is `client4_0_removexattr_cbk` called three times (once at read and twice when freeing the memory) in the thread T6 shown in the above stack trace? A

[2022-08-26 14:41] marnixgb opened #3746 "Cannot do geo-replication or brick addition between Glusterfs (v9.6) servers where one server is centos7 and the other is rocky8"
**Description of problem:**

Using glusterfs9 on centos7 attempting to add brick to cluster or geo replicate with glusterfs9 on rocky8 (centos 8/rhel8) fails reliably (centos7 to centos7 or rocky8 to rocky8 works fine)

**The exact command to reproduce the issue**:

on geo rep node (slave) - centos7

[code]
on master node : (rocky8)

[code]
**The full output of the command that failed**:
<details>

[2022-08-27 09:05] jkroonza commented on #3659
Following up again, since making the switch:

node 1 (with iouring): 4 crashes
node 2 (with iouring): 4 crashes
node 3 (without iouring): 2 crashes (same two from previous post)
node 4 (without iouring): no crashes (was incorrectly labeled as with iouring above).

So I'm sondering if perhaps I missed killing two hung processes on node 3 that just crashed much later.

Updating all nodes to no uring

[2022-08-27 14:39] mykaul commented on #1874
https://github.com/gluster/glusterfs/pull/3617 should fix it, I hope.

[2022-08-28 06:23] Sathyam-Unicommerce commented on #1373
Facing same issue frequently

[2022-08-28 10:27] yasalos commented on #3746
Can you check if GlusterFS version is the same on Rocky Linux (I think it should be version 10.2). If that's the case, I dont know if it's related, but Gluster 10 introduced some changes on the output of some commands related to geo-replication and maybe one node is not able to parse the output produced by other version.
Try to run the command "gluster volume geo-replication status --xml" on your

[2022-08-28 17:59] marnixgb commented on #3746
Both nodes are running gluster 9.6 (one on rocky8 and the other on centos7) - sorry if I didn't make that clear

This is the thing that causes me the most concern - I really woudn't expect interoperability issues on the same version (irrespective of platform)

Output of gluster volume geo-replication status --xml on master node :

[code]
The above cannot be run on the slave node so not sure how us

[2022-08-28 18:30] fredericmoulins opened #3750 "Bash completion is loaded every time bash starts"
**Description of problem:**

The bash completion script in `/etc/bash_completion.d` is loaded on every bash startup by bash-completion and takes some time to execute (some ~20ms on a 10+ year old machine).

**The exact command to reproduce the issue**:

[code]

**Expected results:**

The completion script can be dynamically loaded by [bash-completion] if placed in `/usr/share/bash-completion/compl

[2022-08-29 11:51] jkroonza commented on #3659
Whilst things may be less frequent, we're definitely still seeing problems on this front.

[2022-08-29 13:56] mykaul commented on #3659
I don't think it has to do with iouring, looks like a memory corruption to me (which of course is harder to pinpoint), from looking at some of the traces.

[2022-08-29 14:03] mykaul commented on #3659
Can you disable open-behind? Just a wild guess, based on seeing it on multiple traces - nothing specific.

[2022-08-29 14:36] jkroonza commented on #3659
Unless there are multiple settings it already is:

[code]

However, just noticed that as usual there seems to be multiple settings that seems to need to be set in conjunction to achieve a single purpose, where one could do:

[code]

I've now enabled performance.open-behind-pass-through:

[code]

Not seeing an auto-reload in the logs ... and it takes me several hours to drain a single server by rem

[2022-08-29 14:37] jkroonza commented on #3659
I agree with this, which is why your other PR where there are changes w.r.t. locking in inode.c looks interesting.  I *suspect* the corruption is in inode.c, for no good reason other than there is in my opinion a definite correlation between crash frequency and lru-limit.

[2022-08-29 20:06] crkinard commented on #3731
Found a bit of a work around.

[2022-08-30 02:07] Tensor-Hu opened #3754 "’gluster v quota volname list‘ display empty; xdr or rpc reply error！"
**Description of problem:**
 'gluster v quota vol list' display empty , but 'gluster v quota vol list /dir-a' is normal ，after add a new directory to set quota, 'gluster v quota vol list' display normal, but delete a directory , ‘gluster v quota vol list ’ display empty again.
In recall function ' cli_quotad_getlimit_cbk',req->rpc_status was  assigned a value of -1. So So we delved into debugging

[2022-08-30 09:04] #3725 closed, assigned to nobody

[2022-08-30 13:18] mykaul opened #3761 "tests/line-coverage/cli-negative-case-and-function-coverage.t random failure - due to race in graph being active"
[code]

and it's really happening because of a race - the graph is not active yet:
[code]

It might just take few more seconds.

[2022-08-30 14:01] foss4ever opened #3762 "Rename glusterfs volume"
How can I rename an existing glusterfs volume?

Maybe this isn't possible currently, in which case I will create a feature request and close this issue.

[2022-08-31 10:01] mykaul opened #3766 "tests/basic/distribute/spare_file_rebalance.t test failure: cannot lseek 'sparse_file': File descriptor in bad state"
Unsure of the reason yet:

[code]

log:
[code]
Fedora 36, latest.

[2022-08-31 15:06] mykaul commented on #3766
To my surprise, this is not a regression and also happens on Gluster 10.x (on my Fedora 36).

[2022-08-31 15:06] mykaul commented on #3761
'sleep 5' or so helps...

[2022-08-31 19:51] uwalkin opened #3767 "GlusterFS 10 upgrade path from 6"
I haven't found any authoritative information on whether online upgrade compatibility is given between version 6 and version 10. From everything I've read about cluster.op-version and the upgrade directions for version 10, it seems like compatibility from version 7.X is definitely given, but I would like to find out whether the online upgrade procedure is also compatible with a volume running on n

[2022-09-01 08:20] Shwetha-Acharya commented on #3767
You could upgarde to any of the supported upgrade paths like 8.X or 9.x from 6.x first and then upgrade to 10.x

[2022-09-01 13:24] #2944 closed, assigned to nobody

[2022-09-02 06:51] zemzema commented on #3674
Same problem here, I'm using glusterfs 9.5, fleshly installed (CentOS7).

[2022-09-02 08:17] mykaul opened #3772 "tests/basic/ec/ec-data-heal.t test failure (Fedora 36, devel branch)"
The test fails with:
[code]
Log:
[code]

[2022-09-02 08:45] marnixgb commented on #3746
Any chance of an update on this please. Geo replication is an important part of our DR plan. If I can't progress this I may need to revert to glusterfs version 7

[2022-09-02 22:37] rafikc30 opened #3774 "Dead Lock In Brick Process"
**Description of problem:**
We are observing a deadlock in the brick process, which eventually blocks all worker threads. Since we had global thread pool enabled, it wasn't able to process ping requests too, hence causing a total outage on bricks.

**The exact command to reproduce the issue**:

We are using an application that heavily uses posix including lock interrupt.

**The full output of the

[2022-09-03 07:18] busishe opened #3776 "how to heal data missed brick when volume created in mode replica (with no arbiter)?"
My volume has 3 replica with no arbiter.I mount this volume to a remote server ,the remote server's fstab file is like :

`node1:/vol_test /mymount-point glusterfs defaults,_netdev,backup-volfile-servers=node2 0 0 `

I wrote some data in the mount dir.Node1-3's brick dir all saved successfully.
I ssh to the node 3,delete the file in /var/lib/heketi/mounts/vg/brick/brick to simulate node3 breakdown

[2022-09-05 05:11] mohit84 opened #3778 "test: Increase timeout for ./tests/basic/distribute/spare_file_rebalance.t"
The test (./tests/basic/distribute/spare_file_rebalance.t ) is not finished win default time(200s), It is taking
time while a test is calling seek at 2M offset and trying to copy sparse file. I have executed 20 times on
softserve VM but it is not taking time, It seems it is an environmental issue.

To pass regression jobs increase the timeout to 300s

[2022-09-05 09:35] #3778 closed, assigned to nobody

[2022-09-05 14:12] handrea2009 opened #3780 "lseek SEEK_DATA - File descriptor in bad state"
**Description of problem:**
lseek SEEK_DATA fails and return the error EBADF

The same lseek command on the file in the brick (instead of the file in the gluster volume) works

**The exact command to reproduce the issue**:
[code]

The issue and python script is the same as the one in https://github.com/gluster/glusterfs/issues/894
Setting performance.open-behind to off doesn't fix the issue.
[code

[2022-09-05 22:24] csabahenk opened #3781 "Prime time client-only access control"
Access control can be executed either on client or server side... or both... which is the typical case.

It's an architectural feature of Glusterfs that all authenticated clients are trusted in the sense that they are capable to incur any change to the assets held by the server. The server and clients constitute a single domain of security. Therefore it is sufficient to guarantee a single point in

[2022-09-06 02:08] Never-zh opened #3782 "Timeout is returned when querying status, creating, deleting, starting and closing"
**Description of problem**

Directly operate gluster to create, delete, start and close volumes. However, the return status will timeout

**The exact command to reproduce the issue**:

##gluster volume create t1 node1:/data/t1
Error : Request timed out

##gluster volume list
t1

##gluster volume start t1
Error : Request timed out

 ##gluster volume info t1
Volume Name: t1
Type: Distribute
Volume I

[2022-09-06 06:49] #3774 closed, assigned to nobody

[2022-09-06 07:47] xhernandez opened #3785 "open-behind should be disabled by default"
**Description of problem:**

When open-behind is enabled, bricks don't really see the open request until another request that requires the fd is sent by the user. At that time, open-behind first opens the file and then executes the related request.

This is bad when the file is deleted before the actual open.

For example, an application doing an open() followed by an fstat() will see an ENOENT or

[2022-09-06 07:48] xhernandez commented on #3785
@amarts @pranithk @mohit84 what do you think ?

I would say that we could just remove open-behind, but at least we need to disable it by default.

[2022-09-06 08:02] handrea2009 commented on #3780
One more really odd behavior of gluster related to seek_data (see below). This issue appears suddenly, after that any file that is renamed in "test3" fails the seek_data

[code]

[2022-09-06 08:39] amarts commented on #3785
the open file descriptor usecase is very common. My take is, we should disable open-behind by default (Actually I thought its disabled by default already).

[2022-09-06 09:02] mohit84 commented on #3785
I think before disabling it we can generate the perf number also then we can take a decision.

[2022-09-06 09:07] xhernandez commented on #3785
What's this common use case ? anything that requires almost any other operation after open, won't avoid the open, so the latency we are saving in the opening is being lost in the next operation.

If I'm not wrong, it's only useful for small-file read-only workloads when quick-read is also enabled and the size of the file is, at most, the size of the quick-read buffer (64 KiB).

However quick-read

[2022-09-06 09:08] xhernandez commented on #3785
I would say that's not an option when the behavior is not correct. Even if performance regresses, keeping open-behind enabled is not posix compliant.

However it could be interesting to see the differences.

[2022-09-06 09:12] xhernandez commented on #3785
Now that I re-read it, I think I misinterpreted your comment. The common use case you refer to is to access open file descriptors after having deleted the original file, right ?

[2022-09-06 10:32] foss4ever opened #3786 "GlusterFS support for Debian 10"
I'm managing 3 GlusterFS clusters running on Debian 10 VMs and I would like to find out for how long GlusterFS will keep supporting / providing updates for Debian 10 platform?

**- The operating system / glusterfs version**:

glusterfs-server 10.2-1
Debian 10 LTS (Linux 4.19.0-21-amd64 #1 SMP Debian 4.19.249-2 (2022-06-30) x86_64 GNU/Linux)

[2022-09-06 12:05] hifilove opened #3787 "SC2081:[ .. ] can't match globs. Use [[ .. ]] or grep."
use shellcheck and check one  problem :
./var/lib/glusterd/hooks/1/add-brick/post/disabled-quota-root-xattr-heal.sh:109:26: error: [ .. ] can't match globs. Use [[ .. ]] or case statement. [SC2081]
https://github.com/koalaman/shellcheck/wiki/SC2081

[2022-09-06 12:18] amarts commented on #3785
yes. It is used in tests, it is used by some applications etc.

[2022-09-06 13:17] mykaul commented on #3780
@handrea2009 - so it may or may not fail, based on the file name?

[2022-09-06 13:31] handrea2009 commented on #3780
I can't say for sure, but currently on my test system the seek_data fails on any file named test3.
I have also recreated the gluster volume (stop, delete, create, start) and still seek_data on file name test3 fails.
Fails also on file named test30, but it works on file named test43

[2022-09-06 13:34] mykaul commented on #3780
Yes, so I think we might be seeing the same issue - the SEEK FOP for some reason going to the wrong brick.

[2022-09-06 13:35] mykaul commented on #3780
And as @xhernandez pointed it - looks like https://github.com/gluster/glusterfs/issues/3373 .

[2022-09-06 14:00] handrea2009 commented on #3780
Indeed my logs seems top confirm it:
[code]

[2022-09-06 14:20] handrea2009 commented on #3780
My understanding is that the issue appears when you have more subvolume, so ti shoudln't be present when you have only one brick per volume. If it so I could use only one brick per volume as a work-around

[2022-09-06 20:59] Kazz3r24 opened #3790 "DHT anomalies after adding brick with fix-layout"
**Description of problem:**
Do you guys have a Discord server? I'm finding it extremely difficult to find any support for Glusterfs...

After running into a problem with adding a brick and neglecting to run the rebalance command, I deleted my gluster config and started it from scratch. I confirmed all files that were on the second brick were transferred over to the main brick and verified the file

[2022-09-07 00:25] Kazz3r24 commented on #3790
No clue where the issue is... I used to use this pretty flawlessly, now when I try to add a brick I'm getting duplicated folders and files. Only in the gluster mount, the data itself is fine...
I'm at a complete loss, no clue how to fix this. I've tried blowing the whole configuration away on both nodes and rebooted, even uninstalled and purged glusterfs. This makes zero sense.
Everything is "fine

[2022-09-07 01:02] Kazz3r24 commented on #3790
I feel like all I can do is laugh right now... I only ever doing anything with gluster through the main node, it's seeing the duplicate folders with LS, but if I go to LS one of the duplicate directories it only sees one and the file is fine.
When connecting with the client, so far I appear to be seeing everything normally.

Again, at a loss - I'm basically hoping for the best at this point. I've

[2022-09-07 01:23] Kazz3r24 commented on #3790
For whatever reason, even the client is having problem.
200T storage available but the client only sees the primary node. Both are up and available. Client only sees 109T... I've rebooted, as well as purged and reinstalled glusterfs on the client.

Please help?

[2022-09-07 04:50] mohit84 commented on #3785
We are seeing regression for read fop

[code]

[2022-09-07 06:12] amarts commented on #3790
Is both servers connected to client? Check if both server process (ie, brick process) are running by `gluster volume status`.

df not showing space looks like a case of not having connection properly made.

If you have issues only in existing directories, can you check creating a new directory, and if that also results in duplicate entries within ?

[2022-09-07 07:08] Shwetha-Acharya opened #3793 "tests/bugs/replicate/bug-1586020-mark-dirty-for-entry-txn-on-quorum-failure.t fails with no space left on the device"
17:12:03 ok  19 [     13/     75] <  50> '_GFS --attribute-timeout=0 --entry-timeout=0 --volfile-server=172.31.14.233 --volfile-id=patchy /mnt/glusterfs/0'
17:12:03 volume set: success
17:12:03 dd: error writing ‘/mnt/glusterfs/0/file9’: No space left on device
17:12:03 not ok  20 [   5527/      3] <  62> '! ls /d/backends/patchy0/file10' -> ''
17:12:03 not ok  21 [     12/      3] <  63> '! ls /d

[2022-09-07 07:09] Kazz3r24 commented on #3790
I have the two nodes connected to each other, then the main is connected to the client. In the client logs, I can see in the info that both nodes are there. I'll have to wipe the logs and get clean ones.
gluster volume status shows both nodes are online.
Here's a snippet from the client log. It's too large to be uploaded here.

[2022-09-07 01:22:08.855254 +0000] I [MSGID: 100030] [glusterfsd.c:276

[2022-09-07 07:11] mohit84 commented on #3793
@karthik-us Can you please check this

[2022-09-07 07:35] amarts commented on #3790
Suspect  below two options:

`performance.parallel-readdir`, and `performance.readdir-ahead`. Can you set them to 'off' and then see if it makes any difference?

[2022-09-07 08:29] xhernandez commented on #3785
This is with 64 KiB files, right ? can it be tested with bigger files ?

It's certainly a significant regression. However with this option enabled applications may not work correctly. I think correct operation is top priority, even above performance.

As an alternative we may try to optimize this case in another way without breaking functionality. Some ideas that come to my mind:

* Modify quick-r

[2022-09-07 12:01] Shwetha-Acharya commented on #3786
We are currently maintaining 3 most latest releases all the time.

Debian 13 (Trixie) Release date is not yet announced while the Debian 10 has LTS till 2024 https://wiki.debian.org/LTS

Once the Debian 13 is released, we will take call if Debian 10 is to be supported anymore. @kalebskeithley do you see clear picture regarding this?

[2022-09-07 12:56] karthik-us commented on #3793
@Shwetha-Acharya no space left on device error is expected in the test case as we are trying to simulate an entry creation failure on 2 bricks by filling them to the limit. Seems like the recent change in https://github.com/gluster/glusterfs/pull/3637/ changed the way how we are checking the entry creation failure. I think due to that it is failing. Posted a fix which hopefully should fix it.

[2022-09-07 13:20] Kazz3r24 commented on #3790
Ok, I've turned them off. What will be the best way to tell if this made a difference? Should I re-run the rebalance with fix-layout?

Thank you for your time, I greatly appreciate it.

[2022-09-07 13:32] Kazz3r24 commented on #3790
Sorry if this spams you, I've been literally thinking about this all night. I fixed the issue where the client wasn't seeing the total size of glusterfs, I didn't realize that the client needed to be directly connected to both server nodes - I had the client directly connected to only the main, then it was connected to the other server node via sfp. After directly connecting both nodes to the clie

[2022-09-07 14:12] amarts commented on #3790
yes

Running rebalance multiple times is not a problem, and doesn't cause any issues with data. So, I would recommend running it again.

[2022-09-07 14:14] Kazz3r24 commented on #3790
Ok, thank you. Running it again with fix-layout now.

I'll keep you posted! :)
Thank you again so much

[2022-09-07 14:34] Kazz3r24 commented on #3790
Rebalance is done, looking beautiful so far. I'm just reading through it to see what failed.
I'm seeing some failed entries like this, I'll just check those files and replace them as necessary.

[client-rpc-fops_v2.c:2618:client4_0_lookup_cbk] 0-vol1-client-0: remote operation failed. [{path=/Books/Calibre/Deathworld (1357)}, {gfid=00000000-0000-0000-0000-000000000000}, {errno=61}, {error=No data

[2022-09-07 14:42] Kazz3r24 commented on #3790
I'm realizing as I skim through that the failed entries so far are only my books and the proper folder structure they should be following is Calibre/<Author>/<Book> so there shouldn't have been data there anyways unless it's just residual from when I rebuilt my Calibre library. Haven't gotten to the most important parts yet, so once I confirm they're good, I can purge my books and move them onto t

[2022-09-07 14:48] Kazz3r24 commented on #3790
Okay, so far so good. There's only a couple of directories that were seen as anomalies, is there an easy way to fix this? Can I simply move the folders off the volume then back on to correct this? Assume there's actually data there.

Confirmed the data is there for the anomalies at least on the brick itself. The data appears in the mount point as well (had to remount). I'll run rebalance again jus

[2022-09-07 15:15] Kazz3r24 commented on #3790
Just as a "for instance" here is one of the files that is anomalous but the file is present on the mount point.

My books library is foobarr'ed so I'll have to start that again (not a gluster issue), but that's no problem.

[2022-09-07 14:20:39.622199 +0000] I [MSGID: 109060] [dht-layout.c:565:dht_layout_normalize] 0-vol1-dht: Found anomalies [{path=/Movies/20th Century Women (2016)}, {gfid=000000

[2022-09-07 17:36] Kazz3r24 commented on #3790
Ok, so I purged the Calibre directory and deleted the volume as well after safely disconnecting and detaching the second node.
After rebuilding the volume without the performance tunings and a cleared out Calibre directory now everything is rebalancing nicely with no anomalies. Even the movie and some additional anomalies are no longer present.

I'll slowly rebuild the calibre library to ensure th

[2022-09-07 20:37] Kazz3r24 commented on #3790
The duplicates are currently only being seen by the main node and the client. The second node sees the directory normally.
From within the mount point if I do mkdir or touch test.txt this works fine. So far the problem occurs when I try to copy files over sftp to the mount point on the primary node that the duplicates occur. I haven't tried to do this from the client because I mainly want it to be

[2022-09-07 20:59] Kazz3r24 commented on #3790
Sadly stopping the volume, restarting glusterd and remounting the volume didn't fix the duplicates on the client and primary.

After inspecting a bit further, the files themselves are on the secondary node where everything is showing up fine. The duplicate entries are showing on the main node in the mount point. Doing ls in the directory shows the files properly and there's only one copy. It's onl

[2022-09-08 01:08] hifilove commented on #3787
I think double square brackets should be used here, because the regular expressions used by the program here are

[2022-09-08 05:24] #3793 closed, assigned to karthik-us

[2022-09-08 10:21] xhernandez commented on #3780
With just a single DHT subvolume (i.e. a pure replicated volume, not a distributed-replicated one), this problem shouldn't happen.

[2022-09-08 11:28] #3693 closed, assigned to nobody

[2022-09-08 12:57] Shwetha-Acharya commented on #3746
Please check /var/log/glusterfs/geo-replication/<primary_ip_secondary>/gsyncd.log on both primary and secondary node, it might give you some clue.

Have you tried add brick on a running geo-rep session?

[2022-09-08 17:10] mykaul opened #3797 "cdc xlator improvements"
- [x] The default for min_file_size should not be 0 - we really should not bother with compressing files < 1K files or so.
- [x] The default compression level is too high - zlib isn't that great anyway (performance-wise), so we should use the fastest possible
- [x] deflateInit2() is called repeatedly (within do_cdc_compress() function) instead of once (in cdc_compress() function)
- [ ] It seems to

[2022-09-08 18:14] Kazz3r24 commented on #3790
I'm closing this issue off as I haven't received any further responses... I ended up deleting the volume and starting it again with my books library already in place. Problem solved.

What's the best method for getting support for this in the future? A RedHat subscription?

[2022-09-08 18:14] #3790 closed, assigned to nobody

[2022-09-09 06:22] #3738 closed, assigned to nobody

[2022-09-09 06:23] #3767 closed, assigned to nobody

[2022-09-09 06:57] Shwetha-Acharya opened #3799 "tests/bugs/glusterfs/bug-866459.t fails on regression"
22:32:37 -rw-r--r--. 1 root root 917504 Sep  8 17:02 /mnt/glusterfs/0/a
22:32:37 not ok  13 [     29/      3] <  38> '45ac83802de716114306d9fa1c459380 echo f7b8dc6cb30514bd61cd5dad49023c31' -> 'Got "f7b8dc6cb30514bd61cd5dad49023c31" instead of "45ac83802de716114306d9fa1c459380"'
22:32:37 ok  14 [     13/   2119] <  41> 'gluster --mode=script --wignore volume stop patchy'
22:32:37 ok  15 [     13/

[2022-09-09 07:55] xhernandez commented on #3799
This is the expected result after a self-heal, so maybe we should give some time for self-heal to complete.

[2022-09-09 09:12] foolstrong opened #3800 "fail to start gluster-ta-volume.service"
**Description of problem:**
I install some glusterfs packages(glusterfs, glusterfs-events, glusterfs-server, glusterfs-thin-arbiter ....), version 10.0, and start gluster-ta-volume.service, but the status of service is failed, i found the path of thin-arbiter.vol not exist in gluster-ta-volume.service unit, it is true things to be in /etc/glusterfs as the source code write.
![image](https://user-i

[2022-09-09 09:16] csabahenk commented on #3781
Update on "technical feasiblity": it turned out that _client.send-gids_ does not work as advertised; @xhernandez has diagnosed the issue and will send a fix.

[2022-09-11 06:36] mykaul commented on #3210
inode table's name_hash hash table might be an interesting candidate to turn use linear probing instead of linked lists.

[2022-09-11 23:11] olegkrutov opened #3803 "Volume becomes unresponsive when data is being written onto it via FUSE, same shard located on 2 instances of same subvol according to vol log"
**Description of problem:**
I applied https://github.com/gluster/glusterfs/pull/2304 and https://github.com/gluster/glusterfs/pull/3720 to gluster 10.2-1 on debian 11, created distributed volume with sharding enabled and run a script that creates files of fixed size (100MB) and then checks their crc32 and size (https://github.com/gluster/glusterfs/issues/2246#issuecomment-796708460). I noticed tha

[2022-09-11 23:13] olegkrutov commented on #3803
[gluster_shard_logs.tar.gz](https://github.com/gluster/glusterfs/files/9543699/gluster_shard_logs.tar.gz)

[2022-09-12 02:21] drewc89 opened #3804 "Glusterfind: Rename operation missing after performing Modify"
**Description of problem:** When modifying a file after it has been renamed, glusterfind only shows MODIFY operation, no RENAME reported.

**The exact command to reproduce the issue**:
glusterfind post ...
mv file1 file1new
mv file1new file2new
edit file2new with tool of your choice
glusterfs pre ...

**The full output of the command that failed**:
MODIFY file2new

**Expected results:**
RENAME fil

[2022-09-12 08:49] xhernandez commented on #3669
There is one important thing to consider here:

The data needs to be present on disk to be able to recover from crashes in all cases without risking losing the marks that tell self-heal that a file has been modified.

This is true for the existing solution or for any solution we can implement.

The first implication of this is that we need to force data to be on disk before allowing any operation

[2022-09-12 08:55] #3394 closed, assigned to nobody

[2022-09-12 08:57] mykaul commented on #3173
Another item:
[code]
Could be changed to actually instead of returning 'ret', returning 'bufp' - if it's NULL, the function failed, otherwise, it succeeded.

(just like other places in the code - functions can under certain condition just return the relevant object instead of a ret code. If it's NULL, it's no use to us and the function failed).

[2022-09-12 09:50] xhernandez commented on #3210
After some investigation I've made related to other issues (#2717 and #3677), I've realized that the way we are using dentries is unsafe.

We don't have a strict way to invalidate inodes and its entries (mostly because invalidations and forgets are sent and executed asynchronously), but we construct paths based on the cached inodes. This basically means that the paths we construct may point to a f

[2022-09-13 04:57] mohit84 commented on #3785
Yes the file size is 64KB.

[2022-09-13 15:33] xhernandez opened #3812 "Fix inconsistencies caused by the current inode lifecycle management"
# Description of problem

Gluster has had some consistency issues when a file is being deleted and some other operation is being executed on its inode at the same time. This caused inconsistencies mostly on bricks from replicated and dispersed volumes. There have been several attempts to fix them, and the situation has improved over time. However we have reached a point where some problems cannot

[2022-09-13 15:41] xhernandez commented on #3812
@amarts @pranithk @mohit84 @gd @mykaul @sunilheggodu

I would like to know your point of view and start the discussion on what's the best way to fix the issues. Do you think there's any alternative way to solve the problems ?

[2022-09-13 15:46] mykaul commented on #3812
How do we handle backward compatibility and upgrade?

[2022-09-13 21:04] xhernandez commented on #3812
I've thought about it, but I don't have enough detail about the required changes to know the implications for upgrade and backward compatibility.

The good thing is that most of the changes are big but contained in a single process. All the signature changes are completely transparent outside the process, so clients and servers of different versions should work fine.

The inode reference counting

[2022-09-14 05:56] mohit84 commented on #3812
Thanks Xavi for the detailed description. I think after taking reference on the brick side we would be able to solve
multiple consistency problems on the client side specific to read/access based fops but the challenge is to
maintain consistency because It will be a network operation. As we know there are issues with lock xlators, I am not sure how we will maintain consistency during disconnect. T

[2022-09-14 06:33] xhernandez commented on #3812
We can think more about this, but I would say that we can do the same we do now: When a brick disconnects any reference it was holding will be released. This might mean that an inode will be deleted and won't be present when the client reconnects. However, if this is a replicated or dispersed volume, self-heal should recreate it. As an optimization we could have a grace time before deleting inodes

[2022-09-14 06:49] mohit84 commented on #3812
Yes, I am referring to the deadlock issue in the lock.

  Yes, I mean to say on both sides we can implement first to manage reference because our current problem will solve
   after this. right.

  ok

[2022-09-14 12:39] ndTEC opened #3814 "scrub status request timed out"
**Description of problem:**

After upgrade from 8.6 to 9.4 the command to get status of bitrot is not working

**The exact command to reproduce the issue**:
gluster volume bitrot gvol0 scrub status

**The full output of the command that failed**:
Error : Request timed out
<details>

**Expected results:**
Status of bitrot
<details>

**Mandatory info:**
**- The output of the `gluster volume info` co

[2022-09-14 13:38] marnixgb commented on #3746
Thanks for your attention on this, apologies for the delay in responding

I deleted the geo replication session and started again with it - these were the resulting logs following a push-pem and start of the new geo replication session

Master log (Rocky8) :

[code]

Slave Log (Centos7) :
[code]

[2022-09-14 14:22] #3729 closed, assigned to nobody

[2022-09-15 06:31] Shwetha-Acharya commented on #3746
what is the python version you are using?

[2022-09-15 07:22] marnixgb commented on #3746
The packaged version, from the centos SIG based repo, python3 on rocky8 and python2 on centos7 :

Master (Rocky8)
[code]
Slave (Centos 7)
[code]

[2022-09-15 15:40] kun-lu20 commented on #3655
Hi all,

I've followed the steps in scripts `build.sh` and `regression.sh` from https://github.com/gluster/glusterfs-patch-acceptance-tests to run the regression tests on a local s390x VM (similar quota to our s390x builder), but I haven't observed the `volume start` failure at our end.

Below is the result of one of the test cases:

[code]

When comparing it to the same test case in the CI test l

[2022-09-15 16:25] anwiev opened #3817 "Invalid cross-device link while writing"
**Description of problem**:
Hello, dear community,
We are facing a strange error and cannot reconstruct why this is happening.
The main error - we are not able to write to Gluster as a FUSE filesystem, but we can read from it.

**The exact command to reproduce the issue**:
We are receiving different odd errors “Invalid cross-device link”, “Stale file handle”, and “No such file or directory”, and G

[2022-09-16 09:40] marnixgb commented on #3746
I had wondered about the python version being different in the centos7 package as a possible reason for incompatibility so I decided, after your query, to experiment with building from source on centos7 against python3.

This appears to have solved the issue, I've put the build steps below for those interested who may also come across this issue. Note that its important to configure the build to m

[2022-09-19 08:44] #3688 closed, assigned to itisravi

[2022-09-19 11:33] mohit84 commented on #3614
@jifengzhou Did you get a chance what is the maximum time taken by a client to establish a connection with the brick process? As per gdb we can see it is showing the connected flag is 0 which means the scenario arises initially. The client should throw a message as soon as it gets an epoll event from the kernel.

[2022-09-20 05:38] Shwetha-Acharya opened #3820 "(glusterfs-10.3)- GlusterFS 10.3 tracker"
Description of problem:
Tracker for the release 10.3

[2022-09-20 07:49] xhernandez commented on #3733
Could you try to disable `open-behind`, `quick-read`, `stat-prefetch` and `io-cache` (this one should already be disabled by default, though) ?

<pre>
    # gluster volume set <i>&lt;volname&gt></i> open-behind off
    # gluster volume set <i>&lt;volname&gt></i> quick-read off
    # gluster volume set <i>&lt;volname&gt></i> stat-prefetch off
    # gluster volume set <i>&lt;volname&gt></i> io-cache

[2022-09-20 09:05] xhernandez commented on #3733
You can also disable `read-ahead` if enabled.

[2022-09-20 09:48] Shwetha-Acharya commented on #3820
Depends on https://github.com/gluster/project-infrastructure/issues/172

[2022-09-20 10:35] dsorber commented on #3733
Thanks for the response. I think I've tried all of those options but I'll confirm, also try the mount options, and then report back.

[2022-09-20 12:59] xhernandez commented on #3812
Assuming that we are going to change the fop signatures to pass a common struct instead of different arguments for each fop, I started working in that direction.

Given that the signature will be the same for all fops, many functions can actually be simplified or even removed (for example most of the functions in defaults.c won't be necessary). This also means that `STACK_WIND` and `STACK_UNWIND`

[2022-09-20 13:17] mykaul opened #3822 "'afr_zerofill' does not match original declaration [-Wlto-type-mismatch]"
[code]

[2022-09-20 15:41] fredericmoulins opened #3823 "rfc.sh: cannot detect upstream remote for non english locale"
**Description of problem:**

`rfc.sh` doesn't determine the upstream remote when run in a non english locale.
It seems to parse the `git remote` output for the word 'Fetch'.

**The exact command to reproduce the issue**:

`LC_ALL=fr_FR ./rfc.sh` for example, in a multi-locales system.

**Mandatory info:**
**- The output of the `gluster volume *` commands, the operating system / glusterfs version**

[2022-09-20 16:04] mykaul commented on #3823
Is it possible to do something like:
[code]

Instead?

[2022-09-20 16:39] fredericmoulins commented on #3823
Yes, a `LANG=C git remote …` or `LC_ALL=C git remote …` works too.

I went with `git config` because it is looking specifically for the fetch url (the `--get-regexp` seems to have been there for a long time), and it seemed to me a more structured output. initially, I also wanted to try to make it accept a 'https://' URL too, but there seems to be more changes required in the script.

Do you prefer

[2022-09-20 16:40] mykaul opened #3825 "Enhancement: improve glusterd_peerinfo_find_by_hostname() loop"
Currently, in case we did not find the peerinfo, we go, for **each** interface of the hoststr, into this loop:
We call gd_peerinfo_find_from_addrinfo(), which **per** peer * **per** peer hostname calls getaddrinfo().

Seems easier to do it the other way around:
**Per** peer * **per** peer hostname, call getaddrinfo() **once**, then compare it to all interfaces of hoststr (essentially iterate over

[2022-09-20 16:41] mykaul commented on #3823
Seems cleaner and easier. Possibly should be LANGUAGE as that's the highest priority over LANG and LC_ALL.

[2022-09-21 08:14] mykaul commented on #3797
Replacing CRC with XXHASH (32bit) checksumming for example is easy, apart from one issue - the debugging code is emitting a GZIP compatible format, which has CRC32. To overcome it, the solution is that ```if (priv->debug)``` we'll calculate the crc32 as well, as is currently done.

[2022-09-21 09:27] #3710 closed, assigned to nobody

[2022-09-21 09:46] #3708 closed, assigned to nobody

[2022-09-21 10:18] xhernandez commented on #3706
Zero copy in general is something that could be useful in many places. This in particular seems very interesting but requires a significant change in how network requests are handled: the buffer containing the data must remain untouched for some time, even after the `send()` request returns, which will require some important changes in Gluster. Also this doesn't come for free. There are other over

[2022-09-21 11:19] fredericmoulins commented on #3823
Yes, thanks, I didn't have all those priorities in mind.

[2022-09-21 19:40] kun-lu20 commented on #3655
Hi @mscherer @rakshithakamath94 , could you please take a look when you have some time? Thank you!

[2022-09-22 06:09] aitch2o-development opened #3828 "Gluster not replicating file content across bricks/cluster"
**Description of problem:**

File content changes are not replicated across bricks. File creation and deletion works as expected.
I have a 3 node cluster, one of the volumes is called codebase. I mount this volume on two application servers under /codebase

**The exact command to reproduce the issue**:

If I create a file on app1 it's immediately available on app2
If I delete the above file on app

[2022-09-22 07:27] #3823 closed, assigned to nobody

[2022-09-22 11:16] dsorber commented on #3733
Apologies for the delayed response, I got sidetracked. Anyway, I can confirm that using the Gluster options mentioned above (`open-behind`, `quick-read`, `stat-prefetch`, `io-cache`, and `read-ahead` all `off`) along with the mount options `attribute-timeout=0` and `entry-timeout=0` the synchronization issue has gone away. Note that the problem only went away when I used the Gluster options **and*

[2022-09-22 11:39] frwl404 opened #3829 "Number of entries in heal pending grows on upgraded node at attempt to access files."
**Description of problem:**
We test upgrade of clusters with `Number of Bricks: 2 x 2 = 4` configuration from gluster 5 to gluster 9 (Centos7 OS).
Often (in 90% of the cases) we see below problem.
After upgrade of the first node we trigger manual heal, waiting when everything will be healed.
But if after this we are trying to access files on upgraded node `ls -l`, then` Number of entries in heal p

[2022-09-22 11:43] frwl404 commented on #3829
[NotUpgradedNode.txt](https://github.com/gluster/glusterfs/files/9625317/NotUpgradedNode.txt)
[UpgradedNode.txt](https://github.com/gluster/glusterfs/files/9625318/UpgradedNode.txt)
Outputs of debug commands from both nodes

[2022-09-22 13:02] frwl404 commented on #3829
[dumps_not_upgraded.tar.gz](https://github.com/gluster/glusterfs/files/9625973/dumps_not_upgraded.tar.gz)
[dumps_upgraded.tar.gz](https://github.com/gluster/glusterfs/files/9625974/dumps_upgraded.tar.gz)

Gluster statedumps

[2022-09-23 07:53] jifengzhou commented on #3614
This phenomenon has only occurred once in our environment and has not occurred since. Can no longer keep track of the previous environment state

[2022-09-23 08:44] xhernandez commented on #3733
Basically these options disable caching features, so it might have performance implications since more requests will need to be served from the bricks instead of gluster client or even kernel caches. In any case, the real impact depends greatly on the workload, so the only way to know the difference is to try it with your real workload and see if that makes a significant difference.

Note that the

[2022-09-23 10:07] AltOscar opened #3830 "Geo replication: UnicodeDecodeError"
**Description of problem:**
After copying ~8TB without any issue, some nodes are flipping between Active and Faulty with the following error message in gsync log:
ssh> failed with UnicodeDecodeError: 'ascii' codec can't decode byte 0xf2 in position 60: ordinal not in range(128).

Default encoding in all machines is utf-8

**command to reproduce the issue:**

gluster volume georeplication master_vo

[2022-09-23 11:53] mohit84 commented on #3669
I am working on bplustree, as the patch will be available i will upload it.

[2022-09-25 06:57] mohit84 opened #3831 "afr: posix lock behavior is not correct while received an interrupt"
The posix lock is not working correctly(1x3) if a process has received an
interrupt after wind a fop and the lock is already held by another process.

Suppose there are two processes (P1, P2), P1 has requested an exclusive POSIX
lock on the file and it has received a successful response. After that a process P2
is also tried to request the same lock and it has been blocked because a lock is holdin

[2022-09-26 09:42] mykaul opened #3833 "test bug-882278.t fails from time to time due to DNS issues?"
The code uses the short hostname (obtained via ```hostname -s```) whereas all other tests use IP addresses for bricks.
[code]

That causes the test to fail sometimes:
[code]

[2022-09-26 09:49] mohit84 commented on #3833
Yes you are correct we need to change it.

[2022-09-26 11:53] manfredw commented on #3648
Have the same issue after OS Upgrade from SUSE 15.3 to 15.4 where glusterfs version changes from 3.12 to 9.3.

Mounting the glusterfs volume works with the above mentioned mount option, I've enabled IPv6 on OS level (with link-local addresses only). `transport.address-family=inet` is also set.

self-heal-daemon seems to be unable to start or communicate. glusterd logfile records this message every

[2022-09-27 06:53] Shwetha-Acharya commented on #3830
Could you please specify the python version as well

[2022-09-27 07:02] #3820 closed, assigned to nobody

[2022-09-27 07:17] AltOscar commented on #3830
On master nodes (CentOS 7) default python OS python version is 2.7.5, but it has up to python 3.6 installed
On slave nodes (Debian 11) default python version is 3.9.2

Could this be it despite of the fact that it did copy 8TB without much of an issue?

[2022-09-27 07:18] AltOscar commented on #3830
On master nodes (CentOS 7) default python OS python version is 2.7.5, but it has up to python 3.6 installed
On slave nodes (Debian 11) default python version is 3.9.2

Could this be it despite of the fact that it did copy 8TB without much of an issue?

[2022-09-27 07:20] AltOscar commented on #3830
On master nodes (CentOS 7) default python OS python version is 2.7.5, but it has up to python 3.6 installed
On slave nodes (Debian 11) default python version is 3.9.2

Could this be it despite of the fact that it did copy 8TB without much of an issue?

[2022-09-27 09:29] plabanowski commented on #3396
I have the same problem.
there are still snapshots present on certain nodes. Unable to delete the snapshot or directly the volume, because of a snapshot present on only one node.

[2022-09-27 09:33] Shwetha-Acharya commented on #3830
We do not support a python2 and a python3 versions on slave and master.
Please make sure you have same version on both and let us know if you still face any issue

[2022-09-27 10:57] Shwetha-Acharya opened #3836 "tests/bugs/glusterd/daemon-log-level-option.t fails on regression as well as local machine"
regression console output: https://build.gluster.org/job/gh_centos7-regression/2911/console

It was found that  /var/log/glusterfs/glustershd.log does not get created as soon as volume start command is executed:

[code]

[code]

In a while file is created but logging will not be started yet:

[code]

Later expected logs were found:

[code]

[2022-09-27 11:34] mohit84 commented on #3836
you can put brick_count check after volume starts to avoid the failure.
EXPECT_WITHIN ${PROCESS_UP_TIMEOUT} "6" online_brick_count

[2022-09-27 12:31] razcakappa commented on #833
@pranithk I'm having the same issue.
This is what my mounted volume `/mnt/` looks like
[code]

And this is how the `/gluster/volume1` looks like
[code]
Previously `/mnt/backup`  used to have exactly 7.9GB in size and I've deleted it's content manually. However it doesn't seem that `/.glusterfs` got that change. How could I empty this?

[2022-09-27 13:45] mscherer commented on #3655
I do not really know where to start. And there is already logs for the build, is there a specific part that I would see that can't be seen in neither the logs in the tarball or the test output ?

[2022-09-27 14:17] #3836 closed, assigned to Shwetha-Acharya

[2022-09-27 14:46] kun-lu20 commented on #3655
Hi @mscherer , Thank you very much!

A lot of `volume start` failures could be seen in the CI testing log as shown below, which could pass on our local s390x VMs.

[code]

Could you please run a single test case (such as `./tests/000-flaky/basic_distribute_rebal-all-nodes-migrate.t`) on the s390x builder to check why this would happen?

Also, I found the following info in today's building log:

[c

[2022-09-27 15:05] mscherer commented on #3655
So 1 builder was in a weird state (the 2nd one), I rebooted.

[2022-09-27 15:08] mscherer commented on #3655
The 3rd was also in the same state. /d was full, but du showed only 300 Mb used. And several gluster process where lingering.

[2022-09-27 15:37] anoopcs9 opened #3838 "Immediate open of a file created via glfs_openat() with `O_CREAT` results in `ENOENT`"
**Description of problem:**
After the creation of a file using _glfs_openat()_ with `O_CREAT` flag an immediate open of it fails with `No such file or directory`.

**The exact command to reproduce the issue**:
[test-openat-o-create.c.txt](https://github.com/gluster/glusterfs/files/9657524/test-openat-o-create.c.txt)
[code]
**The full output of the command that failed**:
[code]

**Expected results:

[2022-09-28 19:24] mykaul opened #3840 "ZStandard compression support (replacing zlib)"
It's a much faster compression/decompression algorithm, which may be useful to use instead of zlib. While there are faster implementation of the zlib compression algorithm, zstandard is still better.

[2022-09-28 19:26] mykaul commented on #3840
TODO: relevant tests (cdc.t will fail of course, due to lack of gzip compressed dump. It does passes otherwise, even when I injected errors, which is an issue by itself!).

[2022-09-29 06:19] Nayana-ibm commented on #3302
Fixed by https://github.com/gluster/glusterfs/pull/3644

[2022-09-29 06:19] #3302 closed, assigned to pbhatia22

[2022-09-29 06:40] mohammaddawoodshaik opened #3842 "GlusterFS fuse client is not syncing the data from brick"
**Description of problem:**
We are running gluster-6.10 in Kubernetes environment. We have three nodes each node is hosting one brick and Fuse-mount in two different pods.
Now the problem here is, in two of fuse-mounts are showing wrong data of a JAR file, but the same JAR is proper in all three bricks- ext4 location.

Please find the follwoing data for ref:

host-1: /mnt/glusterfs/default_vol/plu

[2022-09-29 07:00] mykaul commented on #3842
Gluster 6.10 was released over 2 years ago and since then, hundreds if not thousands of changes went in, to improve Gluster's reliability, feature set, performance and scale. It'll be great if you could try and reproduce this in a more recent (10.x) release of Gluster.

[2022-09-29 07:19] AltOscar commented on #3830
Thank you for the quick response!

We changed python version on slave to match the one on master's.

Also we deleted all data on slave and started a new georep session from scratch. It went well for ~13 hours but we're getting the same error message:

[2022-09-29 07:16:46.154886] E [syncdutils(worker /bricks/brick1/data):325:log_raise_exception] <top>: connection to peer is broken
[2022-09-29 07:1

[2022-09-29 09:39] Shwetha-Acharya commented on #3830
What is the current version?

[2022-09-29 11:05] AltOscar commented on #3830
Current python version is 2.7.5 in all nodes, slave and master
Current glusterfs version is 9.6 in all nodes aswell

[2022-09-29 18:18] mykaul commented on #3023
**cdc-xlator improvements:**

- [ ] https://github.com/gluster/glusterfs/pull/3841
- [ ] https://github.com/gluster/glusterfs/pull/3835
- [x] https://github.com/gluster/glusterfs/pull/3802

[2022-09-30 08:06] mykaul opened #3845 "fuse_readdirp_cbk() - minor modifications"
- [x] Reuse gf_fuse_fill_dirent() code
- [ ] MALLOC the array instead of CALLOC
- [x] Pre-cal the attributes and timeouts - calc_timeout_sec() and calc_timeout_nsec() once.

[2022-09-30 10:39] #3750 closed, assigned to nobody

[2022-09-30 15:21] kun-lu20 commented on #3655
Hi @mscherer ,

I checked the [logs](https://build.gluster.org/job/centos8-s390-regression/62/consoleFull) of the 3rd s390x builder after you rebooted it. The volume could be created successfully but still failed to be started. There were also other failures such as `peer probe: failed` in the log.

[code]

I suspect it was caused by certain environment setup since these failures didn't occur on o

[2022-09-30 20:03] mykaul opened #3847 "gftest build failure"
[code]

[2022-10-01 10:02] #3038 closed, assigned to nobody

[2022-10-01 10:02] #3053 closed, assigned to nobody

[2022-10-01 10:02] #3056 closed, assigned to nobody

[2022-10-01 10:03] #2492 closed, assigned to schaffung

[2022-10-01 10:03] #3067 closed, assigned to pranithk

[2022-10-01 10:03] #3054 closed, assigned to karthik-us

[2022-10-01 10:03] #3060 closed, assigned to nobody

[2022-10-01 10:03] #1863 closed, assigned to mohit84

[2022-10-01 10:03] #1429 closed

[2022-10-01 10:03] #3085 closed, assigned to nobody

[2022-10-01 10:03] #3088 closed, assigned to nobody

[2022-10-01 10:03] #3075 closed, assigned to nobody

[2022-10-01 10:03] #3098 closed, assigned to nobody

[2022-10-01 10:03] #3097 closed, assigned to nobody

[2022-10-01 10:04] #3103 closed, assigned to nobody

[2022-10-01 10:04] #1591 closed, assigned to nobody

[2022-10-01 10:04] #3107 closed, assigned to pranithk

[2022-10-01 10:04] #3108 closed, assigned to pranithk

[2022-10-01 10:04] #3110 closed, assigned to nobody

[2022-10-01 10:04] #3111 closed, assigned to nobody

[2022-10-01 10:04] #3113 closed, assigned to nobody

[2022-10-01 10:05] #3112 closed, assigned to nobody

[2022-10-02 07:17] #3264 closed, assigned to nobody

[2022-10-04 00:41] madmax01 opened #3850 "Gluster 10.2 Crash"
Hello Team,

i have Alma 8.6 in use. 10.1 works fine.. But 10.2 glusterd crash after a dynamic Time..... seems something was changed there.

10.3 have an stable fix?

thx

[2022-10-04 00:47] mohit84 commented on #3850
Can you please share the "thread apply all bt full" output after attaching a core with gdb. Please share glusterd logs also along with stacktrace.

[2022-10-04 00:55] madmax01 commented on #3850
its related to this Ticket: https://github.com/gluster/glusterfs/issues/3583. May the old ticket helps?

i bounced the Services already to get gluster back to work and rebooted all vms - because jumped read-only.

just trying to see if i need to downgrade to 10.1 stable version or to upgrade to 10.3.   10.2 is unhappy with something after a while....

Not critically,.... just looking right stable

[2022-10-04 09:38] #3838 closed, assigned to nobody

[2022-10-04 09:48] #3831 closed, assigned to nobody

[2022-10-05 07:51] #3847 closed, assigned to nobody

[2022-10-05 20:44] hunter86bg commented on #3842
Most probably it's a caching issue.
Maybe you can try to enable 'features.cache-invalidation' and set 'features.cache-invalidation-timeout' with it.
Of course , updating would be the best option.

[2022-10-05 20:47] hunter86bg commented on #3829
v5 to v9 was never tested (not even mentioned in https://docs.gluster.org/en/latest/Upgrade-Guide/upgrade-to-9/)
Bump the version to v6/7/8 and then switch to v9/v10.

Don't forget to check the release notes for v6.0 , v7.0 , v8.0 & v9.0 as some features were deprecated.

[2022-10-05 20:49] hunter86bg commented on #3828
Volume info ?
What options has your volume ?

It sounds like caching, but it could be something else.

[2022-10-07 05:08] frwl404 commented on #3829
We have tried upgrade from 5 to 8 (you can grep in description: "_We also tried upgrade from 5 to 8, but also observed this issue._") with the same observations

[2022-10-07 05:13] hunter86bg commented on #3829
Have you checked if all clients are connected after the update ?

[2022-10-07 05:28] frwl404 commented on #3829
We have only `local` clients (i.e. `/shared` mounted only by 2 serves, who owns bricks, no any other `remote` clients). Both servers don't show any problems with connection before or after update (because of this, trace `Transport endpoint is not connected`, mentioned in description, is a bit unclear to us).

[2022-10-07 05:50] hunter86bg commented on #3829
Local or not - they all use network and sometimes after a glusterd restart - they can't connect to the bricks.

If you run the upgrade again, after it check the output of:
`
gluster volume status all clients
`

[2022-10-07 06:12] frwl404 commented on #3829
Here it is:
[code]

And here is heals stat after `ls -l`:
[code]

[2022-10-07 06:18] hunter86bg commented on #3829
I mean immediately after the update when you observe the problems.

[2022-10-07 06:59] jkroonza commented on #3659
@xhernandez

As from #3716 - these are the crashes we're getting.  Based on the last discussion in that PR:

1.  Since applying that patch to glusterfs 10.2 our overall frequency of crashes has reduced considerably.  We've set the two less powerful nodes to use --inode-table-size=1048576 on these two nodes.
2.  Prior to applying this patch we were approaching two crashes per day over four nodes (m

[2022-10-07 09:33] frwl404 commented on #3829
Actually problem present all this time. While we will not upgrade second node, attempts to do `ls -l` on first one will lead to heals.
Anyhow, now I've executed following command soon after upgrade:
`fa05.sg05# date; systemctl status glusterd; date; gluster volume status all clients; date; gluster volume heal shared info summary; date; ls -l /shared/20221007-004/many_files/ | wc -l; date; gluster

[2022-10-07 09:38] xhernandez commented on #3659
@jkroonza does your workload contain a lot of renames ?

Is your volume configuration stable, or do you change some setting frequently (at least once between crashes) ?

Do you generate statedumps or do any special operation periodically ?

[2022-10-07 09:40] xhernandez commented on #3659
And one more thing: do you get crashes in bricks and clients, or only on clients ?

If both crash, is the frequency similar ?

[2022-10-07 10:47] xhernandez commented on #3659
It would be interesting to analyze a core dump after the latest change, but I'm not sure how to do that on Gentoo. Is it easy to setup an environment on docker with the binaries and debug symbols ?

[2022-10-07 13:26] jkroonza commented on #3659
Those four nodes effectively do it automatically, I've just wiped the "core archive" and will post the next ones.

We had *one* crash on a brick that looked similarly confusing, but otherwise it's mostly clients.

My *theory* is that it's faster to clean entries from the table on the bricks due not involving the kernel round-trip via fuse, but since I don't understand the process I'm barking up ra

[2022-10-07 13:40] jkroonza commented on #3659
Maildir lives on renames yes!

No, we haven't changed settings in quite a while.

Try not to, but we definitely can generate a few from time to time.  How frequently would be sufficient for your requirements?

As a rule we don't do anything with glusterfs, except when we detect that the mount has failed, at which point we umount -fl and mount again.  This is a disruptive operation.

We've seen *on

[2022-10-07 18:10] mykaul commented on #3659
@jkroonza - I assume this is without cherry-picking https://github.com/gluster/glusterfs/pull/3226 which I remember you've looked at? IOW, just the hash changes?

[2022-10-07 18:20] mykaul opened #3855 "reduce work for memory account"
- [x] gf_mem_update_acct_info() is not needed when not in DEBUG mode
- [x] re-order variables in the structure according to access pattern
- [x] Turn xlator_mem_acct_unref() into xlator_mem_acct_destroy() and call it only when refcnt euqals 0 - which is quite rare.

[2022-10-07 20:16] AlanObject opened #3856 "mount works, fstab entry does not work"
I have a glusterfs cluster working and I can a volume in a client with the following command:

` mount -t glusterfs data1:/sbnstore /mnt/data/ -o xlator-option="transport.address-family=inet6"`

Everything works and I can perform operations in the /mnt/data directory and this gets replicated as expected among the cluster members and all the clients.

Note that the host name data1 resolves only to

[2022-10-10 05:37] frwl404 opened #3863 "Gluster shared directory unavailable on one of the nodes. Unmount/mount clears the problem."
**Description of problem:**

**The exact command to reproduce the issue**:
We observed this problem on gluster 5 several times, but expected that it can be resolved after upgrade to gluster 9.
However, we got similar issue on gluster 9 as well.
Problem happen sporadically, without any obvious external trigger. Just suddenly one out of 2 nodes in cluster lose access to /shared directory, which is f

[2022-10-10 05:37] jkroonza commented on #3659
Correct.  Cherry-picking #3226 is non trivial.

Weekend stacks, seems like not all of our nodes has the debug symbols though - will look into that when I get a chance.

[stack-20221009-142517-core-glfs_epoll001.18539.1665318317.txt](https://github.com/gluster/glusterfs/files/9743435/stack-20221009-142517-core-glfs_epoll001.18539.1665318317.txt)
[stack-20221008-052302-core-glfs_epoll000.25431.16651

[2022-10-10 05:38] frwl404 commented on #3863
[GlusterLogs.zip](https://github.com/gluster/glusterfs/files/9743522/GlusterLogs.zip)

[2022-10-10 07:15] kannanvr opened #3864 "Glusterfs volume File notifier notify the file one time only"
Hi All,
   We are facing 1 issue with glusterfs volume.
we are running kubernetes cluster with glusterfs volume and heketi dynamic  volume provisoner.
when we create the persistent volume claim, GFS is creating the volume and we are ataching the volume to multiple pods.

In our application, we are running the file notifier programme. Inside the GFS volume we are creating the file.
Since same volum

[2022-10-10 09:32] xhernandez commented on #3659
Most probably this happens because symbols are not present and gdb is not decoding the stack correctly.

I don't see any issue here with `ptr`. The only reason why `ptr` is `NULL` is because the `calloc()` request was still being processed when the crash happened. The most likely reason seems to be memory corruption.

This effectively does seem memory corruption, but I think it's more likely the e

[2022-10-10 14:19] jkroonza commented on #3659
Agreed.  Funny enough all systems do have the debug symbols installed, so I'm not sure why gdb isn't picking it up on the one.  Will look into that now.

Regarding reproduction:

[code]

Of course installing gentoo itself is quite a mission in and by itself if you're not familiar with the process.

As stated, calloc on NULL should be equivalent to malloc.

This is the thread that crashed, which ye

[2022-10-10 14:21] mykaul commented on #3023
Reduce separate allocation for some variables in a structure - allows locality and less calls to alloc and free code.

- [x] https://github.com/gluster/glusterfs/pull/3862
- [x] https://github.com/gluster/glusterfs/pull/3858
- [x] https://github.com/gluster/glusterfs/pull/3859
- [x] https://github.com/gluster/glusterfs/pull/3861
- [x] https://github.com/gluster/glusterfs/pull/3857
- [x] https://gi

[2022-10-11 08:06] lizhiyuell opened #3866 "undefined symbol: mem_pools_init_early"
**Description of problem:**
Hi, I'm installing glusterfs with the source code. The compiling and installation are fine, but when I try to start glusterfs I got the error `undefined symbol: mem_pools_init_early`.

It seems that the error is related to memory pool, so I also try with `./configure --disable-mempool`, but the error still appears.

**Commands**:
`./autogen.sh`
`./configure` (or `./conf

[2022-10-11 09:07] amarts commented on #3023
- [ ] #3635

[2022-10-11 09:16] mohit84 commented on #3023
- Optimize index xlator code path to improve performance [#3669](https://github.com/gluster/glusterfs/issues/3669)

[2022-10-11 20:42] mgagnant opened #3867 "Untar 1go file is very slow !"
**Description of problem:**
Hello I have 3 servers on 3 differents sites. they are in replicated mode with one arbiter.
When I want to untar a file who contains multiple html files, IT IS VERY VERY slow.
On a system without glusterfs it takes 30s, with glusterfs about 20mn !
thanks for your help
Micka
**The exact command to reproduce the issue**:
untar -xzvf file.tar.gz

**The full output of the c

[2022-10-11 23:28] pranithk commented on #3867
@mgagnant You mentioned the 3 servers are on 3 different sites, what is the latency between them? Could you also provide profile output[0] of this run to see where the bottleneck is?
[0] https://docs.gluster.org/en/v3/Administrator%20Guide/Monitoring%20Workload/

[2022-10-11 23:28] pranithk commented on #3867
Please also provide output of `gluster volume info` to figure out what the configuration of the volume is

[2022-10-12 07:13] mgagnant commented on #3867
Hello Pranithk,
first, thanks for your reply and sorry for the delay (I'm living in France).
Latency with ping between the 2 data replicated servers : 2ms
Latency with the arbiter : about 15ms (but according do gluster doc , high latency for an arbiter is tolerated)

here the result of gluster volume info:
**Volume Name: gfs
Type: Replicate
Volume ID: 69c2d964-cd03-4a01-ba3a-ee75078b0107
Status: S

[2022-10-12 07:33] pranithk commented on #3867
High latency is tolerated for thin arbiter I think not arbiter. 15ms is pretty high. As a test, could you take down the arbiter node and do the same untar and report how long it takes?

[2022-10-12 08:08] mgagnant commented on #3867
I just take down the arbiter but same thing. Very slow.
"rm" or "chown" on a directory with multiple files is also very slow

[2022-10-12 08:21] pranithk commented on #3867
Could you provide "gluster volume status" output and also the profile info I asked for in the earlier comment?

[2022-10-12 08:54] mgagnant commented on #3867
**Here the gluster volume status (after activing profile)**
debian@SRV-RBX-01:~$ sudo gluster volume status
Status of volume: gfs
Gluster process                             TCP Port  RDMA Port  Online  Pid
------------------------------------------------------------------------------
Brick SRV-GRA-01:/data/glusterfs/myvol1/bri
ck1/brick                                   59509     0          Y

[2022-10-12 09:34] pranithk commented on #3867
Sorry, I think I was not clear in my earlier post, I wanted you to:
1) bring the arbiter node down.
2) Start profile
3) run untar workload
4) provide output of profile info and volume status

bring the arbiter node up so that heals would complete.

[2022-10-12 10:08] mgagnant commented on #3867
Ok sorry Pranithk,

I do it now and I'll be back after the tar completion.

thanks again !

Micka

[2022-10-12 10:21] mgagnant commented on #3867
**untar not again terminated but here a profile output**

Brick: SRV-GRA-01:/data/glusterfs/myvol1/brick1/brick
-----------------------------------------------------
Cumulative Stats:
   Block Size:                  1b+                   2b+                   4b+
 No. of Reads:                    0                     0                     0
No. of Writes:                   30                    2

[2022-10-12 10:33] mgagnant commented on #3867
untar just finished ! 25mn for 1go....

Brick: SRV-RBX-01:/data/glusterfs/myvol1/brick1/brick
-----------------------------------------------------
Cumulative Stats:
   Block Size:                  1b+                   2b+                   4b+
 No. of Reads:                    0                     0                     0
No. of Writes:                   30                    28

[2022-10-14 08:09] mgagnant commented on #3867
Hi Pranith,
did you see anything else that can be the slow problem please ?
the slowing problem is also when i whant to do a chmod on a directory with multiple files
Thanks

[2022-10-17 08:06] mykaul commented on #3284
Fixed via https://github.com/gluster/glusterfs/pull/3802

[2022-10-17 08:06] #3284 closed, assigned to nobody

[2022-10-17 08:09] mykaul commented on #3012
To the best of my knowledge, completed.

[2022-10-17 08:09] #3012 closed, assigned to nobody

[2022-10-17 08:09] mykaul commented on #3005
Completed.

[2022-10-17 08:09] #3005 closed, assigned to nobody

[2022-10-17 08:12] mykaul commented on #3004
Completed. There are other places this can be done, such as the multiple 'gf_strdup(uuid_utoa(...))' - but for the time being, this can be closed.

[2022-10-17 08:12] #3004 closed, assigned to nobody

[2022-10-17 14:26] J0WI commented on #268
_bump_

[2022-10-18 17:04] kun-lu20 commented on #3655
Hi @amarts @mscherer ,

could you please check this issue again? Thank you so much!

[2022-10-19 10:47] zishanj opened #3875 "geo-replication not working"
I am facing issue with geo-replication where the primary node is not replicating data to the secondary node. Here is my `gluster volume geo-replication status` output

[code]
Secondary node is also showing as N/A. Local replication between nodes are working fine.

Any idea why its not working? I am using gluster version 10.1.

[2022-10-19 11:00] zishanj commented on #3875
In the log file I am receiving this whenever I start the geo-replication:

[code]

[2022-10-19 13:14] #3875 closed, assigned to nobody

[2022-10-20 05:08] anoopcs9 opened #3876 "`fsetxattr()` failed with `EBADFD` on directories opened with `glfs_open()`/`glfs_openat()`"
**Description of problem:**
While trying to do _fsetxattr()_ on a directory opened via either _glfs_open()_ or _glfs_openat()_ it returned `EBADFD`.

**The exact command to reproduce the issue**:
[test-open-fsetxattr.c.txt](https://github.com/gluster/glusterfs/files/9826434/test-open-fsetxattr.c.txt)

[code]

**The full output of the command that failed**:
[code]

**Expected results:**
Test progra

[2022-10-20 05:35] jackwoods opened #3878 "ENAMETOOLONG can cause performance issue"
**Version:** tested both on 7.8 & 9.6

**Description of problem:**

When ENAMETOOLONG frequently happens, it can make the server slow, and the IO load is high. Sometimes the server can be very slow and even cannot respond.

When testing, at least I can see it's logging a lot (maybe that's one of the main reasons?).

It's easy to reproduce, just try to access files with very long name (> 300 charac

[2022-10-20 05:52] rodericliu commented on #3878
jackwoods is my colleague and he did this in a test environment.

We are using Glusterfs Replicated Volume as our  production image storage. We mounted the gluster volume on the server runs nginx which will serve the image requests for our front image cache servers.

Recently we enabled secure token for our images and had a bug in generating the image url where the "?" is missed. So the expected u

[2022-10-20 20:28] #3876 closed, assigned to nobody

[2022-10-21 06:15] NathanHbt opened #3880 "notify_kernel_loop and writing to fuse device yielded ENOENT"
**Description of problem:**

Hello everyone,

Sorry for my english.

I have a clustered mail infrastructure, everything works fine until a client hangs at 100% CPU on the gluster process. Everything is down until I close all connected processes.

I feel like this happens more often when I have a backup via rsync in progress to a remote server.

When the problem occurs on client A, client B continu

[2022-10-22 18:16] #3117 closed, assigned to nobody

[2022-10-22 18:16] #3109 closed, assigned to pranithk

[2022-10-22 18:16] #3096 closed, assigned to nobody

[2022-10-22 18:16] #3259 closed, assigned to nobody

[2022-10-22 18:16] #3228 closed, assigned to nobody

[2022-10-22 18:16] #2056 closed, assigned to nobody

[2022-10-22 18:16] #3273 closed, assigned to nobody

[2022-10-22 18:16] #3010 closed, assigned to nobody

[2022-10-22 18:16] #3145 closed, assigned to nobody

[2022-10-22 18:16] #1767 closed, assigned to nobody

[2022-10-22 18:16] #1049 closed

[2022-10-22 18:16] #2463 closed, assigned to pranithk

[2022-10-22 18:16] #2673 closed, assigned to nobody

[2022-10-22 18:16] #3063 closed, assigned to nobody

[2022-10-22 18:16] #3153 closed, assigned to nobody

[2022-10-22 18:16] #2568 closed, assigned to nobody

[2022-10-22 18:16] #982 closed

[2022-10-22 18:16] #2574 closed, assigned to nobody

[2022-10-22 18:16] #3172 closed, assigned to nobody

[2022-10-22 18:16] #3171 closed, assigned to nobody

[2022-10-22 18:16] #3191 closed, assigned to mohit84

[2022-10-22 18:16] #3196 closed, assigned to nobody

[2022-10-22 18:16] #3200 closed, assigned to karthik-us

[2022-10-24 07:41] miracle-xiang commented on #3875
How to solve??? @zishanj

[2022-10-24 08:25] zishanj commented on #3875
it does not work other than root user. not sure why.

[2022-10-25 07:23] miracle-xiang commented on #3875
Have you ever met:

root@gfs-1:~# gluster volume geo-replication gv0 geoaccount@geo-1::gv0 create push-pem force
gluster command not found on geo-1 for user geoaccount.
geo-replication command failed

@zishanj

[2022-10-25 10:24] miracle-xiang commented on #3875
your os is ubuntu ? @zishanj

[2022-10-25 16:30] mscherer commented on #3655
I think that's outside of my competency with Gluster code base :/

[2022-10-26 06:57] chen1195585098 opened #3882 "syslog in gf_print_trace cause deadlock"
**Description of problem:**
During the process of volume mount, I met a failure of malloc that raises a SIGNUM and calls gf_print_trace to do some necessary record. However， it leads to deadlock since the malloc procedure is also present during syslog.

**The exact command to reproduce the issue**:
just a normal mount like:
glusterfs --volfile-id=t-1 --process-name=xxx --volfile-server=node1 /home

[2022-10-26 07:36] RomyxBaps commented on #3856
Hello,

I have the exact same problem.
I have a cluster full in ipv6 and when I mount with the commande mount it's working great :
[code]
but when I put the same info in fstab, i have an error :
[code]

Some has a solution ?

I'm on Debian 10.13 with GlusterFS 10.3

[2022-10-26 08:45] RomyxBaps commented on #3856
I finally make it working, here is what i have in my /etc/fstab :
[code]

[2022-10-27 11:19] NdK73 opened #3883 "Probable leak in quotad"
**Description of problem:**
quotad process tends to saturate RAM and swap

**The exact command to reproduce the issue**:
Just ler Gluster servers run for some time. Currently quotad is using 22G after 77 days. Previously I've seen 75GB used.

**The full output of the command that failed**:
(on one of the 3 nodes)
root     2134553  2.1 11.2 23071940 22091644 ?   Ssl  set23 1059:58 /usr/sbin/gluster

[2022-10-27 15:36] kun-lu20 commented on #3655
Thanks for your time and efforts @mscherer .

Hi @amarts , could you please take a look when you have some time? Thank you.

[2022-10-29 12:00] MPParsley commented on #2056
Ran into this issue when running a simple sql import on a [default Openshift postgress database](https://github.com/sclorg/postgresql-container/tree/master/10).

[2022-10-30 10:12] mykaul commented on #3143
https://github.com/gluster/glusterfs/pull/3854 actually implemented this.

[2022-10-30 10:12] #3143 closed, assigned to nobody

[2022-10-30 22:09] AlanObject commented on #3856
This worked for me as well.   Kudos for figuring it out I had pretty much given up.    I just did a reboot and the mount was there.

This may be a bit naive on my part, but I had thought it was pretty standard to be able to copy the line from **/proc/mounts** (aka **/etc/mtab**) into the **/etc/fstab** file.   Apparently that is not valid with **glusterfs**.  My current /proc/mounts file for my mo

[2022-10-31 00:56] Deltik commented on #2752
![chirp](https://user-images.githubusercontent.com/1364268/198911220-fca123b2-d36a-4781-99cc-9249430b76dc.gif)

[2022-10-31 06:56] Nayana-ibm commented on #3345
The above test case is failing due to differing hash value calculations on x86 and s390x systems.
using below patch to pass this test on s390x:

[code]

[2022-11-01 21:56] #2812 closed, assigned to nobody

[2022-11-01 21:56] #3287 closed, assigned to nobody

[2022-11-01 21:56] #3256 closed, assigned to nobody

[2022-11-01 21:56] #3261 closed, assigned to nobody

[2022-11-01 21:56] #338 closed

[2022-11-01 21:56] #3170 closed, assigned to nobody

[2022-11-01 21:56] #3190 closed, assigned to nobody

[2022-11-01 21:56] #3253 closed, assigned to nobody

[2022-11-01 21:56] #3240 closed, assigned to nobody

[2022-11-01 21:56] #2979 closed, assigned to nobody

[2022-11-01 21:56] #1525 closed

[2022-11-01 21:56] #3114 closed, assigned to nobody

[2022-11-01 21:56] #3115 closed, assigned to nobody

[2022-11-01 21:56] #3116 closed, assigned to nobody

[2022-11-01 21:56] #3118 closed, assigned to nobody

[2022-11-01 21:56] #2962 closed, assigned to nobody

[2022-11-01 21:56] #3120 closed, assigned to nobody

[2022-11-01 21:56] #3104 closed, assigned to nobody

[2022-11-01 21:56] #2986 closed, assigned to karthik-us

[2022-11-01 21:56] #3001 closed, assigned to nobody

[2022-11-01 21:56] #2984 closed, assigned to nobody

[2022-11-01 21:56] #2706 closed, assigned to nobody

[2022-11-01 21:56] #2908 closed, assigned to nobody

[2022-11-01 21:56] #2993 closed, assigned to nobody

[2022-11-01 21:56] #2995 closed, assigned to nobody

[2022-11-01 21:56] #3022 closed, assigned to nobody

[2022-11-01 23:55] #2884 closed, assigned to nobody

[2022-11-01 23:55] #3026 closed, assigned to mohit84

[2022-11-01 23:55] #3021 closed, assigned to nobody

[2022-11-01 23:55] #3030 closed, assigned to nobody

[2022-11-02 02:16] woldcodingman opened #3890 "need to support inotify"
**Description of problem:**
sometimes, need to monitor which files are modified, so need a notification like linux's inotify

[2022-11-02 09:43] mykaul commented on #3034
Completed as part of https://github.com/gluster/glusterfs/pull/3749

[2022-11-02 09:44] #3034 closed, assigned to nobody

[2022-11-02 09:45] mykaul commented on #3216
Hoping to get this reviewed.

[2022-11-02 09:46] mykaul commented on #3216
https://github.com/gluster/glusterfs/pull/3226 will hopefully get in.

[2022-11-02 09:51] mykaul commented on #3387
Still looks like dead code :-/

[2022-11-02 13:17] Ratio2 opened #3891 "Possible trash can size overflow"
https://github.com/gluster/glusterfs/blob/devel/xlators/features/trash/src/trash.h#L61
I think variable type must be uint64_t to avoid double conversion: uint64_t -> size_t -> uint64_t.
Size_t on 32-bit platform may be limited to 4G.

Not tested, just met while studying the source code. I plan to use the trash can for files of any size.

[2022-11-02 13:20] mohit84 commented on #3891
Please send a patch to correct it.

[2022-11-02 13:25] NthmAnTi commented on #3261
The problem still persists, this is not stale. Regular restarts of gluster are mandatory to keep the fileserver running.
We are looking for a replacement for the file servers software, something which produces debugable logs, but it looks like we are stuck to gluster. Especially with ovirt there are not many alternatives and none without incomplete documentation and severe errors which can only fu

[2022-11-02 16:32] Ratio2 commented on #3891
I ran some tests and the problem does exist. For example, if we set the size to 1PB, 32 bit machines think that the maximum size is 0 and the cluster is in an inconsistent state ("sudo gluster volume heal * info" shows problems with files in the trash can)

[2022-11-03 16:17] #3856 closed, assigned to nobody

[2022-11-03 18:05] viniciusferrao commented on #2000
Hello, the bot closed this as stale. Is the feature back to the limbo or is it still being evaluated?

[2022-11-04 04:20] #3891 closed, assigned to nobody

[2022-11-04 09:23] black-dragon74 commented on #3655
On all of the s390x regression runs, I see the following error in the very beginning.

[code]

I can see all the usual locations being present in `PATH` variable. Is python installed on the system? If yes (in case it's python3), maybe it is not symlinked as `python`?

/cc: @mscherer

Regards

[2022-11-04 09:56] WelldoneIT opened #3895 "There is a compilation problem with the devel branch"
**Description of problem:**
hello，there is a problem with the devel branch，below are my steps：
#  ./configure --disable-linux-io_uring
......
GlusterFS configure summary
===========================
FUSE client          : yes
epoll IO multiplex   : yes
fusermount           : yes
readline             : no
georeplication       : yes
Linux-AIO            : no
Linux io_uring       : no
Use liburing

[2022-11-04 09:57] rakshithakamath94 commented on #3655
I have provided a temporary local change to see if it resolving this error would makes the job work - https://build.gluster.org/job/centos8-s390-regression/73/console and the error is not showing in the logs.

Also, I noticed the same kind of error on cento8-regression but that runs fine.

[2022-11-04 12:45] black-dragon74 commented on #3655
Agreed.

I also see many `losetup` related errors. Is the module `loop` loaded into the kernel? Can verify by:

`grep 'loop' /lib/modules/$(uname -r)/modules.builtin`

I think this module is absent or not loaded otherwise we would have loop devices under `/dev` (logs are showing: /dev/loop* no such device).

P.S: SSH access to the machine would help and would eliminate cases of me asking such ques

[2022-11-04 13:09] kun-lu20 commented on #3655
@black-dragon74 @rakshithakamath94 Thanks very much for looking into this issue!

[2022-11-05 03:38] codeProdigal opened #3896 "gluster cli crash when cli rpc client timeout"
**Description of problem:**
Hello，there is a problem with gluster cli that  it may  crash when cli rpc client timeout.

below are my steps：
gluster volume info  volname  --xml

The gluster cli  client handle  this command with two minute timeout limit,  but in some case, the rpc client  cbk may process overtime ,   and the cli client free the cli_local_t structure soon afterwards,  brefore the cli

[2022-11-06 09:16] mohit84 commented on #3896
I think a CLI process is getting crashed because timeout and MSG_RECEIVED happening
at the same time. We can resolve it after destroying the frame only in case of an error
and in case if success(means if the request is sent to the server) the frame should be destroying
during in the cbk function.We should consider success/failure based on the request sent to the
server or not.

[2022-11-07 07:03] black-dragon74 commented on #3655
Can someone help me with the SSH access to the VMs? If yes, I can dig further into this.

Regards

[2022-11-07 08:03] black-dragon74 commented on #2916
Commenting to keep this open as it is still a WIP.

Ref: #3149, #3853

Regards

[2022-11-08 14:19] kun-lu20 commented on #3655
Hi @mscherer ,

Could you please grant @black-dragon74 the SSH access to the s390x builders so that he can dig further into this issue? Thank you very much!

[2022-11-09 06:20] #3896 closed, assigned to nobody

[2022-11-09 06:26] mohit84 commented on #3896
You can share a patch if you resolved it after using the same approach.

[2022-11-09 13:24] Shwetha-Acharya commented on #3641
Closing the issue as its fixed

[2022-11-09 13:24] #3641 closed, assigned to nobody

[2022-11-09 14:10] stooone commented on #3641
Thanks!

[2022-11-09 19:16] zieba88 opened #3897 "glusterfs not rebalancing properly"
Hi I am seeing an issue with glusterfs where I started with replica 3 arb 1 setup and added 4 additional bricks. I see the data being spread across all the bricks but the larger files seem to only be spread across 4 of the 6 bricks. I have tried rebalancing and adding and removing bricks to no avail. The first pair bricks are 800gb and the other 2 pairs are 400gb. My Understanding is that the file

[2022-11-10 07:00] #2751 closed, assigned to nobody

[2022-11-10 07:01] #3742 closed, assigned to nobody

[2022-11-10 07:02] #3855 closed, assigned to nobody

[2022-11-10 07:02] #3845 closed, assigned to nobody

[2022-11-10 07:03] #3717 closed, assigned to nobody

[2022-11-12 09:01] gsimko opened #3900 "Checksum of files"
It's great that glusterfs has bit-rot detection for stored files but it's unclear whether/how it protects against bit flips during the data transfer. In other storage systems typically one can specify the md5/crc/sha checksum of the data that is sent and the server compares that with whatever was actually received.

Is there any way to either specify the expected checksum for gluster, or to calcul

[2022-11-12 09:08] #3338 closed, assigned to nobody

[2022-11-12 09:08] #2606 closed, assigned to nobody

[2022-11-12 09:08] #2726 closed, assigned to nobody

[2022-11-12 09:08] #3321 closed, assigned to nobody

[2022-11-12 09:08] #3262 closed, assigned to nobody

[2022-11-12 09:50] wxiaoguang commented on #2606
`stale bot closed this as completed Nov 12, 2022`

I'd like to say it's incomplete. Just `not want to fix`

[2022-11-12 10:08] webash commented on #2722
Not stale. Don't close.

[2022-11-12 16:40] mykaul commented on #2606
I think there's an option to close as 'not planned'

[2022-11-13 02:17] jifengzhou opened #3901 "io-stats xlator Segmentation fault"
Version: Redhat glusterfs-6.0-30.1

We have a cluster composed of six servers, created a 3x21 distributed replica volume, and opened the profile, and regularly obtained IO statistics through the gluster vlume profile xxx... command. Recently, two servers experienced an abnormal exit of the replica service In the case of , the reason is "signal received: 11", the specific details are as follows:

T

[2022-11-13 03:52] mohit84 commented on #3901
Can you please share the "thread apply all bt full" output from the coredump?

[2022-11-13 09:04] jifengzhou commented on #3901
node1:
[code]

[2022-11-13 09:05] jifengzhou commented on #3901
node2-1:
[code]

[2022-11-13 09:07] jifengzhou commented on #3901
node2-2:
[code]

[2022-11-14 11:31] pemensik commented on #2778
still waiting for a comment from maintainers, not me

[2022-11-14 13:14] amarts commented on #2778
@kalebskeithley @nixpanic any suggestions here?

[2022-11-15 17:47] Nivekiba commented on #3895
Agree, i have the same problem too.

[2022-11-17 07:24] mbao opened #3906 "contention with lookup?"

[2022-11-17 07:28] jkroonza opened #3907 "No support for RENAME_NOREPLACE when using renameat2"
**Description of problem:**

Any program that uses renameat2(..., RENAME_NOREPLACE); will fail with errno=EINVAL

Using FUSE mounts in my case, so may be different using other mount mechanisms.  Glusterfs 10.2.

[2022-11-18 14:35] mavpath commented on #3814
nobody else has this problem?

[2022-11-20 22:09] devZer0 commented on #2251
i have looked at glusterfs more then 5 years ago to find that it's unusable for storing virtual maschines, as you have horrible long runtime if you have hundreds of gigabytes of virtual machine files on glusterfs and then need to resync those hundreds of gigabytes after some node outage.

i cannot understand why glusterfs still has no solution for faster heal/resync and why someone writes "To me t

[2022-11-21 09:42] WelldoneIT opened #3908 "how use simple-quota"
**Description of problem:**

hello ,when i use gluster  （devel），i set as :

# gluster v set <vol> feature.simple-quota-pass-through true
# gluster v set <vol> feature.simple-quota.use-backend true

# setfattr -n trusted.glusterfs.namespace -v true /brick-0/<vol>/vvv1
# setfattr -n trusted.gfs.squota.limit -v 10000000  /brick-0/<vol>/vvv1
another copy：
# setfattr -n trusted.glusterfs.namespace -v t

[2022-11-21 10:02] amarts commented on #3908
`gluster v set feature.simple-quota-pass-through false`

if you set 'pass-through' as true, it would be made as a pass-through (ie, not considered). Let me know if that one command allows you to work with it.

[2022-11-21 13:41] Nivekiba opened #3909 "rot-13 example for xlator guideline"
Hello everyone,
I was following the guide to create a new xlator, when i faced a problem.
the rot-13 example is not working.
When i investigate in the xlators/playground/rot-13/src/rot-13.c file, i found that there is not xlator_api variable set.
I want to know if it's normal and if not, how am i supposed to make it work ?

there is the error i'm getting

![image](https://user-images.githubusercon

[2022-11-23 03:26] #3906 closed, assigned to nobody

[2022-11-23 09:07] csy97 opened #3910 "glusterfs-client crashed - sigabort"
**Description of problem:**
glusterfs-client  killed by SIGABORT

**The exact command to reproduce the issue**:
This is an occasional problem. When I use version 7.0 of glusterfs on openstack, this problem occurs frequently

**The full output of the command that failed**:
<details>
![1801458327](https://user-images.githubusercontent.com/88969851/203506271-b3ab15dd-8ae0-4c94-abc6-6b5e7c8b4973.jpg)

[2022-11-23 09:59] WelldoneIT commented on #3908
First of all ，thank you very much for your reply，i set as ：

gluster v set feature.simple-quota-pass-through false
gluster v set feature.simple-quota.use-backend true
setfattr -n trusted.glusterfs.namespace -v true /brick-0/v1/vvv1
setfattr -n trusted.gfs.squota.limit -v 10000000 /brick-0/v1/vvv1
another copy：

setfattr -n trusted.glusterfs.namespace -v true /brick-1/v1/vvv1
setfattr -n trusted.gf

[2022-11-23 17:06] manfredw commented on #3648
Solved the issue by using a [gusterfs repository](https://download.opensuse.org/repositories/home:/glusterfs:) from SUSE Build Service which offers a newer version of glusterfsd that worked.

[2022-11-24 07:31] aravindavk commented on #3909
I think the document is outdated. Refer this patch to add xlator_api to your xlator https://github.com/gluster/glusterfs/commit/1741b22dacea9475febecf32bc0d9d9a1dcc0323

[2022-11-25 11:50] k-van-man opened #3911 "Failed to start GlusterFS, a clustered file-system server. (on ODROID-HC1 with Ubutu 22.04)"
**Description of problem:**
On a fresh install Ubuntu 22.04 on Odroid HC1 (ARM® big.LITTLE™ ):
Failed to start GlusterFS, a clustered file-system server.

**The exact command to reproduce the issue**:
`root@hc1:~# systemctl enable --now glusterd
`

**The full output of the command that failed**:

[code]

[code]

**Expected results:**
Running gluster deamon

**Mandatory info:**
**- The output of th

[2022-11-25 11:52] k-van-man commented on #3911
[core.882.zip](https://github.com/gluster/glusterfs/files/10092496/core.882.zip)

[2022-11-25 12:38] xhernandez commented on #3911
Gluster crashed because of an "illegal instruction". If I'm not wrong, Odroid HC1 is a 32-bit platform, and Gluster doesn't support it.

Most probably the reason of the crash is an attempt to execute a 64-bit atomic instruction, which is not supported in a 32-bit platform.

[2022-11-25 13:10] k-van-man commented on #3911
Aha, yes the Odroid HC1 is old and 32 bit, and running Ubuntu 22.04
Is there another solution to host a distributed file system on multiple ARM 32-bit processor system like the Odroid HC1?

[2022-11-25 13:51] k-van-man commented on #702
The Odroid HC1 is also 32 bit, and now running Ubuntu 22.04 with k3s up-and-running, For the fun part I want to install GlusterFS that works, but it will not run, it crashes with a coredump. Isn't there a small fix? Or can I use another 32-bit supported version?

[2022-11-25 13:55] k-van-man commented on #3911
I'm not the only one with old 32-bits cpu boards [see this link](https://github.com/gluster/glusterfs/issues/702)

[2022-11-25 22:04] madmax01 opened #3912 "Gluster >10.1 instable. Bricks going down"
Hi Team,

10.2 and 10.3  i have issues Bricks going down.

differently Setups affected.

AlmaLinux release 8.6 (Sky Tiger) + AlmaLinux release 8.7 (Stone Smilodon)
10.3 Gluster

No Issues with 10.1 Gluster

Volume Name: gv0
Type: Replicate
Volume ID: be4ce0a6-fefb-40d8-9858-99c8f0619764
Status: Started
Snapshot Count: 0
Number of Bricks: 1 x 4 = 4
Transport-type: tcp

In this Cluster atm i have 1

[2022-11-25 22:44] madmax01 commented on #3912
based on the Option... May 10.2 or 10.3  not happy with any Setting which works on 10.1 ?.  Hoping the Issue can be addressed.

diagnostics.brick-log-level: WARNING
cluster.lookup-optimize: off
cluster.server-quorum-type: server
cluster.quorum-count: 1
cluster.quorum-type: fixed
server.keepalive-count: 5
server.keepalive-interval: 2
server.keepalive-time: 10
server.tcp-user-timeout: 10
network.pin

[2022-11-25 22:45] madmax01 commented on #3912
[core.glusterfsd.0.3bd274f8333e490cb513d757a86214d4.5936.1669410505000000.zip](https://github.com/gluster/glusterfs/files/10095252/core.glusterfsd.0.3bd274f8333e490cb513d757a86214d4.5936.1669410505000000.zip)

thats the whole core.glusterfsd dump from /var/lib/systemd/coredump

[2022-11-26 04:08] mohit84 commented on #3912
Can you please share "thread apply all bt full" after attaching a core through gdb in your environment?

[2022-11-26 05:44] sorcky opened #3913 "glusterd memory leak observed while constantly running gluster volume status data detail"
**Description of problem:**

`glusterd` process memory leaks constantly while running `gluster volume status data detail`

**The exact command to reproduce the issue**:

We have 3 node cluster with one volume. Our monitoring system runs different commands against the cluster and this leads to memory leak in `glusterd` process.
We have isolated the problem down to the following command:
`while true

[2022-11-26 09:43] madmax01 commented on #3912
sry don't know how that works.... can you give more instructions on how to use debugger. never used it.

assuming this is not helpfully anymore once the brick is back up ?!  nothing usefully in the coredump?

there must be a specific change since 10.1.....

10.1 = stable
10.2 = brick down after a while
10.3 = brick down after a while

;(

[2022-11-26 12:34] mohit84 commented on #3912
I don't have AlmaLinux environment so it would be difficult for me to attach a core with gdb.
You just need to install gdb in your environment and attach a core like below
gdb -c <core_file> <glusterd path (/usr/sbin/glusterd or whatever is the path at your environment>
then you can run thread apply all bt full on prompt and it will print the stacktrace with all the variable
names/values and share

[2022-11-26 12:49] madmax01 commented on #3912
Hi Mohit84. ok thx ;).

what's expected to be for core_file.. is this output file? As if its input > not sure which file this this is

[2022-11-26 12:52] mohit84 commented on #3912
The core file is the input file as you shared under zip(core.882), the second argument is the binary name
that is required to attach a core with gdb.

[2022-11-26 13:16] madmax01 commented on #3912
thx mohit84. Hopefully this helps?

[thread_apply_all_bt.txt](https://github.com/gluster/glusterfs/files/10096329/thread_apply_all_bt.txt)

[2022-11-26 13:18] mohit84 commented on #3912
you need to install debug packae also, as you can see it is throwing a message "No symbol table info available"

[2022-11-26 13:20] madmax01 commented on #3912
apologize - Well - as said i never used this so far. Zero Clue how to handle this. Which Package would need to be installed on Rhel downstreams?

[2022-11-26 13:22] madmax01 commented on #3912
rhel downstreams not finding lzma-devel.. is it the xz-devel?

[2022-11-26 13:22] mohit84 commented on #3912
can you please try to apply a patch (https://github.com/gluster/glusterfs/pull/3898) in your environment, from the function trace it seems it is similar to this.

[2022-11-26 16:56] mbirth commented on #3605
I have this on a Raspberry Pi 2:

[code]

This is with Ubuntu 22.04 and their latest glusterfs-server package. Same version runs fine on a Raspberry Pi 3 and 4 (both arm64 instead of armv7).

[2022-11-27 10:50] madmax01 commented on #3912
Hi mohit84, i tried to get the symbols added > but not able to get it running. keeps telling no symbols.

i revert for now to 10.1 and re/test 10.4 or higher

thx for assist ;)

[2022-11-27 10:50] #3912 closed, assigned to nobody

[2022-11-28 05:48] Nayana-ibm commented on #3300
Its still an issue with latest version

[2022-11-28 05:49] Nayana-ibm commented on #3344
Its still an issue with latest version

[2022-11-28 05:49] Nayana-ibm commented on #3345
Its still an issue with latest version

[2022-11-28 06:18] mohit84 commented on #3300
The fix is part of the release-10.2(https://github.com/gluster/glusterfs/issues/3470), it seems you are using release-10.1 so please upgrade your environment.

[2022-11-28 06:21] mohit84 commented on #3300
If u are getting the crash on the latest build can you please share the command output "thread apply all bt full" after attaching a core with gdb also share the latest logs.

[2022-11-28 07:38] xhernandez commented on #3605
Latest versions of Gluster don't work on 32-bit architectures because they use 64-bit atomics, which are not supported and cause an "Illegal instruction" error.

[2022-11-29 07:48] venkatr25 opened #3915 "Segmentation fault (core dumped)"
Hi,

We have glusterfs configured on RHEL 7.9
recently we are facing issue with glusterfs as below

[root@abc123 ~]# gluster -help
Segmentation fault (core dumped)

And if we use df -h server gets hung state

Solution Tried
----------------
1, we are trying to reconfigure gluster, removed the gluster server and fuse rpm
    once removed gluster server & fuse df -h is working fine but again install

[2022-11-30 03:18] chen1195585098 commented on #3908
Hi, @WelldoneIT try to set these features on the mountpoint, and see if it works

[2022-11-30 04:18] amarts commented on #3908
@WelldoneIT i want to confirm if the simple-qouta feature is loaded at all in the process. Can you check if the server logs have simple-quota in it (a grep should do that). Also notice that simple quota translator was developed as an alternative to current quota, but gluster community has not started using it extensively.

It's used by the kadalu projects (both in Moana and Kadalu repo). You can g

[2022-11-30 14:28] kmoore134 commented on #3023
Hello! Checking in if there is any movement or ETA on the release. We're trying to see when this may land in Debian packages and we can pull into TrueNAS SCALE.

[2022-11-30 14:48] mykaul commented on #3023
There are still few PRs optimistically marked with 'Gluster 11' label (see https://github.com/gluster/glusterfs/pulls?q=is%3Aopen+is%3Apr+label%3A%22release+11%22+ ) - I assume they need to be pushed out, as the branch already took place, to the best of my knowledge.

If anyone from the TrueNAS team can help with reviewing patches, that'd be great!