[2021-10-06 12:01] ravi-singh1 commented on #2845
[code]

[2021-10-06 12:04] pranithk commented on #2845
Could you provide output of
`mount | grep fuse` and also the client log file

[2021-10-06 12:08] ravi-singh1 commented on #2845
My bad I was looking into sub-dir.

`root@fuse-multinode3:~# cd /gluster/.meta/graphs/active
root@fuse-multinode3:/gluster/.meta/graphs/active# ls -lart
total 0
drwxr-xr-x 2 root root 0 Oct  6 12:05 .
drwxr-xr-x 2 root root 0 Oct  6 12:05 ..
lrwxrwxrwx 1 root root 0 Oct  6 12:05 top -> meta-autoload
drwxr-xr-x 2 root root 0 Oct  6 12:05 meta-autoload
-rw-r--r-- 1 root root 0 Oct  6 12:05 volfile
d

[2021-10-06 12:10] ravi-singh1 commented on #2845
[code]

[2021-10-06 12:56] ravi-singh1 commented on #2845
GlusterFS client side logs:

[client_logs.log](https://github.com/gluster/glusterfs/files/7293880/client_logs.log)

[2021-10-06 13:16] pranithk commented on #2845
Configuration seems to be applying fine. The only other possibility is probably open-behind. Could you disable open-behind and try the same experiment?
`gluster volume set <volname> performance.open-behind off`

[2021-10-06 14:49] amarkelov opened #2848 "glusterfsd and glusterd have max open files hardcoded"
**Description of problem:**
In my setup glusterfsd started reporting "Too many open files" in brick log and I tried to lift the max limit on the server, using  systctl, but the settings were not uptaken by glusterfsd. I tracked it down to [this code](https://github.com/gluster/glusterfs/blob/35039253bac67be83ecf786c4ceb8aefd503e355/xlators/storage/posix/src/posix-common.c#L991) where the limit is

[2021-10-06 17:06] ravi-singh1 commented on #2845
Test failed again with open-behind disabled at server side.

Server side :
[code]
Client side :
[code]

[2021-10-06 17:09] pranithk commented on #2845
All possible causes of open consistency behavior changes in gluster have been disabled. Do you see any other differences between the setup that was working and this?

[2021-10-06 17:14] ravi-singh1 commented on #2845
Previous setup info:
[code]

features.ctime: off in previous setup,  does it any affect on close-open consistency?

[2021-10-06 17:18] pranithk commented on #2845
No it doesn't implement flush operation at all. So it shouldn't.

[2021-10-07 06:14] pranithk commented on #2845
@ravi-singh1 I have one more doubt, if it is not at the time of writing maybe something is not working as expected at the reading end. Could you let me know how your application communicates to other clients that it can start reading the file to compute md5sum?

[2021-10-07 09:48] baturorkun opened #2849 "Fixing "Is in split-brain" problem"
I  have the problem about "Is in split-brain". Healing process did not finish.  should I wait? or can I do anything? I could not start 2 devices.

thanks

[code]

[2021-10-07 09:54] baturorkun commented on #2849
Meanwhile
I healed shards with that commands below
But I could not "gfid:063b2600-4abd-4fa0-a87c-2991cd392566"
[code]

[2021-10-07 09:57] karthik-us commented on #2849
@baturorkun Could you please let us know the following details
- What version of gluster you are running on servers and clients
- gluster volume info & volume status
- getfattr -d -e hex -m. path-to-file and the stat output of the entries which are pending heal from all the bricks
- Are there any errors logged in the glustershd.log files while trying to heal these entries

[2021-10-07 13:51] mykaul opened #2850 "Remove iobuf_get_from_stdalloc() - replace it with iobuf_get_from_small()"
They are practically the same, only _stdalloc() goes to great lengths to look like a regular arena, with absolutely no value to it.

[2021-10-07 16:12] mykaul commented on #2850
@mohit84 - thoughts?

[2021-10-07 16:15] mohit84 commented on #2850
Yes we can most of the code is common , i will send a patch.

[2021-10-08 05:06] ravi-singh1 commented on #2845
We have 3 nodes which are registered with a Redis server.
1. Write a file at node1, read the same file from other nodes(node2, node3).
2. Redis runs md5sum command in parallel across the nodes(node1, node2 and node3).
3. Then Redis compares the md5sum of all the nodes.

If any mismatch of md5sum at any node then test fails.

[2021-10-08 05:09] pranithk commented on #2845
All these writes and reads are on gluster mounts? Also does redis server run on all these 3 nodes and how do the servers communicate between each to make sure that the read happens after write?

[2021-10-08 05:35] ravi-singh1 commented on #2845
Yes all these writes and reads are on GlusterFS mounts.

Also does redis server run on all these 3 nodes?
We have a dedicate machine for running Redis server and all nodes are registered to this redis server.

 how do the servers communicate between each to make sure that the read happens after write?
 It is the test-case which take care of order,  we pass single node IP(node1 IP addr or hostname)

[2021-10-08 05:46] pranithk commented on #2845
Does different file gets written every time. Or same file is over written every time?
Will it be possible for you to do the following analysis?
1) On the node that is doing writes mount 6.x client that was working and keep the reader nodes with 7.2 clients and see if it works as expected
2) On the node that is doing writes mount 7.2 client and keep the reader other nodes with 6.5 clients and see i

[2021-10-08 05:54] ravi-singh1 commented on #2845
Same file is over written every time.

Sure I will give a try.

[2021-10-08 06:21] misogihagi opened #2853 "rpmbuild failed"
**Description of problem:**
I tried building rpm on AWS EC2  with seeing https://docs.gluster.org/en/latest/Developer-guide/Building-GlusterFS/#configuring-for-building.
AMI is Red Hat Enterprise Linux (RHEL) 7 (HVM).

[code]
**The full output of the command that failed**:

RPM build errors:
    Directory not found: /home/ec2-user/glusterfs-9.3/extras/LinuxRPM/rpmbuild/BUILDROOT/glusterfs-9.3-0.0.

[2021-10-08 11:43] XiJinyu commented on #2744
@pranithk @mohit84 This problem may occur in the following scenarios:

     (1) mkdir A
     (2) rename A to B
    After A is renamed B , recreate A and execute circularly, this problem will appear.

Rename succeeded on some subvolumes and failed on the remaining subvolumes. the former gfid_ link_ file points to B, the latter gfid_ link_ file still points to A.
During self repair, on the former br

[2021-10-08 12:11] mohit84 commented on #2744
Recently we fixed a stale gfid issue(https://github.com/gluster/glusterfs/pull/2704) in dht during rename , would it be possible for you to share some script to reproduce the same.

[2021-10-08 13:17] chetanmore1 commented on #2841
Hello,
In heal info output you provided, below 3 folders need healing which are parent folders hierarchy of /dataStore1/k8s/manifests/prod/grafana/data/prometheus/db/**01FGNCCBACCHNQEGVV0N3H4PT6** which is giving problem.

**/k8s/manifests/prod
/k8s/manifests/prod/grafana/data/prometheus/db
/k8s/manifests/prod/grafana/data/prometheus/db/wal**

Please provide getfattr -d -m . -e hex for all folders

[2021-10-09 00:24] inevity commented on #2853
Try no PYTHON=/bin/python2 to see

[2021-10-09 01:45] #2184 closed, assigned to nobody

[2021-10-09 03:17] XiJinyu commented on #2744
@pranithk @mohit84  Hi, On glusterfs-9.4, there may be the same problem. Here are my debugging steps and some script to reproduce:

1. On the two test nodes, 2*(10+2) Distributed-Disperse Volume is built ,using glusterfs-9.4.
[code]

2. mount
[code]

3. On node0001, open three windows: window11，windows12，window13：
[code]
[code]
[code]

4. On node0002, open three windows: window21，window22，window23

[2021-10-09 11:01] #2161 closed, assigned to nobody

[2021-10-11 08:26] XiJinyu opened #2857 "variable twice initialization."

[2021-10-11 10:40] ravi-singh1 commented on #2845
@pranithk  Do GlusterFS-client version 3.13 and GlusterFS version 6.5 support Ubuntu20?

[2021-10-11 10:49] pranithk commented on #2845
6.x and 7.x are EOL. So unlikely

[2021-10-12 05:47] gdevby opened #2859 "can't mount after reboot"
After reboot gluster couln't mount volume
[error.txt](https://github.com/gluster/glusterfs/files/7327256/error.txt)

In this case i should connect to server and execute command by hand mount -a .

[2021-10-12 06:00] gdevby commented on #2859
It could occur when you restart two node.

[2021-10-12 06:00] #2859 closed, assigned to nobody

[2021-10-12 08:19] misogihagi commented on #2853
It does not change.
additionally, I tried
`yum install http://mirror.centos.org/centos/7/extras/x86_64/Packages/python-greenlet-0.4.2-4.el7.x86_64.rpm
`
 because I couldn't find python-greenlet

[2021-10-12 11:26] xmarcux opened #2861 "Failed heal on gluster 9.3"
**Description of problem:**
It started with 995 files that failed heal.
After full heal this decreased to 75.
These 75 objects refuses to heal.

**Mandatory info:**
**- The output of the `gluster volume info` command**:

Volume Name: gds-admin
Type: Replicate
Volume ID: f1f112f4
Status: Started
Snapshot Count: 7
Number of Bricks: 1 x (2 + 1) = 3
Transport-type: tcp
Bricks:
Brick1: urd-gds-001:/urd

[2021-10-12 11:27] nixpanic commented on #2780
https://lists.gluster.org/pipermail/packaging/2021-October/000975.html

[2021-10-12 11:52] xmarcux commented on #2861
As requested in last mail:
**1.**
Parent directory of: /urd-gds/gds-admin/backup/backups/urd-web-001/var/tmp
urd-gds-000:
getfattr -d -m. -e hex /urd-gds/gds-admin/backup/backups/urd-web-001/var
getfattr: Removing leading '/' from absolute path names
file: urd-gds/gds-admin/backup/backups/urd-web-001/var
trusted.gfid=0x1e3a1b32eb7c42da96aa362ff44d19dc
trusted.glusterfs.dht=0x0000000000000000000000

[2021-10-12 11:53] sandrobonazzola commented on #2780
Thanks @nixpanic , this works for me, waiting for it to be promoted to release

[2021-10-12 12:29] ravi-singh1 commented on #2845
@pranithk I installed GlusterFS 7.2 on all the nodes and the server. But still close-to-open consistency test is failing.
OS : Ubuntu20.04.
Kernel version: 5.4.0-88-generic

[2021-10-12 12:32] pranithk commented on #2845
This feature is a feature on the client side. So as requested earlier, we need a comparison on 7.2 where it didn't work and 6.5 where it worked both on read and write sides to isolate if the issue is on read side or write side.

[2021-10-12 12:49] nixpanic commented on #2780
glusterfs-8.6-2.el8 and glusterfs-8.6-2.el8s are now available on the CentOS mirrors.

[2021-10-12 12:49] #2780 closed, assigned to nobody

[2021-10-12 13:05] Shwetha-Acharya commented on #2805
@GorgetGuilhem can you make sure that below pre requisites are already met:

1. If primary is a sharded volume, secondary also needs to be sharded volume.
2. Geo-rep sync-engine must be 'rsync'. tarssh is not supported for sharding configuration.
3. GlusterFS option of "strict-write-ordering" needs to enabled both on primary and secondary.

[2021-10-12 14:47] mohit84 commented on #2744
I am able to reproduce the issue partially(getting already associated error), currently the entry creation operation
is not atomic that's why posix_mkdir is throwing an error.There is a patch((https://github.com/gluster/glusterfs/pull/2600) to make it atomic but it will take some time to finish.I hope in next minor version we would be able to resolve it.

[2021-10-13 07:09] chetanmore1 commented on #2861
Hello Marcus,
please confirm all clients and servers gluster version and op version
1. gluster --version
2. gluster volume status volRep  clients
3. gluster volume get all cluster.op-version

Regards,
Chetan.

[2021-10-13 07:47] ravi-singh1 commented on #2845
Set up details:
1.node1: GlusterFS: 3.13, OS: Ubuntu18
2. node2, node3 : GlusterFS 7.2, OS Ubunt20
3. GlusterFS server(separate machine) : Gluster-server : 6.5 version, OS: Centos7

Below is the result after close-to-open consistency test faild:
1. node3 wrote some data to  <gluster_mount>/file.
2. node1 showed correct data after reading and matched md5sum of file at node3 and node1.
3. node2 has

[2021-10-13 08:01] pranithk commented on #2845
Both the nodes that are writing and reading are of same version in case of node3 and node2. So it is difficult to tell if node1 succeeded because of a race or a bug in 7.2 for node2. Could you do this test with reader and writer having different versions, i.e. one with 6.5 and the other with 7.2 and vice versa to find which version of gluster is giving this issue in which path?

[2021-10-13 08:24] xmarcux commented on #2861
Hi Chetan,
Here is the info you needed:
1. glusterfs 9.3
2.
[code]

3.
[code]

[2021-10-13 08:38] chetanmore1 commented on #2861
Hello Marcus,
please perform following steps.

Bump up op version.
1. gluster volume set all cluster.op-version 90000

Disable option below
2.  gluster volume set gds-admin use-anonymous-inode no

Run gluster index heal command
3. gluster v heal gds-admin

See if healing is completed successfully.
4. gluster v heal gds-admin info

Enable back option below
5.  gluster volume set gds-admin use-anony

[2021-10-13 09:15] xmarcux commented on #2861
Thanks Chetan!!
That worked out well.
I am down on all zeros:
[code]
Can you please explain to me why the cluster.op-version was set to 80000?
I had the impression that if all nodes in the gluster cluster is upgraded to version 9 and all clients upgraded to version 9,
they would agree on version 9 and use version 9, or have I misunderstood how it all works?
Am I supposed to manually bump the op ve

[2021-10-13 12:29] rakshithakamath94 opened #2862 "The test case ./tests/bugs/bug-1702299.t is failing the regression test on Centos-8"
**Description of problem:**
The regression test is failing for the test case ./tests/bugs/bug-1702299.t

**The exact command to reproduce the issue**:
prove -vf /tests/bugs/bug-1702299.t

**The full output of the command that failed**:
<details>
./tests/bugs/bug-1702299.t ..
1..13
find: ‘/var/lib/glusterd/*’: No such file or directory
find: ‘/var/run/gluster’: No such file or directory
ok   1 [

[2021-10-13 12:34] mykaul opened #2863 "iobuf arenas: remove arenas that are smaller than 128K - they just take up memory"
Following https://github.com/gluster/glusterfs/commit/491e9ec38bbfedf3caed52535b718efdc2dd6117, which changed the way we use arenas - we now use them only for requests that are larger than 128K, we should remove the smaller areans.

1. We probably need some more arenas between 128K and the next one - 256K.
2. I'm unsure if just 2 arenas of 1MB make sense.
3. There's a significant hit after this ch

[2021-10-13 15:10] rakshithakamath94 opened #2865 "The test case tests/basic/0symbol-check.t is failing the regression test on Centos-8"
**Description of problem:**
The test case tests/basic/0symbol-check.t is failing the regression test (https://build.gluster.org/job/centos8-regression/476/console)

**The exact command to reproduce the issue**:

**The full output of the command that failed**:
<details>

**Expected results:**
<details>

**Mandatory info:**
**- The output of the `gluster volume info` command**:

**- The output of th

[2021-10-13 17:50] #2862 closed, assigned to nobody

[2021-10-14 03:51] ravi-singh1 commented on #2845
FYI:
All 10k iterations of close-to-open consistency test passed with the below config:

1. node1 and node2 with GlusterFS-client version 3.13. (reason for using this client version is because with this version previously close-to-open test of 10k iterations were passed)
2. node3 with GlusterFS-client version 7.2.

[2021-10-14 03:52] ravi-singh1 commented on #2845
I am working on it. I Will post the result soon.

[2021-10-14 08:09] dfoxg commented on #2467
Can you maybe release the quickwin, mentioned [here](https://github.com/kadalu/glusterfs/commit/9ef8a8a2dd3e2502961f37baee48df9c3ffd254f) so that the client isn´t crashing anymore?

[2021-10-14 14:27] VeeEnDee commented on #2319
Hey, @sac
we can not reproduce this problem either. It happens randomly, but relatively often, several times a day and causes big troubles, as it cause high severity triggers that gluster is down, although gluster is operational and running.
We are using gstatus from git https://github.com/gluster/gstatus.git, and lateas version:
[code]

From your message above > Can you please check with the glus

[2021-10-14 15:19] amarts commented on #2467
Thanks @mohit84 for pointing at the issue at libfuse. Looks like `pid == 0` a valid entry in container usecases.

[2021-10-14 16:22] sac commented on #2319
Hi @VeeEnDee I mean you can file an issue in glusterfs project. And contact the glusterd developers in their slack channel.
The reason I believe this could be glusterd problem is, gstatus just reports the output provided by glusterd. And the glusterd logs reported errors. You can add glusterd logs around the time you run gstatus. That should be helpful for them to debug.

[2021-10-15 02:17] XiJinyu opened #2878 "large delay with mkdir directory."
In Distributed-Replicate volume (Number of bricks: 12 * 2 = 24), when [mkdir] multiple directories, it is found that the delay in [mkdir] directories varies greatly, with a minimum delay of 44ms and a maximum delay of 4503 ms.

    ...
    2021-10-14 15:56:27: create dir[/mnt/afrVol/dir1 elapse 2601 ms]
    2021-10-14 15:56:33: create dir[/mnt/afrVol/dir2 elapse 4503 ms]
    2021-10-14 15:56:35: c

[2021-10-16 05:00] ryancaicse commented on #2789
Hi, any security impacts for the first bug?
I think there could be security issues - unreleased lock could lead to deadlock(a DoS), wreaking a DoS.
Could we apply CVE for this?

[2021-10-16 18:45] mykaul opened #2881 "Missing unlock in _afr_cleanup_fd_ctx() ?"
[code]

Whereas in afr_remove_lock_from_saved_locks() for example I'm seeing:
[code]

The code is not covered in code coverage, so it may have gone unnoticed.

[2021-10-17 02:08] pranithk commented on #2881
@mykaul Yes, this is bug, want to send a patch? This is only set with mandatory locking which I don't think lot of people use, that is why we probably haven't faced it.

[2021-10-17 03:20] #2173 closed, assigned to nobody

[2021-10-17 03:20] #2216 closed, assigned to nobody

[2021-10-17 07:55] mykaul commented on #2789
@ryancaicse - how could __upcall_cleanup_client_entry() return anything but 0?

[2021-10-17 08:00] ryancaicse commented on #2789
I don't know since I did not write them. I am also asking questions.

[2021-10-17 08:21] pranithk commented on #2789
As it stands now, it won't. the patch is more of future proofing if someone were to introduce cases where -ve value will be returned. So it is not a CVE

[2021-10-17 08:54] ryancaicse commented on #2789
@pranithk @mykaul Many thanks for your reply

[2021-10-17 11:46] thenamehasbeentake opened #2884 "When the shard function is enabled, the quota function for subdirectories will be displayed incorrectly"
**Description of problem:**
When the shard function is enabled, the quota function for subdirectories will be displayed incorrectly

**The exact command to reproduce the issue**:
[code]

**The full output of the command that failed**:
<details>

**Expected results:**
 commond  `gluster v quota vol list` should show /quotadir  Used 100 MB

<details>

**Mandatory info:**
**- The output of the `glust

[2021-10-17 12:09] thenamehasbeentake opened #2885 "It doesn't work when option `storage.health-check-interval` reconfigure to 0"
**Description of problem:**
option `storage.health-check-interval` reconfigure to 0 does not take effect

**The exact command to reproduce the issue**:
The problem is caused by [this submission](https://review.gluster.org/#/c/glusterfs/+/21976/)

[2021-10-17 16:25] ryankkim opened #2886 "can't read superblock"
**Description of problem:**
When mount glusterFS volume, can't read superblock

**The exact command to reproduce the issue**:
 mount -t xfs UUID=.............

**The full output of the command that failed**:
mount: /dev/mapper/vgf-lvf: can't read superblock

**Expected results:**
<details>

**Mandatory info:**
**- The output of the `gluster volume info` command**:

**- The output of the `gluster v

[2021-10-18 06:10] chetanmore1 commented on #2861
Hi Marcus,
We need to manually bump up op version when we upgrade.
Please refer -> Post upgrade steps on
https://docs.gluster.org/en/latest/Upgrade-Guide/generic-upgrade-procedure/

Regards,
Chetan.

[2021-10-18 10:39] #2865 closed, assigned to mohit84

[2021-10-18 13:57] #2467 closed, assigned to nobody

[2021-10-19 03:07] Shwetha-Acharya commented on #2785
https://github.com/gluster/glusterfs/pull/2839

[2021-10-19 03:07] #2785 closed, assigned to Shwetha-Acharya

[2021-10-19 18:27] Sheetalpamecha commented on #2793
No it was changed later and i suppose description was missed out from PR.
The description needs to be updated to reflect the value '2' for normal migration.

[2021-10-20 00:31] tusooa opened #2890 "Missing 9.3 builds for Debian bullseye on arm64"
**Description of problem:**
Missing 9.3 builds for Debian bullseye on arm64. https://download.gluster.org/pub/gluster/glusterfs/9/9.3/Debian/bullseye/ contains no arm64 directory.

**The exact command to reproduce the issue**:
N/A

**The full output of the command that failed**: N/A
<details>

**Expected results:** N/A
<details>

**Mandatory info:**
**- The output of the `gluster volume info` comm

[2021-10-20 01:46] #2881 closed, assigned to nobody

[2021-10-20 05:38] Shwetha-Acharya commented on #2890
We are not building arm packages due to resource constraints

[2021-10-20 09:22] GorgetGuilhem commented on #2805
@Shwetha-Acharya theses requirements are effectively met. GlusterFS option of "strict-write-ordering" wasn't enabled on first geo-replication session so I:

 1. recreated the secondary volume
 2. added the option on both primary and secondary side
 3. recreated the geo-replication session from scratch

Result is exactly the same.

[2021-10-20 12:44] dreua opened #2892 "`feature.shard on` writes corrupted files when the directory is read simultaneously"
**Description of problem:**
Everything in this issue applies only with `feature.shard on`!

We had reports of files being written to GlusterFS being occasionally bigger than the source files. This corruption on write can easily reproduced when running `watch -n0 ls` on the mounted directory simultaneously to the write operations.

This has only been tested with the GlusterFS FUSE connector.

**The

[2021-10-20 13:32] vh05 commented on #2892
Hello @dreua

If I am not wrong this issue is duplicate of https://github.com/gluster/glusterfs/issues/2246
and patch for the same is in review. the patch can be found at https://github.com/gluster/glusterfs/pull/2304

Can you please check the patch resolves the issue ?

Regards
Vinayak

[2021-10-20 13:35] dreua commented on #2892
Thanks I'll have a look at that!

[2021-10-20 13:37] dreua commented on #2246
@olegkrutov since this is this issue is very specific to sharding, maybe you could add this keyword in the issue title.

[2021-10-20 16:06] dreua commented on #2892
I applied the patch on top of 9.4 and it seems to work! I think it's time to get it merged and maybe even backported to fix this, no?

[2021-10-20 19:42] Deltik commented on #2027
I haven't been able to figure out how to reproduce the issue, either, but I was able to rule out `cluster.eager-lock=off` and `features.bitrot=off` as workarounds:
[code]

GlusterFS version:
[code]

(The statedump is just as uninformative as initially reported in this issue.)

[2021-10-21 03:41] vh05 commented on #2892
Yes, sure... @pranithk @xhernandez Could you please help me merge this patch https://github.com/gluster/glusterfs/pull/2304

[2021-10-21 05:39] amarts commented on #2319
@sac this is an issue in glusterfs project :-)

@nik-redhat any help possible here?

[2021-10-21 06:42] XiJinyu commented on #816
@amarts Hi amarts, this is really a great feature. how can I set this function wo work? In the devel branch, it seems that RIO is not merged. Does that mean that  it cannot be used in the devel branch?

[2021-10-21 06:54] amarts commented on #816
The code is merged, but to use it you need few steps:

1. Build glusterfs from source with `./autogen.sh && ./configure --enable-metadisp` and make install.
2. Run https://github.com/gluster/glusterfs/tree/devel/tests/basic/metadisp to make sure this is working.

What is to be done to make it main stream:

 *  provide an option to make a volume with metadisp type (glusterd changes, volgen changes)

[2021-10-21 07:29] nik-redhat commented on #2319
Hi @VeeEnDee , you mentioned that the `gstatus` command is run in 5 mins interval but from the logs it looks like they have been run more frequently. 'Locking issue` is a known bottleneck in glusterd when you execute the `gluster v status` continuously and sometimes it might fail out due to `Another transaction in progress` error.
Maybe, you could try increasing the interval at which the command i

[2021-10-21 12:03] nik-redhat commented on #2857
@XiJinyu are we good to close the issue, considering the linked PR is merged?

[2021-10-21 12:14] nik-redhat commented on #2738
Is it happening even now?
If so, please do share the logs in `glusterd.log` for the node on which the command fails.

[2021-10-21 16:50] #2206 closed, assigned to nobody

[2021-10-21 16:50] #2228 closed, assigned to nobody

[2021-10-21 16:50] #2229 closed, assigned to nobody

[2021-10-21 16:50] #2230 closed, assigned to nobody

[2021-10-21 16:50] #2227 closed, assigned to nobody

[2021-10-22 03:29] XiJinyu commented on #816
@amarts Hi amarts, according to the "./autogen.sh && ./configure --enable-metadisp", I have compiled and generated glusterfs-v10.0rc0**.rpm, and completed the installation through "yum localinstall".

but I try to run "https://github.com/gluster/glusterfs/tree/devel/tests/basic/metadisp ", there seems to be some problems. how to slove it?

when run "sh basic/metadisp/metadisp.t" the glusterd and g

[2021-10-22 03:34] #2247 closed, assigned to nobody

[2021-10-22 05:11] bbqaaq opened #2895 "Disaster recovery on geo-replication is not working"
Let me apologize in advance that it may be not appropriate to ask question here.

I have try to follow the steps from
[https://access.redhat.com/documentation/en-us/red_hat_gluster_storage/3.5/html/administration_guide/sect-disaster_recovery](url)
but once I have reach the step "Failback: Resuming Master and Slave back to their Original State", I cannot sync the data back from the original slave t

[2021-10-22 08:12] #2249 closed, assigned to nobody

[2021-10-22 10:47] #2861 closed, assigned to nobody

[2021-10-23 10:26] mykaul opened #2898 "Release 11: remove 'GlusterFS 3.3' RPC code"
I think it'll be a good time to clean up the code and remove the use of the old protocol.

[2021-10-25 10:13] Adam2Marsh commented on #2640
We haven't seen this again so for now will close.

[2021-10-25 10:13] #2640 closed, assigned to nobody

[2021-10-25 13:25] kalylian opened #2902 "Volume attributes overwritten and brick processes dead after replace-brick command"
**Description of problem:**

Issuing a replace-brick command on a distribute-dispersed volume can result in loss of set attributes on some servers and in brick process failure.
We have a 26*(4+2)-volume and we had to replace five bricks in the last 3 months. Three replaces went without problems. During the other two, about 2/3 of the brick processes of the volume were killed and attributes for the

[2021-10-25 14:43] kun-lu20 commented on #2491
Hi @amarts , could you please take a look at the regression test issue when you have some time? Thanks!

[2021-10-26 02:03] #2793 closed, assigned to nobody

[2021-10-26 05:57] mohit84 commented on #2771
All the required patches are merged so i am closing the issue.

[2021-10-26 05:57] #2771 closed, assigned to mohit84

[2021-10-26 07:07] Shwetha-Acharya commented on #2895
You may want to check gsyncd.log and other logs under the folder /var/log/glusterfs at the same time to find out what the issue is. @bbqaaq

[2021-10-26 07:18] Shwetha-Acharya commented on #2890
Closing the issue with https://github.com/gluster/glusterdocs/commit/6d116240519e9428bece6875592ad66f08d7e740
Hope we come back soon with arm builds!

[2021-10-26 07:18] #2890 closed, assigned to nobody

[2021-10-26 07:21] Shwetha-Acharya commented on #2805
could you share the logs under /var/log/glusterfs/geo-replication? It can give us some clue to analyse the situation.

[2021-10-26 07:22] mykaul commented on #2863
Quick fix:
[code]

[2021-10-26 08:01] mohit84 commented on #2863
Why do we want to ignore standard allocation for 128k ?

[2021-10-26 08:06] mykaul commented on #2863
128K happens to be the default for all those that do not use _get2() and therefore is therefore quite frequent allocation request.
- The impact (with debug enabled) due to the memory invalidation is fairly large.
- It is also unclear to me tcmalloc has a real advantage with 128K over statically pre-allocated 128K iobufs (notice that I have pre-allocated 64 of them - and added another 64 of those 1

[2021-10-26 10:16] Shwetha-Acharya opened #2903 "geo-rep restarts because of 'list' object has no attribute 'join' error"
Gsyncd restarts with the following traceback:

 Traceback (most recent call last):
   File "/usr/libexec/glusterfs/python/syncdaemon/gsyncd.py", line 332, in main
     func(args)
   File "/usr/libexec/glusterfs/python/syncdaemon/subcmds.py", line 60, in subcmd_monitor
     return monitor.monitor(local, remote)
   File "/usr/libexec/glusterfs/python/syncdaemon/monitor.py", line 431, in monitor

[2021-10-26 10:42] abelard2008 opened #2905 ""Granular downloading" will be implemented?"
I found "Granular downloading" described in [https://github.com/gluster/glusterfs/issues/387](https://github.com/gluster/glusterfs/issues/387)

`Future plans:

Version-1 will be minimal, which does download of the entire file. **Granular downloading** will be explored from v-2 onwards to mitigate performance problem.

`
But the function seemsly is not  implemented, I don't know whether it will be

[2021-10-26 11:19] mohit84 commented on #2863
I think we need to test it, afaik current iobuf approach is not perfect we are using single list may be after using bitmap array the performance will not hurt.

[2021-10-26 11:25] mykaul commented on #2863
I have the bitmap code somewhere,  I can resurrect it once you are done with your outstanding PRs. I'm also trying to think of a clever way to use a bitmap smaller than 64 slots (for the 1MB - or perhaps we don't need that 1MB anyway?), without keeping a counter. I could probably initialize it with fewer slots available or something.

[2021-10-26 11:45] mohit84 commented on #2863
Ack !!

[2021-10-26 12:24] #2262 closed, assigned to nobody

[2021-10-26 15:38] rhorer commented on #1592
I am having essentially the same problem.

[2021-10-26 16:22] Shwetha-Acharya opened #2907 "geo-rep goes faulty with TypeError: unhashable type: 'dict'"
[2021-10-21 15:59:46.725236] E [syncdutils(worker /exportg/mfs_test_b):358:log_raise_exception] <top>: FAIL:
Traceback (most recent call last):
  File "/usr/libexec/glusterfs/python/syncdaemon/syncdutils.py", line 388, in twrap
    tf(*aargs)
  File "/usr/libexec/glusterfs/python/syncdaemon/repce.py", line 178, in listen
    rjob = self.jtab.pop(rid)
TypeError: unhashable type: 'dict'
[2021-10-21

[2021-10-27 07:44] #2846 closed, assigned to nobody

[2021-10-27 08:09] bbqaaq commented on #2895
@Shwetha-Acharya  Thanks for your tips, I think I have found the problem.
I think my problem is that I have enable meta volume without enabling the shared gluster volume.

`gsyncd.log` :
[code]

[2021-10-27 08:09] #2895 closed, assigned to nobody

[2021-10-27 13:07] Shwetha-Acharya commented on #2907
As per the error code, rid is used as key on dict jtab. It is complained that key is unhashable type: 'dict'

However rid is a tuple both in python2 and python3, on trying to reproduce in my env. As rid is already a immutable data type, traceback was not found.

[2021-10-27 12:39:28.493832] I [repce(worker /d/backends/primary4):178:listen] RepceClient: rid  value is (29761, 140464290989888, 163533

[2021-10-27 18:43] hunter86bg commented on #2844
Seems that this issue is for glusterfs-debian.
Opened https://github.com/gluster/glusterfs-debian/issues/52

[2021-10-28 04:29] tusooa opened #2908 "Some bricks have Faulty status on geo-replication"
**Description of problem:**
I am to setup geo-replication from `***1,***2,***3:gv0` (disperse) to `xx.xx.xx.xx:rep-gv0` (single-node). Two of the three bricks are shown as Faulty.

**The exact command to reproduce the issue**:

`sudo gluster volume geo-replication status`

**The full output of the command that failed**:
<details>

[code]

**Expected results:** Status should be all active

<details

[2021-10-28 06:11] Shwetha-Acharya opened #2909 "(glusterfs-10.0)- GlusterFS 10.0 tracker"
Description of problem:
Tracker for the release 10.0

[2021-10-28 15:22] nik-redhat opened #2910 "glusterd: volume start doesn't fail with properly if the port range is exhausted"
**Description of problem:**
`gluster v start <volname>` doesn't fail correctly if the port range is exhausted (or after limiting the value of max-port in the `glusterd.vol` file)
It should have failed with a correct error message i.e, "All the ports in the range are exhausted" in the log file.
glusterd hangs in the above scenario and needs to be restarted with the volfile updated to allow all the

[2021-10-29 04:16] #2903 closed, assigned to Shwetha-Acharya

[2021-10-29 07:55] JamesWSWu opened #2912 "When glusterfs uses an untrusted domain name， it cannot update the specified domain name"
**Description of problem:**
When the nodes have several domain names，glusterfs uses an untrusted domain name and cannot update the specified domain name.

     For example,

      1. Execute gluster probe on node 1.

            gluster peer probe paas-controller-2-gfs

            gluster peer probe paas-controller-3-gfs

      2. Execute gluster probe on node 2.

          gluster peer probe paa

[2021-10-29 11:42] kalebskeithley opened #2913 "gluster lib cannot be dlopened: /lib64/libtcmalloc.so.4: cannot allocate memory in static TLS block"
**Description of problem:**

see https://bugzilla.redhat.com/show_bug.cgi?id=2018439

**The exact command to reproduce the issue**:

**The full output of the command that failed**:
<details>

**Expected results:**
<details>

**Mandatory info:**
**- The output of the `gluster volume info` command**:

**- The output of the `gluster volume status` command**:

**- The output of the `gluster volume hea

[2021-10-29 11:51] rwmjones commented on #2913
Note the bug is specific to aarch64, armv7 and s390x, and does NOT occur on x86-64.

[2021-10-29 12:58] KirbyDE commented on #787
I've got a similar (in fact I think it's the same) issue:

[code]
Adding `encoding="utf-8"` to the `open()` call didn't help either - `sys.getdefaultencoding()` also returns utf-8

So it seems to me that GlusterFS sometimes writes invalid UTF-8 to the changelogs?

[2021-10-29 14:48] hunter86bg commented on #2844
As per https://github.com/gluster/glusterfs-debian/issues/52#issuecomment-953848841 it should be fixed.

[2021-10-29 20:06] mykaul commented on #2913
@msaju @nixpanic  - either our default should be to bring tcmalloc to those platforms, or run without it. Thoughts?

[2021-10-29 21:20] kalebskeithley commented on #2913
tcmalloc (gperftools) _is_ on all those platforms (arches); although it apparently doesn't work the same way on non-x86_64 architectures.

And with the latest Fedora build, glusterfs only uses tcmalloc on x86_64. The other five arches use glibc malloc.

There was a time when we had direction from on high that if glibc's malloc wasn't as fast as tcmalloc or jemalloc that we should let our glibc mai

[2021-10-30 01:30] zhudongmei opened #2914 "when gluster/rpc listen on ipv6 address，after restart rpc/glusterd service, all volume cannot be remounted。"
**Description of problem:**
when gluster/rpc listen on ipv6 address，restart rpc service will cause all volume cannot be remounted。 only by restart all volume
1、rpc config：
[code]
2、glusterd config
[code]

3、gluster volume status:
[code]

3、mount volume success，then umount
[code]

**4、restart rpc and glusterd service，then exec cmd mount，but failed**
[code]

**Expected results:**
after restart rpc/g

[2021-10-30 02:10] Nikhil-Ladha commented on #2914
Hey @zhudongmei could you please share the glusterd and mount logs.

[2021-10-30 17:00] #2289 closed, assigned to nobody

[2021-10-31 06:35] #2285 closed, assigned to nobody

[2021-10-31 07:10] homayoonsadeghiarkami opened #2915 "problem in running glusterfs with podman!"
Hello,
I'm trying to setup the GlusterFS daemon in a container more specifically in a pod, the Containerfile is like below,
[code]
so when I build this Containerfile and run it with this command:
`podman run -d --name glusterfs --hostname glusterfs -v /data/volume1:/data/glusterfs/gvol-primary/brick1/ --cap-add SYS_ADMIN --cap-add NET_RAW --cap-add NET_ADMIN  -p 2222:2222,111:111,24007:24007,49152

[2021-10-31 21:58] Nottt commented on #910
I still have this issue, any hope of fixing it?

[2021-11-01 01:04] zhudongmei commented on #2914
@nik-redhat
operation as follows, log in attachment:
[glustergit.zip](https://github.com/gluster/glusterfs/files/7450142/glustergit.zip)
[code]

[2021-11-01 04:29] #2293 closed, assigned to nobody

[2021-11-01 08:37] nixpanic commented on #2913
Is that also a change in the `glusterfs.spec.in` file? I can't find the PR for that yet. If it is included in the next release, I'll automatically notice when checking differences before building the packages for the CentOS Storage SIG.

[2021-11-01 10:46] mykaul opened #2916 "Replace SHA deprecated functions with newer ones"
See https://www.openssl.org/docs/manmaster/man3/SHA256.html : SHA256_Init() and others are deprecated in newer versions of OpenSSL (3.0 and above). RHEL 9 is going to use it, which will break Gluster.
[Update - it won't break Gluster, you'll get a deprecation warning. In some configurations with more strict hardening, it will not work]. Overall, worth moving to newer APIs.

[2021-11-01 11:26] rwmjones commented on #2913
The downstream (Fedora) change is here: https://src.fedoraproject.org/rpms/glusterfs/c/41e85331ab46cdd4ff2b7fbbaad92b133e5c80d0?branch=rawhide
I don't know what the policy is for putting downstream changes into upstream gluster but it doesn't appear in the latest `glusterfs.spec.in`.

[2021-11-01 12:37] kalebskeithley commented on #2913
If I don't send a PR as quickly as you'd like, feel free to send your own PR in the meantime. I won't have hurt feelings. :-)

[2021-11-01 19:17] Cl-ement opened #2919 "No Bandwidth after update GlusterFS"
Hello, since updating glusterfs version 7.2 to 9.4, I no longer have any bandwidth to my volume (0kb / sec), but it worked for a few hours.

Here is the information about my configuration
Ubuntu 20.04.3 LTS
GlusterFS 9.4

gluster volume info

sudo gluster volume status
[code]
Here the TCP port is identical on the two bricks, why?

By doing the following commands on brick3, it changes port:

[code]

[2021-11-02 08:30] the-me1988 opened #2921 "Spelling errors in source code"
Hi,

there are two small spelling errors in the source code, also represent in 10.0. Patch attached.
[spelling-errors.txt](https://github.com/gluster/glusterfs/files/7459038/spelling-errors.txt)

[2021-11-02 08:35] pranithk commented on #2921
@the-me1988 You can follow the guide and send a pull request https://github.com/gluster/glusterfs/blob/devel/CONTRIBUTING.md

[2021-11-02 08:36] the-me1988 opened #2922 "bashisms in shell scripts"
Hello,

with 10.0 there are some new bashishms in some shell scripts:

bash-term-in-posix-shell [sbin/mount.glusterfs:366] '[ "$syntax_status" =='
bash-term-in-posix-shell [sbin/mount.glusterfs:90] '[ "$servers" =='
bash-term-in-posix-shell [usr/lib/x86_64-linux-gnu/glusterfs/gfind_missing_files/gfid_to_path.sh:24] '${gfid:0:2}'
bash-term-in-posix-shell [usr/lib/x86_64-linux-gnu/glusterfs/gfind_mi

[2021-11-02 11:44] vh05 opened #2924 "memset() in shard_post_lookup_readv_handler() looks suspicious"
**Description of problem:**
The usage of memset() in shard_post_lookup_readv_handler() path looks not really serve any purpose. Every read from the backend will fill the buffer with a total requested size and it doesn't make sense to memset() the buffer before issuing the read. Since this is in `read` path, it is a bit costlier to call memset() for every read.

**- The operating system / glusterfs

[2021-11-02 12:30] mykaul commented on #2924
Thanks for looking into it!

[2021-11-02 12:36] pranithk commented on #2924
When the read falls on a shard that doesn't exist, it is interpreted as hole and all-zero buffer needs to be returned, this memset is present to handle that case.

[2021-11-02 13:22] vdanjean opened #2925 "Transiant missing file"
Hi,

  We are running experiments with nextflow and singularity with lots of data stored on glusterfs. Sometimes (not reproductible), nextflow stops due to a missing file which, however, is present on the GFS volume.

  More precisely:
- input data are stored in /srv/shared-gfs/san-partage that is a GFS fuse mount point.
- a nextflow pipeline is run with its working directory on a local FS (/srv/s

[2021-11-02 13:31] mykaul commented on #2924
ah, so it'll be called (from shard_refresh_base_file() function) only in that case ? or are there other flows (as local->handler is assigned shard_post_lookup_readv_handler(), so I wasn't sure where else it could be called from).

[2021-11-02 13:35] pranithk commented on #2924
I don't remember the code completely. But I do remember why this memset was introduced. Let me see if I get some time to dig into this part of the code.

[2021-11-02 13:40] pranithk commented on #2925
@vdanjean Are you able to recreate this issue with the vanilla volume which doesn't have the perf, cache options changed? For example, we found that readdir-ahead and parallel-readdir seem to have corner cases in 8.x releases and turned them off by default ever since. So at the moment I am suspecting one of those options.

[2021-11-02 14:00] vdanjean commented on #2925
This runs on two big servers that are in production. I can change the options (if you tell me how to do it: if I put them on myself, it was probably following a tutorial) when these systems are not used. But I cannot reinstall these (there is about 30TiB of data on them)

[2021-11-02 14:19] vdanjean commented on #2925
Hi,
I disabled readdir-ahead and parallel-readir.
Do you want we test with this setup and gfs 9.2 or do you want we also upgrade to 9.4 to run the tests ?

Regards,
   Vincent

[code]

[2021-11-02 15:12] pranithk commented on #2925
Is this a samba setup? Is that why the nl-cache related options are enabled?

[2021-11-02 15:13] pranithk commented on #2925
I am not sure if you have a stage setup where you can try these options and then introduce the options on production.

[2021-11-02 16:07] vdanjean commented on #2925
@pranithk : there is a samba setup, but it is not involved in current experiments. It has been setup so that other users would be able to get files from windows machines, but, for now, no users use this access (this will change latter)

[2021-11-02 16:12] vdanjean commented on #2925
I' not sure what you mean here.

I disabled `performance.readdir-ahead` and `performance.parallel-readdir` on the volume while it was not used as suggested. New experiments will be run the week. We will see if we still observe the problem or not. I will report here.

What I cannot do is to setup another volume to try options (not enough disk place available)

[2021-11-02 16:14] pranithk commented on #2925
So any experiment you have to do, you will directly do on prod? It is extremely risky. Standard operating procedure involves setting up a miniature prod setup as **stage** and do the config changes etc on this stage setup and test that basic things are not broken before doing the same on prod.

[2021-11-03 03:06] leelavg commented on #2915
Pls take my responses with a grain of salt as I'm not a mainstream glusterfs contributor.
1. If it's working with docker but not with podman the issue ideally should land on podman repo i guess
2. Your observation about orphaned veth pairs likely be the issue, in orchestration environments upon container reboot network connection happens in the same namespace as created by `pause` container in the

[2021-11-03 07:49] homayoonsadeghiarkami commented on #2915
thanks for the reply, I will answer your questions one by one:
1. I wrote an complete issue for podman, and after a long discussion, they believed that It may be because of the nature of glusterfs itself.
2. you know I got the same problem even with one single container, although I got the problem with pod concept by the way.
3. no, the logs did generated at the time of mounting because I can not

[2021-11-03 08:46] vdanjean commented on #2925
The prod here is only the computational resources. Source data are duplicated on a cold (slow) external NFS system (a few PB of data backuped). So, in any case, it is possible to fully reinstall the computational resources (ie the two servers) from scratch even if we would not do such thing if the system is not really broken.
Not changing the config means that the analyses must be re-run (or that

[2021-11-03 12:21] #2832 closed, assigned to nobody

[2021-11-04 04:18] doyelese commented on #2492
Hello,

Also experiencing this issue on 9.3. Can provides logs as well.

Gluster self-heal playing wack-a-mole with its bricks/volumes depending on how the services are restarted.

Very worrysome since my current fix of resetting the bricks and then restarting the service works in getting one volume fully connected, but then another volume might get knocked offline (ONLY the GlusterSHD portion, re

[2021-11-04 07:12] Apollon77 commented on #2492
I'm also affected and it also happened in 9.4 ... I though it was getting better as I iuncreaed op-version from 5400 to now 9000 (yes lost that from radar), but still the same.

[2021-11-04 15:51] doyelese commented on #2492
@pranithk Can you check on this? It seems it is the exact same as #2480 . Has a fix been released?

[2021-11-04 15:52] vpv-csc commented on #2492
We went ahead and updated our production to 9.4 because we didn't see this in our test environment. Unfortunately this bug hit us in production, but only on one of two similar volumes. We have a distributed volume without replication. This is affecting those volumes also, not only the replicated ones with self-heal. Due to this bug one of the servers is inactive, there are no file writes going to

[2021-11-05 05:23] pranithk commented on #2925
At the moment, the following options are suspects:
[code]

Does your workload involve creating files from one mount and accessing them from another mount? In that case I think nl-cache may have bad data.

[2021-11-05 17:00] #2913 closed, assigned to mohit84

[2021-11-06 03:00] chenglin130 opened #2932 "found some problems for hostname probe"
**Description of problem:**
In a condition, more than one hostname for one ip.

[code]

I want to use another hostname for glusterfs. After probe the new hostname, I found some probems.
No effect on the node which implement probe. Just added a new hostname record。
[code]

And on the thired node, the result of 'peer status' :

[code]
And, the hostname will rechoiced to the old one after restart glu

[2021-11-07 09:27] #2300 closed, assigned to nobody

[2021-11-07 09:27] #1766 closed, assigned to nobody

[2021-11-07 09:27] #2027 closed, assigned to nobody

[2021-11-07 15:18] aravindavk opened #2936 "Wrong value for `inodeSize` in Volume status xml output."
Wrong value for `inodeSize` in Volume status xml output.

[code]

Steps to reproduce: Run Volume status xml command `gluster vol status test-volume detail --xml`

[code]

Issue first discovered [here](https://github.com/kadalu/gdash/issues/34)

GlusterFS version: 9.3

[2021-11-08 00:57] #2299 closed, assigned to nobody

[2021-11-08 13:43] vh05 commented on #2924
Apologies for the late reply. Yes, it is called from `shard_refresh_base_file() ` through `local->handler`. I thought to call functions with and without memset() based on `num_blocks` from the parent function but the call is based on the `local->handler`. So whole call flow needs to be changed from `shard_readv()`. I am not whether it is the right idea.

[2021-11-08 20:24] #2915 closed, assigned to nobody

[2021-11-09 13:30] FSangouard opened #2939 "Volume log commands 'filename' and 'locate' described in the man but not implemented"
**Description of problem:**

I'm trying to configure a custom log directory for all glusterfs related logs. From `man gluster`:

[code]

Yet when I try to use these commands, they are not recognized. Only the log rotate command works but not as specified in the man.

Note that this is an empty test volume, I never even mounted it on any client yet. I did delete it and recreate it a few times, but

[2021-11-10 06:31] nik-redhat commented on #2939
Hi @FSangouard actually except for the rotate option, other `volume log` commands are deprecated and are not used anymore.

[2021-11-10 08:43] FSangouard commented on #2939
I see. This might be worth an update to the manual because it is confusing to see them in there yet not be able to use them.

I couldn't find another way to configure the logs directory, is it possible at all to use anything other than /var/logs ?

[2021-11-10 09:40] nik-redhat commented on #2939
Agreed. That needs to be updated.

I don't think there is a way through which you can change the default logging directory but you can define the log file for individual daemons using the `--log-file` option. You can check out the options using `glusterd/glusterfsd/glusterfs --usage` or their respective man pages.

[2021-11-10 11:11] FSangouard commented on #2939
Thank you for the pointers.

I tried setting the `--log-file` option in the glusterd unit file and it works, but I don't see how to do the same for the glusterfsd or glusterfs processes, as they're not started by a service. I tried setting `GLUSTERFSD_LOGFILE `in `/etc/sysconfig/glusterfsd` but it didn't have any effect (I stopped glusterd, killed glusterfsd and glusterfs processes, then restarted

[2021-11-10 11:39] #2939 closed, assigned to nik-redhat

[2021-11-10 11:41] nik-redhat commented on #2939
Yeah, updating the log file for that process might not be possible.

I am not completely sure about that, but maybe you can give it a try and see if everything works fine.

Yeah, you can.

[2021-11-10 12:09] mohit84 commented on #2939
You can configure a log-directory after configure (option cluster-test-mode
/var/<directory-name>) in glusterd.vol file.

Thanks,
Mohit Agrawal

On Wed, Nov 10, 2021 at 5:11 PM Nikhil Ladha ***@***.***>
wrote:

[2021-11-10 15:01] tbaetzler opened #2943 "no read subvols / matching lock not found for unlock"
**Description of problem:**

We run two largish glusters with 3x10 bricks each for a customer who needs lots of shared storage between several web and mail servers. The workload is mostly small files with many rename operations. This mostly works fine, but from time to time we get lock-ups that result in blocked i/o and/or duplicate files.

On the client side, this presents with the following warn

[2021-11-10 15:13] pranithk commented on #2943
@tbaetzler When the cluster is relatively less stressed could you take statedump of the brick processes and attach the files generated? You may have to redact some of the content in that file too.
https://docs.gluster.org/en/latest/Troubleshooting/statedump/

[2021-11-10 15:16] #2301 closed, assigned to nobody

[2021-11-10 15:16] #1457 closed

[2021-11-10 15:16] #2255 closed, assigned to nobody

[2021-11-10 20:32] tbaetzler commented on #2943
@pranithk The statedumps are available at https://cloud.bringe.net/s/x3ammRC9XjBaZoL

[2021-11-11 12:42] KirbyDE commented on #787
I was able to identify the CHANGELOG.XXX file that was causing the problem and it seems that the file has `iso-8859-1` encoding, not `utf-8`.

I was also able to reproduice the exact same issue with a fresh installation of GlusterFS 9.4 on Debian Bullseye.

Is it possible that this is reated to volume option `changelog.encoding`?
By default this option seems to be `ascii`, but as the default encod

[2021-11-11 14:27] aravindavk commented on #787
Please share the Changelog file that caused the issue. I will try to reproduce and patch.

[2021-11-11 15:12] KirbyDE commented on #787
Here you go:
[CHANGELOG.zip](https://github.com/gluster/glusterfs/files/7521349/CHANGELOG.zip)

This file was produced by GlusterFS 9.4 installed from Debian Bullseye backports repository (9.4-2~bpo11+1)

[2021-11-12 07:01] Shwetha-Acharya opened #2944 "tests: valid ip to be used instead of localhost, 127.0.0.1 or loopback address from Fedora 34"
Tests fail with following error:

Please provide a valid hostname/ip other than localhost, 127.0.0.1 or loopback address (0.0.0.0 to 0.255.255.255).

Usage:
volume create <NEW-VOLNAME> [[replica <COUNT> [arbiter <COUNT>]]|[replica 2 thin-arbiter 1]] [disperse [<COUNT>]] [disperse-data <COUNT>] [redundancy <COUNT>] [transport <tcp|rdma|tcp,rdma>] <NEW-BRICK> <TA-BRICK>... [force]

[2021-11-12 08:21] #2594 closed, assigned to nobody

[2021-11-12 08:54] #2936 closed, assigned to nobody

[2021-11-12 09:12] vdanjean commented on #2925
The previous changes (`performance.readdir-ahead` and `performance.parallel-readdir`) limited the problem: no occurrence since 10 days while lots of run have been executed. But we observe one occurrence this morning:
[code]
So, today, I upgraded glusterfs from 9.2 to 9.4 (from debian bullseye backports)

All the experiments are run from only one host. I do not know which host created the data but

[2021-11-12 09:16] vdanjean commented on #2925
We will try with this setup :
[code]
I will report back.

[2021-11-12 09:24] vdanjean commented on #2925
Note: the modifications I did wrt default settings probably come from your docs: https://docs.gluster.org/en/latest/Administrator-Guide/Performance-Tuning/

[2021-11-12 09:38] pranithk commented on #2925
First line of the docs:
[code]

[2021-11-12 09:39] pranithk commented on #2925
I think your workload is exception

[2021-11-12 09:53] #2490 closed, assigned to nobody

[2021-11-12 09:54] #2533 closed, assigned to Shwetha-Acharya

[2021-11-12 10:24] #2735 closed, assigned to nobody

[2021-11-12 11:48] mohit84 opened #2947 "IO failure when shrinking distributed dispersed volume while performing IO"
IO Failures are found when performing a shrink operation on a distributed-dispersed volume, while IO is in progress.

Steps to Reproduce:
1. Create a distributed dispersed volume (2 x (2 + 1) )
2. Mount on 2 clients
3. Start IO on all mounts (created deep dirs with files) Call function create_deep_dirs_with_files from the script https://github.com/gluster/glusto-tests/blob/master/glustolibs-io/sha

[2021-11-12 13:34] vdanjean commented on #2925
In all experiments, only one machine has been used as client (and this one and another one as serveurs). I correctly read the doc and decided to apply the setting as the data are not manipulated by different machines in parallel: if two machines access the glusterfs volume, it would be in unrelated directories (but the root, of course). If my workload is an exception, it does not involve several c

[2021-11-12 15:04] #2169 closed, assigned to nobody

[2021-11-13 20:42] #1239 closed

[2021-11-13 20:42] #2306 closed, assigned to nobody

[2021-11-13 20:42] #2307 closed, assigned to nobody

[2021-11-16 12:12] Shwetha-Acharya commented on #2909
https://github.com/gluster/glusterfs/pull/2911

[2021-11-16 12:12] #2909 closed, assigned to Shwetha-Acharya

[2021-11-18 01:21] #2312 closed, assigned to nobody

[2021-11-18 06:44] #2912 closed, assigned to nobody

[2021-11-18 06:46] mohit84 commented on #2932
The issue is already fixed by the pull request (https://github.com/gluster/glusterfs/pull/2952)

[2021-11-18 06:46] #2932 closed, assigned to nobody

[2021-11-18 08:22] jronnblom commented on #2281
Its still present in 8.5

[2021-11-18 08:31] mohit84 commented on #2281
What is the openssl version you are using, Can you please share the command output "thread apply all bt full" after attached the core process with gdb.

[2021-11-19 10:38] jronnblom commented on #2281
We running on Ubuntu 18.04. So openssl is now 1.1.1-1ubuntu2.1~18.04.13

Looking at one of your testcases I wonder if this could be related (add-brick and not waiting for brick to be up):

https://github.com/gluster/glusterfs/issues/2404

Any logs left from that? What was the error messages there?

Recreating this problem takes a lot of time. It happens very rarely so it could be weeks or months b

[2021-11-19 14:00] Shwetha-Acharya opened #2962 "cli: volume create without disperse count fails with ip addresses"
**Description of problem:**
The gluster volume create command fails when ip address is used instead of hostname, with dispersed volume

**The full output of the command that failed**:
Usage:
volume create <NEW-VOLNAME> [stripe <COUNT>] [replica <COUNT> [arbiter <COUNT>]] [disperse [<COUNT>]] [disperse-data <COUNT>] [redundancy <COUNT>] [transport <tcp|rdma|tcp,rdma>] <NEW-BRICK>... [force]

not ok

[2021-11-19 14:20] hostingnuggets commented on #1764
@pranithk in the mean time I was wondering if this fix has been backported to 8.x and/or 9.x?

[2021-11-19 17:40] mykaul opened #2963 "Do not use an iobuf pool for the CLI"
There's really no need for a whole iobuf pool with all its allocations, just for the CLI command invocation.

[2021-11-19 17:43] mykaul opened #2964 "Cleanup the stub pool"
It's unused since I've removed its usage in commit 11b7266be2f133ca3c97207191c13c3d3eee888b - call-stub: remove unused fields (#2055)

[2021-11-20 10:42] mykaul opened #2967 "Make relevant functions static"
This is a meta issue to improve across the codebase - make functions that can and should be, static.
It helps performance and it improves readability. Along the way, it'll also allow remove redundant variable sanity checks (for example, null checks).

Also need to update developer doc to add this as standard coding practice in Gluster.

[2021-11-20 20:10] mykaul opened #2971 "core file from /tests/basic/fencing/afr-lock-heal-advanced.t"
Unsure if it's due to my patch (https://github.com/gluster/glusterfs/pull/2872) , saving it here for the time being for additional eyes to look at:
[code]

[2021-11-22 05:07] pranithk commented on #1764
Yes, https://github.com/gluster/glusterfs/pull/2387 and https://github.com/gluster/glusterfs/pull/2386 are the ports to 8.x and 9.x respectively.

[2021-11-22 05:09] ravi-singh1 commented on #2845
@pranithk Sorry for the late reply, I was busy with other stuff.

I ran many iterations with node1=node2(gluster 7.2) and node3(gluster version 3.13).

The close-to-open consistency test always failed while node2 was reading the file which was written by node1. After so many runs I didn't find any failure with node3.

Failure scenario:
1. node2 wrote a string to a file inside gluster share. e.g st

[2021-11-22 09:03] #2910 closed, assigned to nik-redhat

[2021-11-22 11:46] hostingnuggets commented on #1764
Fantastic, thank you @pranithk

[2021-11-22 20:20] mykaul opened #2973 "Allocate socket ioq outside of the out_lock"
We can allocate optimistically the socket ioq struct (via __socket_ioq_new() function). If we don't need it, we'll free it later.

[2021-11-23 07:14] mykaul opened #2975 "quick-read: remove unused 'sh-failed' dict_get() function"
Belong to a feature deprecated ages ago.

[2021-11-23 08:17] #2964 closed, assigned to nobody

[2021-11-23 08:53] xhernandez commented on #2962
I've identified the issue. The problem is that `gf_string2int()` doesn't set errno correctly when parsing something that begins with a number but it's not a number, like a numeric IP address. The code that checks if the disperse count is present or not expects errno to be set to `EINVAL` when the next argument is not a number.

[2021-11-23 14:47] panlinux opened #2979 "Build failure in armhf and others: undefined reference to `_uatomic_link_error'"
**Description of problem:**
Glusterfs 10.0 is failing to build in Ubuntu[1][2] on armhf, and on Debian it fails to build on armel[2], mipsel[3], and armhf[4].

**The exact command to reproduce the issue**:
The logs[2] show:
[code]

**Expected results:**
Build should work, as it did in previous versions, on these architectures.

**Mandatory info:**
**- The output of the `gluster volume info` comman

[2021-11-23 15:28] mykaul commented on #2979
Could be a liburcu issue?
See https://www.mail-archive.com/debian-bugs-dist@lists.debian.org/msg1831153.html

[2021-11-23 15:41] kalebskeithley commented on #2979
tl;dnr: add -DUATOMIC_NO_LINK_ERROR to CFLAGS on armv7hl.

more details at https://www.mail-archive.com/lttng-dev@lists.lttng.org/msg12950.html

[2021-11-24 08:51] mykaul opened #2981 "In function `sys_lchmod': 08:37:38 /home/jenkins/root/workspace/gh_centos7-regression/libglusterfs/src/syscall.c:295: warning: warning: lchmod is not implemented and will always fail"
On RHEL 7(.x?):
[code]

The only call for it is in posix_do_chmod():
[code]

[2021-11-24 11:22] #2975 closed, assigned to nobody

[2021-11-24 12:35] #2325 closed, assigned to nobody

[2021-11-24 15:02] foss4ever opened #2983 "Port limiting has no effect"
**Description of problem:**

Editing /etc/glusterfs/glusterd.vol and uncommenting #   option base-port 49152 has no effect. GlusterFS still uses random TCP ports above 50000:

![image](https://user-images.githubusercontent.com/72194332/143259173-cdbbe43d-747d-4b03-a934-b07c07e92eb0.png)

**Expected results:**
For GlusterFS to listen on TCP port 49152 and upwards - not random ones.

**Mandatory inf

[2021-11-24 17:21] #2142 closed, assigned to mohit84

[2021-11-24 17:22] #2625 closed, assigned to mohit84, schaffung

[2021-11-24 17:24] nik-redhat commented on #2983
Hi @foss4ever, from Gluster-10 onwards port selection is randomised. But you can limit it by reducing the max-port value. You need not have to change the base-port value as it is by default 49152.
Though, there was a bug with updating the max-port value and that has been fixed in this issue: #2910

[2021-11-24 17:25] nik-redhat commented on #2983
Though, this fix will only be available in the next release i.e, 10.1

[2021-11-24 23:22] Anton-MRG opened #2984 "Backend snapshots remain after snapshot restore"
**Description of problem:**
I beleive there is a problem with snapshot restoration that could cause thin pool overflow. When Gluster snapshot is restored, it is removed from the snapshot list, but on the LVM level it still remains and the space is not reclaimed. This leads to summarization of all new writes to the pool and finally to pool overflow.

**The exact command to reproduce the issue**:
Le

[2021-11-25 02:15] GeorgeLjz commented on #2845
@ravi-singh1 @pranithk
It seems we have encountered the same "close to open consistency fails" issue.
our glusterfs version is 7.0
our scene is switch over testing between hot-standby application.
1. before switch, a hot-standby application   in host A will write exchange data "data_wrote_by_A" to glusterfs replicated volume which mount ,let's say /mnt/share/
2. host-standby application then exit

[2021-11-25 07:03] foss4ever commented on #2983
@nik-redhat

Ok, so I leave base-port commented out as it was initially and then just set my max-port to i.e. 49157?

Considering the bug, should I not be making this change until the next release?

[2021-11-25 07:09] nik-redhat commented on #2983
Yes, that would limit the range to 49152 - 49157.

Correct.
Though, you can even make the changes now but keeping in mind few of the points:
1. Do not exceed the port utilization that the given range, else glusterd will hang.
2. If it's necessary to limit the port, provide a bit of padding ie, around 4-5 ports as a buffer in case some other process uses the ports in that range.

Else, you can wait

[2021-11-25 07:14] foss4ever commented on #2983
Okay, thanks very much for laying out the options.

I'll be implementing the limit and leaving a few ports for buffer.

[2021-11-25 07:14] #2983 closed, assigned to nik-redhat

[2021-11-25 09:20] #2973 closed, assigned to nobody

[2021-11-25 15:15] Adam2Marsh commented on #2706
Hi @pranithk

Sorry for delay on this, just to say we followed the above process but do occasionally see this issue on different volumes. Normally it happens after a brick in a volume goes down; after we start it up we may see this error but give it 24hrs and it will all look good again.

[2021-11-26 17:41] panlinux commented on #2979
Yeah, that works. I'll propose it to Debian as well.

[2021-11-27 12:34] #2286 closed, assigned to nobody

[2021-11-28 11:55] mykaul opened #2986 "AFR: reduce variable indirection"
AFR code uses many times 'frame' and 'this' as variables to functions, instead of more scoped variables when feasible.
Namely, you can usually pass 'local' instead of 'frame' and 'priv' or sometimes even the private->child_count instead of 'this'

This tracker will be used for multiple patches improving the situation.

[2021-11-28 20:13] mykaul opened #2987 "posix-*.c: remove some string copies in posix_handle_pump() and related functions"
posix-*.c: remove some string copies in posix_handle_pump() and related functions

    - Remove multipls strncpy() from posix_handle_pump(), as well as an strotoul() call.
    - Remove redundant 'ret' variable
    - posix_handle_path() always gets PATH_MAX path variables, no need to pass size to it.
    - Make functions static, etc.

[2021-11-29 07:35] mykaul opened #2989 "GF_ASSERT_AND_GOTO_WITH_ERROR improvements"
1. Use 'op_errno' instead of 'errno' in the macro - it's confusing.
2. Assign it before the GF_ASSERT call, so it'll be properly shown in the backtrace with the correct value as intended.
3. GF_ASSERT_AND_GOTO_WITH_ERROR doesn't use the 'name' variable - remove it.

[2021-11-29 11:20] xhernandez commented on #2123
This is the high level roadmap I'm planning to execute to roll out the I/O framework globally for Gluster. Each step will require detailed analysis of the existing implementation to be able to provide a backward compatible solution where the old and newer APIs can coexist.

- [ ] **Context implementation**
  This will provide en efficient and easy to use way to pass data between asynchronous funct

[2021-11-29 15:24] mykaul commented on #2971
Happened on a different patch - https://build.gluster.org/job/gh_centos7-regression/1874/console (from https://github.com/gluster/glusterfs/pull/2990 which is a completely different patch):
[code]

[2021-11-29 16:59] mykaul commented on #2971
https://tracker.ceph.com/issues/13522#note-24 seems relevant here.
@mohit84 , @xhernandez - thoughts?

[2021-11-30 02:39] mohit84 commented on #2971
I think we need to call dl(close|open) under critical section to avoid a crash.

[2021-11-30 09:53] Shwetha-Acharya commented on #2908
@tusooa  Please check /var/log/glusterfs/geo-replication-/<master>_<ip>_<slave>/gsyncd.log to understand what is causing the geo-rep to go faulty

[2021-11-30 10:15] mykaul commented on #2971
Or use tcmalloc minimal?

[2021-11-30 11:35] mohit84 commented on #2971
If we use tcmalloc minimal we would not be able to print memory sampling data dynamically so i believe we should not use tcmalloc-minimal.

[2021-11-30 13:04] mykaul commented on #2971
We do our own memory sampling (and accounting), no?

[2021-11-30 22:56] mtedds opened #2993 "E [MSGID: 101150] [mem-pool.c:334:__gf_free] 0-: Assertion failed:"
**Description of problem:**
3 node cluster. 2 nodes are NSA325 boxes running archlinuxarm. Other is an Intel ubuntu server which mounts the filesystems as well as hosting a brick for each.
Seeing this message repeated in glfsheal-documents.log, glusterd.log and glusterfsd.log on the archlinux boxes.

**The exact command to reproduce the issue**:
No actual command causes the problem just repeated 6

[2021-12-01 04:29] mohit84 commented on #2971
Our sampling would not be useful to see memory sampling at tcmalloc level, in case of tcmalloc it is usual memory has not been freed even the object is freed at gluster level.It provides environment variable option to free the memory at run time but  it would be possible only while libtcmalloc is linked with application. If we do link libtcamlloc_minimal then we would not be able to do measure hea

[2021-12-01 05:55] #1500 closed

[2021-12-01 05:55] #1490 closed

[2021-12-01 09:25] zy1306 opened #2995 "Improve the judgement standard of gf_is_service_running()"
**Description of problem:**
In some scenarios, gluster process exited abnormally(not kill SIGTERM from glusterd), the pid-file will still remain. When the gluster process starts up again, glusterd will kill the process whose pid is just equal to the value in pid-file, regardless of whether the process is a gluster process or not.

**The exact command to reproduce the issue**:
systemctl start glust

[2021-12-01 11:08] #2340 closed, assigned to nobody

[2021-12-01 12:50] kalebskeithley opened #2997 "HA status is in FAILOVER when configuring NFS ganesha with pacemaker 2.1"
**Description of problem:**

see  https://bugzilla.redhat.com/show_bug.cgi?id=2026833 (although much of the bz is private)

pacemaker-2.1 changed the --timeout command line option format for crmadmin from --timeout=$time-in-milliseconds to --timeout=$timespec and the default if a bare number is given is now seconds instead of milliseconds.

As a result, when waiting for a domain controller to be e

[2021-12-01 13:33] mykaul opened #2998 "Remove old authentication schemes"
Gluster auth v3 was introduced 4 years ago:
[code]

Looks to me that we can remove the v2 and previous auth schemes - I'm not sure we have anyone using them now?

[2021-12-02 12:01] mscherer opened #3001 "Glusterfs fail to build with -Werror=stringop-overread on F35"
**Description of problem:**
Glusterfs fail to build on Fedora 35 with warning treated as error
[code]

Seems ```stringop-overread``` is the warning that trigger a error. I found while trying to change glusterfs smoke test to run on F35, cf https://github.com/gluster/build-jobs/pull/116

[2021-12-02 12:51] mscherer commented on #3001
As @mykaul pointed, this seems to be a GCC issue https://www.mail-archive.com/gcc-patches@gcc.gnu.org/msg273180.html

[2021-12-03 12:19] #2997 closed, assigned to nobody

[2021-12-03 18:31] mykaul opened #3004 "Use gf_strndup() instead of gf_strdup() when string length is known"
Save strlen()

[2021-12-03 19:47] mykaul opened #3005 "multiple files: improve gf_dirent_for_name() functionality"
- Introduced gf_dirent_for_name2(), which populates most of the fields
    with real content and replaced gf_dirent_for_name() in several cases.
    - Reduced the no. of calls for strlen() across the code, re-used existing
    length fields where applicable.
    - Removed dead code

[2021-12-03 20:32] mscherer opened #3010 "Asan detection in the configure script is broken"
**Description of problem:**
Asan detection is broken. So the asan job fail. After debugging, I found this is because the configure script use a internal symbol (__asan_init), and this symbol got renamed. I have a patch for that.

**The exact command to reproduce the issue**:
./configure --enable-asan

[2021-12-04 10:43] #1513 closed

[2021-12-04 10:43] #2339 closed, assigned to nobody

[2021-12-04 19:21] mykaul opened #3012 "Reduce the impact of Cloudsync on IO path"
Specifically, we can skip a posix_fdstat() call on posix_readv().
Overall, checking first if the calls to relevant functions are actually needed and only
then calling them.

[2021-12-05 17:02] #2351 closed, assigned to nobody

[2021-12-06 08:01] saurabhwahile commented on #906
We are facing the same issue, certain files show up as ????? ???? under the gluster FUSE mount. However the files are there in the underlying filesystem ( Individual brick )

`-?????????  ? ?          ?             ?            ? recovery-point-offset-checkpoint`
`-rw-r--r--  1 root       root       1901 Nov 22 16:33 replication-offset-checkpoint`
`-?????????  ? ?          ?             ?

[2021-12-06 08:52] zhangxyue opened #3021 "quota: accounting doesn't work properly with hard links"
**Description of problem:**
When created hard links across different quota limit set directories, quota list doesn't show proper size utilization. The below specified is just one use case I could consistently reproduce the bug.

**The exact command to reproduce the issue**:
1. Create replica volume, start, enable quota.
2. set limit on dir /
3. create dir A and B
4. create a file of 50MB in A/test

[2021-12-07 05:23] #2252 closed, assigned to nobody

[2021-12-07 05:23] Shwetha-Acharya opened #3022 "tests: basic_mount-nfs-auth.t fails with gluster volume get patchy nfs.mount-rmtab"
On checking configured options, nfs.mount-rmtab is not set, thus
`gluster volume get patchy nfs.mount-rmtab` fails

[root@localhost glusterfs]# gluster volume get patchy all | grep nfs
performance.nfs.flush-behind             on (DEFAULT)
performance.nfs.write-behind-window-size 1MB (DEFAULT)
performance.nfs.strict-o-direct          off (DEFAULT)
performance.nfs.strict-write-ordering    off (DEFAU

[2021-12-07 06:00] msaju opened #3023 "Gluster Release 11.0 - Planned Feature list"
This issue is intended to receive updates for all the enhancements/improvements being proposed to be included in release 11.0

**Approx Release Deadlines:**
**Code Freeze:** 31-Oct-2022
**RC :** 30-Nov-2022
**GA :** 10-JAN-2023

- [ ]  Unified performance xlator [RFE] Unified performance xlator #218
- [ ]  Implement an I/O framework https://github.com/gluster/glusterfs/issues/2123#issuecomment-981

[2021-12-07 14:16] mykaul opened #3024 "posix_gfid_set() may skip sys_lstat() call and get the stbuf from callers"
Almost all callers already populate an stbuf for the path, so we might as well just pass it to the function and skip doing it.
Example from posix_mknod() - we can just reverse the order of the calls?
[code]

[2021-12-07 14:20] mykaul commented on #3024
BTW, the reason it's needed is:
[code]

And posix_handle_hard() only needs it for this check:
[code]

[2021-12-07 14:44] pranithk commented on #3024
ctime changes after gfid setting, so posix_pstat shouldbe done before gfid-setting...

[2021-12-07 15:17] mykaul commented on #3024
@pranithk - not sure I understood - if it changes, then we need posix_pstat AFTER, so posix_set_ctime() will get a more accurate value, no? Which means my idea may not be doable. Unless we do not really do any work there - we just go to 'verify_handle' part (need to see what happens there)

[2021-12-07 15:20] pranithk commented on #3024
Sorry there was a typo. I meant posix_pstat shouldn't be done before gfid-setting.

[2021-12-07 15:50] chandleyprime opened #3025 "Flooded with error=Permission Denied during full self-heal of replacement brick"
Up front, I did see https://github.com/gluster/glusterfs/issues/876 , but that bug was never resolved and is for version 7.0->7.2. I am on 9.4

**Description of problem:** I have a 3x2 Distributed-Replicate cluster, where I recently removed one brick from a mirror pair, rebuilt it on the os side (redid the raid to raid6, new xfs filesystem, mount on new mount point) and then added the new brick ba

[2021-12-07 15:51] mykaul commented on #3024
ACK - thanks!

[2021-12-07 15:51] #3024 closed, assigned to nobody

[2021-12-07 15:57] pranithk commented on #3025
When self-heal is happening the file on the new brick is first created with root as user and then a metadata heal will fix the entry with correct permissions. So all operations on that file will fail with this error until the metadata heal. As long as you don't see any errors on the applications, you should be fine. This log is important for debugging any permission issues, so keeping it as is wil

[2021-12-07 16:02] mykaul commented on #3024
I wonder if in some cases, we can skip some parts of posix_pstat(). Specifically, fetching ctime data - we don't always need it later.

[2021-12-07 16:08] chandleyprime commented on #3025
So, this is expected behavior, and isn't what would be causing the heal speed to be slow? Any thoughts on what the issue with heal speed might be then?

[2021-12-07 16:14] pranithk commented on #3025
What is the size of the brick and what are the file sizes like on average?

[2021-12-07 16:35] chandleyprime commented on #3025
Old brick is 73TB, 64TB in use. New brick is 131TB, and approx 10TB has been healed over the course of 16 days.

Average filesize is probably in the 5MB region.

[2021-12-07 17:18] chandleyprime commented on #3025
Also, maybe this is a feature request: Perhaps gluster can label these expected errors in some way, so people new to the system won't spend a bunch of time trying to figure out why they are getting those errors. Or hide it behind a debug level switch? Something. Google doesn't provide ANY insight that these errors are expected and normal. The only thing I found was that issue #876 I mentioned, and

[2021-12-08 03:38] #2049 closed, assigned to nobody

[2021-12-08 03:38] #1993 closed, assigned to nobody

[2021-12-08 03:38] #2211 closed, assigned to nobody

[2021-12-08 03:49] zhangxianwei8 commented on #2884
@mohit84  @mykaul @xhernandez @amarts @ShyamsundarR
Hi, huys:
    As I know, Redhat Gluster Storage 3.5.3 or later has eprecated quota feature,  do you know why does this? A lot of bugs can't be fixed? Or other reason?
FEATURE COMPATIBILITY SUPPORT:
![image](https://user-images.githubusercontent.com/33945019/145144637-5d0ee45b-5279-4748-a53c-c0843121d040.png)
https://access.redhat.com/documentatio

[2021-12-08 03:51] zhangxianwei8 commented on #3021
@mohit84 @mykaul @xhernandez @amarts @ShyamsundarR
Hi, guys:
As I know, Redhat Gluster Storage 3.5.3 or later has deprecated quota feature, do you know why does this? A lot of bugs can't be fixed? Or other reason?
FEATURE COMPATIBILITY SUPPORT:
![image](https://user-images.githubusercontent.com/33945019/145145138-990832b4-d34e-4e99-8dd9-5f55b14d4d46.png)

https://access.redhat.com/documentation/en

[2021-12-08 06:15] mohit84 opened #3026 "test : tests/bugs/gfapi/bug-1319374-THIS-crash.t is getting crashed"
The test case (./tests/bugs/gfapi/bug-1319374-THIS-crash.t) is continuously getting crashed on the pull
request (https://github.com/gluster/glusterfs/pull/2940). The test case is crashed because openssl does
not allow  to call SSL_library_init multiple times in the multi-threading programs and the program is trying
to call SSL_library_init more than once so it is crashing.

[2021-12-08 07:58] mykaul commented on #3021
I believe the current quota feature is not well maintained and suffers from severe performance issues as well. If there's community contribution to improve it, that'll be great. I was under the impression a different implementation was in the works (@amarts ?)

[2021-12-08 07:59] mykaul commented on #2884
Same response as in https://github.com/gluster/glusterfs/issues/3021#issuecomment-988581605

[2021-12-08 11:40] rlaunch commented on #1373
We're still seeing this issue in Gluster 8. In both Samba VFS client logs and via FUSE mounts

[2021-12-08 20:16] mykaul opened #3028 "GF_DISABLE_MEMPOOL not working?"
I have it (as I use tcmalloc), but I still see this in perf report:
[code]

I did not expect to see the call to __glusterfs_this_location(), because of:
[code]

Unsure what I'm missing here.

[2021-12-09 03:52] zhangxianwei8 commented on #3021
Thank you for your reply.
Is there a discussion about quota performance?
@mykaul

[2021-12-09 04:11] mohit84 commented on #3028
what is the value of GF_DISABLE_MEMPOOL ins config.h in your source code directory?

[2021-12-09 04:45] mohit84 commented on #3028
But here __glusterfs_this_location is calling by get_new_dict_full to access a ctx variable.

[2021-12-09 05:07] mohit84 commented on #3028
It will not call __glusterfs_this_location() if we do change like this
dict_t *dict = mem_get0((struct mem_pool *) sizeof(dict_t));

[2021-12-09 06:23] amarts commented on #3021
There were many bugs and many mailing thread issues in last 5-4 years around GlusterFS quota being slow, specially when you have small files.

Yes. As part of this, we from [kadalu](https://kadalu.io) project working on a feature called ['Simple-quota'](#1774). This is already in production with many kadalu deployments. The initial RFC on this was published @ https://kadalu.io/rfcs/0006-optimized-

[2021-12-09 06:28] mykaul commented on #3028
I'm aware of that - what I was confused by is that I thought mem_get0 is macro, and on expanding that macro, the compiler should have noticed that parameter is not used at all and remove it altogether. I'm surprised it's not happening.

Perhaps it's time to clean up and remove memory pools code then? (for release 11)

[2021-12-09 06:29] mykaul commented on #3028
[code]

[2021-12-09 07:55] mohit84 commented on #3028
Ack !!

[2021-12-09 08:57] #3028 closed, assigned to nobody

[2021-12-09 10:48] zhangxianwei8 commented on #3021
Thank you for your reply.
When will this simple-quota feature be merged to devel branch？ @amarts

[2021-12-10 02:31] zhudongmei opened #3029 "when hard links file created across directories in volume ,volume usedcapacity Duplicate calculated"
**Description of problem:**
[code]
**The exact command to reproduce the issue**:
[code]

**The full output of the command that failed**:

**Expected results:**

[code]
**Mandatory info:**
**- The output of the `gluster volume info` command**:

**- The output of the `gluster volume status` command**:

**- The output of the `gluster volume heal` command**:

**- Provide logs present on following loca

[2021-12-10 02:47] zhudongmei commented on #3029
same as https://github.com/gluster/glusterfs/issues/3021

[2021-12-10 02:47] #3029 closed, assigned to nobody

[2021-12-10 10:40] gvecchicert commented on #855
Same problem here with ubuntu 20.04 and gluster 7.2, same configurations (3 nodes replica)

I'm unable to provide you steps to reproduce it because it merely happened: are there any useful logs/confs to look into them?

[2021-12-10 10:47] gvecchicert commented on #855
My workaround:
- move git folder outside glusterfs volume
- run git pull succesfully
- move git folder to glusterfs volume
- push something to git repo
- git pull works like a charm now

What's happened? I don't know...

[2021-12-10 17:09] rlaunch opened #3030 "Alternatives for quotas in RHGS3.5.3"
As Redhat has marked quotas deprecated in RHGS 3.5.3, what are the recommended alternatives for customers requiring quotas on volumes or directories?

[2021-12-10 19:33] chandleyprime commented on #3025
Any troubleshooting I can do to figure out my speed issue? Or should I open a new issue for that?

Regular writes to the cluster fileshare show the speeds I would expect:
root@storage16:~# dd if=/dev/zero of=/mnt/dfs2020/test bs=8k count=131217728; rm -f /mnt/dfs2020/test
131217728+0 records in
131217728+0 records out
1074935627776 bytes (1.1 TB, 1001 GiB) copied, 9969.03 s, 108 MB/s

That's about

[2021-12-11 00:32] pranithk commented on #3025
Do `ps aux | grep glustershd` and paste the output, I can give you the way to launch multiple self heal daemons.

At the moment self-heal daemon does heal of directories in a single thread, I think that is the reason for the slowness. Your data layout has too many files. I am guessing that to be the issue. If launching multiple self-heal daemons fixes the issue I will try to fix the directory heal

[2021-12-11 03:01] pranithk commented on #3030
https://github.com/gluster/glusterfs/pull/1750 is in development which over time will be a replacement. https://github.com/gluster/glusterfs/pull/1763 was merged last week.

[2021-12-11 04:17] #2067 closed, assigned to pranithk

[2021-12-12 08:05] #2343 closed, assigned to nobody

[2021-12-13 11:25] tshacked commented on #1060
a common bug for the coverity fixes

[2021-12-13 12:40] tshacked opened #3034 "inode_ref() - add a parameter for using w/o locking"
Perhaps instead set it after line 719, as:
[code]

So you can save one cycle of lock/unlock of table->lock ?

_Originally posted by @mykaul in https://github.com/gluster/glusterfs/pull/3033#discussion_r767270035_

[2021-12-13 14:32] mscherer commented on #3001
So gcc is the same on F34 and F35, minus a bunch of patches (so not exactly the same), but it work on F34 and not F35.
I guess what has changed is likely the underlying glibc, as I understand https://gcc.gnu.org/bugzilla/show_bug.cgi?id=102329#c7

There is a fix in GCC: https://gcc.gnu.org/bugzilla/show_bug.cgi?id=101751 as of 4 days ago, but not yet backported.

GCC 12 is due spring 2022, so for

[2021-12-13 15:01] chandleyprime commented on #3025
Here is the output, and thank you for your time on this.

root      460422  0.0  0.1 1583948 49356 ?       Ssl  Dec07   0:40 /usr/sbin/glusterfs -s localhost --volfile-id shd/data2020 -p /var/run/gluster/shd/data2020/data2020-shd.pid -l /var/log/glusterfs/glustershd.log -S /var/run/gluster/b488ab914a893a89.socket --xlator-option *replicate*.node-uuid=5e278107-7fc7-4aa8-81eb-b232c87160ab --process-

[2021-12-13 15:19] pranithk commented on #3025
Yes.
Bring down these extra processes once you are done with heal as they are independent of glusterd, i.e. glusterd doesn't know about these processes. Please post if it helped heal faster. Also let me know how many processes you had to launch to improve heal speed.

Fill the file names in `<>`, make sure to have these filenames distinct so that they don't step on each other's toes.
[code]

[2021-12-13 15:20] pranithk commented on #3025
If you have a stage setup, try this out on that before trying it on prod. I tested it on my laptop once before I gave you, it worked as expected.

[2021-12-13 15:30] chandleyprime commented on #3025
Understood, will update when I have some info, thank you.

[2021-12-13 15:42] chandleyprime commented on #3025
So, it seems to update the oringal pid file while ALSO using the file specified with -p. This is in my test environment, so UUIDs etc will differ from what I posted above:

root@ssTech1:~# /usr/sbin/glusterfs -s localhost --volfile-id shd/ssTech -p /var/run/gluster/shd/ssTech/extra1.pid -l /var/log/glusterfs/extra1.log --xlator-option replicate.node-uuid=121cb686-60fb-41c2-ba9c-8998f783466b --proc

[2021-12-13 15:46] pranithk commented on #3025
That I guess is a cosmetic thing for now. Did you get a chance to bring a brick down, add some data and bring it back and see that heals are happening on both the processes? You can check the log file where it will keep logging the files that the process is healing.

[2021-12-13 16:17] chandleyprime commented on #3025
Okay, ran the following test, and I think there is a conflict as both heal processes try to connect to the same port. At least from my understanding of the logs.

Heres what I did:

On ssTech2: systemctl stop glusterd
killall glustershd glusterfs

on ssTech1: create a bunch of test files on the glusterfs mnt

Restart glusterd on ssTech2.

gluster volume heal ssTech full

Heal works, files are repl

[2021-12-13 16:33] chandleyprime commented on #3025
As a follow up, I created 10 test directories with 10 files apiece and ran a heal, and the original heal process grabbed all the work, the extra1 process log showed no activity.

root@ssTech1:/var/log/glusterfs# tail extra1.log
[2021-12-13 16:11:38.371023 +0000] I [rpc-clnt.c:1967:rpc_clnt_reconfig] 0-ssTech-client-1: changing port to 49153 (from 0)
[2021-12-13 16:11:38.373147 +0000] I [MSGID: 114

[2021-12-13 23:15] webash commented on #2467
Hey there - after a massive struggle for 2 weeks now, and searching all over I've finally found this thread exactly describing my issue, also in the same context of bind mounts from containers. I see that there are some commits that have gone in to resolve this; what version of gluster do I need to be on for this to be fixed? I'm currently on 9.2 as is included in the default repos of Ubuntu impis

[2021-12-13 23:19] pranithk commented on #3025
Do the test by copying a deep directory like kernel tree or /etc from your machine etc on to the mount point when the brick is down.

[2021-12-13 23:26] webash commented on #2467
If it helps to track down the route cause, I can pretty much cause it on demand with my setup. If diagnosis/logs/dumps are fairly trivial to get and it would help you with route cause diagnosis, I'm happy to. Preferably though I'd get this system stable again ASAP. I'm assuming my best option is to downgrade to 9.0 (where this issue either never happened, or happened only once or so a week)?

[2021-12-14 02:46] webash commented on #2467
is the release date mentioned still intended for the next minor version? I assume that would be 9.5. Any way to bring that forward so that my containers stop crashing the fuse mount :)
<img width="567" alt="image" src="https://user-images.githubusercontent.com/6205899/145923683-bfaac12b-9eec-4236-922c-17cd5c2f533e.png">

[2021-12-14 03:14] chandleyprime commented on #3025
Okay, the extra process grabbed work doing that. Will give it a try on the main cluster now, see how things go, and let you know.

[2021-12-14 05:35] Shwetha-Acharya commented on #2467
9.5 will be available by second week of Jan. The delay is due to year end holidays.

[2021-12-14 05:54] kannanvr opened #3035 "Could not mount the volume when all the volumes are UP"
**Description of problem:**

We observed that all the volumes are UP and Running. But unfortunately we could not mount it.
**********
[root@delgccnhadclappw1 brick]# gluster vol status vol_92088e3c4bd825797d1851398d7f0f19
Status of volume: vol_92088e3c4bd825797d1851398d7f0f19
Gluster process                             TCP Port  RDMA Port  Online  Pid
----------------------------------------------

[2021-12-14 08:13] pranithk commented on #3035
Could you provide
`getfattr -d -m. -e hex <path/to/brick>` on all the bricks?

[2021-12-14 08:50] kannanvr commented on #3035
#1st  node Brick
[code]
#2nd  node Brick

[code]

[2021-12-14 09:06] amarts commented on #3023
- [x] Simple-Quota #1750
 - [x] ZFS Snaphosts #2855

[2021-12-14 12:59] pranithk commented on #3035
This directory seems to be in directory splitbrain. Do you have any files in the directory which have different gfid? Check glustershd log to find the info.

Check `Manual Split-Brain Resolution` section on https://docs.gluster.org/en/latest/Troubleshooting/resolving-splitbrain/ to resolve them.

[2021-12-14 14:57] chandleyprime commented on #3025
Sadly, no increase in speed. From looking at tcptrack, it kind of looks like the same work got split across all the extra processes, rather than additional work getting done. At least the same amount of network traffic.

[2021-12-14 15:08] pranithk commented on #3025
Your descrption make it sound like there is cpu saturation, now it makes sense.
Could you do:
[code]

[2021-12-14 15:11] pranithk commented on #3025
github removed volname argument, so had to make the edit

[2021-12-14 15:13] chandleyprime commented on #3025
Done.
[Edit]: In the past, I have noticed that a restart of glusterd is required to have volume settings propagate. That likely to be true here?

These machines have 40 cores, and glusterfsd does run hot, but not to the point where it takes up all available CPU. Typical high water mark looks like:

![image](https://user-images.githubusercontent.com/95701540/146024993-024e9136-9ab2-4304-9141-4fe80c

[2021-12-14 15:21] pranithk commented on #3025
No

It is doing checksum of entire filesystem essentially to heal. I will try to send PR to change the default to "full" for the upcoming release.

What does iostat output look like?

[2021-12-14 15:25] chandleyprime commented on #3025
Gotcha.

Storage16 is the heal target, Storage15 is the mirror partner and thus presumably the source. There are 4 other servers but not a lot of activity to them over this stuff.

[code]

[2021-12-14 15:29] pranithk commented on #3025
@chandleyprime
Heal workload is getting throttled
[code]

[2021-12-14 15:33] chandleyprime commented on #3025
Have set that as well now.

[2021-12-14 15:43] pranithk commented on #3025
Any better now?

[2021-12-14 15:44] pranithk commented on #3025
I may go offline in a bit, will check with you in the morning.

[2021-12-14 15:45] chandleyprime commented on #3025
Understood.

Peak speeds seem better, and CPU utilization actually went down on storage15. Might take a bit to tell if actual heal speed has gone up, but definitely a change in behavior.

Cpu utilization over all went down. The glusterfs processes are now getting much more CPU.

[2021-12-15 02:36] chandleyprime commented on #3025
Following up, distinct speed increase. We'll see just how much, but maybe 4x speed at least? MUCH better than it was.

I'll add more in the morning. And thank you for your time on this, it has been deeply appreciated.

[2021-12-15 04:39] pranithk commented on #3025
Good to know this.
I will try to get these changes discussed and some of the defaults changed for the upcoming release-11.
Do let me know more about how many more self-heal daemon processes you had to create to keep increasing the speed until it plateaued. That will give me enough confidence to change the behavior of parallel directory heals. When we allow parallel heals of directories it increase

[2021-12-15 05:11] #2381 closed, assigned to nobody

[2021-12-15 09:40] webash commented on #2467
Is there a way I can avoid, workaround or patch this issue without having to wait for 9.5? I've had to drop all but 1 container from my cluster as a result and I don't want to temporarily rearchitect around another storage solution.

[2021-12-15 15:51] chandleyprime commented on #3025
Up to ~8TB a day, at least for the last day. That is right around what I would have hoped for!

I'll have to do a test to see where I plateaued. I ran 20 extra processes over night, all processes where grabbing work. I'll try to develop a good way to gauge speed in a time frame shorter than a day and get a finer grained response on number of processes to you. Things take a bit longer since this is

[2021-12-15 18:11] chandleyprime commented on #3025
First +10 extra processes, pretty decent speed increases each time. Hard to tell if its linear because the work load is so random.  Does end up at ~10x speed over just the one process.
Next +10 extra processes, no real speed increase noticeable. Maybe some with the 12th, 13th... but definitely not seeing 2x speed for 2x processes. Not even 1.5x speed.

I would say somewhere in the +10ish range is

[2021-12-16 03:38] pranithk commented on #3025
Good to know this. @chandleyprime If you don't mind, could you share the hardware config of your setup?

[2021-12-16 08:46] babipanghang commented on #2841
I'm seeing the same thing happening here. We're working with a small team using gluster via samba vfs. Once in a while, my collegue will complain he can't delete a folder. Unfortunately, he usually has already clicked all error messages away. When i try from my own computer (still over samba vfs), the folder appear empty and when i delete it it just reappears.
When investigating by ssh into the gl

[2021-12-16 15:05] chandleyprime commented on #3025
The two servers involved are:
Intel(R) Xeon(R) Silver 4210 CPU @ 2.20GHz, 10 cores, 2 threads per core, 2 CPUs in the machine.
32GB RAM
10GB network for cluster traffic
Disks are 20 Toshiba MG06A's 8TB in a RAID 6 for the target, and a RAID 10 (which is what we are in the process of migrating OFF of) on the source.

[2021-12-17 12:01] ricardoalonso opened #3038 "gluster volume reporting wrong total and used space"
**Description of problem:**
Gluster is deployed hyperconverged with Ovirt (latest versions), but df shows wrong usage (total and available) values:

**The exact command to reproduce the issue**:
[code]
**Expected results:**
According to the df output:
Size: 9.1T (s2) + 9.1T (s3) + 931G (s4 arbiter) = 19.1T
Used: 74G (s2) + 74G (s3) + 6.6G (s4 arbiter) = 154.6G

According to the documentation the a

[2021-12-17 15:05] #3025 closed, assigned to nobody

[2021-12-17 19:34] #1479 closed

[2021-12-19 00:53] olegkrutov opened #3047 "How to replace brick on dispersed volume properly?"
**Description of problem:**
I can not get dispersed volume healed after brick replace. No data is on volume (just test volume) so healing must be very quick as I mean but nothing changes at all.

**The exact command to reproduce the issue**:
Commands sequences were as such:
https://docs.gluster.org/en/v3/Administrator%20Guide/Managing%20Volumes/ in part of replacing bricks.
I didn't find anywhere

[2021-12-19 23:35] olegkrutov commented on #3038
You have a mirrored (replicated) volume. Thus, resulting size of one subvolume is not a sum of brick sizes. 9.1TB is right size for your configuration. All data on your bricks is duplicated (except arbiter that stores metadata only). Your expected results could be achieved if you had distributed volume. But pure distributed volume has no protection against bricks failure.

[2021-12-20 05:10] mohit84 commented on #3047
@Sheetalpamecha Can you check this ?

[2021-12-20 05:13] Sheetalpamecha commented on #3047
Sure.

[2021-12-20 05:55] Sheetalpamecha commented on #3047
Hi @olegkrutov
First thing is - This configuration (3+1) is not optimal configuration for the disperse volumes. Instead use (2+1) or (4+2)

After these sequences the volume Ideally should be healed. I just tried it out and got healed volume. Did you perform anything else in addition to above commands?

`logs from /var/log/glusterfs/<mnt-point>.log`

[2021-12-20 06:17] #2208 closed, assigned to nobody

[2021-12-20 06:17] #2195 closed, assigned to nobody

[2021-12-20 06:17] #2167 closed, assigned to nobody

[2021-12-20 06:17] #2403 closed, assigned to nobody

[2021-12-20 06:17] #2350 closed, assigned to nobody

[2021-12-20 06:17] #877 closed

[2021-12-20 07:36] yang-jintao opened #3052 "/var/log/glusterfs/glusterd.log: Unable to acquire lock for [volume-name]"
glusterfs version 8.6

`/var/log/glusterfs/glusterd.log` showed much `[glusterd-op-sm.c:3940:glusterd_op_ac_lock] 0-management: Unable to acquire lock for vol_xxxxxxx`.

Then I stoped **gluster-exporter service**, glusterd.log returned to normal.

That's mean gluster-exporter make lock conflict?And how to resolve it ?

[2021-12-20 08:54] ricardoalonso commented on #3038
I understand that if the volume is expected to show the size it will be the 9.1T. But the "used" is wrong. It should be 74G (instead of 167G).

[2021-12-20 10:42] cheenujj opened #3053 "Do GlusterFS works reliable with RDBMS data store..?"
Team,
I need some suggestions/advice on below questions.

1. Does GlusterFS really supports RDBMS data stores.?  because in few blogs there are mentioning "Gluster does not support so called structured data". Also i have already gone through the Glusterfs documentation to get this piece of information but it's still hard to get this details.

2. If GlusterFS supports RDBMS data stores, is it relia

[2021-12-20 11:05] nik-redhat commented on #3052
This is expected and a known limitation of using gluster-exporter-service.

[2021-12-20 11:59] yang-jintao commented on #3052
Thank you.

I also have another glusterfs cluster(glusterfs version 7.9), although  there is an error  that "Unable to acquire lock for vol_xxx", but it does not affect normal use.

But after starting gluster-exporter in this cluster, I can't use `gluster volume status vol_xxx` command any more.
Is this a problem with the Gluster Version? What should I do about it? Change the exporter?

[2021-12-20 12:57] karthik-us opened #3054 "Update the links in gluster test framework documentation"
**Description of problem:**

The Gluster test framework documentation [1]  is still pointing to some of the older workflows like gerrit for patch submission, bugzilla for bug reporting, and gluster.org for documentations which are deprecated and not available since the move to github and docs.gluster.org.

We need to update them with the correct ones.

[1] https://github.com/gluster/glusterfs/blob

[2021-12-20 12:58] nik-redhat commented on #3052
Using `gluster vol status` will be affected as its tries to fetch the real-time status of the volume from all the servers in the cluster.
In general, when using an exporter a timeout error is very common along with slowness in command executions.

Not aware of any other exporter, but any such tool which will query for data continuously from gluster might face such issues.

[2021-12-20 19:05] vnosov-sf opened #3056 "Output from geo-replication status command does not show all fields when status is "Active"."
**Description of problem:**
Output from geo-replication status command shows just space for field "SLAVE NODE" when status is "Active". For "Paused" or "Stopped" geo-replications the output for the same field is "N/A". This creates problem for parsing the output of the geo-replication status command.

**The exact command to reproduce the issue**:
[root@SC-10-10-63-201 log]# gluster volume geo-repl

[2021-12-21 02:15] yang-jintao commented on #3052
OK, I get it. Thank you so much！

[2021-12-21 02:15] #3052 closed, assigned to nobody

[2021-12-21 10:29] KirbyDE commented on #787
@aravindavk
Did you have success reproducing the issue?

[2021-12-21 10:59] hunter86bg commented on #1778
Is this one fixed ?
I think it should be solved a long time ago

[2021-12-21 23:40] olegkrutov commented on #3047
Hi @Sheetalpamecha, thanks for your reply.
I know that it's not optimal but it is just one of many test volumes.
I suspect something is rather wrong with volume options. Btw, are there some "optimal" parameter groups for dispersed volumes intended for VM images like virt and distributed-virt?

The sequence that we use is:
1) creating cluster transport, I doubt that there can be any issues
2) creat

[2021-12-22 02:47] #2418 closed, assigned to nobody

[2021-12-22 03:45] yidihaiyang opened #3060 "Glusterfs how to balance bricks in single server?"
**Description of problem:**

My env: CentOS 7, GlusterFS 8

At first, I add 2 bricks to created a distribute volume. Later, I add a brcik to extended this volume. All operations were in single server.

At now, the usage of 3 bricks are 81% 83% 55%, I have tried `gluster volume rebalance test-volume start`, it was worked, but the bricks still not balance. How to solve it?

[2021-12-22 06:26] Sheetalpamecha commented on #3047
Yes, that might be possible. There are few options that don't work well with all volume types.
Also few features are redundantly set same as their default value like - io-cache, read-ahead, etc
Again features.shard should not be used with dispersed volumes. Its not a good idea and also not tested
Are all these options setting required for your test case?

No, unfortunately there is no such list

I

[2021-12-22 09:36] karthik-us commented on #2986
Hi @mykaul, are you working on this issue? If not I would like to take this up.

[2021-12-22 09:48] irexiz opened #3063 "Newly created files having their content changed do not replicate"
**Description of problem:**
Newly created files having their file content changed does not update their file content across replicated bricks.
I seem to be able to replicate this (as shown below), but I can't figure out why this is happening.

After running the below commands, if I delete the file `t1.txt` and create it again,  on consequent file changes  the file content is updated correctly on o

[2021-12-22 10:19] mykaul commented on #2986
Good question - I keep going back and forth here (I work on it on weekends and such). I'm sure there's value to the patch, but it's tedious and I'm unsure how to break it into smaller parts. If you wish to and have the bandwidth, go ahead - but try to break into smaller chunks so we can get it in. I've tried to look at it from flow perspective - for example, handle write path separate from read pa

[2021-12-22 10:29] pranithk commented on #3035
closing for now as there was no response up to a week.

[2021-12-22 10:29] #3035 closed, assigned to nobody

[2021-12-22 10:31] olegkrutov commented on #3047
Ah, I got that. About parameters -- we turn feature.shard off in last group. So I've sent a log of mountpoint of a whole volume and you need logs from bricks? We've already destroyed aaaa volume and I've sent you log of just another dispersed volume after brick replacing. So I can make all from very beginning, -- assemble dispersed volume, replace brick and send you logs from all volume's bricks m

[2021-12-22 10:45] pranithk commented on #2492
https://github.com/gluster/glusterfs/pull/2931 is merged on release-9 branch. It will be released in the next version which is planned mid Jan.

[2021-12-22 10:46] pranithk commented on #2401
Nothing to be done on this. Closing.

[2021-12-22 10:46] #2401 closed, assigned to pranithk

[2021-12-22 10:56] lineage8025 opened #3064 "When glusterfs expand then file permissions where be chang"
**Description of problem:**
Hi ALL,
We use glusterfs with heketi as Kubernetes cluster Storage,
Environment is :
Kubernetes v1.21.5
glusterfs 9.4
Heketi 9.0.0
When I was doing PVC Expand Volume,I found that after the expand, the permissions of some folders and files will be changed.
But not every time it happens, and change folder will be different, and only occurs in dynamically configured PV
Our

[2021-12-22 11:13] mykaul commented on #3010
I *think* that '--enable-tsan' is broken as well?

[2021-12-22 11:33] pranithk opened #3065 "glusterfs client may crash/hang when the same file is written using different fds simultaneously when a race is hit"
Gluster client crashed with
Thread-1
[code]
On inspecting the core:
[code]
The frame is stuck in lock->post_op list.
At the same time Thread-26 is in the following state:
[code]
Old fd was in the process of getting closed(FLUSH fop) and at around the same time, a write fop was issued on the new fd.
flush fop in this case is leading to invalid state of the lock structure where `lock->acquired` is `

[2021-12-22 11:52] karthik-us commented on #2986
Sure @mykaul I will take this up. I would also approach this by breaking it into smaller chunks. The approach of doing it from flow perspective sounds good. I will start with that approach itself. Since some code paths are common, it may overlap with with each other, but should not cause any problem though.

[2021-12-22 12:25] jirireischig opened #3066 "Online upgrade - 9.x to 10.0"
**Description of problem:**

Error after upgrade to 10.0 on one node. Peers are in the "peer rejected" status.

Error in glusterd.log:
[2021-12-22 11:24:14.395378 +0000] E [MSGID: 106010] [glusterd-utils.c:3851:glusterd_compare_friend_volume] 0-management: Version of Cksums NAME differ. local cksum = 3140243645, remote cksum = 467185320 on peer node-1

Only file info in /var/lib/glusterd/vols/NAME

[2021-12-22 12:36] olegkrutov commented on #3047
So, I created dispersed (2+1) volume d001 with bricks z120-1, z121-1 and z122-1, and then replaced brick z120-1 with z120-2. Here are the bricks logs.
[bricks_logs.tar.gz](https://github.com/gluster/glusterfs/files/7762639/bricks_logs.tar.gz)

[2021-12-22 12:45] Sheetalpamecha commented on #3047
Hi @olegkrutov,
So even with the new volume you are facing issue while replacing the bricks?

And for this new volume also you did apply all the options you mentioned in previous comments?

[2021-12-22 12:50] olegkrutov commented on #3047
Yes, i face it every time on disperse volumes. And the options are the same. That's because I suspect my options are wrong but I can't figure out what options...

[2021-12-22 23:37] pranithk commented on #3066
cc @amarts @xhernandez
Thanks for reporting this, we'll work on it.

[2021-12-23 03:30] pranithk commented on #3066
Most probably it happened because of https://github.com/gluster/glusterfs/pull/1812, investigation is in progress

[2021-12-23 03:47] pranithk opened #3067 "Come up with automated upgrade tests"
Upgrade tests have been manual. This is leading to things getting missed and upgrades are broken, https://github.com/gluster/glusterfs/issues/3066 and https://github.com/gluster/glusterfs/issues/2351 are instances where it happened.

Here is what I am thinking:
We can come up with a python script that given 3 server VMs, 2 client VM and `from` and `to` git commit ids will install the necessary pac

[2021-12-23 03:47] pranithk commented on #3067
cc @mohit84

[2021-12-23 04:16] mohit84 commented on #3066
@Sheetalpamecha Can you check this, IIRC we already discussed the striped count handling during upgrade in gchat.

[2021-12-23 04:24] leecsai opened #3068 "When features.uss is enabled, 'ls -la /mountpoint' can't show the snapshot directory, but I can use 'ls -la /mountpoint/.snaps' to view the snapshots."
**Description of problem:**
I can access snapshots by using FUSE mount and it works fine. When I test Gluster USER-SERVICEABLE snapshots feature ( features.uss is enabled ), I find I cannot see the snaps-directory in the NFS shared directory by using 'ls -la /mountpoint' command. However, I can use 'ls -la /mountpoint/.snaps-directory' to show the snapshots files.

**The exact command to reproduce

[2021-12-23 04:30] aravindavk commented on #3067
You can take a look at Binnacle test framework from Kadalu. Syntax is similar to the Gluster's test framework, but it is multi node/container aware framework.

https://kadalu.io/docs/binnacle/devel/quick-start/

Binnacle is focused on Tester's delight, it allows to fully focus on the domain instead of learning a new programming language for writing tests.

Example Upgrade Test

[code]

- It is als

[2021-12-23 04:33] rafikc30 commented on #3068
.snaps directory is not a hidden directory, but a virtual directory used to access the snapshot of a parent volume. Since the data is not part of the volume, this should not be present in a mount point as a normal directory. Because let's say we are copying/moving/deleting the entire content from the gluster mount to another location, this snapshot data should not be copied/moved/deleted. In anoth

[2021-12-23 04:41] leecsai commented on #3068
Tks, rafikc30

[2021-12-23 04:41] #3068 closed, assigned to nobody

[2021-12-23 04:44] rafikc30 commented on #3068
@leecsai The above explanation was for the reason why it is not listing with ls -la /mountpoint. Do you have any problem with direct access of .snaps dir from fuse or NFS, ie `ls /mountpoint/.snaps/ ` should work from fuse and NFS

[2021-12-23 05:04] Sheetalpamecha commented on #3066
Hi @jirireischig, Can you please attached the full log from /var/log/glusterfs/glusterd.log ?

[2021-12-23 06:06] karthik-us commented on #3054
After the move to Github pages for docs.gluster.org as part of https://github.com/gluster/project-infrastructure/issues/141, link to the compiling rpms is again broken. Need to fix it. Reopening the issue for that.

[2021-12-23 06:08] desi76 commented on #2944
Shouldn't this expect to fail since node # 2 cannot reference node # 1 from a localhost address.  It is a self-referencing address.

[2021-12-23 06:10] Shwetha-Acharya commented on #2944
/run regression

[2021-12-23 08:36] mykaul commented on #3066
Are we using stripe count anywhere? If not, we need to continue and add it forever, for upgrade? How can we solve and remove unused deprecated stuff?

[2021-12-23 12:03] tshacked commented on #3060
Hi,

In a distributed volume files are being distributed across bricks/subvolume using the hash of the filename and parent directory layout.

Gluster will create new files considering disk-space when `cluster.min-free-disk` config option is exceeded for the hashed-brick. With this option, the availability of disk space is checked during file creation and if the hashed-brick has
`free-disk-space <

[2021-12-23 19:05] dfoxg opened #3071 "Log spam with glusterfs 10.0"
**Description of problem:**
I got spammed with ~100 log entrys per minute, which all are containing `dict OR key (fd-reopen-status) is NUL`

Only one node at a given time is affected, but which of my three nodes spamms is changing over time.

![image](https://user-images.githubusercontent.com/28670365/147282262-4d032e29-8409-481d-9349-d94a405196fe.png)
The blue graph is the affected host (l0004).

[2021-12-24 02:37] dalwise opened #3072 "Heal count has been increasing for days and currently at over 34 million"
**Description of problem:**
Heal count keeps increasing. Current status after 13 days of increases is:
[code]

**The exact command to reproduce the issue**:
The issue happened after trying to recover from an inaccessible directory (`/shared/vol_name/logs`) within the volume mounted at `/shared/vol_name`. Trying to access this directory would return "Transport endpoint not connected" on all clients

[2021-12-24 10:16] xhernandez commented on #3072
I've done a quick check of the self-heal logs, and it seems there are no issues. Healing seems to be progressing. There have been around 8 million files healed since 12th of December.

How many files are there in the volume ? is it possible that there are more than 40 million files with many directories ?

Can you check if the number of files in host_name20 is increasing ? if so, it means that sel

[2021-12-24 11:52] mykaul opened #3074 "loc_wipe() does not need to memset loc"
[code]

is not needed, as far as I can see, in most cases where loc_wipe() is called. It's a local variable, that will either go out of scope or be freed as part of a larger struct cleanup. In rare cases where we need to clear it, we should do it explicitly.

This is what I see in perf:
[code]

[2021-12-24 12:10] pranithk commented on #3074
I have seen it re-used as well because loc_wipe() memsets it. Program will start failing mysteriously if we remove it without care.

[2021-12-24 12:15] mohit84 commented on #3074
i think it is require to cleanup gfid, in case of nameless lookup it can behave wrongly.

[2021-12-24 13:15] mykaul commented on #3074
Thanks, does not look like it is worth the risk then.

[2021-12-24 13:15] #3074 closed, assigned to nobody

[2021-12-24 14:02] mykaul commented on #3074
BTW, I've had few more questions on the discussions section of the project - unsure if it's really working.

[2021-12-24 14:04] pranithk commented on #3074
Yeah, I marked them for weekend. I can answer the one about inode passivate over the weekend.

[2021-12-25 07:21] dalwise commented on #3072
Thanks for your help, Xavi.

Yes, from the brick directory on each host:

[code]

[code]

[code]

I am not sure what would explain the discrepancy between host_name21 and host_name22, since there were no files in need of healing on them when host_name20 got removed and nothing outside of gluster should currently be writing to the volume.

The number of files shown using the command above is slowly

[2021-12-26 05:19] altaloma opened #3075 "Gluster client crashes (was Global dict not present)"
**Description of problem:**
After update to 9.4 from 7.5 one of 2 nodes does not show as online in vol status but the daemons are running.

**The exact command to reproduce the issue**:

Both gluster server nodes were updated with latest CentOS 8 and rebooted.

Both nodes were updated to Gluster 9.4  (but not rebooted)

Started gluster volumes and all was well.

Migrated one node to Rocky Linux 8

[2021-12-26 09:01] mykaul commented on #1863
Still relevant.

[2021-12-26 09:01] mykaul commented on #1874
Still relevant.

[2021-12-26 09:03] mykaul commented on #1429
The increment is also done inside a lock, which is strange:
[code]

[2021-12-26 09:10] altaloma commented on #3075
Just discovered (found a similar bug report on Google) that running systemctl  restart glusterd on the second node fixes the problem.

[2021-12-26 10:07] altaloma commented on #3075
Just migrated the second machine to RL8 and rebooted, the same thing happened. Had to restart glusterd. The thread I read which mentioned this problem suggested the service starts before the network comes online.

[2021-12-26 11:34] mykaul opened #3076 "__lease_ctx_set() is not checking correctly for the return code of __inode_ctx_get()"
I think it was meant, like most other invocation, to check for 'ret < 0'. Instead:
[code]

Moreover, this function is called right from __lease_ctx_get() which just failed to get the ctx, so no point in trying again.

[2021-12-26 14:11] #2417 closed, assigned to nobody

[2021-12-26 14:11] #1461 closed

[2021-12-26 15:42] mykaul commented on #2197
Worth revisiting?

[2021-12-26 15:43] mykaul commented on #2197
https://github.com/gluster/glusterfs/issues/2326 is also related?

[2021-12-27 04:58] mohit84 commented on #2197
Yes

[2021-12-27 05:01] mohit84 commented on #3076
Yes you are correct.

[2021-12-27 08:15] xhernandez commented on #3072
If there's new data being added to the volume, it could be explained by the different times the `find` command was run. Otherwise it's something we will need to check once self-heal completes.

Gluster needs a significant amount of metadata and locking operations per entry. Given the number of files and directories you have, it's likely that most of the time is spent doing those operations. I thin

[2021-12-28 00:18] olegkrutov commented on #3047
Well, I see that behavior even if no groups at all are applied to volume after creation. Just shard disabled. @Sheetalpamecha  can you please tell me what options are set on your volume where you see proper behavior?
Here is options dump for my volume.
[code]

[2021-12-28 07:07] mykaul opened #3085 "__dht_check_free_space() - remove division by GF_DISK_SECTOR_SIZE where possible"
The following code is used to somehow calculate available and total blocks:
[code]

We can see that every value is divided by GF_DISK_SECTOR_SIZE. This is:
1. Useless, if we compare two values that were divided by it, why divide in the 1st place?
2. Somewhat wrong, as it is assumed to be 512 blocks - what if we are using 4K native disks?

I think we can easily remove it from all paths, this part r

[2021-12-28 07:28] black-dragon74 commented on #2916
@mykaul You working on this or should I go ahead and start implementing the newer APIs?

[2021-12-28 10:19] mykaul commented on #2916
I am not - I think OpenSSL 3.0 is only available from Fedora 36 and RHEL 9, I have neither right now. Go ahead and take it if you can.

[2021-12-28 10:41] jirireischig commented on #3071
I have this log problem too after upgrade to 10.0 version

`
[2021-12-28 10:35:22.761300 +0000] W [dict.c:1585:dict_get_with_ref] (-->/usr/lib64/glusterfs/10.0/xlator/protocol/client.so(+0x555ba) [0x7fe270a565ba] -->/lib64/libglusterfs.so.0(dict_get_int32+0x>
[2021-12-28 10:35:22.761461 +0000] W [dict.c:1585:dict_get_with_ref] (-->/usr/lib64/glusterfs/10.0/xlator/protocol/client.so(+0x555ba) [0x7f

[2021-12-28 11:15] mohit84 commented on #3071
Thanks for file an issue, the fix would be available in next minor release.For the time being you can set diagnostics.client-log-level to ERROR to avoid an issue.

[2021-12-28 11:53] Sheetalpamecha commented on #3047
Hi @olegkrutov, I have the same options and same version number - 9.2 and steps I used to replace bricks

[code]

[2021-12-28 12:15] dfoxg commented on #3071
Thanks, that has worked! Should I let this issue open until the patch is available?

[2021-12-28 12:19] olegkrutov commented on #3047
Thank you @Sheetalpamecha ! Now I found what's wrong. ZFS pools were not properly cleaned up before replacing :( sorry for taking your time!

[2021-12-28 12:19] #3047 closed, assigned to Sheetalpamecha

[2021-12-28 13:00] #2442 closed, assigned to nobody

[2021-12-28 13:00] #154 closed

[2021-12-28 22:40] #1472 closed

[2021-12-29 05:27] black-dragon74 commented on #2916
Alright, I will take care of it.

[2021-12-29 13:41] lejeczek opened #3088 "fstab mount fails with v. 10"
**Description of problem:**

Simple fstab entry:
...
dzien.direct:/VMs3   /VMs3 glusterfs  acl 0 0
..
fails with:

-> $ mount -vvv /VMs3
/sbin/mount.glusterfs: illegal option -- v
Usage: /sbin/mount.glusterfs <server>:<volume/subdir> <mountpoint> -o<options>
Options:
man 8 mount.glusterfs
To display the version number of the mount helper: /sbin/mount.glusterfs -V
**The exact command to reproduce t

[2021-12-29 21:44] dalwise commented on #3072
The hosts were taken out of production soon after the initial problem, on December 10. There should be no data being written to the volume.

Yes, the brick's filesystem is indeed XFS.

I have been doing an rsync from the mounted volume, but it is progressing at only ~50GB/day. Since the volume has 1.3T the backup would take almost a month. Perhaps I can try backing up both bricks rather than just

[2021-12-29 22:15] xhernandez commented on #3072
In that case the difference in number of files and directories seems suspicious. Maybe you could compare the output of two finds to see where are the differences.

I think that will be the safest way until we understand where the difference comes from.

Probably the easiest way to monitor the progress of self-heal and be able to compare different configurations is to check the number of used inode

[2021-12-29 22:21] dalwise commented on #3072
Thanks Xavi! I'll do the following then:

1) Look for differences in the `find` of bricks in `host_name21` and `host_name22`
2) Back up the bricks on both hosts
3) Set up monitoring of `df -i <brick path>` so that we can have a baseline before making changes.

[2021-12-30 02:24] JamesWSWu commented on #2921
#2938 This submission may fixed this.

[2021-12-30 04:47] #1686 closed, assigned to nobody

[2021-12-30 09:45] altaloma commented on #3075
Not sure if this is related but we've just had 2 gluster mount crashes.

Logs attached.

This is serious, this is a production system so any help would be much appreciated.
[logs.zip](https://github.com/gluster/glusterfs/files/7792366/logs.zip)

[2021-12-30 09:45] #1619 closed, assigned to nobody

[2021-12-30 09:46] #2445 closed, assigned to nobody

[2021-12-30 09:46] #1234 closed

[2021-12-30 10:01] altaloma commented on #2211
I know it's been a long time since this thread was active but we have just updated to 9.4 and we have had 2 client mounts crash. I opened a bug report a few days ago for a different problem so have updated that post to included logs for these crashes.

https://github.com/gluster/glusterfs/issues/3075

Any help here would be much appreciated as it's a production system.

On Mon, 2021-04-26 at 02:17

[2021-12-30 12:09] mykaul commented on #3075
At least from parts of the log, seems like you are hitting https://github.com/gluster/glusterfs/issues/2467

[2021-12-30 12:36] altaloma commented on #3075
I'm not using containers??

On Thu, 2021-12-30 at 04:09 -0800, Yaniv Kaul wrote:

At least from parts of the log, seems like you are hitting #2467<https://github.com/gluster/glusterfs/issues/2467>

—
Reply to this email directly, view it on GitHub<https://github.com/gluster/glusterfs/issues/3075#issuecomment-1003001985>, or unsubscribe<https://github.com/notifications/unsubscribe-auth/AP3AZTEHDVVD

[2021-12-30 12:40] mykaul commented on #3075
And yet your logs are filled with:
[code]

Could be a side-effect or a different issue of course.

[2021-12-30 12:46] altaloma commented on #3075
I upgraded from 7.5, should I downgrade until the problem is fixed?

On Thu, 2021-12-30 at 04:40 -0800, Yaniv Kaul wrote:

And yet your logs are filled with:

[2021-12-27 08:26:14.704299 +0000] E [fuse-helpers.c:202:frame_fill_groups] 0-fuse: failed to open /proc/0/status: No such file or directory

[2021-12-27 08:40:05.599786 +0000] E [fuse-helpers.c:202:frame_fill_groups] 0-fuse: failed to open

[2021-12-30 15:08] tbaetzler opened #3089 "glusterfs access blocks for 30min when trying to rename file from multiple clients"
**Description of problem:**

We are using two glusterfs volumes as shared mounts on a group of webservers. Access to files isn't coordinated and at times two client processes try to work with the same file, which seems to cause some sort of deadlock, i.e. access to the file is no longer possible and any program trying to access it ends up in "D" state.

**The exact command to reproduce the issue**

[2021-12-30 21:56] mobilemindtech opened #3090 "[Question] - initial data loading"
Hi,

I don't know if this is the best place, but I have a doubt. I installed the cluster on three machines. I have 100GB of initial data that I need to copy to the cluster. Is there any way to perform the initial data loading for all machines quickly? Using rsync or cp for a shared folder is pretty slow.

Thanks

[2021-12-30 22:14] recolic commented on #2469
Hi. could someone have a look at this issue? it should be pretty easy to fix!

[2022-01-03 06:27] irexiz commented on #3063
Apparently it was due to a misconfiguration :shrug:
[code]

[Documentation](https://access.redhat.com/documentation/en-us/red_hat_gluster_storage/3.2/html/administration_guide/chap-managing_red_hat_storage_volumes ) states that it should be set between 0 and 60. It seems to have fixed the issue.

[2022-01-05 09:30] karthik-us commented on #2849
Since there is no update on this for a long time, closing the issue. Feel free to re-open if you are still facing the issue, with the requested details.

[2022-01-05 09:30] #2849 closed, assigned to nobody

[2022-01-05 10:34] FSangouard opened #3096 "Geo-replication : "extended attribute not supported by the backend storage" in logs"
**Description of problem:**
After setting up a geo replication session, status command shows `Active` status, and everything seems to be ok, but we have the following message in the primary's logs in `/var/log/glusterfs/geo-replication/volume1_<ip_primary1>_volume1/mnt-applis-apsu-data-glusterfs-volume1-brick1-brick.log`:

`[2022-01-05 09:15:42.649444 +0000] E [fuse-bridge.c:4336:fuse_xattr_cbk] 0

[2022-01-05 12:52] panlinux opened #3097 "Switch to external, upstream, xxhash"
**Description of problem:**
Back in 2017 (http://lists.gluster.org/pipermail/gluster-devel/2017-June/053173.html), glusterfs incorporated xxhash (https://github.com/Cyan4973/xxHash) into its source code, in `contrib/`. If I understood it correctly, one of the reasons to embed it was that not many linux distros had a package for it back then. I believe that has changed nowadays, and would like to a

[2022-01-05 13:43] mykaul commented on #3097
Generally, you are right. Practically, I watched xxhash development, and the main work was around xxhash 3, which we are not using (still?). We could.

Regardless, we are really using it mostly for very small input, so I doubt the value will be substantial. We used it more often in the dictionary code, but now we do not anymore. We use it here and there elsewhere (look at the code calling gf_xxh64

[2022-01-05 18:45] mykaul commented on #3097
BTW, a simple replacement of the files xxhash.c and xxhash.h with a minor modification to the code (see below) at least compiles. Did not test functionality, besides loading Gluster and simple IO.

[code]

And:
[code]
I don't see the need for the former as I assume it'll be caught earlier in the conversion, but it may point to some definition mismatch somewhere. The latter is probably OK.

[2022-01-06 05:05] Shwetha-Acharya opened #3098 "(glusterfs-9.5)- GlusterFS 9.5 tracker"
Description of problem:
Tracker for the release 9.5

[2022-01-06 05:07] Shwetha-Acharya opened #3099 "(glusterfs-10.1)- GlusterFS 10.1 tracker"
Description of problem:
Tracker for the release 10.1

[2022-01-06 06:48] dalwise commented on #3072
Hi Xavi, I'm just providing a quick update. The  backups are still ongoing, even when backing up directly from the bricks. I ran out of inodes for the backup, so I'm removing `.glusterfs` directory from the backup.

[2022-01-06 10:49] sac commented on #3097
Additionally, XXH_NAMESPACE with XXH_INLINE_ALL is not supported with the newer releases.

[2022-01-07 14:39] Shwetha-Acharya commented on #2907
This occured sometimes when the connection was ubruptly disconnected, and a bogus value was present in rid due to incomplete pickle.load(resulted from network disconnect)

[2022-01-07 14:39] #2907 closed, assigned to Shwetha-Acharya

[2022-01-07 14:48] Shwetha-Acharya commented on #1405
https://github.com/gluster/glusterfs/issues/1438 was backported to both release 7 and release 8, this issue does not exist in recent versions.

[2022-01-07 14:48] #1405 closed

[2022-01-07 15:20] amarts opened #3103 "glusterfs snapd crashes when snapshot is de-activated."
**Description of problem:**
1.Create some files via NFS client on an glusterfs-ganesha exported volume, take a snapshot (mysnap1). Enter the .snap/mysnap1 directory on the nfs mount and do `ls` in a while loop:

[root@node0 mysnap1]# while true; do ls; sleep 1; done

2.While this is happening, deactivate the snapshot. The `ls` errors out, snapd crashes.

**The exact command to reproduce the issue*

[2022-01-07 15:30] amarts opened #3104 "RFE: Provide a special mount option to delete stale linkto files (if any)"
**Description of problem:**
By any issues, say a server/brick crashing during rename or rebalance operation, there are possibility of a stale (dht)linkto file existing in the brick. If such case happens, we can no longer do a 'rm -rf' of the parent directory from the client.

Work around is deleting the linkto file in the brick directly, but as the file is not visible on client, admin has to login

[2022-01-07 15:34] mohit84 commented on #3104
I think after merged this (https://github.com/gluster/glusterfs/pull/2600) we should not face this kind of issue.

[2022-01-07 15:43] amarts commented on #3104
@mohit84 my assumption is that, #2600 deals with 'atomic' entry creation at the posix level. not from the DHT point of view right?

[2022-01-08 03:36] mohit84 commented on #3104
Along with atomic entry creation fops we do handle rename scenario also. Currently we are doing for rename_dir(oldloc, newloc) as follows

1) Create a symlink of newloc with tmpgfidpath(it is populated based on oldloc->gfid in a new directory .glusterfs/<first_hash>/tt/oldloc->gfid)
2) rename real_oldpath to new_path
3) remove oldloc->gfid and rename tmpgfidpath to newgfidpath(it is populated base

[2022-01-08 03:50] mohit84 commented on #3104
The other thing is stale linkto file is deleted during lookup also if it has not found any real file linked with it, please correct me if i am wrong.

[2022-01-08 10:20] pranithk commented on #2783
Had a chat about this on slack channel and this is expected at the moment and this is one of the reasons client-io-threads is disabled by default on the client for replica volumes. For now it is better to use reader-thread-count option while mounting.

[2022-01-08 10:20] #2783 closed, assigned to nobody

[2022-01-08 10:21] #1790 closed, assigned to pranithk

[2022-01-08 10:22] #1529 closed

[2022-01-09 03:14] #2472 closed, assigned to nobody

[2022-01-09 03:14] #2447 closed, assigned to nobody

[2022-01-09 05:43] pranithk opened #3107 "Find code paths that have high contention using flame graph in glusterfs"
Flamegraph has ways to find both on-cpu and off-cpu flamegraphs, so in theory we should be able to find the contention points for both spinlocks and mutex locks. Keeping this issue to find these points.

[2022-01-09 05:46] pranithk opened #3108 "Find RC for high number of LOOKUPs"
For some reason in our prod environment, even for low number of ops, the number of LOOKUPs is pretty high. Raising this issue to investigate this.

[code]

[2022-01-09 05:47] pranithk opened #3109 "[Tracking][pranithk] - Performance issues - 2022"
- [x] https://github.com/gluster/glusterfs/issues/1591
- [x] https://github.com/gluster/glusterfs/issues/2463
- [x] https://github.com/gluster/glusterfs/issues/3107
- [x] https://github.com/gluster/glusterfs/issues/3108

[2022-01-09 05:53] pranithk commented on #3109
These are the issues I am interested in getting fixed this year. I think some of the issues already have some patches I guess. This is just so it is easier for me to keep track of things.

[2022-01-09 05:59] pranithk opened #3110 "EC dev-sessions"
We need dev sessions that cover

- [ ] EC data layout, on disk metadata that is stored
- [ ] EC write transaction
- [ ] EC read transaction
- [ ] EC self-heal
- [ ] EC encoding/decoding

[2022-01-09 06:00] pranithk opened #3111 "performance translators dev sessions"
We need dev sessions that cover these xlators in detail.
- [ ] quick read
- [ ] write-behind
- [ ] md-cache

[2022-01-09 06:04] pranithk opened #3112 "DHT dev sessions"
We need dev sessions that cover the following topics

- [ ] DHT on disk layout and metadata that is stored
- [ ] Data placement mechanisms
- [ ] Data creation code paths
- [ ] Data reading code paths
- [ ] Rebalance
- [ ] Add-brick and graph switch interaction
- [ ] Mechanisms that deal with data becoming full in some subvolumes

[2022-01-09 06:08] pranithk opened #3113 "Geo-rep dev sessions"
We need dev sessions that cover:

- [ ] gfid-access xlator
- [ ] changelog xlator
- [ ] marker xlator
- [ ] gsyncd

[2022-01-09 06:09] pranithk opened #3114 "RPC layer dev sessions"
We need dev sessions that cover

- [ ] epoll mechanism
- [ ] rpc client, server socket interactions
- [ ] SSL

[2022-01-09 06:10] pranithk opened #3115 "protocol layers"
We need dev sessions that cover:

- [ ] nfs ganesha
- [ ] smb

[2022-01-09 06:12] pranithk opened #3116 "Dev sessions for sharding xlator"
This issue is raised to cover sharding xlator.

[2022-01-09 06:15] pranithk opened #3117 "[Tracking][pranithk] Dev sessions issues - 2022"
- [x] https://github.com/gluster/glusterfs/issues/3110
- [x] https://github.com/gluster/glusterfs/issues/3111
- [x] https://github.com/gluster/glusterfs/issues/3112
- [x] https://github.com/gluster/glusterfs/issues/3113
- [x] https://github.com/gluster/glusterfs/issues/3114
- [x] https://github.com/gluster/glusterfs/issues/3115
- [x] https://github.com/gluster/glusterfs/issues/3116

[2022-01-09 06:22] pranithk opened #3118 "Make it easy to run regressions with asan/tsan"
Raising this issue to track the effort involved in running regressions with asan/tsan

[2022-01-09 06:25] pranithk opened #3119 "[Tracking][pranithk] Maintainability issues - 2022"
- [x] https://github.com/gluster/glusterfs/issues/3118
- [x] https://github.com/gluster/glusterfs/issues/2725
- [x] https://github.com/gluster/glusterfs/issues/3067
- [x] https://github.com/gluster/glusterfs/issues/2705

[2022-01-09 11:58] pranithk commented on #2308
I raised separate issues for the dev sessions this year. Will close this.

[2022-01-09 11:58] #2308 closed, assigned to pranithk

[2022-01-09 12:11] kavimo opened #3120 "Memory Buffer cache full in storage nodes cluster a lot of I/O"
**Description of problem:**
We have created a new storage cluster that has a lot of bricks. But the problem is that after the storage cluster works and the high input and output, the buffer memory of the storage servers will be added incrementally. This will cause the server memory to fill up and the storage system will become very slow and down.
Of course, resetting or emptying the server buffer

[2022-01-09 12:59] pranithk commented on #3120
Buffer cache is maintained by kernel. I don't think this is a glusterfs issue. One problem I have seen before is people configuring updatedb so that locate command could work. So check if 'find' command is running on your bricks or on client and disable it for the bricks/mount.

[2022-01-09 13:36] kavimo commented on #3120
1- We do not run the "find" command on any of the bricks, we just mount it on a folder in the client server and then mount it to the internal containers through Docker. Almost something like the following code:

Mount to existing folder:
`storage-1:/storage/medias  /home/public/medias glusterfs defaults,_netdev,backup-volfile-servers=storage-2,log-level=WARNING,log-file=/var/log/gluster.log 0 0
`

[2022-01-09 14:16] pranithk commented on #3120
That is in-memory cache of the process, not the buffer-cache of the kernel.

[2022-01-09 14:20] kavimo commented on #3120
Thank you for your help if you have any problems with the first docker and mount ?

[2022-01-09 15:12] pranithk commented on #3120
Nothing I could think of. From the issue description maybe your default dirty buffer settings don't seem to be good enough? Do you have a lot of write workload?

[2022-01-09 18:03] kavimo commented on #3120
No, after restarting the servers, the buffer cache is empty and there is nothing in it.
We have now examined the gluster service through the operating system and the amount of memory used by this service increases per second. Like the following:

`
glusterd.service - GlusterFS, a clustered file-system server
   Loaded: loaded (/usr/lib/systemd/system/glusterd.service; enabled; vendor preset: disab

[2022-01-10 01:22] pranithk commented on #3120
Yes, that is how cache normally works.

Like I mentioned earlier this is something kernel maintains. Memory usage of a process will be present in top output. You can do top -p <pid-of-gluster-process> to view the usage.

I would suggest against downgrading as gluster-9 has some on disk changes that gluster8 won't recognize. The issue you are facing is at a kernel level. Downgrading may not fix the

[2022-01-10 04:05] mohit84 opened #3121 "quick-read:Improve lookup performance while quick-read is disabled"
The current design of quick-read is like below
During lookup it has set the key GF_CONTENT_KEY to fetch the data from posix if qr_inode->data is NULL.
qr_inode->data is become NULL while inode is prune or it is fresh.In lookup_cbk it try to extract file data and saved
the data on qr_inode if it does not get in that case it prune the inode. qr_lookup_cbk will not get data only while
it does not pas

[2022-01-10 07:29] kavimo commented on #3120
We checked the top and htop commands before, the gluster processes work well and the amount of RAM consumed is acceptable. But it is the buffer / cache that is filling up.
We checked this on the server without running any other services or applications, and were very surprised that even in the operating system environment, we copied the file to the cluster storage, causing the buffer / cache to fi

[2022-01-10 08:52] kavimo commented on #3120
How can I fix the problem at the kernel level? What causes this?

[2022-01-10 08:59] pranithk commented on #3120
Kernel buffer cache getting completely filled is a good thing for performance. It means the data is not getting read from the disk. The question you need to find answer to is why is it leading to slowness. We have quite a few prod machines that consume almost all the RAM as buffer cache, but they don't become slow.

[2022-01-10 11:06] PhilippKuntschik commented on #702
sorry for the bump.

@JonChesterfield  I have the same issue: 4 odroid xu4 boards that only run 32bit. May I ask if you have a solution to host a distributed file system on these machines? Or did you go forward to replace the boards all together?

[2022-01-11 01:59] mohit84 commented on #3121
As we can see we are getting significant improvement for fops (chmod,stat,append,delete-renamed) and getting regression
for read. We need to work further to improve the read fop.

<meta charset="utf-8"><b style="font-weight:normal;" id="docs-internal-guid-8695952c-7fff-aaef-46d9-5ff98dfd10a0"><div dir="ltr" style="margin-left:0pt;" align="left">

FOPs | Baseline | DailyBuild | Baseline vs DailyBui

[2022-01-11 08:17] mykaul commented on #3121
1. (nit) what's the use of 'new_xdata' in qr_lookup()?
2. All we are saving in GF_CONTENT_KEY is conf->max_file_size. Why is qr_content_extract() treating it as void*, and is memcpy()'ing it and so on (qr_content_update() is also not using it simply as as uint64_t?).
3. We can probably save in conf the result of 'data_from_uint64(conf->max_file_size)' instead of calling it on every qr_lookup() ?
4

[2022-01-11 11:10] xhernandez commented on #3104
My personal opinion is that what we should really do is to prevent this from happening. Internal self-heal (in DHT in this case) should be able to fix those problems automatically and transparently. All these issues are caused by a lack of tracking of ongoing operations, like a journal. We know that from long ago, and we know that it would fix many existing issues, but the effort to implement that

[2022-01-11 15:44] mykaul opened #3130 "Reduce the number of #include statements and code"
- We have hundreds of redundant, or unused #include statements in the code. I have a WIP patch to remove many of them
- We have several that are circular (include A calls B which calls A ...)
- We have some unused statements in popular include file (glusterd.h is a good example).

The end goal would be to reduce the no. of include statements, include what's needed, and thus improve code readabilit

[2022-01-11 15:45] mykaul commented on #3130
WIP, but before/after of the >50 include statements:
[code]

[2022-01-12 03:35] sac commented on #3090
@mobilemindtec you have to ask your questions in gluster-users list. https://lists.gluster.org/mailman/listinfo

And, no there is no other way than copying the data to mount point.

[2022-01-12 04:32] mohit84 commented on #3121
I have discussed with xavi and we have decided we will not go with this approach.Even in current way to access the GF_CONTENT_KEY is not correct and without taking lock during lookup we can't say data is consistent and it can return bad data.If we do change the current approach and wind read during open the issue is open-behind unless the fd is not available we can't read data from a file.Even we

[2022-01-12 04:33] mohit84 commented on #3121
We will start to work in unified cache to resolve all these issue.

[2022-01-12 04:33] #3121 closed, assigned to mohit84

[2022-01-12 07:38] Shwetha-Acharya commented on #3096
Could you please share the gsyncd and mnt logs @FSangouard

[2022-01-12 10:28] #3066 closed, assigned to nobody

[2022-01-12 13:44] FSangouard commented on #3096
Here are the logs from the primary cluster's first node :

[mnt-applis-apsu-data-glusterfs-volume1-brick1-brick.log](https://github.com/gluster/glusterfs/files/7854930/mnt-applis-apsu-data-glusterfs-volume1-brick1-brick.log)
[gsyncd.log](https://github.com/gluster/glusterfs/files/7854932/gsyncd.log)

[2022-01-12 17:28] #2469 closed, assigned to Shwetha-Acharya

[2022-01-13 05:49] Shwetha-Acharya commented on #3096
Thanks for the log, with the logs shared it is not evident who is sending the request for the xattr which is not supported by the backend storage.

Please enable debug log on geo-rep. And also grep for the time when xattr not supported error is occuring in /var/log/gluster directory. This should give some clue. @FSangouard

[2022-01-13 07:03] sac commented on #3130
glusterfsd/src/glusterfsd.c includes

"netgroups.h"
"exports.h"

Which can be removed. Please let me know if they can be accommodated in your work, else I'll send a patch.

[2022-01-13 07:52] mykaul opened #3137 "Cleanup common include files"
As a continuation to https://github.com/gluster/glusterfs/issues/3130 , there are several .h files that are included in various files. However, many of the definitions in those include files should be local to specific files, or is simply dead code.
We can easily clean them up.
Note - there are some functions that were deemed useful as common or utilities that were meant to be shared across the co

[2022-01-13 07:52] mykaul commented on #2998
@amarts - makes sense for release 11?

[2022-01-13 07:56] mykaul commented on #2971
@mohit84 - I guess this issue is fixed and can be closed?

[2022-01-13 08:02] #2971 closed, assigned to mohit84

[2022-01-13 08:04] mykaul commented on #3130
I'll try to send a patch over the weekend. It's going to be a huge one (not sure there's a decent way to break it up - see https://lore.kernel.org/lkml/Ydm7ReZWQPrbIugn@gmail.com/ ...). I'm sure there'll be more follow-ups, if it's not there already.

[2022-01-13 08:32] amarts commented on #2998
I am in for this. Been 4+ years since we got this.

Also, I am in favor of removing protocol 3x (reduces ~30k lines of code). Note that at this point every official supported glusterfs deployments from even private companies (which I am aware of) are using glusterfs-4x protocol. As no direct upgrade is possible from glusterfs-3.x releases to glusterfs-11+ releases, it would be better to remove tha

[2022-01-13 08:50] mykaul commented on #2998
The 3.x protoocol removal is suggested @ https://github.com/gluster/glusterfs/issues/2898

[2022-01-13 08:52] mykaul commented on #3023
**Cleanups**: (TBD - list of cleanup items that v11 is a good release to get them into, such as header files cleanup, removal of 3.x protocol, old authentication scheme and more - will edit as they get ack'ed):

- [x] https://github.com/gluster/glusterfs/issues/3137
- [x] https://github.com/gluster/glusterfs/issues/3130
- [x] https://github.com/gluster/glusterfs/issues/2998
- [x] https://github.co

[2022-01-13 10:05] pranithk commented on #3090
You can also post on the discussions page.

[2022-01-13 16:00] idefxH opened #3138 "Self-Heal doesn't start / fails systematically on brand new install"
**Description of problem:**
On a brand new / vanilla Gluster cluster, Self Healing doesn't work, apparently, the Self-heal daemon is not running. Could you please help me with this?

Thanks!

Environment:
- OpenSuse Tumbleweed, **ipv4 only** set-up:
[code]
- because the OpenSuse package Tumbleweed is compiled for ipv6 by default, I had to recompile it using the source package; all I changed vs the

[2022-01-13 16:07] FSangouard commented on #3096
Well, after enabling debug on the geo-replication session, I don't get the error as often as before. Now it seems to appear only when I write something to the replicated volume on the source cluster. Since last time, I restarted the volumes and the replication session, so maybe that cleared up something.

Here are the debug logs from gsyncd at the time of the error:

[gsyncd.log](https://github.co

[2022-01-13 18:17] mobilemindtech commented on #3090
Ok, thanks

[2022-01-13 18:17] #3090 closed, assigned to nobody

[2022-01-14 04:37] pranithk commented on #3138
[code]
When glusterfs is trying to resolve localhost, ip6 address is coming.

[2022-01-14 05:11] pranithk commented on #3138
Could you edit /etc/hosts to remove the association to ::1 and try it?
i.e.
[code]

[2022-01-14 09:19] idefxH commented on #3138
Thank you very much, this makes so much sense!

I have removed all references to ipv6 addresses in my /etc/hosts on all nodes, and rebooted everything.

Apparently, it is still trying to resolve an ipv6 address. But now, it gets no answer.
Here is the trace I got (once again, I did the test, then retrieve the command line, added the -L TRACE flag, ran it again, and give you the output):

[code]

T

[2022-01-14 14:58] mykaul commented on #3130
I've put them under #ifdef BUILD_GNFS - are they not needed at all?

[2022-01-14 16:12] pranithk commented on #3138
@idefxH I tried removing the ::1 line and it still worked fine on my machine. Do you have the following line in your /etc/hosts?
[code]

This shouldn't have happened:
[code]

[2022-01-14 16:41] idefxH commented on #3138
Thanks!

Well, I had separate lines for localhost and localhost.localdomain, and nothing for localhost4*; I replaced everything by the line you proposed, on all nodes, then rebooted everything, and it still doesn't work.

I noticed I still had the ::1 address for localhost, I understand I had only partially disable ipv6; I have solved this, now ip addr doesn't show a single ipv6 address....

... S

[2022-01-14 17:12] idefxH commented on #3138
Self comment: I have investigated more on this issue I had with ipv6 that got me to recompile the OpenSUSE package.

I thing this is related to this:
https://www.suse.com/support/kb/doc/?id=000018851

==> I applied the suggested workaround (disabling ipv6 in /etc/netconfig), and I reinstalled the original package.

Interestingly enough, the workaround seem to work with glusterd (my volume is up an

[2022-01-14 17:39] mykaul opened #3143 "Remove xlator_mem_acct_unref() from __gf_free()"
See discussion @ https://github.com/gluster/glusterfs/discussions/2775#discussioncomment-1363686

[2022-01-14 19:57] panlinux opened #3145 "Consider using system provided FUSE libraries"
**Description of problem:**
On Linux, I did some investigation on how glusterfs used the system fuse packages. It looks like glusterfs relies on a copy of certain fuser source files in `contrib/` to build its fuse mount xlator, and when requested, also a `fusermount-glusterfs` binary. It doesn't look like having a system installed fuse library from upstream and header files is taken into account i

[2022-01-15 00:47] pranithk commented on #3138
[code]

I see the following lines and comment where this log comes. Basically getaddrinfo of localhost is not getting ipv4 address, that is the issue. Rest of glusterfs doesn't use localhost. Only shd uses it, which is why you are observing it only with shd.

[2022-01-15 06:56] #2493 closed, assigned to nobody

[2022-01-15 06:56] #502 closed

[2022-01-15 06:56] #2479 closed, assigned to pranithk

[2022-01-15 06:56] #1623 closed, assigned to pranithk

[2022-01-15 06:56] #2484 closed, assigned to nobody

[2022-01-15 06:56] #2058 closed, assigned to BarakSason

[2022-01-15 06:56] #2485 closed, assigned to nobody

[2022-01-15 06:56] #2036 closed, assigned to csabahenk

[2022-01-15 06:56] #2063 closed, assigned to itisravi

[2022-01-15 06:56] #2271 closed, assigned to schaffung

[2022-01-15 06:56] #2250 closed, assigned to nik-redhat, schaffung

[2022-01-15 06:56] #2276 closed, assigned to kalebskeithley

[2022-01-15 06:56] #2326 closed, assigned to mohit84

[2022-01-15 06:56] #2399 closed, assigned to itisravi

[2022-01-15 06:56] #1620 closed, assigned to rkothiya

[2022-01-15 06:56] #2394 closed, assigned to itisravi

[2022-01-15 06:56] #1535 closed

[2022-01-15 06:56] #1531 closed

[2022-01-15 06:56] #1571 closed, assigned to BarakSason

[2022-01-15 06:57] #1641 closed, assigned to BarakSason

[2022-01-15 06:57] #1701 closed, assigned to rkothiya

[2022-01-15 06:57] #1685 closed, assigned to BarakSason

[2022-01-15 06:57] #1785 closed, assigned to csabahenk

[2022-01-15 06:57] #1660 closed, assigned to BarakSason

[2022-01-15 06:57] #1726 closed, assigned to aravindavk

[2022-01-15 06:57] #1710 closed, assigned to BarakSason

[2022-01-15 06:57] #1645 closed, assigned to rafikc30

[2022-01-15 06:57] #1684 closed, assigned to BarakSason

[2022-01-15 06:57] #1768 closed, assigned to BarakSason

[2022-01-15 07:50] idefxH commented on #3138
You are right, this explains the issue I mentioned in the comment I erased :), where I had `Error disabling sockopt IPV6_V6ONLY`

But with the binary compiled without `--with-ipv6-default `, I don’t get this message.

I have made a simple test for getaddrinfo on localhost, compiled it and ran it on the machine that gets the issue:
[code]

the output is as follows:

[code]

Is there something that

[2022-01-15 08:42] jkroonza commented on #982
I can no longer reproduce the lock failures, however, on glusterfs 8.6 at least there are still files left behind in .glusterfs/unlink/ on repeated lockfiles.  This happens only with the open, lock, remove, unlock sequence, ie, something like (ignoring most error conditions):

[code]
Then after a few iterations of doing the above on a glusterfs (We've got a locked cron running at 7:00 in the morni

[2022-01-15 09:56] sac commented on #3130
They are not needed at all.

The symbols negroups_file and exports_file are declared and initialized to NULL in glusterfsd.c  and are used in functions print_netgroups_file and print_exports_file (options --print-netgroups and --print-exports). However, we do not need their definitions, we get the address of those symbols by dlsym(3).

[2022-01-15 11:26] pranithk commented on #3138
@idefxH do an strace of the command line to see what exactly is happening on the syscalls, you can capture it with -o <outputfilepath> as shown below.
[code]
Maybe this will show what is happening on the system.

[2022-01-15 12:53] idefxH commented on #3138
Hello, thanks again.

I looked into it, but I couldn’t find anything obvious.

You’ll find the 700+ lines here :
https://file.io/spV4LGjpBr8Z

Thanks !

[2022-01-15 13:19] pranithk commented on #3138
@idefxH Maybe hint is somehow becoming ipv6. Could you put a breakpoint on `af_inet_client_get_remote_sockaddr()` and check what is happening with `sockaddr->sa_family` from the time it enters this function till it calls gf_resolve_ip6()?

Use `gdb /usr/bin/glusterfs`
On gdb prompt, do:
[code]

i.e. add `-N` at the end

[2022-01-15 13:41] idefxH commented on #3138
Ok, will do, but this time I think I should grab an actual computer and not just do ssh from my phone… so it may take a little bit longer :)

Anyway, will it work with normal rpm OpenSuse package or should I rebuild them with debug options?

(so far, I get `Reading symbols from /sbin/glusterfs...
(No debugging symbols found in /sbin/glusterfs) `

[2022-01-15 13:47] pranithk commented on #3138
I don't know how debug symbols are installed on suse. In fedora when you attach the process to gdb, it gives you the command to install the debug info rpms

[2022-01-15 15:38] 3nprob commented on #1767
Still an issue

[2022-01-15 17:54] idefxH commented on #3138
Ok, solved the question of having the debug symbols.

but struggling to debug:

[code]

here is the whole output. I get the same issue wether I add the breakpoint before or after calling the binary with the suggested arguments.

[code]

Anything I’m doing wrong ?

Thanks !

[2022-01-15 19:58] #1801 closed, assigned to BarakSason

[2022-01-15 19:58] #1924 closed, assigned to schaffung

[2022-01-15 19:58] #1918 closed, assigned to tshacked

[2022-01-15 19:58] #1885 closed, assigned to itisravi

[2022-01-15 19:58] #780 closed

[2022-01-15 19:58] #950 closed

[2022-01-15 19:58] #821 closed

[2022-01-15 19:58] #1121 closed

[2022-01-15 19:58] #1052 closed

[2022-01-15 19:58] #1107 closed

[2022-01-15 19:58] #1076 closed

[2022-01-15 19:58] #1243 closed

[2022-01-15 19:58] #1203 closed

[2022-01-15 19:58] #1367 closed

[2022-01-15 19:58] #1341 closed

[2022-01-15 19:58] #1433 closed

[2022-01-15 19:58] #1416 closed

[2022-01-15 19:58] #1524 closed

[2022-01-15 19:58] #1437 closed

[2022-01-15 19:58] #1507 closed

[2022-01-15 19:58] #285 closed

[2022-01-15 19:58] #333 closed

[2022-01-15 19:58] #530 closed

[2022-01-15 19:58] #638 closed

[2022-01-15 21:59] maxadamo commented on #833
@pranithk in my case I see plenty of directories but also files and I rather have a problems with inodes utilization.
**Directories:**
[code]
**Files:**
[code]

[2022-01-16 08:39] pranithk commented on #833
Could you find which directory these files are present in?

[2022-01-16 08:50] pranithk commented on #3138
The only difference between your invocation and mine is double quotes around `*replicate*` part of the command line. Apart from that I had to kill the existing glustershd process which is running before I did this.

[code]

[2022-01-16 08:59] mykaul opened #3148 "inode_passivate() code is wrong?"
(Moved from discussion https://github.com/gluster/glusterfs/discussions/3049 - since no one answered it there)

The following code, specifically within the loop, is a bit strange to me:

[code]
If I understand it, if the dentry is NOT hashed, then let's unset and destroy it. But if it's not hashed, then what does __dentry_unset() do at all? Unhashed means that dentry->hash is empty, therefore __de

[2022-01-16 09:27] pranithk commented on #3148
Responded on the discussion. Closing the issue. Sorry for the delayed response.

[2022-01-16 09:27] #3148 closed, assigned to nobody

[2022-01-16 11:05] idefxH commented on #3138
Hello,
Couldn't add breakpoint for af_inet_client_get_remote_sockaddr (same issue all over again).

But I added a breakpoint to gf_resolve_ip6, and judging by the stack, it is called by af_inet_client_get_remote_sockaddr. The address family provided as parameter is 10, which means AF_INET6 (Cf. socket.h: `#define AF_INET6	10	/* IP version 6			*/`)

[code]

In the source, I noted there is a call to

[2022-01-16 11:47] pranithk commented on #3138
Cool, this confirms my hypothesis. As per the code and considering that there are no logs from the function `client_fill_address_family()` Maybe the option coming in is inet6?

Could you check what is happening in `rpc_transport_inet_options_build()` in gdb? That is where the address family is getting picked for this transport as per code and my understanding of the code..

[2022-01-16 12:32] maxadamo commented on #833
they look as follows, and they are an exact copy of the file existing in the volume. The volume has 470 files, and inside the directories there are other 470 file with these weird names:

[code]

It happens only with this volume (I share Salt stack certificates), hence I tried to destroy and create the volume again but it didn't help

[2022-01-16 12:38] pranithk commented on #833
What about the output to following command?
[code]

[2022-01-16 12:40] maxadamo commented on #833
here we go:
[code]

and they don't have access permissions and they're empty:
[code]

[2022-01-16 12:46] pranithk commented on #833
What is the output of
`find .glusterfs -type f | wc -l`

[2022-01-16 12:51] maxadamo commented on #833
467
it's the same as the number of files in the volume, and they are an exact copy of the files.

[2022-01-16 13:12] pranithk commented on #833
Oh, then this is expected behavior, glusterfs creates .glusterfs/<first-two-hex-digits-of-gfid>/<next-two-hex-digits-of-gfid> directories and creates names with gfid, so that it can directly access the files with gfid without worrying about any ongoing renames etc.

[2022-01-16 13:52] idefxH commented on #3138
I guess the call would be :
[code]

Following
` opt = find_xlator_option_in_cmd_args_t("address-family", cmd_args);`

What GDB tells:
[code]

==> seems af is set to NULL, which would mean that at that stage, cluster doesn’t consider there is a command line argument requesting INET instead of INET6 (which is true, but there happen to be a setting requesting this in /etc/glusterfs/glusterd.vol)

I h

[2022-01-16 14:55] idefxH commented on #3138
Well, I can't make it work. Once again, I'm not a gdb expert, but I have recompiled everything without optimization, e.g. here is the compilation command used for `rpc-transport.c`
[code]

Still, after update and reboot, GDB still can't trace the addr_family var:
[code]

==> Do you know what I should do to be able to trace the value of this var? Do we really need it or is there another way to know

[2022-01-16 15:45] pranithk commented on #3138
I wonder if the rpm was built correctly, if you are anyway doing source compilation, why not just log it and be done?

Something like this?
[code]

Gives this log on my machine:
[code]
If this log doesn't come, then we definitely know we missed something at the compilation stage.

[2022-01-16 16:31] idefxH commented on #3138
Hum, I'm building using OpenSUSE Build Service, therefore, it's not being built on my machine.

I don't have a machine set up for dev / compilation. I will set it up. Meanwhile, you can already check the log of the build:
https://build.opensuse.org/public/build/home:idefx:branches:openSUSE:Factory/openSUSE_Tumbleweed/x86_64/glusterfs/_log

This summary may be useful:
[code]

[2022-01-17 05:24] #2483 closed, assigned to pranithk

[2022-01-17 07:07] mykaul commented on #3023
**readdir/readdirp improvements**: go over all the callbacks and see what we can improve in the loop that goes over all entries.
Examples include:

- [x] https://github.com/gluster/glusterfs/pull/3151
- [x] https://github.com/gluster/glusterfs/pull/3008
- [x] https://github.com/gluster/glusterfs/pull/3150
- [x] https://github.com/gluster/glusterfs/pull/3295
- [x] https://github.com/gluster/gluster

[2022-01-17 08:58] nik-redhat commented on #2779
Closing the issue as 9.4 is already released.
If the issue remains, please re-open it.

[2022-01-17 08:58] #2779 closed, assigned to nobody

[2022-01-17 09:01] nik-redhat commented on #3063
@irexiz I think in such case we are good to close this issue?

[2022-01-17 09:05] nik-redhat commented on #2754
Closing this issue as the fix is already available in a supported GlusterFS version.

[2022-01-17 09:05] #2754 closed, assigned to nobody

[2022-01-17 09:10] #2649 closed, assigned to nobody

[2022-01-17 09:15] nik-redhat commented on #2673
Hi @WeddySong , since there are not going to be any new releases for Gluster-8. Can you try and reproduce this issue on a newer version of Gluster and update the issue with the same?

[2022-01-17 12:07] jkroonza opened #3153 "lockfile (flock) problems: left-over unlink/ files and false positive locks being the worst"
**Description of problem:**

When using flock with a code sequence similar to (ignoring errors and timeouts):

[code]

various issues occur:

1.  left-over files in .glusterfs/unlink/ (upon contention and failure of secondary process to obtain lock).
2.  uninterruptable wait on flock() (which so far only umount -fl /mnt/shared could interrupt) upon ^C during flock().
3.  ESTALE stale file handles

[2022-01-17 12:10] jkroonza commented on #982
I rechecked, I believe there is sufficient grounds for filing a separate bug as this does seem to have been solved, but it introduced some new problems as set out in https://github.com/gluster/glusterfs/issues/3153

[2022-01-17 13:14] idefxH commented on #3138
Hello, rebuilt locally from sources, and now it seems to work just fine!

As I haven't changed anything compared to the built I previously made using the OpenSUSE Build Service, my assumption is that I didn't installed all packages from the rebuilt I made on this service, therefore I may have had some inconsistency between the libs from Gluster and the actual glusterfs packages; some being built w

[2022-01-17 13:16] pranithk commented on #3138
No issues, closing the issue.

[2022-01-17 13:16] #3138 closed, assigned to nobody

[2022-01-17 18:45] xhernandez commented on #3072
Hi @dalwise. How is it going ?

Is the self-heal still progressing on the arbiter brick or have you stopped it ? if it's still running, probably it should have already identified all pending files to be healed and the number of pending files should be near 80 or 90 million and slowly decreasing. Is that the case ?

Is self-heal log still clean of errors ?

[2022-01-17 20:22] Y0ngg4n commented on #1239
Issue is still active

[2022-01-18 16:50] Nayana-ibm opened #3155 "Glusterfs v10.0 binary for s390x"
**Description of problem:**
ppa:gluster/glusterfs-10 does not install v10.0 on s390x arch.

**The exact command to reproduce the issue**:
followed steps from https://docs.gluster.org/en/latest/Install-Guide/Install/#for-ubuntu
apt install software-properties-common
add-apt-repository ppa:gluster/glusterfs-10
apt update
apt install glusterfs-server
glusterfs --version

**The full output of the comm

[2022-01-18 16:59] pranithk commented on #3155
Please don't install 10.0, There is a critical bug that is getting fixed for 10.1, I am not sure about s390x though.

[2022-01-18 18:02] mykaul commented on #3155
https://github.com/gluster/glusterfs/pull/3062 is needed, at the very least.

[2022-01-18 19:48] dalwise commented on #3072
Hi @xhernandez, thanks for checking in!

Self-heal is ongoing. It is currently at over 64M and increasing by about ~50k per hour.

I had some problems backing up the bricks. I first tried backing up to the same partition as the brick but I ran out of inodes. I'm not sure why this happened as previous to the backup only 44% of the inodes were being used, so even doubling it should not have been an

[2022-01-18 21:44] Caligatio opened #3156 "mounting with "backup-volfile-servers" option throws a syntax error"
**Description of problem:**
The glusterfs client, when using the `backup-volfile-servers` option, throws a syntax error  about an "unexpected operator" but succeeds at mounting .

**The exact command to reproduce the issue**:
[code]
**The full output of the command that failed**:
[code]
<details>

**Expected results:**
Mount to occur without errors

<details>

**Mandatory info:**
**- The output of

[2022-01-18 21:48] xhernandez commented on #3072
I thought it would have discovered all directories by now. I was too optimistic...

Many of the files inside .glusterfs are hardlinks to entries outside it, so unless you use `-H` option in rsync, the number of inodes created will be much higher.

Just for reference, directories use two inodes, one for the real directory and one for a special symlink created inside .glusterfs. All other entries us

[2022-01-18 22:55] dalwise commented on #3072
Thanks for the tips!

The file on the arbiter is not showing any errors in the last few days. It seems to be healing fine. Here are the last few messages:

[code]

The same file on the data nodes is much more chatty, but seems to be fine also. It contains entries like"

[code]

Both data nodes seem to have no errors:

[code]

Whereas the arbiter just has some errors from January 6 when one of the

[2022-01-18 23:32] #2266 closed, assigned to nobody

[2022-01-18 23:32] #2506 closed, assigned to nobody

[2022-01-21 16:27] irischad commented on #2568
I wanted to follow up here that this issue resolved itself after the rebalance completed, but since we have an extremely large data set, this took some time to complete.

[2022-01-21 16:28] irischad commented on #2574
I wanted to follow up here that this issue resolved itself after the rebalance completed, but since we have an extremely large data set, this took some time to complete.

[2022-01-23 21:38] elliotcourant opened #3166 "bug: Incorrect Mac OS version assertion in configure."
**Description of problem:**

When running `./configure` on Mac OS revision higher than OS 10 but with a minor revision less than 7 you get the following error:

[code]

**The exact command to reproduce the issue**:

`./configure`

But this is caused by this:
[code]

**The full output of the command that failed**:
<details>

[code]

**Expected results:**
<details>

**Mandatory info:**
**- The outpu

[2022-01-24 09:26] nik-redhat commented on #3156
Hi @Caligatio this difference in `bash`, `sh` syntax seems to be affecting Ubuntu systems only. I tried on fedora, RHEL machines and it doesn't throw any syntax errors.

Can you make the changes in the code and confirm if the issue gets resolved or not? I don't have a similar setup to test it out.
For ref, you can check out the [build guide](https://docs.gluster.org/en/latest/Developer-guide/Build

[2022-01-24 12:47] mykaul commented on #3023
**OS support**:
- [ ] CentOS (and Enterprise Linux) 7.x deprecation

[2022-01-24 18:02] FSangouard opened #3170 "Possibility of running GlusterFS as a non-root user"
**Description of problem:**
I'm trying to make GlusterFS run as a non-root user (not just Geo-replication, but also the glusterd daemon, the glusterfsd processes handling the volumes, everything). I managed to get glusterd running as non-root and to create a volume with the CLI using sudo. However, I am stuck when I try to start the volume. The error doesn't tell me much.

Is this possible at all

[2022-01-24 20:46] TheWitness opened #3171 "Attempt to tar large directory with 1.7M files causes GFS to hang"
**Description of problem:**

So, we have a tool that never needs to traverse the directory, it know what files are there and simply does opens.  So, having so many files in one directory has never been a problem, but the other day, I wanted to create a tgz archive of the contents and when I ran tar the first time, without the `--warning=no-file-changed` option, it seemed to work.  But as soon as I

[2022-01-24 20:50] TheWitness commented on #3171
Ope, I just realized that the log it in UTC and not PST.  So, likely that big block of errors was indeed the system hanging around 16:00 hours.

[2022-01-25 10:34] Caligatio commented on #3156
I can confirm that changing the two `==` to `=` resolves the error on Ubuntu 20.04.3 and the mount still works.

[2022-01-25 16:52] #2998 closed, assigned to nobody

[2022-01-25 17:12] olegkrutov opened #3172 "Obsolete code in glustercli wheel file?"
**Description of problem:**

I've noticed that status_detail function from glustercli pip package crashes on volumes with offline bricks. The problem is in parsers module. It is already fixed in git version:
[parsers.py](https://github.com/gluster/glustercli-python/blob/master/glustercli/cli/parsers.py) lines 242-247 contain a fix. But in pip package there is no such code, although it is marked as

[2022-01-26 07:14] mykaul opened #3173 "inode.c: small improvements"
Reduce work under the table lock mainly, with fetching 'THIS' outside the lock, checking if it's the root inode outside (in inode_ref/unref code for example) and so on.

[2022-01-26 08:50] lremember commented on #1766
I got the same errors when I reboot the machine. But I found that my machine's local time will become “date of production”.  I changed the time on ntp, and reboot the machine, it'ok! Hope my answer can help you！

[2022-01-27 01:13] #2459 closed, assigned to nobody

[2022-01-27 01:13] #2513 closed, assigned to nobody

[2022-01-27 01:13] #1722 closed, assigned to nobody

[2022-01-27 01:13] #2516 closed, assigned to nobody

[2022-01-27 01:13] #2514 closed, assigned to nobody

[2022-01-27 08:43] black-dragon74 commented on #3173
@mykaul Are you working on this? If not, I can work on these changes.

[2022-01-27 12:38] xhernandez opened #3177 "Multiple posix locks are aborted with EINTR when one of them is interrupted"
**Description of problem:**

When a user program tries to acquire a posix lock that conflicts with an already granted one, it blocks. While it's blocked, if the process receives a signal, the kernel sends an interrupt request to Gluster through FUSE. This should cancel the specified lock request with EINTR, but it actually cancels all blocked locks that match the same type and range of the interru

[2022-01-27 15:31] xhernandez opened #3179 "Stale locks appear after a successful interruption of a blocked posix lock"
**Description of problem:**

When a process blocked waiting for a posix lock is interrupted by a signal, the request is cancelled with EINTR, but internally AFR keeps sending LK requests to other bricks, which may cause issues since these locks are not owned by anyone and won't be released in most cases.

**The exact command to reproduce the issue**:

Using the program provided [here](https://gist

[2022-01-27 16:25] pbhatia22 commented on #3170
This shows that brick failed to start : Unable to start brick <node1>:/applis/apsu/data/glusterfs/volume1/brick1/brick
Share the brick log.

[2022-01-27 17:45] J0WI commented on #268
_bump_

[2022-01-27 18:26] xhernandez opened #3180 "frame-timeout causes failures in posix-locks"
**Description of problem:**

Gluster has a frame-timeout that limits the maximum time a fop can be pending. This timeout is 30 minutes by default. Almost all operations that Gluster executes should take much less than this value. However posix locks are blocking operations with an unbounded limit. While it's not frequent to have application blocked on a posix lock for a long time, it's a perfectly

[2022-01-27 19:17] xhernandez opened #3181 "Locks xlator doesn't allow tracking individual posix locks"
**Description of problem:**

Since posix locks are defined in a way that can be naturally merged (multiple overlapping locks can be removed by a single unlock on the range, instead of one unlock for each lock), locks xlator uses a similar approach for granted locks. However this makes it impossible to cancel or "undo" a previous lock.

In normal circumstances this is not necessary, but for volumes

[2022-01-27 19:24] xhernandez opened #3182 "Some stale posix locks appear after a client disconnection"
**Description of problem:**

There exists a race in locks xlator that cause some blocked locks to become stale after a client disconnection.

When the brick has a long list of blocked posix locks, the currently granted lock is released and just after that a disconnection happens, some locks may remain in the blocked queue even after the cleanup that the locks xlator does upon client disconnection.

[2022-01-27 19:31] xhernandez opened #3183 "fd's are not correctly reopened after a brick reconnection"
**Description of problem:**

When a client has many open fd's with active or blocked posix locks and a brick disconnects and reconnects, those fd's are not reopened. This causes partial failures for replicated or dispersed volumes that most probably won't be visible from the application side, only on the logs. However, if all bricks get reconnected, even if this doesn't happen simultaneously, all

[2022-01-27 20:31] xhernandez commented on #2198
This issue has been fixed. If a similar problem persists, please, file a new issue.

[2022-01-27 20:31] #2198 closed, assigned to nobody

[2022-01-28 07:19] #3156 closed, assigned to nik-redhat

[2022-01-28 18:57] xhernandez opened #3187 "Locks xlator leaks fd's in some cases"
**Description of problem:**

There are fd leaks in locks xlator when a blocked posix lock is cancelled.

[2022-01-28 19:02] xhernandez commented on #3182
After a deeper analysis, I've seen that the real cause of the stale lock is a bit different. This is the sequence of steps that cause the issue:

1. Client C1 sends write lock request L1. It's granted.
2. Client C2 sends write lock request L2.
3. L2 start being processed by the brick's locks xlator, but nothing is created yet (an fd reference is held for this request).
4. C2 disconnects.
5. Brick'

[2022-01-29 07:46] dalwise commented on #3072
Hi @xhernandez,

The backup completed and I have been applying the solutions that you suggested from #3025, while monitoring the increase in inodes (via `df -i`). Unfortunately I haven't seen much noticeable improvement:

<img width="1238" alt="image" src="https://user-images.githubusercontent.com/22359562/151652404-fa9065a3-97fa-4d4f-a3cf-02c5583576e3.png">

The black vertical line is when I ran

[2022-01-30 11:10] stais opened #3190 "Potential memory leak on client of GlusterFS v5.6"
**Description of problem:**
Potential memory leak on client of GlusterFS v5.6. After a network instability (not fully verified, but it occurred before the memory increase), client memory consumption starts increasing (in steps, not continuously) until it gets all available resources. Restart of client does not solve the issue. Total restart (both servers and clients) solves the issue for a while,

[2022-01-30 11:16] stais commented on #3190
Statedumps of two clients and server:

[mnt-bricks-vol1-brick.120.dump.1643016382.txt](https://github.com/gluster/glusterfs/files/7965768/mnt-bricks-vol1-brick.120.dump.1643016382.txt)
[client-0_glusterdump.20167.dump.1643018362.txt](https://github.com/gluster/glusterfs/files/7965769/client-0_glusterdump.20167.dump.1643018362.txt)
[client-1_glusterdump.21551.dump.1643018561.txt](https://github.com

[2022-01-30 15:54] #2525 closed, assigned to nobody

[2022-01-30 15:54] #2529 closed, assigned to csabahenk, nik-redhat

[2022-01-30 15:55] #2528 closed, assigned to nobody

[2022-01-30 15:55] #2531 closed, assigned to nobody

[2022-01-30 15:55] #2464 closed, assigned to pranithk

[2022-01-30 15:55] #1495 closed

[2022-01-30 15:55] #2444 closed, assigned to nobody

[2022-01-31 04:53] Sheetalpamecha commented on #3190
Hey @stais  , You are using very old glusterfs version. The current maintained versions are glusterfs 9 and 10. It is high possibility that these leaks are already fixed in new versions.

Also from gluster v status we can see that 1st brick is not online. And the same is being reported over logs. Try to get these brick online and see if issue persists.

[2022-01-31 08:34] xhernandez commented on #3072
@dalwise when you do configuration changes, you should also restart the self-heal processes started manually by you because they are not under the control of glusterd to apply the changes.

In any case, if that doesn't help, I would also try to modify these settings (restarting shd processes after that):

 * Increase `cluster.self-heal-window-size` to 4 or 8
 * Increase `server.event-threads` and

[2022-01-31 09:34] kevinpawsey commented on #2467
I would be interested in hearing if there is an interim workaround or anything, as I have just migrated from NFS share to glusterfs for my docker swarm, and am seeing this issue.
Is this still due to be released, and will it be available from the usual update channels for Debian Bullseye?

[2022-01-31 09:35] pranithk commented on #2467
@Shwetha-Acharya as per my understanding a release is done with this fix. Right?

[2022-01-31 09:49] stais commented on #3190
Hello @Sheetalpamecha,
Yes, one brick went offline (the network instability I referred), but when everything came back to normal (all three bricks online), that was the starting point of increasing memory consumption on client side.

[2022-01-31 09:51] Shwetha-Acharya commented on #2467
Hi @pranithk we have not yet officially announced the release as we are handling some issue in centos stream releases. Rest of the paclkages are built and are available. I hope to announce the release as quickly as possible.

[2022-01-31 09:53] kevinpawsey commented on #2467
Hi there, thank you for the quick reply on this, it is very much appreciated.

Does this mean it is available to download manually and apply the new packages?

[2022-01-31 09:58] Shwetha-Acharya commented on #2467
I recommend to wait till the official announcement, which can happen in a day or two.

[2022-01-31 10:00] kevinpawsey commented on #2467
I will do that then, again, thank you for all that you put into the project and for replying quickly

[2022-01-31 16:34] FSangouard commented on #3170
I didn't even think to look there, thanks. I was able to move forward in my deployment. For the record, here's what I've done so far :

After reviewing the brick logs, the problem was with the permissions inside the brick directory. By default, the hidden directory `.glusterfs` and some of its subdirectories (`indices`, `changelogs`, `unlink`) are created with permissions `600`, which doesn't incl

[2022-01-31 16:56] mykaul commented on #3170
Hi @FSangouard - all looks very interesting. If you search for the code we have many places where '0600' is hard-coded into the sys_mkdir() calls or other calls. I think enumerating them and understanding what the gaps are is a great first step.

[2022-01-31 20:38] dfoxg commented on #2467
I can´t see any notes to this issue in the [10.1 release docs](https://docs.gluster.org/en/latest/release-notes/10.1/). Is this sure fixed in 10.1?

[2022-02-01 04:19] Sheetalpamecha commented on #3190
@stais Did you try it on the current releases and Is the bug reproducible there?

[2022-02-01 04:57] mohit84 opened #3191 "dht: Fix double free issue in the cbk function dht_common_mark_mdsxattr_cbk"
During fresh lookup for directory dht set and heal mds xattr on the directory.
The function dht_common_mark_mdsxattr_cbk is trying to destroy frame->root
 even the same frame is passed to the function(dht_selfheal_dir_setattr) to heal the xattr.
 Ideally we have this bug from the day when a feature was implemented but the bug
 as not caught till today.After move on tcmalloc it was easily caught an

[2022-02-01 05:53] Shwetha-Acharya commented on #2467
Its fixed as part of 9.5 and can be expected in next minor release of gluster 10.

[2022-02-01 06:13] dalwise commented on #3072
Thank you @xhernandez for your help and quick response!

Thanks for the tip

I did all of these. Not much difference though:

<img width="1304" alt="image" src="https://user-images.githubusercontent.com/22359562/151920541-3fc807c8-aef0-4287-8a8c-47dbdc7230d1.png">

Sure. I assume you mean the output of `gluster volume get vol_name all`. Here is it:
[gluster-settings-220201.txt](https://github.com/

[2022-02-01 13:31] FSangouard commented on #3170
Yes I have seen the hardcoded '0600' when looking for a way to configure those default permissions, which is why I decided to manually create the directories with the correct permissions on the machines.

Unfortunately, I'm really not a C programmer, so even if I had the time, I would not be able to contribute a way to make this configurable.

I still want to do some more tests (like geo-replicati

[2022-02-02 07:59] rluetzner opened #3194 "Log message for RPC clients is misleading because it logs unsigned integers as signed"
**Description of problem:**

We've encountered multiple log messages like the following on our productive system:

[code]

 We've not yet cleared up what the underlying issue is, but lost time to figure out why the integer logged is negative.

**The exact command to reproduce the issue**:

The issue is located in rpc/rpc-lib/src/rpc-clnt.c:431.

As this is only a log message, the simplest possible

[2022-02-02 10:43] jkroonza opened #3196 "Left-over DHT linkfile's"
**Description of problem:**

In some scenario we've been unable to figure out (suspected race condition) our glusterfs 8.5 host (yes we're aware this is old, but it's stable for us, with minimal issues, nor can we find anything in the release notes for newer versions that seem to address this), containing mostly maildir structured data, ends up with files indicating heal requirements.  This is inv

[2022-02-02 13:15] xhernandez commented on #3072
I missed to comment about this before... sorry.

Self-heal processes are run in each cluster node, and each one takes care of the list of pending files present in its own node only. This means that you should start extra self-heal processes in the other nodes (the ones that have a long list of pending files in gluster volume heal info). Since the arbiter brick was empty initially, it doesn't have

[2022-02-02 19:37] mykaul commented on #3173
Yes, of course @black-dragon74 - enjoy! I have some idea and some in the works patch for reducing work under lock for inode_unref() but otherwise there's more to do.

[2022-02-02 19:38] mykaul commented on #3130
This is quite ready for review. I did not solve some of the circular deps - xlator.h<->options.h - those will come later.

[2022-02-03 01:32] dalwise commented on #3072
Hi @xhernandez, I'm definitely glad that we clarified that and I'm sorry for not bringing it up earlier. Adding extra processes in the other two nodes caused a huge increase in rate of new inodes created on the arbiter for about two hours. After that it has come down again, but is still considerably more than it was before the new processes (~2200/minute vs ~900/minute):

<img width="1136" alt="im

[2022-02-03 06:17] Shwetha-Acharya commented on #2467
@dfoxg I was verifying the commits that went into the gluster 10 releases for this issue:
- https://github.com/gluster/glusterfs/pull/2893 is already part of release 10.0 (https://docs.gluster.org/en/latest/release-notes/10.0/) thats why we could not spot it in release 10.1 release notes
- with glusterfs 9.5, it is also part of release 9.

[2022-02-03 07:36] dfoxg commented on #2467
@Shwetha-Acharya okay, thank you!

[2022-02-03 09:07] karthik-us opened #3200 "Stale index entries are shown as pending heal in Arbiter"
**Description of problem:**

In an Arbiter volume configuration, if brick(s) contains some stale entries (which exists on the bricks) inside indices folders, sometimes those are shown as pending heals. These entries may not be needing any heal in reality but they will still be shown as pending heal, because in afr_slefheal_unlocked_inspect() it checks for any difference in file size. Since arbiter

[2022-02-04 16:05] xhernandez commented on #3072
That's great :)

Self-heal daemons controlled by glusterd should have applied the changes immediately, so all settings should have been already in effect. It might be related to the way self-heal works. When a directory is healed, all entries inside it are created, but not healed yet. This means that after healing a directory, many files may have been created and added to the pending heal queue, i

[2022-02-04 17:02] kzakhark opened #3206 "GlusterFS 9.5 fuse mount excessive memory usage"
**Description of problem:**

GlusterFS 9.5, 3-node cluster (2 bricks + arbiter), an attempt to tar the whole filesystem (35-40 GB, 1.6 million files) on a client succeeds but causes the glusterfs fuse mount process to consume 0.5+ GB of RAM. The usage never goes down after tar exits.

**The exact command to reproduce the issue**:

`/usr/bin/tar --use-compress-program="/bin/pigz" -cf /path/to/archi

[2022-02-05 18:42] kzakhark commented on #3206
I've updated the issue with statedump files taken before and after the tar operation. Please disregard that path= entries are empty, in the original dumps there are real paths but I deleted them as they might contain sensitive information.

The odd thing is that the dump file is full of:

1) xlator.performance.write-behind.wb_inode entries, but the tar operation does not write to these files. The

[2022-02-06 03:47] pranithk commented on #3206
@kzakhark wb_inode is created on open too. So this is expected.

By default I think around 64k inodes are kept in LRU, so if forgets don't come they may stay in memory. Kernel will eventually send forgets on them and the memory should be reclaimed. As a test, could you do the same operation at a smaller scale where you can delete the files that were tarred(This will lead to forgets from kernel) to

[2022-02-06 04:31] kzakhark commented on #3206
[glusterdump.19102.dump.zip](https://github.com/gluster/glusterfs/files/8009437/glusterdump.19102.dump.zip)
@pranithk Thanks for your reply!

The network.inode-lru-limit is set to 50000, there's ~2000 entries, ~2000 xlator.performance.quick-read.inodectx, ~200 xlator.performance.write-behind.wb_inode entries in the latest statedump I took (attached in case you would like to look at it). The number

[2022-02-06 05:58] pranithk commented on #3206
When debugging memory leaks relating to inodes, we generally delete the files to confirm if there is a inode leak or not. Hence I suggested this method. The lru limit is from fuse mount
[code]
Before we introduced these limits, kernel sometimes would take so long to send these forgets that the mount would be OOM killed. Another things you can do is to reduce these limit. Test your case on a maybe

[2022-02-06 06:03] pranithk commented on #3206
https://bugzilla.redhat.com/show_bug.cgi?id=1623107 -- this is the bug that led to this option.

[2022-02-06 07:43] kzakhark commented on #3206
Thanks for the suggestions!

I ran the following additional tests with a smaller data set (1.9 GB, 115.6K files):

1. Fresh mount, no change to glusterfs mount options, files deleted after tar exit:

1.1. Glusterfs fuse mount memory usage after tar exit: 524 MB

Summary:

[code]

1.2. Glusterfs fuse mount memory usage after file deletion: 508 MB

Summary:

[code]

Note that the statedump after the

[2022-02-06 11:44] #2565 closed, assigned to nobody

[2022-02-06 11:44] #2566 closed, assigned to nobody

[2022-02-06 11:44] #2251 closed, assigned to itisravi, aspandey, karthik-us

[2022-02-06 11:44] #1822 closed, assigned to nobody

[2022-02-06 11:44] #2560 closed, assigned to nobody

[2022-02-06 11:44] #2562 closed, assigned to nobody

[2022-02-06 16:47] mykaul opened #3210 "Use singly linked list (or hash list as in the Linux kernel) for dentry, inode hash entries"
dentry struct has two vars:
[code]

I think both can be converted to singly linked list, saving 16 bytes per dentry.

(inspired by https://lore.kernel.org/io-uring/1bc942b82422fb2624b8353bd93aca183a022846.1632516769.git.asml.silence@gmail.com/ , also see https://sbexr.rabexc.org/latest/sources/52/0436935ee0e606.html for implementation - maybe we wish to generalize and re-use in Gluster in other pl

[2022-02-07 05:03] dungla2011 commented on #668
the same error, something  not logic here!
![image](https://user-images.githubusercontent.com/7878963/152727073-98df66a0-3771-4532-93d1-be16ccf1312f.png)

There are 2 error:
1. I want to join glsv0, but show status only 3 server, not have local server (glsv0)
2. When create volume, it say glsv1 not in Peer, while status have all  (gfsv1,gfsv2,gfsv3)
`root@sv96:~# gluster volume create vol01 transp

[2022-02-07 05:17] karthik-us commented on #668
@dungla2011
1. You need not have to peer probe the localhost. If you check the peer status from one of the other peer probed hosts, you should see `glsv0` in the list of peers.
2. Seems like there is a typo in the hostnames. You have peer probed `glsv` but used `gfsv` in volume create.

[2022-02-07 11:13] FSangouard commented on #3170
I'm hitting a road block right now with geo-replication, I'm not sure what the problem is.
Every time I start a geo-replication session, it instantly becomes Faulty, and on the slaves I see the volume being mounted multiple times in a loop, until I stop the session.

Example (contents of /etc/mtab about a minute after session startup):

[code]

Before I reached this point, I first had to add `CAP_

[2022-02-07 14:19] jirireischig commented on #1525
Please, don't close this bug, because it's not resolved and there is potential of **data loss** when kernel-writeback-cache is on.

[2022-02-07 14:49] mykaul commented on #1525
Do you have a patch to fix this? Otherwise, I think it's best either not to use it, ensure it's off by default and provide a warning when enabling it.

[2022-02-07 15:08] mohit84 commented on #1525
It seems issue is already fixed in libfuse (https://github.com/libfuse/libfuse/commit/b3109e71faf2713402f70d226617352815f6c72e)

[2022-02-07 15:14] mohit84 commented on #1525
I mean we have to handle similar way in our codepath

[2022-02-07 19:19] mykaul opened #3213 "Configure geo rep SSH with AES128 encryption - to improve performance"
Just as we've done for Gluster SSL in:
[code]

We should configure the SSH options of rsync for georep to use it.

[2022-02-07 22:27] dalwise commented on #3072
Thanks for the feedback @xhernandez.

As we were expecting the count of files in need of healing decreased quickly over the last couple of days. But it seems to have now stopped at around 2475. It has remained there for the last 7 hours:

[code]

I have now killed the extra `glusterfs` commands on all three nodes, since we no longer seem to have a performance issue and they could complicate checki

[2022-02-08 00:18] dalwise commented on #3072
By the way, one thing that I have noticed is that even though the number of entries needing healing on host_name21 have remained fairly stable at around 2475, the entries in host_name20 & host_name20 have varied quite much, despite the fact that nothing should currently be writing to the mounted volume. For example just a few minutes ago:

[code]

The glustershd log shows heals on all nodes, but t

[2022-02-08 01:10] coyang opened #3214 "Kernel panic during stress test on glusterfs volume"
**Description of problem:**
Kernel panic happen during stress test on glusterfs volume

**The exact command to reproduce the issue**:
### Test step

- Prepare stress-ng job file

[code]

- start stress-ng test on glusterfs client

[code]

- simulate package drop

[code]

- start another session and follow `dmesg` Kernel panic log

**The full output of the command that failed**:
NA

**Expected resu

[2022-02-08 04:01] dshmyz commented on #906
We also encountered the same problem. After repair, the fuse cache of the client cannot be deleted

[2022-02-08 07:45] black-dragon74 commented on #3213
If I correctly understand what we are trying to do here, we wanna use `aes128-ctr` cipher for SSH in georep. Right?

[2022-02-08 08:28] mykaul commented on #3213
Correct. And see if it improves performance. We do not have (at all) performance tests for geo-rep, but I assume aes128-ctr is faster than the default and is considered secure.

[2022-02-08 08:48] black-dragon74 commented on #3213
It is secure but I am wondering why is not preferred more? If you look at `DEFAULT.POL` and `FUTURE.POL` inside `/usr/share/crypto-policies/policies`, `aes128-ctr` is so far down the list.

I am no crypto expert so can't really say why is it so (investigating meanwhile).

Executing `ssh -Q cipher` on macOS and Fedora lists the exact same ciphers:
[code]

And looking at `DEFAULT.POL` `chacha20-poly

[2022-02-08 09:28] rbernet opened #3215 "Upgrade from 8.5 to 9.5 (or 10.x) fails"
**Description of problem:**
Offline upgrade of a distributed volume on openSUSE from version 8.5 to 9.5 fails.
Same problem with upgrade to 10.2. After upgrading and started glusterd all the system does not come up and all gluster commands time out.

**The exact command to reproduce the issue**:
To be sure it's not a local issue, I tested on a clean test system.

Created distributed volume with op

[2022-02-08 09:34] mykaul commented on #3213
See https://access.redhat.com/articles/3642912 for the standards in RHEL.
Specifically, seems that Chacha20-Poly1305 is not enabled in FIPS mode:
Ciphers aes256-gcm@openssh.com,aes256-ctr,aes128-gcm@openssh.com,aes128-ctr

[2022-02-08 09:54] black-dragon74 commented on #3213
Got it. Thanks.

[2022-02-08 11:07] mykaul commented on #338
I thought we wanted in release 11 to remove mempool code completely?

[2022-02-08 16:25] xhernandez commented on #3072
This command just starts a full scan of the volume checking every file, which means that it may take some time to reach to the problematic files. However, if the files you want to heal already appear in the heal info, a full scan is not really necessary. Self-heal will already try to heal them. If it can't it means that something is wrong with those files and needs to be checked manually.

That co

[2022-02-08 17:51] FSangouard commented on #3170
After some more digging, I'm under the impression that the first problem is actually a consequence of the second problem.
What makes me think that is that when I run the `gsyncd` command directly on the slave as the `georep` user, I get the following error:

[code]

But if I run the same command as `root`, it runs fine and I don't see any temporary mounts appear under `/var/mountbroker-root`, so I

[2022-02-08 19:01] mykaul opened #3216 "inode_link() improvements"
- [x] improve dentry_create()

- Use mem_get() instead of mem_get0(), as we populate all fields.
- Populate all fields, in the order they appear in the structure.

- [x] Fix inode_hash() - no need to del anything - it's empty already.

- [x] Fix __dentry_hash() - no need to del anything - it's empty already.

- [x] Extract checks outside the lock, before the action

- [x] Move the error logging to

[2022-02-08 19:25] dalwise commented on #3072
Most of the entries shown on `gluster vol heal vol_name info` are gfid entries like `<gfid:9d83ace4-e904-4868-be69-0032e05acc5f>` however a few are filenames, so I'll start with those. All of the non-gfid entries are in the `logs.bak2` directory. Here's one that shows listed both for host_name20 and host_name22:

[code]

[code]

[code]

I am fine deleting the whole `logs.bak2` directory to get rid

[2022-02-08 20:42] kevinpawsey commented on #2979
I am also trying to compile 10.1 on ARM32, and am hitting the issue... how did you solve this in the end?

I edited the configure file, and added it on to CFLAGS="-g -02" in one of the lines... is it necessary to change every line of CFLAGS= to append the -DUATOMIC_NO_LINK_ERROR to all of them in 'configure'... or is there another method of adding this switch?

[2022-02-08 20:45] panlinux commented on #2979
In the case of debian packaging, it's solved in `debian/rules`:
[code]
I *think* you can just export `CFLAGS` with that value before running `./configure`

[2022-02-08 21:20] kevinpawsey commented on #2979
I see that you can do
```./configure CFLAGS=-DUATOMIC_NO_LINK_ERROR```
but that seems to overwrite any CFLAGS that are created in the Makefile (previously it was "-g -02")
the issue was that it seemed to complete compiling ok, and then I went to run glusterd, and it core dumped... looking at the core dump it errored on:
```Core was generated by `glusterd -N'.
Program terminated with signal SIGILL,

[2022-02-09 05:13] Sheetalpamecha opened #3217 "Disperse volume with more than 16 data bricks fails to mount"
**Description of problem:**
Mounting fails for disperse volumes with more than 16 fragments

**The exact command to reproduce the issue**:
root@ubuntu101:~# gluster volume create fil_storage disperse 40 \<bricks\>

**The full output of the command that failed**:
root@ubuntu101:~# gluster volume info

Volume Name: fil_storage
Type: Disperse
Volume ID: 173e6d08-117d-42a9-8ce2-5605e2676eb1
Status: St

[2022-02-09 05:31] webash commented on #2467
In trying to find the official announcements for versions, I came across this [Roadmap page on the website](https://www.gluster.org/roadmap/) that seems a little out of date. Shall I raise a separate issue for this?

I did find the [release notes for 9.5](https://docs.gluster.org/en/latest/release-notes/9.5/) - assume this means it has been released to all package repos and should be safe (as ever

[2022-02-09 06:43] coyang commented on #3214
I will close this issue because it's not gluterfs specific issue, when I do the test on ext4 file system also cause kernel panic.

[2022-02-09 06:43] #3214 closed, assigned to nobody

[2022-02-09 06:57] #3194 closed, assigned to nobody

[2022-02-09 06:58] #3187 closed, assigned to nobody

[2022-02-09 06:59] #3182 closed, assigned to nobody

[2022-02-09 07:07] #1000 closed

[2022-02-09 11:00] kevinpawsey commented on #2979
@panlinux - I have just noticed in your `configure` command line you have excluded `io_uring` and `tcmalloc` from the build.. is there a reason for this, as I am including them in my build for ARM32

[2022-02-09 11:41] xhernandez commented on #3072
The data on all 3 bricks seems consistent. Since this is a directory, can you check if the number of entries inside it and its names is the same on all three bricks ?

Yes, that should work. If there's some inconsistency inside the directory itself maybe it's not possible to completely remove the entire directory at once, but only few problematic entries should remain, which can be easily handled.

[2022-02-09 12:17] panlinux commented on #2979
That's the Debian packaging, which we follow in Ubuntu. I debated whether to enable uring, but when I checked a bit of history, it seems it's new in glusterfs, and the next ubuntu release is an LTS, so we thought best to not enable it for this particular release.

Regarding tcmalloc, it's because of these bugs:
`Disable tcmalloc due to problems with dlopen (LP: #1950777 #1951126 Debian: #999700 #9

[2022-02-09 12:59] kevinpawsey commented on #2979
ah, thank you for that @panlinux .... I have just tried to build in debian bullseye 10.1 and disabled tcmalloc and io_uring to see if I can at least get a working compile... if that works I may re-introduce io_uring to see if it compiles and works ok.  To get it to compile at all I have had to add the -DUATOMIC_NO_LINK_ERROR to the CFLAGS, my latest './configure' looks like:
```./configure --disab