[2021-01-19 12:21] opinionhuh opened #2027 "Files stuck in unlink directory because of inode locks"
**Description of problem:**
I previously created [issue 1990](https://github.com/gluster/glusterfs/issues/1990) which is about deleted files remaining in unlink directory for multiple hours, with the root cause being bitrot client.

Now we are facing a similar issue, but bitrot is disabled this time so it's caused by something else that we don't know yet.
We have files from Friday in unlink direct

[2021-01-19 14:19] tshacked commented on #1918
I agree that this kind of check is problematic, yet it already exists in `dht_create()/dht_mknod()` for any path that falls on a decommissioned subvol (to handle a parallel run of rebalance).

In addition `remove-brick stop` reconfigure isn't an indication that the layouts are updated (rebalance still needs to be triggered manually) so the client actually cannot figure when layouts are updated.
Ma

[2021-01-19 14:58] opinionhuh commented on #2027
Restarting glusterd service works as a workaround, the files are cleared from unlink directory.
Edit: I should mention that in our case, service is modified so that it restarts also bricks processes.

[2021-01-19 19:06] n1nj4888 commented on #1364
Hi @rkothiya - I noticed the glusterfs “Generic Upgrade Procedure” still only refers to fedora. Would it be possible to also include instructions for Debian/Ubuntu upgrade based on apt? I included some commands above that seemed to work previously for an Ubuntu upgrade which used the glusterfs PPAs...

thanks!

[2021-01-20 02:04] n1nj4888 opened #2028 "Ubuntu glusterfs 9 PPA empty"
Hi There,
Although GlusterFS 9 has been released, it seems the Ubuntu GlusterFS PPA is empty and so, even if the user can add the empty PPA, they cannot currently update to GlusterFS 9 on ubuntu?

https://launchpad.net/~gluster/+archive/ubuntu/glusterfs-9

Thanks!

[2021-01-20 03:18] trinhpham commented on #833
My system is running out of disk space, and here is the command output:
[code]

Could anyone help me to figure it out?

[2021-01-20 04:36] pranithk commented on #833
Could you dig a little more into .glusterfs and find which inner directory is occupying more space?

[2021-01-20 05:25] vh05 commented on #1316
unstale

[2021-01-20 08:16] msaju commented on #2028
The Gluster9.0 official release has not been made,
We are in the process of final testing /verification. Planning to release this week / early next week worst case.

[2021-01-20 08:26] perrynzhou opened #2029 "discussion about initialization for IOT_MAX_THREADS in io-thread"
@mohit84 @xhernandez @amarts @BarakSason @mohit84 @tshacked @csabahenk @pranithk  I found a defect in io-thread xlator,IOT_MAX_THREADS  need not to hardcode to 64.that will be set to cpu cores dynamic. if i have 72 cpu cores and glusterfsd on nvme or ssd,that will be better to set IOT_MAX_THREADS dynamic.i think used sysconf( _SC_NPROCESSORS_CONF) to initialize IOT_MAX_THREADS .

- IOT_MAX_THREADS

[2021-01-20 08:43] pranithk commented on #2029
@perrynzhou io-threads is for doing I/O on the disks. So it is not necessarily limited by number of processors as they spend a lot of time waiting for the I/O to complete. This limit was set very long back when number of cores is not that high. Maybe we can bump up the max threads to even higher. Any suggestions guys? 512 doesn't seem bad to me. I have seen systems in production with that value fo

[2021-01-20 08:51] perrynzhou commented on #2029
@pranithk  i saw,think you very.but io thread max just max thread IOT_MAX_THREADS (64).i has a doubt about ac_iot_count and ac_iot_limit.did you told me what's meanings and how that works  about ac_iot_count ?

[code]

[2021-01-20 09:07] mykaul commented on #2029
Do we have any evidence that more threads will improve performance?

[2021-01-20 09:19] mykaul opened #2030 "Clone the /dev/fuse fd"
From https://john-millikin.com/the-fuse-protocol#multi-threading :
[code]

I've noticed that libfuse does that (https://github.com/libfuse/libfuse/blob/d35470382b50aa10e4e81697b23183b50ee45941/lib/fuse_loop_mt.c#L225) , perhaps we should do it as well.

[2021-01-20 09:41] pranithk commented on #2029
I will let @perrynzhou give the data as I don't have hardware which would make any difference.

[2021-01-20 09:45] pranithk commented on #2029
So there are 3 types of values
1) ***_count[] which tracks the current number of threads processing requests in that priority
2) ***_limit[] which is the limits that can be adjusted using volume set commands
[code]

3) #defines that you pointed out which are the MAX/MIN limits

[2021-01-20 11:07] xhernandez commented on #2025
This is also done in the kernel headers (from where these definitions were initially imported if I'm not wrong). This is done to mark them not valid (poisoned) in case they are incorrectly used after deleting the item (it's a bug and it would cause a crash). It also has the effect of returning `false` for `list_empty()`, instead of `true` as `list_del_init()` does.

I think we should change the va

[2021-01-20 11:39] mykaul commented on #2025
This is what I see in the Linux kernel:
[code]

And __list_del() is used in function such as list_move(), which we hardly use:
[code]

It's not that we do not need to use list_move(), the code has plenty of list_del() or list_del_init() followed by list_add() !

[2021-01-20 11:46] xhernandez commented on #2029
With current implementation we have significant lock contention in io-threads, specially for fast storage (NVMe) and internal requests (self-heal mostly). If we increase the number of threads, the effects of lock contention will probably increase, wiping out any potential improvement from using more threads. Anyway some empirical numbers would be great.

[2021-01-20 13:01] xhernandez opened #2033 "tests/bugs/nfs/bug-1053579.t fails on CentOS 8"
The test fails sometimes in CentOS 8.

[2021-01-20 15:50] dmantipov opened #2035 "Instant glusterd crash on aarch64"
\# gdb -q /usr/sbin/glusterd
Reading symbols from /usr/sbin/glusterd...
(gdb) r -N
Starting program: /usr/sbin/glusterd -N
[Thread debugging using libthread_db enabled]
Using host libthread_db library "/lib64/libthread_db.so.1".
[New Thread 0xfffff65312a0 (LWP 234002)]
[New Thread 0xfffff5d302a0 (LWP 234003)]
[New Thread 0xfffff552f2a0 (LWP 234004)]
[New Thread 0xfffff4d2e2a0 (LWP 234005)]
[New Th

[2021-01-20 21:17] csabahenk opened #2036 "tag mirroring on devel branch"
While the _devel_ branch carries the whole unified project history, as of now, there is just one tag in the branch, _v10dev_. This makes it hard to locate commits in history. In particular, `git name-rev` and `git describe` commands are useless on _devel_.

This could be helped by mirroring original release tags on _devel_. according to some name mangling scheme (eg. _v3.2.1_ could correspond to _

[2021-01-20 21:43] csabahenk commented on #2036
As of finding correspondig commits: one approach could be to look for identical trees. However, this does not work out in a straightforward manner, as some files are not tracked on _devel_ (eg. release notes). It might be feasible to find correspondece based on filtered trees, but for that we should know the logic of omitting files when _devel_ was set up.

Other possbile approach is to find the c

[2021-01-20 22:59] trinhpham commented on #833
Here we are:

<details><summary>du -sh *</summary>
<p>

[code]

</p>
</details>

<details><summary>gluster --version</summary>
<p>

[code]

</p>
</details>

<details><summary>gluster volume info</summary>
<p>

[code]

</p>
</details>

[2021-01-21 00:19] #1293 closed

[2021-01-21 04:00] chenglin130 opened #2037 "volume quota enable/disable will take a lot of time"
**Description of problem:**
"volume quota enable/disable" will take a lot of time. And this time increases linearly with the number of volumes.

For example,
when there is only one volume on multi-peers environment,  "volume quota enable" takes more than 2 seconds. Because, there are 1 second sleep after kill signal,  when stopping quotad service on commit_op phase. and then syncop commit_op on ot

[2021-01-21 04:12] chenglin130 commented on #2037
![image](https://user-images.githubusercontent.com/35245387/105279149-eb658400-5be1-11eb-8d8d-753166653a49.png)

[2021-01-21 05:15] itisravi commented on #2027
[code]
@opinionhuh  Is the gfid `dc092bd9-03b5-4ad5-b86e-be1e2c78e6a0` that of a file that was removed from the mount too? The statedump indicates the ACTIVE lock was held by a client having a process if of 32092. Perhaps you can check the old fuse logs? You might see something like `I [glusterfsd.c:2421:daemonize] 0-glusterfs: Pid of current running process is 32092`.  If you find such a log, che

[2021-01-21 05:22] pranithk commented on #833
What is your disk filesystem?

[2021-01-21 07:31] vh05 opened #2038 "shard_unlink() fails due to no space to create marker file"
When we hit the max capacity of the storage space, the shard_unlink() starts failing if there is no space left on the brick to create a marker file.

shard_unlink() happens in below steps:
1. create a marker file in the name of gfid of the base file under "$BRICK_PATH/.shard/.remove_me"
2. unlink the base file
3. shard_delete_shards() deletes the shards in background by picking the entries in  "$B

[2021-01-21 07:54] perrynzhou commented on #2029
@pranithk @xhernandez  i think we can create request queue for each io thread that can has own  request queue,so thist is no   significant lock contention in io-threads.we can create cpu cores of  io thread ,so  each thread can't create or destroy. that cost is low right?

[2021-01-21 07:55] #1294 closed

[2021-01-21 07:59] mohit84 commented on #2029
We have target this for next release.  We need to do regress testing to measure improvement if we do create a queue per worker thread.

[2021-01-21 08:08] perrynzhou commented on #2029
@mohit84  which version will release for that? glusterfs 9.1?

[2021-01-21 09:06] dmantipov opened #2039 "Do not allow POSIX IO backend switch when the volume is running"
- Changing 'storage.linux-aio' or 'storage.linux-io_uring' should be allowed only when the volume is stopped.
- Options 'storage.linux-aio' and 'storage.linux-io_uring' should be mutually exclusive.

[2021-01-21 09:10] mykaul opened #2040 "iobuf_get_from_stdalloc() should align to 4K, not 512b"
I think there's a hidden assumption that all iobufs can be, if large enough, aligned to 4K. But if for some reason you are taking it from standard memory allocation, it is 512b bytes aligned (although the comment says 4K!) -
https://github.com/gluster/glusterfs/blob/ca389d89f3393c05e93ff21db906f0ee73ac89d8/libglusterfs/src/iobuf.c#L503

https://github.com/gluster/glusterfs/blob/0bbad69fea9e1eff7f9

[2021-01-21 09:12] mykaul opened #2041 "iobuf_get_from_stdalloc() should malloc and not calloc"
There's no need to zero out the memory - if you get iobuf from regular allocation, it is not zero'ed.

[2021-01-21 09:15] mykaul commented on #2041
Simliar to @itisravi did in https://github.com/gluster/glusterfs/commit/8338d9a64229f79e04861944377909adbee56e00 (just without the memset which is not needed here)

[2021-01-21 09:30] itisravi commented on #2041
TODO: Check https://github.com/gluster/glusterfs/issues/2040 too.

[2021-01-21 09:32] mykaul commented on #1885
Untested code for the 1st item:
[code]

[2021-01-21 09:33] opinionhuh commented on #2027
@itisravi yes, that is the gfid of one of the removed files and as you pointed out, the PID 32092 belongs to the client fuse. I was unable to find anything relevant in the logs, could be that they got rolled over.
Worth mentioning is that I have not been able to reproduce this issue. I will continue to monitor the node, and update/close this issue soon.

[2021-01-21 12:29] zhudongmei opened #2042 "mount ipv6 gluster volume with serveral backup-volfile-servers,use ps cmd see volfile-server 's ip is not correct."
**Description of problem:**
mount ipv6 gluster volume with serveral backup-volfile-servers,use ps cmd see volfile-server 's ip is not correct.
try as follow：
[root@paas-controller-1:/home/ubuntu]$ mount -t glusterfs  -o backup-volfile-servers=**188::4:188::c:188::7** 188::7:test1 /home/ubuntu/mnt1
[root@paas-controller-1:/home/ubuntu]$ mount -t glusterfs  -o backup-volfile-servers=**"188::4":"188:

[2021-01-21 12:34] cbueche commented on #845
Eliv thanks for your approach. I took the easy way and wrote this patch that is very specific to my case (fix name for the device). It is probably possible to make it more generic/smart.

[code]

[2021-01-21 17:15] #1223 closed

[2021-01-21 18:45] #2033 closed, assigned to nobody

[2021-01-22 00:20] trinhpham commented on #833
The host was created from default Debian 10 template of DigitalOcean, so its FS is ext4.
I don't know if DO has done any tweaks to their VM template disk or not, guide me if I need to collect some command output @pranithk

[2021-01-22 01:03] perrynzhou commented on #2029
@mohit84  if create a queue per worker,i want to testing and provide test data.which version will release for that? glusterfs 9.1?

[2021-01-22 04:52] #1298 closed

[2021-01-22 06:40] mohit84 commented on #2029
Thank you for offering to test the patch, i will try to fix in 9.1

[2021-01-22 06:41] perrynzhou opened #2044 "what different between group nl-cache and group metadata-cache?"
@mohit84 @xhernandez @amarts @BarakSason @mohit84 @tshacked @csabahenk @pranithk  what is different between `group cache` and `group metadata-cache`? what did nl-cache do in glusterfs?

- info

[code]

[2021-01-22 07:07] zhudongmei commented on #2042
can gluster separate several ipv6 addr use [ ]?
for example:
mount -t glusterfs -o backup-volfile-servers=[188::4]:[188::c]:[188::7] 188::7:test1 /home/ubuntu/mnt1

[2021-01-22 07:21] #1028 closed

[2021-01-22 10:04] xhernandez commented on #2029
Yes, lock contention will be reduced, but jobs queued to one thread will only be served by that thread. This means that if a previous job requires intensive CPU use (like encoding/decoding in disperse) or blocks for some I/O, all other jobs will get unnecessarily delayed until the operation completes. This also makes priority management a lot more complex (if possible at all because a high priorit

[2021-01-22 12:24] #890 closed

[2021-01-22 12:24] #1299 closed

[2021-01-22 15:01] #1297 closed

[2021-01-23 01:53] n1nj4888 commented on #2028
Ok thanks! I can see the ubuntu v9 PPA has now been populated with releases for 16.04 xenial, 18.04 bionic and 20.10 groovy but, as yet, no 20.04 focal release - So I’ll wait until the focal release is built

[2021-01-23 07:55] zhangxyue opened #2049 "Glusterfs:mount operation hang"
**Description of problem:**
when I mount a volume which doesn't exsist, then the mount operation hangs.

**The exact command to reproduce the issue**:
mount -t glusterfs -o  ip:volume  mountpoint

**The full output of the command that failed**:
<details>

**Expected results:**
<details>
exit successfully

**Mandatory info:**
**- The output of the `gluster volume info` command**:

**- The output of

[2021-01-23 08:05] mahdiadnan commented on #2044
[root@rhgsnode1 ~]# cat /var/lib/glusterd/groups/nl-cache
features.cache-invalidation=on
features.cache-invalidation-timeout=600
performance.nl-cache=on
performance.nl-cache-timeout=600
network.inode-lru-limit=200000
[root@rhgsnode1 ~]#
[root@rhgsnode1 ~]#
[root@rhgsnode1 ~]# cat /var/lib/glusterd/groups/metadata-cache
features.cache-invalidation=on
features.cache-invalidation-timeout=600
performa

[2021-01-23 08:17] #1300 closed

[2021-01-23 09:22] pranithk commented on #2044
nl-cache is negative-lookup-cache. In some cases like untar command execution where it creates a lot of directories and immediately creates files, we know that the directory doesn't have any files, etc. In those cases lookups from fuse will get ENOENT without sending the fop over network to the bricks.

md-cache is metadata cache which is for caching +ve lookups. If an application access pattern d

[2021-01-23 09:22] #2044 closed, assigned to nobody

[2021-01-23 16:02] #855 closed

[2021-01-24 05:46] httaotao opened #2050 "where can I get some books about Glusterfs"
Hello everyone, I am studying the glusterfs system now. I find a book named "Gluster Filesystem- Practical Method" in Amazon. However, I don't have kindle, but I have laptop.   I don't know where I can get some books about Glusterfs. Does the offical team have plans to publish books ?  By the way, I am chinese , maybe I can translate it for Chinese. thanks.

[2021-01-24 14:03] mohit84 commented on #2029
@perrynzhou
Would it be possible for you to try this patch https://review.gluster.org/#/c/glusterfs/+/21039/ in your environment and let me know
if u are seeing any improvement in lock contention.

[2021-01-25 07:20] vh05 opened #2052 "Revert the commit 50e953e2450b5183988c12e87bdfbc997e0ad8a8"
In the case of shards,
Gluster divides the file into chunks of 64MB by default and stores each of them into a separate file on the backend.

For the shard files, we open/create a fd internally using `fd_anonymous() ==> fd_anonymous_with_flags()` which takes the `inode->lock()` and then does creation or any other operation related to fd including incrementing the refcount etc.

But with the patch,

[2021-01-25 07:37] mykaul commented on #2052
Aren't we just missing something like (within the lock)
[code]

(see https://review.gluster.org/#/c/glusterfs/+/22279/2/libglusterfs/src/fd.c )

[2021-01-25 08:16] vh05 commented on #2052
example, I am considering the difference between`fd_unref()` and` fd_anonymous() ==> fd_anonymous_with_flags()==> fd_allocate`.

Bot the functions do related operations under `inode->lock` except increment and decrement of ` fd->refcount` with this patch `50e953e2450b5183988c12e87bdfbc997e0ad8a8`.

[2021-01-25 08:19] vh05 commented on #1380
@itisravi @rkothiya Please check https://github.com/gluster/glusterfs/issues/2052

[2021-01-25 08:35] mykaul opened #2054 "cleanup call_stub_t from unused variables"
Several unused variables in that struct.
Removing it allows us to fit almost all members in a single cacheline.

We can then move away from mem pool to a regular calloc/gf_free allocation - to get rid of the access pattern frame->this->ctx->mempool

[2021-01-25 10:32] warmanton opened #2056 "PostgreSQL does not work on GlusterFS (but works on kNFS)"
**Description of problem:**
Trying to get persistent storage for docker swam. Testing on single node swarm + two nodes with Gluster server. Trying to deploy gitlab instance with thee bind mounts targeted on GlusterFS mount point. Volumes look like thes:

    volumes:
      - /mnt/g/gitlab/data:/var/opt/gitlab
      - /mnt/g/gitlab/logs:/var/log/gitlab
      - /mnt/g/gitlab/config:/etc/gitlab

Got

[2021-01-25 12:10] amarts commented on #1239
Missed updating this:

Remember answering this one earlier. But will add the details here again.

`trusted.` namespace for xattrs used in glusterfs was choosen so that we can make sure 'data' is written by the glusterfs process and no other users can modify that. (specially from the client side mount), also we wanted to make sure `user.` namespace is reserved for applications on top of glusterfs.

[2021-01-25 14:57] BarakSason opened #2058 "Null inode causes segfault during regression"
While running regression for patch https://github.com/gluster/glusterfs/pull/2051 a segfault occurred (https://build.gluster.org/job/gh_centos7-regression/717/console).
The cause seems to be a NULL indoe being passed to the method pl_inode_get.
A suggested fix is to test for NULL inode in the method pl_inode_get, however an investigation on why a NULL indoe was being passed in the first place is r

[2021-01-25 17:04] amarts commented on #2056
there are options for databases on glusterfs. Please turn off performance translators (`gluster volume set vol01 group db-workload`) and try.

[2021-01-26 00:23] #2052 closed, assigned to nobody

[2021-01-26 04:29] warmanton commented on #2056
Just tried the same installation with Your recommendation. Does not work. Now I see no that errors but postgres cannot start or restart. After that grafana failed to restart

B.t.w. where can I find a documentation about "group db-workload" and other groups ? Please give me some links.

Notes about gitlab in docker: this is a bundle of services i.e. about 10 services inside one gitlab container. T

[2021-01-26 07:28] mykaul commented on #1243
@VHariharmath-rh - you may want to look at this.

[2021-01-26 09:12] #2038 closed, assigned to nobody

[2021-01-26 11:11] vh05 commented on #1243
sure.  I will take a look

[2021-01-26 11:15] BarakSason commented on #1918
@xhernandez I discussed this with Tamar and there seems to be some confusion on our part regarding which component should handle this (for the following, we assume that a lookup on `./shard` will solve the problem, this however still needs to be verified).

The way I see it, the shard xlator should be notified that a `remove-brick stop` was issued,  and based on that information the shard xlator s

[2021-01-26 11:23] ggogel commented on #1113
@amarts @pranithk Is there any news on this?

[2021-01-26 12:03] itisravi opened #2063 "Provide autoconf option to enable/disable storage.linux-io_uring during compilation."
By default, if liburing is not present on the machine where gluster rpms are
being built, then the built rpm won't have the feature present in posix.so.
While this is obviously displayed in the ./configure's summary, it means the
feature won't work on a target machine where the rpm is installed, even if the
target has Linux kernel >=5.1 and liburing installed.

I think it is better to have a confi

[2021-01-26 12:41] perrynzhou opened #2065 "what's consider discarding data Tiered for glusterfs"
@mohit84 @xhernandez @amarts @BarakSason @mohit84 @tshacked @csabahenk @pranithk what's  consider discarding data Tiered for glusterfs. it seems necessary for dat tiered data feature on glusterfs

[2021-01-26 12:45] perrynzhou commented on #2029
@mohit84  i will try test that.thank you very much

[2021-01-26 15:48] tshacked commented on #1918
Besides the fix suggested here https://github.com/gluster/glusterfs/issues/1918#issuecomment-762421483
@xhernandez suggested the following approach which seems to be applicable if the index related only to decomposition op.
we can consider enabling this logic only for a shard volume, this can be by adding a new dht option that will exist/on in case volume is shard.

Xavi's suggestion:
[code]

[2021-01-26 16:11] rlaunch commented on #1273
Hello,

We're still seeing this issue on multiple clusters. The current fix is to rename the stale folder back to its original name then rename it again. Please could you advise if this has been fixed upstream?

[2021-01-26 17:18] xhernandez commented on #1918
A lookup doesn't solve the issue. It only reduces its race window. In fact the same problem exists for all directories, not only `/.shard`. I guess this currently "works" on non sharded volumes because md-cache doesn't really cache many things or for too long. When a good caching layer will be in place, many of the refresh lookups will disappear from lower xlators, so relying on lookups to fix the

[2021-01-26 17:24] xhernandez commented on #1918
I would like to avoid implementations that require a component (DHT in this case) to be aware of details outside of it. If we implement this mechanism, I would prefer to have it always active.

What's the problem of using this for all volume types ? this method causes a lookup the next time an operation requires the layout, but this is currently what we are relying on to prevent this issue (i.e. a

[2021-01-27 02:57] perrynzhou opened #2066 "glusterfs shd process repair replica 3 volume too slow"
@mohit84 @xhernandez @amarts @BarakSason @mohit84 @tshacked @csabahenk @pranithk  i found glusterfshd repair data too slow ,when one node of gluster cluster crash and restart. i already tuning max thread for glusterfshd to repair data. how to fixed it?

- gluster version

[code]
- gluster volume info

[code]
- gluster heal info

[code]

-  iotop for 172.16.84.42 node

[code]

[2021-01-27 04:05] pranithk commented on #2066
In gluster at the moment, when a directory is getting healed only one thread would operate. Only file heals are done in parallel. How many directories would you say you have? By default shd does heal in 128KB chunks. You can change that option too.

gluster volume set <volname> cluster.self-heal-window-size 8 #for 1MB chunks. You can set it to 32 for 4MB chunks etc The number will be multiplied wi

[2021-01-27 04:12] amarts commented on #2065
i guess there would be something on these lines (at least improving cloud-sync) in 2021. In every issue of asking for a feature, it would be great if you give more details on what is the exact usecases you are looking at, so we can give more clear answer.

[2021-01-27 05:17] itisravi commented on #1273
@rlaunch glusterfs 6.9 is really old and EOL'ed and you should try to re-create the issue at least on release-8 if possible. Having said that. a simple rename must not fail on any release. Things that you could debug:

1- When you rename from Windows the first time around, does it get reflected on the bricks? Can you access the renamed dir via a fuse mount? If you can, then could it be a caching i

[2021-01-27 05:47] pranithk opened #2067 "Change self-heal-window-size to 1MB by default"
At the moment self-heal-window-size is 128KB. This leads to healing data in 128KB chunks. With the growth of data and the avg file sizes nowadays, 1MB seems like a better default. issues like #2066 can benefit from such defaults.

Network call comparison with new and previous defaults.

[code]

[2021-01-27 06:26] perrynzhou commented on #2066
@pranithk  i change to 1024,but that still too slow

[code]

[2021-01-27 06:37] pranithk commented on #2066
@perrynzhou What is fsync latency in profile info?
After heal is completed, there will be an fsync

[2021-01-27 07:50] perrynzhou commented on #2066
@pranithk  i config cluster.shd-max-threads ,that still keep 1~2 io thread to heal. the rate for repair data still slow

[2021-01-27 07:59] xhernandez commented on #2067
I will send a similar patch for EC. I would use 4 MiB by default on EC because the most typical volume configuration is 4+2, which means that each brick would be using 1 MiB blocks. Is that ok ?

[2021-01-27 09:10] perrynzhou commented on #2065
@mohit84 @xhernandez @amarts @BarakSason @mohit84 @tshacked @csabahenk @pranithk  we has 3.5T ssd disk and 72T hdd disk on machine cluster. we want to build data tired for glusterfs,hot  volume build on nvme disk  can provide high read/write performance,cold volume  build on hdd disk  can just save data,but data can promote and demote between hot and cold volume.we has large scale data center buli

[2021-01-27 09:14] pranithk commented on #2066
@perrynzhou Configure:
[code]

This will remove rate-limiting for self-heal. If this also doesn't improve heal, then you have to check latency of fsyncs by checking profile info.

[2021-01-27 09:23] perrynzhou commented on #2066
@pranithk  thank you very much.that improved much after execute command `gluster volume set performance.enable-least-priority no`

[2021-01-27 09:39] pranithk commented on #2066
What is the performance difference?

[2021-01-27 09:41] pranithk commented on #2067
Sorry, should have done this for EC too. Let me check if such an option exists for rebalance also.

[2021-01-27 09:58] aure-olli opened #2070 ""fts_read failed: No such file or directory" in deep directory"
**Description of problem:**

Specific successive commands on a GlusterFS deep folder can cause `fts_read failed: No such file or directory` error.

I can reproduce this error on both glusterfs 7 and glusterfs 9.

**The exact command to reproduce the issue**:

[code]

The two last command ran separately work fine, but failed when ran directly one after the other.

This error happened when running t

[2021-01-27 09:59] perrynzhou commented on #2066
@pranithk  how performance.enable-least-priority works? the rate is 899KB write to disk. before tuning performance.enable-least-priority,but tht rate is 30MB ~100MB/s write to disk after  execute `gluster volume set performance.enable-least-priority no`

[2021-01-27 10:12] pranithk commented on #2066
@perrynzhou Check iot_schedule() function in xlators/performance/io-threads/src/io-threads.c
only 1 thread is allocated for least-priority

[2021-01-27 10:21] pranithk commented on #2067
Rebalance already has this set to 1MB, so we should be fine.
#define DHT_REBALANCE_BLKSIZE 1048576 /* 1 MB */

@xhernandez Go ahead and send the patch for EC. I think that should make things better.

[2021-01-27 10:24] pranithk commented on #2066
@xhernandez @aspandey @amarts @itisravi @mohit84
I think we need to change rate-limiting in io-threads along with the thread-count. Before we attempt this, want to understand what is the future of io-threads. Are we going ahead with thread-pool implementation by Xavi for future or keeping this as is?

[2021-01-27 11:03] itisravi commented on #2066
@pranithk  For rate-limiting, we could perhaps revisit adding a separate token bucket filtering xlator?

[2021-01-27 11:34] #1305 closed

[2021-01-27 12:37] perrynzhou opened #2072 "mount failed becase two node of three node crash on replica 3 volume"
@mohit84 @xhernandez @amarts @BarakSason @mohit84 @tshacked @csabahenk @pranithk  after two of three node crash,mount failed on replica 3 volume .but i think if one of three gluster node is active,that should let client mount success, is right? i want to mount success ,even through two of three nodes crash,just one node is alive because we build replica 3 volume.
- volume info

[code]
- pool list

[2021-01-27 12:37] perrynzhou commented on #2072
- mount logs
[code]

[2021-01-27 12:38] perrynzhou commented on #2072
- mount logs for client
[code]

[2021-01-27 12:54] pranithk commented on #2072
Mount succeeds only when lookup succeeds. Lookup fails on plain replica if quorum is not met. So it is working as expected. This behavior is decided because the only replica that is available could have stale/bad data, there is no way to tell.

[2021-01-27 12:54] #2072 closed, assigned to nobody

[2021-01-27 14:03] duduhandelman commented on #2018
Hi Mohit.
Are you able to find something in the logs?
Thanks
David

[2021-01-27 15:30] dmantipov commented on #1345
Closing.

[2021-01-27 15:30] #1345 closed

[2021-01-27 19:53] #1126 closed

[2021-01-27 19:53] #1308 closed

[2021-01-27 19:53] #1309 closed

[2021-01-27 21:13] tshacked commented on #1918
If im not wrong, LOOKUP (when md-cache timeout expired) is the method used by dht to keep client layout in sync with disk layout.
And because lookup isn't issued on the fly for `.shard/` (only once by shard xlator to check if exists before creation) we"ll need to test the global-layout-version against layout-version for considering lookup before each operation.

A few doubts:
1) do we want to avoi

[2021-01-28 07:41] perrynzhou commented on #2066
@pranithk  i found when i execute `gluster volume heal rep-vol full`,  how works for glusterfs shd ?is any document to describe that? i found glusterfs shd collected a batch data that need to heal and do heal, is right?how to set debug log level for glusterfs shd?

[2021-01-28 07:45] pranithk commented on #2066
This is not related to this issue. Please open a Discussions thread.

[2021-01-28 07:56] dshmyz commented on #1437
same err in glusterfs 7.8

[2021-01-28 08:10] perrynzhou opened #2073 "Discussions io thread for glusterfs shd process"
@mohit84 @xhernandez @amarts @BarakSason @mohit84 @tshacked @csabahenk @pranithk i found when i execute gluster volume heal rep-vol full, how works for glusterfs shd ?is any document to describe that? i found glusterfs shd collected a batch data that need to heal and do heal, is right?how to set debug log level for glusterfs shd?

- volume info

[code]
- heal info
[code]

[2021-01-28 08:22] mykaul commented on #2073
Closing this in favor of a discussion - https://github.com/gluster/glusterfs/discussions/2074

[2021-01-28 08:22] #2073 closed, assigned to nobody

[2021-01-28 09:03] xhernandez commented on #2066
My idea is to replace the io-threads pool with a global thread pool. However the first attempt (already present in the latest version) didn't provide better performance in all cases (some cases did improve and some did degrade). Given that it caused regressions, it was not enabled by default. Maybe we could do some more tests to identify where the problem is (I wasn't able to identify it at that t

[2021-01-28 09:46] xhernandez commented on #1918
The md-cache timeout can be configured to any value. If instead of 1 second it's set to 10 seconds, then we have a 10 second race window where new files can be created in the wrong subvolume. A new mount could try to find those files in the right subvolume, but they won't be present, returning an error, which is not correct.

So this is not only a problem related to shard xlator it's a generic pro

[2021-01-28 10:46] resposit commented on #906
Hi,
I have a similar problem. In my setup I have 3 clients (box01, box02, box03) mounting the same data folder (via gluster fuse native client), located on a  Distributed-Disperse gluster volume managed by 5 servers (cloud10-gl, cloud11-gl, cloud12-gl, cloud13-gl, cloud14-gl). Gluster version is 6.10 everywhere - both client and server side.
It happens sometimes that dirs/files written by a client

[2021-01-28 11:02] #1312 closed

[2021-01-28 11:18] mykaul commented on #410
One more item - looks to me like the path to perform standard allocation can be taken out of the mutex lock. It can also probably be simplified - we go to great lengths to 'mimic' the regular iobuf allocation - not sure it's really needed (as I assume it's a rare use case!)

[2021-01-28 15:11] dmantipov opened #2075 "Annotate synctasks with valgrind API if --enable-valgrind[=memcheck,drd] is requested"
This is the valgrind-aware version of https://github.com/gluster/glusterfs/issues/1400.

[2021-01-28 16:48] #1313 closed

[2021-01-28 18:20] amehub opened #2077 "health-check failed, going down"
**Description of problem:**
Gluster volume daemons are being killed.

**The exact command to reproduce the issue**:
Difficult to reproduce.  It just happened..

**The full output of the command that failed**:

no command failed.  just see SIGTERM in /var/log/syslog

Jan 28 08:37:26 <redacted hostname> var-lib-heketi-mounts-vg_424a932ea6221fcd6a0b3c871603ef60-brick_4841ce187ffe4ae10c1f2174cd294f60-

[2021-01-28 22:52] gustafssone commented on #1213
Hi @andi448 . I'm curious, I got to the same step where the command that failed. How did you overwrite "/usr/lib/arm-linux-gnueabihf/libgfapi.so.0.0.0" ? How did you do it?
And where did you find the configuration files that you mention?
Thanks in advance!

[2021-01-28 23:32] pranithk commented on #2077
This happens when the disk is unhealthy. You should check brick logs for more information

[2021-01-29 07:51] Shwetha-Acharya opened #2078 "CLI prompt of geo-rep config "ignore-deletes" for option "1" should appear similar to the option "true""
The prompt appears when the config ignore-deletes option is true:
# gluster volume geo-replication master-testvol 10.70.46.35::testvol config ignore-deletes true
There exists ~15 seconds delay for the option to take effect from stime of the corresponding brick. Please check the log for the time, the option is effective. Proceed (y/n) y
geo-replication config updated successfully

But the same prom

[2021-01-29 13:25] schaffung opened #2080 "Glustereventsd default port"
**Description of problem:** When SElinux is enabled, the glustereventsd doesn't work properly unless and until the port is changed to something in the ephemeral range.

**The exact command to reproduce the issue**:
1. Set selinux to enforcing mode.
2. start the glustereventsd service.
3. Check the audit logs.

**The full output of the command that failed**:
<details>

The audit.log throws the foll

[2021-01-29 14:36] paladox opened #2082 "0-xlator: dlsym missing: undefined symbol: xlator_api"
**Description of problem:**
I'm seeing this:

[code]

**Mandatory info:**
**- The output of the `gluster volume info` command**:

[code]

**- The output of the `gluster volume status` command**:
[code]

**- The output of the `gluster volume heal` command**:

**- Provide logs present on following locations of client and server nodes -
/var/log/glusterfs/

**- Is there any crash ? Provide the backtr

[2021-01-29 15:15] #1319 closed

[2021-01-29 16:42] amarts commented on #1918
:clap:

[2021-01-30 09:03] #990 closed

[2021-01-30 14:52] fxwgr commented on #1213
@gustafssone I built the .deb package on a new Raspbian image and when you install this package on your problematic Pi, it asks you if you want to overwrite those files and I said yes.

[2021-01-30 20:50] #1321 closed

[2021-01-31 07:55] mykaul commented on #410
More thoughts after spending some time with the code: I'm not sure there's a need for 'filled' or 'purge' lists.
- 'filled' - it's not worth keeping it in a separate list. It's a single 'if' statement to see if it's filled or not, and there's no point in moving it in and out of the active list - the active list is never long.
- 'purge' - it's not a good idea. We gain memory back - that we are most

[2021-01-31 09:36] mykaul opened #2083 "GD_MSG_DICT_GET_FAILED should not include 'errno' but 'ret'"
'errno' is not set by any dictionary functions, so 'errno' that is displayed in the error message is whatever it was set previously.
Example:
[code]

However, in the code, it's clear that errno is from the previous function:
[code]

[2021-01-31 11:57] mohit84 opened #2084 "socket: Reduce lock contention in socket code path"
We have a lock contention at the time of submit/reply a message on a socket.I think to send/receive a message no need to take a lock on rpc object.

[2021-02-01 01:34] warmanton commented on #2056
B.t.w. steps to reproduce the issue:
[code]
  where `/mnt/n/` is a mount point for GlusterFS. gitlab version may differ. It failed on postgresql which is inside of gitlab.

[2021-02-01 04:47] Shwetha-Acharya opened #2086 "Move tests/00-geo-rep/00-georep-verify-non-root-setup.t to tests/000-flaky/"
Spurious failures of tests/00-geo-rep/00-georep-verify-non-root-setup.t seen only on build machines.
These failures are not reproducible even on softserve / centos / fedora machines.

So, the test 00-georep-verify-non-root-setup.t should be moved to  tests/000-flaky/ untill the issue is RCAd at build machines.

[2021-02-01 05:38] #2086 closed, assigned to nobody

[2021-02-01 10:17] Vanav commented on #1766
v7 is EOL on 11-Dec-2020. Is this fixed in v8 or v9?

[2021-02-01 10:33] xhernandez commented on #2084
Do you have some numbers about this lock contention ?

[2021-02-01 10:49] casasfernando commented on #1766
It is fixed in v9. I upgrade from v8 to v9 last week and the problem is gone.
I had to recreate the geo-reps geo with `delete reset-sync-time` tough but didn't have any further problems afterwards.

Currently running Gluster 9.0 on Debian 10 (Buster) using gluster packages from Debian 11 (Bullseye/testing).

[2021-02-01 10:55] mykaul commented on #2084
I do see it on perf tree, along with iobuf and fd_ctx_get (I think, don't remember) when I look at pthread_mutex_lock() tree. I can probably paste the graph.

[2021-02-01 10:57] mykaul commented on #705
Still think the code to save the stack should be under #ifdef of debug and it's an easy win. Specifically, this part:
[code]

(From glusterd_mgmt_v3_lock() function)

[2021-02-01 11:31] mohit84 commented on #2084
I executed on my laptop it was improving but as we know we can't rely on local system data .Currently the patch is not complete so i will try to generate the numbers on beaker machine.

[2021-02-01 11:37] xhernandez commented on #2084
Ok, thanks :)

[2021-02-01 11:40] mykaul commented on #2084
[code]

[2021-02-01 11:41] mykaul commented on #2084
Perhaps this is the one we are interested here:
[code]

[2021-02-01 11:55] mohit84 commented on #2084
I think cpu usage should be depend on number of poller threads and reader_thread.After increase more number of poller thread we get some improvement but after increase of fuse reader thread we are not getting any improvement.I want to analyze improvement in case of increase fuse_reader_thread with this change.

[2021-02-01 12:19] resposit commented on #906
It just happened again. This time, from box02 I can see some broken directories:
[code]
From box01 and box03 the directory is perfectly fine:
[code]
On box02 I can see from log files:
[code]
And on cloud10-gl (one of the gluster servers) I see:
[code]
I can't find anything else concerning uuid bf82eeb6-4ee9-4a4e-8f75-c917f83a4ce5  on the other servers log files.
Any help would be really appreciate

[2021-02-01 13:03] cesarjorgemartinez opened #2089 "In structure .glusterfs I have Too many levels of symbolic links"
**Description of problem:**
In structure .glusterfs I have Too many levels of symbolic links

[code]

The glusterfsd daemon is spent all time and CPU in try to resolve links and it is stuck

**The exact command to reproduce the issue**:
[code]

**The full output of the command that failed**:
strace of glusterfsd:

[code]

**Expected results:**
No glusterfs stuck and CPU consumption go to normal us

[2021-02-01 13:07] pranithk commented on #2089
@cesarjorgemartinez What is your directory depth?

[2021-02-01 13:57] cesarjorgemartinez commented on #2089
From the mount point of gluster /var/lib/disk/fileserver, 16 levels

[2021-02-01 15:42] mscherer opened #2093 "Test suite show warning 'Is a directory'"
**Description of problem:**

Test suite display a warning about "is a folder". See for example
https://build.gluster.org/view/Github%20jobs/job/gh_centos7-regression/754/console

[code]

[2021-02-02 01:22] d0x2f opened #2094 "Steadily increasing memory usage of the glusterd process"
**Description of problem:**

I'm facing a memory problem with the glusterd process, it continually increases memory usage up to 6GB+ at which point something is OOM killed.
It takes a while for it to get to such usage, maybe 1 or 2 months.

There are 4 volumes with 3/4 bricks each, all replicated among 3 nodes.

I have a dozen or so identical gluster clusters exhibiting the same behaviour.

**The

[2021-02-02 05:06] mohit84 commented on #2094
Can you please share the statedump of glusterd process at the time while glusterd is consuming high memory?
Have you observed any specific scenario while glusterd is increasing memory leak?

[2021-02-02 05:37] d0x2f commented on #2094
I would consider it's current memory usage to be high (3GB), or is that in the expected range?
Perhaps I have high expectations and the machines simply don't have enough memory to run gluster in this configuration?

When the process is restarted it begins at around 500MB.
I'll get a statedump for when the usage is as high as I'll let it get (these are production clusters), however this wont be for

[2021-02-02 05:40] d0x2f commented on #2094
Sorry I didn't realise there was a process wide state dump available, here it is

[glusterd_state_20210202_053823.txt](https://github.com/gluster/glusterfs/files/5908918/glusterd_state_20210202_053823.txt)

Thanks for your help.

[2021-02-02 05:42] mohit84 commented on #2094
The memory usage(3gb) is high, please do share /var/log/glusterfs/ directory dump from all the nodes, you can ignore shd/heal logs at the time of sharing the dump. I am interested for statedump, to generate the statedump you can send a SIGUSR1 signal to the glusterd process, it will automatically generate a statedump in /var/run/gluster(default) or configured statedump location.

[2021-02-02 05:48] d0x2f commented on #2094
I see, thanks for the instructions, here's the statedump file.

[glusterd statedump.txt](https://github.com/gluster/glusterfs/files/5908953/glusterd.statedump.txt)

I'll gather the rest of those logs for you shortly.

[2021-02-02 06:11] d0x2f commented on #2094
Logs from all 3 glusterd nodes:

[glusterd-logs-all-nodes.zip](https://github.com/gluster/glusterfs/files/5909056/glusterd-logs-all-nodes.zip)

[2021-02-02 09:44] #1325 closed

[2021-02-02 10:00] mykaul opened #2096 "iobuf_arena structure doesn't need passive and active iobufs, but lists"
We hold two iobufs in ever iobuf_arena structure, for no reason - we only use their list variable.

[2021-02-02 10:46] xhernandez commented on #2089
@cesarjorgemartinez Gluster has internal code to deal with this error. Unless you see some error from the client side, this is not a problem.

Running `find` directly on the bricks may fail because of too many symbolic links. It's expected.

What do you mean when you say that glusterfsd is "stuck" ?

Can you upload the full strace of glusterfsd (if possible with arguments `strace -CfqqtttTyo <outf

[2021-02-02 11:37] cesarjorgemartinez commented on #2089
Hi, stuck, the 4 CPUs always at 100%, and the strace is print (at 99%), the too many symbolic links. And the user (one), experiment very long delay when manipulate files, until stop operation)

The file contains sensitive info and in great. The statistics:

[code]

[2021-02-02 12:24] jronnblom commented on #1990
Any updates on this?

[2021-02-02 12:24] nishith-vihar opened #2099 "'force' option does not work in the replicated volume snapshot creation."
**Description of problem:**
The 'force' option in the snapshot command does not create a snapshot for a replicated volume even if the quorum is met. It requires all the bricks to be up for creating a snapshot.

**The exact command to reproduce the issue**:
1. Create a X3 volume (1X3 or 2X3) and start it.
2. Kill one brick of the volume.
3. Create a snapshot of the volume using force option:
 glust

[2021-02-02 13:46] mohit84 commented on #2094
Hi,

After checked the statedump it seems there is a dict leak in glusterd thats' why it is showing
high memory consumption, as we can see it showing total memory consumption for dictionary is
almost 900M. After checked the cmd_history logs i have found in less than 1 sec frequency
the commands "volume status all detail and volume status" are running.

pool-name=data_t
active-count=3326092
sizeof-

[2021-02-02 22:38] d0x2f commented on #2094
Great find! Yes you're right we have a gluster exporter frequently collecting metrics for prometheus (https://github.com/gluster/gluster-prometheus).

I'll disable it and report back with the changes to memory usage behaviour.

[2021-02-02 22:59] paladox opened #2100 "Deleting files with sharding on doesn't appear to remove the sharding objects"
**Description of problem:**
I'm not entirely sure if what I'm reporting is a bug or expected behaviour.

I noticed that when I created a large file (100gb) and then removed it, the file storage was still showing that the space was filled up (this being on the actual host with df -h not the mount).

Sharding must be switched on.

**The exact command to reproduce the issue**:
well I did:

fallocate

[2021-02-03 02:18] vh05 commented on #2100
Hi,

Could please provide the
1. gluster client logs from where you tried to delete the file?
2. space used and space free information on the BRICKS_PATH. Whether any bricks have gone out of storage space?
3. any files present under `$BRICKS_PATH/.shard/.remove_me` ?
4. Do check the files under `$BRICKS_PATH/.shard/.remove_me` are the same whose shards are not deleted under `$BRICKS_PATH/.shard/`.

[2021-02-03 05:19] Shwetha-Acharya opened #2101 "Move 00-georep-verify-non-root-setup.t back to tests/00-geo-rep/"
00-georep-verify-non-root-setup.t should be moved back to tests/00-geo-rep/ from the flaky tests directory as the recent failures encountered on the stated test case were not linked to test instead they were linked to the build environment.

[2021-02-03 05:55] #2101 closed, assigned to nobody

[2021-02-03 07:01] rvanza opened #2103 "call and voicemail recording files are cut at end part of file"
**Description of problem:**
The call and voicemail recording files are some end of part cut while we are using glusterfs in production environments. The same thing is working currently using NFS.

We are using glusterfs server 1 and glusterfs server 2 and set the replication in between them. The mentioned below commands output in replace server ip address with glusterfs server 1 and glusterfs serv

[2021-02-03 07:05] pranithk commented on #2103
@rvanza You probably need open-close consistency. Could you try the usecase by setting:

[code]

[2021-02-03 07:07] rvanza commented on #2103
Can you please guide me details of this command?

# gluster volume set <volname> performance.flush-behind off

[2021-02-03 07:11] #1330 closed

[2021-02-03 07:18] rvanza commented on #2103
Is this command resolve my reported call and voicemail recording end part cutting issue?

gluster volume set performance.flush-behind off

I have found description of above command setting:

Default value : ON

If this option is set ON, instructs write-behind translator to perform flush in background, by returning success (or any errors, if any of previous writes were failed) to application even b

[2021-02-03 07:26] mykaul commented on #2103
Do note that glusterfs 6.5 is a bit old - I recommend upgrading to the latest 7.x at least.

[2021-02-03 07:30] rvanza commented on #2103
How to resolve the reported issue in glusterfs 6.5 version?

[2021-02-03 07:33] pranithk commented on #2103
@rvanza When a file is written, it will be in client's cache. Only when the file is closed, the data is flushed to the servers. flush-behind option which is by default ON will lead to flushing this cache in the background. So if you write to a file from one mount and read the file from another mount quickly, then you may not get all the data. To fix this issue, flush-behind option should be turned

[2021-02-03 09:05] pranithk commented on #1529
Opening for release-8 backport. This change needed quite a few changes. For backport we don't immediately need all of the other patches. For now I will only backport the essential changes.

[2021-02-03 09:29] perrynzhou opened #2106 "it's too slow for glusterfs metadata operation"
@mohit84 @xhernandez @amarts @BarakSason @mohit84 @tshacked @csabahenk @pranithk  when we execute `ls` or `du` on many files(50000000 files),that is too slow.i think we should to improved performance for operation  metadata.that's too import.

[2021-02-03 09:34] pranithk opened #2107 "mount crashes when setfattr -n distribute.fix.layout -v "yes" is executed on non-directory"
Steps to recreate the issue:
[code]

Backtrace
[code]

At the moment code assumes that the xattr is executed on directory always because only rebalance process uses it and it does the right thing. Since it has always been exposed, one can execute this on a file by mistake leading to crash.

[2021-02-03 09:44] pranithk commented on #2106
Even if the operation takes a millisecond on each file, it will take 50000 seconds. Which is 13.88 hours. When you say it is too slow, do you have any numbers which indicate what exactly you are expecting vs the existing performance?

[2021-02-03 10:01] perrynzhou commented on #2106
@pranithk  are you sure for `Even if the operation takes a millisecond on each file`?how to compute time for this metadata operation?

[2021-02-03 10:15] pranithk commented on #2106
Because the operation takes a network round trip, I took it to be 1ms

[2021-02-03 10:45] xhernandez commented on #2089
Based on the statistics from strace, there are many `lstat` and `readlink` operations that are used when accessing those long chains of symbolic links. They could be related with many lookups, but  they don't represent a significant amount of time compared to `futex`. This operation is the core of the synchronization operations in linux, so the CPU usage could be caused by high lock contention.

W

[2021-02-03 11:34] #1358 closed

[2021-02-03 12:11] #1133 closed

[2021-02-03 13:24] pranithk commented on #2067
porting to release-8

[2021-02-03 16:02] #2107 closed, assigned to pranithk

[2021-02-03 16:55] renlei4 opened #2116 "enable quota for multiple volumes take more time"
**Description of problem:**
normally，enable quota for only 1 volume takes about 0.3s
but if try to enable quota for multiple volumes, each volume will take more time than 1 volume.
I tried enable quota for 10 volumes, it will take about 2.5s for each volume.

**The exact command to reproduce the issue**:
for i in {1..10}
do
  START=`date +%s%N`
  gluster volume quota vol${i} enable
  END=`date +%s

[2021-02-03 18:29] #1266 closed

[2021-02-04 08:39] #1992 closed, assigned to tshacked

[2021-02-04 08:45] tshacked commented on #1422
feature reverted.

[2021-02-04 08:45] #1422 closed

[2021-02-04 09:28] #1314 closed

[2021-02-04 13:02] #2093 closed, assigned to nobody

[2021-02-04 14:55] #1334 closed

[2021-02-04 14:55] #1336 closed

[2021-02-04 16:51] cesarjorgemartinez commented on #2089
Hi,

I will try this performance.io-thread-count, 32 try to 16 instead, or 8.

I have three servers with 4 CPUs.

The profile I has disabled:
[code]

But, before these tests, I try the following and I confused:

I remove all files from gluster:
[code]

Then:
[code]

But (I have many small files and directories, and links, PHP sw):
[code]

Howto remove safely the .glusterfs data remain?

[2021-02-04 23:41] perrynzhou commented on #2106
@pranithk  but i think that need a metadata server for glusterfs.

[2021-02-05 01:23] pranithk commented on #2106
Sorry didn't understand this part. What will be stored in metadata server? Wouldn't it still need to find du for each of the files?

[2021-02-05 03:20] perrynzhou commented on #2106
@pranithk  i means we need high performance module for glusterfs metadata operation.because we has many metadata operation for glusterfs volume,that too slow in practice.

[2021-02-05 03:56] #1943 closed, assigned to nobody

[2021-02-05 04:56] pranithk commented on #2106
@perrynzhou I understand. Do you have any solutions for this?

[2021-02-05 05:58] zhangxianwei8 opened #2117 "Concurrent quota enable causes glusterd deadlock"
**Description of problem:**
Concurrent quota enable lead to a deadlock which lead to glusterd becoming unresponsive.

**The exact command to reproduce the issue**:
1.Create 5 Three-way Replicated Volumes:
ids="d84c732f-224a-4921-b060-30dd853e5eb8
	 da203350-fbad-4e45-bf9a-6e6a33c850ab
	 de603ef9-f10c-4b16-bb0d-2a4ac796c19d
	 ef94a27d-617b-4690-a41c-e54a6328ba85
	 fcaeca96-2bca-4595-9589-39314c0215

[2021-02-05 06:38] msaju commented on #1465
Release 9.0 has been completed.

[2021-02-05 06:38] #1465 closed

[2021-02-05 06:56] msaju opened #2119 "Gluster 10.0 - release roadmap"
Inviting suggestions(enhancements/improvements) from all contributors for the Gluster 10.0 release
to be scheduled for Aug~Sept 2021.

Already have a list from kadalu.io #2069

All are welcome for joint contributions.

Please do add your list below.

[2021-02-05 07:29] amarts commented on #2119
good to move to 'discussions'?

[2021-02-05 08:02] perrynzhou opened #2120 "change to an option for time to check storage.reserve"
@mohit84 @xhernandez @amarts @BarakSason @mohit84 @tshacked @csabahenk @pranithk   when we execute `gluster volume set test storage.reserve 90` command,i found i can write more than 200MB for short time.it's  easy to reach limit. that should set interval  to 1 second or that can be setting from a range.

## volume info

[code]

## test case

[code]
##  interval = 5 is too long.that need to change

[2021-02-05 08:04] perrynzhou commented on #2106
@pranithk  i think we can develop a one module such gluster-metadata server for all operation metadata operation.if do that,glusterfs is best .

[2021-02-05 08:14] pranithk commented on #2120
@perrynzhou Do you want to send a patch that will change this to an option? By default it will be 5 seconds. On your deployment you can set it as 1 second.

[2021-02-05 08:24] perrynzhou commented on #2119
@msaju  great

[2021-02-05 08:29] perrynzhou commented on #2120
@pranithk  yes.i will provide a path later.is add option called `storage.reserve-check-timeout`?

[2021-02-05 09:11] #2119 closed, assigned to nobody

[2021-02-05 09:22] zhangxyue commented on #2049
.

[2021-02-05 09:36] #1304 closed

[2021-02-05 11:05] pranithk commented on #2120
@perrynzhou This seems like an interval based on the variable names and how it works. How about `storage.reserve-check-interval`

[2021-02-05 11:05] pranithk commented on #2106
I understand. I am wondering if you have any design for how exactly to implement this.
One thing I can think of is Xavi's idea of creating directories as files with all the metadata etc.

[2021-02-05 17:44] #1252 closed

[2021-02-06 00:29] perrynzhou commented on #2120
@pranithk  ok

[2021-02-06 00:30] perrynzhou commented on #2106
@pranithk  can you provide a url link for  Xavi's idea ?

[2021-02-06 00:36] pranithk commented on #2106
@xhernandez Do you have anything written about this?

[2021-02-06 00:50] #2116 closed, assigned to nobody

[2021-02-06 03:52] perrynzhou commented on #2120
@pranithk  i already fixed that.but when i run rfc happen errors

[code]

[2021-02-06 04:37] pranithk commented on #2120
@perrynzhou Could you paste `git show --stat` output?

[2021-02-06 04:50] perrynzhou commented on #2120
@pranithk  output for  `git show --stat`

[code]

[2021-02-06 05:05] pranithk commented on #2120
@perrynzhou I think something is off with your git remote.
Could you paste output of `git remote -v`

[2021-02-06 05:11] perrynzhou commented on #2120
@pranithk  output for ` git remote -v`

[code]

[2021-02-06 05:25] pranithk commented on #2120
@perrynzhou
I think you should update your git upstreams. For example, here is my updated remotes after the project moved to github

[code]
Following document has details:
https://github.com/gluster/glusterfs/blob/devel/CONTRIBUTING.md

[2021-02-06 05:32] perrynzhou commented on #2120
@pranithk   after i execute ` git fetch upstream`,should i checkout from glusterfs tag?  and then begin commit a pr?

[code]

[2021-02-06 05:53] pranithk commented on #2120
you can add ssh keys using: https://docs.github.com/en/github/authenticating-to-github/adding-a-new-ssh-key-to-your-github-account

[2021-02-06 05:55] pranithk commented on #2120
Port the patch you want to send as pull request to this new github repo and do ./rfc.sh

[2021-02-06 05:57] perrynzhou commented on #2120
@pranithk  need i do  ` git rebase upstream/devel` after execute `git fetch upstream`?

[code]

[2021-02-06 06:00] pranithk commented on #2120
Yes. ./rfc.sh also does it automatically. Please fix the conflicts and send the patch.

[2021-02-06 06:03] perrynzhou commented on #2120
@pranithk  i can issue a patch after i execute `git fetch upstream` and `git rebase upstream/devel`,when i finish, execute `rfc.sh` do all things include conflicts automatically? is right?

[2021-02-06 06:12] perrynzhou commented on #2120
@pranithk  is need i checkout new branch (perryn/dev) change source  and   commit a pr?

[code]

[2021-02-06 06:24] pranithk commented on #2120
@perrynzhou yes

[2021-02-06 06:24] perrynzhou commented on #2120
@pranithk  thank you very much.

[2021-02-06 06:25] pranithk commented on #2120
do
[code]

[2021-02-06 07:29] perrynzhou commented on #2120
@pranithk  i finish to make changes  and test on local.that work well.`storage.reserve-check-interval`  min value is 1 second.PR already commit.
- where can i view that PR?
- how link with this issue?
- what can i do next?

[code]

- changes

[code]

[2021-02-06 08:05] pranithk commented on #2120
@perrynzhou This should create a branch in your github repo. But I don't see it in your repo. Could you post your `git remove -v` output and also `git fetch && git branch -a`

[2021-02-06 08:08] perrynzhou commented on #2120
@pranithk

[code]

[2021-02-06 08:37] perrynzhou commented on #2120
@pranithk  please review code,if not need to change any more,i can commit pr.

[2021-02-06 08:41] pranithk commented on #2120
@perrynzhou You need to submit the PR. only then a review can happen and regression can run.

[2021-02-06 08:45] perrynzhou commented on #2120
@pranithk  submmit,please review all

[2021-02-06 08:58] pranithk commented on #2120
It is weekend, so a holiday. Expect reviews in the next week. I did first round of review. Mostly next set of reviews will happen maybe from Monday.

[2021-02-06 11:06] trinhpham commented on #833
Hi @pranithk ,
Could you please response on this?
Anw, I think we should reopen this issue, since it still happens and no fix has been made yet.

[2021-02-06 11:29] pranithk commented on #833
@trinhpham Sorry, lost track of this. Could you take any one of the directories that show 1.4G and do `du -sh *` again? ext4 doesn't have the capability to shrink size of the directory when files are deleted. I am suspecting it to be that issue.

[2021-02-06 17:30] xhernandez opened #2123 "Implement an I/O framework"
A new framework will be implemented to abstract I/O operations so that we can easily use the existing synchronous I/O or a new infrastructure based on io_uring (or even other future implementations) in a transparent way (once the framework is used).

[2021-02-07 02:21] perrynzhou opened #2128 "glusterfsd cumsumed too much cpu"
@mohit84 @xhernandez @amarts @BarakSason @mohit84 @tshacked @csabahenk @pranithk i build glusterfs dht volume on ssd.when i test with fio,i found  _raw_spin_unlock_irqrestore consumed too much.it's not normal
- gluster version

[code]

- volume info

[code]

- fio test

[code]

- perf info

[code]

- top

[code]

[2021-02-07 02:59] pranithk commented on #2128
@perrynzhou I think you need to attach the expanded form of the data so that we can find which function are leading to the CPU usage

[2021-02-07 05:45] perrynzhou commented on #2128
@pranithk  i get perf data and analyze data,the result such as

[code]

[2021-02-07 08:49] mykaul opened #2129 "CID 1445996 Null pointer dereferences (FORWARD_NULL) /xlators/mgmt/glusterd/src/glusterd-volgen.c: 2828 in validate_user_xlator_position()"
I think it was introduced in https://github.com/gluster/glusterfs/commit/ea86b664f3b1f54901ce1b7d7fba7d80456f2089 :

New defect(s) Reported-by: Coverity Scan
Showing 1 of 1 defect(s)

[code]

[2021-02-07 09:30] casasfernando commented on #1766
I may have rush myself in saying that I didn't have any further problems after upgrading to v9.

The "getxattr failed" + "dht.subvol.status  [Operation not supported]" error is indeed gone but now I discovered that if I stop the geo-replication and then restart it again, it will go into Faulty state after a Changelog History Crawl failure.

I opened a new issue in case is unrelated: https://github

[2021-02-07 11:46] mykaul commented on #2128
I think it'd be easier if you run 'perf' with '--all-user' to just capture the Gluster stuff.
I usually use the following:
[code]

I'm very surprised not to see in your perf data the pthread_mutex_lock/unlock functions which I usually see!

[2021-02-07 11:50] mykaul opened #2130 "stack.h/c: remove unused variable and reorder struct"
- Removed unused ref_count variable
- Reordered the struct to get related variables closer together.
- Changed 'complete' from a '_Bool' to a 'int32_t'

Before:
[code]

After:
[code]

[2021-02-07 13:09] casasfernando opened #2133 "Changelog History Crawl failed after resuming stopped geo-replication in Gluster v9.0"
**Description of problem:**
If geo-replication is stopped and then resumed it's going into Faulty state after Changelog History Crawl failure.
The only way to recover is to recreate geo-replication from scratch using `delete reset-sync-time` when deleting the existent one. Then geo-replication will run fine again (after a full resync of the volume) as long as it's not stopped for any reason (serve

[2021-02-08 00:37] perrynzhou commented on #2120
@pranithk  alread make changes,please review that

[2021-02-08 00:40] perrynzhou commented on #2117
@zhangxianwei8  may you interested in participating in the glusterfs Chinese community？i build a qq group(QQ群号:672152841) for discussion and analysis glusterfs.

[2021-02-08 01:06] pranithk opened #2134 "Fix spurious failures caused by change in profile info duration to nano seconds"
profile info now prints duration in nano seconds. This will lead to problems in tests which expect the duration in micro seconds. Found following tests that need to be changed.

[code]

Here is the failure log:
[code]

[2021-02-08 05:19] schaffung commented on #1924
@kshithijiyer , are we still facing this issue or can we close this ?

[2021-02-08 08:59] #2134 closed, assigned to nobody

[2021-02-08 11:32] rkothiya opened #2138 "glfs_write() dumps a core file file when buffer size is 1GB"
glfs_write() dumps a core file file when buffer size is 1GB

[code]

Steps to Reproduce :

Set appropriate path in  environment variable, as I have installed gluster via source I am have set the values as follows :
[code]
In the glusterfs create test.img
[code]

Download the attached program and change the ip address in it to your test machines ip. Change the volume name to the volume you have cre

[2021-02-08 11:34] rkothiya commented on #2138
[glfs_write_bug_devvol.zip](https://github.com/gluster/glusterfs/files/5943370/glfs_write_bug_devvol.zip)

[2021-02-08 12:51] #2130 closed, assigned to nobody

[2021-02-08 13:14] xhernandez commented on #2106
I haven't written any design for that yet. @amarts also proposed some changes on the initial idea that should make it easier to integrate in current versions of Gluster. Basically the the idea is to keep a hidden file in each directory with the entire list of entries in it (plus some xattrs, like gfid). This way, when a readdir operation is executed, instead of reading the entire directory from ea

[2021-02-08 13:22] xhernandez commented on #2089
are you sure they are stale entries ?

What's the output of `ls -al` on the root of the mount point ?

[2021-02-08 14:43] nik-redhat opened #2142 "glusterd: memory consumption is increasing on repeated volume create,start, stop and delete operation"
**Description of problem:**
The memory consumption of the glusterd process is increasing beyond the expected range on doing repeated create, start, stop and delete operation for 100 volumes.

**The exact command to reproduce the issue**:
Create, start, stop, delete 100 volumes in a loop and notice the increase in memory consumption beyond the expected range.

**Additional info:**
Checkout the logs

[2021-02-08 21:09] amehub opened #2147 "Gluster Locking Error messages"
**Description of problem:**
**Locking errors in /var/log/glusterfs/glusterd.log.**

[2021-02-08 20:50:23.864671] E [MSGID: 106117] [glusterd-op-sm.c:3995:glusterd_op_ac_unlock] 0-management: Unable to release lock for glusterfs-goldtest-pvc_ea86af23-9aa2-494a-b064-aafe750a188b

[2021-02-08 20:50:23.864757] E [MSGID: 106376] [glusterd-op-sm.c:7852:glusterd_op_sm] 0-management: handler returned: -1

[2021-02-09 00:18] d0x2f commented on #2094
Hi, just to provide an update on this, 6 days ago I lowered the prometheus colleciton frequency from every 5 seconds to every 5 minutes. Since then the memory usage has stopped increasing and has in fact lowered by about 600mb.

Atached are new statedumps from each node.
[glusterdump.22752.dump.1612829584.txt](https://github.com/gluster/glusterfs/files/5947686/glusterdump.22752.dump.1612829584.txt

[2021-02-09 01:14] #2138 closed, assigned to nobody

[2021-02-09 11:53] EnochPrime commented on #1301
What hardware is required to build the arm64 packages?

[2021-02-09 11:57] amarts commented on #1301
I do arm64 builds on `docker buildx` (just in github actions) for [kadalu](https://github.com/kadalu/kadalu) images.

[2021-02-10 08:13] #2080 closed, assigned to schaffung

[2021-02-10 08:31] vh05 opened #2149 "features/shard: update ilist though inode_count > lru_limit incase of GF_FOP_UNLINK"
We have a lru_limit (default is 16384) set for a number of inodes to be active in the sharding module.
If we want to add freshly looked up inode to the ilist (a list which keeps track of active inodes)
and if inode_count in the ilist > priv->lru_limit then we delete the entry from the ilist and make space
for the new one.

In the case of GF_FOP_UNLINK also, we accommodate the inode in ilist by del

[2021-02-10 08:54] #1331 closed

[2021-02-10 09:37] #1101 closed

[2021-02-10 11:27] kshithijiyer commented on #1924
[code]
The latest build isn't installing looks like https://lists.gluster.org/pipermail/packaging/2018-January/000453.html

[2021-02-10 12:17] diete-p commented on #906
Hi reposit,
we have exactly the same problem. recently we have upgraded all server and clients from 3.12.15 to 7.9 and added two further nodes. since then we recognize the same issue on some clients while some other clients still have access to corresponding files and subdirectories.
for example, a shortly created file is accessible from 4 fuse clients

[code]
while 4 other fuse clients cannot acc

[2021-02-10 12:28] resposit commented on #906
Hi @diete-p
apparently I already have those readdir settings to on and still getting the same behaviour randomly, then I'm afraid it doesn't fix the problem.

BTW, this is the full list of my current settings:

[code]

[2021-02-10 16:45] diete-p commented on #906
Hi resposit,
These are not good news. I was hoping that the settings would change something permanently.
I'll wait until the problem occurs again and then think about further steps.
On another thread regarding this problem, I heard from someone else with the same problem. As far as I can remember, he solved the problem by distributing the fuse clients differently over his network topology. Unfortu

[2021-02-10 16:49] #808 closed

[2021-02-10 22:31] MoBlockbuster opened #2152 "Bug in CentOS8 Systemd-Unit. Glusterd starts befor network is started"
**Description of problem:**

i installed glusterfs 8.3 on two centos8 vm with 2 replica volume.
if i execute a vm restart, glusterd doesn`t connect with the other server in the TSP.
it works after a service glusterd restart.

**The exact command to reproduce the issue**:

gluster volume heal $volume_name info

**The full output of the command that failed**:
<details>

Brick glusterfs01:/glusterfs/

[2021-02-11 00:26] pranithk commented on #2152
@kalebskeithley As per git blame, you probably have context about this. Maybe @MoBlockbuster can send a PR if this is correct.

[code]

[2021-02-11 02:19] mohit84 commented on #1874
@xhernandez
     As we discussed over chat we can't use global_ctx with gfapi because the gfpi based client  can have multiple fs object at the same time and in every fs object is having own separate ctx so we can't apply the global_ctx concept in gfapi currently.In case of gfapi ctx it is not similar  to like brick process we have a single ctx for a process.We can't not use global_ctx everywhere 

[2021-02-11 06:11] #1340 closed

[2021-02-11 08:26] MoBlockbuster commented on #2152
my PR:

https://github.com/gluster/glusterfs/pull/2153

[2021-02-11 09:14] xhernandez opened #2154 ""Operation not supported" doing a chmod on a symlink"
Posix xlator assumes that lchmod() will always return ENOSYS for symlinks in linux because changing mode of a symlink is not supported. That's true till glibc 2.32. In this version, lchmod() is implemented as a call to fchmodat(), which returns ENOTSUPP for symlinks.

Since posix is not handling this case, it's flooding the logs with errors like:

[code]

[2021-02-11 15:39] xhernandez commented on #1874
I agree. We need to see how to make gfapi work. Maybe splitting the ctx into a truly global subset and a per-volume subset would help in this case.

[2021-02-11 16:01] #2042 closed, assigned to nobody

[2021-02-12 01:35] chenglin130 commented on #2142
VOL's mallinfo information indicate that the uordblks will increase with using time.  It seems the problem with memory allocation efficiency. Is it possible to solve this problem by using memory pools instead of repeated malloc brk memory?

[2021-02-12 05:16] pranithk opened #2159 "Remove unused component tests"
Following files need to be removed.
./tests/basic/jbr/jbr.t
./tests/basic/jbr/jbr-volgen.t

[2021-02-12 05:22] pranithk commented on #2159
Found some more:
 tests/fdl.rc
 tests/features/fdl-overflow.t
 tests/features/fdl.t
 tests/features/recon.t

[2021-02-12 06:00] mohit84 commented on #2142
Hi,
 I don't think we have any leak in glusterd, i have tried to reproduce the issue on my laptop on latest master branch and
 I am not able to reproduce the issue.

Below are steps to reproduce the same, as we can glusterd memory consumption is same and it is consuming less
 than 50M and every attempt the memory difference is not more than 1M

1) Start glusterd;
2) mkdir -p /home/testvol/node{1..

[2021-02-12 15:00] #1338 closed

[2021-02-12 15:00] #1346 closed

[2021-02-12 15:00] #1129 closed

[2021-02-13 00:04] paladox commented on #2100
This appears to be the vm and nothing to do with gluster, I will keep a watch out for actual prove that its a gluster issue. Sorry about wasting your time.

[2021-02-13 00:04] #2100 closed, assigned to nobody

[2021-02-13 00:04] paladox commented on #2082
Bump :)

[2021-02-13 00:06] paladox commented on #1370
I found the issue. It was on a folder. Essentially ls just hanged and so I saw the ram fill up. I just deleted the folder server side (on each gluster server).

[2021-02-13 11:01] amarts commented on #2082
This error can be ignored for now, and shouldn't cause any functionality issues.

Considering this has no impact on behavior, the lesser priority to look into it. Happy if someone picks it as a starter level issue.

This happens because there are few other modules like `socket.so` which are not translator code, but when an option is added, we just try to see if the option is referenced in all of t

[2021-02-13 12:14] #2159 closed, assigned to nobody

[2021-02-13 16:19] xhernandez opened #2161 "Crash caused by memory corruption"
A coredump happens in memory pool sweeper thread because there's a memory corruption.

[code]

[2021-02-14 01:06] perrynzhou opened #2163 "quota setting is real time checking?"
@mohit84 @xhernandez @amarts @mohit84 @pranithk  I see from the code that the quota is checked with time-out on glusterfs relaese-9, and  `features.quota-timeout` has been removed.it so great

[2021-02-14 01:48] #2163 closed, assigned to nobody

[2021-02-14 18:36] mykaul opened #2164 "gf_proc_dump_call_stack() is not printing ctime correctly"
[code]

Was probably meant to print call_stack->ctime instead.

(It's unclear to me if we actually need call_stack->tv  - I think it can be removed - seems to be used only for stack creation time, which probably can be seen from the 1st frame's, if latency is measured)

[2021-02-15 04:09] #1180 closed

[2021-02-15 07:06] abdennour commented on #615
what's the root cause of the issue ? I am getting similar error logs

[2021-02-15 09:11] resposit commented on #906
Hi @diete-p
not sure network topology could cause the issue in my case. My clients are virtual machines, running on the same hypervisor. My serveres are physical hosts, all connected to the same 10gb/s switch on a dedicated NIC.

Today I got the same problem again. This time I enabled "trace" logging on my clients. This is what I'm seeing from box03:
[code]
Seeing this in fuse client log file:
[co

[2021-02-15 11:01] pranithk commented on #615
@abdennour These logs come when the client can't reach the bricks. Could you check the logs to find if there is any issue on the bricks?

[2021-02-15 11:03] pranithk commented on #906
nl-cache is -ve lookup cache. It was developed for use in samba workloads as far as I understand. If a file created in some other mount is accessed quickly in this mount, you may get this error I think.

[2021-02-15 11:51] resposit commented on #906
I enabled **nl-cache** after reading recommendations for best performance:
https://docs.gluster.org/en/latest/Administrator-Guide/Performance-Tuning/
It's not mentioned to be a samba specific setting.
BTW, I just turned it off:
[code]
I'll see if it gets better. Unfortunately those errors come out randomly, so I have to wait and see if they appear again.

[2021-02-15 14:58] rkothiya commented on #1322
As per the review comments, we wont fix this.

[2021-02-15 15:24] #1322 closed

[2021-02-15 16:03] jamesmishra commented on #2028
Looks like this issue can be closed. The PPA works.

[2021-02-15 16:11] etavene opened #2167 "gluster self healing is not complete and data not in-sync during disk recovery"
**Description of problem:**
I have 3 node gluster running and providing persistent storage to Kubernetes pods. I am simulating a failed disk recovery sceanrio. I replaced the failed disk in one of the node, but self-healing is never completed and data never in-sync on a failed node, even after waiting for long time.  I used subdirectories way to mount the same volume inside the pods  as shown belo

[2021-02-15 16:23] pranithk commented on #2167
I am not sure about the command used for simulating disk failure
[code]

Is there a space between /gluster and /gvol/*? If we consider it as typo, this command only deletes visible files not .glusterfs directory. That would be undefined behavior. Could you make sure that there is nothing under /gluster/gvol after deleting the files by verifying `ls -a /gluster/gvol` has no other entries apart from

[2021-02-15 16:23] #2028 closed, assigned to nobody

[2021-02-15 16:32] kindofblue commented on #906
@pranithk you do not need to use multi-mount to observe this issue, single mount can reproduce this issue easily.

[2021-02-15 19:14] #1202 closed

[2021-02-16 04:12] etavene commented on #2167
Sorry I haven't mentioned that I removed .glusterfs folder before I attempted rm -rf /gluster/gvol/*  command. As you told I can see only • and  •• .  Also I did a full reformat of disk

[2021-02-16 04:16] pranithk commented on #2167
@etavene Could you share logs

[2021-02-16 11:13] etavene commented on #2167
Hi

Case 1

I removed data and rebooted the node. Here you could see there is no dat at
all
 ls -latr /gluster/gvol
drwxr-xr-x  2 root root 4096 Feb 16 13:57 .
drwxr-xr-x 28 root root 4096 Feb 16 13:59 ..

After reset-brick start and commit force as mentioned above. I couldnt see
any data in-sync from other nodes.

drwxrwxrwx 3 root root 4096 Feb 16 13:44 .
drwxr-xr-x 3 root root 4096 Feb 16 14:03

[2021-02-16 11:56] #2096 closed, assigned to nobody

[2021-02-16 11:58] #2154 closed, assigned to nobody

[2021-02-16 12:45] xhernandez opened #2169 "Stack overflow when parallel-readdir is enabled"
When parallel-readdir is enabled, sometimes gluster client crashes because of a stack overflow.

[code]

It can be reproduced with these steps:

[code]

[2021-02-17 05:08] etavene commented on #2167
@pranithk  hopefully you received the logs.

[2021-02-17 05:28] pranithk commented on #2167
No I didn't get the logs. You need to attach logs to github issue I think.

[2021-02-17 08:45] etavene commented on #2167
Case 1: after deleting the data, executed following commands to reset.  The data is not synced at all

[2021-02-16 08:10:21.124706] I [MSGID: 100030] [glusterfsd.c:2867:main] 0-/usr/sbin/glusterfs: Started running /usr/sbin/glusterfs version 7.2 (args: /usr/sbin/glusterfs -s localhost --volfile-id shd/gluster-volume -p /var/run/gluster/shd/gluster-volume/gluster-volume-shd.pid -l /var/log/glusterf

[2021-02-18 03:46] #1220 closed

[2021-02-18 04:10] #1339 closed

[2021-02-18 08:35] #1991 closed, assigned to nobody

[2021-02-18 08:45] xhernandez commented on #1354
This issue is already fixed.

[2021-02-18 08:45] #1354 closed

[2021-02-18 09:40] #1127 closed

[2021-02-18 11:24] claude-eric-steiner opened #2173 "growing memory consumption on both server & client"
**Description of problem:**
We have an issue with growing memory consumption on both server & client for quite some time.
As we have been using version 3.11 (for both server&client) and I read a lot about memory leaks,
we decided to upgrade both sides to version 8.0 and hoped it will resolve this issue, but it still persists.

**The exact command to reproduce the issue**:
<details>
We use the moun

[2021-02-18 11:51] renlei4 opened #2174 "-Wstringop-overflow compiling warning"
with gcc 8.2, following -Wstringop-overflow compiling warning will prompt:

glusterd-utils.c: In function ‘glusterd_check_brick_order’:
glusterd-utils.c:14724:9: warning: ‘strncpy’ specified bound depends
on the length of the source argument [-Wstringop-overflow=]
         strncpy(brick_addr, brick, addrlen);
         ^~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
glusterd-utils.c:14723:19: note: length comp

[2021-02-18 11:58] claude-eric-steiner commented on #2173
I created a statedump of the client:
[glusterdump.57482.dump.zip](https://github.com/gluster/glusterfs/files/6002570/glusterdump.57482.dump.zip)

[2021-02-18 12:01] claude-eric-steiner commented on #2173
and of the server:
[datastore-data.582.dump.zip](https://github.com/gluster/glusterfs/files/6002582/datastore-data.582.dump.zip)

[2021-02-18 12:10] mohit84 commented on #2173
what is the exact gluster version you are using?

[2021-02-18 12:12] mohit84 commented on #2173
It seems issue is similar to this (https://github.com/gluster/glusterfs/issues/1440), and we fixed the issue in release 8.1.
Can you please upgrade glusterfs(8.1 or latest 8.3) to avoid the same.

[2021-02-18 12:19] claude-eric-steiner commented on #2173
Thanks for the fast reply, yeah I saw the #1440 before, and was wondering if it's still the same...
As glusterfs 8.1 is not yet available as package on freebsd, I will give it a try as soon as it is, or as soon as I find time to compile it from source. Thanks

[2021-02-18 12:25] mohit84 commented on #2173
Just FYI, for the time being you can avoid the issue after disable open-behind option.

[2021-02-18 13:50] claude-eric-steiner commented on #2173
Thank you @mohit84 we tried this workaround already on our glusterfs 3.11, did not work...
So I retried it on our glusterfs 8.0, memory is expanding anyway :/

`gluster volume get volume1 open-behind`
performance.open-behind                 off

Server memory usage after 3 min run of test.php:
  PID USERNAME    THR PRI NICE   SIZE    RES SWAP STATE    C   TIME    WCPU COMMAND
  504 root         16

[2021-02-18 15:00] claude-eric-steiner commented on #2173
After installation of the needed dependencies, and after applying a patch for the python version detection and the no more existing "basename_r",
I was able to compile the latest glusterfs 8 release until the point where it tries to compile the contrib/* stuff.
It fails with the error:
[code]
Googled a lot, couldn't find anything related... seems it's missing somehow the configure part of this con

[2021-02-19 03:07] httaotao opened #2176 "Support parallel reading for Alluxio with Disperse volume from Multi nodes"
**Is your feature request related to a problem? Please describe.**

Hello, everyone, these day we want to use Alluxio to Speed up reading. Alluxio can support Glusterfs, but it must mount volume in one node, it is not a good way to read data. so if support parallel reading for Alluxio with Disperse volume from Multi nodes, maybe it can help a lot without Network.

**Describe the solution you'd lik

[2021-02-19 07:39] #1406 closed

[2021-02-19 13:54] #1206 closed

[2021-02-19 16:28] #1096 closed

[2021-02-19 20:19] rposts opened #2178 "Peer probe fails to transition to `Peer in Cluster` state unless peer is restarted (s390x arch)"
**Description of problem:**
I have built and installed `Glusterfs 9.0` on s390x Ubuntu 18.04 and some of the testcases fail because `Peer in Cluster (Connected)` state is never reached.  The only way of getting around this problem is if I kill and restart the peer `glusterd` process.  I have looked at the peer Debug logs and noted following recurring messages:

[code]

Wonder if this has anything

[2021-02-20 02:24] trinhpham commented on #833
Hi @pranithk ,
I just back from a big vacation (Lunar New Year festival, in my country). Hope you are doing well.

I am not sure why (my team run `apt dist-upgrade` and rebooted the server when I was not there, version of glusterfs (8.3-1) and nfs-ganesha (3.3-4) are still the same), but it looks better now

<details><summary>du -sh *</summary>
<p>

[code]

</p></details>

I am checking if there's

[2021-02-20 10:53] claude-eric-steiner opened #2179 "glusterd 8.3 fails with Undefined symbol "setmntent" in /usr/local/lib/glusterfs//xlator/mgmt/glusterd.so"
**Description of problem:**
A fresh compiled glusterfs installation (version 8.3) fails when starting glusterd with the following log entries:
[code]

Any help would be appriciated.

**The exact command to reproduce the issue**:
Compile 8.3 from source file (https://download.gluster.org/pub/gluster/glusterfs/8/8.3/glusterfs-8.3.tar.gz) on FreeBSD 12.2.
Needed to patch python version detection in t

[2021-02-20 11:21] claude-eric-steiner commented on #2179
Same problem exists with glusterfs version 8.1

[2021-02-20 11:24] claude-eric-steiner commented on #2173
Found a way to solve that problem:
In configure.ac uncomment
`AM_INIT_AUTOMAKE([subdir-objects])`
and comment
`#AM_INIT_AUTOMAKE([tar-pax foreign])`

8.1 and 8.3 compile now without problem, but starting the glusterd fails with some errors ( #2179 )

[2021-02-20 11:29] mohit84 commented on #2179
It seems glusterd.vol file is not correct in your environment, can you share the same.
In ideal case glusterd.vol file should be like this
volume management
    type mgmt/glusterd
    option working-directory /var/lib/glusterd
    option transport-type socket
    option transport.socket.keepalive-time 10
    option transport.socket.keepalive-interval 2
    option transport.socket.read-fail-log off

[2021-02-20 11:44] claude-eric-steiner commented on #2179
Thanks for the reply, here my glusterd.vol:
[code]
/var/lib/glusterd does not exist on my system, but /var/db/glusterd does. So I guess this should be correct.
Content of /var/db/glusterd:
[code]

The rest of glusterd.vol seems to be the same... Maybe something wrong in /var/db/glusterd?
I need to admit that I've installed several versions before (first pkg from FreeBSD glusterfs 8.0),
and then co

[2021-02-20 11:50] claude-eric-steiner commented on #2179
I did make uninstall, and then deleted /var/db/glusterd, and did make install again.
Content of /var/db/glusterd is now different:
[code]

But the errors in the log when trying to start glusterd are still the same...

[2021-02-20 11:57] claude-eric-steiner commented on #2179
If you check my first posted glusterd.log, I guess the missing symbol "setmntent" in glusterd.so is only a warning, and I'm not sure if it has something to do with the error follows:
`[2021-02-20 13:21:51.390193] E [MSGID: 101002] [graph.y:214:volume_type] 0-parser: Volume 'management', line 2: type 'mgmt/glusterd' is not valid or not found on this machine
`
Seems it doesn't understand the mgmt/gl

[2021-02-20 12:05] mohit84 commented on #2179
Can you run glusterd with -L DEBUG option and then share the logs, you will find the location of glusterd.vol that is loaded by glusterd.

[2021-02-20 12:10] claude-eric-steiner commented on #2179
gluserd -L DEBUG gives:
[code]
So it loads the glusterd.vol from /usr/local/etc/glusterfs/glustered.vol, and it's that file that I already posted its content above...

[2021-02-20 12:16] mohit84 commented on #2179
I think you have compiled the code after ignore contrib part, setmntent is part of the file contrib/mount/mntent.c that's why you are facing the issue.

[2021-02-20 12:32] claude-eric-steiner commented on #2179
yeah could be, as I had troubles with that contrib/* stuff before, let me investigate this...

[2021-02-20 16:30] #1363 closed

[2021-02-21 09:31] claude-eric-steiner commented on #2179
I investigated a bit further, but I'm stuck.

Seems mntent.c is getting compiled, I can find it in the make output:
 ( CC       ../../contrib/mount/libglusterfs_la-mntent.lo)
[code]

[2021-02-21 11:02] mykaul opened #2180 "CID 1446716: Memory - illegal accesses (USE_AFTER_FREE) /xlators/mgmt/glusterd/src/glusterd-utils.c: 155 in glusterd_defrag_unref()"
I think https://github.com/gluster/glusterfs/commit/61ae58e67567ea4de8f8efc6b70a9b1f8e0f1bea has caused this issue:

[code]

[2021-02-21 11:02] mykaul commented on #2180
CC @mohit84

[2021-02-21 12:30] mohit84 commented on #2180
@mykaul Thanks for reporting an issue.

[2021-02-21 14:50] rkothiya opened #2182 "Corefile generated intermittently while executing afr-lock-heal-advanced.t"
**Description of problem:**
Corefile generated intermittently while executing afr-lock-heal-advanced.t

**The exact command to reproduce the issue**:
[code]

**The full output of the command that failed**:
Search for "Start printing backtrace" in the below logs:
[ci regression logs](https://build.gluster.org/job/gh_centos7-regression/866/console)

**Expected results:**
Test should pass

**Mandator

[2021-02-21 14:51] rkothiya commented on #2182
[Uploading gh_centos7-regression-866.zip…]()

[2021-02-22 04:39] #2180 closed, assigned to mohit84

[2021-02-22 05:30] rkothiya opened #2183 "(glusterfs-8.4)- GlusterFS 8.4 tracker"
Description of problem:
Tracker for the release 8.4

[2021-02-22 05:32] rkothiya commented on #1859
Gluster-8.3 was released on Dec 23 2020.

[2021-02-22 05:32] #1859 closed, assigned to rkothiya

[2021-02-22 06:40] XiJinyu opened #2184 "【glusterfs/quotad】 Exceptional memory consumed by glusterfs quota process."
**Description of problem:**

As shown in the figure below, the memory usage of quota process is 82.1%, which is still increasing gradually. We think this is an abnormal phenomenon.

![image](https://user-images.githubusercontent.com/52778639/108672118-7ce74f00-751c-11eb-9f8f-17b475a0c7a2.png)

We dump the core information of this process and find  **gf_common_mt_inode_ctx** type size is equal to 1

[2021-02-22 06:52] XiJinyu commented on #2184
glusterdump.15314.dump.1613725211

DUMP-START-TIME: 2021-02-19 17:00:11.538328

[mallinfo]
mallinfo_arena=1708728320
mallinfo_ordblks=37776394
mallinfo_smblks=223
mallinfo_hblks=20
mallinfo_hblkhd=10797056
mallinfo_usmblks=0
mallinfo_fsmblks=23008
mallinfo_uordblks=2032430928
mallinfo_fordblks=-323702608
mallinfo_keepcost=6800

[global.glusterfs - Memory usage]
num_types=165

[global.glusterfs - u

[2021-02-22 08:27] claude-eric-steiner commented on #2179
I was able to fix this problem today.
In the file `xlators/mgmt/glusterd/src/Makefile.am` in the line starting with `glusterd_la_SOURCES =`
I needed to add `$(CONTRIBDIR)/mount/mntent.c`.
Then everything compiled correctly and glusterd is able to start.
I found this in a patch on [https://github.com/tuaris/freebsd-glusterfs](url) (Thanks to Daniel Morante for his work!)

I will do some testing now

[2021-02-22 08:27] #2179 closed, assigned to nobody

[2021-02-22 09:08] diete-p commented on #906
Hi resposit,

the day you published your last post we have been faced one more time with this error. I have then just turned off performance.readdir-ahead and the error went away. Regarding my first message, it should now be clear that this is not the solution. It just triggers 'something' so that the clients can access files and directories again without umount / mount.

Then i turned off perform

[2021-02-22 09:24] resposit commented on #906
Hi @diete-p
same for me. Since my last post I deactivated nl-cache and no errors seen since then.
Not sure if this is a real solution or if it is a bug rather than a feature.
I wish some gluster developer could clarify it.
Regards.

[2021-02-22 10:40] rafikc30 commented on #2000
@perrynzhou
I think the issue mentioned here https://bugzilla.redhat.com/show_bug.cgi?id=1532842 is still an open issue. Please let us know if you need more help on this.

[2021-02-22 12:06] mohit84 commented on #2173
@claude-eric-steiner are u still facing the issue or we can close the issue.

[2021-02-22 12:40] claude-eric-steiner commented on #2173
@mohit84 just now I'm running full tests on glusterfs 8.3, and it doesn't look good.
Memory is still consumed both on server and client side...

One thing that I noticed in the mnt-glusterfs.log on the client is that it starts to write
`Started running version [{arg=/usr/local/sbin/glusterfs}, {version=8.3}`
but nearly at the end of the log:
`FUSE inited with protocol versions: glusterfs 7.24 kern

[2021-02-22 12:45] amarts commented on #2173
This line is talking about FUSE API version in kernel is 7.23 and fuse API version used by GlusterFS is 7.24 (not about glusterfs version itself).

[2021-02-22 12:50] claude-eric-steiner commented on #2173
Thank you @amarts for pointing this out, I understand.
But are the patches from 8.1/8.3 to solve the client (and server) memory leaks (#1440) relevant to this API/kernel version? Or asked differently, are the stated versions up to date and should have resolved #1440 and my issue?

[2021-02-22 12:56] amarts commented on #2173
Considering its freebsd you are using it in, not very sure. One thing to test is getting the statedump and analysizing the memory usage from that, to figure out something obvious

[2021-02-22 12:58] claude-eric-steiner commented on #2173
Statedumps of the client & the server (both 8.0) I posted already 4 days ago (see above),
anyway I have not enough experience with glusterfs to really understand there a lot inside this dumps :/

maybe some more experienced user can find something obvious...

If I shall provide new dumps from 8.3 please let me know

[2021-02-22 12:59] amarts commented on #2173
sure, give sometime for some of us to analyze it, and we can get back.

[2021-02-22 17:50] amarts commented on #2173
[code]
250+MB lost in call_frame and call_stack, a definite case of loosing frames, and in open-behind.

This is from the stack dump attached. (may be before 8.3 version update). If you can pass new statedump again, we can check whats wrong.

[2021-02-22 19:04] claude-eric-steiner commented on #2173
I did new dumps from 8.3 for client and server.
Seems call_stack_t and call_frame_t are no longer a big issue there...
But anyway server and client memory can grow until the point where they get OOM killed.

Server:
[code]
Serverdump:
[datastore-data2.649.dump.1614029753.log](https://github.com/gluster/glusterfs/files/6024524/datastore-data2.649.dump.1614029753.log)

Client:
[code]

Client dump:
[

[2021-02-23 01:29] perrynzhou commented on #2184
@XiJinyu can you provide details about volume info? you can used `perf top -p {process-pid}` to show what function or syscall consumed much cpu resource. gluster quota impl  introduction about glusterfs ,you can read https://mp.weixin.qq.com/s/qsryACaPp0wSeSo9YLGSXg

[2021-02-23 06:16] rps1o2 commented on #2000
Happy to hear that rdma is coming back! Done right, there should be noticeable performance benefits compared to IPoIB.

@perrynzhou: regarding versions of rdma: from my limited knowledge, if you stick to the ibverbs api, it should be independent wether it is over IB, RoCE or iWarp.

Again supporting mixed operation (tcp,rdma) for native gluster clients would be highly welcome: there are setups wit

[2021-02-23 06:47] #1365 closed

[2021-02-23 08:56] perrynzhou opened #2186 "glusterfs client coredump"
@mohit84 @xhernandez @amarts @BarakSason @mohit84 @tshacked @csabahenk @pranithk  when i enable sharding,gluster client is crash,why?
## gluster version
[code]
## volume info
[code]
- coredump  1
[code]
- coredump  2

[code]

[2021-02-23 09:38] mohit84 opened #2187 "[Input/output error] IO failure while performing shrink operation when IO in progress"
IO failure is observed when a volume shrink operation is performed while IO is in progress

Is this issue reproducible? : Yes, this behavior happens intermittently.

Steps to Reproduce:
1. Create a distributed-replicated volume(2x3)
2. Mount on 2 clients
3. Start IO on all mounts (created deep dirs with files)
4. Shrink volume by removing bricks from volume when IO in progress
5. Validate IO

RCA:

[2021-02-23 20:02] #1362 closed

[2021-02-23 20:02] #1254 closed

[2021-02-23 20:02] #1016 closed

[2021-02-24 02:25] mohit84 opened #2190 "Move a test case tests/basic/glusterd-restart-shd-mux.t to flaky"
The test case ( tests/basic/glusterd-restart-shd-mux.t ) was introduced as a part of shd mux feature
but we observed the feature is not stable and we already planned to revert a code.For the time being
I am moving a test case to flaky to avoid a frequent regression failure.

[2021-02-24 06:58] #2190 closed, assigned to nobody

[2021-02-24 09:04] claude-eric-steiner commented on #2173
Is there any other dump method I can apply, or anything else I can do to further analyse this issue?

Would a client log in trace mode help?

[2021-02-24 09:28] mohit84 commented on #2173
I think statedump is the best way to see about memory usage of any gluster process.In last statedump as we can see client is not showing high memory consumption and ad you shared the ps output pid(50027) is not a client process, it is a brick process.The client process name should be "glusterfs" .For specific to brick process(glusterfsd) memory consumption on server the memory consumption is showi

[2021-02-24 10:58] claude-eric-steiner commented on #2173
Thanks @mohit84 but I have troubles to understand your statement.

The memory usage of the client I took from TOP command:
[code]

ps command shows me the same PID for glusterfs running...
[code]

Why should a brick process run on the client? I have no volume/brick setup there...

Anyway, both TOP and PS show high memory usage, just wondering why this is not reflected in the statedump?

I will sta

[2021-02-24 11:39] mohit84 commented on #2173
May be it is specific to bsd, on other flavors (fedora/rhel) it shows process name is glusterfs.We have a link of glusterfs with glusterfsd that's why it is showing process name as a glusterfsd on bsd. Can you share the statedump of 49714 process?

[2021-02-24 12:08] claude-eric-steiner commented on #2173
That's what I already did two days before, and it seems to be nothing in the statedump,
but let me reproduce it again. (All client side)

TOP output:
[code]

PS output:
[code]

So glusterfs is running with PID 66510, and it's size is > 250MB in memory. This just after running my load test (see top of this thread) for only around 3min. I can run it longer, until OOM kill of glusterfs happens.
The m

[2021-02-24 12:15] claude-eric-steiner commented on #2173
Can anybody reproduce this on a non-BSD system?

Simply conntect FUSE client to defined gluster volume (maybe not from within a glusterfs server machine), have php installed and read repeatedly (and fast) any file content (of size around 100k) with file_get_contents from the connected gluster volume. Client memory consumption explodes immediately...
I tried same also with a python script, same res

[2021-02-24 12:28] amarts commented on #2173
Can you provide `--lru-limit=1000` as an option to glusterfs on client side? and see if this prevents the behavior?

[2021-02-24 12:30] mohit84 commented on #2173
I have already tried to reproduce on my laptop(fedora 32 gluster-8.2), i am not seeing any memory leak.
gluster --version
glusterfs 8.2
Repository revision: git://git.gluster.org/glusterfs.git
Copyright (c) 2006-2016 Red Hat, Inc. <https://www.gluster.org/>
GlusterFS comes with ABSOLUTELY NO WARRANTY.
It is licensed to you under your choice of the GNU Lesser
General Public License, version 3 or an

[2021-02-24 12:39] claude-eric-steiner commented on #2173
Thanks @mohit84 for trying to reproduce!

@amarts let me try this and come back to you.

[2021-02-24 12:47] #2187 closed, assigned to nobody

[2021-02-24 12:54] amarts commented on #2173
@claude-eric-steiner can you disable `quick-read` option from the volume too ?

[2021-02-24 13:02] #1368 closed

[2021-02-24 13:03] #1369 closed

[2021-02-24 13:21] waynegemmell opened #2192 "4+1 arbiter setup is broken"
I have a cluster with 4 data nodes and one arbiter node. When I mount the volume on the arbiter the files on the mount all reflect as zero size if I to ls -l on the dir. If I check the file with stat or ls then the file size is correct.

To be clear I'm not talking about the files in the brick, only on the mount. If I mount from another host in the cluster then the same thing happens. I've stood u

[2021-02-24 13:30] claude-eric-steiner commented on #2173
@amarts

started glusterfs client with
`/usr/local/sbin/glusterfs --process-name fuse --lru-limit=1000 --volfile-server=gluster2 --volfile-id=/volume1 /mnt/glusterfs`
same behaviour, memory is growing >1GB

Set `quick-read` to off on server side (it was on before), re-run test (again with `--lru-limit=1000`),
same outcome, memory is growing >1GB

Doesn't help... any other thoughts?

[2021-02-24 16:56] pranithk commented on #2192
I got a chance to debug this a bit. At the moment Only 2+1 arbiter setup is supported. In the code I saw the following Macro:
[code]
So I guess AFR never expects anything other than 2+1 where as glusterd seems to allow any number of replicas with arbiter setup.

[2021-02-24 16:57] pranithk commented on #2192
cc @itisravi @karthik-us

[2021-02-24 16:59] bkannadassan opened #2195 ".glusterfs keeps growing and there is no file and file with links 1 is more than 11k"
**Description of problem:**
Disk usage increases on .glusterfs folder. Apparently this is happening more with mongodb in K8s. Please note no heketi and these are used as a mounted volume but the mounting is glusterfs.

**The exact command to reproduce the issue**:
Volume are created using ansible gluster volume create.

[code]

**The full output of the command that failed**:
Memory of those files

[2021-02-24 22:44] claude-eric-steiner commented on #2173
I was thinking maybe the memory problem is related with the fact that freebsd seems to have quite an old fuse implementation. (https://freebsdfoundation.org/project/fuse-userspace-file-system-update/)

It was not so easy to find out if this updated fuse driver is already implemented in the freebsd 12.x versions that I was using for my tests. Finally I found this news: https://freebsdfoundation.org

[2021-02-25 06:37] claude-eric-steiner commented on #2173
@mohit84

would you please be so kind and mount the glusterfs client with the --log-level=TRACE option, then re-run the load test with the php file_get_contents of only one and the same file over and over again for a very short time and then post the corresponding trace log here?

I would like to compare your log with mine to understand if glusterfs is not getting some kernel messages back.

Would

[2021-02-25 08:23] XiJinyu commented on #2184
Volume Name: ****vol01
Type: Distributed-Replicate
Volume ID: c8d44671-****-****-****-a0b68a3eb1d2
Status: Started
Snapshot Count: 0
Number of Bricks: 6 x 2 = 12
Transport-type: tcp
Bricks:
Brick1: ****nasaa0001:/gluster/brick-0/****vol01
Brick2: ****nasaa0002:/gluster/brick-3/****vol01
Brick3: ****nasaa0003:/gluster/brick-6/****vol01
Brick4: ****nasaa0004:/gluster/brick-10/****vol01
Brick5: ****n

[2021-02-25 09:52] xhernandez opened #2197 "Improve directory access"
Accessing a directory can be slow when DHT has many subvolumes because all of them need to be scanned sequentially.

One way to improve that is to create a special hidden file inside each directory that will contain all the entries for that directory along the gfid. This file needs to be kept in sync with the real directory contents, but it will provide a huge advantage because when a readdir(p) i

[2021-02-25 10:07] xhernandez opened #2198 "There are blocked inodelks for a long time"
**Description of problem:**

On workloads that use a lot of fsyncs and have sharding enabled on a replicated volume (typical on VMs), it has been observed that many inodelks can be blocked waiting for a granted inodelk that is never (or takes a lot of time) released.

**The exact command to reproduce the issue**:

Create a volume with sharding enabled and a VM with its disk on that volume. If ther

[2021-02-25 17:29] csabahenk commented on #1884
I am closing this issue for now as it has an open-ended dependency (https://github.com/gluster/glusterfs/issues/1884#issuecomment-738611183) and consensus is missing about its utility (https://github.com/gluster/glusterfs/issues/1884#issuecomment-738808182).

We can reopen if this behavior will be seen both unproblematic and desirable.

The valuable ideas that came up in the discussion should be p

[2021-02-25 17:29] #1884 closed, assigned to csabahenk

[2021-02-25 20:12] #1373 closed

[2021-02-26 01:37] perrynzhou commented on #2197
@xhernandez  great idear.arf and ec base on dht volume.that will improve all directory operation fast

[2021-02-26 10:44] handrea2009 opened #2203 "SIGBUS when running mmap() on a file on a glusterfs"
**Description of problem:**

winbindd  fails to start cause of SIGBUS crash when running mmap() on a file on a glusterfs
The issue appears only when the file is on a glusterfs.
The issue desappear if I set performance.stat-prefetch to off

**The exact command to reproduce the issue**:
/usr/sbin/winbindd -s /etc/samba/smb.conf

The issue appears only when the file is on a glusterfs.
The issue disap

[2021-02-26 18:26] SIN3R6Y commented on #980
I'm still seeing this issue with using oVirt 4.4 on Centos 8 using gluster version 7.9

See my gluster client log...

[2021-02-26 03:17:31.561071] W [fuse-bridge.c:3023:fuse_writev_cbk] 0-glusterfs-fuse: 5595218: WRITE => -1 gfid=da98a8c8-c76c-4a6c-84f7-f75b93198748 fd=0x7fe16c00de68 (No such file or directory)
[2021-02-26 03:17:31.561077] W [fuse-bridge.c:3023:fuse_writev_cbk] 0-glusterfs-fuse: 5

[2021-02-28 09:40] zenonp commented on #532
This fix is not only valid, but also very useful and apparently ready. What would it take to get it merged?

+1

[2021-03-01 03:13] JiandongLu commented on #218
I'm sorry that I did not find the source code in
https://github.com/gluster/glusterfs/archive/v9.0.zip
or https://github.com/gluster/glusterfs/archive/v10dev.zip
are the codes open sourced ?

[2021-03-01 07:07] itisravi commented on #2192
Like @pranithk mentioned, 2+1 is only supported. Ideally the CLI must throw out a warning during volume creation if the condition is not met :`For arbiter configuration, replica count must be 2 and arbiter count must be 1. The 3rd brick of the replica will be the arbiter`.

The fact that it allows any other config looks like a bug in CLI parsing (possible regression?). Will take a look.

[2021-03-01 10:41] #2013 closed, assigned to tshacked

[2021-03-01 10:54] xhernandez commented on #218
@JiandongLu the feature couldn't be implemented for release 9. It will be present in next release.

[2021-03-01 10:59] xhernandez commented on #532
@zenop the code is already present in latest releases, but it's not recommended to be used in general because during testing it was seen that it improved some workloads significantly but it also caused performance regressions for other workloads. I was unable to determine the ultimate reason for this at that time. My guess is that the global thread pool changed significantly how internal processin

[2021-03-01 11:57] nirs commented on #597
Keeping the issue active, this is still an issue for oVirt.

[2021-03-02 00:48] zenonp commented on #532
OK, that's good news. I have a very unorthodox cluster (involving ADSL instead of RDMA transport), so I feel like the perfect testing candidate/guinea pig. I enabled it (on v8.3), but I see no noticeable difference. However, I was unable to pass "--global-threading" to my mount command (rhel7 and rhel8); mount rejects the argument as unknown. Without turning this issue into a support ticket, could

[2021-03-02 01:40] JiandongLu commented on #218
thanks.

there may two possibilities:
1、there is a cache in each (glusterfs) client node. so each client has its own cache
2、in there glusterfs cluster, there is only one, global cache, and each client (directly or indirectly) accesses the global cache.
which  one is the case ?

[2021-03-02 03:13] perrynzhou opened #2206 "How to measure the execution delay of each xlator"
@mohit84 @xhernandez @amarts @BarakSason @mohit84 @tshacked @csabahenk @pranithk  i want to measure time for  each xlator  execution,is any way to do this?

[2021-03-02 07:48] xhernandez commented on #2206
In the statedump of a gluster process there are some latency statistics for each xlator (min, max and avg latency, and total number of requests).

[2021-03-02 07:51] xhernandez commented on #218
The cache will be present on each client. The second approach creates a SPOF and requires more work to keep it up to date and healthy. It also requires a network round-trip, while the local client cache doesn't need network at all when the data is present.

[2021-03-02 07:54] xhernandez commented on #532
If you are using the gluster version that comes whith RHEL, it's not supported.

[2021-03-02 09:31] claude-eric-steiner commented on #2173
I finally managed to take a valgrind shot of the problem (thanks to @paulfloyd!).

If some expert could take a look into this output:

[valgrind_freebsd_glusterfs.log](https://github.com/gluster/glusterfs/files/6067584/valgrind_freebsd_glusterfs.log)

Any thoughts?

[2021-03-02 10:51] zenonp commented on #532
I'm using 8.3 from [CentOS/7x/storage](http://ftp.halifax.rwth-aachen.de/centos/7.9.2009/storage/x86_64/gluster-8/Packages/g/) and [CentOS/8x/storage](http://ftp.halifax.rwth-aachen.de/centos/8.3.2011/storage/x86_64/gluster-8/Packages/g/) respectively. I'll bump it up to 9.0 next week or so.

Looking now in the [.spec](https://vault.centos.org/7.9.2009/storage/Source/gluster-8/glusterfs-8.3-1.el7.

[2021-03-02 10:54] claude-eric-steiner commented on #2173
And here the same valgrind log, but including debug symbols from glusterfs:

[valgrind_freebsd_glusterfs_debug.log](https://github.com/gluster/glusterfs/files/6068049/valgrind_freebsd_glusterfs_debug.log)

[2021-03-02 11:07] paulfloyd commented on #2173
On 02/03/2021 11:54, claude-eric-steiner wrote:

Hi

In this case there is a memory pool being used. Looking at the last item
in the log

==69386== 9,437,128 bytes in 1 blocks are possibly lost in loss record
344 of 344
==69386==    at 0x4854DF1: calloc (vg_replace_malloc.c:885)
==69386==    by 0x48FB516: __gf_calloc (mem-pool.c:151)
==69386==    by 0x6D96B64: ios_create_sample_buf (io-stats.c:590

[2021-03-02 11:25] idumlija opened #2208 "Client memory consumption in 7.9"
**Description of problem:**
Memory consumption of gluster client starts growing rapidly after some time until it consumes almost all available memory. Statedump file added at the end of this ticket.

**The exact command to reproduce the issue**:
Regular usage.

**Mandatory info:**
<details>
**- The output of the `gluster volume info` command**:
Volume Name: vol-media
Type: Replicate
Volume ID: 18b

[2021-03-02 12:24] claude-eric-steiner commented on #2173
Thank you @paulfloyd there seems to be such an compile option: --disable-mempool
But my first test did not work out, need to dig deeper to really understand if this option is applied or not.

But I run a couple of other tests, and what is striking is that I get back the same results from valgrind,
if I create the log before my load test of the file system (that increases the memory usage beyond an

[2021-03-02 12:27] mohit84 commented on #2173
@claude-eric-steiner I don't think it is a memory leak.I think you can rebuild glusterfs after disable mempool and then observe the behavior.

[2021-03-02 17:11] MarvinTO opened #2210 "glusterfsd memory leak observed when constantly running volume heal-info"
**Description of problem:**

glusterfsd process memory leak constantly when running volume heal-info.

We have a replicated 3 node cluster. We wanted to add volume monitoring by using gluster-prometheus, which is constantly running volume heal-info commands in the glusterfs cli. The cluster has TLS enabled.

I managed to replicate the issue by running the following steps:
1.while true; do gluster

[2021-03-02 17:15] MarvinTO commented on #2210
BTW, I tried to run this test -> https://github.com/gluster/glusterfs/blob/devel/tests/features/ssl-authz.t#L66-L69

Running it as is, I got the following output (passing the test):

Memory consumption for glusterfsd process
4168

When changing the loop value from 100 to 200, I got the following output:

Memory consumption for glusterfsd process
8332

the test is not robust enough to capture all t

[2021-03-02 17:24] claude-eric-steiner commented on #2173
@mohit84 yeah something is very strange here...
1. Statedump doesn't show any reason why there should be high memory consumption
2. Valgrind Memcheck doesn't show any reason/difference between logs before and after load test (that increases memory consumption)
3. Valgrind Massiv heap profiler doesn't show any increased memory usage too

But the memory is consumed anyway until OOM kill happens.

Le

[2021-03-02 19:17] claude-eric-steiner commented on #2173
Eventually, I was able to log the increasing memory consumption in valgrind massive heap profiler.

It needed the flag `--pages-as-heap=yes` because it seems that glusterfs is using lower level system calls such as mmap to allocate memory, and without the above mentioned flag, valgrinds massif heap profiler does not follow/monitor these calls (this is why my former investigations all showed consta

[2021-03-02 20:30] tuaris commented on #2173
This is just a suspicion... of the many areas where there is code that's only running on BSD, I think `event-poll.c` might be somewhere to start? Debugging C code might be a little over my skill set.  Any guidance here would be welcome.

In the mean time I might try to see if I can get it to work using the epoll shim that's in the FreeBSD ports tree (devel/libepoll-shim) to test if that's the case

[2021-03-02 23:39] perrynzhou commented on #2206
@xhernandez  i not found  latency statistics for each xlator for glusterfsd, when i execute `kill  -SIGUSR1 {glusterfsd-pid}`

[2021-03-03 00:41] altaloma opened #2211 "Opening file for write hangs for an hour"
**Description of problem:**
An application that opens a file to store information hangs on opening the file for an hour or so, then continues.
The gluster log reports
[2021-03-02 09:50:36.021595] W [fuse-bridge.c:1178:fuse_truncate_cbk] 0-glusterfs-fuse: 6657104: TRUNCATE() /PROJ/SPA_Extension/003_parameters/.QCSTATE => -1 (Transport endpoint is not connected)
Other files in the volume are unaffec

[2021-03-03 01:04] altaloma commented on #2211
Was waiting for the file open operation to complete, here is the log. Looks kike it's a 30 minute timeout and not an hour.

[2021-03-03 00:58:58.399370] E [rpc-clnt.c:183:call_bail] 0-mirror1-client-1: bailing out frame type(GlusterFS 4.x v1), op(INODELK(29)), xid = 0x516274, unique = 6784968, sent = 2021-03-03 00:28:58.320404, timeout = 1800 for 10.220.6.241:49154
[2021-03-03 00:58:58.399431] E [

[2021-03-03 03:56] amarts commented on #2197
Adding few more details here for discussion and reference. For people who were closely working with RIO (#243) / MDSDS (#816), the topic may sound similar. But this approach would keep the graph same, instead of separating data and metadata graph.

First goal of this is to make sure all directory information stays in 1 place, instead of being spread into multiple subdirectories, that way readdir c

[2021-03-03 04:04] amarts commented on #2211
is there any logs on brick ? That may give reason about blocking `inodelk` call.

[2021-03-03 04:34] altaloma commented on #2211
I have brick logs but that file name doesn't appear in them.

On Tue, 2021-03-02 at 20:04 -0800, Amar Tumballi wrote:

is there any logs on brick ? That may give reason about blocking inodelk call.

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub<https://github.com/gluster/glusterfs/issues/2211#issuecomment-789411482>, or unsubscribe<https:

[2021-03-03 07:49] mykaul commented on #2197
So essentially this metadata file is a database, that needs ACID, fast appends, indexing, journaling(?), compaction, etc. I assume we are going to use an existing implementation?

[2021-03-03 08:16] itisravi commented on #2210
Tried reproducing on devel branch (create and start a volume and run heal info in a loop for 20 minutes) and the ` VIRT    RES    SHR` numbers in the `top` output are more or less the same.  Need to try on 8.4.

Comparing the Dump File 1 and 3 attached above, the `total_allocs` for most data structures have increased (which is expected due to the heal info loop)  but the `num_allocs` count remains

[2021-03-03 08:47] itisravi commented on #2210
@MarvinTO  The vol info shared above doesn't have any SSL settings. Wondering why.

[2021-03-03 08:51] mohit84 commented on #2210
I think it is a known issue https://review.gluster.org/#/c/glusterfs/+/24366/ i think we need to backport it.
@MarvinTO have you enabled MGMT ssl only?

[2021-03-03 11:12] tuaris commented on #2173
I'm running into a strange issue with `epoll`.  It's unclear if the problem is with the library or some other code that isn't working properly.

The `socket` and `epoll_create` system calls are both returning the same ID for a file descriptor.

[code]

I'm seeing it on Gluster 8.4 and 9.0.  I've been mainly working with the client side.  I haven't checked if server side is having similar issues.

[2021-03-03 15:40] MarvinTO commented on #2210
@mohit84, @itisravi, I have only enabled MGMT ssl, with "option transport.socket.ssl-cert-depth 3".

I created a new dump file, it was included -> https://gist.github.com/MarvinTO/7a5cc81bc48789c080c405417c5dc447

[2021-03-04 04:23] mohit84 commented on #2210
@MarvinTO This is a known bug and issue is already fixed in master.We have raised a ticket to backport the same.
For the time being either you can apply a patch in your environment or enable (client|server).ssl or disable mgmt ssl to avoid the issue.

[2021-03-04 09:32] aspandey opened #2216 "Fix coverity issues"
Coverity Issues: 1447088, 1447089

    1447088 - Resource leak
    1447089 - Buffer not null terminated

[2021-03-04 10:25] #2117 closed, assigned to nobody

[2021-03-04 17:28] tuaris commented on #2173
My understanding of C is limited, but I have a feeling that the issue I am running into might be with when glusterfsd is daemonizing.  I think what is happening is that `epoll_create` is getting called before daemonization and the socket system call is happening afterwards.  Unless I am mistaken (which I could be) the descriptors generated earlier are no longer valid.

I may test this, but I am st

[2021-03-04 17:35] claude-eric-steiner commented on #2173
@tuaris maybe you can test this with the `--no-daemon` option? It should stay in the foreground and quit only when you unmount the fs.

[2021-03-04 17:36] tuaris commented on #2173
Yep, this is indeed the case:
https://www.freebsd.org/cgi/man.cgi?manpath=freebsd-release-ports&query=fork

[code]

[devel/libepoll-shim](https://www.freshports.org/devel/libepoll-shim) is just a wrapper around kqueue.

I'll have to see if it might be possible to work around this by moving the calls to `event-epoll.c:event_ops_epoll.new()`  ~~before~~ after forking. I don't know what type of effec

[2021-03-05 06:43] waynegemmell commented on #2192
So now that this is fixed. Any idea as to what I must do with my current configuration? It's in production so I can't just do without it.

[2021-03-05 10:38] itisravi commented on #2192
@waynegemmell  The safest way is to just create a new volume and copy data off the current volume (via fuse mount) into the new volume.

Otherwise you could try reducing it to a replica 2:
[code]
and then convert it to arbiter:
`gluster volume add-brick gv0 replica 3 arbiter 1 container10:/mnt/gluster`

[2021-03-05 10:47] tuaris commented on #2173
I could be completely wrong here (and I apologize if I am).

I'm starting to get a more clear understanding on how IO multiplexing is works in Gluster.  I've been able to study the code around `event_pool`, and it hasn't been too difficult to follow.

I did notice this function [event_register_poll](https://github.com/gluster/glusterfs/blob/v8.4/libglusterfs/src/event-poll.c#L182) is occasionally

[2021-03-05 12:04] xhernandez commented on #2206
What version of gluster are you using ? newer versions write the latency unconditionally to the statedump file.

[2021-03-05 12:08] xhernandez commented on #532
@zenop no, it's always compiled and `mount` should accept the option in 8.3.

How do you mount the volume ?

[2021-03-05 12:31] xhernandez commented on #2211
@altaloma can you generate an statedump with the following command for each brick ?

    # kill -USR1 <brick pid>

A file will be generated under /var/run/gluster for each brick. You should look for "BLOCKED" inside those files while the open operation is in progress (if possible, attach those files to this issue).

Do you have sharding enabled ?
Are these files accessed from multiple mount points

[2021-03-05 12:45] zenonp commented on #532
First I tried `mount -t glusterfs --global-threading host:volume /mountpoint`, which is literally what amarts' comment Feb 2, 2019 above says. This didn't work, mount rejected it. Subsequently I tried `mount -t glusterfs -o global-threading host:volume /mountpoint`. mount did not complain about this, but it is counter to amarts' instructions and I have no idea whether it actually enabled global th

[2021-03-05 12:57] xhernandez commented on #532
Yes, the correct way to pass it using `mount` command is as an argument to `-o` option. It can only be passed as `--global-threading` to the `mount.glusterfs` script.

To check if it's running you can check if there's any thread named "glfs_tpw<num>" in the process. These are the threads created by the global thread pool. You can also check that gluster processes have been created with `--global-t

[2021-03-05 13:31] zenonp commented on #532
Aha, thank you. And yes, they're on. `ps -eL |grep glfs_tpw` prints two sets numbered 0-15, presumably one set each for server and client. I'll get back with first impressions on gluster-users to avoid polluting the issue here with general discussion.

[2021-03-05 16:59] #1387 closed

[2021-03-06 01:14] altaloma commented on #2211
I haven't explicitly enabled sharding and it's not mentioned in vol info.

"Are these files accessed from multiple mount points ?"

Not on the same machine, if that's what you mean?

"Does your workload contain many fsync requests ?"

The application in question is not something I wrote or maintain but I do have access to the code. It's in c++ which I don't use but I can get the gist of what it's

[2021-03-06 02:27] bkienker opened #2226 "Gluster self-heal never finishes"
**Description of problem:**
After rebooting my gluster2 node, my gluster1 node and the arbiter begin healing, but never finish the self-heal process. I have let it run for weeks without it finishing.

**The exact command to reproduce the issue**:
Reboot gluster2, and either let the self-heal begin, or run `gluster volume heal ssd-san full`

**The full output of the command that failed**:
No partic

[2021-03-06 14:24] #1389 closed

[2021-03-06 14:24] #1390 closed

[2021-03-06 14:24] #1382 closed

[2021-03-07 02:10] vitlav commented on #1129
I still have the issue with glusterfs 8.2.

[2021-03-08 04:04] amarts opened #2227 "crash seen with replicate (while doing `fd_unref()`)"
**Description of problem:**
Saw the below crash in the logs:

[code]

**The exact command to reproduce the issue**:
Was trying to use the code to run in container CSI.

**Expected results:**
No crash

**Additional info:**
Question: would it be related to few bugs fixed recently!

</details>

**- The operating system / glusterfs version**:

glusterfs used with kadalu in container workload, and henc

[2021-03-08 04:19] pranithk commented on #2227
@amarts Version of gluster?

[2021-03-08 04:30] itisravi commented on #1129
@vitlav Did you get a chance to deug if the data heal was triggered on a gfid corresponding to a file or a directory as asked above (https://github.com/gluster/glusterfs/issues/1129#issuecomment-604934477) ?

[2021-03-08 04:37] amarts commented on #2227
https://github.com/gluster/glusterfs/commit/2be07284a22508007e0f83b4b0706da28a7a774e  + simple quota feature added (simple-quota is on brick side)

[2021-03-08 04:43] itisravi commented on #2226
@bkienker
- Does disabling `cluster.eager-lock` make any difference?
- Are the 17 entries listed in heal info output present in all 3 bricks? (The sizes/content could be different due to the pending heals but I just wanted to check if the file paths themselves are present on all of the bricks.

[2021-03-08 06:18] kannanvr opened #2228 "Glusterfs recovering on the node"
**Description of problem:**
We are using GFS container with Heketi Provioner.
We are using 3 replicas in a replicate mode. We are facing the issue like One of the worker node completely gone down
Still we have 2 replicas.We are able to access the Volumes.  But we brought up 3rd node. But all the data stored on that node we lost. Now we added the glusterd.info from the old data and we did gluster P

[2021-03-08 08:20] perrynzhou commented on #2206
@xhernandez  glusterfs 7.2

[2021-03-08 10:24] perrynzhou opened #2229 "glusterfshd process per volume"
@mohit84 @xhernandez @amarts @BarakSason @mohit84 @tshacked @csabahenk @pranithk   if i create replica and ec volume on three node,when i execute `gluster volume heal xxx enable`,just one glusterfshd process on each node.that may not too good.i think create glusterfsd per volume。

## gluster version
[code]
## glusterfs volume
[code]

## glusterfsd process

[code]

[2021-03-08 10:33] aravindavk commented on #2229
Please provide more details. You are mixing up `glusterfsd` and `glustershd` process names. Did you mean one `shd` process should be started in each node per volume?

[2021-03-08 10:55] pranithk commented on #2229
@perrynzhou Parallelism is achieved by scaling the number of threads per volume. So far this aspect has not been a bottleneck. Even for 1000s of volumes.

[2021-03-08 12:16] perrynzhou commented on #2229
@aravindavk  yes, i think each volume should owned glusterfshd process to execute heal operation.may be each volume owned glusterfshd is better.

[2021-03-08 12:37] perrynzhou opened #2230 "Some problems were found in actual using glusterfs"
@mohit84 @xhernandez @amarts @BarakSason @mohit84 @tshacked @csabahenk @pranithk  If many xlators are enabled, the software stack for glusterfs is too long, and the performance cannot be fully utilized for the high-speed nvme ssd devices. Can you plan to improve the stability of the core xlator in the future and support a framework similar to SPDK? we Large-scale use glusterfs cluster to provide s

[2021-03-08 12:41] perrynzhou commented on #2229
@pranithk  can you provide some document for glusterfshd implemention?

[2021-03-08 12:46] pranithk commented on #2229
I didn't find any. @itisravi Do you know of any documentation for this?

[2021-03-08 13:18] itisravi commented on #2229
Nothing other than https://github.com/gluster/glusterfs/discussions/2074#discussioncomment-329506

[2021-03-08 13:39] mykaul commented on #2230
One item per issue please, or move it to a discussion thread, as it is challenging to respond to all the above requests (some of which I believe you do have separate issue for, such as the metadata idea) otherwise.

[2021-03-08 17:26] amgads opened #2231 "Is glusterfs-libs and others removed from releases 8.x and 9.x?"
**Description of problem:**
Upgrading from release 7.8 to 8.3, found that glusterfs-libs is missing from the CentOS repo.
Is that a change in glusterfs?

I ran "yum -y install" for clients using  glusterfs-fuse and glusterfs-libs, but failed because glusterfs-libs doesn't exist

Also when installed the server, ended up with two sets of rpms

glusterfs-libs-7.8-1.7.70.el7_9.x86_64
glusterfs-fuse-7.

[2021-03-08 17:37] xhernandez opened #2232 ""Invalid argument" when reading a directory with gfapi"
**Description of problem:**

When using the following code, an invalid argument may be returned by `glfs_xreaddirplus_r()`:

[code]

**The exact command to reproduce the issue**:

Run the above code when there's a `.glusterfs-anonymous-inode-xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx` directory entry on the bricks.

**The full output of the command that failed**:

[code]

**Expected results:**

It shoul

[2021-03-08 18:18] MarvinTO commented on #2210
Thank you @mohit84. I've validated that enabling IO encryption solves the issue. Btw, you mentioned it is already fixed in master branch. What release version includes this fix?

[2021-03-08 18:27] amgads commented on #2231
I see now libglusterfs0-8.3-1.el7.x86_64 is probably replacing the "glusterfs-libs" and I have to only use "glusterfs-fuse" to either install or upgrade.

But for the server, when I used install "glusterfs-server" as I do all the time, I see the replication of the rpms between 7.8 and 8.3.
Any suggestion rpms to use to install or upgrade the server to 8.3, assuming there's a 7.8 exiting rpms

[2021-03-08 18:39] Nottt commented on #1206
Any news on this? I'm still looking for a way to cache glusterfs locally on the clients

[2021-03-08 18:50] vnosov-sf opened #2234 "Segmentation fault in directory quota daemon for replicated volume with thin-arbiter."
Description: Create replicated volume with enabled thin arbiter on GlusterFS 8.3 pool of two nodes. Enable directory quota on the volume. Use FUSE mount to create directory on the volume. Set hard limit on the directory. Create file in the directory. Append file. Quota daemons hit segmentation fault on both nodes.

Exact commands to reproduce the issue:
[Quota bug in 8.3.txt](https://github.com/gl

[2021-03-08 21:04] xhernandez commented on #2206
In that version it should be enabled by default. Can you attach the statedump ?

[2021-03-08 21:22] xhernandez commented on #2211
Can you check to what thread belongs pid 78752 on server fsc01 ? (note that the pid references a thread, not a process. `ps -eLF` can help)

If you find it, can you check what it's doing ? for example using strace.

[2021-03-08 23:24] #2232 closed, assigned to nobody

[2021-03-09 00:08] altaloma commented on #2211
That thread/process isn't running according to ps -eLF

find /proc | grep 78752 = nothing

On Mon, 2021-03-08 at 13:22 -0800, Xavi Hernandez wrote:

Can you check to what thread belongs pid 78752 on server fsc01 ? (note that the pid references a thread, not a process. ps -eLF can help)

If you find it, can you check what it's doing ? for example using strace.

—
You are receiving this because you

[2021-03-09 01:29] bkienker commented on #2226
Hi Ravi, thanks for your response.

I have disabled `cluster.eager-lock` and files are still showing up in `gluster volume heal ssd-san info` but I'll keep checking.

The files in `gluster volume heal ssd-san info` seem to change every time I run the command, so I grabbed a handful to check, and I see all of the example files on all three of my hosts, e.g.:

[code]

[2021-03-09 02:39] sktzwhj opened #2235 "Bad metadata performance with Lustre backend"
**Description of problem:**
We are using glusterfs with Lustre as the backend. However, we found the metadata performance evaluated with mdtest was very low. To compare, we also used the local ext4 file system and /dev/shm as the backend, both returned reasonable performance.  Are there any known problems with connecting to Lustre?

**The exact command to reproduce the issue**:
Create a Lustre fil

[2021-03-09 04:47] amgads commented on #2231
I think I'll close the issue, I can see that 8.x has 2 new rpms "libglusterfs0" and "libglusterd0" replacing glusterfs-libs and glusterfs-api:

glusterfs-cli-8.3-1.el7.x86_64
glusterfs-server-8.3-1.el7.x86_64
glusterfs-client-xlators-8.3-1.el7.x86_64
libglusterd0-8.3-1.el7.x86_64
glusterfs-fuse-8.3-1.el7.x86_64
libglusterfs0-8.3-1.el7.x86_64
glusterfs-8.3-1.el7.x86_64

[2021-03-09 04:47] #2231 closed, assigned to nobody

[2021-03-09 05:09] itisravi commented on #2226
Hi @bkienker , if the files are different each time and these files are present in all 3 bricks, then its likely that there is some failure  between the client(s) and the bricks resulting in new heals. If you see  'performing xxx selfheal' and 'Completed xxx selfheal' messages in the glustershd.logs of the nodes, then heal is progressing but you need to check why the backlog keeps increasing. Perh

[2021-03-09 05:11] vh05 commented on #2235
Lustre stores metadata on a separate node i.e on MDT.
For lustre, accessing the file means
1. access the metadata from MDT, gather striping details, hold the LDLM lock over the stipes/object
2. access the required object on the OST.

In the case of glusterfs, it does not have any separate arrangement for metadata like MDT. The file details are fetched by DHT as it knows where the file is located w

[2021-03-09 06:16] fei922 opened #2236 "heketi-cli cannot get the correct glusterfs storage value"
### Kind of issue

### Observed behavior
By executing the'heketi-cli topology info' command, you can see that the storage node has two disks vdc and vdd, and the available space is 0, but by calculating the size of the bricks, the storage only uses about 180G, why there is still space left , But it prompts that there is no more space available？

`
heketi-cli topology info
Cluster Id: b45429a01e18f

[2021-03-09 06:19] fei922 opened #2237 "heketi-cli cannot get the correct glusterfs storage value"
### Kind of issue

### Observed behavior
By executing the'heketi-cli topology info' command, you can see that the storage node has two disks vdc and vdd, and the available space is 0, but by calculating the size of the bricks, the storage only uses about 180G, why there is still space left , But it prompts that there is no more space available？

`
heketi-cli topology info
Cluster Id: b45429a01e18f

[2021-03-09 07:37] sktzwhj commented on #2235
@VHariharmath-rh Thanks for your reply. We are using glusterfs trying to reduce the number of clients for Lustre in large-scale systems. In my case, Lustre does not seem to be the metadata bottleneck as the mdtest against it without glusterfs in the middle returns a reasonable score.

[2021-03-09 10:03] vh05 commented on #2235
I have not tried this combination though.

Could you please share
1.  `gluster volume info`?
2. mdtest results with `gluster + lustre` and `gluster + blockstorage`

Meanwhile you can also check this [page](https://docs.gluster.org/en/latest/Administrator-Guide/Performance-Tuning/) for performance tuning

[2021-03-09 10:30] amarts commented on #2197
Yes, it is 'structured' data. Because the format is well defined, and it has to support above properties.

Using existing is ideal. I don't think someone can afford time for writing another database implementation! But as we haven't started any work on this, open to suggestions :-)

[2021-03-09 10:49] aravindavk commented on #2237
Duplicate of #2236

[2021-03-09 10:49] #2237 closed, assigned to nobody

[2021-03-09 11:00] aravindavk commented on #2236
Storage utilization and available free space information is maintained outside the GlusterFS layer that is in Heketi db. Please check with https://github.com/heketi/heketi developers to resync the Db from actual values.

[2021-03-09 12:13] xhernandez commented on #2197
I'm not sure if we really need all the database features. I fear that adding a database-like approach could be overkill (to start with, how will we use a database library from client side without a filesystem ? will we need to hook all filesystem accesses done by the library to access its files ? how internal lock management will work when it's used with other clients ?)

The data we need to keep

[2021-03-09 12:31] pranithk commented on #2197
@xhernandez As per my recent understanding of crawling on a disk filesystem, this feature will improve performance of readdirp only when a directory has < 128KB of data per brick which can be responded to the user.
- Directory with lots of directories
- Directory with very less number of files.

So IMO the main reason to implement this should be consistency when a node goes down.

[2021-03-09 12:36] #1343 closed

[2021-03-09 13:09] xhernandez commented on #2197
Why ?

We can easily fit 4000 entries (it depends on the length of file names, though) in a single 128 KiB disk block. This means that we can serve them to the user with a single backend request, even if it takes more that one request to send them through fuse.

That's not the main reason to me. What we need to be sure is that we don't return bad/stale data, but if the data gets corrupted or out o

[2021-03-09 13:14] pranithk commented on #2106
@perrynzhou Recently on one of our volumes with 15 million files we did a crawl and stat directly on the disk filesystem. It took 2.5 days. Please note, no glusterfs is involved when we did this. I think the issue is number of files in the filesystem. I don't think any change in glusterfs will be able to solve this problem of too slow metadata operations. If you want to speed up some metadata oper

[2021-03-09 13:17] mykaul commented on #2197
Ceph is using https://rocksdb.org/ - could be an overkill for Gluster's purposes.

@xhernandez  - without a DB, I'm not sure how you can recover from partial updates, rollback, etc. Even simple files format need maintenance - from compaction, to atomic updates, etc.

[2021-03-09 13:33] pranithk commented on #2197
Let's assume that 128KB can be used to serve `X` files.

What I meant by my previous comment is that this enhancement will show better performance for `readdir` when the directory has less than `dht-subvol-count` * `X` files.

`readdirp` I think is a separate beast because we may have to implement bulk lookup on entries falling on different bricks to reduce the number of network operations to get

[2021-03-09 13:52] xhernandez commented on #2197
The main point here is that this file won't replace the existing filesystem structure (this would require a more drastic change). All files and directories will still be present in the backend filesystem.

This introduces a big problem:

* It's really complex to ensure full consistency of both views (filesystem structure and file contents) at all times.

So why to implement a complex thing if we c

[2021-03-09 14:11] xhernandez commented on #2197
Not really. Even if there are more files, they can be easily read and served from a single subvolume, instead of having to check all subvolumes as it's done now. To read a directory now, you need to open it on all subvolumes (with all the locks and extra overhead needed by other xlators), and cannot read from one subvolume until you have completed the previous one. With a file this is much simpler

[2021-03-09 14:26] pranithk commented on #2197
The requests are sent in parallel. So it is not a contributing factor to latency.

It requires the same number of operations if the data is more than the number I specified earlier. The reason I was stressing on this is, I had different model in my mind until crawl + stat gave very bad performance in practice on our cluster.
- It made me feel readdirp is bad and should be done only when we know it

[2021-03-09 15:08] rkothiya commented on #1206
As per the process you will have to post the patch in the "devel" branch first. Once the patch is accepted and merged there. Then you can port it to Release-8 or Release-9 branch.

Note: The "master" branch is now known as "devel" branch.

[2021-03-09 15:23] amarts commented on #2197
When we did readdirp(), it was mainly tied to md-cache performance. I don't remember having a strong data on the performance numbers due to readdirp migration!

[2021-03-09 16:10] bkienker commented on #2226
Thanks @itisravi -- my Gluster nodes host VM images, so is it possible that the constant write operations are triggering heals?

Looking at the logs, I don't think I really understand what's happening, but this seems bad:

[code]

I see these messages being logged constantly by the client in /var/log/gluster/rhev-data-center-mnt-glusterSD-gluster1.san.my_domain.com:_ssd-san.log

I don't really und

[2021-03-10 00:29] #1879 closed, assigned to nobody

[2021-03-10 05:13] #1764 closed, assigned to nobody

[2021-03-10 07:13] amarts commented on #2235
@sktzwhj a fundamental question:

Why use another layer like lustre on backend? Why not just LVM on to provide RAID if you need it, or else, just a on-disk filesystem as a brick? Would like to understand the usecase better!

[2021-03-10 07:33] pranithk opened #2239 "rebalance crashes in dht on master"
[code]

As per the code, this case happens when unwind happens. So frame ptr can't be trusted. I am going to try the following kind of change in both readdir and readdirp variants and see if it fixes the issue. the case is inconsistent. So will do some runs with the fix before sending the PR out for review.
[code]

[2021-03-10 07:33] pranithk commented on #2239
cc @xhernandez

[2021-03-10 10:10] pranithk opened #2241 "Using readdir instead of readdirp for fix-layout increases performance"
While doing rebalance related work on our cluster, we realized that doing an extra stat on the file has significant performance drop. To confirm this, we wrote a python script that does os.walk() and does os.stat() on each of the files. vs os.walk() alone on the backend filesystem directly i.e. no glusterfs is involved. For a directory hierarchy with 15 million files we found that the time it take

[2021-03-10 10:18] mohit84 commented on #2241
I think we need to measure the scenario when readdirp performs well otherwise we can disable it permanently and use only readdir.

[2021-03-10 13:14] itisravi commented on #2234
@vnosov-sf  With https://github.com/gluster/glusterfs/pull/2244, I was no longer able to crash quotad with the steps mentioned in Quota bug in 8.3.txt.  If you would like to test the patch, you can `wget https://github.com/gluster/glusterfs/pull/2244.patch` and try it out.

Once merged, I'll backport to the release branches and it will appear in the next minor release.

[2021-03-10 15:41] adamsla opened #2245 "Gluster FS Memory Leak CentOS8.3 GluterFS 6.10 - notify_kernel_loop"
**Description of problem:**

Noticed system performance issues with high load on the brick physical and glusterfs mounted volume (both local client/server).

Went an saw that glusterfs was consuming most of the systems memory.  From there went to the /var/log/glusterfs and found the following error 2,175,691 times in last day, and 1.4GB of them from the previous day:

![image](https://user-images.

[2021-03-10 15:49] hostingnuggets commented on #1764
@pranithk yes

[2021-03-10 15:54] adamsla commented on #2245
[glusterdump.6654.dump.1615388715.gz](https://github.com/gluster/glusterfs/files/6117140/glusterdump.6654.dump.1615388715.gz)

[2021-03-10 16:08] adamsla commented on #2245
I moved the services to a new node, and did a umount, and the memory freed up.  I've remounted it.  Should happen in a few more days, maybe on another node.  In the mean time, I've got the dump and a copy of all the logs, including the 1.4GB one.

[2021-03-10 16:42] pranithk commented on #2245
This is fixed in latest versions. Please upgrade to 8.x release, which has this fix.

commit 4801fccf2f4ffe10bb2f3072c9751a0813c3c931
Author: N Balachandran <nbalacha@redhat.com>
Date:   Fri Aug 9 14:34:22 2019 +0530

    fuse: Set limit on invalidate queue size

    If the glusterfs fuse client process is unable to
    process the invalidate requests quickly enough, the
    number of such request

[2021-03-10 16:42] #2245 closed, assigned to nobody

[2021-03-10 16:56] olegkrutov opened #2246 "Massive data corruption on glusterfs volume"
**Description of problem:**

We use gluster volume as datapool for VM virtual disks. We noticed that VMs fail and go unbootable constantly. I created simple test that creates files on gluster volume mountpoint, fills it with random data, calculates md5 hash of data, and then reads files back, checks md5 hashes of these files and deletes it. It turned out that when data is writing, reading and dele

[2021-03-10 16:59] pranithk commented on #2246
@olegkrutov This is not the correct configuration for sharded volumes.

Please use the configuration from virt-profile.

[2021-03-10 17:01] pranithk commented on #2246
I believe the command is:
#gluster volume set VOLNAME group virt

[2021-03-10 17:17] olegkrutov commented on #2246
Thank you for your reply. I added 2 bricks for replication and issued this command. But -- the same errors...

[2021-03-10 17:20] olegkrutov commented on #2246
Now volume config looks like:

[code]

[2021-03-10 19:07] adamsla commented on #2245
Yea, thanks @pranithk, I attempted 9, but there was a locking issue.  After altering the repo file, I was able to upgrade to 8 no problem.  One node at a time.

[2021-03-10 19:07] adamsla commented on #2245
I saw that I was on a deprecated version and was like, yea, bad idea.

[2021-03-11 00:44] pranithk commented on #2246
@olegkrutov Could you give the exact commands you are executing on the terminal to recreate the case? Also please attach the program used for writing/md5sum/reading so that I can recreate the exact issue.

[2021-03-11 01:14] pranithk commented on #2246
@olegkrutov I am seeing some code in readdir(p) code path which may cause issues. I am guessing this issue wouldn't happen if there is no ls -l executing in parallel?

[2021-03-11 01:44] perrynzhou opened #2247 "storage.reserve not works on glusterfs 7.2"
@mohit84 @xhernandez @amarts @BarakSason @mohit84 @tshacked @csabahenk @pranithk  when i enable storage.reserve ,that still write full to brick.

- gluster version

[code]
- node info

[code]
- volume info

[code]

[2021-03-11 01:45] vnosov-sf commented on #2234
Patch #2244 was applied to system where the bug was discovered initially. Testing show that directory quotas are operational and quota daemons are not crashing. Thanks for fixing the problem!

[2021-03-11 02:46] perrynzhou opened #2248 "when disk for brick is full,that need to print log"
@mohit84 @xhernandez @amarts @BarakSason @mohit84 @tshacked @csabahenk @pranithk  when posix_disk_space_check check disk,if disk is full,there is no any logs,we don't know disk is full.so i think we should print log in posix_disk_space_check function.

[code]

[2021-03-11 02:53] mohit84 commented on #2248
The macro(DISK_SPACE_CHECK_AND_GOTO) throw a debug message as it faces disk is full for external client while a posix xlator process any fop that change on disk.

[2021-03-11 02:54] fei922 commented on #2236
Yes, it is solved by executing the'heketi-cli device resync <deviceId>' command

[2021-03-11 02:54] #2236 closed, assigned to nobody

[2021-03-11 02:56] perrynzhou commented on #2248
@mohit84  i saw it,but we never open debug log level in prod.because too many debug info in log file

[2021-03-11 03:03] mohit84 commented on #2248
The macro sets an error code ENOSPC and op_ret to -1 and server xlator callback function throws an info message on the basis of op_ret value so we don;t need to put any message specific to space failure.

[2021-03-11 03:03] perrynzhou opened #2249 "posix_disk_space_check bug in glusterfs release 7"
@mohit84 @xhernandez @amarts @BarakSason @mohit84 @tshacked @csabahenk @pranithk    logic is wrong in posix_disk_space_check furnction. `totsz ` is not init befor call sys_statvfs

- doubt or bug in posix_disk_space_check
[code]
- posix_disk_space_check impl
[code]

[2021-03-11 03:35] #2239 closed, assigned to pranithk

[2021-03-11 09:58] schaffung opened #2250 "Glusterfs Log analysis and monitoring"
A stub for tracking the following

- [ ]  Monitoring the glusterfs and system parameters. We do have multiple solutions for Glusterfs dashboard but either there's too much resource consumption or locking issues coming into picture.
- [ ] Log analysis to predict failure scenarios.

[2021-03-11 10:51] aspandey opened #2251 "Improve heal performance"
Currently we are healing complete files even if write fails on a smaller portion of a file.
We need to find a way to maintain offset and length of the write fop failed on a file so that we can heal only that part of the file.

[2021-03-11 10:55] itisravi commented on #2251
Please also see https://github.com/gluster/glusterfs/issues/288

[2021-03-11 11:59] msaju opened #2252 "Gluster Release 10.0 - Planned Feature list"
This issue is intended to receive updates for all the enhancements/improvements being proposed to be included in release 10.0.

Release Deadlines:
**Code Freeze :** 20-Aug-2021
**RC :** 31-Aug-2021
**GA :** 10-Sept-2020

- [ ] runner: moving to posix_spawnp instead of fork  #2146
- [ ] Unified performance xlator #218
- [ ] Implement an common I/O framework #2123
- [ ] Improve directory access #219

[2021-03-11 12:21] olegkrutov commented on #2246
I'd say yes.
Without ls:
Time elapsed: 633 sec Files generated: 212 Hash errors: 0 Size errors: 0
With ls:
Time elapsed: 624 sec Files generated: 219 Hash errors: 79 Size errors: 79

[2021-03-11 12:31] pranithk commented on #2246
Great! If you could send the exact commands/program you used to recreate the issue, that would be helpful.

[2021-03-11 12:42] olegkrutov commented on #2246
I created 3 VMs (2CPUs of host model, 2000Mb RAM) with debian testing and 2 vdisks (second may be couple GBs size for bricks). Installed zfs, gluster, tmux on it.

On second disk of every VM I create a zpool (it doesn't matter, if this is ext4, problem still present but with ZFS it's much more often)
Creating cluster of 3 VMs
creating volume testvol with replica 3 with bricks on top of these zpool

[2021-03-11 14:48] rposts commented on #2178
Problem appears to happen when running local DNS server. This is still a problem but closing due to lack of response on the issue.

[2021-03-11 14:48] #2178 closed, assigned to nobody

[2021-03-11 15:31] vianett-zz commented on #2027
We have experienced this issue again, removed file is stuck in unlink directory, today is the 7th day.

According to statedump, there are inode locks:

    [conn.0.bound_xl.BRICK_NAME_REMOVED.active.5]
    gfid=dd15bfc7-6a63-497f-8e87-e276c1e193a8
    nlookup=0
    fd-count=0
    active-fd-count=0
    ref=3
    invalidate-sent=0
    ia_type=1
    ref_by_xl:.BRICK_NAME_REMOVED-locks=2
    ref_by_xl

[2021-03-11 15:33] opinionhuh commented on #2027
We have experienced this issue again, removed file is stuck in unlink directory, today is the 7th day.

According to statedump, there are inode locks:

    [conn.0.bound_xl.BRICK_NAME_REMOVED.active.5]
    gfid=dd15bfc7-6a63-497f-8e87-e276c1e193a8
    nlookup=0
    fd-count=0
    active-fd-count=0
    ref=3
    invalidate-sent=0
    ia_type=1
    ref_by_xl:.BRICK_NAME_REMOVED-locks=2
    ref_by_xl

[2021-03-11 16:28] xhernandez commented on #2239
Will you backport this to release 8 and 9 ?

[2021-03-11 16:46] xhernandez commented on #2211
This seems related to #2027 and #2198. I've seen this issue (at least a very similar one) in some cases, but it's very hard to investigate because it happens very rarely.

In your case, are you able to reproduce it frequently ? if so I would like to investigate this further. Is this a production environment or is it possible to run some intrusive tests ?

[2021-03-11 16:57] xhernandez commented on #2027
It seems related to #2027 and #2198. In all cases there are inodelk held for a long time from one client. I'm trying to investigate this but so far it's hard to reproduce and I haven't found anything useful.

In your case, do you know the sequence of operations done to that file before getting locked ?

The ACTIVE inodelk shows the time at what the lock was granted (2021-03-05 20:11:40). I guess y

[2021-03-11 17:05] xhernandez commented on #2027
Sorry, I meant #2198 and #2211

[2021-03-11 17:06] xhernandez commented on #2211
As a workaround, you can disable eager-locking:

    # gluster volume set <volname> cluster.eager-lock off

[2021-03-12 03:14] bkienker commented on #2226
Well, due to a power issue, I had to bring down my entire setup and bring it back up again, which gave me the opportunity to try this again.

Once everything was back up, all Gluster hosts (predictably) showed no files pending heal, so I tried to see if I could test HA.

Here's the order of events:
1. Confirm no files pending heal
2. Confirm all volumes and bricks are online
3. Reboot node 2
4. `g

[2021-03-12 03:59] pranithk commented on #2239
@xhernandez I didn't see the patch that introduced this bug in release branches. I just checked after doing git fetch. It still doesn't seem to have them. Maybe I missed something. Let me know.

[2021-03-12 04:21] pranithk commented on #2226
@bkienker Sorry for the delay in response. I think, the issue is not healing. Issue most probably is with the way underlying disk filesystems are setup. If my understanding is correct, the VM files keep on getting healed because writes to bricks keep on failing.

The following log caught my eye:
[code]

Could you check if this Invalid argument errors are appearing in the brick log of the first bri

[2021-03-12 04:32] bkienker commented on #2226
@pranithk no problem at all, I really appreciate your help, I don't think I could fix this without your assistance!

I'm seeing messages like the one you mentioned frequently in the brick logs:

[code]

Such as:

[code]

Here is the file system information:

[code]

[2021-03-12 04:49] itisravi commented on #2226
@pranithk If the writes fail on all bricks, then there should be no heal backlog no? (Unless some of the bricks' filesystems have the right block size and some don't)

[2021-03-12 06:17] pranithk commented on #2226
dirty flag will be set even in failures, which will lead to a heal.

[2021-03-12 06:26] pranithk commented on #2226
@bkienker Could you do a tcpdump to get rpc call information to find size of the write which leads to failure? Just to make sure our hypothesis is correct. Block size on your fs is 4k. If writes are coming with 512 bytes then we can confirm the issue.

[2021-03-12 08:19] opinionhuh commented on #2027
@xhernandez Good that this issue is known, unfortunately I don't know what operations were being performed at the time, I will try to find this out.

[2021-03-12 09:27] xhernandez opened #2253 "Disable lookup-optimize by default in the virt group"
The problem described in #1918 seems to also happen in other circumstances. The only safe way to avoid that problem is to disable lookup-optimize when sharding is also enabled. Given that sharding is mostly used for virtualization and lookup-optimize has a minimal effect on those environments, I propose to disable lookup-optimize by default on virt group.

[2021-03-12 10:29] xhernandez commented on #2239
Oh, you are right, the PR are not merged yet (#2193 adn #2194).

@pranithk I'll add your patch as an additional commit to the already open PR if you are ok.

[2021-03-12 10:31] pranithk commented on #2239
That would be welcome :-)

[2021-03-12 10:52] xhernandez commented on #2239
Updated. Thanks !!!

[2021-03-12 10:58] pranithk commented on #2239
Glad we were able to find this before the release!

[2021-03-12 11:01] xhernandez commented on #2239
Absolutely. Thank you very much.

[2021-03-12 11:08] martiinezz opened #2255 "GPG pub key not found"
**Description of problem:**

Unable to get rsa.pub from location provided at:

https://download.gluster.org/pub/gluster/glusterfs/LATEST/Debian/

![image](https://user-images.githubusercontent.com/19732099/110932327-a03b3800-832b-11eb-8bb6-95e75883ae5d.png)

Tried to find this file manually on this website but no success :(

[2021-03-12 14:11] perrynzhou commented on #2197
@pranithk @amarts @mohit84 is sure used database to improve performance for  dir operation?is any document for this design?

[2021-03-12 14:14] perrynzhou commented on #2250
@srijan-sivakumar did provide dashboard for glustefs monitor in next release,just like ceph dashboard?

[2021-03-12 16:54] bkienker commented on #2226
@pranithk absolutely, it is attached:

[gluster.pcap.tar.gz](https://github.com/gluster/glusterfs/files/6131585/gluster.pcap.tar.gz)

Gluster2 node is 10.0.4.7
VM Host gluster client is 10.0.4.5

[2021-03-12 17:22] schaffung commented on #2250
Hi @perrynzhou , the agenda is to look into the existing dashboards like Prometheus and see how it can be improved and if the debt in solving them is too complex, a new way of collecting metrics and aggregating them will be devised.

Will be happy to hear some feedback on existing solutions so that they can be incorporated in the planned dashboard.

[2021-03-12 23:25] pranithk commented on #2226
@bkienker Could you capture tcpdump from 10.0.4.5? It didn't have any packets that failed I/O. I am also seeing that the 'call' packets are all shown as malformed :-(.

[2021-03-12 23:30] pranithk commented on #2226
Let it capture data to all the bricks.

[2021-03-13 00:03] bkienker commented on #2226
Certainly -- what I've done is run two more captures of all traffic from the Gluster client at 10.0.4.5 to gluster2 at 10.0.4.7. The first is from the cluster in the same state as the previous capture, where zero files show healing:
[gluster.pcap.tar.gz](https://github.com/gluster/glusterfs/files/6133709/gluster.pcap.tar.gz)

Then I recreated the indefinite healing conditions by rebooting gluster1

[2021-03-13 00:46] pranithk commented on #2226
@bkienker For some reason the call path packets say they are malformed. But from the info I gathered I think there is a write with 1 byte. Which is odd, I have never seen such a case before in VM usecase. We need to find where this write is coming from. How many VMs do you have? Is it possible to strace the VM process that is writing to glusterfs volume's VM image? That can give clues about what c

[2021-03-13 02:22] perrynzhou opened #2256 "some doubts about glusterfs storage"
@mohit84 @xhernandez @amarts @BarakSason @mohit84 @tshacked @csabahenk @pranithk l has some doubt a bout glusterfs .

- Will the glusterfs community always maintain in the future?
- Will cephfs replace glusterfs in Red Hat in the future?
- What is the difference between glustefs dev branch and master branch?
- Red Hat's gluster storage is currently being updated slowly. What is the reason?

[2021-03-13 02:29] pranithk commented on #2256
@perrynzhou This is not a bug/feature request. Please open it as a discussion.

[2021-03-13 02:29] #2256 closed, assigned to nobody

[2021-03-13 02:33] pranithk commented on #2241
Completed changes suggested by Xavi.
When d_type is DT_UNKNOWN on the brick, READDIR goes up from 7.5% to 10.2%
When d_type is DT_UNKNOWN on the client. Lookups increase from around 200k to 1M as the type info is not available, the client will keep doing Lookups on all the entries to know the type.

[code]

When d_type is DT_UNKNOWN on the brick.

[code]

When d_type is DT_UNKNOWN on the client.

[2021-03-13 02:44] altaloma commented on #2211
Thanks.

I would imagine this feature is to improve performance so turning off is going to make things slower?

Directory lookups on this system are already painfully slow although I suppose locking doesn't have much to do with that.

On Thu, 2021-03-11 at 09:06 -0800, Xavi Hernandez wrote:

As a workaround, you can disable eager-locking:

# gluster volume set <volname> cluster.eager-lock off

—
Y

[2021-03-13 02:55] pranithk commented on #2256
https://github.com/gluster/glusterfs/discussions/2257 - has this discussion now.

[2021-03-13 04:31] bkienker commented on #2226
I have 10 VMs running on my oVirt cluster. All of them have virtual disks on this Gluster volume.

Absolutely, here is a brief strace on the qemu PID running one of the VMs. I tried to keep it brief, but did create a new non-empty file on the VM's disk to ensure there was some write operation to the Gluster volume. Gluster logs from the hypervisor from the same time frame are included below.
[vm_t

[2021-03-13 04:40] pranithk commented on #2226
I don't think qemu does I/O on glusterfs. It would be some other process. Strace only writes that are 8 bytes long, so definitely not the process we are looking for.

[2021-03-13 05:07] bkienker commented on #2226
Sorry about that -- I spent some time looking for processes accessing the VM images on the gluster mount on the hypervisor itself, and I only see qemu performing any operations on them. I'll keep looking and get back to you.

[2021-03-13 07:30] pranithk opened #2258 "Provide option to disable fsync in data migration"
At the moment dht rebalance doesn't give any option to disable fsync
    after data migration. Making this an option would give admins take
    responsibility of data in a way that is suitable for their cluster.
    Default value is still 'on', so that the behavior is intact for people
    who don't care about this.

    For example: If the data that is going to be migrated is already backed
    u

[2021-03-13 11:12] chenglin130 opened #2260 "failed to list quota info after setting limit-usage"
**Description of problem:**
1. create and start a 3 replica VOL on empty directry
2. set quota enable
3. set quota limit-usage
4. quota list

then, failed to list quota info after setting limit-usage.

**The exact command to reproduce the issue**:
[code]
**The full output of the command that failed**:
<details>

[code]
**Expected results:**
<details>

[code]
[root@glst-srv-1 quota]#

**Mandatory i

[2021-03-14 04:38] perrynzhou opened #2262 "glusterfs geo-replication should cancel the replication of different volumes sync data"
@mohit84 @xhernandez @amarts @BarakSason @mohit84 @tshacked @csabahenk @pranithk glusterfs geo-replication should cancel  limition for the sync  of different volumes(ec volume to replica volume、 distribute volume to ec volume、replica volume to distribute). if target capacity  is bigger than source capacity ,wen sync data between diff types volume.Because there may be synchronized data between diff

[2021-03-14 05:58] 0byt3 opened #2263 "Error when creating volume: Found duplicate exports"
**Description of problem:**
I receive the following error when trying to create a gluster volume:

**The exact command to reproduce the issue**:
`gluster volume create oengine replica 2 "ovirt1.storage:/gluster/bricks/data/vmstore" "ovirt1.storage:/gluster/bricks/data/vmstore"`

**The full output of the command that failed**:

**Expected results:**
Success

**Mandatory info:**
**- The output of th

[2021-03-14 07:06] pranithk commented on #2262
cc @aravindavk

[2021-03-14 07:10] pranithk commented on #2263
@0byt3 replica2 needs two different bricks. You gave same `brick` i.e. `ovirt1.storage:/gluster/bricks/data/vmstore` for both. This is not allowed. So the command is working as expected. Closing the issue.

[2021-03-14 07:10] #2263 closed, assigned to nobody

[2021-03-14 07:58] #2248 closed, assigned to nobody

[2021-03-14 07:59] pranithk commented on #2248
It looks like the query is answered. Closing the issue.

[2021-03-15 11:35] olegkrutov commented on #2246
@pranithk BTW, disabling sharding solves a problem. But of course it is highly uncomfortable on distributed volumes...

[2021-03-15 11:38] pranithk commented on #2246
@VHariharmath-rh Do you want a crack at this?

[2021-03-16 03:07] slesru commented on #1443
Well, afaik problem is still here..

[2021-03-16 03:58] satyaranjanp opened #2266 "File inconsistency issue with glusterfs pvc on kubernetes deployed on CentOS 8"
**Description of problem:**
Schema.DETS file becomes inconsistent on rabbitmq pod when glusterfs pvc is being used as volume on kubernetes cluster on CentOS 8.
This issue does not appear with k8s on CentOS 7.
Also, I am not seeing the issue when using hostpath of nfs volumes for the rabbitmq pod on k8s on CentOS 8.

**The exact command to reproduce the issue**:
This issue appears when rabbitmq pod

[2021-03-16 04:05] mohit84 commented on #2210
@MarvinTO It will be available in next build of release-8

[2021-03-16 06:44] fei922 opened #2267 "Why the brick log file grows indefinitely"
**Description of problem:**
The log file of glusterfs bricks grows indefinitely, which causes the system disk storage resources to be exhausted and new persistent volumes cannot be created. Why does the bricks log file grow indefinitely?
![image](https://user-images.githubusercontent.com/9672023/111265785-9899cd00-8664-11eb-8249-ea29fcf20e77.png)

**Expected results:**
What configuration can limit

[2021-03-16 08:09] mykaul opened #2268 "dht_layout_unref() only uses 'this' to check that 'this->private' is not null, but is not using it at all."
I wonder if it's actually needed.

[code]

If you remove it, you can also cleanup dht_local_wipe(), since it's only passing 'this' to call dht_layout_unref() above.
This in turn will allow cleaning DHT_STACK_UNWIND and DHT_STACK_DESTROY macros

[2021-03-16 09:18] xhernandez commented on #2211
In replicated volumes, eager-locking is only used for reads and writes on regular files. It shouldn't have any effect on directory accesses.

Disabling eager-locking could reduce performance, but it depends on the size of the files and how are they accessed. You can try disabling it and see if performance is acceptable. If it's, you can see if this really prevents the issue. Otherwise we'll need t

[2021-03-16 12:36] rkothiya commented on #1600
In the experiments done by printing the logs with priv->uuid and MY_UUID both were same, hence concluded that this function was not the very first MYUUID evaluation.

[2021-03-17 06:26] vh05 commented on #2246
@olegkrutov @pranithk
Recently @xhernandez proposed a [patch](https://github.com/gluster/glusterfs/pull/2254/commits/168a48b9a503b87a6db0f707b38ef13fed445849) for group Ovirt settings while addressing a corruption issue.

According to the patch, lookup_optimize has been disabled by default. It has been identified that lookup-optimize causes issues when `shard=ON`.  Disable the lookup-optimize on y

[2021-03-17 06:29] pranithk commented on #2246
@VHariharmath-rh That won't be the case here as the there is only 1 dht subovolume. The issue is most probably in shard_readdirp() code path.

[2021-03-17 08:39] schaffung opened #2271 "Fixing existing shellcheck failures"
With the addition of `shellcheck` in the CI, it is seen that we have some failures.

Most of the fixes are trivial, mostly usage of ${} instead of backticks and usage of double quotes around expression.

[2021-03-17 09:59] #2253 closed, assigned to nobody

[2021-03-17 12:42] olegkrutov commented on #2246
@VHariharmath-rh I tried to do so but this did not help.

[2021-03-17 12:46] kalebskeithley opened #2276 "Ganesha resource agents"
**Description of problem:**
Ken Gaillot writes in an email:

One issue we saw in the recent bz is that the agents use $(hostname -s)
as the node name when calling crm_attribute, but this is not guaranteed
to be the same. Thankfully ocf-shellfuncs provides a function
ocf_local_nodename to get the name used by the cluster.

Also, using both attrd_updater and crm_attribute poses some issues.
There ar

[2021-03-17 13:18] vh05 commented on #2246
Yeah, That's not the case. The issue appears when we run `watch ls -l `and script in parallel. Checking `shard_readdirp` for a possible race

[2021-03-17 13:59] kalebskeithley opened #2278 "nfs-ganesha does not start due to shared storage not ready, but returns 0 as success"
**Description of problem:**

add defensive logic to ganesha-ha.sh to ensure that shared-storage has been mounted.

**The exact command to reproduce the issue**:

**The full output of the command that failed**:
<details>

**Expected results:**
<details>

**Mandatory info:**
**- The output of the `gluster volume info` command**:

**- The output of the `gluster volume status` command**:

**- The outp

[2021-03-17 15:11] #2234 closed, assigned to itisravi

[2021-03-18 08:56] #1417 closed

[2021-03-18 13:01] opinionhuh opened #2281 "Adding new brick can cause gluster crash"
**Description of problem:**
Configuring new peer and adding bricks causes gluster crash. Usually a couple of bricks for volumes are created successfully before add-brick command fails. This issue is hard to reproduce, one time, out of 32 times configurations, 2 failed when testing using GlusterFS version 8.2. Second time the 64th configuration failed (GlusterFS 8.4)

When this crash happened, I tr

[2021-03-18 14:27] sunnyku commented on #1250
The patch referencing this issue has been merged closing this PR.

[2021-03-18 14:27] #1250 closed

[2021-03-18 15:56] ESNewmanium opened #2284 "GlusterFS FUSE Clients Stalling or Crashing with "Assertion failed: inode_lookup >= nlookup""
**Description of problem:**
We have around 200 gluster clients using the FUSE driver to mount two gluster bricks each. We've been seeing crashes of random clients once every week or two and frequently this error message on client near the time of the crash:
[code]
From another client:
```[2021-03-15 23:06:39.551311] E [inode.c:726:inode_forget_atomic] (-->/usr/lib64/glusterfs/7.9/xlator/mount/fuse

[2021-03-18 16:40] dit101 opened #2285 "Input/output error opening file after storage went offline"
**Description of problem:**
We have a 3 node cluster and using a distributed dispersed volume. It tolerates one node failure.  Was testing failover and shutdown one node while clients were writing to a file. The client recovered. I shut down a second node and the cluster was taken offline as expected so the storage was no longer available. I've since brought it back online but the file I was testi

[2021-03-18 16:56] dit101 commented on #2285
attaching logs
[glusterc1_logs.tar.gz](https://github.com/gluster/glusterfs/files/6165829/glusterc1_logs.tar.gz)
[glusterc2_logs.tar.gz](https://github.com/gluster/glusterfs/files/6165830/glusterc2_logs.tar.gz)
[glusters1_logs.tar.gz](https://github.com/gluster/glusterfs/files/6165832/glusters1_logs.tar.gz)
[glusters2_logs.tar.gz](https://github.com/gluster/glusterfs/files/6165833/glusters2_logs.t

[2021-03-18 16:59] dit101 commented on #2285
I noticed there was a mismatch between client and server versions. I've updated the client to match, re-ran the test and didn't have the same issue where the file was corrupted. Not sure if the version mismatch was the reason

[2021-03-19 03:50] NanyinK opened #2286 "Process 8069 (glusterfsd) of user 0 killed by SIGSEGV - dumping core"
**Description of problem:**
This morning our gluster volume was not accessible :
-----------------------------------------------------------
df: /data: Transport endpoint is not connected
-----------------------------------------------------------

When the problem happened, all the 3 gluster nodes are all online.

This is the log in /var/log/message:
----------------------------------------------

[2021-03-19 04:55] pranithk commented on #2285
cc @aspandey As per my understanding we didn't make the changes to automatically recover these files right? At the moment the steps are manual.

[2021-03-19 04:57] pranithk commented on #2284
@ESNewmanium Generally the crashes leave core files. Will it be possible to install debuginfo rpms on one of the clients and attach the core to gdb and post `thread apply all bt` output? It is probably even better if we can get hands on the core file.

[2021-03-19 08:10] NanyinK commented on #2286
Here is the output of coredump :

GNU gdb (GDB) Red Hat Enterprise Linux 7.6.1-114.el7
Copyright (C) 2013 Free Software Foundation, Inc.
License GPLv3+: GNU GPL version 3 or later <http://gnu.org/licenses/gpl.html>
This is free software: you are free to change and redistribute it.
There is NO WARRANTY, to the extent permitted by law.  Type "show copying"
and "show warranty" for details.
This GDB w

[2021-03-19 08:10] anoopcs9 opened #2287 "runner infrastructure fails to provide platfrom independent error code"
**Description of problem:**
runner infrastructure within glusterfs for executing commands does not return expected(same) return code on different platforms.

**The exact command to reproduce the issue**:
Compile and run the following sample program on CentOS 7 and Fedora 33.
[code]
**The full output of the command that failed**:
CentOS 7
[code]

**Expected results:**
[code]

[2021-03-19 08:16] pranithk commented on #2286
6.10 is EOL. Could you please upgrade to one of the latest releases and check if you are still observing this issue?

Could you do debuginfo-install as mentioned in the line above. After that a `thread apply all bt` output would help.

Please note that you are using 6.10 which is EOL. Just want to make sure if this is something that is already fixed or something new.

[2021-03-19 08:38] NanyinK commented on #2286
Hi @pranithk

Thanks for checking in. This is our PROD env, so we need to evaluate, test and make a plan before upgrading.

I have installed the debuginfo packages, and below is the latest output.

Can you please have a look at this :

GNU gdb (GDB) Red Hat Enterprise Linux 7.6.1-114.el7
Copyright (C) 2013 Free Software Foundation, Inc.
License GPLv3+: GNU GPL version 3 or later <http://gnu.org/li

[2021-03-19 09:19] #2258 closed, assigned to nobody

[2021-03-19 09:56] vh05 commented on #2246
@olegkrutov

The issue may be related to the way sharding xlator doing invalidation of inode ctx at client side which may be leading to wrong sized content read and hence resulting hash mismatch between source and destination.

@pranithk just for verification purpose, I commented out `shard_inode_ctx_invalidate()` call in `shard_readdirp() ` (`watch ls -l `) and  `shard_common_stat_cbk()` paths as

[2021-03-19 09:56] Shwetha-Acharya commented on #1766
You need to run the upgrade script https://github.com/gluster/glusterfs/commit/2857fe3fad4d2b30894847088a54b847b88a23b9 to make sure that older directory structure and htime files in v7 were updated as per newer directory structure introduced in v8 in https://review.gluster.org/#/c/glusterfs/+/23733/.

If not run, the search alogorithm during the history crawl will get wrong result. @casasfernando

[2021-03-19 10:02] Shwetha-Acharya commented on #2133
@casasfernando running the upgrade script  2857fe3, should essentially solve the problem of wrong result during the history crawl as mentioned in #1766

[2021-03-19 10:31] cloph commented on #1766
that conversion script didn't help here - could very well be because the initial update was done without awareness of the script/if you already run into the issue the script won't fix the situation.

And even worse: deleting the geo-replication link with reset-sync time also is not enough to fix the problem. I had to reset the changelog.changelog and geo-replication.indexing on the master volume a

[2021-03-19 11:25] cloph opened #2289 "geo-rep: symlinks without target break xsync crawl"
**Description of problem:**
xsync crawl tries to set attributes on a symlink without target ("broken" symlink), and that fails with ENODATA error. While other errors like ENOENT or ESTALE are already ignored/tried once, the ENODATA results in an endless loop that prevents geo-replication to proceed to changelog mode.

somewhat related to issue #1766 (forced me to delete/reset the volume and recrea

[2021-03-19 11:45] #1344 closed

[2021-03-19 11:52] pranithk commented on #2286
Is still says:
Missing separate debuginfos, use: debuginfo-install glusterfs-6.10-1.el7.x86_64 glusterfs-client-xlators-6.10-1.el7.x86_64 glusterfs-fuse-6.10-1.el7.x86_64 glusterfs-libs-6.10-1.el7.x86_64

Could you please install them too and send output of `thread apply all bt full`, please note I added `full` at the end this time.

[2021-03-19 11:53] pranithk commented on #1446
Closing as the info needed for debugging is missing.

[2021-03-19 11:53] #1446 closed

[2021-03-19 13:14] pranithk commented on #2246
@v-harihar Add logs in __shard_get_delta_size_from_inode_ctx() and __shard_inode_ctx_set() where it updates sizes to see what is happening for a file/gfid that showed wrong size. Maybe you should change the python code provided to print the file, size for the file that doesn't have correct size.

[2021-03-19 14:20] dit101 commented on #2285
Just to add I did perform two further tests after upgrading the clients. I can read one of the files but not the other. Let me know if I need manual recovery and what steps I need to follow. Thanks

[2021-03-20 01:09] NanyinK commented on #2286
Hi Pranith,

There are no gluster 6.10debug packages in the debug repo, so I cannot
proceed with them.

can you please investigate with the current info

Pranith Kumar Karampuri ***@***.***>于2021年3月19日 周五下午7:53写道：

--

Nanjing, China

Thanks and regards,

[image: DA_Logo.png] <http://www.digitalalchemy.asia/>

Leon Qin

System Operations

Digital Alchemy (Nanjing) Limited Company

T:+8613337812465

[2021-03-20 02:02] pranithk commented on #2286
I hit a road-block when I did that. That is why I was asking for it. As per the info mutex_lock address is 0x5. Which can only happen if `inode` itself has address 0x5, which can happen if either in the lookup/readdirp's response the address is sent as 0x5. I don't see a code path where it can happen. So want to make sure the address is printed correctly, sometimes `thread apply all bt full` outpu

[2021-03-20 02:38] sktzwhj commented on #2235
We finally find it might be the problem of Lustre. @amarts In our settings, we want to support many clients so we have to have a large-scale backend. Our usage of glusterfs is mostly to give a consistent view of the backend for all clients.

[2021-03-20 02:38] #2235 closed, assigned to nobody

[2021-03-20 11:05] NanyinK commented on #2286
hi @pranithk
Could you please delete the last reply, I accidentally leaked private information, thank you.

[2021-03-20 11:50] kalebskeithley commented on #2286
If you haven't already found them, CentOS Storage SIG debuginfo packages are at [1] and [2] for rhel7/centos7 and rhel8/centos8 respectively.

[1] http://debuginfo.centos.org/centos/7/storage/x86_64/
[2] http://debuginfo.centos.org/centos/8/storage/x86_64/

[2021-03-20 20:07] madmax01 opened #2293 "V9 Gluster RDMA removed?"
Hi Team,

i wanted to look for PVRDMA with Vmware.... and once trying to create volume with rdma > then i cannot start the volume.

was rdma removed from v9 ?

thx

Max

[2021-03-20 20:16] madmax01 commented on #2293
ah found the info.

https://docs.gluster.org/en/latest/Administrator-Guide/RDMA-Transport/

but hows possible to compile for RDMA v2 ?

[2021-03-20 22:16] #1414 closed

[2021-03-20 22:16] #1426 closed

[2021-03-21 13:23] mykaul opened #2294 "dict.c: remove some strlen() calls if using DICT_LIST_IMP"
Following #2013 , we can do the following, that will remove a strlen() call from dict_get(), dict_del(), dict_get_with_ref()

[code]

[2021-03-21 13:24] mykaul commented on #2294
CC @tshacked

[2021-03-22 02:18] NanyinK commented on #2286
Hi @pranithk & @kalebskeithley

I have installed the debug packages and this time there's no "Missing debuginfos".

here's the latest output :

(gdb) thread apply all bt full

Thread 12 (Thread 0x7fc6744a74c0 (LWP 8069)):
#0  0x00007fc672df7f47 in pthread_join (threadid=140490098366208,
    thread_return=thread_return@entry=0x0) at pthread_join.c:90
        _tid = 8098
        _buffer = {__routine

[2021-03-22 04:42] mohit84 commented on #2281
It seems crash is happening in SSL code path(SSL_write) while glusterd is calling SSL_write, are u running add-brick in a loop.
I think after just run an add-brick you should put a sleep(1) if u are running a command in a loop.

[2021-03-22 04:48] #2268 closed, assigned to rkothiya

[2021-03-22 04:49] #2241 closed, assigned to pranithk

[2021-03-22 05:17] bkienker commented on #2226
So I got some help from the oVirt Users mail list, and I want to apologize in advance for this wild goose chase.

It turns out that not all of the FUSE clients were reconnecting properly when my gluster node rebooted. This led to one of the clients only writing to node 1, meaning that node 2 (and then the arbiter) was constantly healing from the changes on node 1.

I resolved the issue by restarti

[2021-03-22 05:17] #2226 closed, assigned to nobody

[2021-03-22 05:46] #2210 closed, assigned to mohit84

[2021-03-22 05:57] pranithk commented on #2286
cc @amarts @xhernandez inode coming from fuse-kernel is not present in glusterfs inode-table. Could be because of a bug in invalidation? Did you guys see any such bug from 6.10 till now?

[2021-03-22 06:16] amarts commented on #2286
Thats because `fh_ino` itself is 'inode_t *' pointer?

[2021-03-22 06:38] pranithk commented on #2286
Yeah, that is my guess. This is 6.10, so wondering if you guys got a chance to fix any such issues.

[2021-03-22 11:34] xhernandez commented on #2286
I don't remember having seen a similar issue.

It seems like the inode has already been destroyed in gluster side. AFAIK, a ref is taken while invalidation is in progress, so it shouldn't cause any issue (if there's no undetected race, of course).

IMO there are 4 possibilities:

1. Race in invalidation (I don't think this alone is enough for the problem, though. At least an unref issue should be

[2021-03-22 21:18] ESNewmanium commented on #2284
@pranithk, appreciate the response. Yes, I can provide the `thread apply all bt` but not sure if I can provide the core itself. Is the output below at all helpful?

[code]

[2021-03-23 00:39] #1430 closed

[2021-03-23 00:39] #1431 closed

[2021-03-23 02:03] pranithk commented on #2284
Duplicate of #2286

[2021-03-23 02:03] #2284 closed, assigned to nobody

[2021-03-23 02:06] pranithk commented on #2286
@xhernandez @amarts bug exists in 7.9 also. Looks definitely like issue in invalidation. One bit of information from #2284 is that the following log appears apparently.

 [2021-03-10 15:58:59.358032] E [inode.c:726:inode_forget_atomic] (-->/usr/lib64/glusterfs/7.9/xlator/mount/fuse.so(+0x8cfa) [0x7fd96f8f6cfa] -->/lib64/libglusterfs.so.0(inode_forget_with_unref+0x29) [0x7fd9785726b9] -->/lib64/lib

[2021-03-23 02:17] pranithk commented on #2286
@ESNewmanium Adding you to this issue

[2021-03-23 02:21] pranithk commented on #2286
@NanyinK @ESNewmanium Could you please let us know more about the usage pattern to see if it leads to any hints about the code path that could be leading to this issue?

[2021-03-23 02:35] NanyinK commented on #2286
Hi @pranithk,

Sure, as we can see via the "gluster volume info", currently I have a gluster volume "/data" with 3 nodes (nodes, a,b,c, and c is the arbiter )

There are 6 servers mounting this "/data" volume ( all are mounting node a )

We met the same error also in June and Sep last year. ( we were using gluster 6.0 at that moment)

From my point of view, we just use it normally, write and read

[2021-03-23 02:55] davidvoisonics commented on #1766
We also have geo-replication broken after an upgrade to from 7.x to 8.4. It keeps going into "faulty" status and gsyncd.log contains lines as below.

Do I understand correctly that it should be fixed by manually running glusterfs-georep-upgrade.py? We use /nodirectwritedata/gluster for the raw GlusterFS data and the volume is gvol0, so would /nodirectwritedata/gluster/gvol0 be the correct brick pa

[2021-03-23 07:37] casasfernando commented on #1766
Thanks for your reply @Shwetha-Acharya.
I followed your advice, downloaded the script to one of the master cluster nodes.
Then I went through the following steps:

1- Remove the replication session as it was already faulty (commands executed successfully):
`sudo gluster volume geo-replication guacamole gfsgeorpl@docker03.homenet.local::guacamole-slave stop`
`sudo gluster volume geo-replication gua

[2021-03-23 08:22] KirbyDE commented on #2133
Running the script did produce an error (It tried to copy files onto itself) and afterwards Geo-Repliction gave the error
`E [resource(worker /redatected/path/to/brick):1312:service_loop] GLUSTER: Changelog History Crawl failed [{error=[Errno 61] Keine Daten verfügbar}]`

Deleting the session, disabling changelog, wiping all changelogs and recreating the session seems to have fixed the issue for m

[2021-03-23 08:26] KirbyDE commented on #1766
@casasfernando
I experienced the same error with the upgrade script.

What did work for me was to delete the session with resetting sync time, disabling changelogs, wiping all data in `.glusterfs/changelogs` and recreating the session afterwards as explained in https://github.com/gluster/glusterfs/issues/1766#issuecomment-802724427

[2021-03-23 08:27] casasfernando commented on #2133
@KirbyDE it seems I hit the same error as you while running the script: https://github.com/gluster/glusterfs/issues/1766#issuecomment-804686946

Can you share more details on how you disabled the changelog and wiped them out? Did you do this manually or through gluster commands?

Thanks

[2021-03-23 08:32] KirbyDE commented on #2133
[code]
https://github.com/gluster/glusterfs/issues/1766#issuecomment-802724427

[2021-03-23 08:40] casasfernando commented on #2133
Thanks a lot for the detailed reply @KirbyDE .

I will try it out and report back.

[2021-03-23 09:11] xhernandez commented on #2286
@NanyinK is this assertion failure also seen in your case ?

[2021-03-23 09:14] xhernandez commented on #2286
@NanyinK @ESNewmanium has the issue happened after some administrative operation, like expanding the volume or changing some option ?

[2021-03-23 09:25] NanyinK commented on #2286
Hi @xhernandez ,

For the assertion failure, I would say, yes, it also appeared in my case.

///

grep "inode_lookup >= nlookup" *
grep: bricks: Is a directory
data.log-20210228:[2021-02-24 14:41:59.231764] E [inode.c:832:inode_forget_atomic] (-->/usr/lib64/glusterfs/6.10/xlator/mount/fuse.so(+0x895a) [0x7fcd6fb8095a] -->/lib64/libglu>/lib64/libglusterfs.so.0(+0x36d6e) [0x7fcd787e2d6e] ) 0-: Asser

[2021-03-23 12:55] opinionhuh commented on #2281
@mohit84 I can try to add sleep in my loop, and run some tests.

[2021-03-23 13:52] ESNewmanium commented on #2286
@pranithk It's tough to say what type of usage pattern was underway when this problem occurred. There are 10s of thousands of files in this brick and this particular process does a little bit of everything (reading, writing, deleting). Is it possible to retrieve which gfid or file was being accessed from the coredump? I might be able to draw some better conclusions if I knew that but I'm not too w

[2021-03-23 17:29] #985 closed

[2021-03-23 20:45] davidvoisonics commented on #1766
@KirbyDE How did you disable the changelogs? Thank you.

[2021-03-23 20:54] casasfernando commented on #2133
After following these steps geo-replication seems to be working fine so far.
I will monitor it for a few days, but I already tried to stop and start replication and it resumes fine.

Thanks @KirbyDE !

PS: @Shwetha-Acharya can you take a look at why the script is failing to run as commented in https://github.com/gluster/glusterfs/issues/1766#issuecomment-804686946 ?

[2021-03-23 20:55] casasfernando commented on #1766
You want to take a look at @KirbyDE 's comment here: https://github.com/gluster/glusterfs/issues/2133#issuecomment-804717675

[2021-03-23 23:15] davidvoisonics commented on #2133
Thanks everyone, those steps seem to have fixed it so far.

Does anyone know when the version of 8.x with a fix for this problem will be released?

[2021-03-23 23:33] csabahenk commented on #2287
run.c went through a major refactor in v10dev (76c8def) by Nikhil, when `fork(2)` was replaced wih `posix_spawnp(3)`.
I performed the following test routine:

- installed glusterfs from current devel checkout (for the record, that's cbdd7dc, but anything from v10dev on will do)
- in _libglusterfs/src_ of the source tree, did  `$ git show v10dev~:libglusterfs/src/run.c > run_fork.c`
- built both va

[2021-03-24 09:22] KirbyDE commented on #2133
I am not a Python expert, but I think the script is designed to be run immediately after an upgrade, eg. without changelogs already existing at the new place.

If it is being run at a later time it will thus fail as it does not handle the case that changelogs are already where they should be with th new scheme.

[2021-03-24 12:59] nik-redhat commented on #2287
Interesting, I haven't checked on an RHEL/CentOS(7) machine, but if that's the case shouldn't the regression also fail? (Just a thought) Or is it because they have the geo-replication package configured/installed so we never saw this error?

[2021-03-25 05:15] anoopcs9 commented on #2287
Most probably, yes. Because we use nightly built GlusterFS devel branch rpms for our CI runs(on CentOS 7) at _samba-integration_. We never used to install geo-replication sub-package on our test nodes and thus encountered the issue.

[2021-03-25 10:14] vh05 commented on #2246
@pranithk I put messages __shard_get_delta_size_from_inode_ctx() and I can see the size is properly gathered and updated to server.

The size that we are getting in "shard_readv" path is problematic. When the inode->ctx requires refresh, sometimes it gets the wrong size. I analyzed the same file during the write path for size update to server and can see the size correctly updated to the server. W

[2021-03-25 10:18] pranithk commented on #2246
I think by the time readv happens, the file size is already updated on the brick. Did you get a chance to also add logs in __shard_inode_ctx_set()? Also check the size based on xattr.

[2021-03-25 12:13] csabahenk commented on #2287
@nik-redhat which test in the suite do you expect to catch this?

[2021-03-25 12:18] nik-redhat commented on #2287
In a few of the checks like a smoke test or regression test, they install gluster and start it, and for which I think all of these tests run on a CentOS 7 machine, isn't that the case?

[2021-03-25 13:39] csabahenk commented on #2287
There is regression testing on CentOS 7, but why do you think the existing test suite would catch this one?

[2021-03-25 13:45] nik-redhat commented on #2287
Because, if those machines didn't have the geo-replication package installed, then the glusterd startup would have failed as reported in the [issue123](https://github.com/gluster/samba-integration/issues/123)

[2021-03-25 13:55] csabahenk commented on #2287
OK so then it might be as you speculate in https://github.com/gluster/glusterfs/issues/2287#issuecomment-805799309, ie. the test machines do have geo-rep installed.

[2021-03-25 16:05] anoopcs9 commented on #2287
Are we consuming nightly built rpms in those tests? I don't think so. See the configure output from a recent regression:
[code]
([here](https://build.gluster.org/job/gh_centos7-regression/1000/consoleFull) is the full console output)

Installation from source will definitely have geo-replication bits present by default in the system. Thus it goes unnoticed.

[2021-03-26 00:50] #2278 closed, assigned to kalebskeithley

[2021-03-26 08:26] vh05 commented on #2246
Yes, I did. It gets wrongly set after the size is fetched from the server before that the inode ctx has the right value.

[code]

On the client-side, I don't see the size updation is going wrong (both in context and while updating to the server). When we fetch the xdata from the server, the size sometimes comes > what client has updated to the server and the delta is in multiples of 128k > the act

[2021-03-26 08:55] fei922 commented on #2267
I have found to rotate logs through logrotate

[2021-03-26 08:55] #2267 closed, assigned to nobody

[2021-03-26 08:59] NanyinK commented on #2286
Hi Everyone,

May I know if we got any luck on this issue?

[2021-03-26 11:53] vh05 commented on #2246
@pranithk As refresh flag is getting set to true quite frequently and leading to inode ctx updation while FOP is in progress. delta size is calculated based on `ctx->stat.ia_size`. When the iattr refresh happens, inode ctx will be updated to older value as a result of a refresh and override the latest size at the client which leads to bigger delta size and leading to bigger size updation at server

[2021-03-26 14:31] amgads opened #2299 "After upgrade from 7.8 to 8.4, volumes failed heal and got "health-check failed, going down" message"
**Description of problem:**
After upgrade from 7.8 to 8.4, some volumes fail heal and cannot recover unless stop/start the volume, One brick was down and found the "health-check failed, going down" in the messages file of the node that has the brick.

**The exact command to reproduce the issue**:
gluster volume heal <vol>

**The full output of the command that failed**:
<details>
[root@csto-ncs-20

[2021-03-26 14:42] amgads commented on #2299
On the server where the volume with an "offline" brick, glusterd showed the following upon upgrade:
[2021-03-26 04:35:53.452379] E [rpc-clnt.c:346:saved_frames_unwind] (--> /lib64/libglusterfs.so.0(_gf_log_callingfn+0x138)[0x7f1de2b19e48] (--> /lib64/libgfrpc.so.0(+0xd1e7)[0x7f1de28c01e7] (--> /lib64/libgfrpc.so.0(+0xd30e)[0x7f1de28c030e] (--> /lib64/libgfrpc.so.0(rpc_clnt_connection_cleanup+0xc3)

[2021-03-26 14:56] amgads commented on #2299
While on the same node the glusterfshd showed the following about the offline brick
[2021-03-26 04:37:28.268082] I [MSGID: 100030] [glusterfsd.c:2689:main] 0-/usr/sbin/glusterfs: Started running version [{arg=/usr/sbin/glusterfs}, {version=8.4}, {cmdlinestr=/usr/sbin/glusterfs -s 172.16.1.7 --volfile-id shd/cbur-glusterfs-backup -p /var/run/gluster/shd/cbur-glusterfs-backup/cbur-glusterfs-backup-s

[2021-03-26 15:16] mohit84 commented on #2299
Can you please share the complete brick logs at the same time?

[2021-03-26 15:31] amgads commented on #2299
The brick log on the the same server is showing:
[2021-03-26 04:36:14.302049] W [socket.c:775:__socket_rwv] 0-tcp.cbur-glusterfs-backup-server: readv on 172.16.1.9:49072 failed (No data available)
[2021-03-26 04:36:14.302080] I [MSGID: 115036] [server.c:501:server_rpc_notify] 0-cbur-glusterfs-backup-server: disconnecting connection from CTX_ID:4425ceb3-2217-4220-84eb-c5caf037f7de-GRAPH_ID:0-PID:24

[2021-03-26 15:32] amgads commented on #2299
Thanks Mohit for quick response -- this is really critical, appreciate your support

[2021-03-26 15:42] mohit84 commented on #2299
Hi,

It's seems there is some issue on the backend brick that's why health check thread is failed, as we can see below the brick process is throwing message with aio_read_cmb_buf tags, it means the timestamp saved on the health check file
is not matching with expected timestamp, the aio_write was not able to write a timestamp in file within timeout limit(20 s) that's why timestamp is not matching

[2021-03-26 15:52] dev-ddoe opened #2300 "ALL ctdb nodes are banned when network outage occurs on one node because recovery lock is still locked on gluster side"
**Description of problem:**
I try to test how behave gluster and CTDB in case of network issue.

I have setup an environment with:
* cluster 3 gluster node. (glusterfs9) volume created using the command
`
gluster volume create gv0 replica 3 gluster1:/export/sdb/brick gluster2:/export/sdb/brick gluster3:/export/sdb/brick
`
* 3 ctdb nodes. the gluster volume is mounted on each node using the followi

[2021-03-26 16:10] amgads commented on #2299
Thanks Mohit:
while checking on the backend, how do I increase the default timestamp(health-check-timeout to 40s? and is that value safe for production?
Regards,
Amgad

[2021-03-26 16:33] mohit84 commented on #2299
Yes, the value is completely safe for production environment, the value is use by only health check thread. It is a maximum timeout limit to complete aio call while write a timestamp on health_check file in brick_root/.glusterfs/health_check.You can configure the value like set other gluster volume option (gluster v set volname health-check-timeout 40).

[2021-03-26 16:42] amgads commented on #2299
Thanks Mohit, will give it a try.

[2021-03-26 17:26] amgads commented on #2299
Increased the timeout and the the same volume had one brick down on a different server this time -- same buf msg
Broadcast message from systemd-journald@csto-ncs-20fp2-control-02 (Fri 2021-03-26 12:05:57 CDT):

data0-glusterfs-cbur-backup[29185]: [2021-03-26 17:05:57.603401] M [MSGID: 113075] [posix-helpers.c:2214:posix_health_check_thread_proc] 0-cbur-glusterfs-backup-cluster-posix: health-check

[2021-03-26 17:27] amgads commented on #2299
Full brick log:

[2021-03-26 08:28:03.398029] I [glusterfsd-mgmt.c:2170:mgmt_getspec_cbk] 0-glusterfs: Received list of available volfile servers: csto-ncs-20fp2-control-01.storage.bcmt:24007 172.16.1.7:24007
[2021-03-26 08:28:03.398122] I [MSGID: 101221] [common-utils.c:3836:gf_set_volfile_server_common] 0-gluster: duplicate entry for volfile-server [{errno=17}, {error=File exists}]
[2021-03-26 0

[2021-03-27 04:46] mohit84 commented on #2299
I think you need to check on backend device, it is heavily used that's why aio call is not finished.If you are sure there is no issue at backend  device you can completely disable the health check thread after configuring health-check-interval to 0.After configure the parameter you have to stop and start the volume.The job of this thread is only to monitor health of the backend device after write

[2021-03-27 10:14] #1977 closed, assigned to karthik-us

[2021-03-27 14:46] amgads commented on #2299
Thanks Mohit. I’ll try both. Disable the Heath check and see if any other issue would surface.. and trying a different backend device

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: mohit84 ***@***.***>
Sent: Friday, March 26, 2021 11:46:55 PM
To: gluster/glusterfs ***@***.***>
Cc: Saleh, Amgad (Nokia - US/Naperville) ***@***.***>; Author ***@***.***>
Subject: Re

[2021-03-27 21:37] #795 closed

[2021-03-27 21:37] #1434 closed

[2021-03-29 01:45] altaloma commented on #2211
I haven't disabled eager-locking yet but we had to reboot one of the Gluster nodes for hardware maintenance. Since the reboot the state dump on that brick server shows no blocked files although they continue to appear in the dump for the second node which wasn't rebooted.

Does restarting the brick server release the lock on a blocked file? Should I restart the server on the second node?

On Tue,

[2021-03-29 05:44] #2129 closed, assigned to aspandey

[2021-03-29 05:56] rkothiya opened #2301 "(glusterfs-9.1)- GlusterFS 9.1 tracker"
Description of problem:
Tracker for the release 9.1

[2021-03-29 09:43] Legogris commented on #1457
not stale

[2021-03-29 11:53] alexporto2200 commented on #2255
Hello
I also had this problem, but with the old version key (8) it worked normally.
I would like to create a pull request for this, but I am not sure where and how to do it.

https://download.gluster.org/pub/gluster/glusterfs/8/rsa.pub

@martiinezz

[2021-03-29 13:37] ESNewmanium commented on #2286
No luck on my end. @pranithk, @xhernandez, is there any further information I could provide that would help? Or next time we have a client hang is there more info that I could collect?

[2021-03-29 21:58] NeuerUser commented on #1239
I actually have the exact same problem. My setup is a bit different, though. Glusterfs is running on two docker hosts. The hosts run a few important services in a HA-like fashion, i.e. when one container goes down docker swarm will start a new container on an available host. The containers bind mount a directory, where the glusterfs is mounted.

As long as the containers run with userns=host, ever