[2021-03-30 02:51] httaotao opened #2303 "after add-brick ,how does glusterfs choose brick to write"
**Description of problem:**
hello everyone, we use `glusterfs7.5`  with heketi  for k8s cluster.  two weeks ago,there was a `replica 3` volume .  we edited pvc that the capacity changed from 2T to 3T, then heketi would used `add-brick` to expand the volume , it became a `2*3 replica `
 volume .  the new brick was 1T size and the old brick was 2T.  By the way, we didn't use `rebalance `common to ba

[2021-03-30 04:40] itisravi commented on #2303
After add-brick, you need to at least perform a fix-layout for the new data to be distributed. For old data, you need to run full rebalance.

[2021-03-30 07:05] casasfernando commented on #2133
Unfortunately after some time (I think it started after restarting one of nodes for upgrade the OS) geo-replication stopped working again. All, except one. The error in the none-working ones is the same for every session:

[code]

[code]

Any ideas?

[2021-03-30 15:33] pranithk commented on #2286
@NanyinK @ESNewmanium Do your workloads involve directory deletions? If yes, was this workload running when this happens?

[2021-03-30 15:44] pranithk commented on #2286
Another help, could you grep for "Assertion failed" and see if any other type of assertion is failing?

[2021-03-30 16:13] pranithk commented on #2286
@xhernandez @amarts Could you help me understand why there is an extra __inode_unref(inode, true) in inode_forget_with_unref()? As per my understanding:
0. inode has refcount 0 and lookup-count N. (i.e. in lru_list)
1. inode_table_prune() selected an inode and marked it for invalidation calls __inode_ref(inode, true)
    - (refcount: 1, invalidate_sent: true, lookup-count N)
2. table->invalidator_

[2021-03-30 17:41] NeuerUser commented on #1239
So, I've compiled the code with all "trusted." references to "user.". Compilation and installation worked fine. A newly setup volume does indeed now show user xattrs.
However, the problem persists. If I start a container in user-remap mode, bind-mount the folder with the gfs on /mnt, I always get "chown: Operation not permitted", e.g.

    / # whoami
    root
    / # touch /mnt/test
    / # ls -l

[2021-03-30 17:45] NeuerUser commented on #1239
Btw, "chmod" as well as removing or renaming files works flawlessly:

    / # chmod 777 /mnt/test
    / # ls -l /mnt
    total 0
    -rwxrwxrwx    1 root     root             0 Mar 30 17:38 test
    / # mv /mnt/test /mnt/test2
    / # ls -l /mnt
    total 0
    -rwxrwxrwx    1 root     root             0 Mar 30 17:38 test2
    / # chown 1000 /mnt/test2
    chown: /mnt/test2: Operation not permitte

[2021-03-30 17:47] NeuerUser commented on #1239
Just found this:
https://serverfault.com/questions/971895/glusterfs-support-for-user-namespaces
Apparently it is a long known bug.

[2021-03-30 17:50] amarts commented on #1239
Is there any log? first check the client log, if chown failed in server, then server log (brick log) also would help.

[2021-03-30 20:35] #1288 closed

[2021-03-30 20:35] #1436 closed

[2021-03-31 00:36] ESNewmanium commented on #2286
The workload is a little bit of everything so I can't say for sure if it was doing a lot of deletions at the time this occurred. If there's any way to capture which file caused the issue via the core dump or a gluster statedump next time it happens please let me know though and I can try to capture.

To follow the hunch though, I ran a couple stress-ng tests against directory and file creations +

[2021-03-31 00:43] pranithk commented on #2286
@ESNewmanium Did you grep for "Assertion failed"? Just want to know if any other assertion failure is happening as well.

[2021-03-31 00:56] ESNewmanium commented on #2286
Yes, this was a result of `grep -i 'assertion failed' *` across all files in the `/var/log/gluster` directory.

[2021-03-31 00:59] pranithk commented on #2286
Cool, thanks. Will let you know if I need anymore information.

[2021-03-31 06:13] vh05 commented on #1425
unstale. Fixed

[2021-03-31 06:13] #1425 closed

[2021-03-31 06:28] NeuerUser commented on #1239
Yes, there actually is.
This is in /var/log/glusterfs/bricks/gluster.log

    [2021-03-31 06:15:22.185212 +0000] I [MSGID: 115072] [server-rpc-fops_v2.c:1624:server4_setattr_cbk] 0-gv0-server: SETATTR info [{frame=6483}, {path=/test}, {uuid_utoa=c53b9382-52e3-4499-b025-e53c9d9b766a}, {client=CTX_ID:77286cb9-4e22-47dd-a6f0-189faa4c9d6b-GRAPH_ID:0-PID:5422-HOST:docker-test2-PC_NAME:gv0-client-1-RECO

[2021-03-31 07:39] NeuerUser commented on #1239
Not sure, if you need some more info about the volume and the system.
System is running Debian Buster, Kernel is 5.4.98-1-pve

Here the gluster volume information:

[code]

The gluster volume is mounted on /gv0 on the docker host:

    localhost:/gv0 /gv0 glusterfs defaults,_netdev 0 0

Docker is running with "userns-remap: default" and the container is started with:

    docker run -it --rm -v /g

[2021-03-31 13:05] amarts commented on #1239
Thanks for the logs, considering you have locally modified copy of glusterfs, can you check if below change works?

I am yet to spend time on this, but if below change works, then we have some hints.

[code]

[2021-03-31 13:11] pranithk commented on #1239
Condition and log are not related?

[2021-03-31 13:52] amarts commented on #1239
Tried to do two things in change! Wanted to understand if the `!frame_is_user(frame, ctx->uid)` should fix the issue (mainly as all other places, the same check is used). In case it doesn't work, wanted to check if the previous check was any good. Hence the log.

In his case, if application works without error, log is not necessary, but if it fails, I have one more log to check.

[2021-03-31 14:21] pranithk commented on #1239
Sir you are a genius!!

[2021-03-31 17:40] NeuerUser commented on #1239
Thanks for the patch. Unfortunately, it doesn't compile:

[code]

Did I do something wrong?

The file looks like this:

[code]

[2021-03-31 18:18] amarts commented on #1239
That was my bad, it was a quick patch suggestion, had not compiled locally.
Ok, for now, make `gf_log()` line as below

[code]

[2021-03-31 18:45] NeuerUser commented on #1239
This patch definitely helped. Now the chown works! So, we are at the right place.

But there are still some issues:

- chgrp still does not work
- chown works, but only if the file is owned by root (only tested root so far). If the file is not owned by root, I get an "operation not permitted".

I'll do a couple of more checks and report back.

[2021-03-31 19:01] NeuerUser commented on #1239
It apparently only works when the user in the container is root **and** the file is owned by root.

Here is using an unprivileged user in the container:

[code]

/var/log/glusterfs/gv0.log:

[code]

Also, if the user is root, but the file is not owned by root:

[code]

The log:

[code]

[2021-03-31 19:06] NeuerUser commented on #1239
Oh, forget the first test. That is actually working as intended (an unprivileged user cannot change the ownership, only the group).

[2021-03-31 22:00] #1432 closed

[2021-03-31 22:59] #1445 closed

[2021-04-01 02:13] amarts commented on #1239
Can you share the logs from brick log? That would give further hints.

[2021-04-01 05:37] NeuerUser commented on #1239
Oh, yes, sorry. Here is the log for the second test from above (root being denied chowning a file owned by a different user):

[code]

The first entry is where root (165536 in the namespace) is trying to "reown" the file that was chowned before ("chown root /mnt/test").
The second entry is where root is trying to "chown test /mnt/test" a file that root had already chowned to the user test.

[2021-04-01 05:41] NeuerUser commented on #1239
btw, I don't know if it is related or not: I have lots of the following entries in the brick log. Actually every 10 min there is an entry:

[code]
While it doesn't look connected, I thought I should mention it.

[2021-04-01 12:00] NeuerUser commented on #1239
I did a couple of checks more. It seems the final takeaway is that user namespaces as such do seem to work and are supported (so, I do not know, if the "trusted." -> "user." migration is needed for my use case "gluster running in host userspace; access from user namespace"). It is clearly not the case, that users with UID > 65535 do not work.

What generally is not correctly implemented, though, a

[2021-04-01 13:44] abufrejoval opened #2305 "Heal queue not emptying after recreating a failed A from a surviving B in a 2:1 (A+B+c) replica:arbiter volume created by oVirt"
**Description of problem:**
Base is a standard oVirt 4.3-last on CentOS7-current 3 node HCI setup using VDO and thin allocation via the GUI wizard which creates 'engine', 'vmstore' and 'data' volumes.

Servers A+B contain full replicas based on RAID6 storage, server c only acts as arbiter on a small RAID1 mirror.

Server A suffered a hardware failure in its RAID6 controller and had to be replaced,

[2021-04-01 14:03] #2260 closed, assigned to nobody

[2021-04-01 14:18] johnquest opened #2306 "incomplete sync retrying changelogs error"
**Description of problem:**
After upgrading to glusterfs 7.9 from gluster 5.13 seeing syncing errors geo replication logifile gsynced

[2021-04-01 13:58:07.947746] W [master(worker /files2/express2/gluster_vol01-1):1393:process] _GMaster: incomplete sync, retrying changelogs	files=['CHANGELOG.1617285324', 'CHANGELOG.1617285339', 'CHANGELOG.1617285384']

geo replication status is not faulty, syncin

[2021-04-01 15:02] johnquest opened #2307 "Closing this issue as there was no update since my last update on issue. If this is an issue which is still valid, feel free to open it."
Closing this issue as there was no update since my last update on issue. If this is an issue which is still valid, feel free to open it.

_Originally posted by @stale[bot] in https://github.com/gluster/glusterfs/issues/914#issuecomment-715647282_

[2021-04-02 05:52] #2025 closed, assigned to nobody

[2021-04-02 06:02] amarts commented on #1239
Looking at the logs, and previous things: I guess below patch should suffice for all usecases. Let me know if it works for you!

[code]

[2021-04-02 09:39] NeuerUser commented on #1239
Unfortunately, still errors:

[code]

[code]

[2021-04-02 09:52] NeuerUser commented on #1239
Here is a test only with chown:

[code]

    [2021-04-02 09:48:22.089086 +0000] I [MSGID: 115072] [server-rpc-fops_v2.c:1624:server4_setattr_cbk] 0-gv0-server: SETATTR info [{frame=251}, {path=/test}, {uuid_utoa=f72ffddd-0e20-4566-873d-5e2e4534df8b}, {client=CTX_ID:0693f414-830e-4033-9059-f31aecb477a3-GRAPH_ID:0-PID:280-HOST:docker-test2-PC_NAME:gv0-client-1-RECON_NO:-0}, {error-xlator=gv0-access-

[2021-04-02 10:40] NeuerUser commented on #1239
Well, I do not understand the code, especially the buf->ia_uid to ctx->uid comparisons, but I guess it is the "frame_is_super_user" test that checks whether the user is root or not. Are you sure that this test supports user namespaces? So, that it understands that the requesting user is a root user in his namespace? Maybe here lies the root cause of the problem.

[2021-04-02 11:49] NeuerUser commented on #1239
As I said, I have no understanding of the code, so please excuse my uninformed ideas.

The code seems to compare the uids to decide what capabilities the process has, right?

[code]

Shouldn't it instead check what capabilities a process has? So, if it has CAP_CHOWN for example? And then for what UID_MAP this capability applies?

Just wondering. As I mentioned, I have no real idea. Just trying to

[2021-04-02 18:21] #1217 closed

[2021-04-02 18:21] #1418 closed

[2021-04-02 18:21] #1281 closed

[2021-04-02 18:21] #1348 closed

[2021-04-02 18:21] #1409 closed

[2021-04-02 18:21] #1407 closed

[2021-04-03 06:09] pranithk opened #2308 "Developer sessions for glusterfs"
Number of folks asking about internals of glusterfs has been on the rise. We need to get developer sessions done which explain concepts present in glusterfs code. I will be adding markdown file changes with youtube, slideshare uploads as part of this issue.

[2021-04-03 06:18] pranithk commented on #2050
@httaotao Not sure this is what you are looking for, but https://github.com/gluster/glusterfs/issues/2308 is expected to cover glusterfs from developer perspective. We are planning to complete these sessions this year.

[2021-04-03 17:08] #1396 closed

[2021-04-03 17:08] #763 closed

[2021-04-03 22:41] dleonarski commented on #1301
Hi,

 I did some exercises and my conclusions are:

**1. RPI4 (Raspberry PI OS, Buster, patched, still 32bit) doesn't pass 'make' for 10dev, 9.1 and 9.0. For all branches it quits with the same error:**

However, it passes 8.4 :-) Whether it 'works' or not I don't know yet.

Details:

**2. My "Renegade" (https://www.armbian.com/renegade/) passes phase of 'make' in case of both dev10 and 9.1.  Deta

[2021-04-04 09:17] httaotao commented on #2050
thank for answer. for the distrubited file system, maybe we should pay attention to two things. one is the distrubited theory in glusterfs and the fuse of glusterfs. The following nodes are of more concern to me.

1. how does distrubited file lock work in glusterfs ? Is there any situation here that causes deadlocks between nodes to occur?
2.  I know a little about linux fuse concepts , such as ``

[2021-04-04 13:25] mohit84 commented on #2197
Hi,

 For specific to readdir(p) improvement my observation is getdents is fast in usual environment but readdirp
 is slow.I believe readdirp is slow because of executing statfs for every dentry and it takes time while stat is not available in cache.I have executed a test case to analyse the behavior.
 
 I have configured 3x1 environemnt on a physical node that have sufficient resources to run the

[2021-04-05 05:02] #1811 closed, assigned to nik-redhat

[2021-04-05 05:03] #810 closed

[2021-04-05 05:33] nbalacha commented on #2197
Hi Mohit,

I had done some work on this a long time ago. I remember getting very good performance improvements with readdirp with the following change:

https://review.gluster.org/#/c/glusterfs/+/22366/

I also found that iothreads on the brick was a bottleneck since it was low down in the stack. Moving it above quota and afr in the brick stack helped as well but I those changes were wip when I le

[2021-04-05 06:02] pranithk commented on #1281
This is fixed by https://review.gluster.org/#/c/glusterfs/+/24668/

[2021-04-05 06:11] #1351 closed

[2021-04-05 06:11] #1352 closed

[2021-04-05 06:13] pranithk commented on #2050
@httaotao The goal of the sessions is to get folks to be able to understand the architecture and main structures of code so that they can figure out any answer on their own. Keep a watch on that issue I mentioned. It will go on once every 2 weeks.

1, 3, 4 are somethings I will be covering over time in the sessions. 2 is something we need help from another maintainer.

[2021-04-05 06:21] vh05 commented on #1281
Also, need the patch https://github.com/gluster/glusterfs/pull/1563  to address the issue completely.

So https://github.com/gluster/glusterfs/pull/1563 + https://review.gluster.org/#/c/glusterfs/+/24668/ is the solution for this issue

[2021-04-05 07:14] pranithk commented on #2197
@mohit84 I think readdir-ahead has bugs where it doesn't consider all xattrs that the parent xlators are querying for which leads to issues (especially with shard). We probably should fix these issues in case readdir-ahead is giving good results.

The only issue with warming the cache is, it only works when the cache is warm. If we have a big file-read/file-write, the metadata cache may not be war

[2021-04-05 09:06] wishsagarks commented on #2294
Is this issue fixed? I will likely take this issue as one of my first contributions.

[2021-04-05 09:17] mohit84 commented on #2197
Thanks Nithya i will try and update.

[2021-04-05 09:21] mohit84 commented on #2197
Yes i agree we have a bug in readdir-ahead, that is a day one bug, we need to fix it.The current bug is readdir-ahead does not invalidate dentry stats if any entry operation happens in that directory otherwise there is no other bug.I think the bug would not impact to test readdir(p) performance.For specific to xattr it fwd xattrs as it comes from upper layer.In case of fuse readdirp buffer size is

[2021-04-05 09:30] mykaul commented on #2294
It's not, as far as I can see. Go ahead - it's a small, contained and easy to test patch - would be great for first contribution!

[2021-04-05 11:52] rkothiya commented on #2294
Hey @wishsagarks, I did not know you were picking this up, I had spoken to @tshacked and fixed this few hours a go was about to push the changes

[2021-04-05 12:07] mykaul commented on #2294
@wishsagarks - there are other easy fixes (I'm usually the one opening them) you can pick. https://github.com/gluster/glusterfs/issues/2041 or https://github.com/gluster/glusterfs/issues/1863 or https://github.com/gluster/glusterfs/issues/1535 are in 3 levels of complexity, but all are quite simple really.

[2021-04-06 04:14] amarts commented on #2286
In fuse_forget(), there is a 'inode_ref()' as part of getting the inode pointer itself, hence the last unref(). And also this was the reason we had to separate out the logic of who had triggered invalidations. Many a times while implementing, we saw the race between using the invalidate function and calling unref, and getting fuse_forget(). Hence it was critical to have ref valid till we finish al

[2021-04-06 06:37] #2294 closed, assigned to rkothiya

[2021-04-06 07:34] mohit84 commented on #1472
@pranithk
I have executed the script to validate readdir-ahead issue but the script is failing
on local file system also. Do you know what are the exact steps to validate about readdir-ahead
invalidation issue.

myuniq=$(uuidgen)
while true
do
    basedir="/home/mohit84/"
    sname="$basedir$myuniq-uniq-$(uuidgen)"
    tname=$basedir$myuniq
    touch $sname;echo "test message on $myuniq">$sname

[2021-04-06 07:53] httaotao opened #2312 "glusterfs7.5 snapshot doesn't exit and volume can't delete"
**Description of problem:**
there are a volume ``` prod-glusterfs_nexus_user-data-nexus-0_77d7757a-9630-40e3-96b3-0ec891a80b74```  we want to delete. but therer are a snapshot with some problems. we use ``` glusterfs+heketi``` to create volume.
[code]
it can't find the snapshot and then we can't delete the volume. by the way, the volume has another problem
[code]

**The exact command to reproduce

[2021-04-06 08:11] pranithk commented on #2286
Ah! Thanks missed this.

[2021-04-06 08:12] pranithk commented on #2286
@ESNewmanium @NanyinK I tried recreating the issue for the past few hours but the code seems to be working fine. Will it be possible for you to upload logs of the mount that crashed? I will check if there is any pattern that could lead to problems. Please note that this particular code has been released for almost 2 years and only you two faced this problem. So I don't think it is easy to recreate

[2021-04-06 09:50] xhernandez commented on #2197
This must be a bug and should be fixed. Even if we assume that all lookups are done sequentially, it takes 5.4 ms per entry. Basically this means the equivalent of a disk access for each lookup. If using readdirp doesn't require a disk access for each entry, then we have something wrong somewhere.

41 seconds seem to much to me for a simple directory read without any lookup. This directory could w

[2021-04-06 10:24] mohit84 commented on #2197
Hi,

 Yes there is a bug in quick_read even quick_read is disabled but it is still trying to read
 GF_CONTENT_KEY from backend and afaik it takes time.The other difference is in case of readdirp
 number of xattrs are 6 and in case of default lookup is 11.I will try to fetch the new data after
 applied the quick_read patch.

p *dict
$7 = {max_count = 6, hash_size = 1, count = 6, refcount = {lk = 0x

[2021-04-06 11:13] mykaul commented on #2197
@mohit84  - why is 'user.swift.metadata' enabled?

[2021-04-06 12:16] mohit84 commented on #2197
The xattr is populated by md-cache because cache-switf-metadata is true in downstream, We need to make it disable in
downstream also.
{
        .key = {"cache-swift-metadata"},
        .type = GF_OPTION_TYPE_BOOL,
        .default_value = "true",
        .op_version = {GD_OP_VERSION_3_7_10},
        .flags = OPT_FLAG_SETTABLE | OPT_FLAG_CLIENT_OPT | OPT_FLAG_DOC,
        .description = "Cache swif

[2021-04-06 12:21] itisravi commented on #2251
Capturing the in-house discussions had with  @aspandey and @karthik-us:

Using a journal based approach for storing offset, length is complex from both from design point of view and the amount of changes needed to make it work with how the current code is implemented.  Using xattrs to store this information is simpler.

The high level approach is as follows:
- Have an xlator option to enable/disab

[2021-04-06 12:31] mykaul commented on #2251
Considering https://github.com/gluster/glusterfs/issues/2067 (not sure if we've changed it to 1 or 4MB), shouldn't that bit granularity match that, or is that unrelated?

[2021-04-06 12:57] pranithk commented on #2251
@aspandey @itisravi @karthik-us What is the usecase/workload where this problem is pronounced?

[2021-04-06 13:37] pranithk commented on #2252
@msaju Could you change GA date to 2021?

[2021-04-06 13:40] amarts commented on #2252
I added #1750 in there, which has code, RFC on it, and working deployments... It may be something worth considering.

[2021-04-06 14:10] #2099 closed, assigned to nobody

[2021-04-06 14:13] itisravi commented on #2251
That change was to iterate over the entire file (whatever be its size) in 1MB chunks instead of 128KB and heal the chunks where the checksum did not match. So the no. of iterations in the for loop reduced but it still loops through the entire file.

In any use case where just a few bytes of the file change but we need to rchecksum the whole file (CPU intensive) to determine which bytes are out of

[2021-04-06 14:18] pranithk commented on #2251
Will it be possible to decouple the change tracking from AFR/EC? So that any other mechanism can be plugged in future?

[2021-04-06 14:23] itisravi commented on #2251
Sure, will discuss this. We will capture the changes here before starting to write code.

[2021-04-06 14:43] xhernandez commented on #2251
These values are dangerous, as each file system can impose its own additional limitations.

From the man page:

So we could easily get in troubles with some file systems.

We have seen performance issues when working with xattr that do not fit into the inode. Using several KiB for the xattr will require several disk blocks, which could have performance implications when updating the data (I guess

[2021-04-06 14:45] pranithk commented on #2251
Cool.
Please add details about:
0) What the update procedure that maintains this bit mask is going to be. i.e. life cycle of the data structure and how it is maintained in different operations.
1) If bit at position `i` is marked for heal
        - position data represented by bit at position `i` is healed.
        - Before the pending changelog can be cleared write at a region represented by posi

[2021-04-06 14:48] amarts commented on #2251
IMO, a bitmap file is much better to solve this usecase (if you really need to handle it this way), no xattrs at all.

[2021-04-06 14:52] pranithk commented on #2251
I agree. Better would be fixing shard to work for general usecases.

[2021-04-06 15:48] xhernandez commented on #2251
Also note that updating a single bit will require a full read and rewrite of the xattr (64 KiB each time in worst case)

[2021-04-06 15:57] mohit84 commented on #2197
After disable quick-read we are almost 30 percent improvement but
 still it is not matching similar to readdirp.I believe posix_lookup is taking more time because it has build a path based on gfid and in case of posix_readdirp the path has been built on the basis of dentry_name and directory_handle_path.It has executed statfs call several time for real_path and parent so i believe it takes more ti

[2021-04-07 00:51] #1154 closed

[2021-04-07 00:51] #1447 closed

[2021-04-07 00:51] #1408 closed

[2021-04-07 05:22] aravindavk commented on #2250
@srijan-sivakumar Please share the plan/design you have to support GlusterFS monitoring.

From Kadalu.io, we are working on a Prometheus exporter for GlusterFS(https://github.com/kadalu/gluster-metrics-exporter)

Current Gluster-prometheus project is unmaintained and the limitations of current [gluster-prometheus](https://github.com/gluster/gluster-prometheus) project are documented [here](https:/

[2021-04-07 05:26] pranithk commented on #2286
@ESNewmanium @NanyinK Will it be possible for you to provide log files? If you don't want to upload them on github, you can give them to me privately on slack https://gluster.slack.com Let me know.

[2021-04-07 05:33] NanyinK commented on #2286
@pranithk
can you please tell me which log? glusterd log or the system log such as /var/log/message

[2021-04-07 05:34] msaju commented on #2252
Updated Status for release 10.0.

Release Deadlines:
Code Freeze : 20-Aug-2021
RC : 31-Aug-2021
GA : 10-Sept-2021

**All issues planned below are in progress**

- [ ] runner: moving to posix_spawnp instead of fork #2146
- [ ]  Unified performance xlator #218
- [ ] Implement an common I/O framework #2123
- [ ]  Improve directory access #2197
- [ ] Runtime adjustment of mount options / fuse tunables

[2021-04-07 05:50] schaffung commented on #2250
@aravindavk , the current flow is to fix the existing glusterfs-prometheus solution (still analyzing ) and enhance it by adding features, but I'll take a look into the gluster-metric-exporter.

[2021-04-07 06:32] mohit84 commented on #2197
Hi,

 After disable quick_read and changed the approach to build a path in posix_lookup i am able
 to reduce lookup latency significantly. As we can see after applied below code in posix_lookup
 i am able to finish lookup operation for all the files(10M) around 17m that is significantly
 lower than earlier(89M).I think if we do send parallel lookup by some internal client xlator
 then may be we ca

[2021-04-07 06:42] pranithk commented on #2286
@NanyinK mount log which is present in /var/log/glusterfs on the client machine. If the path of the mount is /mnt/fuse you will have a file mnt-fuse.log in /var/log/glusterfs in the client machine.

[2021-04-07 07:00] NanyinK commented on #2286
@pranithk
I get it.
here is the log file.
[data.log](https://github.com/gluster/glusterfs/files/6269543/data.log)

since it was AEDT( GMT+11 ) on my server and the log uses GMT, the exact time of the problem happening should be [ 18th Mar 15:54 ]
there is a "crash" at that time.

I understand it's hard to recreate this issue, and appreciate your efforts on this.

[2021-04-07 07:32] pranithk commented on #2286
Thanks for the logs. I see lot of rmdir failures. @ESNewmanium Could you also share the logs, I want to check if there are any similarities.

[2021-04-07 08:42] mykaul commented on #2197
This line:
[code]

Is just because of CloudSync feature, right? I find it very inefficient we take this small hit for every lookup on every file, when this feature is rarely used. And if we don't need it, do we need this one:
[code]

?

[2021-04-07 09:26] mohit84 commented on #2197
Yes stat of parent is required , dht/afr is the main consumer of this.The function posix_update_iatt_buf is only specific to cloudsync feature.

[2021-04-07 10:19] xhernandez commented on #2211
Sorry for the late answer. I've had to attend some personal issues.

When a server is restarted, all locks present on that server are lost, so it's expected that you don't see any blocked files after reboot, though they will probably reappear after some time, specially if the second node still has blocked entries.

You can restart the second server. This will clean the current locks, but won't pre

[2021-04-07 10:52] anoopcs9 commented on #2287
@nik-redhat Do we have an update here?

[2021-04-07 11:23] nik-redhat commented on #2287
Hi @anoopcs9, the issue turns out to be in the glibc posix_spawn library itself, and it was fixed in a later version. So, in newer machines, we don't see this issue because we have the latest version of glibc installed by default but that's not the case for older systems.
For more reference, you can check this: https://sourceware.org/bugzilla/show_bug.cgi?id=18433

Now, I am checking up on the fea

[2021-04-07 12:24] jamielinux opened #2313 "Long setting names mess up the columns and break parsing"
**Description of problem:**

When showing gluster settings, long setting names mess up the columns and there is no separation between the setting name and its value. This makes it more difficult to read, and will also break anything that tries to parse the output.

**The exact command to reproduce the issue**:

[code]

**The full output of the command that failed**:

Here you can see the first lin

[2021-04-07 12:38] jamielinux opened #2314 "Several settings are duplicated, some with conflicting values"
**Description of problem:**

When showing gluster settings, these settings are listed twice:

- `cluster.heal-timeout`
- `features.ctime`
- `geo-replication.ignore-pid-check`
- `geo-replication.indexing`
- `network.tcp-window-size`
- `performance.cache-size`

**The exact command to reproduce the issue**:

[code]

**The full output of the command that failed**:

In the case of `performance.cache-si

[2021-04-07 13:33] mohit84 commented on #2197
I have found the reason why readdirp vs readdir+lookup does not matching. At the time of doing readdirp it build the lookup path on the basis of entry found  in a directory and it always traverse in a single directory but while we do run lookup operation first it populate a real_path and then validate a real_path has link with .glusterfs or not.To validate the same it has to lookup in .glusterfs o

[2021-04-07 15:50] jamielinux opened #2315 "One of the rebal-throttle tests uses the wrong variable"
**Description of problem:**

Test specifies `THORTTLE_LEVEL`  on line 47, then uses `THROTTLE_LEVEL` on line 49.

https://github.com/gluster/glusterfs/blob/e84fc53e33ce79a25c89bd4dc4ba57ef45e521da/tests/basic/distribute/throttle-rebal.t#L46-L50

[2021-04-07 21:57] #1448 closed

[2021-04-07 21:57] #1318 closed

[2021-04-08 01:18] altaloma commented on #2211
Still no blocked files on the rebooted node but loads on the other one.

I will restart the brick server on the second machine and see what happens.

On Wed, 2021-04-07 at 03:19 -0700, Xavi Hernandez wrote:

I haven't disabled eager-locking yet but we had to reboot one of the Gluster nodes for hardware maintenance. Since the reboot the state dump on that brick server shows no blocked files althoug

[2021-04-08 02:23] #2315 closed, assigned to nobody

[2021-04-08 04:53] pranithk commented on #2286
I created a setup where I have 3 terminals running workloads in parallel which would lead to Directory Not Empty errors in a loop. Didn't see any crashes even after 3 hours :-(. @ESNewmanium do share the logs so that I know if I am missing something.

[2021-04-08 06:30] itisravi commented on #2305
I tried various scenarios of changing replica count (3-->2-->1-->2-->3) with add/remove bricks on latest `devel` branch (which isn't any different than the latest release-9 for replication related changes) and I saw that a full entry heal happened each time.

@abufrejoval Considering you were using glusterfs 6.10 which is old and EOL., it would be good if you can stand up a test cluster on the lat

[2021-04-08 12:07] handrea2009 commented on #2203
There's a wrong copy/paste in the description, the correct one is the following:

"The issue disappear if I set performance.write-behind to off"

[2021-04-08 12:21] xhernandez opened #2317 "Rebalance doesn't migrate some sparse files"
**Description of problem:**

When running rebalance, if the volume contains sparse files. it may fail to migrate them.

**The exact command to reproduce the issue**:

1. Create a replicated volume

[code]

2. Start the volume

[code]

3. Mount the volume

[code]

4. Create a sparse file (make sure that the file name will need to be migrated once the volume is expanded):

[code]

5. Expand the volu

[2021-04-08 13:47] ESNewmanium commented on #2286
@pranithk I'll send them via Slack now.

[2021-04-08 18:42] VeeEnDee opened #2319 "gstatus command randomly fails to get details/status on volumes"
Description of problem:
we use zabbix to extract all available details on volumes wit interval of 5 minutes. From time to time gstatus fails to extract data correctly - it reports that bricks are unavailable, although everything seems fine

The exact command to reproduce the issue:
gstatus -a -o json

The full output of the command that failed:
[full_output_of_the_command.txt](https://github.com/g

[2021-04-09 16:13] #2317 closed, assigned to nobody

[2021-04-09 17:46] abufrejoval commented on #2305
Dear N,

<why-X-current-is-not-an-option>
I was fooled by the oVirt headline "oVirt is a free open-source virtualization solution for your entire enterprise" into thinking that it would allow me to run both a home-lab and a small corporate R&D lab on cast-out hardware in a manner that as a whole was more reliable than the hardware retired from production.

That does not include the manpower to run

[2021-04-10 05:40] #1253 closed

[2021-04-10 13:55] pranithk opened #2325 "Doubt regarding fuse handling of setxattr"
[code]

When I run this script adding logs in code, I see that truncate won't happen until setxattr retruns. Do we know why?

[code]

@xhernandez @csabahenk @amarts Do any of you know why?

[2021-04-10 14:14] aravindavk commented on #2319
@sac ^^

[2021-04-11 06:56] mohit84 opened #2326 "Optimize lookup (posix_lookup) to improve "ls-l" performance"
During the testing of readdir(p) on the github issue (https://github.com/gluster/glusterfs/issues/2197)
We have found in posix_lookup posix_gfid_heal is the function that takes maximum time while trying to validate path link with gfid.
We don't need to validate gfid link in case if gfid is available on the backend, If gfid is not available client(afr/dht) tries to heal gfid
during lookup operation

[2021-04-11 08:08] mykaul commented on #2326
Looking at posix_gfid_heal(), seems to me like we can start with sys_lgetxattr(path, GFID_XATTR_KEY, uuid_curr, 16) and better handle ret = -1 (that is, failure - and perform optionally a sys_lstat() to see if the file perhaps doesn't exist). If ret = 16 from sys_lgetxattr(), then we could skip posix_get_mdata_xattr() as well.
That function also calls posix_gfid_set() which performs yet another sy

[2021-04-12 05:41] itisravi commented on #2305
Hi @abufrejoval , you could go through https://github.com/gluster/glusterfs/blob/devel/doc/developer-guide/afr-self-heal-daemon.md and https://ravispeaks.wordpress.com/2019/04/15/gluster-afr-the-complete-guide-part-2/ for more information about how healing works.

The gist is that whenever an I/O from a client fails on a brick for a file, the other bricks persist on-disk the gfid of this file. Thi

[2021-04-12 07:00] pranithk commented on #2286
I was not able to recreate the issue even with the information gathered from logs. I am thinking of either adding extra logs to see if anything more can be gathered. Or we have to take help https://github.com/gluster/glusterfs/issues/1810 in 9.1 to get the necessary info. Will update what is the final decision.

[2021-04-12 09:24] xhernandez commented on #2325
I don't know the exact reason, but it seems the serialization comes from the kernel. It could be FUSE or even VFS, I don't know. Maybe @csabahenk has more knowledge about it.

Another possibility could be a serialization inside Gluster, but I don't think we have that at fuse xlator.

[2021-04-12 12:56] gd opened #2328 ""gluster volume set <volname> group samba" needs to include write-behind=off"
The write-behind translator is enabled by default. It *must* be turned off when the volume is used by samba to prevent potential data overwrite.

"gluster volume set <volname> group samba" does currently not turn off the write-behind translator.

[2021-04-12 19:33] abufrejoval commented on #2305
I am just going through your 3 part AFR guide... It's absolutely brilliant!

It has me remember why I chose Gluster and oVirt originally: the concepts behind its architecture are really beautiful!

But without this knowledge in the official documentation, it can be hair-tairing frightening!

And I really don't know why I didn't hit across the docs before: I had been on the gitlab repo and browsing

[2021-04-13 01:59] pranithk commented on #2325
@xhernandez Logs confirm that it is not from glusterfs. @csabahenk Is this expected behavior?

[2021-04-13 06:40] chenglin130 opened #2330 "gf_msg can cause relock deadlock"
**Description of problem:**
In some cases, gf_msg can cause deadlock.

e.g.
1. In gf_log_inject_timer_event(), got  log.log_buf_lock.
2. Under the lock, call gf_msg will hangup the thread. Because in _gf_msg_internal(), it will relock log.log_buf_lock.

![image](https://user-images.githubusercontent.com/35245387/114506594-9bd4a880-9c64-11eb-99de-17eb489a30c0.png)

**The exact command to reproduce

[2021-04-13 06:47] xhernandez commented on #2325
It could be from gluster if fuse thread got blocked until the answer for setxattr is returned to kernel, but I assume that as soon as the request is sent to the brick, fuse thread should be "free" to continue processing requests.

[2021-04-13 07:57] NanyinK commented on #2286
Hi @pranithk

I have read the doc #1810,  has the function( generate core dump at will without killing the process ) been deployed in 9.1 already?

[2021-04-13 08:13] NanyinK opened #2331 "gluster volume heal <volume> info shows a long list of "gfid""
**Description of problem:**
I ran
gluster volume heal <volume> info
it showed a long list of "gfid", such as

[
Brick A:/data/brick1/gv0
Status: Connected
Number of entries: 0

Brick B:/data/brick1/gv0
<gfid:fe2ddd63-bbbf-4bac-a719-e0998047c059>
...
<gfid:775dcdb2-f75b-4d7b-8da6-6f4d36180083>

Status: Connected
Number of entries: 366

Brick C
<gfid:dd112596-4cbb-4631-bbdc-3d6f0c0ee4b7>
...
<gfid:1

[2021-04-13 08:14] NanyinK commented on #2331
Not sure why the entries is 0 on node A and 366 on B & C.

Could anyone tell me how to cleanup them? seems it's slowing my servers down.

[2021-04-13 08:41] xhernandez commented on #2286
@NanyinK yes, the feature is present since 9.0.

[2021-04-13 09:29] NanyinK commented on #1810
Hi Everyone,

big thanks for your efforts on this.

may I confirm some points with you :

1. From my understanding, after I upgrade my glusterfs to 9.1, although the process crashes, it wont be killed, right?
2. At each crash time, it will still generate a core.dump file under "/"?
3. I have read this line :
=======================
everything will continue working as if the signal weren't there (e

[2021-04-13 09:54] xhernandez commented on #1810
Not exactly. If the process crashes, there's no way to prevent it to be killed. What this feature does is to generate a core dump without killing the process when an assertion fails. In this case the process is temporarily frozen while the core dump is created and then it continues normally.

It will only generate a core dump when the script gfcore.py is running **and** an assertion fails. By defa

[2021-04-13 12:25] #2313 closed, assigned to nik-redhat

[2021-04-13 15:44] ESNewmanium commented on #2286
We had this happen on another Gluster client today. Not sure if it's helpful or just more of the same but I'll paste the thread backtrace from coredump for this occurrence:

[code]

Once again, we _do_ see this "Assertion failed: inode_lookup >= nlookup" error before the crash, but it's again not exactly at the same time -- this time it's 5 days prior. Nevertheless, we have yet to see a client cra

[2021-04-14 03:40] pranithk commented on #2286
@ESNewmanium So the assert is happening at one point and the crash is happening much later. What would help is if we can capture the crashdump right when the assert happens. Will it be possible to try the approach mentioned couple of comments ago with 9.1 version?

[2021-04-14 03:42] pranithk commented on #2331
This means from B,C heals need to happen to A on at least 36 files/directories. Until heals complete, the cluster will be in downgraded state. Is the number not decreasing?

[2021-04-14 04:00] itisravi commented on #2305
@abufrejoval  Thank you,  I will try to consolidate the information in the blog into the glusterdocs repo.  Restarting glusterd should not cause any harm although as far as healing is concerned, things should work automatically. I am closing this issue for now. Please feel free to re-open if you get a chance to reproduce using in a recent maintained version of gluster.

[2021-04-14 04:00] #2305 closed, assigned to nobody

[2021-04-14 04:04] NanyinK commented on #2331
Hi @pranithk

Im afraid no, not decreasing.
still 366, so Im feeling it strange.

[2021-04-14 04:05] NanyinK commented on #2331
Is there any method to manually decrease them?

[2021-04-14 04:12] pranithk commented on #2331
@NanyinK Can you post the output of the following command on each of the bricks.
[code]

[2021-04-14 05:18] NanyinK commented on #2331
@pranithk

sure.

A : getfattr -d -m. -e hex /data/brick1/gv0/.glusterfs/fe/2d/fe2ddd63-bbbf-4bac-a719-e0998047c059
-- getfattr: /data/brick1/gv0/.glusterfs/fe/2d/fe2ddd63-bbbf-4bac-a719-e0998047c059: No such file or directory

B : getfattr -d -m. -e hex /data/brick1/gv0/.glusterfs/fe/2d/fe2ddd63-bbbf-4bac-a719-e0998047c059
-- getfattr: /data/brick1/gv0/.glusterfs/fe/2d/fe2ddd63-bbbf-4bac-a719-e09

[2021-04-14 05:27] pranithk commented on #2331
Could you do readlink -f on the filepath where it gives Too many levels of symbolic links?

[2021-04-14 05:27] pranithk commented on #2331
and paste the output

[2021-04-14 05:33] NanyinK commented on #2331
Hi @pranithk

A: readlink -f /data/brick1/gv0/.glusterfs/fe/2d/fe2ddd63-bbbf-4bac-a719-e0998047c059
/data/brick1/gv0/.glusterfs/fe/2d/fe2ddd63-bbbf-4bac-a719-e0998047c059

B:readlink -f /data/brick1/gv0/.glusterfs/fe/2d/fe2ddd63-bbbf-4bac-a719-e0998047c059
/data/brick1/gv0/banking/imb/udiscover/data/appdata/OUTPUT_TRAINING/20200908141935/1___2___79/tmp_var.parquet/CALC_TYPE_SUBFOLDER=PERC_CHG/_tem

[2021-04-14 05:49] pranithk commented on #2331
@NanyinK Can you give output of:
[code]
and
[code]

On all the bricks?

[2021-04-14 06:02] NanyinK commented on #2331
Hi @pranithk

1. getfattr -d -m. -e hex <brick-path>/banking/imb/udiscover/data/appdata/OUTPUT_TRAINING/20200908141935/1___2___79/tmp_var.parquet/CALC_TYPE_SUBFOLDER=PERC_CHG/_temporary/0/task_20200908154047_24936_m_000004`

Still nothing on A.

B : getfattr -d -m. -e hex /data/brick1/gv0/banking/imb/udiscover/data/appdata/OUTPUT_TRAINING/20200908141935/1___2___79/tmp_var.parquet/CALC_TYPE_SUBFOLD

[2021-04-14 06:04] NanyinK commented on #2331
2.
getfattr -d -m. -e hex <brick-path>/banking/imb/udiscover/data/appdata/OUTPUT_TRAINING/20200908141935/1___2___79/tmp_var.parquet/CALC_TYPE_SUBFOLDER=PERC_CHG/_temporary/0`

B : getfattr -d -m. -e hex /data/brick1/gv0/banking/imb/udiscover/data/appdata/OUTPUT_TRAINING/20200908141935/1___2___79/tmp_var.parquet/CALC_TYPE_SUBFOLDER=PERC_CHG/_temporary/0
getfattr: Removing leading '/' from absolute

[2021-04-14 06:06] pranithk commented on #2331
@NanyinK Can you do
`stat <gluster-mount-point>/banking/imb/udiscover/data/appdata/OUTPUT_TRAINING/20200908141935/1___2___79/tmp_var.parquet/CALC_TYPE_SUBFOLDER=PERC_CHG/_temporary/0/task_20200908154047_24936_m_000004`

Wait for sometime and check if the directories are created on A after some time.

[2021-04-14 06:07] NanyinK commented on #2331
Hi @pranithk
do this on which one, A or all?

[2021-04-14 06:09] pranithk commented on #2331
On any of the clients with gluster-mount-point as mentioned in the previous comment.

[2021-04-14 06:25] NanyinK commented on #2331
Hi @pranithk

15 minutes have passed but nothing happened on A.

the file is still not there.

[2021-04-14 06:26] pranithk commented on #2331
@NanyinK The directory is not created?

[2021-04-14 06:29] NanyinK commented on #2331
@pranithk
yep

[2021-04-14 06:29] NanyinK commented on #2331
stat /data/brick1/gv0/banking/imb/udiscover/data/appdata/OUTPUT_TRAINING/20200908141935/1___2___79/tmp_var.parquet/CALC_TYPE_SUBFOLDER=PERC_CHG/_temporary/0/task_20200908154047_24936_m_000004
stat: cannot stat ‘/data/brick1/gv0/banking/imb/udiscover/data/appdata/OUTPUT_TRAINING/20200908141935/1___2___79/tmp_var.parquet/CALC_TYPE_SUBFOLDER=PERC_CHG/_temporary/0/task_20200908154047_24936_m_000004’:

[2021-04-14 06:30] pranithk commented on #2331
@NanyinK Could you find what is the last directory in the hierarchy which exists on A?
Could you get the getfattr output from the bricks of that directory?

[2021-04-14 06:41] pranithk commented on #2331
I meant, if a/b/c/d is the path and on A if a exists but b/c/d doesn't exist, let me know the getfattr output for 'a' on all the bricks

[2021-04-14 06:44] NanyinK commented on #2331
Hi @pranithk

they are all the same

getfattr -d -m. -e hex /data/brick1/gv0
getfattr: Removing leading '/' from absolute path names
file: data/brick1/gv0
trusted.gfid=0x00000000000000000000000000000001
trusted.glusterfs.mdata=0x01000000000000000000000000607659b90000000024e34cfb00000000607659b90000000024e34cfb000000005cb9ce490000000037f5b669
trusted.glusterfs.volume-id=0x82372ae7ccef4ed39f9e3e192f

[2021-04-14 06:48] NanyinK commented on #2331
Hi @pranithk

I find where starts to be different.

on all the bricks, the outputs of this command are the same

getfattr -d -m. -e hex /data/brick1/gv0/banking/imb/udiscover/data/appdata/OUTPUT_TRAINING/20200908141935
getfattr: Removing leading '/' from absolute path names
file: data/brick1/gv0/banking/imb/udiscover/data/appdata/OUTPUT_TRAINING/20200908141935
system.posix_acl_access=0x02000000010

[2021-04-14 06:53] pranithk commented on #2331
@NanyinK Can you do a fresh mount on any of the clients and do a stat on the missing directory on the mount? I think the directories are cached, so the healing is not getting triggered.

[2021-04-14 06:55] NanyinK commented on #2331
Hi @pranithk

Im afraid I cant do that since it's the PROD env which is in use.

by the way, are we trying to use the good file on A to recover the bad ones on B & C ?

[2021-04-14 06:56] pranithk commented on #2331
@NanyinK As per the xattrs B&C are good so A should get the contents.

[2021-04-14 06:57] pranithk commented on #2331
Are you saying you can't do a fresh mount? If yes, try doing stat again on the old mount in case it can trigger the heal.

[2021-04-14 07:00] NanyinK commented on #2331
Hi @pranithk

I noticed one thing,

my client is mounting A which doesnt have the file, but the file is there on the client.

I mean

for example, just now we are talking about file  /a/1.txt

on A, there is no /a/1.txt, yet on B & C, there is.
my client is mounting on A, but there is /a/1.txt

[2021-04-14 07:00] NanyinK commented on #2331
oh the file is on A now

[2021-04-14 07:01] NanyinK commented on #2331
after I do the stat on the mount client

[2021-04-14 07:02] NanyinK commented on #2331
but the entries shown in gluster heal info added one.

Number of entries: 367

[2021-04-14 07:03] NanyinK commented on #2331
amazing.. the number reduced to 87

Number of entries: 87

[2021-04-14 07:10] NanyinK commented on #2331
it stops at 87, can we continue?

[2021-04-14 07:15] pranithk commented on #2331
I think there is one more such directory which is in similar state maybe. You need to follow the same process to figure it out.

[2021-04-14 07:17] pranithk commented on #2331
Gluster will pick the correct copy to show the file. I am curious to know how you landed up in this state. What happened on A that it required heals?

[2021-04-14 07:20] NanyinK commented on #2331
@pranithk

yep, I think so, yet when I do the same thing to the current entries, it doesnt return a file path to me :(

readlink -f /data/brick1/gv0/.glusterfs/08/4c/084c9b92-e32c-4b83-8302-8d788e463d5e
/data/brick1/gv0/.glusterfs/08/4c/084c9b92-e32c-4b83-8302-8d788e463d5e

[2021-04-14 07:22] NanyinK commented on #2331
I am curious as well, haha.

Previously I did an upgrade for this env from gluster6.0 to gluster 6.10, then the entries started to grow for a while from around 200 to 366.

I think we are just using it normally but it did show us a few kinds of issues

[2021-04-14 07:43] pranithk commented on #2331
You need to find one that is a directory. do `ls -l` on that path and see if it is a softlink pointing to some directory.

[2021-04-14 07:44] pranithk commented on #2331
How did you do the upgrade?

[2021-04-14 07:47] NanyinK commented on #2331
the no. reduced to 12 and I cannot proceed now

ll /data/brick1/gv0/.glusterfs/08/4c/084c9b92-e32c-4b83-8302-8d788e463d5e
-rw-r--r--+ 1 10000 10000 0 Jun 17  2020 /data/brick1/gv0/.glusterfs/08/4c/084c9b92-e32c-4b83-8302-8d788e463d5e

the inode is "1", and there's no soft link.

does it mean I can simply remove it?

[2021-04-14 07:48] NanyinK commented on #2331
I followed the gluster official doc.

umount the volume on the clients, stop the cluster, kill the gluster process, yum update, and start, then mount

[2021-04-14 07:55] pranithk commented on #2331
I think I/O was in progress when clients were unmounted probably.

[2021-04-14 07:56] pranithk commented on #2331
If the link count is '1' and it is not a softlink, you can remove it.

[2021-04-14 07:56] pranithk commented on #2331
What do you think? I/O could be in progress when you did this step?

[2021-04-14 07:59] NanyinK commented on #2331
yep, no the number has reduced to 0.

[2021-04-14 08:01] NanyinK commented on #2331
hey @pranithk, what does it mean by I/O in progress？

I can see the load has reduced a little bit as well (from 15 to around 10), yet it could because there are few things running on my env.

[2021-04-14 08:02] NanyinK commented on #2331
oh it becomes high again, one of my bricks is 13 CPU load now, another is 2

[2021-04-14 08:03] NanyinK commented on #2331
and my monitor tool is telling me the server I/O WAIT is flapping

[2021-04-14 08:04] pranithk commented on #2331
You said on A you did an upgrade and that lead to this heal info, right? For that you said you did an unmount. I was wondering why doing unmount and killing the bricks, was there any I/O on the client? Or all the I/O is stopped?

[2021-04-14 08:04] NanyinK commented on #2331
It seems that the sum of the cpu load on both bricks is always one value, (about 16), but I don't want the stress to be concentrated on one of the bricks, is there any way we can do it?

[2021-04-14 08:05] pranithk commented on #2331
You said you did the mount on A right? All I/O is happening on A? And is A the one with high load?

[2021-04-14 08:06] NanyinK commented on #2331
perhaps I didnot express clearly, on all the gluster bricks I did an upgrade.

all my clients are mounting on A.

sometimes I/O happening on A, and other time happening on B.

[2021-04-14 08:08] pranithk commented on #2331
I think all reads are happening on the brick A. Try this. It will distribute reads to both
[code]

[2021-04-14 08:09] NanyinK commented on #2331
thanks @pranithk

as it's our PROD env, I aim to be careful, will there be any other impact or it just do help to load balance?

[2021-04-14 08:11] pranithk commented on #2331
Only load-balance. You can do it when the traffic is low, in case you are don't want to apply this configuration in peak traffic.

Will it be possible for you to join slack?

[2021-04-14 08:11] NanyinK commented on #2331
and since "all reads are happening on the brick A", why the loads could be high on brick B

[2021-04-14 08:12] NanyinK commented on #2331
hey @pranithk , what is slack

[2021-04-14 08:12] pranithk commented on #2331
https://gluster.slack.com, this is where community hangs out.

[2021-04-14 08:14] NanyinK commented on #2331
Hi @pranithk ,yep I would like to

[2021-04-14 08:15] pranithk commented on #2331
Cool, ping in 'gluster' channel and we can discuss further. This discussion is not particular to the issue anymore.

[2021-04-14 08:16] NanyinK commented on #2331
Im afraid I dont have an account

"doesn’t have an account on this workspace."

how can I sign up?

[2021-04-14 08:19] pranithk commented on #2331
Use the invite link in https://www.gluster.org/community/

[2021-04-14 11:49] #2328 closed, assigned to nobody

[2021-04-14 13:17] #2331 closed, assigned to nobody

[2021-04-14 22:37] #1460 closed

[2021-04-15 07:53] #2330 closed, assigned to nobody

[2021-04-15 08:25] pranithk opened #2334 "posix_handle_soft() is doing an unnecessary stat"
This particular stat serves no purpose. If symlink succeeds, then the
    stat will succeed. Next sys_stat will fail if there is something wrong
    with this symlink. So there is no use for this stat.

[2021-04-15 15:20] ESNewmanium commented on #2286
Unfortunately I don't think we'll be able to make the lift to upgrade every possible client to 9.1. Anything more I can do to troubleshoot within the 7.9 version I can try to do though.

We had another crash today and what's interesting is that this time we might have some idea which file was being accessed when it died via the backtrace. Now that we know what file it is, we have _some_ guesses as

[2021-04-16 04:21] pranithk opened #2337 "memory leak observed in lock fop"
Running the following .c on the mount leaks memory
[code]
Procedure to run after compiling:
[code]

[code]

Patch above fixes the issue. Will send a patch in some time

[2021-04-16 05:21] #1439 closed

[2021-04-16 11:55] itisravi commented on #1490
unstale

[2021-04-19 21:49] aravind-ssn commented on #1500
This is still an issue

[2021-04-20 04:28] itisravi commented on #1500
@aravind-ssn I don't think this is a bug. Even though you froze the underlying filesystem (XFS), the client is still connected to the brick process and thinks it is alive. So it will wait for the acknowledgement of the write for `network.frame-timeout` seconds (1800 by default) from the brick before it deems the write as a failure. Likewise for read requests. You might want to consider using glust

[2021-04-20 05:15] nik-redhat commented on #2287
Update:
Embedding musl code is not straightforward or direct. It touches many different parts of code, with no proper guidance on why and how it is done. It doesn't look like a feasible replacement.

The only solution for CentOS/RHEL 7 which I can think of is to install geo-rep as a dependency if installing Gluster using RPMs.

[2021-04-20 05:58] anoopcs9 commented on #2287
Thanks for doing the research.

Then I would suggest to add a conditional dependency inside rpm spec file as follows:
[code]

[2021-04-20 06:01] nik-redhat commented on #2287
I am not sure, so just confirming if it will consider `CentOS 7` as well?

[2021-04-20 06:05] kannanvr opened #2339 "cannot access No such file or directory"
Hi,
   we are using glusterfs volume in our environment. we are facing the issue for accessing the files within the volumes.
it is showing "cannot access No such file or directory" as below.

=============
ls: cannot access jenkins.install.InstallUtil.lastExecVersion: No such file or directory
ls: cannot access jenkins.security.ResourceDomainConfiguration.xml: No such file or directory
ls: cannot

[2021-04-20 06:08] pranithk commented on #2339
@kannanvr Could you do gluster v set <volname> cluster.lookup-optimize off and see if that fixes the issue?

[2021-04-20 06:26] xhernandez commented on #2287
@nik-redhat Given the problems this is generating, wouldn't it be better to revert the patch and return to `fork()` ? what's the real benefit of using `posix_spawn()` ? does it justify to add additional dependencies just for a bug in a library ?

[2021-04-20 06:29] rkothiya opened #2340 "(glusterfs-8.5)- GlusterFS 8.5 tracker"
Description of problem:
Tracker for the release 8.5

[2021-04-20 06:37] pranithk commented on #2339
Forgot to give <volname> in the command.
gluster v set <volname> cluster.lookup-optimize off

[2021-04-20 06:40] nik-redhat commented on #2287
The problem is only for older distributions because they support glibc version only up to 2.17 which has some issue as highlighted in this [comment](https://github.com/gluster/glusterfs/issues/2287#issuecomment-814832255) , but in new distributions, they have updated versions of glibc which handles the issue correctly.

Coming to the benefits, the main benefit `posix_spawn` provides is faster/effe

[2021-04-20 07:28] itisravi commented on #2251
Capturing the 3 different approaches (xattr based, bitmap file based, and hardlink based) that we discussed in a doc: https://docs.google.com/document/d/17207lUAJDYG-5vpK2AMnIXlTrXSOwh137tLRLcsnjtE/edit?usp=sharing

[2021-04-20 12:03] anoopcs9 commented on #2287
Yes.

[2021-04-20 14:43] #1440 closed

[2021-04-20 14:43] #1452 closed

[2021-04-20 17:52] xhernandez commented on #2287
Does the number of processes that we start and the memory usage of glusterd really provide an improvement when `posix_spawn()` is used instead of `fork()` ?

Without issues, I don't care if we use `posix_spawn()` or `fork()`, but when there are problems using `posix_spawn()` and it doesn't provide a real benefit for our use case, I wonder if it makes sense to keep it.

[2021-04-20 18:32] mykaul commented on #2287
I think it's worth running such experiment with and without memory pools.

[2021-04-21 03:28] altaloma commented on #2211
Hi,

I'm contemplating an update to a newer version of Gluster from 7.5, which one do you recommend and do you think it will help to fix some of the file blocking problems?

Also in a previous bug report I mentioned that the Gluster client forgets a user's home directory if they haven't changed to a different directory for a while. The cwd becomes stale and a cd is required to fix it. Has this bee

[2021-04-21 06:51] aspandey commented on #2251
@xhernandez @pranithk @amarts could you please take a quick look at the document and provide your initial thoughts?

[2021-04-21 07:12] pranithk commented on #2251
@aspandey I personally am not a fan of this particular enhancement. Because it will introduce a lot of complexity to the existing design(It took us almost 6 years (2009-2015/2016) for the existing solution to stabilize with 3-4 people working on it over the years). I haven't seen a lot of data that necessitates us to do this enhancement. To me this perf enhancement is theoretical, unless we have e

[2021-04-21 07:14] pranithk commented on #2251
I don't mind changing my stance if we have concrete data about the workloads. i.e. customer scenarios/issues/bugs where the problems are faced.

[2021-04-21 07:36] itisravi commented on #2251
I don't understand why you say the improvement is theoretical. Concrete data is what I gave in earlier comment: https://github.com/gluster/glusterfs/issues/2251#issuecomment-814154773.  You can do the experiment and visibly see faster heal time, less network fops and less CPU consumption.

None of the approaches listed above have anything to do with Shards. They are only performing journalling of

[2021-04-21 08:00] pranithk commented on #2251
Ah! I meant, a workload where this makes a significant difference. Adding extra metadata to track granularity will cost iops. So there will be workloads where this change doesn't make sense. Let's say you have a workload where the I/O pattern is files that are say 1MB uploads that never change. For that usecase this enhancement will not add a lot of value.

All the approaches are treating the file

[2021-04-21 09:00] itisravi commented on #2251
I agree that there will be different types of workloads, which is why we want to provide it as an option for those where it makes sense.  Unless we implement it and get feedback, I think we cannot conclude that it does or does not add value.

By metadata, you mean metadata about which writes failed no (i.e. offset, length)? Is that different from storing it as xattrs/bitmap files/ hardlinks?

@kar

[2021-04-21 09:25] alaunay commented on #1909
Hello,

We are hit quite hard on gluster 9.1 with that one. From what I can see, this patch didn't make it into 9.0 or 9.1, is there a possibility to push it into 9.2 ? Thanks !

[2021-04-21 10:26] pranithk commented on #2251
If one uses geo-rep and afr/ec now the iops cost increases because each xlator is tracking the changes differently.

As per my understanding at least when I was in Red hat, these were because of the io-threads throttling. The files were immutable and they complained about heal speed quite a bit. Increasing number of self-heal threads didn't improve performance. When I was in Redhat I didn't unders

[2021-04-21 10:56] #1469 closed

[2021-04-21 13:02] csabahenk commented on #2287
Can't we just bluntly keep both the `posix_spawn` and `fork` based run variants in tree and let _configure_ set which to compile for the given build?

[2021-04-21 14:26] kannanvr commented on #2339
Thanks @pranithk . It's really working. Thanks for your help. Do we need to set this option on all the volunes?
Is it recommended?

[2021-04-21 14:42] pranithk commented on #2339
@kannanvr Yeah, this was the default option for a while. I think there was some perf optimization done to reduce number of lookups. But I think it falls apart when a rebalance is in progress I think. Adding folks who are familiar with distribution module @mohit84 @BarakSason @tshacked

[2021-04-21 16:29] mikeatform opened #2343 "Lost volume, bricks won't get online"
**Description of problem:**

Bricks just went offline.
Have a generic Centos 7 HPC farm.  2 of the 3 nodes just went offline
Getting alot of DNS errors, but DNS is good.

**Mandatory info:**
**- The output of the `gluster volume info` command**:

#gluster volume info

Volume Name: hpc-admin
Type: Replicate
Volume ID: e2439177-fe39-4928-bec7-159903f044a7
Status: Started
Snapshot Count: 0
Number of

[2021-04-21 17:08] aztechian commented on #1513
I have this same issue - going from 1 pure distribute sub volume to 2 makes some of the data on disk unusable. And, it's impossible to know what files (I have ~67,000 files on volume).

Centos 8 (Stream) and GlusterFS 7.9 from Centos repos.

I've had this problem 2 times now, and this time is requiring a complete rebuild of the volume and restoring backups of the data. It doesn't give me a lot of

[2021-04-21 22:44] pranithk commented on #2343
@mikeatform
[2021-04-20 16:16:24.334328] C [MSGID: 113081] [posix-common.c:639:posix_init] 0-shared-posix: Extended attribute not supported, exiting.

What is the backend filesystem?

[2021-04-21 22:48] mikeatform commented on #2343
ZFS.
All nodes report healthy.
thx

[2021-04-21 23:06] pranithk commented on #2343
Did you reboot or something? Are the bricks mounted back correctly after reboot? If this is fine, could you try to do
[code]
on any of the bricks that went down and report if that executes successfully?

[2021-04-22 01:32] aztechian commented on #1513
Update to my issue:

After much help from Pranith, he helped determine that this issue was self-inflicted. I had used a previous brick to create the volume. (I had done an OS reinstall months before, while trying to keep Gluster volume data 😢 ).

Because of that, some files already had xattr data on files in the filesystem - as an example:

[code]

[code]

In this case, note the `trusted.glusterfs

[2021-04-22 05:53] #2337 closed, assigned to nobody

[2021-04-22 09:25] xhernandez commented on #2211
We have added a fix related to this problem in 9.1. It doesn't completely fix the issue but it seems to help avoiding it when sharding is enabled (not sure if it could also help when it's disabled). However I'm not sure if your issue is the same because the change that made this problem more likely to happen was introduced in 7.8.

If you have a test environment, I would go with 9.1 for sure and s

[2021-04-22 09:58] altaloma commented on #2211
I think I might have mentioned it in the comments to a bug report that might have been closed.

Basically a user's home directory goes stale if you leave it long enough. I believe it's a fuse forget.
If you cd away and back it fixes it for a while.
________________________________
From: Xavi Hernandez ***@***.***>
Sent: 22 April 2021 17:25
To: gluster/glusterfs ***@***.***>
Cc: Broi, Franco ***@**

[2021-04-22 12:14] #1471 closed

[2021-04-22 12:14] #1442 closed

[2021-04-22 12:14] #1462 closed

[2021-04-22 12:29] enoch85 opened #2347 "duplicate entry for volfile-server [{errno=17}"
**Description of problem:**
One of our sysadmins in the company added a folder with files directly under the brick on the GlusterFS server and not from the mounted storage.

We don't know the impact of this, but since then (we think) we got some strange errors in the logs (see logs output).

Our layout looks like this: `/mnt/glusterfs01/storage01/brick01/project01`
The folder was added directly on

[2021-04-22 12:58] pranithk commented on #2347
@amarts https://review.gluster.org/23087 introduced this. This code path seems to be called from mgmt_getspec_cbk() as well. So the log would always come any time the volfile is refreshed I guess. I personally see no value in this log. Send a patch removing the log if you agree.

@enoch85 You can ignore this log.
But the following is a problem. Why is this down?
[code]

[2021-04-22 13:08] amarts commented on #2347
Totally OK. I added log in there, as I was not sure of the reason why it was erroring out in the first place. So it worked as a step inbetween to know if that case happens at all.

Considering its a safe thing to ignore, and we haven't heard any issues because it is not erroring out, OK with taking off that error.

[2021-04-22 13:08] enoch85 commented on #2347
@pranithk Thanks, that's a relief!

Hmm, don't know actually. How do I restart it? Would it be enough with restarting `glusterd`?

[2021-04-22 13:23] pranithk commented on #2347
@enoch85
Check `/var/log/glusterfs/glustershd.log` to find why it died. If you are fine attach the log file to this issue. If you don't want to expose the log file(because of any confidentiality reasons), I'd appreciate if you could send that to me on [gluster.slack.com](https://gluster.slack.com). Would like to debug why it happened to see if there is a bug. the following command is used to resta

[2021-04-22 13:34] enoch85 commented on #2347
Here you go:

<details>

[code]
</details>

A reboot solved it.

[2021-04-22 16:11] mikeatform commented on #2343
bricks went offline on their own.
I rebooted 2 nodes and restarted all the services got the system running, then it crashed again 6 hours later.
System that was restarted is behaving like the system that stayed up, so I found no reason to keep restarting things.

[2021-04-22 17:55] xhernandez opened #2348 "Gluster's test suite on RHEL 8 runs slower than on RHEL 7"
When running some tests on RHEL8, the total time taken by those tests is significantly higher that the time the test takes on RHEL7 with same version of Gluster.

For example `tests/basic/afr/entry-self-heal-anon-dir-off.t` takes 1:34 on RHEL7 and 2:09 on RHEL8.

After some analysis, I've found the reason:

When tests are run, the variable `LD_PRELOAD_PATH` is set to `/usr/local/lib:${LD_PRELOAD_P

[2021-04-22 18:24] enoch85 commented on #2347
Closing since this is "solved".

[2021-04-22 18:24] #2347 closed, assigned to nobody

[2021-04-22 23:28] vnosov-sf opened #2350 "Failure to rebalance files during execution of glusterfs command "remove-brick ... start"."
**Description of problem:**
Have 3 nodes that runs GlusterFS 8.3 on Centos 6. GlusterFS was compiled and installed from source code. Replicated volume with arbiter was created by using 3 bricks. After that 3 more bricks were added to the volume. FUSE was used to mount volume on one of nodes. The mount was used to create directories and files on the volume. Contents and structure of the written dat

[2021-04-23 01:59] mohit84 opened #2351 "glusterd: After upgrade on release 9.1 glusterd protocol is broken"
After upgrade on release-9 glusterd protocol is broken because on the upgraded nodes glusterd
is not able to find an actor at expected index in rpc procedure table.The new proc (GLUSTERD_MGMT_V3_POST_COMMIT)
was introduced from a patch(https://review.gluster.org/#/c/glusterfs/+/24771/) in the middle due to that index of existing actor is changed on new upgraded nodes and glusterd is failing.The is

[2021-04-23 04:51] pranithk commented on #1512
This is getting fixed as part of https://github.com/gluster/glusterfs/issues/2337

Closing as duplicate.

[2021-04-23 04:51] #1512 closed

[2021-04-23 07:13] NanyinK opened #2353 "Permission issue after upgrading to Gluster v9.1"
**Description of problem:**

I want to set all the folders/files newly created under the path "/data/test" to permission 777, so I did this :

[code]

================================================================

but when I create a new folder or a file under /data/test, the effective permission is still 755 :

[code]

=================================================

the /data partition is m

[2021-04-23 09:26] NanyinK commented on #2353
There is no such issue in Gluster v8.4

======================================
[code]
=======================================

[code]

[code]
=========================================

the permission for the newly created folder is correct , 777

[2021-04-23 12:52] #2348 closed, assigned to nobody

[2021-04-23 14:20] xhernandez commented on #2211
The working directory is kept open by the process using it, so kernel shouldn't send a forget while in use.

[2021-04-25 08:30] XiJinyu opened #2357 "non root access gluster volume, sometimes there will be permission denied."
**1. GlusterFS Version:**  **3.12.2-47**

**2. Volume Type:** **Distributed-Disperse**    3*（10+2）

**3. Description of problem:**
        In the volume, I use the **non root (user1)** to create multi-layer directory (such as dir1/dir2/.../dirN), dir1 dir2 ... can be created successfully, sometimes there be **permission denied**  when dirN is created.  As a result, I can no longer use non root use

[2021-04-25 09:34] pranithk commented on #2357
@XiJinyu Unfortunately 3.12 is not a supported version anymore. It is not clear if the issue is present in latest supported versions. Please upgrade to release-8 and let us know if you still see this issue. (Don't upgrade to release-9, we found an issue that will be addressed in the next release of release-9).

[2021-04-25 14:44] #1478 closed

[2021-04-26 04:39] pranithk commented on #1478
[code]
Sorry for the very long delay in responding to the issue. These logs above suggest that there is some network problem. between just this node and the others. For now closing this issue as it doesn't appear to be gluster specific issue.

[2021-04-26 09:17] xhernandez commented on #2211
@altaloma we have just identified an issue that will cause problems during online upgrade to 9.0 or 9.1. For now it's not recommended to upgrade to those versions. 9.2 will contain a fix and upgrading to 9.2 will work fine.

[2021-04-26 09:22] altaloma commented on #2211
Thanks for the heads-up.

On Mon, 2021-04-26 at 02:17 -0700, Xavi Hernandez wrote:

We have added a fix related to this problem in 9.1. It doesn't completely fix the issue but it seems to help avoiding it when sharding is enabled (not sure if it could also help when it's disabled). However I'm not sure if your issue is the same because the change that made this problem more likely to happen was in

[2021-04-26 10:26] nik-redhat opened #2360 "extras: postscript fails on logrotation of snapd logs"
**Description of problem:**
On executing the logrotate command, the postscript runs as a separate process,
and when we do a grep for the snapd process it returns the PID of that
short-term process as well, and executing a kill on that throws the error.
To check, a similar error could be seen if we replace the `killall` with `kill` for bricks
log rotation with a for loop on PIDs.

**The exact comma

[2021-04-26 11:56] nik-redhat commented on #2287
This is similar to adding `geo-rep` as a dependency. Also, adding dependency would be easier compared to the flag for `configure`.
The reason I am fine with geo-rep dependency is that this package is a part of gluster itself and I don't think it will add much overhead.

For the perf improvement, I haven't checked that. But, checking that would be good, to get to know about the real benefits for Gl

[2021-04-27 01:53] NanyinK commented on #2353
Hi @pranithk

Can you please have a look at this?

[2021-04-27 09:13] #786 closed

[2021-04-27 12:05] karthik-us commented on #1060
Since it is a common bug for the coverity fixes, adding a comment here to avoid closing of this issue by stale bot.

[2021-04-27 12:51] #2334 closed, assigned to nobody

[2021-04-27 20:44] #2360 closed, assigned to nik-redhat

[2021-04-28 08:36] lixiaopengy opened #2364 "After the service is restarted, a large number of handles are not released"
GlusterFS version： 7.1

When the glusterfs service is restarted, more handles appear in the service and the process does not release them.
[code]
Check that the relevant process number is glusterd main process. After trying to kill the process. After the glusterfs service was restored, the handle was not released

[2021-04-28 09:53] #1539 closed

[2021-04-28 10:37] vh05 commented on #1384
unstale

[2021-04-28 16:04] esvaf opened #2367 "Problem with symlinks"
I have gluster 5.6 cluster on 3 nodes. Now on one of nodes I have problems with some symlinks. Some apps can't open it and in different options of ls command i see different inode id's:
[code]

If i check files and symlinks in the brick on this node - all seems good.

** Additional info **
[code]

**Mandatory info:**
**- The output of the `gluster volume info` command**:
[code]
**- The output of t

[2021-04-28 16:31] pranithk commented on #2367
@esvaf Unfortunately gluster 5.6 is EOL. Could you try the same with 8.4 release and let us know if you still find this problem. Please don't upgrade to release-9 yet.

[2021-04-29 04:46] hostingnuggets commented on #1764
@pranithk I saw this issue is now closed, so in which version of GlusterFS is this bug fixed? Is it fixed in version 8.4?

[2021-04-29 04:55] pranithk commented on #1764
@hostingnuggets I haven't ported it yet to any release branches. I felt it needs some backing time on devel branch. I haven't seen any spurious failures so far with this change. I can probably port it for the next 9.x/8.x releases.

[2021-04-29 06:40] sunnyku commented on #638
@Shwetha-Acharya ^^

[2021-04-29 08:12] csabahenk commented on #2287
Sorry for having to disagree with you, but I think these are completely dissimilar. Regarding the approaches discussed so far:

- reverting the whole posix_spawn thing and going back to fork is a fix at the source level;
- providing a way to choose between posix_spawn and fork based implementation at build time is a fix at the source and build levels;
- adding geo-rep as dep is a workaround at dep

[2021-04-29 09:50] nik-redhat commented on #2287
@csabahenk so what I understand from the solution above that we are opting for the hybrid approach, right?
I have not checked the working of the code you shared, nor do I completely understand it. I will go through the docs you shared but was just thinking if you could give a small gist of what the above change actually does so that it helps me in understanding it better? Like, how is it checking

[2021-04-29 11:22] esvaf commented on #2367
I updated cluster to 8.4 now and need some time to check how it works.

[2021-04-29 12:56] itisravi opened #2370 "glusterd: Issues with custom xlator changes"
**Description of problem:**
Issue #1943  introduced logic to add custom xlator to brick graph. Two problems have been identified so far on testing:
1. Inserting the custom xlator succeeds for some xlators but fails for others.
2.  After any insert failure, trying to set other volume options also fail.

**The exact command to reproduce the issue**:
1.
[code]
2.
[code]

Restarting glusterd or doing

[2021-04-29 17:46] csabahenk commented on #2287
Let me do a quick walkthrough of the autoconf code.

I'll give explanation on each argument of `AC_ARG_ENABLE`; note that the arguments are comma separated, so even if they are complex expressions, your eyes should parse the code by checking the top-level comma delimited segments.

[code]
— here we set up the variable _posix_spawn_ that is to get a value through the enable/disable state machinery

[2021-04-29 18:05] mikeatform commented on #2343
I'm about to clear the bricks and reset.
While files are coping I thought I'd post the updates.

I'm still unsure what the trigger was.

3 nodes with 1 disk each.  Node 1, node 2, node 3.

node 1 and 3 crashed.  restarted services, system reported healthy on both and I moved on.

hours later crashed into above logs.
Upgrade to latest stable, the good brick came back, but no help to the offline bri

[2021-04-29 18:33] mikeatform commented on #2343
I missed these earlier.

 [MSGID: 101097] [xlator.c:218:xlator_volopt_dynload] 0-xlator: dlsym(xlator_api) missing: /usr/lib64/glusterfs/7.9/rpc-transport/socket.so: undefined symbol: xlator_api
 W [MSGID: 101095] [xlator.c:210:xlator_volopt_dynload] 0-xlator: /usr/lib64/glusterfs/7.9/xlator/nfs/server.so: cannot open shared object file: No such file or directory
 W [MSGID: 101095] [xlator.c:210:x

[2021-04-29 23:54] pranithk commented on #2343
[code]

Something went terribly wrong with the underlying disk filesystem I guess. Not sure what the trigger is.

[2021-04-30 03:24] mikeatform commented on #2343
That is an absolutely pathetic cop out.

Evidence doesn't play much in your decision process eh?

[2021-04-30 04:20] pranithk commented on #2343
As I mentioned as per the logs from the underlying brick, extended attributes setting is not working on the brick, which can only happen when the underlying disk filesystem is not working as expected. It is a kernel system call(setxattr) that is failing on the underlying filesystem. That is what is lead me to conclude something must have gone wring with the underlying disk filesystem.

[2021-04-30 04:23] pranithk commented on #2343
This is the comment which has the command to test this out on the underlying disk filesystem which is not working as expected, but there was no response with the output requested for to figure out what could be wrong.

[2021-04-30 10:58] #1326 closed

[2021-04-30 10:58] #1444 closed

[2021-04-30 10:58] #1484 closed

[2021-04-30 10:58] #1366 closed

[2021-04-30 10:58] #1323 closed

[2021-04-30 10:58] #1097 closed

[2021-04-30 10:59] #1488 closed

[2021-04-30 11:01] schaffung commented on #1326
Just to add a note. This has been seen as a failure from the side of the upgradation procedure rather than gluster. When one bumps up the glusterfs version, the onus is on the people handling the upgradation to change the op-version on the servers post upgradation. This is to prevent certain conflicts with the xlator changes between different version.

[2021-04-30 11:02] schaffung commented on #1326
Hence, as the stale bot has already stated...it is a wontfix scenario :p

[2021-04-30 11:07] manveru opened #2374 "Unrecognized flags in ganesha start hook"
**Description of problem:**

The ganesha start hook doesn't recognize some common flags, and causes a flood of logs like this:

[code]

**- The operating system / glusterfs version**:

NixOS / GlusterFS 9.1

[2021-04-30 13:59] pranithk commented on #2364
@lixiaopengxiya Thanks for taking the time to raise the issue. Sent a patch to fix the brick handle leak.

[2021-04-30 16:57] mykaul commented on #2343
Gluster strives to be a respectful, welcoming, positive and productive community. Please be mindful in your communication with the community.

[2021-05-01 08:32] mykaul opened #2378 "Remove sys_fstatat() from posix_handle_unset_gfid() function - not needed"
Similar to issue #2335 , sys_unlinkat() can handle the failures, and there's no need for stat before that.

[2021-05-01 10:22] pranithk commented on #2357
Closing the issue for now. Could you re-open the issue if you observe the issue in a supported release?

[2021-05-01 10:38] pranithk commented on #2350
@vnosov-sf
I went through the logs.

It looks like some files are in bad state so they were not migrated. Do you happen to have this file in the old bricks? If yes could you provide the output of
getfattr -d -m. -e hex <brick-path>/cifs_share/dir_1/perl/lib/snap.pm on all the 3 bricks where it was present? This would help us identify what might have happened with this file.

[2021-04-22 21:17:04.1

[2021-05-01 12:32] pranithk commented on #2353
@NanyinK Thanks for providing the steps:

@BarakSason the following commit seems to have introduced the regression.
[code]

Not your fault though, comment does say it is to be removed :-(.

@raghavendrabhat http://review.gluster.org/3925 sent by you introduced the comment mentioned by @BarakSason in the commit message. Could you please fix this issue based on your discussions? It is at the moment

[2021-05-01 12:55] pranithk commented on #2353
@raghavendrabhat Your patch didn't introduce it either. The following commit by @amarts did:

[code]

[2021-05-02 03:37] amarts commented on #2353
So, this is not introduced in 9.1, but was always present?

[2021-05-02 04:43] pranithk commented on #2353
Yeah, but there was a comment that said after 3.4.0 release that code could be removed. @BarakSason removed it based on the comment. Since this part of the code doesn't have a .t it is not caught and lead to regression

[2021-05-02 05:41] mykaul opened #2380 "Remove sys_lstat() from posix_acl_xattr_set() - not needed"
Similar to other patches (#2335), there's no need for this sys_lstat() - the following system call on that path, sys_lsetxattr() can certainly handle access failures.

[2021-05-02 05:46] mykaul opened #2381 "posix_gfid_heal() should call sys_lstat() only when needed"
Currently, it is called in two paths. In the first, it could be removed, but then __posix_get_mdata_xattr() need to be modified to handle ENOENT errors (and there may be value in doing this stat check before, without taking a lock, etc?)
The 2nd path needs to be modified slightly:
[code]

Need to handle in sys_lgetxattr() a -1 return and only if it's not -1 and not 16, then call sys_lstat() .
(Eas

[2021-05-02 05:54] mohit84 commented on #2381
We are actively working on the approach to improve lookup operation, this code path will not be require.
Once i will finish the testing i will upload the patch from the github issue (https://github.com/gluster/glusterfs/pull/2327)

[2021-05-02 06:48] amarts commented on #2353
Ok, went through the my commit 9yrs back. don't remember the complete context now. For now, my recommendation is to re-introduce the changes in fuse, and remove the comments that its not required after 3.4.0 release!

Anyways as we are fixing a upgrade issue with 9.1, this also can be fixed so, the regression wont appear when someone upgrades.

[2021-05-02 07:43] pranithk commented on #2353
@BarakSason Will it be possible for you to get this done with a .t?

[2021-05-02 11:59] #1496 closed

[2021-05-02 11:59] #1494 closed

[2021-05-02 11:59] #1492 closed

[2021-05-02 11:59] #1493 closed

[2021-05-02 11:59] #1498 closed

[2021-05-02 12:10] pranithk commented on #1523
@3tem Must have missed this. systemctl should be used with glusterd.service. glusterfsd processes should be operated by commands like `gluster volume start/stop <volname>`

[2021-05-02 12:10] #1523 closed

[2021-05-02 12:12] pranithk commented on #1496
For some reason `Status: Transport endpoint is not connected` third brick was down. That is the reason for heal entries.

[2021-05-02 12:14] pranithk commented on #1495
@sudvijayr What operations lead to this problem? Does your workload have a lot of directory renames?

[2021-05-02 12:15] pranithk commented on #1494
`[2020-05-08 01:13:27.990997] W [glusterd-locks.c:586:glusterd_mgmt_v3_lock] (-->/usr/lib/x86_64-linux-gnu/glusterfs/6.5/xlator/mgmt/glusterd.so(+0x4003d) [0x7fcbee5ba03d] -->/usr/lib/x86_64-linux-gnu/glu sterfs/6.5/xlator/mgmt/glusterd.so(+0x30dbc) [0x7fcbee5aadbc] -->/usr/lib/x86_64-linux-gnu/glusterfs/6.5/xlator/mgmt/glusterd.so(+0xe277d) [0x7fcbee65c77d] ) 0-management: Lock for default_vol he

[2021-05-02 12:18] pranithk commented on #1493
Didn't understand the issue. If you still have this issue, could you re-open?
This specific log comes when there brick process dies.

[2021-05-02 12:20] pranithk commented on #1492
@sudvijayr Do you have a reproducer?

[2021-05-02 12:20] pranithk commented on #1492
If yes, could you re-open?

[2021-05-02 12:21] pranithk commented on #1498
@luhui123123 If you still have this issue, could you provide the version where you are seeing this issue? and volume info and the commands you executed to get into this state?

[2021-05-02 12:34] #2357 closed, assigned to nobody

[2021-05-03 04:30] #2364 closed, assigned to nobody

[2021-05-03 06:32] nik-redhat commented on #2287
Thank you so much for the great explanation @csabahenk. It is clear to me now, and I will start working on the patch.

Only, curious about the value of `argv` is that some specific id or so?

Also,

Considering that we are setting the fallback option to `yes` for `$posix_spwan`, I don't think we need to provide an enabler option.

[2021-05-03 10:19] csabahenk commented on #2287
It's just a random string; the only expectation is that it will have `execve(2)` fail with ENOENT if passed as `argv[0]`.

I agree. Just mentioned the enabler option as a possibility.

[2021-05-03 13:53] #2378 closed, assigned to nobody

[2021-05-03 14:22] nik-redhat commented on #2287
Opened PR #2384 which addresses the issue. Had to do some changes to the above script, due to compilation errors.

[2021-05-03 16:06] vnosov-sf commented on #2350
Thanks for suggestion how to avoid failure to commit command "remove brick"! It helped. First default healing timeout  was changed from 600 second to 30 second. After that the "remove-brick" test was started. This time command to stop "remove-brick" was issued when status of the "remove-brick" returned failure to migrate some files. The next step was to issue command "rebalance start". The rebalan

[2021-05-04 04:09] pranithk commented on #2350
I would investigate why the files are going into bad state so often. It is not normal.

[2021-05-04 06:27] #2054 closed, assigned to nobody

[2021-05-04 12:38] pranithk commented on #1385
Following differences are present from the original patch:
Following .ts are not present in release-8
[code]
Following patches in EC are not present in release-8:
https://review.gluster.org/#/c/glusterfs/+/24911/
https://review.gluster.org/#/c/glusterfs/+/24930/

For disperse part of `tests/features/index/index-link-count-lifecycle.t` has to make following change
[code]
instead of EXPECT"^0$"

[2021-05-04 20:29] xhernandez opened #2388 "Geo-replication gets delayed when there are many renames on primary volume"
**Description of problem:**

Geo-replication normally synchronizes data in the background relatively fast. However, when the workload in the primary volume (the source) contains a lot of renames where the destination is an existing file, the synchronization begins to lag incrementally. As more time is spend doing renames, more delay is seen.

Once the rename workload stops, geo-replication slowly

[2021-05-05 04:29] #2353 closed, assigned to nobody

[2021-05-05 05:26] vh05 commented on #1479
unstale

[2021-05-05 06:13] pranithk opened #2394 "Spurious failure in tests/basic/fencing/afr-lock-heal-basic.t"
https://build.gluster.org/job/gh_centos7-regression/1129/consoleFull -- has the details of the failure. I was able to recreate a failure by running the test in loop on my laptop. It failed at a different place, but the error is similar, lock was not present.

21:00:06 [15:30:06] Running tests in file ./tests/basic/fencing/afr-lock-heal-basic.t
21:00:38 ./tests/basic/fencing/afr-lock-heal-basic.t .

[2021-05-05 06:36] itisravi commented on #1385
I see 3 patches on the main branch for this issue:
1- cluster/ec: Remove stale entries from indices/xattrop folder https://review.gluster.org/#/c/glusterfs/+/24765/
2- cluster/ec: Change stale index handling https://review.gluster.org/#/c/glusterfs/+/24911/
3- cluster/ec: Don't trigger heal for stale index https://review.gluster.org/#/c/glusterfs/+/24930/

@pranithk  release-9 has all 3 of them bu

[2021-05-05 06:41] pranithk commented on #1385
@itisravi I don't know why these are not backported.

[2021-05-05 06:46] pranithk commented on #1385
When there is a stale index, just Ashish' patch does the work. It just triggers one extra heal to do the same. But the last 2 remove stale indices, so the heal won't be triggered. So it is not necessary to port the 2 patches.
There was a test @aspandey did on the patches which I think was not easy to automate. He did the testing for the patches.

[2021-05-05 14:38] claudiosoprano opened #2397 "A better description about glusterd not working for a brick node in volume status"
**Description of problem:**
Glusterd is not working on a node, if i check the volume status the corresponding brick is not showed, but i have to verify it for each volumes or running gluster volume status <volname> client-list

**The exact command to reproduce the issue**:
On a gluster node run:
`systemctl stop glusterd`

On another gluster node run:
`gluster volume status <volname>`

**The full o

[2021-05-05 14:38] claudiosoprano commented on #2397
A feature request

[2021-05-05 14:43] claudiosoprano opened #2398 "Bitrot and scrub process showed like unknown in the gluster volume <volname> client-list"
**Description of problem:**
If i enable bitrot (and scrub) on a volume if i check the volume status with client-list i get unknown (processname) for bitd and scrub daemon

**The exact command to reproduce the issue**:
On a gluster node run:
gluster volume bitrot `volname` enable
gluster volume status `volname` client-list

**The full output of the command that failed**:
<details>

- root@gluster01

[2021-05-05 14:52] joejulian opened #2399 "Don't require quorum for directories"
**Description of problem:**
When listing a directory on a replica volume, I received `Transport endpoint is not connected`. It turned out that the directory existed on the arbiter but not on the data bricks. I would expect directories not to be held to the quorum rules. If a directory doesn't exists on a brick, I would expect it to be healed.

**The exact command to reproduce the issue**:
uncertai

[2021-05-05 14:58] mohit84 commented on #2397
Before execute the volume status you may run gluster peer status, if any cluster node status is showing disconnected in that case vol status will not show the brick status of a disconnected node.

[2021-05-05 15:08] claudiosoprano commented on #2397
You are right, but repeat in case of > 100 volumes to check a simple way to do it is

`gluster volume status | grep -E 'Status\ of\ volume|\?'`

that would report

Status of volume: web
Brick glusterweb05:/mnt/hdd4a/area1/web     49154     0          ???       2235
Status of volume: sys
Status of voulme: volumename
Brick glusterweb10:/mnt/hdd4a/area1/volumename     49154     0          ???       2

[2021-05-05 21:20] joejulian opened #2401 "Clients fail causing `Transport endpoint is not connected` errors accessing mount"
**Description of problem:**
After a few minutes, my mounts fail on every client.

**The exact command to reproduce the issue**:
[code]

**The full output of the command that failed**:
[code]

**Expected results:**
no error

**Mandatory info:**
**- The output of the `gluster volume info` command**:
[code]
**- The output of the `gluster volume status` command**:
[code]

**- The output of the `gluste

[2021-05-05 21:38] joejulian commented on #2401
Added the glusterd log. This is definitely a glusterd problem. On a hunch, I killed and restarted one glusterd and the client mounts started working again.

[2021-05-06 01:18] pranithk commented on #2350
@vnosov-sf Did you get a chance to find why the files went into bad state?

[2021-05-06 01:23] pranithk commented on #2303
@httaotao There are 3 types the data gets distributed once you do add-brick:
1) Just did add-brick with no fix-layout/rebalance:
        Old directories continue to get data in old bricks. New directories that are created after add-brick will get new files distributed in all the bricks i.e old+new
2) Did fix-layout operation on the volume after add-brick:
        Once fix-layout operation is done,

[2021-05-06 01:23] #2303 closed, assigned to nobody

[2021-05-06 01:27] pranithk commented on #2208
@idumlija Not able to extract this file.

[2021-05-06 01:30] pranithk commented on #2203
As per https://github.com/gluster/glusterfs/pull/2329, samba shouldn't be used with write-behind on.

[2021-05-06 01:30] #2203 closed, assigned to nobody

[2021-05-06 01:33] pranithk commented on #2195
@bkannadassan Could you find where most of these link files with linkcount 1 exist?

[2021-05-06 01:34] pranithk commented on #2192
@itisravi Can this be closed?

[2021-05-06 01:38] pranithk commented on #2167
[code]

There is a gfid-split-brain on the files/directories, that is the reason the files are not getting healed.

[2021-05-06 01:38] pranithk commented on #2186
@v-harihar Do you know why it crashed in shard?

[2021-05-06 02:15] vh05 commented on #2186
@pranithk will take a look

[2021-05-06 02:28] vh05 commented on #2186
@perrynzhou could you please run `gdb` on the coredump and provide `bt` o/p ?

[2021-05-06 03:58] pranithk commented on #2398
@srijan-sivakumar @mohit84 --process-name is missing while launching the process. I think that is the issue. Should be an easy fix. Let me know if one of you want to pick it up.

[2021-05-06 04:04] schaffung commented on #2398
@pranithk , I'll take it up.

[2021-05-06 04:06] itisravi commented on #2192
Yes, closing it since the PR is merged on all release branches.

[2021-05-06 04:06] #2192 closed, assigned to nobody

[2021-05-06 04:07] #1504 closed

[2021-05-06 04:37] pranithk commented on #1504
@WelldoneIT 3.8.4 is no longer in maintenance. Could you upgrade to release-8 (8.4) and check if this still appears?

[2021-05-06 05:10] #1324 closed

[2021-05-06 05:54] vh05 commented on #2186
I think the problem is in `glusterfs-7.2` that is accessing in memory `resolver_base_inode` in `shard_post_lookup_shards_unlink_handler() ` and it is fixed in recent version.  Here is the patch that addressed the issue https://review.gluster.org/#/c/glusterfs/+/24244/

[code]

[2021-05-06 05:56] pranithk commented on #2186
@v-harihar Cool, please close the issue if the crash is addressed in actively managed releases i.e. release-9 and 8

[2021-05-06 06:02] #2186 closed, assigned to vh05

[2021-05-06 09:36] httaotao opened #2403 "how to make volume split-brain to test"
hello everyone , I want to make volume split-brain to test  recovery way. But I don't know how to do.
I create a ``` replica 3``` volume, and use ``` setfattr ``` to change attr, but it doesn't matter.
[code]

I change the attr of the file.
[code]
By the way,  I change the attr of file in```Brick 3 ``` and ``` Brick 2```, the file in ``` Brick 1``` is correct. I want to know , if there has split-b

[2021-05-06 13:26] cdkunsong commented on #711
I also encountered permission problems in version 6.4. During the process of copying files, I tracked the code and found that when frame->root->uid =0, he can succeed, Debug:frame_is_user uid=0 fuid=0
But sometimes it is another value uid=0 fuid=102, it will fail
What is the possible cause ？

[2021-05-06 13:37] pranithk commented on #711
https://review.gluster.org/#/c/glusterfs/+/23233/ has the RC and fix

[2021-05-06 13:50] pranithk opened #2404 "Spurious failure of tests/bugs/ec/bug-1236065.t"
Test is not waiting for bricks to be online in shd before triggering heal full. This some times leads to no heal.

[2021-05-06 14:07] dmantipov opened #2407 "configure glitch with CC=clang"
Unlike gcc, `clang -dumpversion` reports the version in `major.minor.patchlevel` format, so configure script is unable to detect actual compiler version if running with CC=clang. For example, with clang-12:
[code]

[2021-05-06 14:22] #2404 closed, assigned to nobody

[2021-05-06 15:34] esvaf commented on #2367
After update it looks pretty good, but before this issue old version worked on this cluster about two years :)

[2021-05-06 15:34] #2367 closed, assigned to nobody

[2021-05-06 15:59] vnosov-sf commented on #2350
I'm not sure that some files were in bad state on the volume. For replica with arbiter newly written file goes on one of data bricks and on arbiter brick. On other data brick the file is present with size zero and attribute "T". Only  10 minutes later auto healing will put data version of the file on this brick. There could be some additional issues when volume has more than one sub volume. In my

[2021-05-06 19:42] pranithk commented on #2350
Could you post `gluster volume info` output and let me know the exact bricks where the data is present and not.

[2021-05-07 00:22] devangbagaria commented on #1742
how did you resolve this issue ?

[2021-05-07 01:19] pranithk opened #2410 "dict_xxx_sizen variant compilation should fail on passing a variable instead of string literal"
Recently I made a mistake where a variable is passed instead of string literal to _sizen variant but the compilation succeeded. This can lead to serious bugs. One way this can be fixed is by adding a empty string literal in front of the strin-literal argument in the macro.

[2021-05-07 01:40] archon810 commented on #877
Bump.

[2021-05-07 02:04] pranithk commented on #2397
@mohit84 @srijan-sivakumar Maybe it is a good idea to show '?' instead of Y/N for the bricks that reside on the node which is disconnected. It would make it simpler to figure out the status IMHO. What do you think?

[2021-05-07 02:38] pranithk commented on #877
@archon810 I don't think trash feature is actively maintained. I don't think it was ever production ready either.

[2021-05-07 03:38] #2398 closed, assigned to schaffung

[2021-05-07 03:39] schaffung commented on #2397
@pranithk I remember looking at a similar issue sometime ago. Need to check as to how the data is aggregated and result is populated. I do think that with the volume detail, and the detail as to which nodes are not reachable, we can get the required data to give the desired output. But then again this needs an analysis to see how easy it is to achieve that with the given flow.

[2021-05-07 04:20] pranithk commented on #2397
Sure, do let me know your findings.

[2021-05-07 06:53] claudiosoprano commented on #2250
Hi all,

i'm new to gluster, so i don't know if something is already done for my needs.

The really frustating things is to know if something is not really working (before disasters could happen), imagine a gluster environment with 1000-10000 volumes and 10-100 gluster nodes.

Now if admins of it would be checking all volumes with gluster commands to see if a brick is down, or a node is down or so

[2021-05-07 08:16] schaffung commented on #2250
@claudiosoprano We already have an exported for Prometheus under glusterfs, though it has not been maintained for sometime now and has some performance issues when used with glusterfs. The agenda of this issue is to check the existing solution and to see if it can be improved upon. For now I'm clearing out the dependency issues as there are certain packages which have been deprecated and still put

[2021-05-07 10:01] #2380 closed, assigned to nobody

[2021-05-07 10:03] #2407 closed, assigned to nobody

[2021-05-07 10:08] itisravi commented on #2370
Closing since there is no need to backport this patch as custom xlator code is not there in release branches.

[2021-05-07 10:08] #2370 closed, assigned to itisravi

[2021-05-07 10:39] dmantipov opened #2414 "Prefer mallinfo2() to mallinfo() if available"
Since glibc 2.33, `mallinfo()` is marked obsolete due to the limited range of `int` type used in `struct mallinfo`. To avoid this limitation, new `size_t`-based counterpart `mallinfo2()` was added, and so should be used if available.

[2021-05-07 11:05] itisravi commented on #2399
@pranithk I don't see why we should treat directories separately for quorum rules. What could be investigated is how we wound up in this situation. i.e was it a failed mkdir, partial rename of the dir, or buggy entry heal etc. Thoughts?

[2021-05-07 11:12] pranithk commented on #2399
It should have been healed IMO.

[2021-05-07 11:19] itisravi commented on #2399
Since `cluster.granular-entry-heal` is not enabled in the volfino, that code path is ruled out.

@joejulian  Did you get a chance to capture the `getfattr -d -m. -e hex `outputs of the said directory and its parent from the bricks?

I think capturing that, along with the mount, brick and self-heal daemon logs should give us some insight.
Also, what version of glusterd was this?

[2021-05-08 01:33] #1909 closed, assigned to nobody

[2021-05-08 04:28] #1449 closed

[2021-05-08 11:54] levindecaro opened #2417 "Sharding decision for oVirt"
**Description of problem:**

Intermittent VM pause and Qcow image corruption after add new bricks.

I'm suffered an issue on image corruption on oVirt 4.3 caused by default gluster ovirt profile, and intermittent VM pause. the problem is similar to #2246 #2254 and VM pause issue report in ovirt user group. The gluster vol did not have pending heal object, vol appear in good shape, xfs is healthy,

[2021-05-08 15:11] pranithk commented on #2417
With enough number of VM images, you would face this problem without sharding too. cluster.lookup-optimize has a bug that needs to be fixed. It affects all workloads. Even we had to disable it on our prod cluster for a completely different workload. With this setting turned off, things work smoothly. IMHO better to go with sharding with cluster.lookup-optimize off.

[2021-05-08 15:12] pranithk commented on #2417
@amarts @xhernandez Let's turn it off by default until we fix the issue?

@msaju Let's wait for a decision on this before 8.5/9.2

[2021-05-08 16:58] joejulian commented on #2399
version 9.1

client:
[code]

nightshade brick
[code]
[code]
[code]
strabo brick
[code]
[code]
[code]

gluster3 (arbiter) brick
[code]
[code]
[code]

[2021-05-08 21:32] #1009 closed

[2021-05-08 21:32] #1514 closed

[2021-05-09 07:06] kshithijiyer commented on #1461
@srijan-sivakumar what's the last update on this?

[2021-05-09 07:55] tshacked opened #2418 "(glusterfs-9.2)- GlusterFS 9.2 tracker"
Description of problem:
Tracker for the release 9.2

[2021-05-09 08:45] mykaul commented on #2417
It's interesting that you are running qcow2 instead of raw sparse disk.

[2021-05-09 14:55] schaffung commented on #1461
@kshithijiyer I'm not sure about this failure as to the current builds. Will have to check if it is still failing.

[2021-05-10 02:41] joejulian commented on #2399
Looking at the mdata made me wonder... could this have anything to do with the brick being mounted with `noatime,nodiratime`?

[2021-05-10 04:49] itisravi commented on #2399
I don't think that would be an issue as AFR xattrs  get updated only for modification FOPs and not during read/reddir/stat etc.
For `db.backup1`, the afr xattrs seem to be only blaming the 1st brick, so we still have  2 good copies which shouldn't fail the lookup since quorum is still there. For the parent directory `imap_db` on the other hand, the xattrs indicate both the 1st and 3rd brick being

[2021-05-10 05:00] sayaleeraut commented on #1461
@kshithijiyer  @srijan-sivakumar  As far as Downstream CI runs are concerned, it is NOT seen in the recent runs.

[2021-05-10 05:00] itisravi commented on #2394
I ran the .t 50 times on both Fedora 33 and RHEL-7.9 and it passed all the times.  :(
Will update if I find anything.

[2021-05-10 05:45] joejulian commented on #2399
Ok, fine, fail the heal on a directory with conflicting afr entries, but unless it's conflicting gfid, there's no reason to block access to the contents. There's no risk of data loss, is there?

I thought granular heals have been the default for as long as I can remember, haven't they?

Yes, this volume has gone through many upgrades. I couldn't even guess what version it started on. 6, maybe?

[2021-05-10 05:49] joejulian commented on #2399
Also, it's not shown if it's the default, right? Did you want a "get all"?

[2021-05-10 05:56] joejulian commented on #2399
But if it's failing to heal and the only thing different between directories is the timestamps, that's why I wondered. Especially since the mdata doesn't match.

[2021-05-10 06:57] Shwetha-Acharya opened #2421 "rsync should not try to sync internal xattrs."
Actual results:

[2020-12-20 10:42:00.590805] E [resource(/gluster/brick1/ESB_shared):1021:rsync] SSH: SYNC Error        sync_engine=Rsync       error=rsync: rsync_xal_set: lsetxattr(""/proc/28842/cwd/.gfid/e639e7f7-332e-4c62-9e05-520efadfb3b7"","trusted.glusterfs.lockinfo") failed: Operation not permitted (1)

Expected results:

Should not show failures in geo-replication log although data is syn

[2021-05-10 08:22] #2388 closed, assigned to nobody

[2021-05-10 08:53] itisravi commented on #2399
Earlier, granular entry heal was enabled only for ovirt setups with the virt profile enabled. From 9.x onwards it is turned on by default, but only for newly created volumes. Since your setup is upgraded, it still heals in the non-granular way. So that explains why it is off (which is fine).

The reason quorum checks were added to lookup is because lookup also serves the stat information and it wa

[2021-05-10 08:54] lboclboc commented on #855
We also see this error and we suspect it started after turning on the metadata-cache group settings of the volume.

[2021-05-10 08:57] itisravi commented on #2399
If you are still getting errors, then we should check if the gfid symlinks of these directories inside .glusterfs are in order.

[2021-05-10 14:32] joejulian commented on #2399
I did walk the symlinks back to root on each brick earlier in trying to diagnose this.

[2021-05-10 18:58] joejulian commented on #2399
[code]

[2021-05-10 21:46] joejulian commented on #2401
Here's the backtrace of a client that's currently stuck. Not sure if this will provide some insight.
[code]

[2021-05-10 23:38] joejulian commented on #2399
Oh! I think you meant `cluster.entry-self-heal` and/or `cluster.metadata-self-heal` that was turned off not long after the self-heal-daemon came into being. Tried setting that and it also did not heal the directories.

Went ahead and turned on all three of them and still could not heal from the client.

[2021-05-11 01:48] itisravi commented on #2399
Yup the client side heal option was what I meant. With these still turned on, can you try the `ls` from a new (temporary) fuse mount ?
`ls /mount-point/d7fa21c1-6acd-11e9-b40e-360bd37934d8/imap_db/db.backup2`
`ls /mount-point/d7fa21c1-6acd-11e9-b40e-360bd37934d8/imap_db`

and check if the heal happens. The mount log must contains self-heal related messages if it happens.  BTW, I guess now the only

[2021-05-11 02:02] joejulian commented on #2399
Still get ENOTCONN.

[tmp-hostpath_pv.log](https://github.com/gluster/glusterfs/files/6455998/tmp-hostpath_pv.log)

No log entry for `imap_db`.

[2021-05-11 05:30] pranithk commented on #2394
@itisravi Is there something you can add in the .t/.c files that can help you debug it when it happens again?

[2021-05-11 05:45] pranithk commented on #2401
@joejulian Looks like both the socket threads are stuck doing pthread_cond_wait() This can lead to ping-timer expiry.

[code]

Will it be possible for you to install debuginfo packages to see the exact trace? Maybe you should take 2 `bt` outputs few seconds apart just to be sure it is not valid execution but are really stuck.
I think this is the code path where pthread_cond_wait is happening if it

[2021-05-11 07:34] #1983 closed, assigned to nobody

[2021-05-12 04:52] #1517 closed

[2021-05-12 05:41] Boran commented on #1107
Bump. This bugs should be addressed, it will bit other at some stage...

[2021-05-12 06:30] dmantipov commented on #1960
Will be reopened.

[2021-05-12 06:30] #1960 closed, assigned to nobody

[2021-05-12 06:48] dmantipov opened #2429 "Use file timestamps with nanosecond precision"
If futimens(2) is available, storage/posix should use file timestamps with nanosecond precision.

[2021-05-12 07:10] dmantipov opened #2431 "Drop --disable-syslog configuration option"
Since syslog is unconditionally used in libglusterfs/src/logging.c, this configuration option makes no sense anymore.

[2021-05-12 08:57] vh05 commented on #2417
IMO, sharding is an excellent feature for gluster which can effectively make use of storage space and allows users to create files > brick_size. I believe it is a cost-effective solution, a storage product should have.

We shall solve any issues related to the shard xlator and make it more stable.

[2021-05-12 08:59] zhangxyue opened #2433 ".glusterfs directory differ on the bricks of a GlusterFS Replicated volume"
**Description of problem:**
I create a 3 replica volume. And mount it on client. Then:
1. mkdir dir on client and dd a file into the dir.
2. rm -rf dir on one of the server node.
3. rm -rf dir on the client.
4. du -sh ./.glusterfs show different size

I find the .glusterfs still contains file with 1 link, which should be unlinked.

**The exact command to reproduce the issue**:

**The full output o

[2021-05-12 09:34] itisravi commented on #2433
@zhangxyue Modifying data directly on the brick (step-2) is not a supported usecase.

[2021-05-12 09:39] zhangxyue commented on #2433
Thx for your reply.

[2021-05-12 09:42] #2433 closed, assigned to nobody

[2021-05-12 11:22] xhernandez commented on #2417
@levindecaro it's not clear to me... have you been able to reproduce the issue with `cluster.lookup-optimize` disabled ? AFAIK, with it disabled, the issue shouldn't occur.

Disabling shard is another option, since the problem happens when both shard and lookup-optimize are enabled, but I think it's easier to disable lookup-optimize and keep the advantages of shard.

[2021-05-12 11:30] #2410 closed, assigned to pranithk

[2021-05-12 11:33] #2287 closed, assigned to csabahenk, amarts, xhernandez, nik-redhat

[2021-05-12 11:37] #2024 closed, assigned to nobody

[2021-05-12 11:48] jirireischig commented on #1525
Please, open this bug, because it's not resolved and there is potential of **data loss** when kernel-writeback-cache is on.

[2021-05-12 12:37] mykaul commented on #1525
If there's a risk, we shouldn't use this. I've read somewhere (#435) that it's not safe:
[code]

[2021-05-12 12:55] #2431 closed, assigned to nobody

[2021-05-12 13:01] itisravi commented on #2394
@pranithk  If I look at the logs, the first test that fails is
62 TEST [ "$c1_lock_on_b1" == "$c1_lock_on_b2" ]

[code]
So the lock request from the gfapi client was not present on the 1st brick. If I look at the logs, the brick process is up and running and the client is also connected to theup  bricks before acquiring the lock.  Also, since brick 3 is down, the lock  has to succeed on both the 1

[2021-05-12 15:10] jirireischig commented on #1525
I think, that main problem is how writeback-cache is working.
Specialy https://github.com/gluster/glusterfs/issues/435#issuecomment-392009971

May be, its possible that Gluster can "translate" O_WRONLY flag to any useful variant.

[2021-05-12 16:03] pranithk commented on #1525
@csabahenk did you get a chance to look into this?

[2021-05-12 17:13] xhernandez commented on #1525
I'm not sure why FUSE needs to send a read request in case of partial writes (it could simply send the partial write). Receiving reads on a file opened for write only could be problematic. It would need a more detailed analysis.

But I think that combining the writeback-cache with proper invalidation from gluster to kernel (we have invalidation, but it's not strict enough to ensure consistency rig

[2021-05-13 07:24] #1384 closed

[2021-05-13 08:47] #2429 closed, assigned to nobody

[2021-05-13 19:41] #1489 closed

[2021-05-13 19:41] #1519 closed

[2021-05-13 19:41] #829 closed

[2021-05-14 09:20] #2414 closed, assigned to nobody

[2021-05-15 21:58] #1528 closed

[2021-05-15 21:58] #1521 closed

[2021-05-15 21:58] #1411 closed

[2021-05-15 21:58] #834 closed

[2021-05-15 21:58] #835 closed

[2021-05-15 21:58] #117 closed

[2021-05-15 21:58] #403 closed

[2021-05-15 21:58] #1481 closed

[2021-05-16 17:51] tnako opened #2440 "Geo-replication not working on Ubuntu 21.04"
Both master and slave show Faulty status for geo-replication. After investigation found that sync daemon failed on `t.isAlive()` as it was removed in Python 3.9

[2021-05-17 05:50] schaffung commented on #1107
@Boran  on initial look, it seems like the check as mentioned by Sunny was introduced to prevent the service denial attacks. Now that is causing the volume from being activated. But I think if are having such a condition, the failure or message should be thrown at the creation process itself.

[2021-05-17 05:54] #2440 closed, assigned to nobody

[2021-05-17 08:44] vguilleaume opened #2442 "Log Error Message - server-rpc-fops.c:937:_gf_server_log_setxattr_failure"
**Description of problem:**

We have a two nodes GlusterFS in production. The cluster is deployed with 1 brick replicated across the two nodes.
The volume is mounted and access locally from a "mount" point.

We have some error message which are unclear for us , these logs are the extract of Gluster log (glusterd.log, mnt-cache.log, ...)

`[2021-05-12 09:03:46.497703] W [fuse-bridge.c:1931:fuse_err

[2021-05-17 09:13] azadiali commented on #833
Hi, we have the same problem, we tried to restart glusterd, nothing was removed from .glusterfs directory.
any ideas? should we try to reboot the server as well?

[2021-05-17 09:46] pranithk commented on #833
.glusterfs stores hardlinks from the files in the brick. So as long as they are roughly equivalent it should be fine. What is the kind of difference you observe between du -sh of the directories apart from .glusterfs?

[2021-05-17 10:58] azadiali commented on #833
You are right. The difference between the original files and the files inside .glusterfs is about 1GB

But when I checked the contents of .glusterfs (with ls -lh), most of the files were actual files (such as jpeg...) and were not hard links.

[2021-05-17 11:06] pranithk commented on #833
In .glusterfs only directories would be there. Files shouldn't be there as per my understanding. Could you post the output of `ls -lh .glusterfs`?

[2021-05-17 17:48] Boran commented on #1107
Yes it makes sense to limit the size to prevent attacks and overflows.
The problem is the value chosen for the limit, which should correspond to typical file name lengths.

[2021-05-17 18:34] AlexNinaber opened #2443 "Core dumps on Gluster 9 - 3 replicas"
**Description of problem:**

A number of services use a 3 replicated gluster mount, rebooting one of the replicas always results in a core dump on the machine taking over the services. Once coredumped, the directory shows Socket not connected.

How to trigger: rebooting one of the replicas. Recreated the volume from scratch, still same problem. The services in HA might hold the mounted gluster for

[2021-05-17 20:00] AlexNinaber commented on #2443
#0  list_del_init (old=0x7f81000dff68) at ../../../../libglusterfs/src/glusterfs/list.h:82
No locals.
#1  __delete_client_lock (lock=0x7f81000df720) at client-lk.c:128
No locals.
#2  __insert_and_merge (fdctx=fdctx@entry=0x7f8100089ec0, lock=<optimized out>) at client-lk.c:272
        conf = <optimized out>
        t = <optimized out>
        sum = 0x7f81000ce3c0
        i = 0
        v = {locks =

[2021-05-17 20:20] bryank-cs commented on #1472
@mohit84, what local file system did you try this on that was failing? It seems to work fine for me on xfs, ext4 and even an nfs backed by ext4. It does fairly quickly yield an error on glusterfs (5.13) with readdir-ahead  on.

[2021-05-17 23:55] dannylee- opened #2444 "Issue with unmounting Gluster FUSE mount"
**Description of problem:**
We use the "Client connected" field from the output of "gluster volume status <volName> clients" to determine when all the FUSE mounts have been disconnected from the Gluster volume (Basically, the client count should equal the number of heal daemons if all FUSE mounts have been unmounted).

We ran into instances where the Gluster client count was wrong (or some process

[2021-05-18 00:42] pranithk commented on #2443
@AlexNinaber Let me try to recreate this issue and get back to you.

[2021-05-18 01:13] pranithk commented on #2443
@AlexNinaber What is the application you are running on the mount when you hit the issue. Locking pattern is important to recreate the issue. It would be great to have this info too before I try to recreate the issue.

[2021-05-18 02:51] httaotao opened #2445 "glusterfs snapshot makes error and volume status is ok"
**Description of problem:**
  I coludn't create volume snapshot, it showed
[code]
it is a two replica volume.  and gluster  version is ``` 7.5```
[code]

then I checked  info ```gluser snapshot list ``` , the snapshot info was different in different nodes. one of the node had the snapshot which was deleted in other nodes.

Here are the errors info in that node.
[code]
I sured that I had deleted th

[2021-05-18 03:19] pranithk commented on #2444
@dannylee- When a client is unmounted a disconnect event is raised in server. Disconnect processing in server happens asynchronously. Unmount may or may not complete after server processes this disconnect event. If unmount happens while I/O is in progress, chances of this happening is more pronounced as the client resource cleanup will be delayed until all the operations from that client are compl

[2021-05-18 03:20] pranithk commented on #2445
@rafikc30 Need your inputs here.

[2021-05-18 05:28] mykaul commented on #1619
unstale - looks like an easy fix to me.

[2021-05-18 06:29] mykaul opened #2446 "client_add_lock_for_recovery() - new_client_lock() should be called outside the spinlock lock"
Currently, under pthread_spin_lock(&conf->fd_lock) we call new_client_lock(). I think we can optimistically call it before taking the spinlock, and if we end up unable to get a good result from this_fd_get_ctx(), we'll clean up this unused client lock (looks like a simple call to destroy_client_lock() if we don't need it, which essentially frees it)

[2021-05-18 06:40] opinionhuh commented on #2281
We added sleep but the issue is still present.
We did some tests with TLS disabled, and were unable to reproduce.

Any guidance on how to resolve this, or why this issue occurs?

[2021-05-18 06:56] baturorkun opened #2447 "expand lvm (brick)"
hi all
I have a 3 node GlusterFS on oVirt (RHV). I set volumes of "data" and "vmstore" 500 MB while I was installing but my disk is 3.2 G totally. So I need more space and to expand volume.   After searching that operation, I found lots of instruction and methods to expand the volume. I don't want to lose my data.  I found a UI named Manage GlusterFs on RHV but  I noticed that I can add brick to e

[2021-05-18 07:06] schaffung commented on #2447
Hi @baturorkun, yes from what I remember, we can expand the volume using the UI or also use the command line to add new bricks ( Though I had used the command line to perform the expansion). From what I've understood..you've converted your replica 3 into a 2x3 volume. To re-assure, it is the normal process to expand the volume by adding new bricks.

[2021-05-18 07:08] pranithk commented on #2447
@baturorkun Please make sure to turn off
`#gluster volume set <volname> cluster.lookup-optimize off`

[2021-05-18 09:53] #1533 closed

[2021-05-18 09:54] #1534 closed

[2021-05-18 13:28] dannylee- commented on #2444
@pranithk I forgot to add that the glusterfs client process did shutdown after the umount.  I did not add the -l "lazy" flag to the umount so it should have only been able to umount successfully if no one is writing to the mount (unless umount'ing a Gluster mount is always lazy by Gluster in the 8.3 version?).

It hung for about an hour before we decided to just go ahead with the brick server shut

[2021-05-18 13:54] pranithk commented on #2444
I understand that umount is shutting down the client process. What I meant to say is that unmount doesn't wait for server to cleanup the resources. It has been an asynchronous from 3.x releases.

[2021-05-18 17:15] dannylee- commented on #2444
Do you have any thoughts on what could have caused the client cleanup on the server processes are hanging?  Specifically why the fops->unlink was hanging for longer than 30 minutes?

I found the gluster dump file for one of the instances that had the issue.
[glusterdump.log](https://github.com/gluster/glusterfs/files/6503105/glusterdump.log)

[2021-05-19 03:09] pranithk commented on #2444
@dannylee- Oh it hung for 30 minutes? That must be a bug. @xhernandez I think there could be a race in https://review.gluster.org/#/c/20025 where even after all the locks are unlocked, the stub is never wound as per the statedump. Do let me know if you have cycles to look into this one. I am basing it on the fact that the only stack trace in the statedump is stuck in locks xlator.

[2021-05-19 03:26] pranithk commented on #2444
@xhernandez Considering that @dannylee- is facing this problem during unmount when the connections are cleaned up. Most probably we are missing a wakeup call (pl_inode_remove_wake()) in pl_inodelk_client_cleanup() where the locks would be cleaned up.

[2021-05-19 03:33] httaotao opened #2450 "glusershd log level error on gfs7.5"
**Description of problem:**
Hi, we used gluster with version ``` 7.5```  in ``` ubuntu18.04 LTS```, these days, we found out the ```  glustershd.log```  files which sizes are large. some of the node is more than 800MB, then I checked the  file ``` glustershd.log```  and found that some nodes file log level changed into ```  DEBUG```, but some of these are ``` INFO```.

some  ```debug``` info in ``

[2021-05-19 03:58] pranithk commented on #2444
Another path is clear-locks command where similar code change is needed.

[2021-05-19 04:19] itisravi commented on #2394
Re-opening for backports.

[2021-05-19 04:41] itisravi commented on #1234
Re-opening for backports.

[2021-05-19 08:03] xhernandez commented on #2444
I'll try to take a look.

However, if an unlink is pending, the mount should be busy. How is it possible to umount a volume when an unlink is not yet completed ? unless the unlink comes from self-heal, in which case I'm not sure what could cause it... are clients doing unlocks properly before closing brick connections when the disconnection is "controlled" ?

[2021-05-19 13:39] AlexNinaber commented on #2443
@pranithk it's not easy to give 1,2,3 step plan, there are multiple services running from Gluster: mongo, dhcp, slurm. I've added a longer wait before failover (i.e until the node can't ping anymore), it's not core dumping. However, what remains ever since using version 9 is the time for files to be repaired, if at all. Sometimes I have to restart the services as otherwise it just doesn't seem to

[2021-05-19 16:53] amarts commented on #2401
Don't remember this part. I remember reviewing the patch (https://github.com/gluster/glusterfs/issues/465#issuecomment-411707530) but the idea here was to make sure we have the loop running till we complete the fop. Because the INTERRUPT may come anytime while the operation is in progress, so a loop was required is what I thought.

@csabahenk can explain I guess.

[2021-05-19 19:21] baturorkun commented on #2447
@srijan-sivakumar thanks for the reply.  I have 3 nodes. 3 volumes "vmstore" and "data".  I understood that I have to add a new brick to my volume to expand the volume.

[2021-05-19 21:36] AlexNinaber commented on #2443
Dear @pranithk, again core dump, but now without rebooting anything in the 3x replica; after 2 hours fuse mount entirely gone.

#0  list_del_init (old=0x7fb38418af58) at ../../../../libglusterfs/src/glusterfs/list.h:82
82          old->prev->next = old->next;
Missing separate debuginfos, use: debuginfo-install userspace-rcu-0.10.0-3.el7.x86_64
(gdb) full bt
Undefined command: "full".  Try "help".

[2021-05-20 01:41] pranithk commented on #2443
@AlexNinaber Could you do
p *lock in any of the frames where this variable is available?
Maybe the lock->next/lock->prev is NULL.

[2021-05-20 01:46] pranithk commented on #2443
@AlexNinaber I found one place where it could be NULL. Will it be possible for you to test the patch to see if this is the only place where the issue is present?

[2021-05-20 01:55] pranithk commented on #2443
@AlexNinaber https://github.com/gluster/glusterfs/pull/2457 Could you test this issue with the RPMs generated and let us know if this fixes the issue?

[2021-05-20 03:21] schaffung commented on #2447
@baturorkun Just to add one more point, if it is replica 3, don't add one brick, you'd have to add one subvolume per volume hence changing the volume from replica 3 to distributed-replica 2x3.

[2021-05-20 05:55] nik-redhat commented on #2450
What is the output of `gluster v get all cluster.daemon-log-level`. I think that is set to `DEBUG`.

[2021-05-20 06:25] httaotao commented on #2450
thanks for answer,  this is the info
[code]

[2021-05-20 06:45] nik-redhat commented on #2450
Ok, is the logging still done at DEBUG level? Or was it limited to only a few sets of log?

[2021-05-20 06:58] httaotao commented on #2450
yet, the logging is still done at DEBUG level.

[code]

[2021-05-20 07:32] nik-redhat commented on #2450
Can you try restarting glusterd and see if that helps?

[2021-05-20 08:28] nik-redhat commented on #2314
Hi, @jamielinux some of the above options have been deprecated and a new option has been added in its place, while some of the options are used based on the translator that is enabled. You can check more info about the options by executing the command `gluster v set help`.
For example:
`performance.cache-size`  option is deprecated and in contrast, we have 2 separate options for different translat

[2021-05-20 09:55] nik-redhat commented on #705
General question: If we use `#ifedf DEBUG` then that part of code will be executed only in debug build. But, how do we do a  DEBUG build, by adding the flag `--enable-debug` to the `./configure` script, or is there some other way?

[2021-05-20 10:18] vh05 commented on #705
If I have understood correctly, do you want know how to enable DEBUG flag through the config flag? If my understanding is right then here is that part which enables DEBUG flag

https://github.com/gluster/glusterfs/blob/634db840005280a9363f670829053e9f7ea6a668/configure.ac#L273

[2021-05-20 10:21] nik-redhat commented on #705
Right, yes I thought so. This means in the code, we are using the macro `DEBUG` to check for debug builds which is wrong. The correct macro is `BUILD_DEBUG`, I just checked the same locally.

[2021-05-20 10:21] AlexNinaber commented on #2443
@pranithk
    (gdb) p *lock
Cannot access memory at address 0x0

Happy to try the rpm, where can I find it?

[2021-05-20 10:30] pranithk commented on #2443
@AlexNinaber Which frame did you try it in? Could you do this in frame-1

[2021-05-20 10:47] mykaul commented on #705
So that means some code we thought would be enabled in debug really wasn't? There are many many cases of ```#ifdef DEBUG``` all over the code.

[2021-05-20 11:04] baturorkun commented on #2447
@srijan-sivakumar
I am planning to use RHV GUI. The UI force me to add new brick to the volume. After the operation, my volume was expanded and changed my volume type from "Replicate" to  "Distributed Replicate"

[2021-05-20 11:28] roflmao opened #2459 "Stale file handle on disperse volume"
**Description of problem:**
Alot of directories are stale and cannot be stat'ed

**The exact command to reproduce the issue**:
ls over fusemount

**The full output of the command that failed**:
Directories shows up as:
[code]

**Expected results:**
Files/directories to be listed and available

**Mandatory info:**
**- The output of the `gluster volume info` command**:
[code]

**- The output of the

[2021-05-20 11:40] AlexNinaber commented on #2443
@pranithk  this is gdb on the core, lock is optimized out so not immediately clear to me if putting a break in would help really.

[2021-05-20 11:42] nik-redhat commented on #705
I think I made some wrong judgments. Sorry for the confusion, it works with `DEBUG` only, it was due to the wrong execution of commands from my end.

[2021-05-20 11:46] pranithk commented on #2443
You don't need to put a break point. In gdb: Do:
(gdb) fr 1
(gdb) p *lock

If you are not on slack, can you join using the slack invite in https://www.gluster.org/community/?

[2021-05-20 11:47] AlexNinaber commented on #2443
(gdb) p *lock
$1 = {fd = 0x7fb3780416d8, user_flock = {l_type = 0, l_whence = 0, l_start = 1073741824, l_len = 2, l_pid = 0, l_owner = {len = 0, data = '\000' <repeats 1023 times>}},
  fl_start = 1073741824, fl_end = 1073741825, fl_type = 0, cmd = 0, owner = {len = 8, data = "\213*\246\234\"\245\211\356", '\000' <repeats 1015 times>}, list = {next = 0x0,
    prev = 0x0}}

I'll get slack

[2021-05-20 11:54] pranithk commented on #2443
Cool, this confirms the theory.
https://build.gluster.org/job/gh_devrpm-el7/1563/ -- el7
https://build.gluster.org/job/gh_devrpm-fedora/1530/ -- fedora

[2021-05-20 11:55] pranithk commented on #2443
Check under `Build Artifacts`

[2021-05-20 16:35] csabahenk commented on #2401
Looking at the statedump in _logs.zip_.

From the callpool entries we can extract these ones that refer to interrupt:

- global.callpool.stack.39.frame.8
- global.callpool.stack.40.frame.8
- global.callpool.stack.41.frame.8

I'll just quote one, as they look very similar:

[code]

What happens here is that _setlk_ got an _interrupt_ which is handled by doing a service GETXATTR on the lockee that h

[2021-05-20 18:52] csabahenk commented on #2401
Btw this was the commit: cd0332f0140a7173606c08faa6779677d69a3745 that has had setlk fop's cbk to wait for the interrupt handler to finish. It's not expected to change the general flow, it's just about stricter synchronization around deallocation.

The standard event flow that gets us here is like this:

- setlk request is made
- setlk is blocked (lock is taken)
- interrupt triggered from userspac

[2021-05-21 01:11] httaotao commented on #2450
I'm sorry that this is prod env, it  doesn't matter now but just the file size is increasing quickly. thanks.

[2021-05-21 01:40] tangyla commented on #1963
I had verified this issue is gdb bug, update your gdb then you can debug program.

[2021-05-21 01:40] #1963 closed, assigned to nobody

[2021-05-21 05:30] #1546 closed

[2021-05-21 05:30] #1544 closed

[2021-05-21 13:38] baturorkun commented on #2447
Can I expand LVM volumes from OS Linux for 3 nodes instead of adding brick? (new lvm)

[2021-05-21 14:55] pranithk opened #2462 "Repeated mkdirs with Invalid arguments are coming in glustershd.log after upgrade to v9.x"
Following logs show up in glustershd.log continuously:
[code]

Op version of glusterd:
[code]

cluster.use-anonymous-inode is supposed to be enabled only when the op-version is 9.x but it is enabled even without it. This is leading to issues where the heals won't complete etc.
[code]

[2021-05-21 15:27] mykaul commented on #1637
Still makes sense to me to look at this. I think it'll have a nice impact on memory consumption.

[2021-05-21 18:18] pranithk opened #2463 "graph switch in glusterfs does fsync which leads to I/O freeze on the mount for extended periods"
![Screenshot from 2021-05-13 09-00-56](https://user-images.githubusercontent.com/450543/119180917-8e45e600-ba8e-11eb-9c96-4e42adfc9b7b.png)
On graph switch for each fd an fsync is called serially leading to high latency on the mounts during this process. This was done to make sure write-behind flushes the buffers correctly even when flush-behind is enabled.

We should be able to change write-behin

[2021-05-22 04:48] sankarshanmukhopadhyay commented on #1686
Does this exist in latest releases? It seems relevant enough to be reviewed and decided upon.

[2021-05-22 09:13] itzonban commented on #1686
In version 8.4 it still exists. But since the latest change of the file on github is from 2 years ago, I assume it also still exists in the 9.x release.

[2021-05-22 14:02] baturorkun commented on #2447
@srijan-sivakumar  @pranithk
i found that doc : https://access.redhat.com/solutions/1517993
i extended lvm (brick)
my volume is  expanded but my domain size is already old (on oVirt)

[2021-05-22 23:54] pranithk opened #2464 "Fix spurious failure of tests/line-coverage/cli-negative-case-and-function-coverage.t"
statistics command is executed without waiting for shd to be up. This can lead to failures in some cases where shd is yet to be up. Here are the logs that show that the process is still coming up when this command is executed:
[code]

Log of the run that failed regression:

00:42:19 [19:12:19] Running tests in file ./tests/line-coverage/cli-negative-case-and-function-coverage.t
00:42:19 ./tests/li

[2021-05-23 01:22] #2374 closed, assigned to nobody

[2021-05-23 12:29] ariqmbrilian opened #2466 "Frequently datastore in ESXi unaccessable"
**Description of problem:**
I have 3 gluster server, 2 controller which is the function is for the connectivity between gluster and esxi and i have 4 esxi. Suddenly the vm in those ESXi server down, when I checked the datastore the result is the available storage is 0. So I check the gluster server and found the capacity of ssd02 full

**The exact command to reproduce the issue**:
gluster volume s

[2021-05-23 13:28] pranithk commented on #2466
@nsalab please attach logs of the client and bricks for the volume which has the brick down

[2021-05-24 09:09] amarts opened #2467 "failed to open /proc/0/status: No such file or directory"
**Description of problem:**

Some of our users are seeing logs like above (container usecase), which results in crash of glusterfs process.  examples
 https://github.com/kadalu/kadalu/issues/540 https://github.com/kadalu/kadalu/issues/468

It may be possible that the issue is with setup, but the crash shouldn't happen regardless.

**The exact command to reproduce the issue**:

Not clear right now.

[2021-05-24 09:28] recolic opened #2469 "Python syntax error in syncdutils.py"
**Description of problem:**

Python syntax error while processing an error message.

**The exact command to reproduce the issue**:

Python 3.8.5, ubuntu 20.04, glusterfs 9.2. The SSH command has an error message, but the error handler failed.

This issue is related to specific python version.

[code]

This issue is not related to gluster volume

**The full output of the command that failed**:

[co

[2021-05-24 10:25] karthik-us commented on #502
@pranithk as per the design of the solution for this, we had decided to enhance the granular-entry-heal solution to save the metadata related to the rename operations. But that will lead to backward compatibility issues. Below is a scenario which explains the issue.

- We have 2 files dir1/a dir2/b
- Rename dir1/a to dir2/b
- As part of this transaction, we will store the information about the dir

[2021-05-24 10:32] vh05 opened #2470 "sharding: [inode.c:1255:__inode_unlink] 0-inode: dentry not found"
**Description of problem:**
Due to wrong `block_name` passed to `inode_unlink` in `shard_evicted_inode_fsync_cbk`(), resulting in `dentry not found error`.

[code]

**The exact command to reproduce the issue**:
[code]
**Expected results:**
<details>
Should not result in the above-explained error

**Mandatory info:**
**- The output of the `gluster volume info` command**:
[code]

[2021-05-24 13:51] mproniakin opened #2472 "Gluster update 6/7 to 8: Errors creating files from gluster 8 client mount point"
**Description of problem:**
Hello,

During rolling update from gluster 6 to 8 I've noticed problems creating files from mount point on host with gluster 8. Decided to take a step back and do an update from 6 to gluster 7 succesfully. Trying again with gluster 8 update resulted with the same issue.
Setup on hosts is HCI ( gluster + ovirt ) - all hosts contain gluster client and server
It looks like

[2021-05-25 02:30] httaotao opened #2473 "minio in gluster7.5 was Shutting down connection"
**Description of problem:**

hello everyone, we met a problem that we used minio in ```glusterfs``` . One day, the volume mount was down.
I couldn't understand the error info what happened.

this is the volume info
[code]
the volume status is correct and we can mount in node by ourself.
we knew that there had a mount bug before ``` glusterfs7.7```
so we already set the volume ```performance.open-b

[2021-05-25 05:24] pranithk commented on #2473
@httaotao Are you able to recreate this issue consistently?

[2021-05-25 05:35] pranithk commented on #2473
This issue is same as https://github.com/gluster/glusterfs/issues/2286 -- We need a consistent reproducer to fix the issue.

[2021-05-25 06:39] vh05 commented on #2472
@mproniakin

Do you see the issue once after the upgrade to gluster 8 on all hosts?

[2021-05-25 07:26] pranithk commented on #2472
@itisravi Could you find why arbiter is receiving read requests?
[code]

[2021-05-25 07:49] httaotao commented on #2473
thanks for answer.

I am really  sorry that I don't know how to recreate this issue.

But I found that when I delete pod in k8s , the volume brick has a lot of info like that

[code]
if I could recreate , I will do that . thanks

[2021-05-25 08:13] httaotao commented on #2473
yet, we met the problems one more times  today.

this is the brick info
[code]

it seems that there are some ``` Invalid argument``` to cause this problem.

and this is ``` syslog``` in client node.
[code]

[2021-05-25 08:16] pranithk commented on #2473
@httaotao If it is possible, could you list the steps to recreate this issue?

[2021-05-25 08:56] mproniakin commented on #2472
@v-harihar I didn't upgrade all hosts to gluster 8. However, I did upgrade host-2 to gluster 8 and it was working with host-1 (gluster 8)- file attributes were the same on both host.

Specific lines in log on hosts with gluster 7 created after touch:
[code]

[2021-05-25 09:15] vh05 commented on #2472
@mproniakin It's always recommended to get all hosts on the same gluster version. Otherwise, you may face ENOTSUP from the hosts on which attrs, etc are unknown. So Please upgrade all the servers to the one you would like to upgrade.

[2021-05-25 09:32] mproniakin commented on #2472
@v-harihar  That would be done if this issue didn't exist. Tests and upgrades were done on dev gluster. But I cannot have this situation during rolling upgrade on production gluster.

[2021-05-25 09:35] #2443 closed, assigned to pranithk

[2021-05-25 09:46] nik-redhat commented on #2450
In such a case, are we good to close this issue? If in the future you do a restart and still face this problem you can re-open the issue.

[2021-05-25 09:49] httaotao commented on #2450
yet, we can close this issue, thanks.

[2021-05-25 09:50] #2450 closed, assigned to nik-redhat

[2021-05-25 09:58] httaotao commented on #2473
I am sorry , I tried to do many times but it's not  happened in this afternoon. if we find out how to recreate, I will write again. thanks.

[2021-05-25 10:23] itisravi commented on #2472
@pranithk  As a part of lookup, the logic to mark arbiter as non-readable in the inode context is already there in release-6. Though this gfid is different than that of the `faa` file, something fishy is going on here.

@mproniakin
1. Do the fuse volfiles( /var/lib/glusterd/vols/$VOLNAME/*fuse.vol ) have  `option arbiter-count 1`  in them?
2. Can you share the getfattr output of the gfid `9aa317e7

[2021-05-25 12:18] mproniakin commented on #2472
@itisravi
1. Yes, they do have this option
2.
[code]
3. There are no messages in glustershd.log containing this gfid in any node.

[2021-05-25 13:54] pranithk opened #2479 "Incremental rebalance enhancement"
# Incremental Rebalance:

## Problem:
At the moment Rebalance for a volume can't be paused once it is started. Restarting rebalance process will lead to going through all the directories that were already rebalanced in previous incarnation before 'stop' command is executed. Idea earlier was that doing a restart of the rebalance process shouldn't be an issue because migration of data that is aleady

[2021-05-25 13:59] pranithk commented on #2479
@amarts @mohit84 @amarts
This is the high level idea. If this doesn't have any issues, I can fill in the missing parts like handling failures of rebalance for some directories etc

[2021-05-25 14:14] dit101 opened #2480 "Brick going offline on another host as well as the host which rebooted"
**Description of problem:**
Hi,
I have an issue where sometimes if I reboot a Gluster node the bricks on that host go offline as expected but also a brick on another host which can cause volume failures. I have to force a volume start to bring the brick back online.
Thanks

**The exact command to reproduce the issue**:
systemctl stop glusterd
killall glusterfs glusterfsd glusterd
init 6
gluster vo

[2021-05-25 14:26] pranithk commented on #2480
@dit101 Could you attach the client and brick logs to find what happened?

[2021-05-25 14:48] dit101 commented on #2480
[logs.tar.gz](https://github.com/gluster/glusterfs/files/6540157/logs.tar.gz)
sorry attached now. There are no clients in this cluster yet. We have clients in another cluster where I've also seen this issue. I enabled trace logging before the reboot so hope it helps

[2021-05-25 15:52] itisravi commented on #2472
Looks like the reads are sent by the bitrot daemon  (the feature is enabled according to the volinfo and we see the bit-rot.version xattrs above). We had seen this problem earlier (https://github.com/gluster/glusterd2/issues/1089) but never got around to the fix. But this specific error does not impact functionality and can be ignored - i.e. it is not related to the actual problem at hand in this

[2021-05-26 06:14] kannanvr commented on #1635
closing this issue

[2021-05-26 06:14] #1635 closed, assigned to nobody

[2021-05-26 08:00] dit101 commented on #2480
@pranithk could you have a look at the logs to see the issue please?

[2021-05-26 08:43] pranithk commented on #2480
@dit101 As per the following logs on server2:
[code]

There are no cleanup_and_exit() logs which indicate graceful exit of the process. So someone killed the process with SIGKILL. One possibility could be OOM kill. Did you see any OOM kill messages in dmesg or /var/log/messages ? on server2 when this happened?

Is this consistently recreateable?

[2021-05-26 09:30] dit101 commented on #2480
@pranithk it doesn't happen all the time. I may be able to repeat it by rebooting the same server again. I checked the logs on server2 and OOM killer didn't run.

[2021-05-26 10:20] pranithk commented on #2480
@dit101 if there was an OOM killer you should see it in /var/log/messages file, check the rotated logs also.

[2021-05-26 10:32] dit101 commented on #2480
@pranithk I checked /var/log/messages from yesterday for anything related to OOM Killer and there's nothing there

[2021-05-26 11:22] roflmao commented on #2459
Seems the directory 431/jc000107987/606 is not present on brick01 (but is present on data02,data03,data04 on all servers),  how can this happen and shouldnt a heal fix this?

[2021-05-26 14:34] dit101 commented on #2480
@pranithk the log message at 1345 would have been me force starting the volume to bring the brick online. Server1 was rebooted at 1339 which then brought the bricks on Server2 offline as well as those on Server1. These servers aren't used at the moment as we're testing before they go live. I can try recreate the issue again if you want to collect more information?

[2021-05-26 14:42] pranithk commented on #2480
@dit101 What I was pointing at is, before that, there is no cleanup_and_exit() log. Something like this.

[code]
If this log is missing, then the brick is killed with SIGKILL, which can happen with OOM killer, so was asking

[2021-05-26 15:25] dit101 commented on #2480
@pranithk thanks for explaining. Nothing was done on Server2 and there was no issue. When I rebooted Server1 the bricks went offline on Server2. I've seen this issue on a couple of clusters now. Is there anything else you need from me?

[2021-05-26 16:29] pranithk commented on #2480
@dit101 Went through the logs multiple times. I don't see any logs that indicate any operation on the brick is done which could lead to brick process going down on server2 from logs. SIGKILL is the only possibility with the info you gave so far. If there is a way to find who is killing this process, that would be helpful.

[2021-05-26 16:47] dit101 commented on #2480
@pranithk I don't have a way to check at the moment but I think the brick process was running but just goes offline in Gluster. So a process listing still shows the brick process. I can try validate this by reproducing the issue if you want. If I can reproduce the issue is there any logging and output you'd like?

[2021-05-26 16:51] pranithk commented on #2480
Oh, Could you capture `ps aux | grep glusterfs` output on server2 when this happens?

[2021-05-26 16:54] pranithk commented on #2479
@xhernandez Looks like I included Amar twice instead of including you :-D

[2021-05-26 17:00] pranithk commented on #2480
cc @nik-redhat One possibility for this could be because of portmap handling issues.Do you have any other information that needs captured?

[2021-05-26 19:19] TheDarkBrotherhood commented on #1448
Will this issue ever be addressed? I am attempting the same approach but will fail every time.

[2021-05-27 05:18] itisravi opened #2483 "Place holder issue for fixing potential bugs in protocol/client/src/client-lk.c"
**Description of problem:**
As mentioned in the community meeting and slack discussions with @pranithk ,  the lock-recovery changes introduced with https://review.gluster.org/#/c/glusterfs/+/22712/  seems to have issues,  Two are fixed https://github.com/gluster/glusterfs/pull/2456 and https://github.com/gluster/glusterfs/issues/2337, but we still need to look at at the differences between posix-l

[2021-05-27 05:18] itisravi commented on #2483
CC @pranithk @karthik-us @msaju

[2021-05-27 05:59] pradeepdubey1711 commented on #855
We are using Teamcity for automation of workflows.  Teamcity runs constantly hitting above discussed error

[2021-05-27 06:03] pranithk commented on #855
Do you have any reproducer for this issue?

[2021-05-27 06:35] pradeepdubey1711 commented on #855
I did not get . Do you require steps to reproduce this issue or any kind of logs ?

[2021-05-27 06:40] pranithk commented on #855
Steps to reproduce the issue. More consistent the better.

[2021-05-27 07:36] aspandey commented on #2459
What do you mean by this comment?
Let's take one dir and do the debugging. Could you please do the following -

1 - Provide "ls -l 431/jc000107987/606" from all the bricks.
2 - output of "gluster volume heal dfs-069 info"
3 - getfattr -d -m. -e hex /mnt/data0*/brick/431/jc000107987/606/       from all the bricks
4 - Do stat on this directory from mount point and give us the output. Also, provide m

[2021-05-27 07:49] pranithk commented on #2459
@aspandey This user is available on gluster slack.

[2021-05-27 07:52] nik-redhat commented on #2480
I too, couldn't found anything problematic in the logs shared.
@dit101 along with the output of the above command if, you could also share the following data it might be helpful:
 - volume status before reboot
 - volume status after reboot and contents of `/var/lib/glusterd`, also I think the output of `ps aux | grep glusterfsd` is to be taken at this time, @pranithk ?
 - do a force start and then

[2021-05-27 08:04] roflmao commented on #2459
@aspandey Im wondering why the directories is not present on any data01 bricks, while they are present on all other bricks on all servers. Sounds like a job for heal.

1.
[code]

2.
[code]
3.
[code]

4.
[code]

[2021-05-27 08:25] pranithk commented on #2480
Makes sense. I am wondering if there is a situation where the portmap information went wrong where the brick is running but the port in glusterd is not mapped correctly or something.

[2021-05-27 08:35] nik-redhat commented on #2480
That might be the case....hence we need to check what port value is being stored in the brick vol files, and if at all it is getting updated correctly or not.

[2021-05-27 08:38] pranithk commented on #2480
In that case maybe netstat output would be helpful too.

[2021-05-27 08:39] pranithk commented on #2480
`netstat -alnp` to be precise, to see what ports are used by what processes.

[2021-05-27 08:44] dit101 commented on #2480
Thanks @pranithk  @nik-redhat I'll try reproduce later and gather the required information

[2021-05-27 09:09] aspandey commented on #2459
@roflmao The problem is that this directory is not present on first subvolume.

When you say that this directory is not present on any data01 bricks, actually in your case, all the data01 bricks make first subvolume.
So this directory can not be healed for first volume as it is not present on 4 bricks of this "subvolume" in
this volume with configuration 4 + 1, we should have at least 4 good brick

[2021-05-27 09:38] roflmao commented on #2459
@aspandey
1.
We have done no operations to the cluster since it was created june 2020 other than upgrade from 7.5 to 7.6 and then to 7.7 via dpkg
2.
Deletes are done via gfapi
3.
Not really, it seems only data01 is affected but the bricks have been running ever since the clusterstart.

Example count for a directory on one server:
[code]

[2021-05-27 09:46] httaotao opened #2484 "quota doesn't limit data size in glusterfs7.5"
**Description of problem:**
Hi everyone, we found that ``` quota```  commond doesn't work.
[code]

**The exact command to reproduce the issue**:
1. create a volume and enable quota
2. mount and write data into it.
3. if the last file is lager than the available of this volume, it can write, but the ``` Used``` size is overlimit.

[2021-05-27 09:54] rkothiya opened #2485 "Remove dead code"
Objective : To Remove dead code
Impact:
1) Easy to maintain.
2) Improve line coverage

[2021-05-27 10:18] #2470 closed, assigned to nobody

[2021-05-27 12:38] Shwetha-Acharya opened #2490 "features/locks: glusterfs.lockinfo should not appear on listxattr for any client"
pl_fsetxattr() in locks xlator processes the special xattr in pl_fsetxattr_migrate_lockinfo() and continues processing it as a normal xattr (so writing it to disk)

[2021-05-27 12:39] aspandey commented on #2459
@roflmao It is difficult to understand what could have caused this if no manual (or script) change has been made.
I am not seeing even dirty xattr on even a single brick which is strange.
At this point we can apply some workaround specially when there is not much data in side this directory -

There is only one subvolume which has one entry otherwise this dir is empty.
    /mnt/data04/brick/431/jc

[2021-05-27 12:50] roflmao commented on #2459
As per @pranithk suggestion i should try to disable lookup-optimize and create a new folder but it fails as well:

[code]

Also the folder jc000107987 contains 181 stale folders its quite a big job

[2021-05-27 13:58] kun-lu20 opened #2491 "Add s390x support to community CI"
**Description of problem:**
Hello, we are trying to add s390x support for official tarballs and rpm packages of the latest versions of GlusterFS, since the community GlusterFS PPA already provides s390x deb packages.

We found that tarballs and rpm packages are built and released through Jenkins jobs (https://github.com/gluster/build-jobs). If the community agrees, we are glad to provide s390x VMs

[2021-05-27 14:01] pranithk commented on #2491
@deepshikhaaa @amarts @xhernandez

[2021-05-27 14:59] dit101 commented on #2480
@pranithk @nik-redhat this time when I rebooted server4 the server1 brick for volume1 went offline. I've collected and attached the logs including process and netstat output so hope they help. The brick process continued to run on server1 as per the process listing.
[logs2.tar.gz](https://github.com/gluster/glusterfs/files/6554926/logs2.tar.gz)
.

[2021-05-27 15:13] pranithk commented on #2480
@nik-redhat Do you want to give this a shot? I am suspecting this to be because of recent changes to port-mapper. But I could be wrong.

[2021-05-27 15:22] nik-redhat commented on #2480
@pranithk the recent changes to the portmapper have not yet gone into a release. It is only in the devel branch till now, so that shouldn't be the case here.
Also, due to some recent updates in the plan, I will only be able to take up this issue after 11th June.  I am afraid, either you will have to look into it, or if someone else can take a look.
Sorry for these last-minute changes.

[2021-05-27 15:26] pranithk commented on #2480
Ah! Cool.

Sure, will take a look.

[2021-05-27 17:18] marcofais opened #2492 "Issues with glustershd with release 8.4 and 9.1"
Hi,

I am having significant issues with glustershd with releases 8.4 and 9.1.

My oVirt clusters are using gluster storage backends, and were running fine with Gluster 7.x (shipped with earlier versions of oVirt Node 4.4.x). Recently the oVirt project moved to Gluster 8.4 for the nodes, and hence I have moved to this release when upgrading my clusters.

Since then I am having issues whenever one

[2021-05-27 18:06] pranithk commented on #2480
Based on the info provided today. I went back to yesterday's logs and find the following suspicious logs
[code]

These logs suggest that when the glusterd went down on server1, brick processes were sending signin and signout as if they have come up and gone down to server2 which is leading to the volume status misbehaving on server2 because the brick paths are identical on both the servers.

This

[2021-05-28 07:15] amarts commented on #2479
Problem is real for sure. Many users have complained about it previously.

I am bit confused about Step 2 and Step 3 with the description, mainly due to missing understanding of what the 'index' is.

* Is it a file? (Hardlink/symlink? or something else?) or a dir? (so the entire directory hierarchy is repeated there?)

I believe my question is coming up because I am not well versed with index xlat

[2021-05-28 07:31] pranithk commented on #2479
It will be a file.

[2021-05-28 10:04] xhernandez commented on #2479
Talking about "index" I thought it would be a standard index provided by the index xlator, but it seems not. This means that we'll need some new server side support, or all will be controlled by DHT remotely ?

Can you detail a bit more what will be stored in this file (only gfid's or something else ?) and if it will have some structure or it will be a simple list ?

[2021-05-28 10:18] pranithk commented on #2479
Exact implementation I haven't thought about. But the index will be similar to that of what we have in index xlator. We have an empty file/hardlink with name as directory's gfid. We can encode node uuid also into the name or we can create a separate directory that denotes node-uuid and store the file just with gfid of directory. Just a simple list like we have in index xlator. Let me think about t

[2021-05-28 11:32] xhernandez commented on #2479
Oh, then it will be a regular index. I though you were talking about keeping the data inside a file.

The overall idea seems ok to me as a high level approach. However I foresee some potential issues when crawling subdirectories. If I understood it correctly, we will add the uuid of the root directory to the index, then we'll add each subdirectory's uuid to the index and process the files. At this

[2021-05-28 13:12] pranithk commented on #2479
There is some xattr(ends with commit-hash or something like that) in rebalance which tells if rebalance on a directory is complete or not. So if rebalance is complete on the directory we can skip it. I am yet to understand this part of code in dht. But it is similar to afr/ec where the versions say there is nothing to heal.

In my proposal I neither said BFS nor DFS, it will pick any directory tha

[2021-05-28 14:04] aravindavk commented on #2479
Not directly related to rebalance. But an idea to get the list of directories from the Volume easily without crawling the entire FS.

During `mkdir`, after creating the GFID symlink, create a hardlink for that symlink inside `.glusterfs/dirs`.

For example, when a directory d1 is created, Symlink gets created in `.glusterfs/6d/e5/6de57d35-0d83-4c31-b996-5dd685fc794e`

The proposal is to create a h

[2021-05-28 14:19] pranithk commented on #2479
In rebalance we anyway need to crawl the fs to either migrate the file or rebalance a directory. So unfortunately we won't avoid anything even if we create the extra dirs index in the brick. Idea is neat though!

[2021-05-28 15:12] dit101 commented on #2480
Thanks @pranithk I shutdown the bricks first and they didn't go offline on another server. I'll let you know if I see the issue when shutting down the bricks first as it doesn't happen all the time. But from what you've posted it looks like you've found the cause

[2021-05-29 06:13] levindecaro opened #2493 "Weird 16E File size but actually 4.5MB"
**Description of problem:**
Encountered "Infinity" size output from "du -hs" on the gluster replicated volume mount point.

**The exact command to reproduce the issue**:

du -hs *
ls -hs *
**The full output of the command that failed**:
<details>

[code]

[code]

two file are identical
[code]

[code]
[code]
**Expected results:**
<details>

**Mandatory info:**
**- The output of the `gluster volume

[2021-05-30 13:57] #1584 closed, assigned to nobody

[2021-05-30 13:57] #1527 closed

[2021-05-30 13:57] #1615 closed, assigned to nobody

[2021-05-30 13:57] #1625 closed, assigned to nobody

[2021-05-30 13:57] #1592 closed, assigned to nobody

[2021-05-30 13:57] #1590 closed, assigned to nobody

[2021-05-30 13:57] #1580 closed, assigned to nobody

[2021-05-30 13:57] #1170 closed

[2021-05-30 13:57] #1564 closed, assigned to nobody

[2021-05-30 16:34] ZPascal opened #2494 "Distributed dispersed volume force creation not working correct"
**Description of problem:**
Hello Community,

I would like to create a distributed dispersed volume. I have used the command `gluster volume create test disperse 4 redundancy 1 xxx:/glusterfs/xxx/test xxx:/glusterfs/xxx/test xxx:/glusterfs/xxx/test xxx:/glusterfs/xxx/test force
This configuration is not optimal on most workloads. Do you want to use it ? (y/n)`
Since I am creating the volume inside

[2021-05-30 16:48] aravindavk commented on #2494
Use `--mode=script` to skip this prompt.

[code]

[2021-05-30 16:52] ZPascal commented on #2494
Thanks for the tip it works perfectly.

[2021-05-30 17:13] #2494 closed, assigned to nobody

[2021-05-31 04:34] #1634 closed, assigned to nobody

[2021-05-31 04:34] #1651 closed, assigned to nobody

[2021-05-31 04:47] itisravi commented on #2493
@levindecaro What are the values of  `du` and `ls` on the 3 bricks for `2e44cd16-40be-4b97-b83a-e4796ef54e96`?
Does this file have any shards under .shard folder on the bricks?

If you have a consistent reproducer, please share it as well.

[2021-05-31 05:55] khumps commented on #2467
Hello, I am having the same issue.
Gluster version: 9.2
OS: kubernetes (backed by ubuntu)

[code]

Happy to provide any more information needed

[2021-05-31 06:49] xhernandez commented on #1706
I think this is still an interesting idea.

[2021-05-31 06:53] #705 closed

[2021-05-31 06:56] xhernandez commented on #2479
Maintaining the current .glusterfs/xx/yy gfid structure is the source of some of the performance issues we currently have. I don't think that creating a third structure will be a good idea.

[2021-05-31 14:03] levindecaro commented on #2493
Here are the file under the brick, no shards under .shard directory, that file is used by ovirt 4.3.6 datastore OVF and just a long line json file. I don't know how is that happened.

from client
[code]

1st replica
[code]

2nd replica
[code]

arbiter node

[code]

[2021-05-31 16:04] itisravi commented on #2493
1. On the 2 data bricks, I see that `IO Block: 131072`. What backend filesystem are you using? I have usually seen this value to be 512 or 4096 (like how it is shown in the arbiter node). Wonder if you used some special formatting options.

2. According to the man pages, `Blocks: 2698` means the disk usage is 2698*512 = 1381376 bytes. i.e. 1.38 MB. Does `du -hs` without the `--apparent-size ` also

[2021-05-31 21:50] Bockeman commented on #1728
I have not had any recurrence of this issue, so closing.

[2021-05-31 21:50] #1728 closed, assigned to nobody

[2021-06-01 09:52] Shwetha-Acharya commented on #2491
@kalebskeithley

[2021-06-01 10:21] karthik-us commented on #502
Hi @pranithk did you get a chance to go through the previous comment? We would like to get your thoughts on that.

[2021-06-02 03:59] levindecaro commented on #2493
1. Backend is using ZFS on data node, and xfs on arbiter node
2. without --apparent-size  it is 1.4M
[code]

3. The getfattr output as below
[code]

[code]
[code]

Today I got another two 16E file on the gluster mount point, one is 200GB from ls -lh,  another one is 5M from ls, both report 16E from du -hs . The file size from the brick is correct. Just incorrect du size from client mount point .

[2021-06-02 05:12] httaotao opened #2498 "Peer is connected and Accepted in gluster7.5"
hi everyone, today we  restarted some node ,but we found that a peer node is not health.
[code]
I don't know what happen. thanks.

[2021-06-02 07:04] #2446 closed, assigned to rkothiya

[2021-06-02 09:20] #2421 closed, assigned to Shwetha-Acharya

[2021-06-02 11:10] rakshithakamath94 opened #2499 "Not able mount glusterfs volumes for devel branch rpms on RHEL-7"
**Description of problem:**
I was running performance test for the latest rpms of glusterfs devel branch - RHEL-7. Its failing while mounting the volumes from server to client.

RPMS downloaded from - http://artifacts.ci.centos.org/gluster/nightly/devel/7/x86_64/ for latest run,
precisely glusterfs-20210531.ef223b9.

**The exact command to reproduce the issue**:
Ansible task:
  - name: Mount glust

[2021-06-02 12:58] itisravi commented on #2499
@rakshithakamath94  Can you attach the mount log please?

[2021-06-02 13:05] itisravi commented on #2499
Actually, all logs under /var/log/glusterfs would be helpful.  Also, the output of `gluster volume info`. FWIW, latest devel mounts fine on my Fedora laptop for a replica volume.

[2021-06-02 13:50] rakshithakamath94 commented on #2499
Hi @itisravi ,

I have updated the initial comment with details, please take a look.

Thank you.

[2021-06-02 16:27] #1702 closed, assigned to rkothiya

[2021-06-04 02:10] jifengzhou opened #2502 "xlator/features/locks/src/common.c has code duplication"
The posix_lock_to_flock function is called in the __insert_and_merge->add_locks function on line 850 of xlator/features/locks/src/common.c, and the posix_lock_to_flock function is called repeatedly on line 858. The effect of the two calls is the same.

[2021-06-04 03:08] pranithk commented on #2502
@jifengzhou You are correct, want to send the patch?

[2021-06-04 03:09] pranithk commented on #2502
remove INIT_LIST_HEAD(&sum->list); also before that line, even that is not necessary

[2021-06-04 13:33] humblec commented on #2266
@satyaranjanp can you share more  details on `inconsistent` ? is it about some changes in the metadata of the file or the real content itself ? also how do you reproduce this issue ?

[2021-06-05 02:20] EnriqueVeguer opened #2506 "Build only the cli"
**Description of problem:**
This is a feature request, I'm proposing to build only cli component of gluster so that it is possible to manage glusterfs on systems that are not clients or servers for any gluster filesystems.
Why?
I'm running a nagios server on a centos 8 virtual machine running on aarch64, I downloaded a plugin to check gluster and it uses the cli so I installed glusterfs and it ins

[2021-06-05 05:07] aravindavk commented on #2506
Gluster CLI is a RPC client exposed by the Glusterd(Management daemon). Gluster CLI connects to socket file present in local system. Unfortunately this RPC layer is not exposed outside the Cluster.

Why not use `ssh` to execute the commands remotely from the Alpine node?

Example:

[code]

[2021-06-05 06:55] #1681 closed, assigned to nobody

[2021-06-07 07:26] nik-redhat commented on #2498
Hi, @httaotao is the peer status still the same, or is it back to normal?
If not, could you share the glusterd logs at the moment this happened, it will help in finding the issue?
Also, are you using quota for your cluster, and are both the nodes on the same version?

[2021-06-07 07:27] rafikc30 commented on #2480
@pranithk  Nice explanation. I can send a patch if you are busy.

[2021-06-07 07:51] nik-redhat commented on #2480
@pranithk just a thought if the brick paths wouldn't have been same, then will this issue occur? Just curious to know this, based on the issue with volfiles of the bricks.
Maybe @dit101, if it's feasible for you to create a dummy volume and give this a try?

[2021-06-07 10:18] karthik-us opened #2507 "Use appropriate msgid in gf_msg()"
In one of the gf_msg log in function afr_is_reopen_allowed_cbk() it uses the msgid AFR_MSG_LK_HEAL_DOM when it fails to get whether reopen is allowed of not on a FD. The msgid AFR_MSG_LK_HEAL_DOM is introduced specifically to identify lock heal related messages.

Code that inappropriately uses the AFR_MSG_LK_HEAL_DOM id:
if (op_ret != 0) {
        gf_msg(this->name, GF_LOG_ERROR, op_errno, AFR_MSG

[2021-06-07 15:03] httaotao commented on #2308
Execute me, it's really nice for the video, but if we have some questions to ask, where could we ask ?
For example, In session 2,  I'm not sure what the function MAKE_HANDLE_ABSPATH_FD is.  Do you mean that it get the abspath of the fd ? how does it work ?  i didn't understand the command ``` snprintf(var, __len, "%02x/%s", gfid[1], uuid_utoa(gfid));``` .  By the way, it's a endless while and when

[2021-06-08 00:30] pranithk commented on #2480
No it won't occur

[2021-06-08 06:39] roflmao commented on #2459
We did mkdir two lacking directories on two bricks (/mnt/data01/brick/431/jc000107987) and all files became available again.

Shouldnt heal be able to do this? Tt created the dirs inside 431/jc000107987 so it seems the lacking parent doesnt make it heal?

[2021-06-08 10:56] atinmu commented on #2480
good catch @pranithk ; just managed to read this analysis while looking at @rafikc30's patch!

[2021-06-08 11:10] pranithk commented on #2480
Thanks! :-)

[2021-06-08 14:47] dit101 commented on #2480
Thanks Guys. Was a bit busy and will be all week. Was going to try this over this coming weekend if you needed me to. Since @pranithk confirmed it won't occur with different brick paths I won't test that scenario :-)

[2021-06-09 04:43] ariqmbrilian opened #2511 "How to access the volume"
I have an issue, my volume is unaccessable because full. is there a way to browse the volume or the brick to access the file, So I can migrate the data to other disk. Thank you

[2021-06-09 05:26] #2507 closed, assigned to karthik-us

[2021-06-09 09:54] #2083 closed, assigned to rkothiya

[2021-06-09 10:22] levindecaro opened #2513 "Flooding posix_handle_pair and posix_mknod message in brick log"
**Description of problem:**
We have a nfs-ganesha HA setup on gluster 9.2, and encountered the following message every few sec in brick logs complaining some posix operation are falling for uncountable shards.

[code]

**The exact command to reproduce the issue**:

**The full output of the command that failed**:
<details>

**Expected results:**
<details>

**Mandatory info:**
**- The output of the

[2021-06-09 18:10] MarvinTO opened #2514 "Is it possible to reuse brick’s data in a replica volume?"
This is more like a question, than an issue, since I'm not sure if this is supported.

Is it possible to reuse a brick’s data in a replica volume?

Something like:
- gluster volume remove-brick vol_name replica N brick_path force
- detach network disk
- rebuild VM
- attach network disk
- gluster volume add-brick vol_name replica N brick_path force

We have a 5 bricks replica cluster. Currently, we

[2021-06-09 23:44] pranithk commented on #2514
It is not something we test. So the behavior is undefined I guess.

[2021-06-10 05:25] rkothiya opened #2515 "Unable to mount the gluster volume using fuse unless iptables is flushed"
**Description of problem:**

The performance test runs were blocked as glusterfs volume was not getting mounted using fuse on the upstream devel branch.
If we flush the iptables rules then the problem gets solved.

The following patch was reverted and then the test was run again and then we were able to run the performance test without flushing the iptables rules.

[code]

**We need to document wh

[2021-06-10 05:27] rkothiya commented on #2515
@nik-redhat , can you take a look at this

[2021-06-10 07:26] rkothiya commented on #2499
I did not know that this ticket has been opened for the mount problem.
I have nailed down the patch which is causing the problem which I have mentioned in the below issue, Nikhil is looking at it.
https://github.com/gluster/glusterfs/issues/2515

[2021-06-10 07:27] nik-redhat commented on #2515
One thing to note is once the iptables are flushed it no more needs to be flushed and things will work until the iptables service is restarted.

[2021-06-10 08:15] aiheshan opened #2516 "high cpu load when quota enabled on the volume"
**Description of problem:**
 cpu load of glusterfsd are very high when quota enbled and after limit-usage some directories. it cause all operations are slow.
glusterfs cluster： 47 peers
gluster volume： 45 bricks （15 *3 ）
directories：60 directories under root dir，and set limit-usage on these directories。 These directories are not empty。
The cpu load of glusterfsd always exceeds 1000% ，and the quota

[2021-06-10 08:33] spuiuk opened #2517 "Regression in glusterfs causing test failures in samba-integration testing"
The samba-integration project
https://github.com/gluster/samba-integration
involves building a test system consisting of 2 nodes with glusterfs, ctdb and samba installed using nightly builds of samba and glusterfs. The setup of these machines are done using ansible playbooks available in the project.

In the last two weeks we have consistent failures in testing because we can no longer mount the c

[2021-06-10 09:30] httaotao commented on #2498
thanks for answer, there were some  info I found out in error node 12
[code]

By the way, I checked some info about peers
[code]
there was the  peer info in error node  12 about node 2.

[code]
there was the peer info in node 2 about node 12

[code]
there are the info about node 2 and node 12 in other health node.

I found the state num is different in node 12. so, should I edit the num ?

we also

[2021-06-10 10:30] nik-redhat commented on #2517
Hi @spuiuk , I am looking into the issue from gluster end and the meantime I have a workaround for this issue and one can follow either of the 2 to get things to work.

1. You can use `iptables -F` to flush the iptable and it should work
2. If at all the above is not working or is a concern, wrt to other iprules set, one can add a rule in each node being used like this:
`iptables -I INPUT -p all -

[2021-06-10 10:32] nik-redhat commented on #2515
I am looking into the issue from gluster end and the meantime I have a workaround for this issue and one can follow either of the 2 to get things to work.

1. You can use `iptables -F` to flush the iptable and it should work
2. If at all the above is not working or is a concern, wrt to other iprules set, one can add a rule in each node being used like this:
`iptables -I INPUT -p all -s <ip-address

[2021-06-10 12:21] kalebskeithley commented on #2491
I'm not aware that CentOS runs on s390x, at least not as one of the core, supported architectures. (Which are x86_64, ppc64le, and aarch64 for C8, plus armhfp, i386, and ppc64 for C7.)

Taking a quick look I don't see that s390x is even in the CentOS altarch SIG and it doesn't look like there has been s390x support in CentOS since CentOS 4 or so back in 2009-2010.

The community packages that are

[2021-06-10 13:32] spuiuk commented on #2517
Hi Nikhil,

I cannot get it to work even after the iptables commands.

[root@storage0 ~]# mount /gluster/lock/
Mount failed. Check the log file  for more details.
[root@storage0 ~]# iptables -I INPUT -p all -s 0/0 -j ACCEPT
[root@storage0 ~]# mount /gluster/lock/
Mount failed. Check the log file  for more details.

I have done this on all the nodes.

Sachin Prabhu

[2021-06-10 13:37] nik-redhat commented on #2517
Sorry, I should have mentioned it above.
You will have to destroy the cluster completely, delete the volumes, and then try it again. This is wrt to the command you are trying.
Also, could you please the `-v` flag while mounting for verbose log (just a thought, not sure if that's helpful or not).

[2021-06-10 13:50] spuiuk commented on #2517
i've noticed that simply stopping and starting the volume results in the volume mount working fine. In this case, maybe the iptables are not at fault then?

[root@storage0 ~]# mount /gluster/lock/
Mount failed. Check the log file  for more details.
[root@storage0 ~]# gluster volume stop ctdb
Stopping volume will make its data inaccessible. Do you want to continue? (y/n) y
volume stop: ctdb: succes

[2021-06-10 13:52] nik-redhat commented on #2517
I am currently unable to reproduce this issue, in my VMs though. I have tried out with the latest devel code, and the volume gets mounted without any issues.
This worked for me previously as well, but some time ago `iptables -F` was executed on them, and  I doubt that might affect this, not sure though.

[2021-06-10 13:54] nik-redhat commented on #2517
This is something I am unable to understand because if the problem would have been in getting the ports then even doing a start-stop shouldn't have worked.

[2021-06-10 13:55] nik-redhat commented on #2517
Can you please share the log the mount logs and glusterd logs just before this operation and after this operation?

[2021-06-10 13:55] spuiuk commented on #2517
We could provide you with test systems with the machine in this particular
condition and a consistent way to get into this situation if you would like
to test.

On Thu, Jun 10, 2021 at 2:52 PM Nikhil Ladha ***@***.***>
wrote:

[2021-06-10 15:15] MarvinXuya commented on #2514
Hello @pranithk, I have the same question about best practices when rebuilding a host, whats the right approach to handle bricks to avoid to lose data?

[2021-06-10 15:41] kun-lu20 commented on #2491
Hi @kalebskeithley, thanks for your feedback! We're so glad to know that the community packages have already supported many distros on s390x.

BTW, we're still looking for s390x binaries of the latest release of Glusterfs on RHEL and SLES distros. Do you think support could be added to Jenkins jobs to achieve this? Or at least could s390x support be added to the building and testing scripts in com

[2021-06-10 16:28] kalebskeithley commented on #2491
The community packages are built using community resources, e.g. Ubuntu Launchpad, CentOS Storage SIG, and OpenSUSE OBS. The gluster project has very little in the way of resources, and no s390x resources at all. Red Hat and RHEL do not provide any community resources like Launchpad or OBS.

In OBS, all the packages we build are built with all the arches that OBS offers; s390x doesn't seem to be a

[2021-06-11 04:40] itisravi commented on #2499
Closing this issue based on the above comment.

[2021-06-11 04:40] #2499 closed, assigned to nobody

[2021-06-11 07:43] #2050 closed, assigned to nobody

[2021-06-11 07:52] httaotao commented on #2308
Hello, it's very nice for  us to understand glusterfs, I am curious where I can ask some questions when I am watching these sessions.
For example, I don't understand the context ``` dumpops``` in xlator_api like this
[code]
thanks

[2021-06-11 08:09] pranithk commented on #2308
github discussions can be used for this.

[2021-06-11 08:47] jirireischig commented on #2462
I have a lot of errors in glustershd.log too:

[code]
All my nodes using 9.2 version.

[2021-06-11 08:54] pranithk commented on #2462
As a workaround, you can do
`gluster volume set all cluster.op-version 90000`

[2021-06-11 09:10] jirireischig opened #2521 "errors in log: nl-cache: inode is not of type dir [Invalid argument]"
**Description of problem:**
Some times errors in "mount-dir".log file:

[code]

**The exact command to reproduce the issue**:

I don!t known.

**The full output of the command that failed**:
<details>

**Expected results:**
<details>

**Mandatory info:**
**- The output of the `gluster volume info` command**:
[code]
**- The output of the `gluster volume status` command**:
[code]

**- The output of

[2021-06-11 17:19] kalebskeithley opened #2522 "ganesha_ha (extras/ganesha/ocf): ganesha_grace RA fails in start() and/or fails in monitor()"
**Description of problem:**
shell [[ ]] string compare fails to match returned attr to the pattern and subsequently returns status of "not running", resulting in dependencies such as the IPaddr (cluster_ip) RA not starting

**The exact command to reproduce the issue**:

**The full output of the command that failed**:
<details>

**Expected results:**/usr/lib/ocf/resource.d/heartbeat/

<details>

**

[2021-06-13 11:36] sam0737 opened #2524 "auth.allow list is corrupted after add-brick (buffer overflow?)"
**Description of problem:**

After `add-brick`, the `auth.allow` have a high chance of getting corrupted, if `auth.allow` is used and **two or more** peers were not in the `auth.allow` list.

I suspected it's the problem introduced in https://github.com/gluster/glusterfs/issues/1391

https://github.com/gluster/glusterfs/blob/9ddac5962b00335cb18b6ccf4c955c0cca94ed2f/xlators/mgmt/glusterd/src/gluste

[2021-06-13 18:00] mushokumunou opened #2525 "normal command like ls mv mkdir are not working in vol-root dir."
normal command like ls mv mkdir are not working in vol-root dir.
in sub dir， it works ok.
I have no  idea with it.

[2021-06-14 01:47] mohit84 commented on #2524
@sam0737 Can you please send a patch along with test case?

[2021-06-14 01:58] mohit84 commented on #2525
Can you please share the below info
1) What are the volume options enabled
   gluster v info
2) What are the mount options to mount a volume
   ps -aef | grep gluster
3) Share the client(mount) logs while a command is not working

[2021-06-14 03:07] schaffung commented on #2498
Hi @httaotao from the output you've attached see the following line,

[code]

This implies that the vol info checksum of the data present in /var/lib/glusterd/vols/vol_3a474e5442e64b6ae8a7eeb491e37978 is different in the node wherein you collected this log and the peer xxx.2.

Can you check if there is some discrepency in the data ( number of files being one ) in the files present in both servers.

[2021-06-14 03:10] schaffung commented on #2492
@marcofais I couldn't take a look into this issue till now. Will take a look into the logs today and update.

[2021-06-14 04:12] sam0737 commented on #2524
Sorry but developing C projects is not my strong suit and I am not familiar with the test framework that gluster uses.
I have submitted a PR linked above to illustrate my idea. I hope maybe some contributor could pickup from there.

[2021-06-14 09:24] nik-redhat commented on #2498
Hi @httaotao the issue is with only one node being upgraded to 7.9 while others are still in 7.5, we had an old issue with checksum mismatch when quota was enabled (#1332), and it was resolved in the gluster-7.8 release. So, upgrading all the nodes to the same version (more than 7.8) should fix the issue. You might need to reboot the nodes as well, so do follow the [upgrade guidelines](https://doc

[2021-06-14 10:04] jirireischig commented on #2462
It helps.
Thank you very much.
I'm sorry, I didn't read documentation about upgrading carefully.

[2021-06-14 13:08] kaiomatico opened #2527 "Cant find out where option ping-timeout 0 is set"
**Description of problem:**
I am debugging the following log and I suspect that the option ping-timeout 0 is the culprit. However I never set this option to 0 and did not change the defaults, so it should be 42. Here is the corresponding `/var/log/glusterfs/glusterd.log`
[code]
However a `gluster volume info` shows that I did not alter the defaults:
[code]
So I tried to search in a state dump but

[2021-06-14 14:07] mushokumunou commented on #2525
1.
[gluster v info.txt](https://github.com/gluster/glusterfs/files/6648876/gluster.v.info.txt)
2.
[ps -aef  grep gluster.txt](https://github.com/gluster/glusterfs/files/6648877/ps.-aef.grep.gluster.txt)
3.
How to get client logs?
/var/log/glusterfs/cli.log or mount_dir.log ?

[2021-06-14 14:24] mushokumunou commented on #2525
2,000 files in single dir , total size is 200TB
do mv command , remove1,000 files to a subdir like /vol/abc
cd /vol/abc && ls , it works
cd /vol && ls , freeze .

[2021-06-14 16:30] #2522 closed, assigned to kalebskeithley

[2021-06-14 20:09] #1413 closed

[2021-06-14 20:09] #1463 closed

[2021-06-14 20:09] #1712 closed, assigned to nobody

[2021-06-14 20:09] #1679 closed, assigned to nobody

[2021-06-14 20:09] #1704 closed, assigned to nobody

[2021-06-14 20:09] #1721 closed, assigned to nobody

[2021-06-15 07:55] dshmyz opened #2528 "glusterfs 7.8 gfid split-brain"
**Description of problem:**

After migrating to version 7.8, gfid split brain problems frequently appeared. After the `favorite-child-policy: mtime` is set, the auto-repair directory is written again and some files are duplicated.
My scenario is that multiple mount clients will create directories concurrently

**The exact command to reproduce the issue**:

**The full output of the command that fai

[2021-06-15 08:28] dshmyz commented on #1266
Hello, do you solve this problem？

[2021-06-15 11:43] csabahenk opened #2529 "FUSE client can get ESTALE from python open(fn, os.O_WRONLY) (was BZ 1663053)"
This issue is imported from Red Hat Bugzilla. It has no customer impact, so I'm reinstantiating it in community scope.

See https://bugzilla.redhat.com/1663053.

Here we quote the relevant comments from the discussion. (Some are marked private over there, so they are not visible without sufficient privileges; the comments included here don't carry sensitive data, so they are fine to be published h

[2021-06-15 14:24] jcrussell42 commented on #982
The update to RHGS 3.5 did the trick - thank you!

~james

From: stale[bot] ***@***.***>
Sent: Tuesday, June 15, 2021 05:50
To: gluster/glusterfs ***@***.***>
Cc: Russell, James C ***@***.***>; Manual ***@***.***>
Subject: Re: [gluster/glusterfs] [bug:1718562] flock failure (regression) (#982)

Thank you for your contributions.
Noticed that this issue is not having any activity in last ~6 months!

[2021-06-15 16:35] kun-lu20 commented on #2491
Hi @kalebskeithley , thanks for your detailed response!  We think [OSUOSL jenkins public service](https://ibmz-ci.osuosl.org/) might be the easiest way to add s390x support to community CI since it already supports s390x. We could do the configuration of the CI service and a webhook needs to be added to Glusterfs GitHub repo. Please let us know what you think, thank you!

[2021-06-15 16:53] amarts commented on #2491
@mscherer @deepshikhaaa :point_up:

Happy if there are more CI options. It should be possible to provide webhook on Github repo. Just note that, we don't want the s390x jobs to vote on regression for few more months. Once things are running smoothly for at least 2-3 minor releases, we can consider adding votes. Otherwise, just for packaging jobs, having those jenkins should help.

@kalebskeithley

[2021-06-15 17:53] #1720 closed, assigned to nobody

[2021-06-15 17:56] kalebskeithley commented on #2491
If you can run a VM — in Jenkins or in the CI — that builds packages for arches other than what is/are already building now, by all means, go for it. It doesn't affect the packages in Fedora or the CentOS Storage SIG. Or the OBS and Launchpad packages either for that matter.

[2021-06-15 20:21] kun-lu20 commented on #2491
Thanks @amarts @kalebskeithley . I've requested the OSUOSL CI service and will do the configuration. I'll reach out to you when the webhook or other info is needed, thanks again!

[2021-06-16 00:06] mscherer commented on #2491
I think we can get a RHEL license if needed for CI.

[2021-06-16 00:15] mscherer commented on #2491
And we do run RHEL not because we can't have a license, just because not having to get one is easier than getting one.

I guess the easiest would be to at least start by running smoke build on s390x. That's usually fast enough to validate the system.
We also have jobs that build rpms (using mock), this could also be a good 1st step.

For integration with Jenkins, a fixed IP where I can ssh as root

[2021-06-16 04:23] rkothiya opened #2531 "Corefile generated intermittently while executing conservative-merge.t"
**Description of problem:**
Corefile generated intermittently while executing conservative-merge.t

**The exact command to reproduce the issue**:
[code]

**The full output of the command that failed**:
Search for "Start printing backtrace" in the below logs:
[ci regression logs](https://build.gluster.org/job/gh_centos7-regression/1339/console)

**Expected results:**
Test should pass

**Mandatory i

[2021-06-16 04:29] itisravi commented on #876
@rafikc30 It would be great if you can refresh #1607.

[2021-06-16 04:36] rkothiya commented on #2531
[gh_centos7-regression-1339.zip](https://github.com/gluster/glusterfs/files/6660278/gh_centos7-regression-1339.zip)

[2021-06-16 05:07] mohit84 commented on #2531
The glusterd is crashing because cleanup_and_exit function is calling exit call without releasing a cleanup_lock mutex
 and at the same time the other thread 7 is trying to acquire the same mutex .
 Long time back i tried to fix this by the patch (https://github.com/gluster/glusterfs/pull/1705)
 but xavi raised some concern specific to calling fini. I will discuss with him and send the patch again

[2021-06-16 06:08] #1600 closed, assigned to rkothiya

[2021-06-16 06:30] mykaul commented on #2491
Easily - https://www.redhat.com/en/blog/new-year-new-red-hat-enterprise-linux-programs-easier-ways-access-rhel?extIdCarryOver=true&sc_cid=701f2000001OH7EAAW

[2021-06-16 06:59] Shwetha-Acharya opened #2533 "(glusterfs-9.3)- GlusterFS 9.3 tracker"
Description of problem:
Tracker for the release 9.3

[2021-06-16 07:07] itisravi commented on #2527
The default value is indeed 42 and you can verify it by `gluster volume get $volname network.ping-timeout`.  It can also be seen in the various client vol-files (Eg /var/lib/glusterd/vols/$volname/$volname.tcp-fuse.vol). The `option ping-timeout 0` you see in the glusterd.log seems to be something specific to glusterd and not related to the rpc between the clients and the bricks.

[2021-06-16 07:16] nik-redhat commented on #2527
By looking at the logs it doesn't seem there is an issue with the ping timeout but still, for your query, the value shown in the log is set in the `glusterd.vol` file for the glusterd daemon.
You can find the file either in `/usr/locla//etc/glusterfs/glusterd.vol` (source install) or `/etc/glusterfs/glusterd.vol` (rpm install) depending upon on the way you installed glusterd.
The option `network.p

[2021-06-16 07:24] nik-redhat commented on #2464
@pranithk I think you already send out a fix for this issue in #2465 and we are good to close this?

[2021-06-16 07:39] kaiomatico commented on #2527
Thank you everyone for the quick reply. The value was indeed 42. I will write the issue I had off as a one time network problem and I guess it makes no sense to further investigate this. Have a nice week :-)

[2021-06-16 07:39] #2527 closed, assigned to nobody

[2021-06-16 08:52] NanyinK commented on #1266
@tiswong

Im afraid it's not a "solve", mate, I upgraded the gluster server to v6.10

And, I gave up on high availability and mounted the folders that would have been in split-brain before separately with just one gluster brick.

Then the problem never happened.

[2021-06-16 09:46] #2480 closed, assigned to nobody

[2021-06-16 15:53] marcofais commented on #2492
Srijan, thanks a million -- please let me know if you need any extra logs or details.

[2021-06-16 17:56] kun-lu20 commented on #2491
We checked and found that we provided two s390x VMs to GlusterFS community years ago, they're 148.100.245.98 & 148.100.86.143. Hi @amarts @mykaul , could you please check if these 2 VMs still work and satisfy the requirements of @mscherer ? Thank you very much!

If you haven't used them for a while, we could re-image them and start from clean. If the CI requirements change, please tell me new req

[2021-06-16 17:58] amarts commented on #2491
Hey @kun-lu20 I did have access to the machine till end of 2019. Haven't used it post that. Happy if you can reprovision that and provide it to @mscherer and @deepshikhaaa

[2021-06-16 18:40] kun-lu20 commented on #2491
Hi @amarts, sure, we could do that. Please let me know the new VM requirements, thanks @mscherer @deepshikhaaa

[2021-06-17 02:39] #1724 closed, assigned to schaffung

[2021-06-17 10:39] xhernandez opened #2540 "delay-gen doesn't work correctly for delays longer than 2 seconds"
**Description of problem:**

When the delay-gen xlator is used with a delay longer than 2 seconds, it doesn't work correctly. It either blocks the request forever or for a random smaller time.

[2021-06-17 10:55] xhernandez commented on #2444
I've been able to reproduce something similar. The problem seems to happen when a client is killed (could also be when it disconnects, but I haven't tested it) when a lock is still held by that client and another client has a pending remove operation (unlink, rmdir, ...) on the same locked inode. In this case the pending remove operation is not resumed.

What I'm not sure is how is it possible to

[2021-06-17 11:09] pranithk commented on #2444
I tried after your comment but nothing seemed to unmount a running client with pending unlink operations. But the code is common, so I think we can be reasonably sure that this fixes the reported issue too.

[2021-06-17 12:03] alexanderkoponen commented on #1405
I have the same problem and it is completely blocking the GlusterFS functionality

[2021-06-17 12:06] alexanderkoponen commented on #1405
I have the same problem

[2021-06-17 13:43] #782 closed

[2021-06-17 16:23] #119 closed

[2021-06-17 16:23] #1693 closed, assigned to nobody

[2021-06-17 16:23] #1727 closed, assigned to nobody

[2021-06-18 04:19] #2540 closed, assigned to nobody

[2021-06-18 06:45] sudvijayr commented on #1495
yes it has renames

[2021-06-18 06:54] sudvijayr opened #2548 "glusterfs changes file ownership during tar file extraction"
**Description of problem:**
During untarring of tar file onto glusterfs FUSE mount directory, the file permission of top level directory of the tar got changes to "root" user

**The exact command to reproduce the issue**:
tar xvf <tar file>

**The full output of the command that failed**:

**Expected results:**
The original ownership of the tar contents must remain intact

**Mandatory info:**
**-

[2021-06-18 07:00] pranithk commented on #2548
6.x is not supported anymore. Please try the issue on any of the latest supported releases like 8.x or 9.x and it will be looked at. For now I am closing the issue. Please raise it if you find the issue in the supported releases.

[2021-06-18 07:00] #2548 closed, assigned to nobody

[2021-06-18 11:51] xhernandez opened #2551 "Sometimes the lock notification feature doesn't work"
**Description of problem:**

Gluster uses locks to synchronize access to the files between clients to enforce consistency. To reduce the overhead of these locks, AFR and EC use a technique called eager-locking, which reduces the number of lock requests by keeping the lock acquired for a little more time than necessary. If a new request comes before it has been released, the same lock is reused wit

[2021-06-18 12:43] #1753 closed, assigned to nobody

[2021-06-18 19:20] hqiuadusa opened #2552 "salt.exceptions.CommandExecutionError in glusterfs.py"
**Description of problem:**
I am using kitchen to test glusterfs 6.10.

**The exact command to reproduce the issue**:
kitchen converge

**The full output of the command that failed**:
<details>
       ----------
                 ID: glusterfs_install
           Function: pkg.installed
               Name: glusterfs-server
             Result: True
            Comment: 1 targeted package was instal

[2021-06-18 19:27] #2552 closed, assigned to nobody

[2021-06-18 19:27] hqiuadusa commented on #2552
found a duplicate issue in another repo.

[2021-06-19 01:23] 3nprob commented on #1767
Still an issue

[2021-06-19 06:49] aravindavk commented on #1767
It is intentional to not stop all the processes if Glusterd is Stopped. If Bricks are up then already connected Clients/Mounts   continue to work even if Glusterd goes down. Think about restarting a Glusterd to fix an issue or to fix a memory leak, This doesn't mean all the other services should be stopped.

For now you can use the script that @jronnblom suggested https://github.com/gluster/gluste

[2021-06-19 07:02] aravindavk commented on #349
For Replicate/Disperse Volumes:

* After creating the Reflink copy at Posix level, copy all the xattrs(mainly afr related) from live file to the Snapshot file.
* Mark the Snapshot file somehow(may be using xattr) to make Self Heal daemon not picks this file for healing.
* Reading the Snapshot files should be always from AFR/Disperse Xlator that decides good copy(State is exactly same as the file's

[2021-06-19 07:08] 3nprob commented on #1767
@aravindavk The general contract should be that whatever is being brought up by `systemctl start`, should also be brought down by `systemctl stop`.

As there currently is nothing implemented for reload  for `glusterd.service`, perhaps the scenario you describe can be addressed by `reload` rather than `restart`?

The alternative would be service splitting, either a general `glusterd-bricks`/`gluste

[2021-06-20 17:48] #1392 closed

[2021-06-21 09:46] #2524 closed, assigned to nobody

[2021-06-21 10:32] mykaul commented on #1591
@pranithk - have you seen perf. improvements that justify re-opening and re-evaluating this?

[2021-06-21 10:40] pranithk commented on #1591
@mykaul I didn't get a chance to evaluate this one.

[2021-06-21 12:15] aspandey commented on #2251
Hi,
After having discussion on github and meetings, we have come up with points and decisions.

1 - The current approaches, which we have provided previously, won't be future proof. i.e. When the file size increases over time, changing the bits to represent a new range won't be possible. If the granular data heal is introduced, it should work in a granular way in all cases, even in cases of failur

[2021-06-21 18:27] mykaul commented on #1822
Still hoping to do it some day. Looks like an easy win (but perhaps I'm simplifying this a bit)

[2021-06-21 22:25] csabahenk opened #2560 "On multiple lookups, 2 symlinks seen on distrep instead of one (was BZ 1600923)"
This issue is imported from Red Hat Bugzilla. It has no customer impact, so I'm reinstantiating it in community scope.

See https://bugzilla.redhat.com/1600923.

Here we quote the relevant comments from the discussion. (Some are marked private over there, so they are not visible without sufficient privileges; the comments included here don't carry sensitive data, so they are fine to be published h

[2021-06-21 22:39] csabahenk commented on #2560
A reproduction session was fuse dumped on the course of the investigation. The attached tarball includes the fuse dumps taken on the two mounts.

[bz1600923-fusedumps.tar.gz](https://github.com/gluster/glusterfs/files/6689831/bz1600923-fusedumps.tar.gz)

[2021-06-22 09:39] perrynzhou opened #2562 "glusterfs io stack too long"
- i found when read/write to glusterfs,the io stack too long that across many xlator to finish,is any way to solve？

[2021-06-22 19:51] natankeddem opened #2563 "Crash"
**Description of problem:**
3 node replicated cluster running ubuntu server 20 with glusterfs 9.2.  Got this immediately after accessing login page for radarr. ls of mount location reports "ls: cannot open directory '.': Transport endpoint is not connected"

**Expected results:**
No crashing.

**- The output of the `gluster volume info` command**:
[code]

**- The output of the `gluster volume stat

[2021-06-23 02:49] pranithk commented on #2563
@natankeddem Do you have the core file? If yes, could you attach the core to gdb and post the output of `thread apply all bt`?

[2021-06-23 03:34] amarts commented on #2563
I remember the similar backtrace from the setup on only `arm64` architecture. Which platform is it?

[2021-06-23 05:46] nik-redhat commented on #2314
Hi, @jamielinux if the above explanation works for you, then are we good to close the issue?

[2021-06-23 05:47] nik-redhat commented on #2498
Hi, @httaotao did the above-mentioned steps helped you solve the issue? If so, are we good to close the issue?

[2021-06-23 09:10] levindecaro commented on #2198
Hi, I'm hitting same issue of shd daemon random lock the VM disk file, usually happen in few days, when the lock event happen, heal info will shown a list of VM file are "Possibly undergoing heal", and never finish, as a result, the VM hangs and shd file stuck healing. Until restart nfs-ganesha or kill the qemu process to resume the nfs mount point.

Since this patch seems not yet add into release

[2021-06-23 09:38] itisravi commented on #2198
@levindecaro which version of gluster are you using? Does disabling eager-lock ( `gluster volume set $volname cluster.eager-lock off`) help in preventing the issue ?

[2021-06-23 10:06] levindecaro commented on #2198
@itisravi

I'm using 9.2, I can try disable eager-lock , do u think is it safe to disable eager-lock for ovirt workload over nfs-ganesha?

[2021-06-23 10:17] levindecaro commented on #2198
I just downloaded glusterfs-9.2-1.el8.src.rpm to review the source and found fsync changes are already inplace, maybe i'm stuck with new issue.

[2021-06-23 10:17] itisravi commented on #2198
The patch is present in glusterfs 9.1 itself, so it appears as if that is not helping. It is safe to disable eager-lock from a functionality point of view, but performance could be affected.

[2021-06-23 10:34] levindecaro commented on #2198
@itisravi

I just tired to turn off eager-lock, the performance was dropped significantly. from 500MB/s to 50MB/s, I think i could not turn off eager-lock for observation at this moment. On the other hand, if the test is not performing on a heavy loaded cluster, I think it will be hard to reproduce this kind of contention issue.

Do you have any workaround or suggestion to mitigate the issue?  Tha