[2020-10-10 00:13] nh2 commented on #910
I'm no longer using gluster, so I cannot tell whether this bug I originally filed still exists, but in the interest of helping the project (given that I used it for a while and it brought me great value):

Auto-closing bots are dumb, an anti-productivity feature, and the admission to not have a proper bug triage process. Design problems like this do not disappear because nobody has commented on th

[2020-10-10 02:38] seuzxy commented on #1170
useful

[2020-10-10 03:01] #826 closed

[2020-10-10 08:18] #825 closed

[2020-10-10 10:26] #828 closed

[2020-10-10 13:15] pranithk opened #1591 "Is it possible to increase max size of I/O in fuse?"
As per https://github.com/libfuse/libfuse/blob/master/ChangeLog.rst#libfuse-360-2019-06-13 fuse should be able to do 1MB
I/O at once in both READs and WRITEs with kernels greater than 4.20. I am raising this issue to find if this is possible in glusterfs-fuse as well. I tried a bunch of things by changing things in fuse_kernel.h and setting the numbers in fuse_init(). But I guess I was doing somet

[2020-10-10 18:18] AxelRHD opened #1592 "gluster volume delete not working, error: Some of the peers are down (although the aren't)"
**Description of problem:**
I have tested a setup of three nodes, which now I try to delete.

I stopped the volume and i I've tried to delete it.

Error: Staging failed on 192.168.2.176. Error: Some of the peers are down

**The exact command to reproduce the issue**:
[code]

[code]

But peers are up:
[code]

**Expected results:**
Volume deleted.

**- The output of the `gluster volume info` command

[2020-10-11 02:34] pranithk commented on #1592
@AxelRHD Could you execute gluster peer status on all the machines and confirm they are up? If they are all up, could you attach /var/log/glusterfs/glusterd.log from all the machines to the issue for further debugging?

[2020-10-11 03:28] vh05 commented on #1591
Yes, @pranithk I will try this. 1MB IO size with io_uring would certainly give an extra edge I believe. Thanks for marking me here.

[2020-10-11 05:26] #1538 closed

[2020-10-11 06:04] itisravi commented on #1591
@pranithk What are the things you tried changing?

What I understood on briefly looking at the above changelog and code is that for writes, in addition to increasing `fino.max_write` we must also set `FUSE_MAX_PAGES` in `fino.flags` and have a new `fino.max_pages` derived from `max_write`. See lib/fuse_lowlevel.c in libguse code base.

We really must start using libfuse instead of our fuse-bridge

[2020-10-11 06:20] itisravi opened #1594 "./tests/00-geo-rep/00-georep-verify-non-root-setup.t fails on devel branch"
For example, https://build.gluster.org/job/gh_centos7-regression/40/console. This is for a very simple unrelated PR in AFR (https://github.com/gluster/glusterfs/pull/1570).

[2020-10-11 06:20] itisravi commented on #1594
@aravindavk @shwetha-h-p @kotreshhr @sunnyku  FYIP

[2020-10-11 06:44] mykaul commented on #1591
Don't we need to adjust the iobuf pool sizes as well?

[2020-10-11 17:43] mykaul opened #1596 "'this' NULL check relies on 'THIS' not being NULL"
This check looks suspicious:
[code]
Appears in glusterd_get_state() , __glusterd_handle_get_state(), glusterd_shdsvc_init(), glusterd_svc_check_tier_volfile_identical(), glusterd_get_global_options_for_all_vols(), glusterd_add_shd_to_dict() functions.

[2020-10-11 17:49] amarts commented on #1596
realized that any check on 'this', 'frame' in fop functions (fop, fop_cbk) is technically useless, as if any of them are null, we would crash in previous STACK_UNWIND() macro itself... I would say, we can clean this up across!

[2020-10-11 17:49] mykaul commented on #1596
Also, slightly different variation in client_graph_builder():
[code]

[2020-10-12 03:21] perrynzhou opened #1597 "socket file descriptor leak in __socket_disconnect"
### @csabahenk @mykaul @mohit84 @itisravi @amarts @hari priv->sock  not release sock resource. shutdown is a flexible way to block communication in one or both directions. When the second parameter is SHUT_RDWR, it will block both sending and receiving (like close). However, close is the way to actually destroy a socket.It’s important to note that shutdown() doesn’t actually close the file descrip

[2020-10-12 03:37] mohit84 commented on #1597
There is no leak in socket code path, socket_fd is closed by event_unregister_close_epoll. The function event_unregister_close_epoll call by __socket_reset and socket_reset call by socket code path in two scenario either call fini or get an POLLERR event after call a shutdown on fd.

[2020-10-12 03:44] perrynzhou commented on #1597
@mohit84  thank you very much

[2020-10-12 03:46] #1597 closed, assigned to nobody

[2020-10-12 04:59] mohit84 commented on #1596
@srijan-sivakumar Can you work on this

[2020-10-12 05:33] schaffung commented on #1596
@mohit84 sure. Will look into it.

[2020-10-12 05:46] mykaul opened #1600 "Save and re-use MYUUID"
MYUUID macro calls THIS and then gf_uuid_is_null(priv->uuid). It is sometimes used in loops. Instead, we should call it once, save the result and use it.
Example: glusterd_get_brickinfo()
[code]

It's not clear to me if the compiler optimizes away all those calls or not.

(Note: we could also create a MYUUID_priv() macro that would take the existing priv variable that we already have in this funct

[2020-10-12 05:50] pranithk commented on #1600
As far as I remember, MYUUID macro was introduced to delay generating gluster's uuid-generation so that cloning a VM with  after launching glusterd wouldn't end up with same uuid on the cloned VM. If you are trying to change anything here, please make sure to not regress any functionality in that area.

[2020-10-12 06:12] mykaul commented on #1600
I think (hope) in comparison statements we expect the value not to change.

[2020-10-12 06:17] pranithk commented on #1600
MYUUID generates uuid the very first time it is evaluated. As long as we are sure this function will never be the very first MYUUID evaluation, we should be safe.

[2020-10-12 06:26] pranithk opened #1601 "rfc.sh on release-8 needs to move to github flow"
rfc.sh on release-8 needs to be updated to have github flow.

[2020-10-12 06:39] perrynzhou opened #1603 "Too many open file and open file failed case glusterfsd crash"
@csabahenk @mykaul @mohit84 @itisravi @amarts @pranithk  too many open files case glusterfsd crash after  health-check failed going down on brick side .is need open "/data11/brick_sharing_vol/.glusterfs/health_check" never close,just write data?is that has resource leak? The disk is not damaged, only "too many open files appear", and glusterfsd should not be allowed to exit. At the same time, it s

[2020-10-12 06:40] pranithk opened #1604 "rfc.sh on release-7 needs to move to github flow"
rfc.sh on release-7 needs to be updated to have github flow.

[2020-10-12 06:49] perrynzhou commented on #1603
[code]

[2020-10-12 07:01] itisravi commented on #1594
Another failure: https://build.gluster.org/job/gh_centos7-regression/48/consoleFull

[2020-10-12 07:58] pranithk commented on #1603
@perrynzhou Could you post output of `grep open /proc/<pid-of-brick>/limits`
and
`ls /proc/<pid-of-brick>/fd | wc -l`

This can give a clue about the existing number of open-files and the limit we have.
Maybe you can check if any file is not getting closed even after a very long time. This can happen if there is a reference leak on an fd on either the brick/client process.

[2020-10-12 08:00] Shwetha-Acharya commented on #1594
The cleanup of folders/patchy by previous tests have not happened properly. Glusted log is filled with errors related to ' Volume patchy does not exist' @deepshikhaaa Can you please look at this issue?

[2020-10-12 08:20] itisravi commented on #1594
Posting one more failure https://build.gluster.org/job/gh_centos7-regression/53/consoleFull in case it is any different than clean-up related.

[2020-10-12 08:23] perrynzhou commented on #1603
@pranithk
[code]

[2020-10-12 08:41] pranithk commented on #1603
@perrynzhou Limits look fine. Usage is quite low now. How long have you guys been running 7.2 version? Trying to get a sense of how long it took to reach the open-fd limit. Could you also let us know the workload?

[2020-10-12 08:49] perrynzhou commented on #1603
@pranithk   now get info for "grep open /proc/<pid-of-brick>/limits and ls /proc/<pid-of-brick>/fd " after glusterfsd restart. we runing glusterfs over 3 month (6 month),but this problem happened yesterday (2020/10/10). the workload is  read more ,write less .i  am worried about resource leak. is any to get open or write file call trace without trace log, just like linux dmesg?

[2020-10-12 08:56] pranithk commented on #1603
@perrynzhou Did it happen on all the bricks that are in replication or only on one brick?

[2020-10-12 09:00] pranithk commented on #1603
@perrynzhou Why don't you run the command I gave in the previous comment on all of your bricks and find out the numbers. It will give us more information about the current situation. If there is a brick with lot of files opened, maybe we can find if there is any pattern which can point to the resource leak in code.

[2020-10-12 09:20] perrynzhou commented on #1603
@pranithk  just only crash two brick of all . all file limit is same config.

[2020-10-12 09:23] pranithk commented on #1603
@perrynzhou Could you attach brick-log file of these 2 bricks to this issue for further investigation?

[2020-10-12 09:26] perrynzhou commented on #1603
@pranithk  file log is to big,i just get core logs and show it

[2020-10-12 09:34] pranithk commented on #1603
@perrynzhou What is the size after compressing it? If it is big with default volume options (as per your volume info output), Maybe some error path is getting executed quite a bit? Is that possible?

[2020-10-12 09:44] Shwetha-Acharya commented on #1594
repetitive access denials are also seen (https://build.gluster.org/job/gh_centos7-regression/48/consoleFull):
`mount.nfs: access denied by server while mounting builder-c7-1.int.aws.gluster.org:/patchy`

[2020-10-12 09:45] perrynzhou commented on #1603
@pranithk  logs address
- https://github.com/perrynzhou/glusterfs-issue-logs/blob/master/data11-brick_sharing_vol.zip
- https://github.com/perrynzhou/glusterfs-issue-logs/blob/master/data7-brick_sharing_vol.zip

[2020-10-12 10:02] pranithk commented on #1603
@perrynzhou I am seeing the following logs:

The client opened so many files? This is close to 1/3rd of the limit. I am not sure what this workload is, but if 3 such workloads are run simultaneously then you will definitely get the Too Many files opened error. Could you find out if this is true?

15:28:58 :) ⚡ grep "fd cleanup" data7-brick_sharing_vol.log-20201011 | wc -l
393118

pranithkarampuri@

[2020-10-12 10:47] pranithk commented on #1603
@perrynzhou I went through the commits between release-6 and release-7 to see if there are any new fd_ref()/fd_unref() related changes. I saw only 2 patches and they looked fine to me. For now, with the data available, I don't see any bug in glusterfs. Please do update the issue if the application is opening so many files and if there is a possibility of running multiple instances of that applicat

[2020-10-12 10:53] kotreshhr commented on #1594
Actual failure is because the following command is failed with error 255

ssh -oPasswordAuthentication=no -oStrictHostKeyChecking=no -i /var/lib/glusterd/geo-replication/secret.pem -p 22 nroot@127.0.0.1 /build/install/sbin/gluster --xml --remote-host=localhost volume info slave

Looks like stale ssh keypair is not cleaned from previous tests for some reason. Need to debug further. We can add the s

[2020-10-12 11:19] mohit84 opened #1613 "glusterd[brick_mux]: Optimize friend handshake code to avoid call_bail"
During glusterd handshake glusterd received a dictionary(all volumes key-value data) from peer end to compare the
own volume dictionary data.If the options are differ it sets the key to recognize volume options are changed and call import syntask to delete/start the volume.In brick_mux environment while number of volumes are high(5k) the dict api in function
glusterd_compare_friend_volume takes ti

[2020-10-12 11:50] mohit84 opened #1615 "glusterd: Optimize glusterd_volinfo_find function"
Optimize glusterd_volinfo_find function, the function is use by multiple places to fetch volinfo object from a volumes list.
In case of brick_mux environment while too many volumes are configured it is not useful to compare everytime volume
based on volname.Instead of comparing again and again based on volname by strcmp save hash of volname in volinfo
object and compare the hash values.

int32_t
g

[2020-10-12 17:46] BarakSason opened #1618 "[RFE] Eliminate double readdir operation in rebalance"
Currently during rebalance 2 readdir operation are performed:
1 - The 1st is during gf_defrag_fix_layout, in which files are ignored and only dirs are handeled
2 - The 2nd is during gf_defrag_get_entry in which dirs are ignored and files are handled.

The explanation which I got for this duplicity is the allow a mechanism which will work though local subvols in a round-robin manner in order to avo

[2020-10-12 17:48] BarakSason commented on #1571
@xhernandez @amarts  @pranithk @mohit84 @csabahenk @tshacked
Please share your views.

[2020-10-12 17:49] BarakSason commented on #1618
@xhernandez @amarts  @pranithk @mohit84 @csabahenk @tshacked
Please share your views.

[2020-10-12 20:42] tshacked commented on #1571
Agree, and more issues related to failure detections and verbosity:
A)  Dirs that were renamed or removed (between readdirp -> lookup) are counted as failures as part of remove-brick.
    I guess that for the rename case we still want to count a failure as we"re not sure if we're going to crawl it.
https://github.com/gluster/glusterfs/blob/91daeae369bd5a4e05ea51d8f2b4a2d84ffd38b4/xlators/cluster/d

[2020-10-13 00:52] perrynzhou commented on #1603
@pranithk  is's true for client open many files.maybe no bug in glusterfs,just over max limited for open files.we will contine to watch is that will happpen

[2020-10-13 02:43] amarts commented on #1618
Good to try out! Please measure the impact and decide.

[2020-10-13 02:45] amarts commented on #1571
more granular counters are always more useful during debug! Good to have 2 counters. Ok from my end to get it moving!

[2020-10-13 04:03] pranithk commented on #1603
Okay, for now I will close this issue. Please re-open if you find data pointing to a bug.

[2020-10-13 04:03] #1603 closed, assigned to nobody

[2020-10-13 04:05] pranithk commented on #1618
@BarakSason Better to measure things to confirm your intuition is correct.

[2020-10-13 05:35] Boran commented on #1107
Ping

Sean Boran

[2020-10-13 06:40] pranithk commented on #1531
@mrSingh007 Were you able to find the problem? Is the status same from both the machines when you execute the command?

[2020-10-13 07:40] xhernandez commented on #1591
After a quick look, I've found the same as @itisravi said. Even if we use this new feature the maximum size is still limited to 1 MiB (256 pages).

[2020-10-13 07:49] perrynzhou commented on #1603
@pranithk  ok,thank you very much

[2020-10-13 07:50] mykaul opened #1619 "cds_list_for_each_entry_rcu should use RCU_READ_LOCK_this (that already uses 'this' instead of calling 'THIS')"
It seems like in most, if not all cases, the list used is from this->private->... (peers for example). This is always done via something like:
[code]

So why call 'THIS' again in the RCU_READ_LOCK (twice actually)?
(same for the unlock of course)
A simple change to add something like:
[code]

And the same to the RCU_READ_UNLOCK, should reduce some calls to 'THIS'.

Unsure if the compiler takes car

[2020-10-13 07:57] BarakSason commented on #1618
Thank you both for your input.

@pranithk My intuition is somewhat based on testing - Small-scale testing were done around rebalance. I performed some tests to measure CPU/disk/network utilization.
The results showed room for improvement - from my understanding we're just not pumping enough IO.
I uploaded the results so they may be accessed publicly:
https://drive.google.com/drive/folders/1xWBpjvD

[2020-10-13 08:03] mykaul opened #1620 "add_iobuf_to_new_iobref() - create a new iobref and add an iobuf to it"
Today we see many times code such as:
[code]

However, we can shortcut some of that work. There's little that need to be done when an iobref was just created and we add an iobuf reference to it. Something like:
[code]

Could be used instead and skip some of the work we do today.

In use (old code commented out)
[code]

[2020-10-13 08:07] pranithk commented on #1591
That was my mistake. I didn't set FUSE_MAX_PAGES flag in fino.flags :-(

For read I had to make more changes. This is the rough draft of the patch:
[code]

I need to use GF_UNIT_MB, and iobuf_get2 with 1MB size instead of changing default page size etc.

Do you know why we don't do that? It has been so long since this is available in libfuse. I happened to see it over the weekend because I wanted

[2020-10-13 08:37] itisravi commented on #1591
Not sure of the history behind writng fuse-bridge.c to begin with but I guess not moving to libfuse is mostly because no one has had the time to try it out.  FWIW, the current libfuse maintainer was looking for a new maintainer some time back (without success), so I'm not sure how active it will be in the future.

[2020-10-13 09:23] jirireischig commented on #1525
I'm sorry, but its not good close this issue because there is potential of **data loss** when kernel-writeback-cache is on.

I'm not developer and I don't known in which layer is error, but, may be, its possible that Gluster can "translate"  WRONLY flag to any useful variant for under-layer file system.

[2020-10-13 10:01] mykaul commented on #1591
1. By default Linux doesn't do more than 512KB, AFAIR (see https://kernel.dk/when-2mb-turns-into-512k.pdf for example).
2. Unsure if we want to change the default iobuf pool to 1M?

[2020-10-13 10:15] xhernandez commented on #1591
I don't think this kind of features can be enabled automatically if we were using libfuse. We would still require changes in Gluster code, at least to set the required flags and adapt our buffers.

Do you think that processing a single 1 MiB write will be faster than processing 8 parallel 128 KiB requests ?

[2020-10-13 10:17] pranithk commented on #1525
@jirireischig I raised this issue in the glusterfs community meeting. @csabahenk who has knowledge about kernel fuse will respond to the issue. Translating WRONLY to something more will lead to other kinds of bugs. So it is best to avoid it.

[2020-10-13 10:18] pranithk commented on #1525
I will keep this open until Csaba responds to this.

[2020-10-13 10:22] pranithk commented on #1591
I mentioned in my comment: "I need to use GF_UNIT_MB, and iobuf_get2 with 1MB size instead of changing default page size etc." at the end.

This was just a rough draft. I just wanted it to work to check if the performance would improve. Will do some tests and get back with results once I have them.

[2020-10-13 10:24] pranithk commented on #1591
Yeah Csaba told the same in the community meeting today.

Will try out the changes and do some perf testing to see what the improvements are.

[2020-10-13 10:59] csabahenk commented on #1525
I plan to look at this in one week's time.

[2020-10-13 11:07] mohit84 commented on #1569
clag-issue is failing so reopen the issue

[2020-10-13 12:57] marcelokeiti opened #1623 "Fix-layout of the volume leads to perf degradation for I/O"
In our use case we have a cluster with lots of small files (around 1KB - 2KB each).
Initially, the cluster had 3 servers (replica 3) with 10 disks (bricks) of 50GB each.

Type: Distributed-Replicate
Number of Bricks: 10 x 3 = 30

In order to understand the rebalance process we've added 2 disks (bricks) on each server and run the command:
`sudo gluster volume rebalance my-volume fix-layout start`

[2020-10-13 13:01] pranithk commented on #1623
@marcelokeiti Did you just do 'gluster volume rebalance <volname> fix-layout start' or also did the 'gluster volume rebalance <volname> start' When did the volume's performance go down 3x? After fix-layout or rebalance?

[2020-10-13 13:19] pranithk opened #1624 "Difference in trusted.distribute.migrate-data handling in single distribute vs multiple distribute subvolumes"
On a volume created afresh migrate-data xattr succeeds for single brick distribute volume but fails when the volume has more than 1 bricks. This needs to be consistent. I think EEXIST behavior is fine. I will try to fix this.

[code]

For more than 1 brick:
[code]

[2020-10-13 13:25] amarts commented on #1624
The issue here is, in single brick case, DHT is disabled (ie, it self disables itself with `pass-through` key being set). So, there is no check of setxattr()... we may need to handle that as passthrough_fop!

[2020-10-13 13:52] pranithk opened #1625 "In case of failures of rebalance for a file. File's stat output has the sticky bit after rebalance"
Permissions changed from -rw-r--r--  => -rw-r-Sr-T
[code]
migration command above failed.

[code]

[2020-10-13 14:11] pranithk commented on #1623
Spoke to @marcelokeiti on slack and got a confirmation that it was just fix-layout. Not rebalance.

[2020-10-13 14:15] BarakSason opened #1627 "Stopping rebalance results in a failure"
Issuing a stop command for an ongoing rebalance process results in an error.
This issue was brought up in https://bugzilla.redhat.com/show_bug.cgi?id=1286171 and a patch (https://review.gluster.org/#/c/glusterfs/+/24103/) was submitted to resolve the issue. However the submitted patch resolved only part of the problem by reducing the number of log messages that were printed (since rebalnace is cur

[2020-10-13 14:38] BarakSason commented on #1507
@pranithk I assume this worked in the past?
Do you have any leads on this issue?
My thinking is that if it worked, then we could try to git-blame it and identify what broke it. If that fails we need to straight-up fix it. Thought to ping you before starting to spend efforts on this.

[2020-10-13 14:39] #1569 closed, assigned to nobody

[2020-10-13 14:47] TidyH commented on #1463
Sorry for the delay, but on every node that connects to the gluster servers the error is always rpc_clnt_ping_timer_expired. It will log it for each of the three servers and then sit in the transport agent disconnect status. I did have some mismatching MTU settings on this network which i fixed hoping it would make things better, but it is still occurring. It is especially pronounced on our mesos

[2020-10-13 17:23] #830 closed

[2020-10-14 04:27] pranithk commented on #1507
@BarakSason I don't have any leads. I am starting to look at DHT/Rebalance just from past 2 weeks really. It will take some more time for me to understand DHT completely.

[2020-10-14 04:59] pranithk commented on #1463
@TidyH Do all the clients experience this problem at the same time or only some clients experience this? I wonder if the epoll threads that listen on network events are blocked somewhere else before this happens.

[2020-10-14 07:48] BarakSason commented on #1507
Ack. no problem.
Btw, if you have any questions about DHT/rebalnace, feel free to ping me :)

[2020-10-14 10:12] gluster-ant commented on #1584
A patch None has been posted that references this issue.

Maintainers List update : Events API

Hi Maintainers, requesting permission to be a peer in the events API
component in glusterfs. I beleive I can actively help in the
maintenance as well as enhancement of the component.

Fixes: #1584
Signed-off-by: srijan-sivakumar <ssivakum@redhat.com>

[2020-10-14 10:26] gluster-ant commented on #1584
A patch None has been posted that references this issue.

Maintainers List update : Events API

Hi Maintainers, requesting permission to be a peer in the events API
component in glusterfs. I beleive I can actively help in the
maintenance as well as enhancement of the component.

Fixes: #1584
Signed-off-by: srijan-sivakumar <ssivakum@redhat.com>

[2020-10-14 12:05] gangyi89 opened #1634 "unable to replace brick when the node is offline"
### Description of problem:
When a node is shut down, attempt the replace brick from the shut down node to a new brick returns an replace brick error.

### Background:
1. Provisioning 4 nodes
10.0.0.9
10.0.0.10
10.0.0.11
10.0.0.12
2. Created a volume with replica 3, hence 3 bricks from 9,10,11 where used
3. Shut down 10.0.0.9 and trigger a brick replace in 10.0.0.12 to replace brick from 10.0.0.9

[2020-10-14 12:15] kannanvr commented on #1522
Thanks @amarts  and @pranithk ...

[2020-10-14 12:15] #1522 closed

[2020-10-14 12:33] kannanvr opened #1635 "Glusterfs File is corrupted. How to Restore"
Hi All,
 We are facing the issue related to one of our DB. Glusterfs si a storage provider and Heketi is a provisoner.
We have allocated the memory by using kubernetes objet PVC and attached with DB .
BUt Now I can see that DB is not up and Running. I can get the error message as below

```DETAIL:  Could not open file "pg_notify/0000": Input/output error.```

When i mount the volume and check this

[2020-10-14 13:04] gluster-ant commented on #1584
A patch None has been posted that references this issue.

Maintainer List update : Events API

Hi maintainers, requesting permission to be a peer in events API
component in glusterfs. I believe I can actively help in the
maintenance as well as enhancement of the component.

Updates: #1584
Signed-off-by: srijan-sivakumar <ssivakum@redhat.com>

[2020-10-14 13:06] pranithk commented on #1635
This can happen if there is a gfid mismatch between the bricks. Can you get the following output?
getfattr -d -m. -e hex /path/to/pg_notify/0000 on the bricks where it is available?

[2020-10-14 13:10] pranithk commented on #1635
Could you also get stat output of the file on all the bricks

[2020-10-14 13:22] gluster-ant commented on #1584
A patch None has been posted that references this issue.

Maintainer List update : Events API

Hi maintainers, requesting permission to be a peer in events API
component in glusterfs. I believe I can actively help in the
maintenance as well as enhancement of the component.

Updates: #1584
Signed-off-by: srijan-sivakumar <ssivakum@redhat.com>

[2020-10-14 14:22] itisravi commented on #1594
Still seeing the failure in one of today's runs: https://build.gluster.org/job/gh_centos7-regression/93/console

[2020-10-14 15:12] Naranderan commented on #1527
What are the possibilities of this could happen?

[2020-10-14 18:16] mykaul opened #1637 "Reduce lk_owner size"
In most cases, we only use 8 bytes of lk_owner. However, we statically allocate 1K. I do believe we should look at it differently.
This, and the call_stack_t, take 1.5K per frame.
In many cases we just populate it with set_lk_owner_from_ptr() - which just fills in 'sizeof(unsigned long)' of bytes out of it. Others call set_lk_owner_from_uint64() - 8 bytes as well.
(The bulk of the call_stack_t is

[2020-10-15 01:37] FrelDX commented on #1635
I also encounter this problem. When a gluster node is hung up, PgSQL fails to start successfully on another machine. It is also true to view the data file and display
-????????? ? ? ? ?            ? 0000

[2020-10-15 02:22] FrelDX commented on #1635
[root@test1 /]# ll /var/lib/portsip/pgsql/data/pg_stat_tmp/
ls: cannot access /var/lib/portsip/pgsql/data/pg_stat_tmp/global.stat: Transport endpoint is not connected
ls: cannot access /var/lib/portsip/pgsql/data/pg_stat_tmp/db_0.stat: Transport endpoint is not connected
ls: cannot access /var/lib/portsip/pgsql/data/pg_stat_tmp/db_16384.stat: Transport endpoint is not connected
total 0
-?????????

[2020-10-15 02:22] FrelDX commented on #1225
[root@test1 /]# ll /var/lib/portsip/pgsql/data/pg_stat_tmp/
ls: cannot access /var/lib/portsip/pgsql/data/pg_stat_tmp/global.stat: Transport endpoint is not connected
ls: cannot access /var/lib/portsip/pgsql/data/pg_stat_tmp/db_0.stat: Transport endpoint is not connected
ls: cannot access /var/lib/portsip/pgsql/data/pg_stat_tmp/db_16384.stat: Transport endpoint is not connected
total 0
-?????????

[2020-10-15 02:23] FrelDX commented on #1225
I also encounter this problem. Running PgSQL will cause PgSQL to fail to start when a gluster node is unavailable

[2020-10-15 02:24] FrelDX opened #1638 "pgsql on glusterfs"
I also encounter this problem. Running PgSQL will cause PgSQL to fail to start when a gluster node is unavailable

pgdata

[root@test1 /]# ll /var/lib/portsip/pgsql/data/pg_stat_tmp/
ls: cannot access /var/lib/portsip/pgsql/data/pg_stat_tmp/global.stat: Transport endpoint is not connected
ls: cannot access /var/lib/portsip/pgsql/data/pg_stat_tmp/db_0.stat: Transport endpoint is not connected
ls: c

[2020-10-15 03:10] mohit84 commented on #1638
Transport endpoint is not connected means either a brick process is not running or the client is not able to communicate with
a brick process.To ensure the same you can run a command gluster v status to see a brick process is running or not.

[2020-10-15 03:15] FrelDX commented on #1638
I have three glusterfs clusters. I have created one replica coupon and three replicas. The PgSQL data directory is in the replica. When one of my glusterfs is shut down, PgSQL is dispatched to another machine and fails to start. This error occurs,

[2020-10-15 03:16] FrelDX commented on #1638
Other files can be created and deleted. Only PgSQL data files can be viewed

[2020-10-15 03:44] itisravi commented on #1594
One more instance: https://build.gluster.org/job/gh_centos7-regression/96/console.

Should we move it to tests/000-flaky/ for now?

[2020-10-15 03:52] mohit84 commented on #1638
Can you please share below data to debug it more
1) gluster v info
2) gluster v status
3) Dump /var/log/glusterfs from all the nodes

[2020-10-15 03:57] FrelDX commented on #1638
[root@test1 log]# gluster v info

Volume Name: pbx
Type: Replicate
Volume ID: ddbc04b8-a829-45fe-96a1-0c2d663a7624
Status: Started
Snapshot Count: 0
Number of Bricks: 1 x 3 = 3
Transport-type: tcp
Bricks:
Brick1: 192.168.1.242:/data/pbx
Brick2: 192.168.1.216:/data/pbx
Brick3: 192.168.1.230:/data/pbx
Options Reconfigured:
performance.open-behind: off
transport.address-family: inet
storage.fips-mode

[2020-10-15 03:58] FrelDX commented on #1638
[Uploading glusterfs.tar.gz…]()

[2020-10-15 04:45] pranithk commented on #1635
Could you attach the information I was asking for in the comment above? Please also attach the logfiles present in /var/log/glusterfs directory for further investigation

[2020-10-15 04:48] mohit84 commented on #1638
From the CLI output It seems the one brick process is not running.
I am not able to download the tar.

[2020-10-15 04:51] FrelDX commented on #1638
High availability, simulating a node hanging up

[2020-10-15 04:52] FrelDX commented on #1638
3 nodes hang up one, should not affect the use of files

[2020-10-15 04:52] FrelDX commented on #1638
[glusterfs.tar.gz](https://github.com/gluster/glusterfs/files/5382498/glusterfs.tar.gz)

[2020-10-15 04:53] FrelDX commented on #1638
Are some files locked by the hanging node, and then the node hangs and the lock is not released, resulting in the failure of the other two nodes to obtain the files

[2020-10-15 05:00] pranithk commented on #1638
@FrelDX Locks are not held by servers/bricks, so that is not a possibility.

[2020-10-15 05:01] FrelDX commented on #1638
Can PgSQL run on glusterfs

[2020-10-15 05:18] pranithk commented on #1638
The logs you attached doesn't have any files with name var-lib-.....log Could you attach the logfile from the machine where you are observing the failure?

I checked the repo and it looks like for db-workload the following profile should be enabled:
10:45:54 :) ⚡ cat extras/group-db-workload
performance.open-behind=on
performance.write-behind=off
performance.stat-prefetch=off
performance.quick-rea

[2020-10-15 05:18] pranithk commented on #1638
There was a crash reported with open-behind which was fixed recently, so you may want to turn it off in case you are in affected version

[2020-10-15 05:22] FrelDX commented on #1638
Can PgSQL run successfully with the above configuration enabled? My version is gluster

[2020-10-15 05:22] FrelDX commented on #1638
version is gluster 7.8

[2020-10-15 05:22] msaju commented on #1465
We will be doing the regression and performance tests as part of this activity.

[2020-10-15 05:26] pranithk commented on #1638
open-behind issue is fixed on 7.8.
The profile I mentioned above is tested for dbworkloads. I remember pgSQL to be one of those that were tested.

I still need the logs to find what the problem you are facing is.

[2020-10-15 05:29] pranithk commented on #1465
@msaju Could you change the description of 1211 to rename dir heal instead of gfid split-brain prvention? This is phase-1 to achieve gfid-split-brain prevention

[2020-10-15 05:33] FrelDX commented on #1638
[glusterfs.tar.gz](https://github.com/gluster/glusterfs/files/5382642/glusterfs.tar.gz)
my host /var/log/gluster

[2020-10-15 05:35] FrelDX commented on #1638
The attachment I sent is a file in the / var / log / gluster directory on the server

[2020-10-15 05:44] FrelDX commented on #1638
what is repo's url

[2020-10-15 06:01] deepshikhaaa commented on #1594
@Shwetha-Acharya can you please check?

[2020-10-15 06:10] pranithk commented on #1638
It is this github repo. Exact link to the file I pasted:
https://github.com/gluster/glusterfs/blob/devel/extras/group-db-workload

[2020-10-15 06:14] pranithk commented on #1638
It is indeed the same issue I was referring to in the issue yesterday:

Could you please attach output of:
getfattr -d -m. -e hex </path/to//pgsql/data/current_logfiles > on all the bricks
Also getfattr -d -m. -e hex /path/to//pgsql/data on all the bricks to debug it further.

[2020-10-15 01:01:32.965538] E [MSGID: 108008] [afr-self-heal-common.c:392:afr_gfid_split_brain_source] 0-pbx-replicate-0:

[2020-10-15 06:16] FrelDX commented on #1638
![01BC1B18-F3A3-4f4a-9708-E03E10FB54CE](https://user-images.githubusercontent.com/32826879/96083855-96ceb080-0ef0-11eb-90f3-6e6a7a9f9d5a.png)
Test1 test2 test3 is a cluster. When test1 is suddenly powered off, the data of other nodes will be inconsistent. When test1 is powered on, it will recover by itself. However, most of the time, we hope that test1 is hung and the cluster is still available. I

[2020-10-15 06:26] FrelDX commented on #1638
In my opinion, test1 synchronizes data to test2 and test3. When test3 is synchronized, test1 is considered successful. Then, a sudden power failure causes test2 to fail to synchronize with test1. Then, the data above test2 and test3 are inconsistent, and PgSQL cannot be started

[2020-10-15 06:27] pranithk commented on #1638
@FrelDX That is not how it works on glusterfs. It is the mount on client machines which replicates the data, not server.

[2020-10-15 06:28] pranithk commented on #1638
Could you provide the info I asked in the previous comment with getfattr commands?

[2020-10-15 06:29] FrelDX commented on #1638
ok

[2020-10-15 06:35] aravindavk commented on #1594
I looked at the logs, didn't see any errors. Looks like some delay in executing these tests. (`Strart: 2020-10-14 14:50:34 -> End: 2020-10-14 15:00:01  => 09:27 (~600 seconds)`)

@Shwetha-Acharya you can increase the script timeout(https://github.com/gluster/glusterfs/blob/devel/tests/00-geo-rep/00-georep-verify-non-root-setup.t#L8) for now to see if the tests will succeed. Actual delay issue can

[2020-10-15 06:39] FrelDX commented on #1638
Test1 is a disconnected machine. You can view some output through your command. Test2 and test3 cannot use your command to view it
![9CCECBDC-E6C4-4a85-8D21-E81DA2C02738](https://user-images.githubusercontent.com/32826879/96085999-30e42800-0ef4-11eb-8cff-dadbdcba9cfa.png)
![6B7CC917-88DF-4929-968D-8DA1B9BFA9CB](https://user-images.githubusercontent.com/32826879/96086005-32adeb80-0ef4-11eb-8a86-918

[2020-10-15 06:40] pranithk commented on #1638
Sorry for the confusion. You need to execute this on the bricks not on the mount point. Could you please paste the output in text, so that it is easy to copy/paste and search through the logs?

[2020-10-15 06:42] FrelDX commented on #1638
ok

[2020-10-15 06:42] FrelDX commented on #1638
I randomly found a file with a problem and used your command to view it, because my previous environment has been destroyed

[2020-10-15 06:43] Shwetha-Acharya commented on #1594
20:02:10 ./tests/000-flaky/basic_changelog_changelog-snapshot.t ..
20:02:10 1..15
20:02:10   lvremove VG|LV|Tag|Select ...
20:02:10
20:02:10   vgremove VG|Tag|Select ...
20:02:10
20:02:10 rm: cannot remove ‘/d/backends/patchy1/.glusterfs’: Directory not empty
20:02:10 Aborting.
20:02:10
20:02:10 /mnt/nfs/1 could not be deleted, here are the left over items
20:02:10 drwxr-xr-x. 3 jenkins jenkins 21

[2020-10-15 06:45] pranithk commented on #1638
Okay. Without the output for the commands I won't be able to debug the issue further.

[2020-10-15 06:47] FrelDX commented on #1638
[root@test2 dialog]# getfattr -d -m. -e hex ./LOG
# file: LOG
trusted.afr.dirty=0x000000000000000000000000
trusted.gfid=0x474638f6c9154bf5975d14c5b088e924
trusted.gfid2path.d392b5c3cec86865=0x32383434633464652d343435312d343761622d616166382d3538303935383235656166632f4c4f47
trusted.glusterfs.mdata=0x010000000000000000000000005f87e380000000000e0542be000000005f87e380000000000e0542be000000005f87e37f000

[2020-10-15 06:50] FrelDX commented on #1638
![3333333333333333](https://user-images.githubusercontent.com/32826879/96086969-b1efef00-0ef5-11eb-93fb-778d9e68bd6f.png)

[2020-10-15 06:51] FrelDX commented on #1638
Test2's trusted.glusterfs.mdata It's not the same as test1, test2

[2020-10-15 06:52] pranithk commented on #1638
Are you running the workload on test1 machine?

[2020-10-15 06:56] FrelDX commented on #1638
I use three cluster groups to simulate the high availability of test1, and whether test2 and test3 can run normally. Now I find that the problem is that after test1 fails to shut down, the services on test2 and test3 can not run. After test1 is started, the services of test2 and test3 can run. So I am simulating the fault and turn test1 off and off the network. The fault can't be solved. After tes

[2020-10-15 06:56] FrelDX commented on #1638
I use three cluster groups to simulate the high availability of test1, and whether test2 and test3 can run normally. Now I find that the problem is that after test1 fails to shut down, the services on test2 and test3 can not run. After test1 is started, the services of test2 and test3 can run. So I am simulating the fault and turn test1 off and off the network. The fault can't be solved. After tes

[2020-10-15 06:58] FrelDX commented on #1638
The original three machines are running normally. When test1 is shut down, test2 and test3 cannot run the service. The result I hope is that test2 and test3 can still run the service after test1 is shut down

[2020-10-15 06:59] pranithk commented on #1638
I understood the requirement. My question is, is the sql workload run on test1? i.e. on the
test1 server machine instead of a separate client machine?

[2020-10-15 06:59] FrelDX commented on #1638
yes

[2020-10-15 07:00] FrelDX commented on #1638
Both SQL and glusterfs run on test1. When test1 fails, SQL migrates to test2

[2020-10-15 07:15] FrelDX commented on #1638
Whether glusterfs has parameter settings, all node data validation is completed, and then returns success to the client

[2020-10-15 07:15] mykaul commented on #1465
#768 above is not complete, it's still open.

[2020-10-15 07:29] pranithk commented on #1638
@FrelDX Because you are mounting the filesystem on test1, you are using test1 as both client and server, when server1 dies both the client machine and the server machines are dying. It is difficult to recover from these failures for the workload you have until one of the issues we have is fixed.

@karthik-us I am not able to find the gfid split-brain issue you raised. Could you point to that issue

[2020-10-15 07:38] karthik-us commented on #1638
@pranithk Here it goes https://github.com/gluster/glusterfs/issues/502 and is filed by Ravi, maybe that's why you were not able to find the link.

[2020-10-15 07:42] FrelDX commented on #1638
Is there a solution? My architecture needs to run PgSQL on the glusterfs server

[2020-10-15 07:49] pranithk commented on #1638
@FrelDX No, not without the fix to #502

[2020-10-15 08:52] BarakSason opened #1641 "[RFE] Incerase migration queue size in rebalance"
Currently rebalance migration queue is determined by the define MAX_MIGRATE_QUEUE_COUNT which has a value of 500.
Very small scale testing showed that increasing this value might improve perfromance, however larger scale testing are needed.
Opening this issue to track actions related to this effort.
Will update with results once proper testing is performed.

[2020-10-15 09:13] gangyi89 commented on #1634
any advice would be greatly appreciated!

[2020-10-15 10:12] pranithk commented on #1634
Could you get glusterd.log from all the bricks?

Adding glusterd maintainer @mohit84

[2020-10-15 10:31] mohit84 commented on #1634
The replace brick operation is failing because your dns-server  is not able to resolve the hostname, kindly resolve it and then retry replace-brick operation.

[2020-10-14 11:26:25.639683] E [name.c:265:af_inet_client_get_remote_sockaddr] 0-management: DNS resolution failed on host gluster1-vm.internal.cloudapp.net
[2020-10-14 11:26:28.644160] E [name.c:265:af_inet_client_get_remote_sockaddr] 0-ma

[2020-10-15 10:58] #1542 closed

[2020-10-15 11:04] xhernandez commented on #1225
@FrelDX how is your problem related with this issue ?

Does the problem disappear if you disable `open-behind` ?

[2020-10-15 11:16] ianandhum commented on #1541
Hi @Shwetha-Acharya , Any insights?

[2020-10-15 11:30] faciulula commented on #1225
@FrelDX Disable open-behind has helped my a lot.

[2020-10-15 12:36] gangyi89 commented on #1634
Hi @pranithk @mohit84 , thanks for the feedback. I am attaching 2 key logs here

1. Heketi logs - where the error message may be helpful
2. 10.0.0.12 - where the replace brick command was triggered

_Didnt attach logs for 10.0.0.9,10,11 as there is no meaningful messages there - only DNS resolution error of gluster1-vm.internal.cloudapp.net not found._

@mohit84 I don't think the error is due to D

[2020-10-15 12:45] mohit84 commented on #1634
Can you restart glusterd after enabling DEBUG logs and then share the glusterd logs while replace-brick is failing?

[2020-10-15 13:11] #760 closed

[2020-10-15 17:41] rafikc30 opened #1645 "rpc connections are not added the xprts list when the connection is accepted before the server xlator is inited"
**Description of problem:**

We had crash similar to https://bugzilla.redhat.com/show_bug.cgi?id=1687641, while looking at the fix, I see a potential problem When a connection is accepted before initialling the server xlator. Such case will leave an active rpc connection to a brick which is not added to the xprt list. This can cause problems when an upcall fops are send, because such requests may

[2020-10-16 02:50] weinux2020 opened #1650 "Peers node cpu usage and load high"
**Description of problem:**
glusterfs cluster cpu usage is over 50% and load is 20(8cores)
client side read/write very slow

**Expected results:**
client use ok

**Additional info:**
[11:03:01 root@st2-nas-63a101 glusterfs]$ uptime
 11:05:01 up 5 days, 20:39,  5 users,  load average: 19.21, 19.26, 18.99
Average:        CPU     %user     %nice   %system   %iowait    %steal     %idle
Average:

[2020-10-16 05:30] pranithk commented on #1650
Load and cpu usage is dependent on the application I/O. What are you doing on the clients?

[2020-10-16 05:41] weinux2020 commented on #1650
I used as a nfs-server,little read and little write,just put some shared config file on it. This is the iftop command view:
gluster1                                                                      => 192.168.111.2                                                                 3.34Kb  87.5Kb  87.5Kb
                                                                              <=

[2020-10-16 06:01] pranithk commented on #1650
Could you use the following script to capture the system stats while executing your I/O?
It will generate some files and you need to attach them to this issue
https://github.com/gluster/glusterfs/blob/devel/extras/collect-system-stats.sh

[2020-10-16 06:11] myy2829 opened #1651 "io-cache: update cache pages error in ioc_writev_cbk"
**Description of problem:**
when I test glusterfs I/O using gfapi, I find there is one problem in  io-cache xlator. But when mount volume using mount.glusterfs, VFS cache will cover this problem.
I find the problem maybe:
In io-cache xlator, when update cache pages in ioc_writev_cbk, it does not update page->size.

**The exact command to reproduce the issue**:
when I run following test, glusterfs

[2020-10-16 06:13] weinux2020 commented on #1650
This is the result on one of the cluster node,thank you:
[shlog.zip](https://github.com/gluster/glusterfs/files/5389542/shlog.zip)

[2020-10-16 06:47] pranithk commented on #1650
@weinux2020 What is the number of cpus?

[2020-10-16 06:50] weinux2020 commented on #1650
@pranithk 8logic cores,1800Mhz

[2020-10-16 06:56] mykaul opened #1653 "io-cache xlators lock/unlock are always accompanied by gf_msg_trace()"
Example:
[code]

(At the very least, if you have to trace, the unlock should unlock first, then trace)

This is done for all lock/unlock sequences in that xlator: ioc_inode_lock/ioc_inode_unlock, ioc_table_lock/ioc_table_unlock, ioc_local_lock/ioc_local_unlock, ioc_page_lock/ioc_page_unlock (which doesn't seem to be used, btw)

[2020-10-16 06:56] Shwetha-Acharya commented on #1541
Nothing much significant is observed in the shared logs.

Are the hard links never getting synced in this setup?

[2020-10-16 07:06] pranithk commented on #1650
Okay, as per top, the number of messages that the process is receiving could be high. To understand the workload better could you re-run the workload and this time capture profile info along with the system-stats you gathered before?
Here are steps to capture profile info:
https://docs.gluster.org/en/latest/Administrator%20Guide/Monitoring%20Workload/

[2020-10-16 07:55] pranithk opened #1654 "Rebalance/migration per directory/file"
I came up with a script that can do rebalance for any directory/file once fix-layout is done. Main motivation to come up with this tool is to give users the ability to do rebalance whenever they want. If rebalance start/stop does pause/resume like shd we wouldn't need this script. Until rebalance gets there, I would like the python script to be placed in extras/ if others feel this is useful for t

[2020-10-16 07:56] weinux2020 commented on #1650
@pranithk Here is the profile file,I use 'gluster volume top' and 'gluster volume statedump gfs_01'  and the collect-system-stats.sh to generate the log ,thank you.
[profile.zip](https://github.com/gluster/glusterfs/files/5390047/profile.zip)

[2020-10-16 08:00] pranithk commented on #1650
@weinux2020 You said the I/O is very low? As per the profile info, I/O is pretty high
This is almost 8.5k lookup requests per second.
    97.94     449.62 us      73.66 us   70573.10 us         153442      LOOKUP

[2020-10-16 08:36] weinux2020 commented on #1650
@pranithk  I don't know why so many lookups,I saw the net io is just 5MB/s on cluster node. What  lookup requests means?
Before use glusterfs,we just use a 4core 8Gmem vm,install a nfs-server,same usage scenarios  and it was used fine.

[2020-10-16 09:02] pranithk commented on #1650
@weinux2020 Lookup resolves a filename to a glusterfs-id in short gfid. It is similar to inode in normal file systems.  Maybe you need to tune glusterfs for your usecase. Could you let us know the exact workload? If they are commands let us know the exact commands you executed on the mount point.

[2020-10-16 09:07] gangyi89 commented on #1634
Hi @mohit84

Ran
[code]

However do not see any meaningful logs
[code]

[2020-10-16 09:24] weinux2020 commented on #1650
@pranithk Thanks, we use the voulme 'gfs_01' 3 ways :
1,vm nfs mount
mount -t nfs -o acl 192.168.63.103:/gfs_01 /nfs
192.168.63.103 installed a nfs-ganesha to export 'gfs_01' as a nfs volume,because redhat5 can't install glusterfs client
2,vm gluster client fuse mount
mount -t glusterfs -o acl 192.168.63.105:/gfs_01 /nfs
192.168.63.105 is a vip configured by keepalived,just provide HA ability when

[2020-10-16 09:37] pranithk commented on #1650
@weinux2020 It is not a good idea to mount different protocols on the same volume. Caching in different protocols is not synchronised.

You are correct about the lookups. I am also not sure why so many lookups are sent. Let me add more people.

@xhernandez @mohit84 Do you guys know why so many lookups are received by fuse mount? Doing a 'cd a' where 'a' is a directory is leading to 100s of lookups

[2020-10-16 11:40] amarts opened #1655 "issues seen when node is down and up, and fuse receives interrupt!"
Found below logs in client logfiles:

[code]

Any pointers what may be wrong here? I think it is related to cleanup of locks due to interrupt.. (mostly timeout related)!

[2020-10-16 12:01] amarts commented on #1655
@csabahenk @pranithk any possible hints? One of our users raised this issue, had not seen in glusterfs issue list till date!

Ref: kadalu/kadalu#319

[2020-10-16 12:06] mohit84 commented on #1634
Would it be possible for you to attach a glusterd process with gdb and see where it is exactly failing.
Need to put a break point in this function and see where it is failing
glusterd_op_stage_replace_brick
Please print the op_errstr also at the time of come out from a function.

[2020-10-16 14:26] ianandhum commented on #1541
I will share the full logs after a fresh iteration.

Rebalance operation was started after geo-replication checkpoint completion.  Before rebalance, there was no diff between master and slave volumes (you can see it under the **The full output of the command that failed** section of my original comment).

[2020-10-16 15:07] pranithk commented on #1655
@amarts I remember working on a smiliar issue with @csabahenk 2-3 months back. He was to investigate why this interrupt is coming and cleaning up the logs. Apparently the application hangs when this happens. Not sure what @csabahenk found though.

You are right about interrupt cleaning up the locks. It basically does a clear-locks command on the fd on posix locks.

[2020-10-16 16:09] rkothiya commented on #1302
Instead of giving the local as English in strerror_l() at many different places, I would suggest to set it at the start of logging.

[2020-10-17 10:04] perrynzhou opened #1658 "maintaince for glusterfs peoject"
@mykaul @mohit84 @itisravi @amarts @hari  @pranithk glusterfs exists some problem on large-scale use glusterfs in prod env.
why glusterfs project develop hold just maintain by redhat?is any plan to open  for any developer  that some one want to mantian this project,just like ceph?this greatly reduces the attractiveness of developers now

[2020-10-17 11:26] aravindavk commented on #1658
Major contribution to this project is from Red Hat, but I see many maintainers/developers(including me) outside Red Hat contributing to GlusterFS. Are you seeing any major issue in accepting any feature/PR?

[2020-10-17 12:56] perrynzhou commented on #1658
@aravindavk  oh,i see.thank you

[2020-10-17 12:56] #1658 closed, assigned to nobody

[2020-10-17 13:39] mykaul opened #1659 "wrong comparison in glusterd_brick_start() function"
The following comparison is probably wrong:
[code]

1. uuid_utoa() cannot be used twice here - both will point to the same location
2. I assume it can be implemented via gf_uuid_compare() instead.

[2020-10-17 20:36] BarakSason opened #1660 "[RFE] Acceleration of data path in Rebalance"
In the current implementation of rebalance there is a separation between the thread that traverses the FS ("scanner" thread) and the threads which performs the migration operation ("migrator threads").
Since the FS is being traversed recursively by only a single thread (due to the limitations of the per-dir layout model) this separation is needed, however, following recent discussions and work reg

[2020-10-17 20:37] BarakSason commented on #1660
@xhernandez @amarts @pranithk @mohit84  @mykaul @csabahenk @tshacked
Please share your views.

[2020-10-18 04:56] mohit84 opened #1661 "test case ./tests/bugs/bug-1064147.t is continuously failing"
Test case is continuously failing at the time of running a test suite regression

[16:40:04] Running tests in file ./tests/bugs/bug-1064147.t
22:10:21 ./tests/bugs/bug-1064147.t ..
22:10:21 1..23
22:10:21 ok   1 [    167/   1238] <  11> 'glusterd'
22:10:21 ok   2 [     15/     21] <  12> 'pidof glusterd'
22:10:21 No volumes present
22:10:21 ok   3 [     12/    110] <  13> 'gluster --mode=script --

[2020-10-18 05:48] mohit84 opened #1663 "test case ./tests/bugs/core/bug-1650403.t is getting timed out"
The test case ./tests/bugs/core/bug-1650403.t is consuming more than 500s while running a regression so
the regression is failing. After executed the test case in softserve environment i have found it is getting timed-out
because dns call is consuming time by glusterd while it is trying to disbale/enable shd.

time ./tests/bugs/core/bug-1650403.t
real	20m52.952s
user	0m20.842s
sys	0m9.824s

After

[2020-10-18 05:56] gluster-ant commented on #1663
A patch None has been posted that references this issue.

tests: Add ip-hostname entry in /etc/hosts

The test case ./tests/bugs/core/bug-1650403.t is consuming more than
500s while running a regression job so the regression is failing.
After executed the test case in softserve environment i have found it is getting timed-out
because dns call is consuming time by glusterd while it is trying to dis

[2020-10-19 04:27] itisravi commented on #1594
I rebased my patch yesterday so that all the above fixes are included but its still failing:  https://build.gluster.org/job/gh_centos7-regression/135/consoleFull

[2020-10-19 04:47] mohit84 commented on #1619
I have checked compiler does not optimize it.

   With current macro
   /home/mohit84/upstream_gluster/shd_inode/glusterfs/xlators/mgmt/glusterd/src/glusterd-handler.c:798
   1f938:       48 83 c4 20             add    $0x20,%rsp
   1f93c:       e8 8f 5b ff ff          callq  154d0 <__glusterfs_this_location@plt>
   1f941:       48 8b 00                mov    (%rax),%rax
   1f944:       48 8b b8 8

[2020-10-19 07:39] mykaul commented on #1660
Can you provide any numbers for the current implementation? Say, how long it takes to traverse 1M files, vs. how long it takes to migrate them? Use some deep layout of the directories (nested, etc.)

[2020-10-19 07:58] #1661 closed, assigned to nobody

[2020-10-19 08:06] pranithk commented on #1658
@perrynzhou At the moment as per https://github.com/gluster/glusterfs/blob/devel/MAINTAINERS file in the repo we have maintainers from 4 organizations

redhat.com
kadalu.io
iternity.com
phonepe.com

You do raise one important point. We don't have a formal plan for serious contributors to become MAINTAINERs over time.
@amarts @xhernandez maybe we should formalise this one.

Over the years, what we

[2020-10-19 08:24] pranithk commented on #1658
Did some more stats just to see how the contributions have been:
Total number of organizations(Based on email-id):
13:51:11 :) ⚡ git log --pretty=short --pretty="format:%ae" | grep "@" | cut -f2 -d'@' | sort | uniq -c | wc -l
107

top-20:
gluster/zresearch/80x25 are all same people. Then redhat acquired gluster. So gluster is where it is today mostly because of redhat for the past 10 years. But ot

[2020-10-19 09:20] xhernandez commented on #1660
I completely agree that we should do the migration inside the same threads that are scanning the directories. This reduces the number of thread pools that need to be managed, and it prevents that the queue of pending entries grow too much while all threads are busy migrating files.

[2020-10-19 10:02] yaakov-berkovitch opened #1668 "GlusterFS 7.8 - No gluster volume geo-replication option"
**Description of problem:**
Run the command **gluster volume help**, and the following is returned, but there is no geo-replication option.
[code]

**The exact command to reproduce the issue**:
gluster volume help

**The full output of the command that failed**:
<details>
See in the description
</details>

**Expected results:**
Expected to see the volume geo-replication option as documented.

**Ad

[2020-10-19 10:33] weinux2020 commented on #1650
@pranithk  Thanks a lot. I stoped nfs-ganesha and umount all nfs protocol mount of gfs_01 today,it still have high load and cpu usage. LOOKUP requests also frequently.
Interval 12612 Stats:
 %-latency   Avg-latency   Min-Latency   Max-Latency   No. of calls         Fop
 ---------   -----------   -----------   -----------   ------------        ----
      0.00       0.00 us       0.00 us       0.00

[2020-10-19 10:49] BarakSason commented on #1654
I've no objections to add this kind of script. Rebalance can also be enhanced to operate only on a given path and not only from root (if fix-layout had been performed already).
Can you share the script?

[2020-10-19 10:51] pranithk commented on #1654
Thanks, will send it out for review.

[2020-10-19 11:38] ianandhum commented on #1541
@Shwetha-Acharya

Issue reproduced

[gsyncd-master.zip](https://github.com/gluster/glusterfs/files/5401432/gsyncd-master.zip)
[gsyncd-slave.zip](https://github.com/gluster/glusterfs/files/5401433/gsyncd-slave.zip)

[2020-10-19 11:55] nik-redhat commented on #1130
Closing, as negative test case.

[2020-10-19 11:55] #1130 closed

[2020-10-19 13:39] Shwetha-Acharya commented on #1541
@anandhumanoj
1. hard links are not migrated to new bricks after rebalance.
2. geo-rep is not responsible for the behavior encountered here.
3. It is always recommended to stop the geo-rep session when you start the rebalance and start it once the rebalance gets
    completed.

[2020-10-19 13:42] pranithk commented on #1541
@Shwetha-Acharya I don't think that is a good user experience. Rebalance of a big volume(TBs) takes months and if geo-rep is stopped, then the user's data is at risk for the duration of rebalance. Is there any design limitation for recommending this?

[2020-10-19 13:44] TidyH commented on #1463
They happen independently but i have noticed cases where one or two will fail shortly after each other, maybe a minute or two between. I have also attached a log from /var/log/messages that gluster is being killed by oom about 10 seconds before the fail.
[glusteroom.txt](https://github.com/gluster/glusterfs/files/5402181/glusteroom.txt)

[2020-10-19 13:45] pranithk commented on #1541
@Shwetha-Acharya Could you provide the logs/code paths that confirm this?

[2020-10-19 13:51] pranithk commented on #1463
@TidyH When a client process is killed then the mount will start giving Transport Endpoint Not connected errors. I think the issue we need to debug is probably a memory leak. Will it be possible for you to take statedumps of the process periodically and provide us with those files? If it takes days for this to happen, maybe you can generate a statedump every day.

These statedump files will give c

[2020-10-19 14:11] pranithk commented on #1650
@weinux2020 I didn't get a chance to debug this issue further. Version mismatch most probably won't be the reason for this problem. We need to find which layer in the fs leads to so many lookups to find the Root cause.
Is it possible for you to run the same workload on both fuse and nfs mounts and provide profile information? If fuse protocol leads to more lookups than nfs-ganesha, that reduces th

[2020-10-19 15:23] Shwetha-Acharya commented on #1668
You can use the following command to get usage details of geo-rep commands:
 `#gluster volume geo-replication help`

[2020-10-19 15:36] yaakov-berkovitch commented on #1668
I was probably not clear, but the option "geo-replication" is simply not available. See below:
[code]

[2020-10-19 15:41] ianandhum commented on #1541
@Shwetha-Acharya

Do you mean geo-rep doesn't support hard links after rebalance(in case, geo-rep is not stopped during rebalance)?

[2020-10-19 16:00] #1374 closed

[2020-10-19 16:08] csabahenk commented on #1655
The issues that capture the work referred to by @pranithk are #1310, #1374.

Is there any info from which component is the ENOTCONN coming from?

[2020-10-19 22:57] idumlija commented on #1413
Hello, 13 days after setting open-behind to off memory consumption is again high. Looks like that was not the issue. Please tell me if you need additional logs before I reboot the client node. Version is 7.7.

[2020-10-20 05:00] Shwetha-Acharya commented on #1668
Have you installed the gluster through package installation? @yaakov-berkovitch

[2020-10-20 05:28] aravindavk commented on #1541
@Shwetha-Acharya Please check the changelogs to check what is recorded for these files. Changelog doesn't record rebalance traffic. So even if a file is migrated to other brick the changelog of the source brick will have this entry. Also check if while parsing any stats to local brick than doing it on the mount.

completed.

I don't think we need to stop Geo-rep during rebalance.

[2020-10-20 05:40] aravindavk commented on #1541
@anandhumanoj please provide the exact steps followed to reproduce this. I will try to reproduce the issue. Specially when a new node is added. what are the steps followed for Geo-replication?(Run gsec_create, Geo-rep create force and then Geo-rep start force).

@Shwetha-Acharya one possible reason for the failure may be because of pure distribute Volume. For example, Geo-rep does stat of every re

[2020-10-20 05:57] aravindavk commented on #1541
@pranithk do you know any known issues with Rebalance which leaves stale hardlinks?

[2020-10-20 06:08] Shwetha-Acharya commented on #1541
@aravindavk thanks for your insights.
@pranithk need to analyse the logs deeply to conclude this scenario, on the hindsight it looked to be a issue from rebalance.
@anandhumanoj please share all geo-rep logs, rebalance logs and changelog files from .glusterfs/changelogs on bricks.

[2020-10-20 06:17] yaakov-berkovitch commented on #1668
I installed 2 rpms using yum install:
- glusterfs-server-7.8-1.el7.x86_64
- centos-release-gluster7-1.0-2.el7.centos.noarch

And the following additional packages were added due to dependencies:
- glusterfs-cli-7.8-1.el7.x86_64
- glusterfs-libs-7.8-1.el7.x86_64
- glusterfs-fuse-7.8-1.el7.x86_64
- glusterfs-client-xlators-7.8-1.el7.x86_64
- glusterfs-7.8-1.el7.x86_64
- glusterfs-api-7.8-1.el7.x86_6

[2020-10-20 06:19] pranithk commented on #1541
Hard links are not migrated during rebalance. Another hypothesis is lookup-optimized is true by default which could lead to ENOENT while doing rebalance. But I am not completely sure about it

[2020-10-20 06:23] yaakov-berkovitch commented on #1668
After I installed the additional rpm glusterfs-geo-replication.x86_64, the option appear in the gluster volume help.
Thanks @Shwetha-Acharya your comments helped me understanding the issue.

[2020-10-20 06:23] #1668 closed, assigned to nobody

[2020-10-20 06:28] Shwetha-Acharya commented on #1594
filed https://github.com/gluster/project-infrastructure/issues/96 with the purpose of analysing this issue better.

[2020-10-20 06:48] perrynzhou opened #1673 "rm file from /brick in replica 3 volume and execute heal full,fil not recover from other replica bricks"
@mykaul @mohit84 @itisravi @amarts @hari @pranithk  when i execute `rm -rf /glusterfs/rep_vol/data1/brick/data2` and execute `gluster volume heal ssd_rep_vol enable` and `gluster volume heal ssd_rep_vol full` ,file data2 not recover from other brick.is that a problem?how to solve that?
## gluster version(glusterfs 8.1)
[code]

- volume info
[code]

- rm data from one of bricks

[code]
- the second

[2020-10-20 06:51] pranithk commented on #1673
@perrynzhou Modifying data directly on the brick is not supported by gluster. Any operation should happen from the gluster mount be it fuse/smb/nfs/nfs-ganesha.

[2020-10-20 06:51] #1673 closed, assigned to nobody

[2020-10-20 07:00] perrynzhou commented on #1673
@pranithk  why closed that? afr defintion such as
[code]

[2020-10-20 07:02] ianandhum commented on #1541
@aravindavk
Steps are roughly the same as mentioned in my original comment.
Regarding geo-replication, I'm not adding any new nodes to TSP, so, _geo-replication create force_ and _start force_ are not executed after rebalance. In my observation, if the new subvolume belongs to the existing TSP, geo-rep automatically detects it.

[2020-10-20 07:03] ianandhum commented on #1541
@Shwetha-Acharya
Rebalance Logs: [rebalance-logs.zip](https://github.com/gluster/glusterfs/files/5406833/rebalance-logs.zip)
Changelogs sv03: [changeslogs-sv03.zip](https://github.com/gluster/glusterfs/files/5406834/changeslogs-sv03.zip)
Changelogs sv02: [changeslogs-sv02.zip](https://github.com/gluster/glusterfs/files/5406835/changeslogs-sv02.zip)
Changelogs sv01: [changeslogs-sv01.zip](https://g

[2020-10-20 07:05] pranithk commented on #1673
@perrynzhou All the responsibilities are supported only when the operations are done through the mount points. The issue description suggests the file/directory is modified directly on the brick. Which is not supported. So closed the issue.

If you want to replace the brick with some other brick or reset the brick by reformatting etc. Please use gluster volume replace-brick/reset-brick operations

[2020-10-20 07:07] ianandhum commented on #1541
@aravindavk

I'm able to reproduce this on a Distributed-Replicate volume as well. In fact the above logs are from 3x3 volume.

[2020-10-20 07:59] pranithk commented on #1673
Sorry, didn't understand the question correctly.
Behaviour of the heal is as follows:
If while the brick is down(restarted/network down etc), if you do some operations on the mount when the brick is brought back up it will attempt heal and recover data automatically.

[2020-10-20 08:01] perrynzhou commented on #1673
@pranithk  we need to fault drill with file miss.we rm file on one of bricks (brick1) that replica each.then access file that already rm on brick1 on mount client,the file recover on brick1.i execute command on mount client,so file recover on brick1

[code]

[2020-10-20 08:14] pranithk commented on #1673
@perrynzhou Yes, that will trigger entry heal and it will recreate the file. If you delete the file from brick marked as good then the file will be deleted from the other bricks also. This will be a data loss. So you should be very very careful about this operation. This is the reason we don't advise users to modify the underlying brick filesystem.

Accessing the file directly on the brick is **NO

[2020-10-20 08:17] perrynzhou commented on #1673
@pranithk  thank you very much. i saw.we need to simulate human failure.that never do in prod env.

[2020-10-20 09:47] perrynzhou opened #1674 "glusterfs wiki not updated for long time"
@mykaul @mohit84 @itisravi @amarts @hari @pranithk  glusterfs wiki already not updated for long time that  included Community Meeting and Bug Triage Meeting ?is any plan   push  last roadmap  to glusterfs wiki or glusterfs document?we want to know all last news about glusterfs in china.

[2020-10-20 10:07] pranithk commented on #1654
https://asciinema.org/a/9os4LSvcgHh5lfTQZGBFjZpk0 - This is how the script works. What do you guys think? Do you have any suggestions? I will also send the script in a bit.

[2020-10-20 10:21] pranithk commented on #1654
@xhernandez @BarakSason
These are the stats it printed at the end:
Migrated 7937 / 15973 files [49.69%]
Migrated 46.2 MiB / 92.1 MiB data [50.17%]
Run time: 0:05:05.164585 <<---- 5 minutes 5 seconds.
Time spent in migration: 0:04:42.180630 [92.47%]
Time spent in skipping: 0:00:18.858048 [6.18%]

As you can see, for small files the performance is extremely bad. I found the RC to be fsync at the end

[2020-10-20 11:46] #1601 closed, assigned to pranithk

[2020-10-20 11:46] #1604 closed, assigned to pranithk

[2020-10-20 14:22] jkroonza commented on #1225
Whilst open-behind helps our case a LOT it does not eliminate it.

[2020-10-20 15:09] msaju commented on #1674
@perrynzhou  -

The community meetings are happening **every month 2nd and 4th Tuesday** at 14:30 IST / 09:00 UTC
**Bridge**: https://bluejeans.com/441850968 ( New Bridge link will be updated soon)
**Minutes meeting**: https://hackmd.io/P5xs16HDTxWHcQUu694qyg
**Previous Meeting notes**: http://github.com/gluster/community
**Roadmap**   - https://www.gluster.org/roadmap/
**Release schedule** - http

[2020-10-20 17:53] mykaul opened #1678 "Improve gf_error_to_errno() and gf_errno_to_error() positive flow"
In most cases, those functions are called with op_errno or error = 0.

We can change the code to first check that first of all.
For example:
[code]

[2020-10-21 04:51] BernardSzlachta commented on #349
Guys, anything we can do to help?

[2020-10-21 05:04] pranithk commented on #349
@BernardSzlachta Hey sorry, I am busy for the next 2-3 months with rebalance related activities for my company. I do want to do it, but not sure when I will be able to start on this. I can guide if someone wants to pick this up. Ping me on gluster's slack channel.

[2020-10-21 05:31] BernardSzlachta commented on #349
Let me talk to my team. Except C and Linux kernel development, what would
be required skills?

 *Bernard Szlachta **（**安博） *

On Wed, 21 Oct 2020 at 13:05, Pranith Kumar Karampuri <
notifications@github.com> wrote:

[2020-10-21 05:42] pranithk commented on #349
@BernardSzlachta I think that should be good enough.

[2020-10-21 08:13] BarakSason commented on #1507
Reopening as 2nd issue mentioned still needs to be addressed.

[2020-10-21 09:39] dmantipov opened #1679 "libglusterfs: destroy epoll event slot lock"
Lock object in __event_slot_dealloc() should be destroyed to avoid potential resource leak.

[2020-10-21 09:55] #1659 closed, assigned to nobody

[2020-10-21 11:11] dmantipov opened #1681 "Fix string operation warnings"
Currently there is a bunch of warnings reported with gcc-10 -Wstringop-overflow, -Wstringop-truncation and -Wformat-truncation. This issue is for tracking an efforts to fix all of them.

[2020-10-21 11:44] tshacked commented on #1465
A tiny correction, on Fedora 32 there's a need to explicitly add the -flto option for enabling LTO optimization. @kalebskeithley, can you please confirm this?

This is my current steps on the "Compile with LTO/GCC 10" task, please let me know if anything is missing:
1)  For checking performance benefit from LTO optimization I'm going to run [gluster-performance-test-suite](https://github.com/glust

[2020-10-21 12:01] mykaul opened #1683 "STACK_WIND / STACK_WIND_TAIL / STACK_UNWIND should get 'this' as a variable and avoid calling 'THIS'"
In all cases I've looked at, 'this' is somehow available, and there's no need to call 'THIS'.
I think that should reduce nicely the number of calls we do to 'THIS' overall.

The real challenge is that this macro is called gozillion number of times across the code, so we'll have to do clever search and replace...
(The other challenge is that some calls actually assume 'this' could be NULL - I highl

[2020-10-21 13:26] kalebskeithley commented on #1465
Fedora-32 and later has gcc-10.  Fedora-33 is the first version that requires the use of LTO for all the various bundled packages, e.g. glusterfs, ceph, etc. By extension it is presumed that RHEL9 will require the use of LTO for downstream/product packages. (Also, gcc-11 is coming soon, in Fedora Rawhide/34 and Fedora Enterprise Linux Next (ELN) which will be the basis for RHEL9.)

If someone want

[2020-10-21 16:24] nik-redhat commented on #810
Can we target this for release-9 as well?
@mykaul @msaju

[2020-10-21 17:24] #1587 closed, assigned to kotreshhr

[2020-10-21 17:47] BarakSason opened #1684 "[RFE] Parallelization of FS traversal in Rebalance"
Creating this issue in order to differentiate enhancement work of rebalance from Global Layout efforts.
The key element here is that the GL initiative open the door for multiple enhancements for rebalance, however these activities are NOT an integral part of GL, so IMO it better to separate the work (but in the same time remembering that all that is discussed is discussed in GL context).

Currentl

[2020-10-21 17:54] BarakSason opened #1685 "[RFE] Implement Global Layout in Rebalance"
Creating this issue as a sub-task of https://github.com/gluster/glusterfs/issues/1433 in order to better track efforts on each individual sub-task.

The purpose of this task is to modify Rebalance to operate in a global layout environment (where a layout doesn't exist per-directory, but only on the root-dir level).
Currently, rebalance decides whether or not a file needs to be migrated based on co

[2020-10-21 17:57] BarakSason commented on #1433
As work related to this issue is significant and in order to better split the work into sub-tasks, the following issues and PRs have been created:
https://github.com/gluster/glusterfs/issues/1685 and corresponding PR https://github.com/gluster/glusterfs/pull/1687
https://github.com/gluster/glusterfs/issues/1684 and corresponding PR https://github.com/gluster/glusterfs/pull/1688
https://github.com/

[2020-10-21 19:12] TidyH commented on #1463
[glusterdump-8682-dump-1603292560.txt](https://github.com/gluster/glusterfs/files/5418241/glusterdump-8682-dump-1603292560.txt)
Here is the first one i've done. Would oyu like the same dump from the same server everyday? or should i package them for the end of the week or something like that?

[2020-10-21 19:53] itzonban opened #1686 "mount-shared-storage.sh issue with systemd-automount"
**Description of problem:**

The script **mount-shared-storage.sh** declares a volume always as mounted if the volume is set up with the option **x-systemd.automount**, so it is not mounted after the execution of the script.

**The exact command to reproduce the issue**:

_Set fstab like:_
`VOLUME /mountpoint glusterfs defaults,x-systemd-automount 0 0`

_Command_
`/usr/libexec/glusterfs/mount-shar

[2020-10-21 20:26] BarakSason commented on #1618
The work related to this issue will be performed as part of the work on https://github.com/gluster/glusterfs/issues/1660, thus closing this issue.

[2020-10-21 20:26] #1618 closed, assigned to nobody

[2020-10-21 22:11] gluster-ant commented on #1684
A patch None has been posted that references this issue.

DHT - Parallelization of FS traversal in Rebalance

This patch is an add-on on top of the patch which implements
a Global Layout environment in rebalance:
https://github.com/gluster/glusterfs/pull/1687

The reason that this patch has to be dependent on the previous one is
that parallelization of rebalance process in the per-directory model

[2020-10-22 05:04] pranithk commented on #1463
@TidyH We need at least 2 statedumps of same process to find what data structure memory is increasing.

[2020-10-22 05:07] pranithk commented on #1686
@thotz Adding Jiffin

[2020-10-22 05:21] aravindavk commented on #1541
Without running start force, is Geo-rep able to start the worker related to the new brick?(Can confirm by running Geo-rep status). Also check the missing files exists in the new brick(master brick backend) added as part of rebalance start.

[2020-10-22 05:47] ianandhum commented on #1541
Yes I guess so. `/home/sas/gluster/data/vol-rebalance-009_sv03 ` is the new brick. It was auto discoverd by geo-rep after add-brick/rebalance operation.

**Geo-rep status:**
<details>

[code]

</details>

Yes. Every missing file exists in the new sub-volume as an empty file with dht-linkto xattribute attached to it.

<details>

[code]

[code]

</details>

[2020-10-22 05:48] mykaul commented on #810
Anything that is now merged onto 'devel' branch, could and should get automatically into release 9.

[2020-10-22 06:38] pranithk commented on #1637
lk-owner with 1k is brought in for supporting NLM as per the comment. I just found that glfs_fd_set_lkowner() api accepts lkowner as big as 255 (GFAPI_MAX_LOCK_OWNER_LEN). So we can't change this without breaking existing applications which use this.

[2020-10-22 06:52] mykaul commented on #1637
We can change it by making it dynamically allocated if it's larger than the usual 8 bytes. We do it elsewhere in groups, for example.

[2020-10-22 07:35] #1543 closed

[2020-10-22 07:37] #1526 closed

[2020-10-22 09:21] #836 closed

[2020-10-22 09:46] mykaul commented on #1637
BTW, in XDR (struct gf_proto_flock) it's already defined as a pointer:
[code]
So we can clearly do it (and remember to free when needed...)

[2020-10-22 10:40] perrynzhou commented on #1674
@msaju  thank you very much

[2020-10-22 10:57] #1674 closed, assigned to nobody

[2020-10-22 11:34] mykaul commented on #337
@amarts - I've happened to look at the dict_to_xdr() and suddenly realized I don't understand why we do this conversion of gfx_value_u <-> data_t.

Why not keep the format and not perform the conversion, just add the reference count, is_static and such? data_pair_t and gfx_dict_pair are also close relatives...

We can change the *implementation* in dict.c not to do internally the conversion, thus

[2020-10-22 11:41] dmantipov opened #1692 "Test tests/basic/0symbol-check.t should exclude more contrib/fuse-lib objects"
Test tests/basic/0symbol-check.t should exclude more contrib/fuse-lib objects to avoid silly breakage like this:

./contrib/fuse-lib/mount-common.o should call sys_access, not access
./contrib/fuse-lib/mount-common.o should call sys_lstat, not lstat
./contrib/fuse-lib/mount-common.o should call sys_rmdir, not rmdir
./contrib/fuse-lib/.libs/mount.o should call sys_close, not close
./contrib/fuse-li

[2020-10-22 11:45] apollo13 opened #1693 "glusterfs fails with exit code 0 if the subvolume cannot be found."
**Description of problem:**

`glusterfs` should set proper exit codes when it cannot mount a volume.

**The exact command to reproduce the issue**:

[code]
In debug mode we see:
[code]

Glusterfs correctly detects that the submount is not there but fails to propagate the error upwards.

**- The operating system / glusterfs version**:
[code]

[2020-10-22 12:33] BarakSason commented on #1138
This work will be performed as part of https://github.com/gluster/glusterfs/issues/1684

[2020-10-22 12:33] #1138 closed

[2020-10-22 12:39] BarakSason opened #1695 "Rebalance has a redundant lookup operation"
During the course of the execution of `gf_defrag_fix_layout`, 2 lookup operation are being performed, however one of the is not needed.

[2020-10-22 13:22] TidyH commented on #1463
Here is the second dump from the same server. I did notice it had a different PID and wasn't active until i did a `cd` to the mount. Would using autoFS change anything about this statedump processes?
[Uploading glusterdump-3443-dump-1603372404.txt…]()

[2020-10-22 13:43] pranithk commented on #1463
If it has different pid, it must have been restarted? We can't compare statedumps of two different pids. Do you think there was an OOM kill and automatic remount or something?

[2020-10-22 14:17] TidyH commented on #1463
system has an uptime of 1 day, so it must have been rebooted sometime after i did the statedump. I will also remove the mount from autofs because i just rechecked and the mount pid was gone and i needed to cd the directory to generate a new mount pid.

[2020-10-22 14:26] aravindavk commented on #1693
I think `glusterfs` returns success if it is able to download the Volfile from Glusterd and if Volfile is valid. All the other failures can't be predicted by `glusterfs` command if it exits early. Try with `-N` option and check the return code if it exits.

[2020-10-22 14:35] apollo13 commented on #1693
With `-N` it returns `15`, same for `--debug`.

oh so `glusterfs` already exited at this point? but what would be generating the rest of the output then?

[2020-10-22 14:41] aravindavk commented on #1693
CLI exits after the server part is demonised(When `-N` is not used).

[2020-10-22 14:43] apollo13 commented on #1693
But the debug logs I have shown are from the CLI… So doesn't that mean it would know that there are issues? I also find it kinda weird that in the logs fuse has a status of 0 (assuming that means okay):

[2020-10-22 14:45] apollo13 commented on #1693
Is there any mount command that would return proper error codes? like invoking fuse mounts directly or so?

[2020-10-22 14:59] msaju commented on #1465
Status update on the Gluster 9.0 major release items as of today is as follows:

Development Complete: #1670 , #1398 , #1621 .

* [ ]  io_uring support for Gluster: #1398 **IN PROGRESS**
* [x]  Rename Dir heal: #1211 **COMPLETE**
* [ ]  Read-dir performance improvement:  #117 **IN PROGRESS**
* [ ]  Compile with LTO/GCC 10: **IN PROGRESS**
* [x]  Monitor the performance in epoll/rpc layer: #1466 **

[2020-10-22 16:32] #831 closed

[2020-10-22 16:43] TidyH commented on #1463
We are discussing moving to gluster 8, do you think this would help?

[2020-10-22 17:03] TidyH commented on #1463
Also, while learning how to do the upgrades i've found we are operating under version:  gluster volume get espa-distrib cluster.op-version = 30800. The max supported version is set to: gluster volume get all cluster.max-op-version = 60000. Should i up the operating version first to see if that makes a difference?

[2020-10-23 00:10] Bockeman opened #1699 "One brick offline with signal received: 11"
**Description of problem:**
One brick on one server is offline and all attempts to bring it back online have failed.
The corresponding brick on the other (of a replica 2) server is ok.  Other bricks are ok.

The following do **not** clear the problem:

- reboot
- gluster volume start gluvol1
- gluster volume reset-brick gluvol1 verijolt:/srv/brick06 verijolt:/srv/brick06 commit force

_The problem

[2020-10-23 01:17] pranithk commented on #1463
Sure go ahead

[2020-10-23 03:18] timchenxiaoyu commented on #1437
same err in glusterfs 7.5

[2020-10-23 07:16] vh05 opened #1701 "Improve shard_inode_ctx_update() function"
shard_inode_ctx_update() takes the inode lock and releases for 4 times inside a same function.
This can be improved by updating the ctx holding the lock once.

[code]
**- The operating system / glusterfs version**:
gluster devel

[2020-10-23 07:23] vh05 opened #1702 "Move GF_CLIENT_PID_GSYNCD check to start of the function."
When the root->pid is GF_CLIENT_PID_GSYNCD, then just skip calling any shard functions and wind the call. It is trivial processing in this case.

[code]

**- The operating system / glusterfs version**:
gluster devel

[2020-10-23 07:32] vh05 opened #1703 "Remove trivial check for GF_XATTR_SHARD_FILE_SIZE before calling shard_modify_size_and_block_count()"
The caller to shard_modify_size_and_block_count() need not to check GF_XATTR_SHARD_FILE_SIZE before calling shard_modify_size_and_block_count() as the same check is done inside shard_modify_size_and_block_count()

[code]
**- The operating system / glusterfs version**:
gluster devel

[2020-10-23 09:32] itzonban commented on #1531
I have a similar issue on Debian 10 / Gluster 8.2.3.

I also have a replica 2 without arbiter (I know I shouldn't, but since write processes are always limited to one node it happens very very rarely that there is a split brain situation).

Unfortunately it is not easy to reproduce. But sometimes, when I restart Node 2 (the machine not the service) the gluster brick on Node 1 disconnects (N/A). It

[2020-10-23 09:57] #838 closed

[2020-10-23 11:00] pranithk opened #1704 "Do we need to set lkowner in gfapi lock calls"
@soumyakoduri @thotz Have a doubt about lock calls through gfapi. I recently wrote a patch to assert for null lkowner in inodelk/entrylk/lk calls. I am seeing that quite a few gfapi .ts are hitting the assert failure. I am wondering if there is some detail I am missing. There is an api called glfs_fd_set_lkowner() but in the .ts it is not being used. Is it allowed to call the lock apis without lko

[2020-10-23 12:03] Bockeman commented on #1699
**Urgent problem no longer an issue**
I repeated the volume stop/start again today, and, voila, brick06 on server verijolt came back online.
<details>

[code]

</details>

I don't understand this.  My history shows that I did the stop, on this server, yesterday:

[code]

So what got fixed?  Why did the repeat today change things when yesterday it had no effect?

**There's still something wrong**
O

[2020-10-23 12:19] mohit84 commented on #1699
As you mentioned brick06 was crashed that's why gluster cli was showing status N/A.
After start the volume it is expected brick status is showing correctly by CLI.
Can you please brick core with gdb and share the output "thread apply all bt full"

[2020-10-23 12:28] Bockeman commented on #1699
**Some more info**
Just to see if the immediate problem had been fixed by the volume stop/start, I looked at the brick log again.
The tail of `/var/log/glusterfs/bricks/srv-brick06.log` is shown in the details below.  Notice the timestamp is after the start (as logged in details of prior comment) and that the log appears to have been truncated.
<details>

[code]

</details>

[2020-10-23 12:29] mohit84 commented on #1699
It seems the brick process is crashed again. Can you attached a core with gdb and share the output "thread apply all bt full" ?

[2020-10-23 12:47] Bockeman commented on #1699
@mohit84 thanks for picking this up.

I understand that the CLI status for brick06 on server verijolt is showing "N" under "online" when the brick has crashed.

At the moment, brick06 on verijolt is showing "Y" despite the truncated brick log showing a potential crash (signal received: 11).
However, verijolt is now working flat out (100% on 4 CPUs) attempting to recover, I assume.

The tail of `/v

[2020-10-23 12:53] mohit84 commented on #1699
Is CLI showing some different pid other than brick_pid that was crashed?
Can you check the pid status in ps -aef | grep <brick_pid_showing_by_CLI>
Please share the dump of /var/log/glusterfs from all the nodes.

[2020-10-23 13:05] Bockeman commented on #1699
@mohit84 Please could you give me a bit more help in running debugger etc., it's been a while since I last did that.

could you tell me the commands to use.

[2020-10-23 13:07] Bockeman commented on #1699
[code]

[2020-10-23 13:09] #957 closed

[2020-10-23 13:09] #958 closed

[2020-10-23 13:09] #960 closed

[2020-10-23 13:09] #961 closed

[2020-10-23 13:09] #963 closed

[2020-10-23 13:09] #962 closed

[2020-10-23 13:09] #965 closed

[2020-10-23 13:09] #966 closed

[2020-10-23 13:09] #967 closed

[2020-10-23 13:09] #968 closed

[2020-10-23 13:09] #970 closed

[2020-10-23 13:09] #969 closed

[2020-10-23 13:09] #971 closed

[2020-10-23 13:09] #972 closed

[2020-10-23 13:09] #973 closed

[2020-10-23 13:09] #974 closed

[2020-10-23 13:09] #975 closed

[2020-10-23 13:09] #976 closed

[2020-10-23 13:10] #978 closed

[2020-10-23 13:10] #979 closed

[2020-10-23 13:10] #980 closed

[2020-10-23 13:10] #981 closed

[2020-10-23 13:10] #984 closed

[2020-10-23 13:10] #983 closed

[2020-10-23 13:10] #986 closed

[2020-10-23 13:10] #988 closed

[2020-10-23 13:10] #987 closed

[2020-10-23 13:10] #989 closed

[2020-10-23 13:10] #992 closed

[2020-10-23 13:10] mohit84 commented on #1699
It means brick is running , the pid(53399) is same showing by CLI, right.

Before attach a core with gdb please install debug package of glusterfs.
1) gdb /usr/sbin/glusterfsd -c <brick_core>
2) Run thread apply all bt full and share the output.

[2020-10-23 13:13] Bockeman commented on #1699
I'm not sure what you mean by **dump** and **all the nodes**.  This directory is large (~11GB) as this `du` shows:

[code]

[2020-10-23 13:16] mohit84 commented on #1699
for now you can share glusterd.log and brick logs from all the nodes.

[2020-10-23 13:28] Bockeman commented on #1699
Agreed, it looks as though the brick process is running, but I don't think this brick is in a working state.
It should be being healed, but the pending count is **not** going down.

[code]

Script used to collate healing status
<details>

[code]

</details>

[2020-10-23 13:32] Bockeman commented on #1699
On fedora, I installed `-devel` versions, assuming that is what you meant be debug package
`dnf install -y glusterfs-api-devel glusterfs-devel`

where is the `<brick_core>` located?

[2020-10-23 13:42] mohit84 commented on #1699
The core is saved the location configured at /proc/sys/kernel/core_pattern, you need to ti install glusterfs-debuginfo package.

[2020-10-23 13:48] Bockeman commented on #1699
[glusterd.log](https://github.com/gluster/glusterfs/files/5429798/glusterd.log)

[2020-10-23 13:53] Bockeman commented on #1699
[code]

[code]

[2020-10-23 14:00] mohit84 commented on #1699
cat /proc/sys/kernel/core_pattern

[2020-10-23 14:04] Bockeman commented on #1699
The full logs exceed the 10MB limit, so I pruned them a bit.

[srv-brick05_201023.log](https://github.com/gluster/glusterfs/files/5429919/srv-brick05_201023.log)
[srv-brick06_201023.log](https://github.com/gluster/glusterfs/files/5429921/srv-brick06_201023.log)
[srv-brick07_201023.log](https://github.com/gluster/glusterfs/files/5429925/srv-brick07_201023.log)

[2020-10-23 14:08] Bockeman commented on #1699
[code]

[code]

The date on this file does not correspond to yesterdays brick crash.

[2020-10-23 14:14] mohit84 commented on #1699
Below are the latest brick logs for brick06, i am not seeing any issue in brick logs.

[2020-10-23 11:44:20.574310] I [MSGID: 100030] [glusterfsd.c:2865:main] 0-/usr/sbin/glusterfsd: Started running /usr/sbin/glusterfsd version 7.8 (args: /usr/sbin/glusterfsd -s verijolt --volfile-id gluvol1.verijolt.srv-brick06 -p /var/run/gluster/vols/gluvol1/verijolt-srv-brick06.pid -S /var/run/gluster/e81ffbef

[2020-10-23 14:16] Bockeman commented on #1699
@mohit84 thanks for continuing to try and help me out here.
There are two things:

1. understanding what has happened and getting information to identify the **bug**
2. get my gluster system back to a working state _(it is holding up at the moment using brick06 (10TB) on veriicon, but I have no resilience, I do not have a full backup for all this data -- I had been relying on gluster to avoid that

[2020-10-23 14:25] Bockeman commented on #1699
My fault.  These log files are too big for 10MB limit for pasting into this ticket.  I stripped by date, not realising the crash dumps are not prefixed by date

[code]

I'll see if I can attach a more complete tail of that log file.

[2020-10-23 14:32] Bockeman commented on #1699
[srv-brick06_201023.log](https://github.com/gluster/glusterfs/files/5430049/srv-brick06_201023.log)

Can you explain why brick06 appears to be online, yet this log shows it has crashed?
Any suggestions for moving this to a working state?

[2020-10-23 14:38] Bockeman commented on #1699
[glfsheal-gluvol1.log](https://github.com/gluster/glusterfs/files/5430112/glfsheal-gluvol1.log)
[glustershd_201023.log](https://github.com/gluster/glusterfs/files/5430084/glustershd_201023.log)

[2020-10-23 15:07] xhernandez commented on #1699
You need to run this to install the debug information (assuming you are running latest version):

[code]

[2020-10-23 15:58] #1037 closed

[2020-10-23 15:58] #1039 closed

[2020-10-23 15:58] #1040 closed

[2020-10-23 15:58] #1041 closed

[2020-10-23 15:58] #1045 closed

[2020-10-23 15:58] #1048 closed

[2020-10-23 15:59] #1051 closed

[2020-10-23 15:59] #1053 closed

[2020-10-23 15:59] #1054 closed

[2020-10-23 15:59] #1055 closed

[2020-10-23 15:59] #1057 closed

[2020-10-23 15:59] #1058 closed

[2020-10-23 15:59] #1056 closed

[2020-10-23 15:59] #1064 closed

[2020-10-23 15:59] #1059 closed

[2020-10-23 15:59] #1062 closed

[2020-10-23 15:59] #1065 closed

[2020-10-23 15:59] #1066 closed

[2020-10-23 15:59] #1068 closed

[2020-10-23 15:59] #1069 closed

[2020-10-23 15:59] #1070 closed

[2020-10-23 15:59] #1071 closed

[2020-10-23 15:59] #1073 closed

[2020-10-23 15:59] #1074 closed

[2020-10-23 15:59] #1078 closed

[2020-10-23 15:59] #1079 closed

[2020-10-23 15:59] #1084 closed

[2020-10-23 16:03] Bockeman commented on #1699
I had to do a load of installs:
[code]
I think a found the core dump
<details>
[code]
</details>

I then ran
[code]
giving the following on screen output
<details>

[code]
</details>

where I entered
`thread apply all bt full`

giving
[gdb_glusterfsd_gluvol1_verijolt_srv-brick06.log](https://github.com/gluster/glusterfs/files/5430560/gdb_glusterfsd_gluvol1_verijolt_srv-brick06.log)

[2020-10-23 16:12] Bockeman commented on #1699
Thanks @mohit84 and @xhernandez
I hope someone can make sense of the coredump info from gdb.

**Meanwhile, does anyone have any suggestions for nudging my brick06 back into life?**
(_The HDD itself looks fine, no SMART errors, and disk usage looks comparable with the working brick06 on veriicon_:
<details>
[code]
</details>
)

[2020-10-23 16:15] mohit84 commented on #1699
Hi,
Thanks for sharing the coredump. It seems the file is having huge xattr on backend that's why size is showing 263507(257k) and the function calls in iot_worker thread, iot_worker thread stack size is 256k that's why a brick process is crashed.

Any idea why you did create so many xattrs on the backend ?

[code]

[2020-10-23 16:46] Bockeman commented on #1699
A 12TB RAID5 box died (either/both controller and power supply), but the 5 HDD's are ok.  I am painstakingly restoring the data from the HDDs onto a gluster volume.  I am confident that I am getting this right because of good parity across the HDDs and consistent checksums on a file by file basis.  The data on this box was an rsnapshot backup so it contains a lot of hard links.
I have got to the s

[2020-10-23 17:26] xhernandez commented on #1413
@idumlija what's the memory consumption ? can you provide a statedump of the process with high memory consumption ?

[2020-10-23 17:49] xhernandez commented on #1699
The fastest way I see to fix this is to identify the file that has so many extended attributes and remove/clear them.

To do that, inside gdb, can you execute this:

    x/16bx loc->gfid

This will return 16 hexadecimal numbers, like this:

    0x7f24df07b034: 0xXX    0xYY    0x--    0x--    0x--    0x--    0x--    0x--
    0x7f24df07b03c: 0x--    0x--    0x--    0x--    0x--    0x--    0x--    0x

[2020-10-23 18:42] #998 closed

[2020-10-23 18:42] #1003 closed

[2020-10-23 18:42] #1005 closed

[2020-10-23 18:42] #1006 closed

[2020-10-23 18:42] #1007 closed

[2020-10-23 18:42] #1008 closed

[2020-10-23 18:42] #1010 closed

[2020-10-23 18:42] #1012 closed

[2020-10-23 18:42] #1013 closed

[2020-10-23 18:42] #1014 closed

[2020-10-23 18:42] #1015 closed

[2020-10-23 18:42] #1017 closed

[2020-10-23 18:42] #1018 closed

[2020-10-23 18:42] #1020 closed

[2020-10-23 18:42] #1022 closed

[2020-10-23 18:42] #1023 closed

[2020-10-23 18:42] #1024 closed

[2020-10-23 18:42] #1025 closed

[2020-10-23 18:43] #1026 closed

[2020-10-23 18:43] #1027 closed

[2020-10-23 18:43] #1029 closed

[2020-10-23 18:43] #1033 closed

[2020-10-23 18:43] #1034 closed

[2020-10-23 18:43] #1035 closed

[2020-10-23 18:43] #1086 closed

[2020-10-23 18:43] #1087 closed

[2020-10-23 18:43] #1090 closed

[2020-10-23 18:43] #1089 closed

[2020-10-23 18:43] #1091 closed

[2020-10-23 18:43] #1093 closed

[2020-10-23 20:32] #929 closed

[2020-10-23 20:32] #931 closed

[2020-10-23 20:32] #930 closed

[2020-10-23 20:32] #932 closed

[2020-10-23 20:32] #933 closed

[2020-10-23 20:32] #934 closed

[2020-10-23 20:32] #935 closed

[2020-10-23 20:32] #936 closed

[2020-10-23 20:32] #937 closed

[2020-10-23 20:32] #938 closed

[2020-10-23 20:32] #942 closed

[2020-10-23 20:32] #941 closed

[2020-10-23 20:32] #940 closed

[2020-10-23 20:32] #939 closed

[2020-10-23 20:32] #943 closed

[2020-10-23 20:32] #944 closed

[2020-10-23 20:32] #946 closed

[2020-10-23 20:32] #947 closed

[2020-10-23 20:32] #948 closed

[2020-10-23 20:32] #949 closed

[2020-10-23 20:32] #953 closed

[2020-10-23 20:32] #951 closed

[2020-10-23 20:32] #994 closed

[2020-10-23 20:33] #954 closed

[2020-10-23 20:33] #955 closed

[2020-10-23 20:33] #956 closed

[2020-10-23 20:33] #995 closed

[2020-10-23 20:33] #996 closed

[2020-10-23 20:33] #997 closed

[2020-10-23 20:35] Bockeman commented on #1699
@xhernandez, very clear instructions, thank you.

[code]
My interpretation of this response "Argument list too long", is not that the argument list passed to getfattr is too long, but rather that the number of attributes, or something similar, is too long for getfattr to understand.

The response from a random other file in this directory appears fine
[code]

I see that "Argument list too long" is

[2020-10-23 21:25] xhernandez commented on #1699
I see that the file has 70 hardlinks. Gluster keeps special xattrs per hardlink, but they don't use so much space.

If you are using XFS for the bricks, can you execute this command ?

    xfs_db -r $(df /srv/brick06/ | awk '{ print $1; }' | tail -1) -c "inode $(ls -i /srv/brick06/.glusterfs/eb/c3/ebc31332-4198-488e-baca-b59b291fbdd7 | awk '{ print $1; }')" -c "p" -c "ablock 0" -c "p" -c "btdump"

[2020-10-23 21:42] xhernandez commented on #1699
For now the only way to prevent a crash is to remove that file (assuming there aren't other files in the same condition), but to do so you will also need to identify and delete all hardlinks.

You can do that using this command:

    find /srv/brick06/ -inum $(ls -i /srv/brick06/.glusterfs/eb/c3/ebc31332-4198-488e-baca-b59b291fbdd7 | awk '{ print $1; }')

Once listed, verify that the file is healt

[2020-10-23 22:22] Bockeman commented on #1699
@xhernandez thanks for your continued support.

I use btrfs rather than xfs.

I have a more pressing problem right now: files are going missing from the gluster view.  This is the HA disaster that I thought gluster would avoid.  Panic!

I need to take some drastic steps, like shutting down one of the servers, but I don't know how to handle this situation.  Grrr.

[2020-10-23 22:45] #856 closed

[2020-10-23 22:45] #857 closed

[2020-10-23 22:45] #858 closed

[2020-10-23 22:45] #859 closed

[2020-10-23 22:45] #860 closed

[2020-10-23 22:45] #862 closed

[2020-10-23 22:45] #863 closed

[2020-10-23 22:45] #864 closed

[2020-10-23 22:45] #865 closed

[2020-10-23 22:45] #866 closed

[2020-10-23 22:45] #867 closed

[2020-10-23 22:45] #869 closed

[2020-10-23 22:45] #870 closed

[2020-10-23 22:45] #871 closed

[2020-10-23 22:45] #872 closed

[2020-10-23 22:45] #878 closed

[2020-10-23 22:45] #879 closed

[2020-10-23 22:45] #880 closed

[2020-10-23 22:45] #881 closed

[2020-10-23 22:45] #882 closed

[2020-10-23 22:45] #883 closed

[2020-10-23 22:45] #885 closed

[2020-10-23 22:45] #887 closed

[2020-10-23 22:45] #888 closed

[2020-10-23 22:45] #889 closed

[2020-10-23 22:45] #891 closed

[2020-10-23 22:45] #892 closed

[2020-10-23 22:45] #893 closed

[2020-10-23 22:45] #894 closed

[2020-10-23 22:45] #895 closed

[2020-10-24 00:57] #839 closed

[2020-10-24 00:57] #840 closed

[2020-10-24 00:57] #841 closed

[2020-10-24 00:57] #842 closed

[2020-10-24 00:57] #844 closed

[2020-10-24 00:58] #846 closed

[2020-10-24 00:58] #848 closed

[2020-10-24 00:58] #849 closed

[2020-10-24 00:58] #850 closed

[2020-10-24 00:58] #851 closed

[2020-10-24 00:58] #852 closed

[2020-10-24 00:58] #853 closed

[2020-10-24 00:58] #854 closed

[2020-10-24 00:58] #896 closed

[2020-10-24 00:58] #897 closed

[2020-10-24 00:58] #898 closed

[2020-10-24 00:58] #899 closed

[2020-10-24 00:58] #900 closed

[2020-10-24 00:58] #901 closed

[2020-10-24 00:58] #903 closed

[2020-10-24 00:58] #902 closed

[2020-10-24 00:58] #905 closed

[2020-10-24 00:58] #907 closed

[2020-10-24 00:58] #911 closed

[2020-10-24 00:58] #915 closed

[2020-10-24 00:58] #912 closed

[2020-10-24 00:58] #914 closed

[2020-10-24 00:58] #916 closed

[2020-10-24 00:58] #917 closed

[2020-10-24 01:57] #918 closed

[2020-10-24 01:57] #919 closed

[2020-10-24 01:57] #920 closed

[2020-10-24 01:57] #921 closed

[2020-10-24 01:57] #922 closed

[2020-10-24 01:57] #923 closed

[2020-10-24 01:57] #925 closed

[2020-10-24 01:57] #924 closed

[2020-10-24 01:57] #926 closed

[2020-10-24 01:57] #927 closed

[2020-10-24 01:57] #928 closed

[2020-10-24 07:16] #1099 closed

[2020-10-24 07:16] #1100 closed

[2020-10-24 13:11] pranithk opened #1706 "dht: hash-mod vs hash-jump-consistent results"
Just want to share results of some experiments I did:
I added the attached patch and this is what I observed for the amount of data that is migrated with each addition of subvolume till 10 subvolumes:

In the root directory added 10000 files with 1kb size to do the test:

Data migrated
Hash-mod based migration:
Migrated 4929 / 10000 files [49.29%] - 1 -> 2
Migrated 3228 / 10000 files [32.28%] - 2

[2020-10-24 13:20] #861 closed

[2020-10-24 13:38] pranithk commented on #1706
Want to clarify a bit here. Jump consistent hash works really well for volumes that are expanding. For shrinking, one should always remove-brick from the last subvolume for better performance.

[2020-10-24 14:47] Bockeman commented on #1699
My gluster system has not been at all happy.  It looks like files are going missing (as viewed from a client).  Consequently clients crashed, locked up, or exhibited undesirable behaviour.  All my notes, journalling, scripts etc., are held on gluster, so when gluster goes down things get very difficult.

Fortunately, `gluster volume start gluvol1 force` has been enough to get some sort of normalit

[2020-10-24 15:01] Bockeman commented on #1699
Failure on veriicon brick06
<details>

[code]

</details>

[gdb_ccpp-2020-10-23-23-00-55.980775-2355276.log](https://github.com/gluster/glusterfs/files/5433052/gdb_ccpp-2020-10-23-23-00-55.980775-2355276.log)

[2020-10-24 15:10] Bockeman commented on #1699
Failure on verijolt brick06
<details>

[code]

</details>

[gdb_ccpp-2020-10-24-12-47-44.957908-93297.log](https://github.com/gluster/glusterfs/files/5433065/gdb_ccpp-2020-10-24-12-47-44.957908-93297.log)

[2020-10-24 15:34] pranithk commented on #1706
While it is definitely better than the existing layout management in DHT, we should still try to come up with a solution that avoids the full filesystem scan.

[2020-10-24 22:41] xhernandez commented on #1706
It really seems a very interesting way to distribute data.

The function used for Jump Consistent Hash is reversible. This means that if we have N nodes and we are given the last `b` (which basically maps to the node number that contains the file), we can compute the range of values of `key` that would generate N in the next iteration (meaning that the corresponding files would be migrated to the

[2020-10-25 00:50] nh2 commented on #910
That's not true, I posted...

Normal people cannot reopen issues, so I cannot. Whoever decided to use the stale bot could have considered how Github works first.

[2020-10-25 03:47] mohit84 commented on #1706
In case of arbitrary node removal the performance will be similar to existing hash, right.

[2020-10-25 07:04] pranithk commented on #1706
This is not something that is excessively tested. We have to do our own testing to find this out.

[2020-10-25 07:08] pranithk commented on #1706
Cool. Will be eagerly waiting for it. If you want me to research some methods, testing etc. Update here with what you want me to experiment with and I can get you the data.

[2020-10-25 09:13] mykaul opened #1707 "PL_LOCAL_GET_REQUESTS access the dictionary twice for the same information"
PL_LOCAL_GET_REQUESTS macro is calling pl_has_xdata_requests(), which checks if we have one of some entries in the dictionary. If we do, later on it calls pl_get_xdata_requests(), asking again for the same entries.
Instead, pl_has_xdata_requests() can return a bitfield with the items and it'll be passed to pl_get_xdata_requests() to process (5 of those items - we don't care what the value is - jus

[2020-10-25 13:35] perrynzhou opened #1708 "is has any plan to add metaserver to speed query file meta?"
### @xhernandez @amarts @BarakSason @mohit84 @tshacked @csabahenk @pranithk  Do you consider adding a metadata center? The current glusterfs meta cache will be synchronized every period of time, which will cause the cache and the server to fail to achieve real-time consistency. At the same time, the problem of small files is still stored, because when the small files exceed 1 billion, the executio

[2020-10-25 13:51] BarakSason commented on #1706
@pranithk First of all, these numbers look very good, and everything that reduces the number of files that are being migrated is welcomed.
In the last couple of days I've been testing things that are related to the layout as well, and I got somewhat different numbers.
I performed similar test to yours (expanding a 2 node volume to 3, 10,000 files on root) and the result was:
Edit: attached as doc

[2020-10-25 18:11] #909 closed

[2020-10-25 19:30] Bockeman commented on #1699
There are 70 hardlinks on the offending file:

[code]

Notice it took nearly 20 minutes to find them!

This "Argument list too long" response to getfattr is also present on the equivalent file on veriicon.

I elected to delete these 70 files on both servers.  I then went through a process of `gluster volume start gluvol1 force` and rebooting each server in turn.  I now have a working gluster syste

[2020-10-25 20:00] Bockeman commented on #1699
Would it be possible  summarise what went wrong that essentially made gluster unstable?

- Is there a set of preventative measures that could be adopted to prevent reoccurance?
- Are there more checks and safeguards that could/should be implemented in the code?
- Please could you suggest some steps that could be takeen to sanitse and discover things likely to cause failure including
    - files th

[2020-10-26 02:30] mohit84 commented on #1699
To prevent recurrence of an issue you can configure the option "storage.max-hardlinks" to least value sothat client wont be able to create a hardlink if limit has been crossed.

[2020-10-26 02:45] amarts commented on #1708
@perrynzhou can you experiment with https://github.com/gluster/glusterfs/tree/devel/xlators/features/metadisp/src for a separate metadata server?

There are some more efforts to handle 'ls' (ie, `readdir()`) better in glusterfs. may take some time before we have a better solution out.

[2020-10-26 03:15] weinux2020 commented on #1650
@pranithk Hi pranithk,This environment was servered for some prople, I can not change much config to debug, I created the brick
 by a sigle common logic volume,today I saw  the doc suggested use a thinpool lv to create the brick, Is that make high performence? Thanks.
https://docs.gluster.org/en/latest/Administrator%20Guide/formatting-and-mounting-bricks/

[2020-10-26 03:59] pranithk commented on #1650
I don't think it will help

[2020-10-26 04:33] amarts commented on #910
Not sure why stalebot didn't consider your comment! Will surely fix that part!

[2020-10-26 05:18] pranithk commented on #910
Thanks for the feedback. I will raise this in community meeting

[2020-10-26 06:53] hostingnuggets commented on #1332
@nik-redhat & @sanjurakonde: I have this after rebooting my arbiter node on GlusterFS 7.8. Since I rebooted that node the bricks won't come up. It seems that as soon as I start glusterd on that node the /var/lib/glusterd/vols/myvol-private/quota.cksum gets overwritten and hence has another cksum (0) as my two other nodes (66908910). I just wrote on the glusterfs-users mailing list about that. If y

[2020-10-26 07:53] nik-redhat commented on #1332
@hostingnuggets can you share the output of `gluster volume get all cluster.op-version` and ` gluster volume get all cluster.max-op-version`?

[2020-10-26 07:56] amarts commented on #1699
Should we have a default value for this option? Say 42 (ie, a sane random). That way, we can prevent a bad experience which Bockerman got into by prompting an error to application much earlier. After that, they can decide if the value needs to be increased or not depending on their usecase.

My suggestion is however restrictive, we should keep default options which prevents any borderline issues l

[2020-10-26 08:03] hostingnuggets commented on #1332
@nik-redhat sure, here would be the output take from my first node:

[code]

[2020-10-26 08:05] pranithk commented on #1699
Won't that make the application unusable on glusterfs?

[2020-10-26 08:07] nik-redhat commented on #1332
So, did you change the cluster version after upgrading the node?
If so, try changing the cluster version back to the previous one from the CLI itself. If unsuccessful then do it in the `glusterd.info` file under the `/var/lib/glusterd` directory and then try rebooting the nodes.

[2020-10-26 08:09] xhernandez commented on #1699
I don't see the value of this option. If we set it to a lower value, the application creating hardlinks will fail. If the user increases the value (because they are actually creating more hardlinks) we'll have a crash. And even worse, self-heal is unable to heal those files because the size of the xattrs is too big.

What we need to do in this case is to disable gfid2path and any other feature tha

[2020-10-26 08:13] hostingnuggets commented on #1332
@nik-redhat I think there is a misunderstanding here as I haven't explained the full story in this issue, so I will try to explain better:

Last week-end, I have successfully upgraded my 3 nodes replica GlusterFS cluster from version 6.9 to 7.8. That went fine, no problems here with the checksum mismatch. So I was successfully running on GlusterFS 7.8 since 1 week on all 3 nodes.

Now, this mornin

[2020-10-26 08:18] nik-redhat commented on #1332
Okay, thanks for the clarification.
Can you confirm if the same error comes up if you restart any other node too? If that's the case I will have to look into the issue again and there is some corner case that is causing this issue.

[2020-10-26 08:23] mohit84 commented on #1699
The current default value is 100 and in xfs i have tried to create 100 hardlink i am not able to create more than 47 hard-link.After reaching the number of hardlink count is 47 setxattr throwing an error "No space left on device".

{.key = {"max-hardlinks"},
     .type = GF_OPTION_TYPE_INT,
     .min = 0,
     .default_value = "100",
     .op_version = {GD_OP_VERSION_4_0_0},
     .flags = OPT_FLAG

[2020-10-26 08:25] hostingnuggets commented on #1332
@nik-redhat I did not try to restart the glusterd service on any of the two other nodes yet because this is a production cluster. Before I do that can you confirm me that restarting the glusterd service on any of the two other nodes will not bring down my volume?

and shall I then just run the following command?

[code]

[2020-10-26 08:28] xhernandez commented on #1699
The segmentation fault happens because we use a stack allocated buffer to store the the contents of the xattrs. This is done in two steps: first we get the needed size, and then we allocate a buffer of that size to store the data. The problem happens because of the combination of 2 things:

1. The needed size is not checked for a maximum value, we allow any size.
2. The size of the stack is 256 Ki

[2020-10-26 08:29] nik-redhat commented on #1332
ok, don't do a restart give a day's time and I will look into this matter by tomorrow and get back to you with the steps to follow.
If my assumption is correct then it might hamper your prod cluster.
Just for a better study can you share the logs of the arbiter node from the moment you restarted the cluster to the moment it shows this log, it might help me in my debugging.

[2020-10-26 08:31] xhernandez commented on #1699
This is caused because you are using XFS and it limits the xattr size to 64KiB. It's not a limitation on the number of hardlinks. XFS and Gluster can create many more. But when we also add an xattr for each hardlink, the limit becomes the xattr size.

Apparently btrfs doesn't have a 64 KiB limit. That's why the issue has happened without detecting any error.

If the application needs to create 100

[2020-10-26 08:34] mohit84 commented on #1699
Thanks for clarifying it more.

[2020-10-26 08:34] hostingnuggets commented on #1332
Thank you very much for debugging this issue. It would be great if you can find a solution/workaround soon as the list of files to be healed is getting bigger and bigger.

I am happy to provide you any log files you need in order to help. Which log file exactly from the arbiter node would you like? would that be the `/var/log/glusterfs/glusterd.log` file? and at which e-mail address can I mail you

[2020-10-26 08:36] nik-redhat commented on #1332
Yeah, the logs from that file only.
You can mail the logs at `nladha@redhat.com`.

[2020-10-26 08:39] guol-fnst commented on #843
I encounter similar issues.
'gluster volume set parallel-readdir disable' command seems to solve this problem

[2020-10-26 08:43] hostingnuggets commented on #1332
Sent, thanks again for checking.

[2020-10-26 08:48] xhernandez commented on #1706
After thinking a bit on this, I don't find a perfect solution, but we could allow removal of intermediate subvolumes using the combination of two operations:

1. Remove the last subvolume
2. Replace the original subvolume to be removed with the newly removed subvolume.

This adds the cost of the second step, but it's still more efficient than our current approach. All other subvolumes remain unaff

[2020-10-26 08:52] nik-redhat commented on #1332
Sorry, @hostingnuggets but I didn't receive any mail from you. Can you please check again?

edit: Received!

[2020-10-26 09:56] BarakSason opened #1710 "Gluster does not make an effort to maximize layout overlap for root dir"
I came across this weird behavior while running some basic tests in order to test the GL changes.

When performing a fix-layout operation, Gluster should make an effort to maximize the overlap between the old layout and the new as much as possible, otherwise an excessively large number of files will be migrated

However, it appears that no such effort is made for the root dir - It appears that for

[2020-10-26 09:59] BarakSason commented on #1710
@amarts @xhernandez @mohit84 @pranithk @csabahenk @tshacked
Thoughts?

[2020-10-26 10:50] nik-redhat commented on #1332
@hostingnuggets can you try out this method and check if that works fine or not?
[code]
as mentioned in the gluster-users mailing list by Diego Zuccato.

[2020-10-26 12:45] hostingnuggets commented on #1332
@nik-redhat thanks for the workaround from Diego. First before I try this I would like you to confirm the following:

1) Is this the correct command to remove my arbiter brick?

[code]

2) Will this command have any impact of the availability of my volume(s)? I need to avoid downtime.

3) When re-adding the arbiter brick back to the problematic volume, will all metadata on the arbiter be re-create

[2020-10-26 14:10] TidyH commented on #1463
We moved to gluster 8 for the server and clients on thursday. I took a statedump from a server right after the move, friday and then today. Things were good over the weekend too so that bring some hope.
[glusterdump-36790.dump-1603401849-1603721078.txt](https://github.com/gluster/glusterfs/files/5439264/glusterdump-36790.dump-1603401849-1603721078.txt)
[glusterdump-36790-dump-1603401849-1603401849

[2020-10-26 15:45] Legogris commented on #876
I just added a new brick (zfs) to an existing replicated volume (other brick xfs) and during initial sync, getting this continuously in log:

[code]

gluster version 8.2

`5.8.0-3-amd64 #1 SMP Debian 5.8.14-1`

[2020-10-26 21:17] tshacked commented on #1710
This seems to be a fair request :-)

What're the values of "trusted.glusterfs.dht" on the root dir pre/post rebalance?
In rebalance code it seems that the same fix.layout path is invoked for root-dir or subdir (dht_fix_layout_of_directory)
but i didn't dive into this call so the diff handling might be there.

[2020-10-26 23:29] perrynzhou commented on #1708
@amarts  can you give me a design document for me? i need to unstand how that xlator works. after that ,we try that.

[2020-10-27 00:06] Bockeman commented on #1699
Much appreciate all comments above from @mohit84 @xhernandez @pranithk and @amarts.
I have been beset with issues, most of which are off topic, but including local disks filling up (e.g. with 10G bitd.log).
I intend to digest and respond to all comments.

[2020-10-27 05:58] pranithk commented on #1706
I was under the impression that dht does hash-mod, but it looks like it finds the range where the hash would fit in linearly in the layout. Anyways, I did a benchmark between this method, dht's search for range method. It prints the amount of time it would take to compute hash and figure out the subvolume for each method for 1 million files and 1000 subvolumes. Here are the results. Jump consisten

[2020-10-27 06:01] pranithk commented on #1706
@xhernandez I may get some time to do some more work in this regard for other hash functions you may want me to try out. Let me know. I will be happy to do the same work and provide comparisons.

[2020-10-27 06:12] mohit84 commented on #1706
The result is impressive.

[2020-10-27 06:23] pranithk commented on #876
Are you getting any application errors, or just the logs in the brick?

[2020-10-27 06:27] pranithk commented on #876
I think I understand what is happening. When a file is healed, the file is first created with root permissions. Until metadata heal happens if an open comes on the file it will hit this issue. @rafikc30 Could you also make the change in https://github.com/gluster/glusterfs/pull/1607 to create the file with the uid/gid of the source file like in your earlier patch? That will fix this problem/

[2020-10-27 06:46] hostingnuggets commented on #1332
@nik-redhat could you already find something?

I tried to remove the brick from the arbiter, then also to detach my arbiter node and probe it again but I still get the same checksum error message regarding quota. I have been mailing more details this morning in the glusterfs-users mailing list.

[2020-10-27 06:58] pranithk commented on #1706
No idea. Do you have a script which can recreate these results?

At the moment I am mostly doing exploration to see what would best solve problem 1.1 you mentioned. Nothing is final yet. But I do want us to have good data to pick something better than the current mechanism.

[2020-10-27 07:13] mykaul commented on #1706
Looking at the code (specifically, at dht_hash_compute() function), it is running a regexp under LOCK(&priv->lock) - which means it probably cannot process files as fast as you'd expect. I have no idea why a lock is needed. I assume to ensure priv->extra_regex_valid, priv->extra_regex, priv->rsync_regex_valid, priv->rsync_regex do not change in between? Doesn't make sense to me. I don't know if th

[2020-10-27 07:13] nik-redhat commented on #1332
@hostingnuggets yes, I have been checking the updates in the mailing list. Was on a holiday yesterday, and I am working on the issue, once I find something  I will update you with that.

So, after the detaching and probing again is the brick added successfully?
Can you please share the output of `gluster vol status` from all the nodes and also `gluster peer status` from all of them.

[2020-10-27 07:31] hostingnuggets commented on #1332
Thank you for your answer. Unfortunately after detaching and probing the arbiter node again I could not attach correctly the brick, I got the following error from the command (the full details are on the mailing list):

[code]

After that, I restarted glusterd on my arbiter node (node3) and it has again the checksum issue where this arbiter node gets rejected from all other nodes.

Sure, here is t

[2020-10-27 07:38] vh05 opened #1711 "features/shard xlator should be default configuration for gluster setup"
Sharding gives us the power to store a big file/vm on multiple bricks and opens up the way for parallel read and write access to the file. Though sharding has a rich set of benefits, the xlator is under utilized, and also we are not able to discover hidden issue what our shard xlator has. The default configuration to keep shard ON will open up the window to discover different possibilities and als

[2020-10-27 07:53] nik-redhat commented on #1332
Okay, so I get the issue here.
The thing is the way checksum is calculated differentiates a bit now and that's the reason the check for OP_VERSION was added. So, IIUC you must have updated the cluster.op-version after doing the upgrade from 60000 to 70200. And then you continued to use the cluster with the new op-version but with the previously calculated checksum values, but when you restarted th

[2020-10-27 07:53] BarakSason commented on #1706
Simplest way possible - 2-node distributed volume, on mountpoint `touch {1..10000}` expand to 3 nodes, trigger rebalance.
I've raised https://github.com/gluster/glusterfs/issues/1710 as a possible cause, but this still doesn't explain why do we see different results.
Could you take a look at this issue?

I assume the bucket model should solve this? It'll solve the inner migration problem, however

[2020-10-27 07:56] pranithk commented on #1706
Okay. I will do this when I get a chance. May take a while.

Didn't think too much about this part yet. First wanted to find out which hash algo is good for our case. Once that is finalized, thought we can think about the buckets if necessary.

[2020-10-27 08:14] hostingnuggets commented on #1332
That's correct, after upgrading all my nodes from GlusterFS 6.9 to 7.8, I have updated the cluster.op-version to 70200.

So you are saying here that all I need to do is to run the following command on my other two nodes (node1 and node2)?

[code]

and nothing else?

[code]

[2020-10-27 08:17] nik-redhat commented on #1332
Cool!

Yes, that would do.

Great!

In fact, the removal and addition of bricks wouldn't have been required. This would have done it.

[2020-10-27 09:18] hostingnuggets commented on #1332
Thanks for confirming. I will then restart the gluster daemon on both nodes later if possible outside of peek time because now my volumes are all replica 2 meaning that I have no more safe redundancy.

[2020-10-27 09:20] #1042 closed

[2020-10-27 09:26] schaffung commented on #1106
Looking into the issue, it seems like the requested information is still not provided. Closing this issue for now, it can be opened if required.

[2020-10-27 09:26] #1106 closed

[2020-10-27 09:27] schaffung commented on #1121
@darmac any update in the issue because this might go stale...

[2020-10-27 10:07] nik-redhat commented on #1332
Okay, @hostingnuggets please do confirm once everything is fine from your end. Will close the issue.

[2020-10-27 10:29] pranithk opened #1712 "Issue management and marking issues as stale"
I am raising this issue to capture discussion around the current procedure highlighted in https://github.com/gluster/glusterfs/issues/910#issuecomment-706451616

Here is the summary of the discussion in the community meeting:
1) Duration of inactivity to mark an issue stale is 210 days. It is proposed to reduce it to 60-90 days.
2) It is decided to mark the issue with specific labels to let the co

[2020-10-27 10:39] pranithk commented on #1529
/run regression

[2020-10-27 11:03] darmac commented on #1121
Sorry, there's no update yet... There are too much work todo now, I'll take a time to check it.

[2020-10-27 13:22] pranithk commented on #1711
@VHariharmath-rh At the moment shard xlator is supported for single writer usecase. To support multiple clients operating on the same file would need locking which is not implemented in sharding at the moment. That is the reason it is not on by default.

[2020-10-27 13:33] itisravi opened #1713 "Conscious language changes in various xlators"
**Description of problem:**
Remove offensive language/words in various xlators other than those related to geo-replication.

[2020-10-27 13:46] amarts commented on #1712
Thanks for raising the issue @pranithk. Here are my take on the issue:

--
Lets make stale bot complain about inactivity by developers on 30th day, and add a label "no-activity", instead of current "wontfix". Let the bot close issue after another 90 days!

We already have labels "pinned", and "security" which if set, stale bot doesn't bother checking the issue for staleness. We can add one more to

[2020-10-27 13:52] amarts commented on #1708
@perrynzhou please check #816  which has reference to RIO (#243 )  also has a test case https://github.com/gluster/glusterfs/blob/devel/tests/basic/metadisp/metadisp.t which gives an idea of the translator!

[2020-10-27 14:14] #1692 closed, assigned to nobody

[2020-10-27 16:09] Bockeman commented on #1699
@mohit84 wrote

More background info:
In addition to using gluster to provide HA SAN storage for a variety of purposes including cloud storage using Nextcloud, there was a requirement to move the contents from several years of rsnapshot onto one of the volumes.
- 11TB of disk usage
- 5,313,170 files
- 7,556,12 inodes
- maximum number of hardlinks: 9,774
    - why so many hardlinks?
    - All the d

[2020-10-27 16:40] Bockeman commented on #1699
@amarts wrote

I agree, my data set is unusual, and I do not mind having to set an option to override any default.
However, I would like to be assured, that whatever limits there are, they are handled gracefully such that the user/admin can make adjustments before the risk of any corruption.

@pranithk wrote

I'm not sure what "application" you are imagining.  Gluster is providing "storage", and i

[2020-10-27 17:13] #600 closed

[2020-10-27 19:56] Bockeman commented on #1699
@xhernandez Thanks for your detailed response.

Please could you tell me how to disable the gfid2path feature, I cannot find it in the documentation.

I disabled quota.

I deleted all 809 files that were causing the [Argument list too long] that self-healing could not handle.

I mean, files that exist on more than one brick _for a given server_.  Cases like this result in

[code]

Obviously, I do

[2020-10-28 02:33] #1653 closed, assigned to nobody

[2020-10-28 03:50] mohit84 commented on #1663
Introduce a coverity bug from previous patch so reopen a bug to resolve the same.

[2020-10-28 04:21] mohit84 commented on #1699
I don't believe the issue is only specific to hardlink. gluster populates a xattr per hardlink basis, unless we don't know about the xattr populated on the backend it is difficult to find the reason. As xavi asked earlier to share about the xatts but getfattr is failing due to throwing an error "Argument list too long" so it is difficult, i am not sure if btrsfs provide some tool to fetch this inf

[2020-10-28 06:12] pranithk commented on #1624
Since this xattr is not useful for single distribute volumes. Don't see a need to fix this problem for now. Closing it.

[2020-10-28 06:12] #1624 closed, assigned to pranithk

[2020-10-28 06:33] #1103 closed

[2020-10-28 06:33] #1109 closed

[2020-10-28 06:33] #1110 closed

[2020-10-28 06:33] #1111 closed

[2020-10-28 06:33] #1112 closed

[2020-10-28 06:33] #1115 closed

[2020-10-28 06:33] #1117 closed

[2020-10-28 06:33] #1119 closed

[2020-10-28 06:33] #1118 closed

[2020-10-28 11:06] hostingnuggets commented on #1332
@nik-redhat the workaround of restarting glusterd on the other nodes worked. I am now adding the arbiter bricks back again to all my volumes but I it seems that it will take a few days unfortunately...

Maybe this workaround should be documented in the upgrade guide for people upgrading from 6 to 7 and who use quota because it is quite an annoying issue as it gets you by surprise as soon as you re

[2020-10-28 11:17] nik-redhat commented on #1332
Thanks for the confirmation @hostingnuggets .
Good point on the documentation and I was already planning to do so, will have this documented soon so that this issue is not faced by anyone else in the future.

[2020-10-28 12:57] soumyakoduri commented on #1704
glfd_set_lkowner()) was added recently. Up until then, I think when lkowner  is not present, client pid is considered as lkowner (maybe in client xlator?). There is no provision to set lk owner in posix lock semantics and hence maybe it was not enforced in glfs_posix_lk() as well.

[2020-10-28 13:00] vh05 commented on #1711
Understood. I/We shall work towards that to enhance sharding for the multi-writer case.

[2020-10-28 15:28] #1061 closed

[2020-10-28 15:46] pranithk commented on #1704
@soumyakoduri Thank you. In that case I won't add any assert for lk.

@itisravi At the moment inodelk taken for mandatory lock and mandatory lock healing is not setting any lk-owner. I fixed it in the .t by setting an explicit lk-owner. https://github.com/gluster/glusterfs/pull/1581 has these changes. What are the semantics for this lock? Can mandatory lock be sent without lk-owner?

[2020-10-28 16:25] ianandhum commented on #1541
@aravindavk,  were you able to reproduce it?

[2020-10-28 16:53] pranithk commented on #1623
@BarakSason @tshacked @mohit84 @xhernandez I think I found the reason for slowness in fixed layout:

When new bricks are added to the volume. Accessing the directory hierarchy will lead to directory self-heal because of the missing directories. This involves INODELK/ENTRYLK to perform the heal and that will slowdown the access quite a bit. We fixed a similar issue in Replication https://bugzilla.r

[2020-10-28 16:58] pranithk commented on #1623
It is better to let fix-layout take care of this directory creation and creating the new layout. Mount shouldn't take these locks.

[2020-10-29 02:10] pranithk commented on #1143
@itisravi This issue is important to be fixed, especially with granualr entry heal coming in. If there is any corner issue where the entry is not marked for heal a normal lookup should pick majority than local child as source.

[2020-10-29 02:12] pranithk commented on #1113
It looks like the patch exists but is not taken to closure?

[2020-10-29 03:44] itisravi commented on #1704
@pranithk I think it can, since IIRC, the check for non zero lk onwer was only added recently. For now, fixing the .t is fine. We can address adding it for gluster-block ALUA when it gets tested/used.

[2020-10-29 03:54] pranithk commented on #1704
Okay. In that case I will leave the patch as is.

[2020-10-29 07:48] Shwetha-Acharya commented on #1023
The issue was addressed in https://review.gluster.org/#/c/glusterfs/+/24009/

[2020-10-29 08:13] xhernandez commented on #1623
I agree that it's not a good idea to try to heal directories in lookup path, specially if it's not done in the background. However we can't completely ignore those issues because the damage could be real and not as a consequence of an incomplete fix-layout. In that case no one would fix the issue.

Probably we would need to have some indication that the fix-layout is running. If so, the error can

[2020-10-29 08:30] pranithk commented on #1623
In normal lookup, I think in layout structure we can find out if the layout is complete or not and based on that we can make this decision. if frame->root->pid is that of rebalance then we can ignore this check.

[2020-10-29 08:32] BarakSason commented on #1623
I've raised the issue of the problematic nature of the fix-layout operation during discussions about Global Layout and Rebalance enhancements (and actually this is one of the main reasons rebalance can't be parallelized in the per-dir layout model).
Please see https://docs.google.com/document/d/1CTtPJiCtstUdqmkXyJxdxoF9lyonB_sT_l8Dc5SoFMY/edit for details (section 2.2 deals with fix-layout).
The n

[2020-10-29 08:51] #1122 closed

[2020-10-29 08:51] #1123 closed

[2020-10-29 08:54] tshacked opened #1717 "glusterd: sequence of rebalance and replace/reset-brick presents rebalance as not started"
**Description of problem:**
[BZ 1889966](https://bugzilla.redhat.com/show_bug.cgi?id=1889966)
A sequence of rebalance and replace-brick presents rebalance as not started in volume status.

RCA: rebalance status is being reset in glusterd replace-brick path.

**The exact command to reproduce the issue**:
Tested on upstream:
1.create a arbiter volume
2.add-brick and rebalance
3.Wait for rebalance to

[2020-10-29 09:56] aspandey commented on #1251
@aspandey

[2020-10-29 12:41] pranithk commented on #1623
@BarakSason It is good to know that it is handled in the new design. I am wondering if there is there anything we can do for the existing version of DHT? We need to make things better for the current version until the new one is GA

[2020-10-29 13:11] BarakSason commented on #1623
@pranithk It all comes down to resources and priorities - All the enhancements that I'm working on now requires very big effort from my side and in addition to this work I have other assignments as well.
I've scheduled a session for the coming Tuesday (3.11 - invite was sent on gluster-dev) in which I'll go over in detail the current design & implementation of rebalance and the new proposed design

[2020-10-29 13:13] pranithk commented on #1623
@BarakSason Sure definitely.

[2020-10-29 13:27] tshacked commented on #1717
Hi @srijan-sivakumar, @amarts

Rebalance status is being reset in the following glusterd paths (i didn't mention the entire places like create-vol):
- remove-brick - this makes sense as this path triggers an inner call to rebalance.
- replace-brick / reset-brick - if it follows a rebalance, the prior rebalance task status display as "not started"

I think it was introduced here:
https://github.com

[2020-10-29 13:44] schaffung commented on #1717
@tshacked , from the above two points,
1. I feel that it might be misleading..as the task is run before the replace brick op.
2. I think the task shouldn't be part of the status being displayed. But then again we need to see the implications of removing it..( would it affect other services consuming gluster vol status ? )

So the second approach sounds sane to me, @nik-redhat , what are your thoug

[2020-10-29 13:51] lixiaopengy opened #1719 "heketi.db File corruption"
about heketi.db File corruption problem I want to know how it happened?

The problems are as follows:
[code]

This problem occurs after the heketi container is restarted

[2020-10-29 13:57] pranithk commented on #1719
@lixiaopengxiya Could you share mount and brick logs? Also did you get a chance to raise this issue in heketi project as well ?

[2020-10-29 14:55] yaakov-berkovitch opened #1720 "Failed to mount using GlusterFS Native Client"
**Description of problem:**
Failed to mount using GlusterFS Native Client

**The exact command to reproduce the issue**:
`mount -t glusterfs localhost:/app-data /data
`
**The full output of the command that failed**:
<details>
[root@poc-gluster-server-2 ~]# mount -t glusterfs localhost:/app-data /data</br>
Mounting glusterfs on /data failed.</br>
[root@poc-gluster-server-2 ~]#</br>
</details>

**E

[2020-10-29 16:00] pranithk commented on #1720
Is this the complete mount log? Can you attach the complete log?

[2020-10-29 16:36] yaakov-berkovitch commented on #1720
Those are the logs that were written each time i tried to run the mount command and it failed. @pranithk do you still want to see all the log ?

[2020-10-29 16:43] pranithk commented on #1720
@yaakov-berkovitch There would be a log which has the work 'main' in it when the mount command is issued. That is where the logs start from. These logs don't have the complete story.

[2020-10-29 18:19] kalebskeithley opened #1721 "glusterd does not start property if network-online.target is not active"
see https://bugzilla.redhat.com/show_bug.cgi?id=1884987

Description of problem:
glusterd does not start property if network-online.target is not active

Version-Release number of selected component (if applicable):
glusterfs-server-7.7-2.fc32.x86_64

How reproducible:
Steps to Reproduce:

1. Prepare two nodes, then configure a replica 2 gluster's volume and check it work

2. mount the volume with

[2020-10-29 18:22] kalebskeithley opened #1722 "Cannot mount 7.8 volume using ssl"
see https://bugzilla.redhat.com/show_bug.cgi?id=1890146

I have a 7.8 cluster on Fedora 32. I have an 8.2 client on Fedora 33. If I don't set up ssl, all the machines can mount the volume. When I set up ssl, the Fedora 32 machines can still mount the volume but Fedora 33 cannot.

[2020-10-29 19:10] tshacked opened #1723 "DHT: further investigation for treating an ongoing mknod's linkto file as stale linkto file"
**Description of problem:**
Internal [BZ 1861658](https://bugzilla.redhat.com/show_bug.cgi?id=1861658) where shard linkto file have different gfid than data file.
The issue has been fixed on customer env (fixing the wrong gfid), and the customer wanted to get RCA.
This is the RCA from the issue, further investigation is needed for getting a potential fix.

[code]

[2020-10-30 01:56] lixiaopengy commented on #1719
I did not keep the block log, because it is healthy to view the volume by using the 'gluster volume status'. There is no problem with the glusterfs cluster. Only after the heketi service is restarted, this failure occurs. I'm going to redistribute it on the heketi project

[2020-10-30 03:50] pranithk commented on #1719
@lixiaopengxiya Closing the issue for now as there is no debugging to be done for now. Feel free to reopen the issue in case you see an issue with glusterfs.

[2020-10-30 04:42] #1719 closed, assigned to nobody

[2020-10-30 05:27] #1663 closed, assigned to nobody

[2020-10-30 06:27] #1627 closed, assigned to BarakSason

[2020-10-30 06:29] #1654 closed, assigned to pranithk

[2020-10-30 07:02] httaotao opened #1724 "Glusterfs7.5 how to create snapshot with no lvm"
Hello everybody ,these day I want to create snapshot for some volume, such as like this:
[code]

But when I create snapshot, it makes error
[code]

How could I deal with this problem?  I can't find out some way to do without cloneing  or moving the data to another volume with LVM

[code]

[2020-10-30 07:11] schaffung commented on #1724
Hi @httaotao, glusterfs uses the underlying mechanism of lvm2 snapshot feature for creating snapshot of volumes. This implies the bricks of the volume have to be thin lvs.
 So, you'd have to setup another volume are composed of thin lv bricks, create a geo-rep session between the existing volume and the newly created volume to copy all the data and then create snapshots in the newly created second

[2020-10-30 07:18] httaotao commented on #1724
Oh no ,this is a horrible  operation. the first things  which I don't konw is that how to setup another volume are composed of thin lv bricks . Then I also want to know  if glusterfs has 'clone volume' function? I must to clone the data by myself?  thanks.

[2020-10-30 07:27] httaotao commented on #1724
Thanks for answer .Sorry, I don't konw how to setup another volume are composed of thin lv bricks, and I also don't know what's that "create a geo-rep session between the existing volume and the newly created volume to copy all the data" means?  Could I find the docs in website "docs.gluster.org"? thanks.

[2020-10-30 07:41] nobleprogcn commented on #349
We don’t want to use the setfattr command to use reflink. We want to use the normal cp --reflink command. Can we design it like this?
I am from the Bernard Szlachta team.

[2020-10-30 08:16] pranithk commented on #349
@nobleprogcn That shouldn't be a problem. I don't have a reflink supported filesystem handy. Which syscall does cp send for doing reflink? copy_file_range()?

[2020-10-30 09:43] weinux2020 commented on #1650
@pranithk Thanks very much, I fixed this problem,due to a colleague's script read some files in the volume frequently and I don't know before. Now it is work fine.

[2020-10-30 09:47] pranithk commented on #1650
Cool, thanks! Closing the issue

[2020-10-30 09:47] #1650 closed, assigned to nobody

[2020-10-30 10:08] schaffung commented on #1724
@httaotao , yes the docs.gluster.org contains information on how to setup bricks with thin lv and also to create a geo-replication between two volumes so that data can be mirrored.

[2020-10-30 15:55] H121 opened #1726 "无法获取'glustereventsd-SuSE' 的文件状态(stat): 没有那个文件或目录"
**Description of problem:**

**The exact command to reproduce the issue**:
![b1de488ccec5f0cb5f53ed81c2232d2](https://user-images.githubusercontent.com/58348609/97727435-5b94ca00-1b0b-11eb-9709-af372cc18bb2.png)

**The full output of the command that failed**:
<details>

</details>

**Expected results:**

**Additional info:**

**- The output of the `gluster volume info` command**:
<details>

</det

[2020-10-30 16:05] pranithk commented on #1726
Could you give the complete compilation log?

Adding @aravindavk

[2020-10-30 19:01] Naranderan opened #1727 "Geo-replication went to faulty status"
**Description of problem:**
The geo-replication went to faulty status and the data syncing stopped.

**The exact command to reproduce the issue**:
NA

**The full output of the command that failed**:
NA

**Expected results:**
NA

**Additional info:**
In slave nodes, the geo-replication is running in unpriviliged user mode(non-root user).

Steps to reproduce the issue:
1. Create a file in the master

[2020-10-30 21:08] #738 closed

[2020-10-31 08:24] H121 commented on #1726
![image](https://user-images.githubusercontent.com/58348609/97775080-8bd67a00-1b98-11eb-8199-b9e1825fdcc7.png)

It’s too much process, I can only provide one result

[2020-10-31 19:16] yaakov-berkovitch commented on #1720
Here is the log beginning with the main:
[code]

[2020-11-01 03:53] pranithk commented on #1720
@yaakov-berkovitch As per the log, volfile for the volume seems to have some problem. Could you attach the file in
/var/lib/glusterd/vols/\<volname\>/trusted-\<volname\>.tcp-fuse.vol file to see what could be the reason?

[2020-11-01 07:14] yaakov-berkovitch commented on #1720
This is the content of the content of the /var/lib/glusterd/vols/app-data/trusted-app-data.tcp-fuse.vol:
[code]
FYI, when I opened this issue i used the mount command: `mount -t glusterfs localhost:/app-data /data`
I tried to use the peer server in the mount command (instead of locahost) and the mount command succeeded (`mount -t glusterfs master1:/app-data /data` where master1 is the server name

[2020-11-01 07:25] pranithk commented on #1720
When you execute mount -t glusterfs <hostname>:/vol ... , glusterfs process that is launched will fetch volfile(the one you posted in the comment) from that machine and try to instantiate the configuration graph. For some reason that volfile is giving parsing error after fetching when you do mount -t localhost, but not when you do it from the peer. That is odd! Maybe the local glusterd is misbehav

[2020-11-01 07:26] pranithk commented on #1720
Sorry, In that last line I meant when you execute on master1 not master2

[2020-11-01 11:52] Bockeman opened #1728 "glusterfsd brick crash"
**Description of problem:**
Program terminated with signal SIGSEGV, Segmentation fault.
This happened on both servers of a replica 2 resulting in loss of data.

**The exact command to reproduce the issue**:
No specific command, gluster running with normal usage.
This may or may not be related to https://github.com/gluster/glusterfs/issues/1699 but (without the necessary expertise of the source cod

[2020-11-01 12:10] yaakov-berkovitch commented on #1720
At the same time exactly I didn't find errors but seconds before we can see some errors. Please see below:
[code]

[2020-11-01 12:38] pranithk commented on #1720
Do you get same errors in both glusterd log files?

[2020-11-01 12:51] pranithk commented on #1728
The root cause seems to be same as the process crashed in posix_getxattr() which is doing alloca and the xattr size must be greater than what the stack has.

@mohit84 Could you change the alloca to GF_CALLOC/FREE to fix this part at least? In that case at least there will be an erorr if there is a problem not a crash.

[2020-11-01 12:52] Bockeman opened #1729 "Catastrophic failure with loss of data due to both bricks offline"
**Description of problem:**
The corresponding bricks (brick07) in a replica 2 gluster went offline.
Gluster continued to serve data from the other bricks (brick05, brick06) but with all data missing from the offline brick pair (brick07).
Multiple clients which were synchronized (NextCloud or rsync) with the gluster cloud service all saw that files had been removed and then proceeded to remove the

[2020-11-01 13:00] pranithk commented on #1729
@Bockeman How did the data from glusterfs bricks got deleted after you did a "gluster volume start <> force?"

[2020-11-01 13:05] mohit84 commented on #1728
sure, i will send a patch.

[2020-11-01 13:21] pranithk commented on #1729
This is what I am referring to:

[2020-11-01 14:01] mykaul commented on #1728
A bigger change is not to needlessly do the interim copy - see https://review.gluster.org/#/c/glusterfs/+/23714/

[2020-11-01 14:08] yaakov-berkovitch commented on #1720
Yes - see below from the other server:
[code]

[2020-11-01 14:20] mykaul commented on #1728
I wonder if we have other areas we rely on some data and alloca() - fuse_xattr_cbk() as an example:
[code]

[2020-11-01 14:28] Bockeman commented on #1729
@pranithk wrote

How the data got deleted is an interesting question.  It is a fundamental even a philosophical question relating to data synchronization between many clients, a topic which is likely outside the scope of issue reported herein.  However, to demonstrate that what I faced was a real-world issue rather than something hypothetical, let me explain as best as I can.

Due to unfortunate c

[2020-11-01 14:33] mohit84 commented on #1728
Posted a patch to resolve the same.
https://github.com/gluster/glusterfs/pull/1730

[2020-11-01 14:50] tshacked commented on #1717
The add-brick cmd doesn't reset rebalance state, so the scenario of changing the cluster and keeping/presenting the latest rebalance state is already there.
I'm thinking to send a PR which `updates:` the issue with the suggestion in (1) and later we can think of (2) approach

[2020-11-01 15:27] Bockeman opened #1731 "Files on bricks with permissions ---------T"
**Description of problem:**
I did a find on all the bricks on both servers.
[code]
taking 5 hours on each server.

I notice that there are files with unusual permissions:
[code]
It turns out there are an awful lot of files with these permissions
[code]
which is about 20% of the files.

Looking up the gfid, and then finding the corresponding files reveals:
[code]
For every file affected, there are:

[2020-11-01 15:35] Bockeman commented on #1699
Disaster struck, see https://github.com/gluster/glusterfs/issues/1729 and https://github.com/gluster/glusterfs/issues/1728.
I have now recovered lost data and am able to resume analysis on my gluster data.

I discovered a large number of files with silly permissions, and reported that on https://github.com/gluster/glusterfs/issues/1731

I am nervous about the integrity of my files, any suggestions

[2020-11-01 15:38] #977 closed

[2020-11-01 15:45] Bockeman commented on #1699
Perhaps someone could explain the value of hard-link for each file residing under <brick_root>/.glusterfs/XX/YY/<gfid>.

Also, why is there a mixture of hard-links and symbolic-links?
[code]

This means that finding "dangling" gfids (i.e. a gfid file with no corresponding actual file) is more difficult than @xhernandez suggests:

[2020-11-01 15:50] pranithk commented on #1729
Thanks for the detailed answer. I asked about the deletion of data because I didn't see anyway that can happen with glusterfs code. So it is the clients which issued the 'rm -rf <dirs>' from the mount point.

This is a fundamental decision in distributed systems(CAP theorem). When there is partition/partial availability should you choose Consistency(No partial data) or Availability(Show partial da

[2020-11-01 15:55] pranithk commented on #1731
Please don't touch those files. These are created by distribute translators when the name of the hardlinks don't hash to where the earlier file is present. For example:
If there is a 3x2 distribute replicate volume. you have replica-0, replica-1 and replica-2 as subvolumes for distributing the files.
Let's say you created a file named 'a' and it is created in replica-2. Data of 'a' is present in r

[2020-11-01 15:55] #1731 closed, assigned to nobody

[2020-11-01 16:22] Bockeman commented on #1731
@pranithk Understood and thanks.

I have one file with a single hard-link:
[code]
Is this also expected?

[2020-11-01 17:17] Bockeman commented on #1729
Obviously, I need Consistency (No partial data) to avoid reoccurence of this disaster.
Even if that is not compatible with other users, then a user selectable option to select this behaviour should be implemented.  Thanks.

[2020-11-01 18:37] amarts commented on #1729
https://github.com/gluster/glusterfs/blob/devel/xlators/cluster/dht/src/dht-shared.c#L941 was designed to handle some of this (I say some, as it can be improved to mark xlator as DOWN when any one CHILD_DOWN event received).

It gets used in rebalance process so that rebalance doesn't cause data loss. (https://github.com/gluster/glusterfs/blob/devel/xlators/mgmt/glusterd/src/glusterd-rebalance.c#L

[2020-11-02 01:23] pranithk commented on #1731
No this is not expected. Maybe a stale name?

[2020-11-02 01:25] pranithk commented on #1729
After thinking a bit more this seemed like a problem with readdir(p) operation? Readdir should fail if the subvolume it needs to readdir from is not up. What do you guys think?

[2020-11-02 02:02] pranithk commented on #1729
@Bockeman Your setup is replica-2 which chooses availability over consistency. So even after fixing this issue, there is a possibility of facing the same issue. Consider the following scenario.

1) One of the bricks went bad and need to be replaced with a new disk/brick
2) You executed a reset-brick command. Data on the newly replaced brick will be empty
3) The good brick in that replica pair may

[2020-11-02 05:16] itisravi commented on #1143
@pranithk Do you mean a case like `.glusterfs/indices/entry-changes/directory-gfid/` having a list of entries to be healed but the parent dir of these entries do not have afr-xattrs, we need to handle it in the **shd** code-path? Currently name heal from client handles it.

[2020-11-02 05:18] pranithk commented on #1143
yeah, all code paths should do the same.

[2020-11-02 05:22] itisravi commented on #1143
If parent dir has no xattrs, then even non-granular entry heal won't trigger heal on the dir. The gfid is just removed from xattrop folder. I think conservative merge comes into play only when dir's xattrs are in split-brain. Need to check the code once.

[2020-11-02 05:26] pranithk commented on #1143
Okay. Make sure to use quorum majority for all code paths of entry and metadata heals

[2020-11-02 05:40] aravindavk commented on #1726
Looks like a bug in `configure.ac` file. This file is not included. Try adding `glustereventsd-SuSE` to `configure.ac` file.

[code]

https://github.com/gluster/glusterfs/blob/devel/configure.ac#L195

Repeat the build steps. `./autogen.sh`, `./configure`

[2020-11-02 05:48] #1577 closed, assigned to schaffung

[2020-11-02 06:40] nik-redhat commented on #1717
An improvement can be done here, but the question is why was it implemented in the first place?
Does it have any other implications too? as @srijan-sivakumar pointed out.

[2020-11-02 07:32] baimuxiaozi opened #1732 "No glusterfs-libs for thin-arbiter in GlusterFS 8"
**Description of problem:**
I was deploying GlusterFS 8, and tried to install thin-arbiter, but no package glusterfs-libs which was required can be found in repo.
I can find it in GlusterFS 7, but no in GlusterFS 8, was it changed to libglusterfs in 8 ?

**The exact command to reproduce the issue**:
dnf install glusterfs-thin-arbiter

**The full output of the command that failed**:
<details>
# dnf

[2020-11-02 08:16] itisravi opened #1733 "api: conscious language changes"
Issue to track removal of offensive language changes in the api folder.

[2020-11-02 09:16] tshacked commented on #1717
Good question. Maybe the intention was to invoke rebalance like in remove-brick..but this is just a guess.

Adding @amarts maybe he remembers.
@amarts - please advise us if a fix/improvement is needed here?

[2020-11-02 09:55] madmax01 opened #1734 "health-check failed, going down Gluster 8.2"
**gluster version:**

gluster --version
glusterfs 8.2

**os version:**
uname -r
4.18.0-193.19.1.el8_2.x86_64

cat /etc/centos-release
CentOS Linux release 8.2.2004 (Core)

**Description:**

We have a 3 Node setup with 3 Volumes  gv0,gv1,gv2.   node1+2 =gv0,  node2+3=gv1,  node3+1=gv2

we use vmware esxi and each node running on 1x Esxi as vm.  each esxi mount the bricks through the local hosted gl

[2020-11-02 10:38] schaffung commented on #1683
@mykaul , I think the said issue wherein the issue of this being NULL was [issue1596](https://github.com/gluster/glusterfs/issues/1596)

[2020-11-02 10:46] pranithk commented on #1734
health check fails when the underlying filesystem is not fine. You should check what could be going on with the brick's filesystem. May be in dmesg or /var/log/messages will indicate what could be bad with the filesystem?

[2020-11-02 11:04] madmax01 commented on #1734
i don't see any issue with underneath hw.....

this is the first stack where i'am seeing this. and to say it's first stack where i use Nodes to be Part of multiple replica sets,.. as above...

something is wrong with the healing,... it flaps.... tells me all time need healing,.. then it's way,... then flaps again healing,........until i move data away and back on it.  and then bricks goes down > a

[2020-11-02 11:16] madmax01 commented on #1734
i see for all 3 volume logs  glfsheal-gv0 - gv1    "intentional socket shutdown"  entries. every few secs

[2020-11-02 12:01] xhernandez commented on #1729
I don't think this is a good option. All subvolumes contain a fragment of all directories, so any failed subvolume will lead to all readdir(p) requests to fail, which seems too bad.

The only good solution I see to this is to store directory contents as files. This way the directory information will be stored only in a single subvolume. If that subvolume fails, the directory will be inaccessible,

[2020-11-02 12:04] pranithk commented on #1734
As per the logs you posted, health checker is killing the brick. When a brick dies, data is written only to one brick. So heal will start on that volume. Root cause is health-checker killing the brick. You need to find the reason for that.

[2020-11-02 12:07] xhernandez commented on #1699
As I already said in my comment, this method won't work fine if you also have symbolic links. The command only finds regular files with a single hardlink. Since gluster keeps a hardlink between the real file and the gfid in .glusterfs/xx/yy, any file inside .glusterfs with a single hardlink means that there's not real file associated.

The symbolic links inside .glusterfs may represent real symbol

[2020-11-02 12:15] pranithk commented on #1729
Yeah. You are correct.

This will be a design change right? For the long-term I also feel reducing the number of subvolumes to scan to find entries is a must. After the current GL+rebalance changes we need to solve this problem in DHT. What do you suggest for the short-term? Option to switch between consistency/availability?

[2020-11-02 12:17] xhernandez commented on #1727
Since kernel 3.6, there's a security enhancement in linux that prevents a regular user to do some potentially risky operations. In particular this can happen in the case you reported (creating a hard link of a symbolic link not owned by the user doing the geo-replication).

You can try to disable this behavior of the kernel using the following command as root:

    echo 0 >/proc/sys/fs/protected_h

[2020-11-02 12:33] #1713 closed, assigned to nobody

[2020-11-02 12:44] Bockeman commented on #1729
@pranithk thanks for your considered response.  I'm not an expert in this field, so I am relying on all you experts to help me out.  I trust I can add value to the discussion by raising questions that any person in a similar position to me might ask and I accept that you might have to correct any misconceptions.

In my mind, the new scenario you raised is another plausible case where gluster could

[2020-11-02 13:10] xhernandez commented on #1729
For short-term my personal opinion is that we should provide consistency (i.e. denying any access when a subvolume fails). Each subvolume can already provide fault tolerance if needed. So this should only happen in extreme cases.

Having an option could be fine IMO, specially for pure distributed volumes.

[2020-11-02 13:27] nik-redhat opened #1738 "[cli] Improper error message on command timeout"
**Description of problem:**
If the command `gluster volume info` gets timed out then the error message returned in CLI is:
[code]
Even though there are volumes present in the cluster. This is a bit misleading can sometimes lead to irrelevant issues.

**The exact command to reproduce the issue**:
Create a volume, then pause glusterd execution using gdb or some other tool and execute the command `gl

[2020-11-02 13:38] pranithk commented on #1729
There are 2 layers: 1) Distribute layer which decides in which replica set to store the file. 2) Replication layer which replicates the file in that replica set.

1) After this issue is fixed, you will be given an option where when 2 bricks in same replica set are down, distribute should treat it as DOWN and stop serving data to the mount. Errors from lower layers in readdir(p) should be treated a

[2020-11-02 14:04] mohit84 opened #1739 "test case ./tests/basic/afr/entry-self-heal-anon-dir-off.t is continuous failing"
The test case (./tests/basic/afr/entry-self-heal-anon-dir-off.t) is failing on the pull request (https://github.com/gluster/glusterfs/pull/1730), The test case is not failing without applying the patch, i believe due to the patch
afr has found a a bug during gfid split-brain in the test case.

The .t is failing at the time of executing this
12:58:59 not ok 209 [    145/    132] < 380> '! stat spb/

[2020-11-02 14:31] pranithk commented on #1739
I will be able to help on Thursday in case others don't beat me to it.

[2020-11-02 14:43] amarts commented on #1729
As a filesystem, there should be no question with anyone involved in development about what is our priority. It should be **consistency**.

When the filesystem is packaged or deployed in setups, the admins can choose what they prefer as default options using site.h (or with configuration options). Lets just give documentation on how to prioritize performance over consistency if one needs it.

[2020-11-02 15:30] Bockeman commented on #1729
@pranithk again, thanks for you response and willingness to help me understand.

From an outsider (user, as opposed to developer/maintainer) point of view, I was unaware of the gluster layers your mention.  Although I can image that various tasks could be split into various layers, I really should not need to know what goes on "under the hood".  Data storage should just "happen" without any user,

[2020-11-02 15:40] Bockeman commented on #1729
**Terminology Question**
Am I correct to assume that the **"High Availablity"** feature of Gluster means "serving a consistent complete storage system _for as much time as possible_"?
This has nothing do with **Availability**  from CAP Theorum, meaning "serving as much storage as possible whenever possible" versus **Consistency** meaning "serving a complete coherent storage whenever that is possib

[2020-11-02 16:13] mykaul commented on #1596
Other cases, where we simply do not use the validation to the output of THIS, in client_cbk_chid_up():
[code]

(same in client_cbk_child_down() of course)

And RPC_THIS_SAVE macro:
[code]

And there are others (gf_set_timestamp(), recursive_rmdir(), etc.) - perhaps should be in different patches.

[2020-11-02 16:17] pranithk commented on #1729
Like I mentioned before if while doing a replace-brick/reset-brick operation if the brick with complete data loses network connection for enough time, the data served to your backup process will be from the new brick that doesn't have data. It will lead to similar kind of 20% data loss you experienced.

[2020-11-02 17:34] mahdiadnan opened #1741 "ENOENT messages in fuse mount log"
**Description of problem:**
Warning message in Gluster fuse mount:

[2020-11-02 17:24:33.991253] W [fuse-bridge.c:308:check_and_dump_fuse_W] 0-glusterfs-fuse: writing to fuse device yielded ENOTDIR 256 times
[2020-11-02 17:24:34.695516] W [fuse-bridge.c:308:check_and_dump_fuse_W] 0-glusterfs-fuse: writing to fuse device yielded ENOTDIR 256 times
[2020-11-02 17:24:34.889919] W [fuse-bridge.c:308:ch

[2020-11-02 19:13] Bockeman commented on #1729
@pranithk many thanks again

That is good, even excellent information.  Importantly, I think it means (correct me if I am wrong) that I can deploy a strategy to eliminate the risk from that scenario:

1. Determine that a replace-brick or reset-brick is required. (Are there any other similar conditions?)
2. Post schedule for maintenance and advise that synchronization must/will be stopped (plus ver

[2020-11-03 02:09] perrynzhou opened #1742 "bug-glusterfs api DNS resolution failed on host"
@xhernandez @amarts @BarakSason @mohit84 @tshacked @csabahenk @pranithk when we used glusterfs api, glusterfs logs happen  DNS resolution failed on host .is has way to solve it ?
##
[code]
Repository revision: git://git.gluster.org/glusterfs.git
## app used api gen logs such as ,our app running grpc service over ipv6,that service call gluterfs api

[code]

[2020-11-03 02:47] perrynzhou commented on #1708
@amarts that is a good idear.how to config metadisp in dht/replica volume?is any plan to release this feature in  future version?

[2020-11-03 03:01] pranithk commented on #1741
@csabahenk Could you help with this? Even I see this message on our prod systems. Applications are not affected, but curious to know why this would happen.

[2020-11-03 03:19] pranithk commented on #1729
It seems okay for the problem I mentioned. Not sure if there are more.

That is correct

[2020-11-03 06:18] aspandey opened #1743 "Modify format to contain more information while raising gluster issues"
Raising this issue to come up with new format of github issues.
Current format does not provide all the information we need to start with debugging bugs.
Please feel free to add any other information we want from users to provide while filing an issue.

----------------------------------------------------------

**Description of problem:**
**The exact command to reproduce the issue**:
**The full o

[2020-11-03 06:22] amarts commented on #1743
Please make changes to https://github.com/gluster/glusterfs/blob/devel/.github/ISSUE_TEMPLATE and send a PR, we can have this approved.

[2020-11-03 06:27] #818 closed

[2020-11-03 06:50] myy2829 opened #1745 "glusterd bug: when brick signin port in gluterd-pmap, there is no deletion of duplicated bricknames"
**Description of problem:**
Gluster client get wrong port from glusterd when I mount a gluster volume.

**The exact command to reproduce the issue**:
1. I test one peer offline and online in a gluster pool.
2. I stop and start one volume in that gluster pool.
3. I mount that volume use mount.glusterfs.

**The full output of the command that failed**:
Mount failed because client use wrong port to c

[2020-11-03 06:52] nik-redhat commented on #1332
@hostingnuggets the PR for docs is merged and the site will soon be updated with the 'Note'. So, closing this issue now.

[2020-11-03 06:52] #1332 closed

[2020-11-03 06:53] #1565 closed, assigned to nobody

[2020-11-03 08:19] Sheetalpamecha commented on #1732
@baimuxiaozi Can you first try install glusterfs-libs using dnf install glusterfs-libs and then try installing thin-arbiter package.

Which os version you are using? For particular rpms, you can get packages from here https://download.gluster.org/pub/gluster/glusterfs/8

[2020-11-03 08:48] #1518 closed

[2020-11-03 09:31] Naranderan commented on #1727
Thanks for the workaround. It's absolutely working fine in our testing environment. But, how other fops (like creating a file wihtin root owned dir) can be carried out for a file owned by root user in Slave? Is there any special reason for running slave geo-rep as a non-root process?

[2020-11-03 10:38] xhernandez commented on #1727
It should work, as it has worked before. The only problem I'm aware of is about these security enhancements introduced in kernel 3.6.

Probably it's for security reasons, but I'm not fully aware. @Shwetha-Acharya can you comment on that ?

[2020-11-03 10:51] madmax01 commented on #1734
i changed now following:

- Disk IO Scheduler  to "none"  (because it's a VM)
- storage.health-check-interval to 0  (as i don't see any kind of issues underneath).

once moving hosted vms off and back again > i run about 290MB/s  write and await/svctm is still far below 5ms. i cannot really confirm any slow Responseness from Disks

[2020-11-03 11:01] pranithk commented on #1734
@madmax01 Are you saying things are working as expected after you made these changes?

[2020-11-03 11:18] madmax01 commented on #1734
No what i'am saying is,... i didn't had Perf issues before and re/tested now again. just done the additional Changes,..... i don't see any issue.... just the brick was fallen down before....   i didn't re/tested again with health check enabled after those changes > as like to avoid this bunny hops of healings,.....

Not sure if i want to enable the health-check again .  thinking this can only be r

[2020-11-03 11:21] amarts opened #1749 "brick-process: call 'notify()' and 'fini()' of brick xlators in a proper cleanup (with or without brick-mux)"
**Description of problem:**

as a xlator developer, not having the framework to clear out the cache or any data /information xlator structures have when a proper shutdown (ie, `volume stop`) is done, is a serious drawback.

**The exact command to reproduce the issue**:

Run a volume in trace mode, mount it, do operations, now do `gluster volume stop $volume`...  you can see by the logs that fini i

[2020-11-03 11:22] amarts commented on #1749
@mohit84 @xhernandez

[2020-11-03 11:59] H121 commented on #1726
Thank you for the method, according to which I solved the problem.

[2020-11-03 12:01] perrynzhou commented on #1745
@myy2829  what's version of glusterfs for your prod env?can you join us to spread glusterfs in  china?

[2020-11-03 12:04] pranithk commented on #1726
Could you send a pull request so that it is fixed for other Suse users as well?

[2020-11-03 12:34] perrynzhou commented on #1734
@pranithk  we found when heal_check failed,that will kill glusterfsd.it always is  right.

[2020-11-03 12:56] mohit84 commented on #1739
@pranithk the test case is failing on this https://build.gluster.org/job/gh_centos7-regression/266/consoleFull

[2020-11-03 13:26] pranithk commented on #884
@xhernandez This seems to be fixed already? Can it be closed?

[2020-11-03 13:55] H121 commented on #1726
One more thing needs to be added, it needs a file，called glustereventsd-SuSE.in, just copy the file called  glustereventsd-Redhat.in

[2020-11-03 13:55] H121 commented on #1726
It need to test, please wait

[2020-11-03 18:27] apollo13 commented on #1693
Ah finally realized my mistake. glusterfs detaches and runs in the background… What I didn't realize at first is that `--debug` implies foreground mode. That explains it -- sorry for not grasping that earlier.

Would it be possible to change the mount command to only daemonize after validating the subdir-mount if supplied?

[2020-11-03 22:01] xhernandez commented on #884
Yes. It was reopened to backport the patch, but missed to close it after that...

[2020-11-03 22:01] #884 closed

[2020-11-04 02:09] myy2829 commented on #1745
@perrynzhou our team use glusterfs v7.7.
It's my pleasure to join you spreading glusterfs in china.

[2020-11-04 03:31] pranithk commented on #1734
@madmax01 Could you attach the complete brick log file to debug a bit more?

@perrynzhou That has been my experience as well.

[2020-11-04 03:32] #1699 closed, assigned to nobody

[2020-11-04 04:09] #1733 closed, assigned to itisravi

[2020-11-04 04:57] Shwetha-Acharya commented on #1727
Main reason to use non-root for Geo-rep is root ssh login is not required for Secondary nodes.
If Geo-rep ssh keys are compromised, those keys can’t be misused because non-root user doesn’t have any privileges on remote node.

[2020-11-04 05:07] Shwetha-Acharya commented on #1727
Even with non root user, file operations are done via root itself; fops are translated to that user.

[2020-11-04 07:02] Naranderan commented on #1727
`Even with non root user, file operations are done via root itself; fops are translated to that user.`

Interesting. Then how does this hard-link creation fail? Is the codebase need to be patched?
Please throw some more light which could be helpful for us to understand the issue better.

[2020-11-04 07:04] Shwetha-Acharya commented on #1727
I am looking into it, to understand it better. I will update with analysis.

[2020-11-04 07:20] itisravi commented on #1483
@Sheetalpamecha  pointed out that the option was enabled for even non-replicate volumes. Re-opening the issue to fix that.

[2020-11-04 09:01] xhernandez commented on #1727
It fails because it's the kernel itself on the client who is blocking the request. When `protected_hardlinks` is `1`, the kernel checks the owner of the symlink and the user trying to create a hardlink. If they don't match, the `link` request is never sent to Gluster through `FUSE` kernel module so, even though Gluster will execute all operations as root in the backend, the request never reaches t

[2020-11-04 09:12] malhammadi93 opened #1753 "No space found and replication take time"
Space Not found

**Description of problem:**

This issue appears while writing to a volume.
Rebalancing takes time and the daily read and write can reach up to one 1T per day, and it crushes showing that there is no space.

Is there any approach to force writing to a new files to the newer brick ?
Can we change the volume to NUFA although there is data on the volume ?

**- The operating system / g

[2020-11-04 09:21] pranithk commented on #1753
@UAEDragon Could you provide volume info output and df output from the bricks you have?

[2020-11-04 09:27] httaotao opened #1754 "Glusterfs7.5: geo-replication status show Faulty"
Hi everybody,  I make some volume both in the same node, but when I make the geo-replication session,it makes error.
[code]
The specific operation is as follows:

[code]
And then I also want to deal with this problem, so I do that:
[code]

it also report error in log file, like that:
[code]

I don't konw how to deal with this problem . By the way , I could not understand the param " --no-prefix" f

[2020-11-04 09:46] aravindavk commented on #1754
Do not use `no-verify` here, Run create command as below. no-verify will not distribute the required ssh keys.

[code]

[2020-11-04 09:59] aravindavk commented on #1726
As every distributions adapted Systemd, I feel we should replace all distro specific service files with Systemd unit files.

* Debian - Systemd is default from "Jessie" release
* SuSE - default from release 12
* Red Hat/CentOS - available from 7
* Ubuntu - default from 15.04

@amarts @pranithk @xhernandez thoughts?

[2020-11-04 10:27] amarts commented on #1726
would like to add @kalebskeithley @nixpanic in discussion as they were handling most of these files for sometime now. I feel unifying on 1 standard is better.

Also @gluster/debian-packagers @Sheetalpamecha @Shwetha-Acharya @rkothiya

[2020-11-04 10:57] madmax01 commented on #1734
[vdo-vdo0-gv1.log](https://github.com/gluster/glusterfs/files/5487314/vdo-vdo0-gv1.log)
[vdo-vdo0-gv2.log](https://github.com/gluster/glusterfs/files/5487316/vdo-vdo0-gv2.log)

those are the current 2 logfiles

i see on all bricks kinda strange "disconnects".  not sure if this can be may issue that soon/later bricks fallen down?

[2020-11-04 11:00] pranithk commented on #1734
@madmax01 Are you sure these are the correct logfiles? They don't have the logs we are looking for
pranithkarampuri@PP-CNPZ5M2 ~/Downloads [1]> grep posix_health_check_thread_proc vdo-vdo0-gv*

[2020-11-04 11:04] mykaul opened #1755 "Reduce calls to 'THIS' in fd_destroy() and others, where 'THIS' is called in a loop"
This snippet:
[code]

Probably can be written better:
[code]

(Untested. The idea is to save the old_THIS once, and always get back to it, and only do it if it's actually needed.)

[2020-11-04 11:04] madmax01 commented on #1734
sry copy pasted wrong.

you mean the brick log from  /var/log/glusterfs/bricks  right?

[2020-11-04 11:07] mykaul commented on #1755
Very similar change can be made in fd_close(), __inode_ctx_free(), inode_ctx_merge(), inode_invalidate(), inode_ctx_size() and perhaps elsewhere.

[2020-11-04 11:10] mykaul commented on #1755
Perhaps in gf_timer_proc() as well - need to look at it more in depth.
xlator_foreach() , xlator_fini_rec(), - same.

[2020-11-04 11:15] pranithk commented on #1734
yeah, the bricks which went down as per the log you provided earlier

[2020-11-04 11:24] madmax01 commented on #1734
found the entries "posix_health_check_thread_proc "  added

[logs.zip](https://github.com/gluster/glusterfs/files/5487460/logs.zip)

[2020-11-04 11:44] pranithk commented on #1734
@madmax01 As per the logs, data written by health-checker to the disk is not same as the data ready by health-checker, so it is killing the brick:

Here is the log corresponding to that.
[2020-10-28 04:44:29.222822] W [MSGID: 113075] [posix-helpers.c:2134:posix_fs_health_check] 0-gv2-posix: aio_read_cmp_buf() on /vdo/vdo0/gv2/.glusterfs/health_check returned ret is -1 error is Structure needs clea

[2020-11-04 11:53] madmax01 commented on #1734
well initially i just recognized that 2 bricks where down  each 1x for gv1 + gv2....... i used then an gluster monitoring script to cover bricks down alerts,....... so i saw then once forced volume up state > that brick goes down after some days,... cannot tell exact as it just happens dynamicly seems.    since i disabled the health,..... seems bricks stays online.

not sure if i understand the Is

[2020-11-04 12:18] pranithk commented on #1734
As per the log I pasted in the previous comment, data written to the brick filesystem is not same when we try to read it.

[2020-11-04 12:28] madmax01 commented on #1734
yes i saw the message you pasted thx for it. but it gives me no Clue about why this happens and how to fix/avoid this.  is there a Bug somewhere?  as i would expect for replicas > that the data is fine inside each of the sets

[2020-11-04 12:32] pranithk commented on #1734
What filesystem are you using on the brick?

[2020-11-04 12:49] madmax01 commented on #1734
VDO > PV > VG > LV Thin with discard > XFS

[2020-11-04 17:47] schaffung commented on #1596
Currently I've taken up only mgmt. Have to check with other xlators in subsequent patches.

[2020-11-04 23:57] csabahenk commented on #1741
The commit message of the change that introduced this log: 5c9b893 includes a hint about this situation:

when glusterfs' inode invalidation lags behind
the kernel's internal inode garbage collection
(in this case above errnos mean that the inode
which we requested to be invalidated is not found
in kernel). This can be mitigated with the
invalidate-limit command line / mount option,
cf. bz#1732717

[2020-11-05 02:54] amarts opened #1757 "RFE: improve namespace support in glusterfs"
**Description of problem:**

Today, glusterfs barely has support for namespace, in a single volume. We do have a namespace translator in codebase, but inactive by default. It is good to have namespace support, as it would make quota support, subdir mount support, and many other similar features to use them properly. Improvement in this area is appreciated.

**Additional info:**

I propose to intro

[2020-11-05 03:36] schaffung commented on #1596
Following are some of the points of improvement seen in the reviews which can be taken up in further patches

- [ ]  Instead of having to call `THIS` to initialize `this` multiple times in the functions, there seems to be a call chain in the functions. Why not take help of that and pass the value of `this` as a function parameter instead of repeated variable definitions and calls to `THIS`.

- [ ]

[2020-11-05 04:08] Legogris commented on #780
I'm seeing this on official Debian packages. All servers running 8.2 but have been running other versions in the past (though not more than a  major version a a time, and followed the upgrade guide).

In glusterd.log:
[code]

I also have 4 entries (`<gfid:xxx>`) stuck in heal for one of the bricks in a replicated volume.

[2020-11-05 04:28] schaffung commented on #780
Hi @Legogris ,

Did you try using `ldconfig` to load the cache

[2020-11-05 04:47] malhammadi93 commented on #1753
@pranithk The requested images are provided below.

<img width="501" alt="Screen Shot 2020-11-05 at 8 42 06 AM" src="https://user-images.githubusercontent.com/46448569/98198884-74eea980-1f43-11eb-98f8-4da83acb184b.png">

<img width="363" alt="Screen Shot 2020-11-05 at 8 43 03 AM" src="https://user-images.githubusercontent.com/46448569/98198891-77510380-1f43-11eb-994b-ca00c30bbf05.png">

[2020-11-05 04:51] H121 commented on #1726
yeah，but I don't find it，so I use RedHat to replace. And  I have another problem.
![image](https://user-images.githubusercontent.com/58348609/98199170-93659c80-1f65-11eb-86c7-c700b22e17cf.png)

[2020-11-05 05:03] aravindavk commented on #1726
`cliutils` may be installed in `/usr/local` and `PYTHONPATH` is not aware of that.

[code]

https://docs.gluster.org/en/latest/Administrator%20Guide/Events%20APIs/

[2020-11-05 05:15] itisravi commented on #1398
Closing the issue since the patch referenced above is merged. Will create separate issues for improvements.

[2020-11-05 05:15] #1398 closed

[2020-11-05 05:43] Legogris commented on #780
Do you mean just running `ldconfig`, nothing else? Can give it a go.

[2020-11-05 06:03] mahdiadnan commented on #1741
@csabahenk I got "Invalid option: invalidate-limit" I think this option is not in release 7, only in devel branch and release 8 of gluster?

[2020-11-05 06:13] msaju commented on #1465
Status update on the Gluster 9.0 major release items as of today is as follows:

* [x]  io_uring support for Gluster: #1398 **COMPLETE**
* [x]  Rename Dir heal: #1211 **COMPLETE**
* [ ]  Read-dir performance improvement:  #117 **IN PROGRESS**
* [ ]  Compile with LTO/GCC 10: **IN PROGRESS**
* [x]  Monitor the performance in epoll/rpc layer: #1466 **COMPLETE**
* [x]  glusterd-pmap binds to 10K ports

[2020-11-05 06:51] anoopcs9 opened #1760 "`pkg-version --version` generates wrong version"
**Description**
`git describe [--tags]` command within _build-aux/pkg-version_  script says "No tags" on default devel branch:
[code]
As a result _build-aux/pkg-version_ generates wrong version:
[code]
instead of
[code]
**Expected results**
[code]
or on similar lines.

**More information**
With switch to default _devel_ branch, git hash changed and latest tag(9dev) is dangling atm.

[2020-11-05 07:27] Legogris commented on #780
Here's what I did so far:

* Reboot server (did this before I saw your question). The logs above appear on startup.
* Run ldconfig
* Mount volume on other host

After the ldconfig I don't see the exact same error again. However:

[code]

Context:

* `$VOLUME3` is consciously taken offline and never had a brick, host or other reference on this host.
* `$VOLUME1` has a recently added brick (the thir

[2020-11-05 07:32] schaffung commented on #780
@Legogris could you provide more info..maybe output of the following commands as it would help everyone get a better understanding of your situation.
1. gluster vol status
2. gluster vol info
3. gluster peer status

[2020-11-05 07:44] schaffung opened #1761 "CONTRIBUTING.md regression can only be run by maintainers"
**Description of problem:** The markdown doc should state members of gluster org can run the regressions.

**The exact command to reproduce the issue**:

**The full output of the command that failed**:
<details>

</details>

**Expected results:**

**Additional info:**

**- The output of the `gluster volume info` command**:
<details>

</details>

**- The operating system / glusterfs version**:

[2020-11-05 07:57] httaotao commented on #1754
thanks, I use root user and not use "no-verify" to deal with this problem.

[2020-11-05 07:57] #1754 closed, assigned to nobody

[2020-11-05 08:03] Legogris commented on #780
1.
[code]

2.
[code]

3.
[code]

All issued from `server3`

[2020-11-05 08:57] #1738 closed, assigned to nik-redhat

[2020-11-05 09:08] schaffung commented on #780
@Legogris from the information you've provided,
1. You have a 4 node cluster.
2. There are three volumes, `volume1`, `volume2` and `volume3`.
3. The volumes `volume1` and `volume2` are of type replica 3.
4. The volume `volume3` is a replica 2. Also, this volume has been taken offline by you. ( correct me if I'm wrong ).
5. There are some heals in `volume2` which are not happening.

Now the Error i

[2020-11-05 10:25] xhernandez commented on #218
The current implementation of this feature will provide consistent access to data by properly synchronizing multiple clients accessing the same data. However, to be able to fully serve requests entirely from the cache, we'll need to implement several additional features. The most relevant ones are:

* Posix rights and ACL management
* Posix locks management

Without this, the cache could reply to

[2020-11-05 11:00] Legogris commented on #780
Thanks for following up @srijan-sivakumar, appreciate it. You git it right. So are you saying that all the errors and warnings in the logs above should be disregarded due to one volume being offline?

I'm assuming the missing heals is a separate issue (which I still don't get), but I still don't get brick on `server2` for `VOLUME1` going down without a clear reason, and the scrub status for `VOLUM

[2020-11-05 12:46] schaffung commented on #780
@Legogris yes, looking into the logs, one can notice that it can be ignored.

Now, in case of the scrub functionality. I'm not versed with it..I'll check with some other member for their thoughts on it.

Or else, you can also take it up in the Gluster Slack community, I think you'd be finding the answer there too : [Invite Link](https://join.slack.com/t/gluster/shared_invite/enQtODMwMDU5MTI0OTQ3LT

[2020-11-05 13:04] #1483 closed

[2020-11-06 06:25] H121 commented on #1726
It requires python3.
![image](https://user-images.githubusercontent.com/58348609/98333433-b19dcc00-203b-11eb-9309-e2aeed8b8eda.png)
When I installed python3，it tells me the lack of dependencies.The 'gluster' is just one of them.

[2020-11-06 08:40] amarts commented on #1760
@anoopcs9 fix it by making sure i make `v9dev` tag point to the same commit on devel branch, so this should work again. Please test and close the issue if its working.

[2020-11-06 09:31] anoopcs9 commented on #1760
I have identified 0357330237cc87fd54656fe7c8040c44966fb6a4 as the new commit id that should be pointed by **v9dev** tag on _devel_ branch. Can someone(with privileges) push it officially?

[2020-11-06 09:33] amarts commented on #1760
I see the tag there... https://github.com/gluster/glusterfs/commit/0357330237cc87fd54656fe7c8040c44966fb6a4 Can you check?

[2020-11-06 09:41] anoopcs9 commented on #1760
Ah..my bad. I had to fetch specifically from _devel_ branch(always forgets). It's there now. Thanks

[2020-11-06 09:41] #1760 closed, assigned to amarts, rkothiya

[2020-11-06 11:03] csabahenk commented on #1741
@mahdiadnan yes, that's correct.

[2020-11-06 18:38] askya commented on #1405
I also caught `Setting up glusterfs-common (7.2-2build1) ...
Adding group `gluster' (GID 133) ...
Done.
/usr/lib/x86_64-linux-gnu/glusterfs/python/syncdaemon/syncdutils.py:705: SyntaxWarning: "is" with a literal. Did you mean "=="?
  if dirpath is "/":
Setting up glusterfs-client (7.2-2build1) ...
Processing triggers for libc-bin (2.31-0ubuntu9.1) ...
`
when installing glusterfs-client on KDE Neon

[2020-11-06 20:15] hostingnuggets opened #1764 "Slow write on ZFS bricks after healing millions of files due to adding arbiter brick"
**Description of problem:**
After having upgraded my 3 node replica+arbiter cluster from GlusterFS 6.9 to 7.8 and having removed and re-added the arbiter bricks to my 3 volumes, writes are very slow (around 10x slower) over FUSE mounts and generate a high load average (>13-20), high CPU load using almost all 12 cores and generating a high amount of context switches 300-400k on 2 main nodes but not

[2020-11-06 23:28] Vanav opened #1766 "Geo-replication often faulty after upgrade from v7 to v8"
Often geo-replication can't start after it is stopped or restarted: infinite "faulty" loop.
I've inspected logs (see below), checked xattr support, tried different file systems (xfs and ext4), and found no solution.

**How to reproduce:**
stop and start geo-replication multiple times, reboot servers.

**Workaround:**
1) recreating geo-replication with `delete reset-sync-time` always helps to start

[2020-11-07 01:48] pranithk commented on #1764
@hostingnuggets Could you provide gluster volume profile info output with and without arbiter in the picture for the workload you have to compare what could be the reason for this slowness?

You can use profile section of https://docs.gluster.org/en/latest/Administrator%20Guide/Monitoring%20Workload/ for gathering this data.

[2020-11-07 01:49] pranithk commented on #1766
Adding @Shwetha-Acharya

[2020-11-07 06:34] #1742 closed, assigned to nobody

[2020-11-07 06:39] #1302 closed

[2020-11-07 10:48] hostingnuggets commented on #1764
@pranithk sure, you will find below the ouput of `gluster volume profile info` under the write workload (uploading one big file of around 80MB is enough to trigger that behavior) first with the arbiter node online and then a second time with the arbiter node offline (the hostname of arbiter node is gfs3).

With arbiter node online:
[code]

With arbiter node offline:
[code]

[2020-11-07 14:15] pranithk commented on #1764
@hostingnuggets Thanks for the profile info. The following seems to be the issue:

With Arbiter node online:
  92.47   48631.73 us      49.10 us 1529973.08 us           1252      LOOKUP

With Arbiter node offline:
     15.07     242.80 us      23.93 us   34937.23 us           2573      LOOKUP

Lookup operations' latency has increased. Is the heal going on when you saw this issue?

[2020-11-07 14:29] hostingnuggets commented on #1764
@pranithk actually this issue has started the day after the heal of my volumes has finished. The heal itself took around 2 weeks but during that time there where no slowness issues. Right now there are no heals ongoing or at least that's what a ` gluster volume heal info ` says.

[2020-11-07 15:04] pranithk commented on #1764
@hostingnuggets Interesting. So you are saying that the performance was fine after upgrade for almost 2 weeks of heal + 1 day after heal and then went bad after that? Are you seeing this problem on all the three volumes or just on some of them?

[2020-11-07 15:14] hostingnuggets commented on #1764
@pranithk Yes that's about it, as soon as heal was finished and there was some write load it started. Of course during the two weeks of healing the performance was not optimal but it was still usable and the load was slightly higher but never as high as now during writes.

The two of my three volumes which are used as FUSE mounts are affected but the other volume which is used via libgfapi only fo

[2020-11-07 15:48] #1135 closed

[2020-11-07 16:52] mahdiadnan commented on #1741
Ok so using Gluster version 8.2 and with "invalidate-limit=200" I no longer see the mentioned message in the logs.
What's the impact of using this option?

[2020-11-07 16:59] jonahbohlmann commented on #1392
I found that bug via [lists.samba.org](https://lists.samba.org/archive/samba/2020-September/231737.html).

I can confirm that a samba upgrade from Version ` 4.10.4` to `4.11.14` fixed the followng error:
`touch: setting times of ‘<myfile>’: Invalid argument`

What I did:

[code]

**One more information:**

After the Upgrade, I was not able to start (or restart) the smbd service because of a commun

[2020-11-07 17:09] pranithk commented on #1764
@hostingnuggets We need to find why on the two data bricks latency is high when all the bricks are up. For that we need to strace the brick process.

Could you execute the following command while the workload is running on one of the data bricks:
\# strace -ff -p \<brick-pid\> -T -o strace

Once the upload process is complete, you can Ctrl+C on the strace command. It will generate strace.<pid> fil

[2020-11-07 21:27] hostingnuggets commented on #1764
@pranithk it would be great if you can find out the reason behind this because it makes the whole volume pretty much unusable and I would like to keep the arbiter node/brick for redundancy and quorum purpose.

So I have now run the strace command as requested and will send you the output files directly at your email address which is visible on github. Please do let me know if I should send it to a

[2020-11-08 02:58] Legogris opened #1767 "debian systemd services don't stop volumes and daemons properly"
**Description of problem:**

Provided service files for debian packages don't stop all gluster processes when stopped. This causes issues with stopping volumes and leaves zombie processes that have to be killed manually.

I noticed this for the past several versions, but I don't think it was the case for 5.x.

**The exact command to reproduce the issue**:

[code]

**Expected results:**
`systemctl

[2020-11-08 04:27] #784 closed

[2020-11-08 05:00] mahdiadnan commented on #1734
Maybe there are some clues in "/var/log/messages" can you upload this file as well?

[2020-11-08 05:07] pranithk commented on #1764
@hostingnuggets I found 2 issues. From 2015 there was a patch in one of the features which does (ls /data/myvol-pro/brick/.glusterfs/indices/xattrop | wc -l) equivalent on the brick process. For some reason it is taking 0.3 seconds to do a readdir on this directory /data/myvol-pro/brick/.glusterfs/indices/xattrop just to list 3 entries. This is too long!

open("/data/myvol-pro/brick/.glusterfs/ind

[2020-11-08 08:01] hostingnuggets commented on #1764
@pranithk thank you for checking the strace files and for your analysis.

My two data brick nodes are on a ZFS file system and my brick for the arbiter is on an XFS file system. Here is the stat output of all 3 nodes:

node 1:
[code]

node 2:
[code]

node 3:
[code]

[2020-11-08 09:47] perrynzhou commented on #1745
@myy2829  yes,we used glusterfs 7.2. can you provide webchat or qq  ? my webcaht is 13632930825/ qq:715169549

[2020-11-08 10:30] BarakSason opened #1768 "[RFE] Implement Global Layout in Client"
Creating this issue as a sub-task of #1433 in order to better track efforts on each individual sub-task.

The purpose of this task is to modify client to operate in a global layout environment (where a layout doesn't exist per-directory, but only on the root-dir level).
Additional information will be added as work progresses.

[2020-11-08 11:00] pranithk commented on #1764
@hostingnuggets I have a theory. It looks like the on-disk data structure representing the directories has grown to 14.5GiB (number of blocks times IO block size, 886276x16384) maybe that is causing so much time to read? If it is possible for you to stop the volume at any point, can you stop the volume and do
mv  /data/myvol-pro/brick/.glusterfs/indices/xattrop /data/myvol-pro/brick/.glusterfs/ind

[2020-11-08 11:06] pranithk commented on #1764
I just checked the code, you can do it while the bricks are online as well

[2020-11-08 11:12] siscia commented on #435
Did you guys saw performance improvement for write heavy workload?

[2020-11-08 14:15] hostingnuggets commented on #1764
@pranithk good news, that was exactly the problem. I have re-created the `xattrop` directory for both of my problematic volumes and now write speed is back to normal. It looks like the `xattrop` directories gathered too much metadata during the heal as both of my volumes together have around 23 millions of files/directories.

I though this kind of filesystem metadata associated with the directory

[2020-11-08 14:43] pranithk commented on #1764
@hostingnuggets Good to know that there was no regression in Glusterfs. I will try to add optimisations and also code in gluster to detect this case with the underlying filesystem.

[2020-11-08 14:54] hostingnuggets commented on #1764
I've adapted the title of this issue so that it does not mislead people into thinking it might be a regression when upgrading from 6 to 7.

[2020-11-08 15:33] pranithk commented on #1764
@hostingnuggets We haven't seen this problem with XFS. If you think it makes things more clear, maybe you should add ZFS to that too?

[2020-11-08 17:11] hostingnuggets commented on #1764
Sure, I adapted again the title to reflect that.

[2020-11-09 07:35] pranithk commented on #1764
@hostingnuggets Thanks for that! Are you planning to raise an issue on ZFS? Lot of users use zfs + glusterfs, so wondering what your plans are. Since this is a directory we could recreate, we could come up with a work-around. It may not be possible for all cases, so better to at least inform the zfs community.

[2020-11-09 07:41] hostingnuggets commented on #1764
@pranithk actually I found out that there is already a similar issue opened since 2016 (see: https://github.com/openzfs/zfs/issues/4933) and have been in contact on the ZFS users mailing list too (see: https://zfsonlinux.topicbox.com/groups/zfs-discuss/T29cd9a47010a3df3/what-is-dbufevict-doing).

[2020-11-09 09:35] Shwetha-Acharya commented on #1766
@BarakSason Any insights on the dht.subvol.status? qouting :
[2020-11-06 22:57:00.314227] I [addr.c:54:compare_addr_and_update] 0-/mnt/data/gluster-bricks/conf/brick1: allowed = "*", received addr = "127.0.0.1"
[2020-11-06 22:57:00.314275] I [login.c:110:gf_auth] 0-auth/login: allowed user names: af46ae6f-6301-41aa-88fe-913bc3d1ae4f
[2020-11-06 22:57:00.314283] I [MSGID: 115029] [server-handshake.

[2020-11-09 09:38] #197 closed

[2020-11-09 11:45] #1482 closed

[2020-11-09 13:23] tbaetzler opened #1770 "Missing/inaccesslible files after upgrade to GlusterFS 7.8 and add-brick"
We upgraded servers from GlusterFS 3.something via 5.13 to Version 7.7. We then proceeded to to add two bricks and ran "rebalance fix-layout" on the volume. During fix-layout, both of the new bricks crashed once. Upon reboot, they did restart the fix-layout job automatically. After this we started to notics that files were missing or inaccessible.

**The exact command to reproduce the issue**:

 g

[2020-11-09 15:08] tshacked opened #1772 "build: add LTO as a configure option"
Starting Fedora-33, LTO will be enabled by default for package builds.
Therefore when creating glusterfs RPMs [using `make glusterrpms`] the following options are added automatically to the build: `-flto=auto -ffat-lto-objects`  [tested on Fedora:33 image].

Benefits of building with LTO:
--  smaller, faster executables, remove dead code, like uncalled non-static functions [2] (glusterfs binary si

[2020-11-09 15:55] itisravi commented on #1739
@pranithk I am intermittently  able to hit this issue when running the .t but  even if `TEST ! stat spb/0` succeeds, I do see the lookup failing in the fuse mount log: `[2020-11-09 15:45:08.342145 +0000] W [fuse-bridge.c:1072:fuse_entry_cbk] 0-glusterfs-fuse: 265968: LOOKUP() /spb/0 => -1 (Input/output error)` so I am not sure why the check fails.

If I manually stat the file continuously, sometim

[2020-11-09 16:12] BarakSason commented on #1770
Hello @tbaetzler

An approach on how to address the issue will consistent of:

1. Examining the logs of nodes that failed in order to determine the cause for the crash
2. Examining both client and server logs in order to determine where is the point of failure which resulted in problems accessing the data

The logs you've provided are not from the crashed nodes and I didn't see a sign of critical

[2020-11-09 16:12] madmax01 commented on #1734
i'am not seeing any Clue in the messages

just seeing:

posix-helpers.c:2213:posix_health_check_thread_proc] 0-gv2-posix: health-check failed, going
 down
posix-helpers.c:2231:posix_health_check_thread_proc] 0-gv2-posix: still alive! -> SIGTERM

there is nothing before or after.

not sure if relevant,.. but in the bitd.log i see kinda Duplicate Alerts.  Or are they just a Info?:

[MSGID: 101221] [

[2020-11-09 16:20] pranithk commented on #1734
I am adding @mohit84 to see if there is a way to debug it further.

Mohit, data read after writing to health-check file is not same as written data as per the logs. Did you experience anything like this before?

[2020-11-09 16:23] pranithk commented on #1739
Maybe we need to collect fuse-dump to find that out.

[2020-11-09 16:31] BarakSason opened #1773 "DHT/Rebalance - Remove unused variable dht_migrate_file"
In dht_migrate_file the following is declared and assigned:
gf_defrag_info_t *defrag = NULL;

However, no meaningful value is assigned to this variable in the method, and it's being passed into several other methods as a NULL parameter, which is not being used.
As this provides no functionality, this needs to be removed.

[2020-11-09 17:52] mykaul commented on #1773
If you are into cleanup, dht_layout_unref() is passing 'this' and actually checking that 'this->private' is non NULL - but it doesn't use it at all. If it's indeed not needed, you can clean it and then also remove 'this' from dht_local_wipe().
If you clean dht_local_wipe(), you can also clean DHT_STACK_UNWIND and DHT_STACK_DESTROY macros a bit.

[2020-11-09 18:37] mykaul commented on #1772
It should default to enabling LTO with gcc 10 or above.
There's no wonder there is no performance difference, since there's no a lot that LTO can do right now - we are not very friendly to the compiler with giving any hints to optimizations - we don't use 'static' enough, we pass parameters too freely (such as this, when we really needed only this->private->child_count), etc.

[2020-11-09 18:40] amarts commented on #408
More on this @ #1757

[2020-11-09 18:51] amarts opened #1774 "RFE: simple-quota implementation"
## What is this?

A quota implementation to make sure we restrict global usage to set limit (approx), with minimum overhead to the performance, and resource usage.

We also need to make sure the directory upon which the quota limit is set,  works as a namespace (ie, if a `df` is done on the particular directory, it would show the usage with proper quota limit of that particular directory.

## How

[2020-11-09 18:55] amarts commented on #1774
#1750 is implemented with this concept, and is able to see some very positive results.

Note that this method has a draw back of quota accounting may going by some % when there is active writes in the directory, near the usage limit. It is a factor of n/w speed, quota check interval, and if we are ok with that offset, this can give quota feature in glusterfs at <3% overhead. (instead of current 2x